﻿@model RSA.Models.DB.QL_mstrole

@{
    ViewBag.Title = "Role";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Role
    </h1>
    <!--<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol> -->
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                <div class="box-header">
                    <h3 class="box-title">Form Role</h3>
                </div>
                <!-- /.box-header -->
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.roleoid)
                        @{ 
                            if (ViewBag.action == "Edit")
                            {
                                @Html.HiddenFor(model => model.createuser)
                                @Html.HiddenFor(model => model.createtime)
                            }
                        }
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action == "Create" ? "New" : "Update") Data</label>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Role Name <label class="text-red">*</label></label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.rolename, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "50" } })
                                    @Html.ValidationMessageFor(model => model.rolename, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Description</label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.roledesc, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "200" } })
                                    @Html.ValidationMessageFor(model => model.roledesc, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Status</label>
                                <div class="col-md-3">
                                    @Html.DropDownListFor(model => model.activeflag, new List<SelectListItem>
                            {
                                    new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                    new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                            }, new { @class = "form-control select2", @required = "" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-header">
                        <h5 class="box-title">Role Detail :</h5>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="container-fluid">
                            @(Html.Hidden("seq"))
                            <div class="form-group">
                                <label id="i_u2" class="text-red" style="display:none">New Detail</label>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Menu Module</label>
                                <div class="col-md-3">
                                    @Html.DropDownList("mnmodule", null, new { @class = "form-control select2", @onchange = "mntypeChange();" })
                                    @Html.ValidationMessage("mnmodule", "", new { @class = "text-danger", @id = "mmnmodule" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Menu Type</label>
                                <div class="col-md-3">
                                    @Html.DropDownList("mntype", null, new { @class = "form-control select2", @onchange = "mntypeChange();" })
                                    @Html.ValidationMessage("mntype", "", new { @class = "text-danger", @id = "mmntype" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Menu Name</label>
                                <div class="col-md-3">
                                    <select id="mnname" name="mnname" class="form-control select2"></select>
                                    @Html.ValidationMessage("mnname", "", new { @class = "text-danger", @id = "mmnname" })
                                </div>
                            </div>
                            <div class="pull-left">
                                <button type="button" class="btn btn-primary btn-md" onclick="AddToList()"><b>Add To List</b></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="QL_m02RLdtl" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Menu Module</th>
                                        <th>Menu Type</th>
                                        <th>Menu Name</th>
                                        <th>Menu Oid</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="pull-left">
                            
                            @*@{
                                if (ViewBag.action == "Edit")
                                {
                                    @:Created by @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                                    @:<br /> Last Update by @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                            }*@
                            
                        </div>
                        <div class="pull-right">
                            <button type="submit" name="action" value="@(ViewBag.action)" class="btn btn-success btn-md" onclick="setQL_mstroledtl()"><b>Save</b></button>
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    <button type="button" onclick="clickDelete()" class="btn btn-danger btn-md"><b>Delete</b></button>
                                }
                            }
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                        </div>
                    </div>
                        <!-- /.box-footer -->
                }
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script language="javascript" type="text/javascript">
    function mntypeChange() {
        var _mntype = $('#mntype option:selected').val();
        var _mnmodule = $('#mnmodule option:selected').val();
        //if (_mnmodule == null || _mnmodule == '') {
        //    $("#mnname").html("<option value=''>Please choose Form Module first!</option>").show();
        //}
        if (_mntype == null || _mntype == '') {
            var markup = "<option value=''>Choose Menu Type first!</option>";
            $("#mnname").html(markup).show();
        }
        else {
            fillDDLMenu()
        }
    }

    function fillDDLMenu() {
        var _mntype = $('#mntype option:selected').val();
        var _mnmodule = $('#mnmodule option:selected').val();

        $("#mnname").html("<option value=''> Please wait...</option>").show();
        $.ajax({
            type: "POST",
            url: "@(Url.Action("GetMenu"))",
            data: { mnmodule: _mnmodule, mntype: _mntype },
                success: function (data) {
                var markup = "<option value=''>Choose Menu</option>";
                for (var x = 0; x < data.length; x++) {
                    if (!isOnDtl(data[x].Text)) {
                        markup += "<option value=\'" + data[x].Value + "\'>" + data[x].Text + "</option>";
                    }
                }
                setTimeout(function () {
                    $("#mnname").html(markup).show();
                }, 100);
            },
            error: function (error) {
                console.dir(error);
            }
        });
    }

    function getQL_mstroledtl() {//ambil data dari controller
        var url = "@(Url.Action("getQL_mstroledtl"))";
        var table = $('#QL_m02RLdtl').DataTable();

        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                var options = '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>';
                rows.push([++i, val.mnmodule, val.mntype, val.mnname, val.mnoid, options]);
            });

            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
            clearDetail();
        });
    }
    function AddToList() {
        var table = $('#QL_m02RLdtl').DataTable();
        var mnmodule = $('#mnmodule option:selected').html();
        var mntype = $('#mntype option:selected').html();
        var mnname = $('#mnname option:selected').html();
        var mnoid = $('#mnname option:selected').val();


        if (IsValid()) {
            if ($('#i_u2').html() == "Edit Detail") {//edit data
                var id = parseInt($("#seq").val()) - 1;
                var temp = table.row(id).data();
                temp[1] = mnmodule;
                temp[2] = mntype;
                temp[3] = mnname;
                temp[4] = mnoid;
                table.row(id).data(temp).invalidate();
                clearDetail();
                setQL_mstroledtl();
            } else if (isOnDtl(mnname)) {//cek apa data sudah pernah ditambahkan
                $('#mmnname').html("Menu already exist").show();

            } else {
                var id = table.rows().data().length + 1;//menambahkan data ke tabel
                table.row.add([
                    id,
                    mnmodule,
                    mntype,
                    mnname,
                    mnoid,
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]).draw();
                clearDetail();
                setQL_mstroledtl();
            }
        }
    }

    function clearDetail() {//clear field data detail
        $('#i_u2').html("New Detail");
        $('#seq').val(0);

        $('#mnmodule').val("").trigger('change');
        $('#mntype').val("").trigger('change');
        //$('#memberoid').select2({ disabled: false });

    }

    function isOnDtl(mnname) { //cek apa data sudah pernah ditambahkan
        var table = $('#QL_m02RLdtl').DataTable();
        var data = table.rows().data();
        //console.dir(data);

        for (var i = 0 ; i < data.length; i++) {
            if (mnname == data[i][3]) {
                return true;
            }
        }
        return false;
    }
    //  untuk mengecek apakah data sudah diisi dgn benar atau tdk yg akan dipanggil o
    function IsValid() {
        var mnmodule = $('#mnmodule option:selected').val();
        var mntype = $('#mntype option:selected').val();
        var mnname = $('#mnname option:selected').val();

        var isValid = true;
        //if (mnmodule.length > 0) {
        //    $('#mmnmodule').hide();
        //} else {
        //    isValid = false;
        //    $('#mmnmodule').html("Choose Menu Module").show();
        //}
        if (mntype.length > 0) {
            $('#mmntype').hide();
        } else {
            isValid = false;
            $('#mmntype').html("Choose Menu Type").show();
        }
        if (mnname.length > 0) {
            $('#mmnname').hide();
        } else {
            isValid = false;
            $('#mmnname').html("Choose Menu Name").show();
        }
        return isValid;
    }

    function setQL_mstroledtl() {//mengirim data table ke controler
        var table = $('#QL_m02RLdtl').DataTable();
        var dataDtl = table.rows().data();

        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var obj = {
                seq: i + 1,
                mnmodule: dataDtl[i][1],
                mntype: dataDtl[i][2],
                mnname: dataDtl[i][3],
                mnoid: dataDtl[i][4]
            }
            rows.push(obj);
        }
        //console.dir(rows);
        //console.dir(JSON.stringify(rows));
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("setQL_mstroledtl"))",
            data: JSON.stringify({ mdataDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    function clickDelete() {
        var oid = $("#roleoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Delete?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                success: function (data) {
                    if (data.result == 'sukses') {
                        Swal(
                          'Deleted!',
                          'Data has been deleted.',
                          'success'
                        )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                          'Delete Failed!',
                          data.msg,
                          'warning'
                        )
                    }

                },
                error: function (error) {
                    console.dir(error)
                }
            });

        }
        })
    }

    $(document).ready(function () {

        var kolom = [4,1];
        //if ($("#invitationmststatus").val().toUpperCase() == "POST") {
        //    kolom = [1];
        //}
        $('#QL_m02RLdtl').DataTable({
            //"scrollX": false,
            "scrollY": "200px",
            //"scrollCollapse": true,
            "paging": false,
            "bFilter": false,
            "bInfo":false,
            responsive: true,
            "columnDefs": [//menghiden kolom 1 (memberoid)
            {
                "targets": kolom,
                "visible": false,
                "searchable": false
            }]

        });

        var table = $('#QL_m02RLdtl').DataTable();

        // Edit record
        table.on('click', '#edit', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }

            var data = table.row($tr).data();
            //alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
            $('#i_u2').html("Edit Detail");
            $("#seq").val(data[0]);
            $("#mnmodule").val(data[1]).trigger('change');
            $("#mntype").val(data[2]).trigger('change');
            $("#mnname").val(data[4]).trigger('change');
        });

        // Delete a record
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[0];
            table.row($tr).remove().draw();

            var data = table.rows().data();
            //console.dir(data);

            //Mengurutkan nomor
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][0] >= id) {
                    var temp = table.row(i).data();
                    temp[0] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            setQL_mstroledtl();
            e.preventDefault();
        });
        getQL_mstroledtl();
    })
</script>
