﻿@{
    ViewBag.Title = "Sales Return " + ViewBag.FormType + " Report";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Sales Return @ViewBag.FormType Report</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm("PrintReport", "SReturnReport"))
                {
                <div class="box-body">
                    <div class="container-fluid">
                        @Html.Hidden("FormType")
                        @Html.Hidden("MCBStatus_Tx")
                        @Html.Hidden("StartDate")
                        @Html.Hidden("EndDate")
                                                @Html.Hidden("ReportType")


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Business Unit</label>
                                    <div class="col-md-8">
                                        @Html.DropDownList("DDLBusinessUnit", null, "ALL", new { @class = "form-control select2" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Type</label>
                                    <div class="col-md-4">
                                        @Html.DropDownList("DDLType", new List<SelectListItem>
                                            {
                                               new SelectListItem { Text = "Summary", Value = "Summary" },
                                               new SelectListItem { Text = "Detail", Value = "Detail" }
                                            }, new { @class = "form-control select2", @onchange = "ChangeType()" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Status</label>
                                    <div class="col-md-8">
                                        @{
                                            var i = 0;
                                            foreach (var st in ViewBag.MCBStatus)
                                            {
                                            <label class="col-md-4 control-label text-sm">@Html.CheckBox("MCBStatus_" + i++, new { @class = "MCBStatus", @checked = "", @value = @st }) @st </label>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">
                                        @Html.DropDownList("DDLPeriod", new List<SelectListItem>
                                            {
                                               new SelectListItem { Text = "Create Date", Value = "sretm.createtime" },
                                               new SelectListItem { Text = "Approval Date", Value = "sretm.approvaldatetime" }
                                            }, new { @class = "form-control select2" })
                                    </label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            @Html.Editor("TextPeriod", new { htmlAttributes = new { @class = "form-control daterangepicker", @type = "text" } })
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Customer</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            @Html.TextArea("TextCust", new { @class = "form-control" })
                                            <span class="input-group-btn">
                                                <button type="button" id="btnsearchcust" class="btn btn-link" data-toggle="modal" data-target="#modal-cust"><i class="fa fa-search"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" id="divfordtl" style="display: none;">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Shipment No</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            @Html.TextArea("TextShip", new { @class = "form-control" })
                                            <span class="input-group-btn">
                                                <button type="button" id="btnsearchship" class="btn btn-link" data-toggle="modal" data-target="#modal-ship">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">
                                        @Html.DropDownList("DDLNomor", new List<SelectListItem>
                                            {
                                               new SelectListItem { Text = "Return No.", Value = "Return No." },
                                               new SelectListItem { Text = "Draft No.", Value = "Draft No." }
                                            }, new { @class = "form-control select2" })
                                    </label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            @Html.TextArea("TextNomor", new { @class = "form-control" })
                                            <span class="input-group-btn">
                                                <button type="button" id="btnsearchsr" class="btn btn-link" data-toggle="modal" data-target="#modal-sr"><i class="fa fa-search"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"  id="divfordtl2" style="display: none;">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Material</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            @Html.TextArea("TextMaterial", new { @class = "form-control" })
                                            <span class="input-group-btn">
                                                <button type="button" id="btnsearchmat" class="btn btn-link" data-toggle="modal" data-target="#modal-mat">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            
                            <div class="col-md-6" id="divfordtl3" style="display: none;">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Grouping</label>
                                    <div class="col-md-4">
                                        @Html.DropDownList("DDLGrouping", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="Return No", Value="sretm.SRetRawno" },
                                                new SelectListItem { Text="Customer", Value="c.custname" },
                                                new SelectListItem { Text="Material Code", Value="matcode" }
                                            }, new { @class = "form-control select2", @onchange = "ChangeGroup()" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Sorting</label>
                                    <div class="col-md-4">
                                        @Html.DropDownList("DDLSorting", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="Return No", Value="sretm.SRETRawno" }
                                            }, new { @class = "form-control select2" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.DropDownList("DDLOrderBy", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="ASC", Value="ASC" },
                                                new SelectListItem { Text="DESC", Value="DESC" }
                                            }, new { @class = "form-control select2" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                       

                    </div>
                    <div class="text-center">
                        <button type="submit" id="btnSubmit" style="display: none;">Submit</button>
                        <button type="button" id="btnViewReport" class="btn btn-primary btn-md"><b>View Report</b></button>
                        <button type="button" id="btnExportPDF" class="btn btn-danger btn-md"><b>Export to PDF</b></button>
                        <button type="button" id="btnExportExcel" class="btn btn-success btn-md"><b>Export to Excel</b></button>
                        <a href="@Url.Action("Report/" + ViewBag.FormType.Replace(" ", ""))" type="button" class="btn btn-default btn-md"><b>Clear</b></a>
                    </div>
                </div>


                                            }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe id="ReportFrame" src="" style="border: none; width: 100%; height: 1000px;"></iframe>
        </div>
    </div>

    @* MODAL UNTUK CUSTOMER *@
    <div class="modal fade" id="modal-cust">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Customer Data</h4>
                    @Html.Hidden("total-cust")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCust" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterCust()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK CUSTOMER *@

    @* MODAL UNTUK SR *@
    <div class="modal fade" id="modal-sr">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Sales Return @ViewBag.FormType Data</h4>
                    @Html.Hidden("total-sr")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSR" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterSR()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SR *@

    @* MODAL UNTUK SHIP *@
    <div class="modal fade" id="modal-ship">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Shipment @ViewBag.FormType Data</h4>
                    @Html.Hidden("total-ship")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSHIP" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterSHIP()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SHIP *@

    @* MODAL UNTUK MATERIAL *@
    <div class="modal fade" id="modal-mat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">@ViewBag.FormType Data</h4>
                    @Html.Hidden("total-mat")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterMat()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK MATERIAL *@
</section>

@* Ketiga script ini harus ada di semua view *@
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    function ChangeType() {
        var DDLType = $('#DDLType').val();
        if (DDLType == "Summary") {
            $('#divfordtl').hide();
            $('#divfordtl2').hide();
            $('#divfordtl3').hide();
            markupsort = "<option value=\'sretm.SRETRawno\'>Return No.</option>";
        } else {
            $('#divfordtl').show();
            $('#divfordtl2').show();
            $('#divfordtl3').show();
            markupsort = "<option value=\'matcode\'>Material Code</option>";
        }
        $('#DDLSorting').html(markupsort).show();
    }

    function ChangeGroup() {
        var DDLGrouping = $('#DDLGrouping').val();
        var markupsort = "<option value=\'matcode\'>Material Code</option>";
        if (DDLGrouping == "matcode") {
            markupsort = "<option value=\'c.custname\'>Customer</option><option value=\'sretm.SRETRawno\'>Return No</option>";
        } else if (DDLGrouping == "c.custname") {
            markupsort = "<option value=\'sretm.SRETRawno\'>Return No</option><option value=\'matcode\'>Material Code</option>";
        } else if (DDLGrouping == ""){

        }
        $('#DDLSorting').html(markupsort).show();
    }

    $("#btnsearchcust").click(function () {
        var FormType = $('#FormType').val();
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $('#DDLPeriod').val();
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            MCBStatus = MCBStatus.substring(0, MCBStatus.length - 3);

        $.ajax({
            url: "@(Url.Action("GetCustomerData"))",
            data: { FormType: FormType, DDLBusinessUnit: DDLBusinessUnit, StartDate: StartDate, EndDate: EndDate, DDLPeriod: DDLPeriod, MCBStatus: MCBStatus },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var table = $("#tblModalCust").DataTable();
                    table.destroy();
                    $("#tblModalCust").empty();

                    var cols = [];
                    $.each(data.tblcols, function (key, val) {
                        var obj = { title: val };
                        cols.push(obj);
                    });

                    var rows = [];
                    var total = 0;
                    $.each(data.tblrows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                        total++;
                    });

                    $('#total-cust').val(total);
                    if (total > 0) {
                        table = $("#tblModalCust").DataTable({
                            "columns": cols,
                            "data": rows,
                            "deferRender": true,
                            "columnDefs": [
                                {
                                    "targets": 0,
                                    "checkboxes": {
                                        "selectRow": false
                                    }
                                }
                            ],
                            "select": {
                                "style": 'multi'
                            },
                            "order": [[1, 'asc']]
                        });
                    }

                } else {
                    swal('', data.result, 'error');
                    $('#modal-cust').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-cust').modal('hide');
            }
        });
    });

    function AddToFilterCust() {
        var ind = 1;

        if (parseInt($('#total-cust').val()) > 0) {
            var result = $("#TextCust").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalCust').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextCust").val(result);
        }
    }

    $('#btnsearchsr').click(function () {
        var FormType = $('#FormType').val();
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $('#DDLPeriod').val();
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            MCBStatus = MCBStatus.substring(0, MCBStatus.length - 3);
        var TextCust = $('#TextCust').val();

        $.ajax({
            url: "@(Url.Action("GetSRData"))",
            data: { FormType: FormType, DDLBusinessUnit: DDLBusinessUnit, StartDate: StartDate, EndDate: EndDate, DDLPeriod: DDLPeriod, MCBStatus: MCBStatus, TextCust: TextCust },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var table = $('#tblModalSR').DataTable();
                    table.destroy();
                    $('#tblModalSR').empty();

                    var cols = [];
                    $.each(data.tblcols, function (key, val) {
                        var obj = { title: val };
                        cols.push(obj);
                    });

                    var rows = [];
                    var total = 0;
                    $.each(data.tblrows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                        total++;
                    });

                    $('#total-sr').val(total);
                    if (total > 0) {
                        table = $('#tblModalSR').DataTable({
                            "columns": cols,
                            "data": rows,
                            "deferRender": true,
                            "columnDefs": [
                                {
                                    "targets": 0,
                                    "checkboxes": {
                                        "selectRows": false
                                    }
                                }
                            ],
                            "select": {
                                "style": 'multi'
                            },
                            "order": [[1, 'asc']]
                        });
                    }

                } else {
                    swal('', data.result, 'error');
                    $('#modal-sr').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-sr').modal('hide');
            }
        });
    })

    function AddToFilterSR() {
        var ind = 1;
        if ($("#DDLNomor option:selected").val() == "Return No.")
            ind = 2;

        if (parseInt($('#total-sr').val()) > 0) {
            var result = $("#TextNomor").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalSR').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextNomor").val(result);
        }
    }

    //ship
    $('#btnsearchship').click(function () {
        var FormType = $('#FormType').val();
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $('#DDLPeriod').val();
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            MCBStatus = MCBStatus.substring(0, MCBStatus.length - 3);
        var TextCust = $('#TextCust').val();

        $.ajax({
            url: "@(Url.Action("GetSHIPData"))",
            data: { FormType: FormType, DDLBusinessUnit: DDLBusinessUnit, StartDate: StartDate, EndDate: EndDate, DDLPeriod: DDLPeriod, MCBStatus: MCBStatus, TextCust: TextCust },
        cache: false,
        type: "POST",
        success: function (data) {
            if (data.result == "") {
                var table = $('#tblModalSHIP').DataTable();
                table.destroy();
                $('#tblModalSHIP').empty();

                var cols = [];
                $.each(data.tblcols, function (key, val) {
                    var obj = { title: val };
                    cols.push(obj);
                });

                var rows = [];
                var total = 0;
                $.each(data.tblrows, function (key, val) {
                    var row = Object.values(val);
                    rows.push(row);
                    total++;
                });

                $('#total-ship').val(total);
                if (total > 0) {
                    table = $('#tblModalSHIP').DataTable({
                        "columns": cols,
                        "data": rows,
                        "deferRender": true,
                        "columnDefs": [
                            {
                                "targets": 0,
                                "checkboxes": {
                                    "selectRows": false
                                }
                            }
                        ],
                        "select": {
                            "style": 'multi'
                        },
                        "order": [[1, 'asc']]
                    });
                }

            } else {
                swal('', data.result, 'error');
                $('#modal-ship').modal('hide');
            }
        },
        error: function (err) {
            swal('', err.responseText, 'error');
            $('#modal-ship').modal('hide');
        }
    });
    })

    function AddToFilterSHIP() {
        var ind = 2;

        if (parseInt($('#total-ship').val()) > 0) {
            var result = $("#TextShip").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalSHIP').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextShip").val(result);
        }
    }


    $("#btnsearchmat").click(function () {
        var FormType = $('#FormType').val();
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $('#DDLPeriod').val();
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            MCBStatus = MCBStatus.substring(0, MCBStatus.length - 3);
        var TextCust = $('#TextCust').val();
        var DDLNomor = $('#DDLNomor').val();
        var TextNomor = $('#TextNomor').val();

        $.ajax({
            url: "@(Url.Action("GetMaterialData"))",
            data: { FormType: FormType, DDLBusinessUnit: DDLBusinessUnit, StartDate: StartDate, EndDate: EndDate, DDLPeriod: DDLPeriod, MCBStatus: MCBStatus, TextCust: TextCust, DDLNomor: DDLNomor, TextNomor: TextNomor },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var table = $("#tblModalMat").DataTable();
                    table.destroy();
                    $("#tblModalMat").empty();

                    var cols = [];
                    $.each(data.tblcols, function (key, val) {
                        var obj = { title: val };
                        cols.push(obj);
                    });

                    var rows = [];
                    var total = 0;
                    $.each(data.tblrows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                        total++;
                    });

                    $('#total-mat').val(total);
                    if (total > 0) {
                        table = $("#tblModalMat").DataTable({
                            "columns": cols,
                            "data": rows,
                            "deferRender": true,
                            "columnDefs": [
                                {
                                    "targets": 0,
                                    "checkboxes": {
                                        "selectRow": false
                                    }
                                }
                            ],
                            "select": {
                                "style": 'multi'
                            },
                            "order": [[1, 'asc']]
                        });
                    }

                } else {
                    swal('', data.result, 'error');
                    $('#modal-mat').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-mat').modal('hide');
            }
        });
    });

    function AddToFilterMat() {
        var ind = 1;

        if (parseInt($('#total-mat').val()) > 0) {
            var result = $("#TextMaterial").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalMat').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextMaterial").val(result);
        }
    }

    $('#btnViewReport').click(function () {
        var FormType = $('#FormType').val();
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $('#DDLPeriod').val();
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            MCBStatus = MCBStatus.substring(0, MCBStatus.length - 3);
        var TextCust = $('#TextCust').val();
        var DDLNomor = $('#DDLNomor').val();
        var TextNomor = $('#TextNomor').val();
        var TextMaterial = $('#TextMaterial').val();
        var DDLGrouping = $('#DDLGrouping').val();
        var DDLSorting = $('#DDLSorting').val();
        var DDLOrderBy = $('#DDLOrderBy').val();
        var ReportType = "";
        var DDLType = $('#DDLType').val();
        var TextShip = $('#TextShip').val();

        $.ajax({
            url: "@(Url.Action("PrintReport"))",
            data: { FormType: FormType, DDLBusinessUnit: DDLBusinessUnit, StartDate: StartDate, EndDate: EndDate, DDLPeriod: DDLPeriod, MCBStatus_Tx: MCBStatus, TextCust: TextCust, DDLNomor: DDLNomor, TextNomor: TextNomor, TextMaterial: TextMaterial, DDLGrouping: DDLGrouping, DDLSorting: DDLSorting, DDLOrderBy: DDLOrderBy, ReportType: ReportType, DDLType: DDLType, TextShip: TextShip },
            cache: false,
            type: "POST",
            success: function (data) {
                $('#ReportFrame').attr("src", "@Url.Content("~/Other/ReportViewer.aspx?rptfile=")" + data.rptfile + "");
                pleaseWaitDialog.show();
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });

    $('#btnExportPDF').click(function () {
        $('#ReportType').val('PDF');
        $('#StartDate').val($('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $('#EndDate').val($('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY'));
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            $('#MCBStatus_Tx').val(MCBStatus.substring(0, MCBStatus.length - 3));
        $('#btnSubmit').click();
    });

    $('#btnExportExcel').click(function () {
        $('#ReportType').val('XLS');
        $('#StartDate').val($('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $('#EndDate').val($('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY'));
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            $('#MCBStatus_Tx').val(MCBStatus.substring(0, MCBStatus.length - 3));
        $('#btnSubmit').click();
    });

    $('#ReportFrame').on('load', function () {
        pleaseWaitDialog.hide();
    });
</script>