﻿@model RSA.Models.DB.QL_mstvehicle

@{
    ViewBag.Title = "Vehicle";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<section class="content-header">
    <h1>Form Vehicle</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Form Vehicle</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.vhcoid)
                        @Html.HiddenFor(model => model.vhcres1)
                        @Html.HiddenFor(model => model.vhcres2)
                        @Html.HiddenFor(model => model.vhcres3)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.vhctypeoid)
                        @Html.HiddenFor(model => model.vhcmodeloid)
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>

                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label ">Vehicle Type</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.vhctypeoid, null, new { @class = "form-control select2", @required = "" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label ">Model</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.vhcmodeloid, null, new { @class = "form-control select2", @required = "" })

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Vehicle No.<label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.vhcno, new { htmlAttributes = new { @class = "form-control", @type = "text", @style = "width:300px", @maxlength = 50 } })
                                            @Html.ValidationMessageFor(model => model.vhcno, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Vehicle Code<label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.vhccode, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @maxlength = 20 } })
                                            @Html.ValidationMessageFor(model => model.vhccode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Description<label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.vhcdesc, new { htmlAttributes = new { @class = "form-control", @type = "text", @style = "width:300px", @maxlength = 100 } })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Engine No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.vhcengineno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = 20 } })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Chasis No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.vhcchassisno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = 20 } })

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Year</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.vhcyear, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = 30 } })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">License Expired Date<label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.vhclicexpdate, new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.vhclicexpdate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Owned By</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.vhcowner, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = 100 } })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Default Driver<label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.drivoid, null, new { @class = "form-control select2", @required = "" })

                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Note</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.vhcnote, new { htmlAttributes = new { @class = "form-control", @type = "text", @style = "width:300px", @maxlength = 100 } })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(m => m.activeflag, new List<SelectListItem>
                                            {
                                                 new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                                 new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                                            }, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                        </div>
                    </div>

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))                          
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                            @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                          }
                            }
                        </div>
                        <div class="pull-right">

                            <button type="submit" class="btn btn-success btn-md"><b>Save</b></button>
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                }
                            }
                        </div>
                    </div>


                                    // AKHIR USER & TOMBOL ACTION
                                }
            </div>
        </div>
    </div>


</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">

    $(document).ready(function () {
        function jsDate(jsDate) {
            if (jsDate == null) {
                return "";
            }
            var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
            return myDate;
        }
        $("#btnDelete").click(function () {
            var oid = $("#vhcoid").val();
            var cmp = $("#cmpcode").val();

            var token = $('input[name="__RequestVerificationToken"]').val()
            Swal({
                title: 'Are you sure to DELETE this data?',
                text: "Deleted data can't be returned!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                confirmButtonText: 'Yes, Delete this data!'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: "POST",
                        url: "@(Url.Action("Delete"))",
                        data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
            })
        });
    });
</script>
















