﻿@model IEnumerable<RSA.Models.DB.QL_mstvehicle>

@{
    ViewBag.Title = "Vehicle";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<section class="content-header">
    <h1>List Of Vehicle</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <p>
                        @Html.ActionLink("Create New", "Form")
                    </p>
                </div>
                <div class="box-body">
                    @*@Html.Hidden("DisplayCol")*@
                    <div class="row">
                        @*<div class="col-md-12">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@ViewBag.DDTitle <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li style="text-align: right;"><a href="Index">All Editable Data</a></li>
                                            <li style="text-align: right;"><a href="Index?filter=PW">Editable Data In Past Week</a></li>
                                            <li style="text-align: right;"><a href="Index?filter=PM">Editable Data In Past Month</a></li>
                                            <li style="text-align: right;"><a href="#" role="button" data-toggle="modal" data-target="#modal-custom-filter">Custom Filter</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>*@
                        <div class="col-md-12">
                            <table id="datatable" class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th class="text-center">Code</th>
                                        <th class="text-center">Vehicle No.</th>
                                        <th class="text-center">Description</th>
                                        <th class="text-center">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        //MIS_ITG_MVC.Models.QL_MIS_INTEREntities db = new MIS_ITG_MVC.Models.QL_MIS_INTEREntities();
                                        foreach (var i in Model)
                                        {
                                            <tr>
                                                <td class="text-center"><a href="Form/@Html.DisplayFor(m => i.vhcoid)" class="text-primary">@Html.DisplayFor(m => i.vhccode)</a></td>
                                                <td class="text-center">@Html.DisplayFor(m => i.vhcno)</td>
                                                <td class="text-center">@Html.DisplayFor(m => i.vhcdesc)</td>
                                                <td class="text-center">@Html.DisplayFor(m => i.activeflag)</td>

                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-custom-filter">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Custom Filter</h4>
                </div>
                <form action="Index" method="post" class="form-horizontal">
                    <div class="modal-body">
                        @Html.Hidden("filter", "CF")
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">From</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("filterperiodfrom", new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">To</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("filterperiodto", new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("filterstatus", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="ALL", Value="ALL" },
                                                new SelectListItem { Text="In Process", Value="In Process" },
                                                new SelectListItem { Text="In Approval", Value="In Approval" },
                                                new SelectListItem { Text="Post", Value="Post" },
                                                new SelectListItem { Text="Approved", Value="Approved" },
                                                new SelectListItem { Text="Rejected", Value="Rejected" },
                                                new SelectListItem { Text="Revised", Value="Revised" },
                                                new SelectListItem { Text="Cancel", Value="Cancel" },
                                                new SelectListItem { Text="Closed", Value="Closed" }
                                            }, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success btn-md" id="btnGo"><b>Go</b></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

























