﻿@model RSA.Models.DB.QL_trnmrservicemst

@{
    ViewBag.Title = "Service Received";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Service Received</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Service Received Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.divgroupoid)
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @*@Html.DropDownListFor(model => model.cmpcode, null, new { @class = "form-control select2", @onchange = "ChangeBusinessUnit()" })
                                            @Html.ValidationMessageFor(model => model.cmpcode, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Draft No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.mrservicemstoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div> @*Business Unit -- Draft No.*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">MR No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.mrserviceno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">MR Date <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.mrservicedate, new { htmlAttributes = new { @class = "form-control datemask2", @type = "text", @required = "", @readonly = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.mrservicedate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div> @*MR No. -- MR Date*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Supplier <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("suppname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchsupp" class="btn btn-flat" data-toggle="modal" data-target="#modal-supp">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.suppoid)
                                            @Html.ValidationMessageFor(model => model.suppoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">PO No. <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("poserviceno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchpo" class="btn btn-flat" data-toggle="modal" data-target="#modal-po">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.poservicemstoid)
                                            @Html.Hidden("poservicedate")
                                            @Html.ValidationMessageFor(model => model.poservicemstoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div> @*Supplier -- PO No.*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.mrservicemstnote, new { @class = "form-control", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.mrservicemstnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.mrservicemststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div> @*Header Note -- Status*@
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Asset In Progress</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("assetno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchasset" class="btn btn-flat" data-toggle="modal" data-target="#modal-asset">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @*@Html.HiddenFor(model => model.inprogacctgoid)*@
                                        </div>
                                    </div>
                                </div>
                            </div> @*Asset In Progress*@
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>Service Received Detail</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.Hidden("seq")
                        <div class="container-fluid">
                            <div class="pull-left">
                                <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Add To List</b></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No.</th>
                                        <th></th>
                                        <th>PO No.</th>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th>PO Qty</th>
                                        <th>MR Qty</th>
                                        <th>Unit</th>
                                        <th>Detail Note</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                if (Model.mrservicemststatus == "In Process" | Model.mrservicemststatus == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                    <button type="button" class="btn btn-primary btn-md" id="btnSaveClose"><b>Save & Close</b></button>
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                    if (ViewBag.action == "Update Data")
                                    {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                    }
                                    <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Posting</b></button>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                }
                            }
                        </div>
                    </div>
                    
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Service Received Detail Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Qty</th>
                                    <th>PO Qty</th>
                                    <th>Unit</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@

    @* MODAL UNTUK SUPPLIER *@
    <div class="modal fade" id="modal-supp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Supplier Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SUPPLIER *@

    @* MODAL UNTUK PO *@
    <div class="modal fade" id="modal-po">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">PO Service Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalPO" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>PO No.</th>
                                    <th>PO Date</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK PO *@

    @* MODAL UNTUK ASSET IN PROGRESS *@
    <div class="modal fade" id="modal-asset">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Asset In Progress Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalAsset" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Asset No.</th>
                                    <th>Asset Date</th>
                                    <th>Material</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK ASSET IN PROGRESS *@
</section>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var tblModalSupp = $("#tblModalSupp").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalSupp.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSupp.row($tr).data();
            var alldata = JSON.parse(data[0]);
            $("#suppname").val(alldata.suppname);
            $("#suppoid").val(alldata.suppoid);
            $("#poserviceno").val("");
            $("#poservicemstoid").val("0");
            $("#assetno").val("");
            $("#inprogacctgoid").val("0");
            $('#modal-supp').modal('hide');
        });

        var tblModalPO = $("#tblModalPO").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalPO.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalPO.row($tr).data();
            var alldata = JSON.parse(data[0]);
            $("#poserviceno").val(alldata.poserviceno);
            $("#poservicemstoid").val(alldata.poservicemstoid);
            $("#poservicedate").val(moment(jsDate(alldata.poservicedate)).format('MM/DD/YYYY'));
            $('#modal-po').modal('hide');
        });

        var tblModalAsset = $("#tblModalAsset").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalAsset.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalAsset.row($tr).data();
            var alldata = JSON.parse(data[0]);
            $("#assetno").val(alldata.assetno);
            $("#inprogacctgoid").val(alldata.inprogacctgoid);
            $('#modal-asset').modal('hide');
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });
        tblModalDtl.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var modalDtl = $("#tblModalDtl").DataTable();
            var DataDtl = $("#DataDtl").DataTable();

            var data = tblModalDtl.row($tr).data();
            var alldata = JSON.parse(data[0]);

            var id = DataDtl.rows().data().length + 1;
        });
        tblModalDtl.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
            SetDataDtl();
            FillDetailData();
        });
        table.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        if ($('#action').val() == "Update Data") { FillDetailData(); }
    })

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    function ChangeBusinessUnit() {
        $("#suppname").val("");
        $("#suppoid").val("0");
        $("#poserviceno").val("");
        $("#poservicemstoid").val("0");
        $("#assetno").val("");
        $("#inprogacctgoid").val("0");
    }

    $("#btnsearchsupp").click(function () {
        var cmp = $("#cmpcode").val();
        var divgroupoid = $("#divgroupoid").val();
        if (cmp == "")
        {
            swal('', 'Please select Business Unit first!', 'warning');
            return false;
        }
        var table = $('#tblModalSupp').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSupplierData"))",
            data: { cmp: cmp,divgroupoid:divgroupoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data.tbl, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.suppcode,
                        val.suppname,
                        val.suppaddr
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    });

    $("#btnsearchpo").click(function () {
        var cmp = $("#cmpcode").val();
        var suppoid = $("#suppoid").val();
        if (suppoid == "" || suppoid == "0" || suppoid == 0)
        {
            swal('', 'Please select Supplier first!', 'warning');
            return false;
        }
        var table = $('#tblModalPO').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetPOData"))",
            data: { cmp: cmp, suppoid: suppoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.poserviceno,
                        moment(jsDate(val.poservicedate)).format('MM/DD/YYYY'),
                        val.poservicemstnote
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    });

    $("#btnsearchasset").click(function () {
        var cmp = $("#cmpcode").val();
        if (cmp == "")
        {
            swal('', 'Please select Business Unit first!', 'warning');
            return false;
        }
        var table = $('#tblModalAsset').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetAssetInProgressData"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.assetno,
                        moment(jsDate(val.assetdate)).format('MM/DD/YYYY'),
                        val.reftype
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    });

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.mrservicedtlseq,
                    '', //<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>
                    val.poserviceno,
                    val.servicecode,
                    val.servicelongdesc,
                    val.poservicedtlqty,
                    '<input type="text" class="form-control money" style="max-width: 80px" id="mrserviceqty-' + val.poservicedtloid + '" name="mrserviceqty-' + val.poservicedtloid + '" value="' + val.mrserviceqty + '">',
                    val.mrserviceunit,
                    '<input type="text" class="form-control" style="max-width: 150px" id="mrservicedtlnote-' + val.poservicedtloid + '" name="mrservicedtlnote-' + val.poservicedtloid + '" value="' + val.mrservicedtlnote + '">',
                    //val.location,
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                EnabledHeader();
            }, 100);
        });
    }

    $("#btnAddToList").click(function () {
        var cmp = $("#cmpcode").val();
        var poservicemstoid = $('#poservicemstoid').val();
        if (poservicemstoid == null || poservicemstoid == "" || poservicemstoid == "0" || poservicemstoid == 0) {
            swal('', 'Please select PO No. first!', 'warning');
            return false;
        }
        var mrservicemstoid = $('#mrservicemstoid').val();
        var table = $('#tblModalDtl').DataTable();
        table.column(1).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmp: cmp, poservicemstoid: poservicemstoid, mrservicemstoid: mrservicemstoid },
        cache: false,
        type: "POST",
        success: function (data) {
            if (data.result == "") {
                var rows = [];
                var i = 0;
                $.each(data.tbl, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        ++i,
                        val.servicecode,
                        val.servicelongdesc,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="mrserviceqty-' + val.poservicedtloid + '" value="' + val.mrserviceqty + '">',
                        val.poqty,
                        val.mrserviceunit,
                        '<input type="text" class="form-control" style="max-width: 150px" id="mrservicedtlnote-' + val.poservicedtloid + '" value="' + val.mrservicedtlnote + '">'
                    ]);
                });
                table.rows.add(rows).draw();
            } else {
                swal('', data.result, 'error');
                $('#modal-detail').modal('hide');
            }
        },
        error: function (err) {
            swal('', err.responseText, 'error');
            $('#modal-detail').modal('hide');
        }
    });
    });

    function IsOnDtl(poservicedtloid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (poservicedtloid == alldata.poservicedtloid) {
                return true;
            }
        }
        return false;
    }

    function AddToDetail() {
        var isValid = true;
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid) {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                var mrserviceqty = table.$("#mrserviceqty-" + alldata.poservicedtloid).val();
                var mrservicedtlnote = table.$("#mrservicedtlnote-" + alldata.poservicedtloid).val();
                if (!IsOnDtl(alldata.poservicedtloid)) {
                    var id = tbldtl.rows().data().length + 1;
                    var obj = {
                        mrservicedtlseq: id,
                        poservicedtloid: alldata.poservicedtloid,
                        poserviceno: alldata.poserviceno,
                        serviceoid: alldata.serviceoid,
                        servicecode: alldata.servicecode,
                        servicelongdesc: alldata.servicelongdesc,
                        poqty: alldata.poqty,
                        poservicedtlqty: alldata.poservicedtlqty,
                        mrserviceqty: mrserviceqty,
                        mrserviceunitoid: alldata.mrserviceunitoid,
                        mrserviceunit: alldata.mrserviceunit,
                        mrservicedtlnote: mrservicedtlnote,
                        poqty: alldata.poqty,
                        mrservicevalue: alldata.mrservicevalue,
                        location: alldata.location
                    };
                    tbldtl.row.add([
                        JSON.stringify(obj),
                        id,
                        '', //'<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                        alldata.poserviceno,
                        alldata.servicecode,
                        alldata.servicelongdesc,
                        alldata.poservicedtlqty,
                        '<input type="text" class="form-control money" style="max-width: 80px" id="mrserviceqty-' + alldata.poservicedtloid + '" name="mrserviceqty-' + alldata.poservicedtloid + '" value="' + mrserviceqty + '" >',
                        alldata.mrserviceunit,
                        '<input type="text" class="form-control" style="max-width: 150px" id="mrservicedtlnote-' + alldata.poservicedtloid + '" name="mrservicedtlnote-' + alldata.poservicedtloid + '" value="' + mrservicedtlnote + '">',
                        //alldata.location,
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                }
            }
        })
        SetDataDtl();
        EnabledHeader();
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var mrserviceqty = table.$("#mrserviceqty-" + alldata.poservicedtloid).val();
            var mrservicedtlnote = table.$("#mrservicedtlnote-" + alldata.poservicedtloid).val();
            var obj = {
                mrservicedtlseq: i + 1,
                poservicedtloid: alldata.poservicedtloid,
                poserviceno: alldata.poserviceno,
                serviceoid: alldata.serviceoid,
                servicecode: alldata.servicecode,
                servicelongdesc: alldata.servicelongdesc,
                poqty: alldata.poqty,
                poservicedtlqty: alldata.poservicedtlqty,
                mrserviceqty: mrserviceqty,
                mrserviceunitoid: alldata.mrserviceunitoid,
                mrserviceunit: alldata.mrserviceunit,
                mrservicedtlnote: mrservicedtlnote,
                mrservicevalue: alldata.mrservicevalue,
                location: alldata.location

            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
        dataType: "text",
        contentType: "application/json; charset=utf-8",
        processData: false
    });
    }


    $("#btnSave").click(function () {
        SetDataDtl();
    });

    $("#btnSaveClose").click(function () {
        $("#closing").val("true");
        $("#btnSave").click();
    });

    $("#btnPost").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for Post?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#mrservicemststatus").val("Post");
                    $("#closing").val("true");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

    $("#btnDelete").click(function () {
        var oid = $("#mrservicemstoid").val();
        var cmp = $("#cmpcode").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                success: function (data) {
                    if (data.result == 'success') {
                        Swal(
                            'Deleted!',
                            'Data has been deleted!',
                            'success'
                            )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                            'Delete data failed!',
                            data.msg,
                            'warning'
                            )
                    }
                },
                error: function (error) {
                    console.dir(error)
                }
            });
        }
        })
    });
</script>