﻿@model RSA.Models.DB.QL_trnbpsheetmst

@{
    ViewBag.Title = "Pemakaian Bahan Penolong (Sheet)";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Material Stock bpsheetustment Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.cmpcode, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Divisi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.divgroupoid, null, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Draft No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.bpsheetmstoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">PBP No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.bpsheetno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">PBP Date</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.bpsheetdate, new { htmlAttributes = new { @class = "form-control datemask2", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>   
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">COA</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.acctgoid, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.bpsheetmstnote, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.bpsheetmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        // AKHIR BAGIAN HEADER

                        // BAGIAN DETAIL
                        <div class="box-header">
                            <h3 class="box-title"><b>Material Detail</b></h3>
                        </div>
                        <div class="box-body">
                            @Html.Hidden("seq")
                            <div class="container-fluid"> 
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Type</label>
                                            <div class="col-md-8">
                                                @Html.DropDownList("mattype", new List<SelectListItem>
                                                {
                                                    new SelectListItem { Text= "RAW MATERIAL", Value= "RAW MATERIAL" },
                                                }, new { @class = "form-control select2" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Warehouse</label>
                                            <div class="col-md-8">
                                                @Html.DropDownList("whoid", null, new { @class = "form-control select2" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-left">
                                    <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Add To List</b></button>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-md-12" style="overflow-x: auto;">
                                <table id="tbl_dtl" class="table table-striped" style="width: 100%">
                                </table>
                            </div>
                        </div>
                        // AKHIR BAGIAN DETAIL

                        // USER & TOMBOL ACTION
                        <div class="box-footer">
                            <div class="pull-left">
                                created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                                @{
                                    if (ViewBag.action == "Update Data")
                                    {
                                        <br />
                                        @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                                }
                            </div>
                        </div>
                        <div class="pull-right">
                            @{
                                if (Model.bpsheetmststatus == "In Process" | Model.bpsheetmststatus == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                    if (ViewBag.action == "Update Data")
                                    {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                    }
                                    <button type="button" class="btn btn-warning btn-md" id="btnSendApproval"><b>Post</b></button>
                                }
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                            }
                        </div>
                        // AKHIR USER & TOMBOL ACTION
                       }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Material Detail Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
@*<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "columns": [
                { data: 'bpsheetdtlseq', name: 'bpsheetdtlseq', orderable: false, checkboxes: { selectRow: false } },
                { data: 'refname', name: 'refname', title: 'Type' },
                { data: 'matcode', name: 'matcode', title: 'Code' },
                { data: 'matdesc', name: 'matdesc', title: 'Description' },
                { data: 'bpsheetunit', name: 'bpsheetunit', title: 'Unit' },
                { data: 'bpsheetwh', name: 'bpsheetwh', title: 'Warehouse' },
                { data: 'bpsheetqty', name: 'bpsheetqty', title: 'Qty', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'bpsheetqtyafter', ' money', '', "width:110px;"); } },
                { data: 'refno', name: 'refno', title: 'Batch No' },
                { data: 'serialno', name: 'serialno', title: 'Serial No' },
                { data: 'bpsheetdtlnote', name: 'bpsheetdtlnote', title: 'Note', render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'bpsheetdtlnote', ' ', '', "width:150px;"); } },
            ],
            "select": {
                "style": 'multi'
            },
            "order": []
        });
        tblModalDtl.on("draw", function () {
            $('#tblModalDtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tblModalDtl .select2').select2();
        });

        tbl_dtl = $('#tbl_dtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columns": [
                { data: 'bpsheetdtlseq', name: 'bpsheetdtlseq', title: 'No.' },
                { data: 'refname', name: 'refname', title: 'Type' },
                { data: 'matcode', name: 'matcode', title: 'Code' },
                { data: 'matdesc', name: 'matdesc', title: 'Description' },
                { data: 'bpsheetunit', name: 'bpsheetunit', title: 'Unit' },
                { data: 'bpsheetwh', name: 'bpsheetwh', title: 'Warehouse' },
                { data: 'bpsheetqty', name: 'bpsheetqty', title: 'Qty', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'bpsheetqtyafter', ' money', '', "width:110px;"); } },
                { data: 'refno', name: 'refno', title: 'Batch No' },
                { data: 'serialno', name: 'serialno', title: 'Serial No' },
                { data: 'bpsheetdtlnote', name: 'bpsheetdtlnote', title: 'Note', render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'bpsheetdtlnote', ' ', '', "width:150px;"); } },
                { data: null, name: 'remove', "width": "60px", render: function (data) { return '<button type="button" class="btn btn-danger btn-xs btn-icon remove" title="Hapus"><i class="fa fa-times"></i></button>' } },
            ],
        });
        tbl_dtl.on("draw", function () {
            $('#tbl_dtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tbl_dtl .select2').select2();
        });

        if ($("#action").val() == "Update Data") {
            FillDetailData();
        }
    })
    function generateinput(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        return '<input type="text" class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '" value="' + value + '"' + addAttr + '> '
    };
    function generateselect(value, name, dataopt, addAttr) {
        if (addAttr == null) { addAttr = "" }
        var option = "<option value=\'" + 0 + "\' data_val=\'[]\'> - </option>";
        $.each(dataopt, function (key, obj) {
            var selected = "";
            if (obj.Value == value)
                selected = ' selected'
            option += "<option value=\'" + obj.Value + "\'" + selected + " data_val=\'" + JSON.stringify(obj) + "\'>" + obj.Text + "</option>";
        });
        return '<select class="form-control select2" name="' + name + '" style="margin: -6px; padding: 6px;"' + addAttr + '>' + option + '</select>'
    };
    function generatetextarea(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        if (value == null) { value = "" }
        if (value.indexOf("\n") >= 0) {
            addAttr += ' rows="2"';
        } else addAttr += ' rows="1"';
        return '<textarea class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '"' + addAttr + '>' + value + '</textarea>'
    };

    var url_GetDataDetails = "@(Url.Action("GetDataDetails"))";
    $("#btnAddToList").click(function () {
        var divgroupoid = $("#divgroupoid option:selected").val();
        var refname = $("#mattype option:selected").val();
        var whoid = $("#whoid option:selected").val();
        var bpsheetdate = $("#bpsheetdate").val();
        tblModalDtl.column(0).checkboxes.deselect();
        tblModalDtl.clear().draw();
        $.ajax({
            url: url_GetDataDetails,
            data: { divgroupoid: divgroupoid, refname: refname, whoid: whoid, bpsheetdate: bpsheetdate },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var rows = []
                    $.each(data.tbl, function (key, val) {
                        val.bpsheetdtlseq = key + 1;
                        rows.push(val)
                    });
                    tblModalDtl.rows.add(rows);
                    tblModalDtl.columns.adjust().draw();
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });
    $('#tblModalDtl').on('blur', 'input:text, textarea', function (e) {
        setData(this, tblModalDtl)
        e.preventDefault();
    });
    function AddToDetail() {
        var rowsel = tblModalDtl.column(0).checkboxes.selected();
        if (!rowsel.length) {
            return Swal('', 'Please select Item first!', 'warning');
        }
        var rows = []
        var id = tbl_dtl.data().length + 1;
        $.each(rowsel, function (key, val) {
            var obj = copyObject(tblModalDtl.row(val - 1).data());
            if (!IsOnDtl(obj.refname, obj.refoid, obj.refno, obj.serialno, obj.bpsheetwhoid)) {
                obj.bpsheetdtlseq = id++;
                rows.push(obj);
            }
        });
        tbl_dtl.rows.add(rows);
        tbl_dtl.columns.adjust().draw();
        CountHdrAmount();
        EnabledHeader();
        $('#modal-detail').modal('hide');
    };

    function IsOnDtl(refname, refoid, refno, serialno, bpsheetwhoid) {
        for (var i = 0 ; i < tbl_dtl.data().length; i++) {
            var alldata = tbl_dtl.row(i).data();
            if (refname == alldata.refname && refoid == alldata.refoid && refno == alldata.refno && serialno == alldata.serialno && bpsheetwhoid == alldata.bpsheetwhoid) {
                return true;
            }
        }
        return false;
    }

    var url_FillDetailData = "@(Url.Action("FillDetailData"))";
    function FillDetailData() {
        var id = $('#bpsheetmstoid').val();
        tbl_dtl.clear().draw();
        $.ajax({
            url: url_FillDetailData,
            data: { id },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tbl_dtl.rows.add(data.dtl);
                    tbl_dtl.columns.adjust().draw();
                    EnabledHeader();
                } else {
                    swal('', data.result, 'error');
                    return false;
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                return false;
            }
        });
    };
    $('#tbl_dtl').on('blur', 'input:text, textarea', function (e) {
        setData(this, tbl_dtl)
        e.preventDefault();
    });
    $('#tbl_dtl').on('click', '.remove', function (e) {
        $tr = $(this).closest('tr');
        tbl_dtl.row($tr).remove().draw();
        //Mengurutkan nomor
        for (var i = 0; i < tbl_dtl.data().length; i++) {
            tbl_dtl.cell(i, 'bpsheetdtlseq:name').data(i + 1).invalidate();
        }
        CountHdrAmount();
        EnabledHeader();
        e.preventDefault();
    });

    function setData($this, tbl) {
        $tr = $($this).closest('tr');
        $td = $($this).closest('td');

        var attrname = $($this).attr('name');
        var value = $($this).val();
        if ($($this).hasClass('money')) {
            value = tNumber(value);
        }
        if (value == tbl.cell($tr, $td).data())
            return true;
        tbl.cell($tr, $td).data(value).invalidate();

        CountHdrAmount();

        $td.find('.money').inputmask('decimal', {
            autoGroup: true,
            groupSeparator: ",",
            removeMaskOnSubmit: true,
            autoUnmask: true
        });
        $td.find('.select2').select2();
    };

    function CountHdrAmount() {
        
    }

    function EnabledHeader() {
        var bVal = tbl_dtl.data().length > 0;

        $("#cmpcode").attr("readonly", bVal);
        $("#divgroupoid").attr("readonly", bVal);
    }

    var url_Form = "@(Url.Action("Form"))";
    var url_Index = "@(Url.Action("Index"))";
    $("#btnSave").click(function () {
        event.preventDefault();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var mst = $('form').serializeArray();
        var tbl = {};
        jQuery.map(mst, function (n, i) {
            tbl[n.name] = n.value;
        });
        var action = $('#action').val();

        var dtDtl = [];
        for (var i = 0 ; i < tbl_dtl.data().length; i++) {
            var alldata = tbl_dtl.row(i).data();
            dtDtl.push(alldata);
        }

        $.ajax({
            type: "POST",
            url: url_Form,
            data: { __RequestVerificationToken: token, tbl: tbl, dtDtl: dtDtl, action: action },
            success: function (data) {
                if (data.result == 'success') {
                    Swal('Data has been saved!', data.msg, 'success').then((result) => {
                        if (result.value) {
                            location.replace("@(Url.Action("Index"))");
                        }
                    });
                } else {
                    Swal('Save data failed!', data.msg, 'error');
                    $("#bpsheetmststatus").val("In Process");
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $("#bpsheetmststatus").val("In Process");
            }
        });
    });

    $("#btnDelete").click(function () {
        var oid = $("#bpsheetmstoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                success: function (data) {
                    if (data.result == 'success') {
                        Swal(
                            'Deleted!',
                            'Data has been deleted!',
                            'success'
                            )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                            'Delete data failed!',
                            data.msg,
                            'warning'
                            )
                    }
                },
                error: function (error) {
                    console.dir(error)
                }
            });
        }
        })
    });

    $("#btnSendApproval").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Post this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Post this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#bpsheetmststatus").val("Post");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>