﻿@model IEnumerable<RSA.Controllers.Transaction.BPSheetRealController.bpsheetmst>

@{
    ViewBag.Title = "Pemakaian Bahan Penolong (Sheet)";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>List Of @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <p>
                        @Html.ActionLink("Create", "Form")
                    </p>
                </div>
                @Html.Hidden("isCollapse")
                @Html.Partial("~/Views/Shared/_FilterList.cshtml")
                <div class="box-body">
                    @Html.Hidden("DisplayCol")
                    <div class="row">

                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th>Draft No</th>
                                        <th>Divisi</th>
                                        <th>PBP No</th>
                                        <th>PBP Date</th>
                                        <th>Status</th>
                                        <th>Note</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var i in Model)
                                        {
                                            <tr>
                                                <td class="text-center"><a href="Form/@Html.DisplayFor(m => i.bpsheetmstoid)" class="text-primary">@Html.DisplayFor(m => i.bpsheetmstoid)</a></td>
                                                <td>@Html.DisplayFor(m => i.divgroup)</td>
                                                <td>@Html.DisplayFor(m => i.bpsheetno)</td>
                                                <td class="text-center">@i.bpsheetdate.ToString("MM/dd/yyyy")</td>
                                                <td>@Html.DisplayFor(m => i.bpsheetmststatus)</td>
                                                <td>@Html.DisplayFor(m => i.bpsheetmstnote)</td>
                                                <td class="text-center"><button title="Print" type="button" class="btn btn-sm btn-primary" onclick="PrintReport(@Html.DisplayFor(m => i.bpsheetmstoid))"><i class="fa fa-print"></i></button></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {

    });

    function PrintReport(id) {
        window.location.assign("@Url.Action("PrintReport")?id=" + id + "");
    };
</script>