﻿@model RSA.Models.DB.QL_mstmatgen

@{
    ViewBag.Title = "Barang Umum";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    string CompnyCode = System.Configuration.ConfigurationManager.AppSettings["CompnyCode"];
}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Barang Umum
        </h1>

    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary form-horizontal">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                                    <!-- /.box-header -->
                        <div class="box-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.cmpcode)
                            @Html.HiddenFor(model => model.matgenoid)
                            @Html.HiddenFor(model => model.cat4oid)
                            @Html.HiddenFor(model => model.upduser)
                            @Html.HiddenFor(model => model.updtime)
                            @Html.HiddenFor(model => model.createuser)
                            @Html.HiddenFor(model => model.createtime)
                            @Html.Hidden("action")
                            <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
                            @*<form action="#" method="post" role="form">                                
                            </form>*@

                            <div class="box-body">
                                <div class="row">
                                    <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Divisi</label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.divgroupoid, null, new { @class = "form-control select2", @required = "" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Kode <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.matgencode, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @maxlength = "30" } })
                                            
                                        </div>
                                    </div>
                                </div><br>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Nama Pendek</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.matgenshortdesc, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-4">Nama Panjang <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.matgenlongdesc, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "250" } })
                                            @Html.ValidationMessageFor(model => model.matgenlongdesc, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div><br>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Satuan</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.matgenunitoid, null, new { @id = "matgenunitoid", @class = "form-control select2" })
                                            @Html.ValidationMessageFor(model => model.matgenunitoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                   
                                </div><br>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Stok Aman <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.matgensafetystock, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "" } })
                                            @Html.ValidationMessageFor(model => model.matgensafetystock, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-4">Rounding Qty <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.matgenlimitqty, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "" } })
                                            @Html.ValidationMessageFor(model => model.matgenlimitqty, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div><br>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Lokasi <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.matgenlocoid, null, new { @id = "matgenlocoid", @class = "form-control select2" })
                                            @Html.ValidationMessageFor(model => model.matgenlocoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div><br>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Gambar Lokasi </label>
                                        <div class="col-md-8">
                                            <input type="file" id="uploadmatgenpictureloc" alt="Submit" class="m-t-10 flex-c-m sizefull color1 s-text1 trans-0-4 " width="100%" onchange="previewImage1(this);">
                                            @Html.HiddenFor(model => model.matgenpictureloc, new { @class = "form-control", @id = "matgenpictureloc" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-4">Gambar Barang </label>
                                        <div class="col-md-8">
                                            <input type="file" id="uploadmatgenpicturemat" alt="Submit" class="m-t-10 flex-c-m sizefull color1 s-text1 trans-0-4 " width="100%" onchange="previewImage2(this);">
                                            @Html.HiddenFor(model => model.matgenpicturemat, new { @class = "form-control", @id = "matgenpicturemat" })
                                        </div>
                                    </div>
                                </div><br>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-md-8">
                                            @{ 
                                                var src1 = Html.DisplayFor(model => model.matgenpictureloc).ToString();
                                                if (!File.Exists(Server.MapPath(src1)))
                                                {
                                                    src1 = "~/Content/dist/img/preview.png";
                                                }
                                            }
                                            <img src="@Url.Content(src1)" alt="IMG-PRODUCT" id="image-preview1" width="50%" height="50%">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-8">
                                            @{ 
                                                var src2 = Html.DisplayFor(model => model.matgenpicturemat).ToString();
                                                if (!File.Exists(Server.MapPath(src2)))
                                                {
                                                    src2 = "~/Content/dist/img/preview.png";
                                                }
                                            }
                                            <img src="@Url.Content(src2)" alt="IMG-PRODUCT" id="image-preview2" width="50%" height="50%">
                                        </div>
                                    </div>
                                </div><br>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Catatan </label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.matgennote, htmlAttributes: new { @class = "form-control", @type = "text", @maxlength = "100" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-4">Status</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.activeflag, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                                new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                                              }, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                                <br>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-sm-12">

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="box-footer">
                            <div class="pull-left">
                                @{
                                    if (ViewBag.action == "Edit")
                                    {
                                        @:Created by @(Html.DisplayFor(model => model.createuser)) On @(Html.DisplayFor(model => model.createtime))
                                        @:<br /> Last Update by @(Html.DisplayFor(model => model.upduser)) On @(Html.DisplayFor(model => model.updtime))
                                    }
                                }
                            </div>
                            <div class="pull-right">
                                <button type="submit" class="btn btn-success" id="btnSave"><b>Save</b></button>
                                <a href="#" class="btn btn-default">Batal</a>
                                <a href="@Url.Action("Index")" type="button" class="btn btn-primary btn-md"><b>Back</b></a>
                            </div>
                        </div>
                    }
                    <!-- /.box-body -->
                </div>
            </div>
        </div>

        @* MODAL UNTUK CUSTOMER *@
        <div class="modal fade" id="modal-supp">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Customer</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>Kode</th>
                                        <th></th>
                                        <th>Kode</th>
                                        <th>Nama</th>
                                        <th>Alamat</th>
                                        <th>Kota</th>
                                        <th>Telp.</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                    </div>
                </div>
            </div>
        </div>
        @* AKHIR MODAL UNTUK CUSTOMER *@
    </section>



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    function previewImage1(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image-preview1')
                .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    function previewImage2(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image-preview2')
                .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    $('#uploadmatgenpictureloc').on('change', function (e) {
        var url = "@(Url.Action("UploadFileMat"))";
        var files = e.target.files;

        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: url,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {
                        console.log(data);
                        if (data.result == "Sukses") {
                            $('#matgenpictureloc').val(data.picturepath);
                        }
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });

    $('#uploadmatgenpicturemat').on('change', function (e) {
        var url = "@(Url.Action("UploadFileMat"))";
        var files = e.target.files;

        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: url,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {
                        console.log(data);
                        if (data.result == "Sukses") {
                            $('#matgenpicturemat').val(data.picturepath);
                        }
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });
</script>

<script>
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
        });
    

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": [1],
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        //SETTING MODAL LIST CUSTOMER
        var table = $('#tblModalSupp').DataTable({
            "paging": true,
            "bFilter": true,
            "ordering": true,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        //SELECTED FROM MODAL CUSTOMER
        var tblModalSupp = $('#tblModalSupp').DataTable();

        tblModalSupp.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }

            var data = tblModalSupp.row($tr).data();
            //alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
            var alldata = data[0];
            
            $("#suppoid").val(alldata.suppoid);
            $("#suppname").val(alldata.suppname);

            $('#modal-supp').modal('hide');
            $("#suppname").prop("readonly", true);
        });

        FillDetailData();
    })

    function FillDetailData() {
        var url = "@(Url.Action("FillSuppData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.suppcode,
                    val.suppname,
                    val.pic
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        });
    }

    $("#btnAddToListSupp").click(function () {
        var table = $('#tblModalDtl').DataTable();
        var cmp = $("#cmpcode").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSuppData"))",
            data: { cmp: cmp },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    i++,
                    val.suppcode,
                    val.suppname,
                    val.picname,
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });


    function AddToDetail() {
        var isValid = true;
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid) {
                var data = table.row(val).data();
                var alldata = JSON.parse(data[0]);
                if (!IsOnDtl(alldata.suppoid)) {
                    var id = tbldtl.rows().data().length + 1;
                    var obj = {
                        suppoid: alldata.suppoid,
                        suppcode: alldata.suppcode,
                        suppname: alldata.suppname,
                        picname: alldata.picname,
                        suppdtl2oid: alldata.suppdtl2oid
                    };
                    tbldtl.row.add([
                        JSON.stringify(obj),
                        id,
                        alldata.suppcode,
                        alldata.suppname,
                        alldata.picname,
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                }
            }
        })
        SetDataDtl();
    }

    function IsOnDtl(suppoid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (suppoid == alldata.suppoid) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var obj = {
                suppoid: alldata.suppoid,
                suppcode: alldata.suppcode,
                suppname: alldata.suppname,
                picname: alldata.picname,
                suppdtl2oid: alldata.suppdtl2oid
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetsuppData"))",
            data: JSON.stringify({ dtDtl: rows }),
        dataType: "text",
        contentType: "application/json; charset=utf-8",
        processData: false
    });
    }

    $("#btnSave").click(function () {
        SetDataDtl();
    });

    $('#cat1oid').on('change', function () {
        //alert("aaaaa");
        fillDDLCat2();
    });

    function cat1change() {
        //alert("aaaaa");
        fillDDLcat2();
    }

    $('#cat2oid').on('change', function () {
        //alert("aaaaa");
        fillDDLCat3();
    });

    function cat2change() {
        //alert("aaaaa");
        fillDDLcat3();
    }

    $('#cat3oid').on('change', function () {
        //alert("aaaaa");
        fillDDLCat4();
    });
    function cat3change() {
        //alert("aaaaa");
        fillDDLcat4();
    }

    //isi DDL cat2
    function fillDDLcat2() {
        var ddl = $("#cat2oid");
        var cat1 = $("#cat1oid").val();
        var cat2 = $("#cat2oid").val();
        if (cat1 == "" || cat1 == 0) {
            ddl.html("<option value=''> Pilih Kategori 1 dahulu </option>").show();
        } else {
            ddl.html("<option value=''> Please wait...</option>").show();
            $.ajax({
                url: "@(Url.Action("Getcat2"))",
                data: { cat1: cat1 },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = ""//"<option value=0>Pilih Province</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=\'" + data[x].Value + "\'>" + data[x].Text + "</option>";
                }
                ddl.html(markup).show();
                fillDDLcat3()
            },
            error: function (reponse) {
                alert("error fillDDLcat2 : " + reponse);
            }
        });
    }
    }

    //isi DDL cat3
    function fillDDLcat3() {
        var ddl = $("#cat3oid");
        var cat1 = $("#cat1oid").val();
        var cat2 = $("#cat2oid").val();
        if (cat1 == "" || cat1 == 0) {
            ddl.html("<option value=''> Pilih Kategori 1 dahulu </option>").show();
        }
        else if (cat2 == "" || cat2 == 0 || cat2 == null) {
            ddl.html("<option value=0>  </option>").show();
        } else {
            ddl.html("<option value=''> Please wait...</option>").show();
            $.ajax({
                url: "@(Url.Action("Getcat3"))",
                data: { cat1: cat1, cat2:cat2 },
                cache: false,
                type: "POST",
                success: function (data) {
                    var markup = ""//"<option value=0>Pilih Province</option>";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=\'" + data[x].Value + "\'>" + data[x].Text + "</option>";
                    }
                    ddl.html(markup).show();
                    fillDDLcat4()
                },
                error: function (reponse) {
                    alert("error fillDDLcat3 : " + reponse);
                }
            });
        }
    }
    //isi DDL cat4
    function fillDDLcat4() {
        var ddl = $("#cat4oid");
        var cat1 = $("#cat1oid").val();
        var cat2 = $("#cat2oid").val();
        var cat3 = $("#cat3oid").val();
        if (cat1 == "" || cat1 == 0 ) {
            ddl.html("<option value=''> Pilih Kategori 1 dahulu </option>").show();
        }
        else if (cat2 == "" || cat2 == 0 || cat2 == null) {
            ddl.html("<option value=0>  </option>").show();
        }
        else if (cat3 == "" || cat3 == 0 || cat3 == null) {
            ddl.html("<option value=0>  </option>").show();
        } else {
            ddl.html("<option value=''> Please wait...</option>").show();
            $.ajax({
                url: "@(Url.Action("Getcat4"))",
                data: { cat1: cat1, cat2: cat2, cat3: cat3 },
                cache: false,
                type: "POST",
                success: function (data) {
                    var markup = ""//"<option value=0>Pilih Province</option>";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=\'" + data[x].Value + "\'>" + data[x].Text + "</option>";
                    }
                    ddl.html(markup).show();
                },
                error: function (reponse) {
                    alert("error fillDDLcat4 : " + reponse);
                }
            });
        }
    }
</script>

<script language="javascript" type="text/javascript">
    $("#btnsearchsupp").click(function () {
        var table = $('#tblModalSupp').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSupp"))",
            data: { cmp: '@CompnyCode' },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        //JSON.stringify(val),
                        val,
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.suppcode,
                        val.suppname,
                        val.suppaddr, //moment(jsDate(val.requiredate)).format('MM/DD/YYYY'),
                        val.CityDesc,
                        val.suppphone1
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    function clickDelete() {
        var oid = $("#cat1oid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Apakah Anda yakin untuk menghapus data ini?',
            text: "Data yang sudah dihapus tidak akan bisa dikembalikan!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Ya, hapus data ini!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                success: function (data) {
                    if (data.result == 'sukses') {
                        Swal(
                          'Terhapus!',
                          'Data sudah dihapus.',
                          'success'
                        )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                          'Gagal menghapus data!',
                          data.msg,
                          'warning'
                        )
                    }

                },
                error: function (error) {
                    console.dir(error)
                }
            });

        }
        })
    }
    

</script>