﻿@model IEnumerable<RSA.Models.DB.QL_mstbillofmat>

@{
    ViewBag.Title = "Bill Of Material In Value Report";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>Bill Of Material In Value Report</h2>