﻿@model RSA.Models.DB.QL_mstrate

@{
    ViewBag.Title = "RatePajak";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<section class="content-header">
    <h1>Form Rate Pajak</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Form Rate Pajak</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.rateoid)
                        @Html.HiddenFor(model => model.rateres1)
                        @Html.HiddenFor(model => model.rateres2)
                        @Html.HiddenFor(model => model.rateres3)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label ">Currency</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.curroid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.curroid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Date<label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.ratedate, new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.ratedate, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md"><b>To</b></div>
                                        <div class="col-md-4" style="margin-top:-22px;">
                                            <div class="input-group" style="margin-left:10px;">
                                                @Html.EditorFor(model => model.ratetodate, new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.ratetodate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Rate to IDR<label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.rateidrvalue, new { htmlAttributes = new { @class = "form-control", @type = "text"  } })
                                            @Html.ValidationMessageFor(model => model.rateidrvalue, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Rate to USD<label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.rateusdvalue, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                            @Html.ValidationMessageFor(model => model.rateusdvalue, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Note</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.ratenote, new { htmlAttributes = new { @class = "form-control", @type = "text", @style = "width:300px", @maxlength = 100 } })
                                            @Html.ValidationMessageFor(model => model.ratenote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(m => m.activeflag, new List<SelectListItem>
                                            {
                                                 new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                                 new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                                            }, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                                                // USER & TOMBOL ACTION
                   <div class="box-footer">
                      <div class="pull-left">
                          created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                           @{
                                if (ViewBag.action == "Update Data")
                                {
                                   <br />
                                @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                      </div>
                     <div class="pull-right">
                             @{
                                 if (ViewBag.action == "New Data")
                                 {
                                    <button type="submit" class="btn btn-warning btn-md"  onclick="clicksave()"><b>Posting</b></button>

                                 }
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                            }

                        </div>
                  </div>

                                                                // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>


</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    function addCommas(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }
    function removeComas(sStr) {
        sStr = sStr.replace(/\,/g, '');
        return sStr
    }
    $("#rateidrvalue").focusout(function () {
        this.value = addCommas(this.value)
    });

    $("#rateidrvalue").focus(function () {
        this.value = removeComas(this.value)
    });
    $("#rateusdvalue").focusout(function () {
        this.value = addCommas(this.value)
    });

    $("#rateusdvalue").focus(function () {
        this.value = removeComas(this.value)
    });

    function clicksave() {
        $("#rateidrvalue").val(removeComas($("#rateidrvalue").val()))
        $("#rateusdvalue").val(removeComas($("#rateusdvalue").val()))
    }

    $(document).ready(function () {
        $("#rateidrvalue").val(addCommas(removeComas($("#rateidrvalue").val())))
        $("#rateusdvalue").val(addCommas(removeComas($("#rateusdvalue").val())))
    })

    

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

  

</script>




































