﻿@{
    ViewBag.Title = "SO Closing";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form SO Closing</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Type</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownList("sotype", new List<SelectListItem>
                                    {
                                        new SelectListItem { Text="Finish Good", Value="item" },
                                        new SelectListItem { Text="SHEET", Value="RAW" }
                                        //new SelectListItem { Text="General Material", Value="GEN" },
                                        //new SelectListItem { Text="Spare Part", Value="SP" },
                             
                                        //new SelectListItem { Text="Log", Value="log" },
                                        //new SelectListItem { Text="Sawn Timber", Value="sawn" },
                                        //new SelectListItem { Text="Fixed Assets", Value="Asset" }
                                    }, new { @class = "form-control", @required = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Business Unit</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownList("cmpcode", null, new { @class = "form-control", @required = "" })
                                            @Html.ValidationMessage("cmpcode", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">SO No.</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                @Html.Editor("sono", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchso" class="btn btn-flat" data-toggle="modal" data-target="#modal-so">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        @Html.Hidden("somstoid")
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">SO Date</label>
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                @Html.Editor("sodate", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                                            </div>
                                            @Html.ValidationMessage("sodate", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Customer</label>
                                        <div class="col-sm-8">
                                            @Html.Editor("custname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.Hidden("custoid")
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Note</label>
                                        <div class="col-sm-8">
                                            @Html.Editor("somstnote", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Status</label>
                                        <div class="col-sm-6">
                                            @Html.Editor("somststatus", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-body">
                        <div class="container-fluid">
                            <div class="pull-left">
                                <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Add To List</b></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-sm-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No</th>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th>Qty</th>
                                        <th>Unit</th>
                                        <th>Price</th>
                                        <th>Status</th>
                                        <th>Detail Note</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    <div class="pull-left">
                        @{
                            <button type="button" class="btn btn-danger btn-md" id="btnSave"><b>Process</b></button>
                            <button type="submit" class="btn btn-danger btn-md" id="btnProcess" style="display:none"><b></b></button>
                        }
                    </div>
                            }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Sales Order Detail Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No.</th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Qty</th>
                                    <th>Unit</th>
                                    <th>Price</th>
                                    <th>Status</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@

    @* MODAL UNTUK FORM SO *@
    <div class="modal fade" id="modal-so">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Sales Order</h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-12" style="overflow-x: auto;">
                        <table id="tblModalSO" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>SO No.</th>
                                    <th>SO Date</th>
                                    <th>Customer</th>
                                    <th>Grand Total</th>
                                    <th>Status</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM SO *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        $("#tblModalSO").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        var tblModalSO = $("#tblModalSO").DataTable();
        tblModalSO.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSO.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#sono").val(alldata.sono);
            $("#somstoid").val(alldata.somstoid);
            $("#sodate").val(alldata.sodate);
            $("#custoid").val(alldata.custoid);
            $("#custname").val(alldata.custname);
            $("#somststatus").val(alldata.somststatus);
            $("#somstnote").val(alldata.somstnote);
            $('#modal-so').modal('hide');
        });

        $("#sotype").change(function () {
            ClearData();
        });

        $("#cmpcode").change(function () {
            ClearData();
        });
    })

    $("#btnsearchso").click(function () {
        var table = $('#tblModalSO').DataTable();
        var sotype = $("#sotype option:selected").val();
        var cmp = $("#cmpcode option:selected").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSalesOrderData"))",
            data: { cmp: cmp, sType: sotype },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.sono,
                        val.sodate,
                        val.custname,
                        addCommas(val.sograndtotalamt),
                        val.somststatus,
                        val.somstnote,
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnAddToList").click(function () {
        if ($("#somstoid").val() == "") {
            Swal({
                title: 'WARNING!',
                text: 'Please Select SO. NO field!',
                type: 'warning'
            });
            return false
        }
        var table = $('#tblModalDtl').DataTable();
        var sotype = $("#sotype option:selected").val();
        var cmp = $("#cmpcode option:selected").val();
        var somstoid = $("#somstoid").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmp: cmp, sType: sotype, iOid: somstoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                console.log(data.tbl);
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        ++i,
                        val.sodtlseq,
                        val.matcode,
                        val.matlongdesc,
                        val.soqty,
                        val.sounit,
                        addCommas(val.soprice),
                        val.sodtlstatus,
                        val.sodtlnote
                    ]);
                });
                table.rows.add(rows).draw();
                $('#tblModalDtl .datepicker').datepicker({
                    format: 'mm/dd/yyyy',
                    todayHighlight: true,
                    autoclose: true
                });
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    function ClearData() {
        $("#sono").val("");
        $("#somstoid").val("");
        $("#sodate").val("");
        $("#custoid").val("");
        $("#custname").val("");
        $("#somststatus").val("");
        $("#somstnote").val("");
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
    }

    function AddToDetail() {
        var isValid = true;
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var sotype = $("#sotype option:selected").val();
        var cmp = $("#cmpcode option:selected").val();
        var somstoid = $("#somstoid").val();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid) {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                if (!IsOnDtl(alldata.sodtloid)) {
                    var id = tbldtl.rows().data().length + 1;
                    var obj = {
                        sodtlseq: id,
                        sodtloid: alldata.sodtloid,
                        matcode: alldata.matcode,
                        matlongdesc: alldata.matlongdesc,
                        soqty: alldata.soqty,
                        sounit: alldata.sounit,
                        soprice: alldata.soprice,
                        sodtlstatus: alldata.sodtlstatus,
                        sodtlnote: alldata.sodtlnote
                    }
                    tbldtl.row.add([
                        JSON.stringify(obj),
                        id,
                        alldata.matcode,
                        alldata.matlongdesc,
                        alldata.soqty,
                        alldata.sounit,
                        addCommas(alldata.soprice),
                        alldata.sodtlstatus,
                        alldata.sodtlnote
                    ]).draw();
                }
            }
        });
        SetDataDtl();
    }

    function IsOnDtl(sodtloid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (sodtloid == alldata.sodtloid) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var sotype = $("#sotype option:selected").val();
        var cmp = $("#cmpcode option:selected").val();
        var somstoid = $("#somstoid").val();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var obj = {
                cmpcode: cmp,
                somstoid: somstoid,
                sotype: sotype,
                matoid: alldata.matoid,
                sodtloid: alldata.sodtloid,
                matcode: alldata.matcode,
                matlongdesc: alldata.matlongdesc,
                soqty: alldata.soqty,
                sounit: alldata.sounit,
                soprice: alldata.soprice,
                sodtlnote: alldata.sodtlnote,
                sodtlstatus: alldata.sodtlstatus,
                assetmstoid: alldata.assetmstoid
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    $("#btnProcess").click(function () {
        var bVal = true;
        if ($('#DataDtl').DataTable() == null) {
            Swal({
                title: 'WARNING!',
                text: 'Please Fill detail data!',
                type: 'warning'
            });
            bVal = false;
            return false
        } else {
            var table = $('#DataDtl').DataTable();
            var dataDtl = table.rows().data();
            if (dataDtl.length <= 0) {
                Swal({
                    title: 'WARNING!',
                    text: 'Please fill Detail Data!',
                    type: 'warning'
                });
                bVal = false;
                return false
            }
        }
        if (bVal) {
            SetDataDtl();
            ClearData();
            Swal({
                title: 'INFORMATION',
                text: 'data have been CLOSED succesfully!',
                type: 'success'
            });
        }
    })

    $("#btnSave").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to CLOSED this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, CLOSED this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#btnProcess").click();
                }, 100)
            }
        })
    });

</script>
