﻿@{
    ViewBag.Title = "PO " + ViewBag.FormType + " Report (Inc. Price)";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>PO @ViewBag.FormType Report (Inc. Price)</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm("PrintReportInPrice", "POReport"))
                {
                    <div class="box-body">
                        <div class="container-fluid">
                            @Html.Hidden("FormType")
                            @Html.Hidden("MCBStatus_Tx")
                            @Html.Hidden("StartDate")
                            @Html.Hidden("EndDate")
                            @Html.Hidden("ReportType")
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLBusinessUnit", null, "ALL", new { @class = "form-control select2", @onchange = "ChangeBusinessUnit()" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Type</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLType", new List<SelectListItem>
                                            {
                                               new SelectListItem { Text = "Summary", Value = "Summary" },
                                               new SelectListItem { Text = "Detail", Value = "Detail" }
                                            }, new { @class = "form-control select2", @onchange = "ChangeType()" })
                                        </div>
                                    </div>
                                </div>
                                @*  <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Department</label>
                                            <div class="col-md-8">
                                                @Html.DropDownList("DDLDepartment", null, "ALL", new { @class = "form-control select2" })
                                            </div>
                                        </div>
                                    </div>*@

                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-8">
                                            @{
                                                var i = 0;
                                                foreach (var st in ViewBag.MCBStatus)
                                                {
                                                    <label class="col-md-4 control-label text-sm">@Html.CheckBox("MCBStatus_" + i++, new { @class = "MCBStatus", @checked = "", @value = @st }) @st </label>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            @Html.DropDownList("DDLPeriod", new List<SelectListItem>
                                            {
                                               new SelectListItem { Text = "Create Date", Value = "pom.createtime" },
                                               new SelectListItem { Text = "Approval Date", Value = "pom.approvaldatetime" }
                                            }, new { @class = "form-control select2" })
                                        </label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("TextPeriod", new { htmlAttributes = new { @class = "form-control daterangepicker", @type = "text" } })
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Supplier</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextSupplier", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchSup" class="btn btn-link" data-toggle="modal" data-target="#modal-Sup">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" id="divfordtl" style="display: none;">
                                    <div class="form-group" >
                                        <label class="col-md-4 control-label">PR No</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextPr", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchPR" class="btn btn-link" data-toggle="modal" data-target="#modal-PR">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            @Html.DropDownList("DDLPono", new List<SelectListItem>
                                            {
                                               new SelectListItem { Text = "PO No.", Value = "PO No." },
                                               new SelectListItem { Text = "Draft No.", Value = "Draft No." }
                                            }, new { @class = "form-control select2" })
                                        </label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextPo", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchPo" class="btn btn-link" data-toggle="modal" data-target="#modal-Po"><i class="fa fa-search"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="divfordtl2" style="display: none;">
                                
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Material</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextMaterial", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchmat" class="btn btn-link" data-toggle="modal" data-target="#modal-mat">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Grouping</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLGrouping", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="PO No.", Value="pom.porawno" },
                                                new SelectListItem { Text="Material Code", Value="m.matrawcode" },
                                                new SelectListItem { Text="Supplier", Value="s.suppname" },
                                                new SelectListItem { Text="Analisa tanggal", Value="atgl" },
                                                new SelectListItem { Text="Voucher", Value="Voucher" }
                                            }, new { @class = "form-control select2", @onchange = "ChangeGroup()" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Sorting</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLSorting", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="PO No.", Value="pom.porawno" },
                                                new SelectListItem { Text="Approval Date", Value= "pom.approvaldatetime" }
                                            }, new { @class = "form-control select2" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLOrderBy", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="ASC", Value="ASC" },
                                                new SelectListItem { Text="DESC", Value="DESC" }
                                            }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" id="btnSubmit" style="display: none;">Submit</button>
                        <button type="button" id="btnViewReport" class="btn btn-primary btn-md"><b>View Report</b></button>
                        <button type="button" id="btnExportPDF" class="btn btn-danger btn-md"><b>Export to PDF</b></button>
                        <button type="button" id="btnExportExcel" class="btn btn-success btn-md"><b>Export to Excel</b></button>
                        <a href="@Url.Action("ReportInPrice/" + ViewBag.FormType.Replace(" ", ""))" type="button" class="btn btn-default btn-md"><b>Clear</b></a>
                    </div>
                                                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe id="ReportFrame" src="" style="border: none; width: 100%; height: 1000px;"></iframe>
        </div>
    </div>

    @* MODAL UNTUK Supplier *@
    <div class="modal fade" id="modal-Sup">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Supplier Data</h4>
                    @Html.Hidden("total-Sup")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSup" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterSup()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK Supplier *@


    @* MODAL UNTUK PR *@
    <div class="modal fade" id="modal-PR">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">PR @ViewBag.FormType Data</h4>
                    @Html.Hidden("total-PR")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalPR" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterPR()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK PR *@


    @* MODAL UNTUK PO *@
    <div class="modal fade" id="modal-Po">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">PO @ViewBag.FormType Data</h4>
                    @Html.Hidden("total-Po")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalPo" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterPO()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK PO *@

    @* MODAL UNTUK MATERIAL *@
    <div class="modal fade" id="modal-mat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">@ViewBag.FormType Data</h4>
                    @Html.Hidden("total-mat")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterMat()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK MATERIAL *@
</section>

@* Ketiga script ini harus ada di semua view *@
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    @* Digunakan untuk merubah isi DDLDepartment berdasarkan DDLBusinessUnit yg dipilih *@
    function ChangeBusinessUnit() {
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var DDLDepartment = $('#DDLDepartment');
        $.ajax({
            url: "@(Url.Action("InitDDLDepartment"))",
            data: { DDLBusinessUnit: DDLBusinessUnit },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var markup = "<option value=\'\'>ALL</option>";
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.deptoid + "\'>" + val.deptname + "</option>";
                    });
                    DDLDepartment.html(markup).show();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    }

    function ChangeType() {
        var DDLType = $('#DDLType').val();
            var markupsort = "<option value=\'pom.porawno\'>PO No.</option>";
        if (DDLType == "Summary") {
            $('#divfordtl').hide();
            $('#divfordtl2').hide();
        } else {
            $('#divfordtl').show();
            markupsort = "<option value=\'m.matrawcode\'>Material Code</option><option value=\'prd.prrawarrdatereq\'>ETA</option>";
            $('#divfordtl2').show();

        }
        $('#DDLSorting').html(markupsort).show();
    }


    function ChangeGroup() {
        var DDLGrouping = $('#DDLGrouping').val();
        var markupsort = "<option value=\'m.matrawcode\'>Material Code</option><option value=\'prd.prrawarrdatereq\'>ETA</option>";
        if (DDLGrouping == "m.matrawcode") {
            markupsort = "<option value=\'pom.porawno\'>PO No.</option><option value=\'prd.prrawarrdatereq\'>ETA</option>";
        } else if (DDLGrouping == "s.suppname") {
            markupsort = "<option value=\'pom.porawno\'>PO No.</option><option value=\'prd.prrawarrdatereq\'>ETA</option>";
        } else if (DDLGrouping == "atgl") {
            markupsort = "<option value=\'m.matrawcode\'>Material Code</option><option value=\'prd.prrawarrdatereq\'>ETA</option>";
        }
        else if (DDLGrouping == "Voucher") {
            markupsort = "<option value=\'pom.porawno\'>PO No.</option><option value=\'prd.prrawarrdatereq\'>ETA</option>";
        }
        $('#DDLSorting').html(markupsort).show();
    }



    $('#btnsearchPR').click(function () {
        var FormType = $('#FormType').val();
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var DDLDepartment = $('#DDLDepartment').val();
        var TextSupplier = $('#TextSupplier').val();
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $('#DDLPeriod').val();
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            MCBStatus = MCBStatus.substring(0, MCBStatus.length - 3);

        $.ajax({
            url: "@(Url.Action("GetPRData"))",
            data: { FormType: FormType, DDLBusinessUnit: DDLBusinessUnit, DDLDepartment: DDLDepartment, StartDate: StartDate, EndDate: EndDate, DDLPeriod: DDLPeriod, MCBStatus: MCBStatus, TextSupplier: TextSupplier },
        cache: false,
        type: "POST",
        success: function (data) {
            if (data.result == "") {
                var table = $('#tblModalPR').DataTable();
                table.destroy();
                $('#tblModalPR').empty();

                var cols = [];
                $.each(data.tblcols, function (key, val) {
                    var obj = { title: val };
                    cols.push(obj);
                });

                var rows = [];
                var total = 0;
                $.each(data.tblrows, function (key, val) {
                    var row = Object.values(val);
                    rows.push(row);
                    total++;
                });

                $('#total-PR').val(total);
                if (total > 0) {
                    table = $('#tblModalPR').DataTable({
                        "columns": cols,
                        "data": rows,
                        "deferRender": true,
                        "columnDefs": [
                            {
                                "targets": 0,
                                "checkboxes": {
                                    "selectRows": false
                                }
                            }
                        ],
                        "select": {
                            "style": 'multi'
                        },
                        "order": [[1, 'asc']]
                    });
                }

            } else {
                swal('', data.result, 'error');
                $('#modal-PR').modal('hide');
            }
        },
        error: function (err) {
            swal('', err.responseText, 'error');
            $('#modal-PR').modal('hide');
        }
    });
    })


    function AddToFilterPR() {
        var ind = 2;
        if ($("#DDLPono option:selected").val() == "Draft No.")
            ind = 1;

        if (parseInt($('#total-PR').val()) > 0) {
            var result = $("#TextPr").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalPR').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextPr").val(result);
        }
    }















    $('#btnsearchPo').click(function () {
        var FormType = $('#FormType').val();
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var DDLDepartment = $('#DDLDepartment').val();
        var TextSupplier = $('#TextSupplier').val();
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $('#DDLPeriod').val();
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            MCBStatus = MCBStatus.substring(0, MCBStatus.length - 3);

        $.ajax({
            url: "@(Url.Action("GetPoData"))",
            data: { FormType: FormType, DDLBusinessUnit: DDLBusinessUnit, DDLDepartment: DDLDepartment, StartDate: StartDate, EndDate: EndDate, DDLPeriod: DDLPeriod, MCBStatus: MCBStatus, TextSupplier: TextSupplier },
        cache: false,
        type: "POST",
        success: function (data) {
            if (data.result == "") {
                var table = $('#tblModalPo').DataTable();
                table.destroy();
                $('#tblModalPo').empty();

                var cols = [];
                $.each(data.tblcols, function (key, val) {
                    var obj = { title: val };
                    cols.push(obj);
                });

                var rows = [];
                var total = 0;
                $.each(data.tblrows, function (key, val) {
                    var row = Object.values(val);
                    rows.push(row);
                    total++;
                });

                $('#total-Po').val(total);
                if (total > 0) {
                    table = $('#tblModalPo').DataTable({
                        "columns": cols,
                        "data": rows,
                        "deferRender": true,
                        "columnDefs": [
                            {
                                "targets": 0,
                                "checkboxes": {
                                    "selectRows": false
                                }
                            }
                        ],
                        "select": {
                            "style": 'multi'
                        },
                        "order": [[1, 'asc']]
                    });
                }

            } else {
                swal('', data.result, 'error');
                $('#modal-Po').modal('hide');
            }
        },
        error: function (err) {
            swal('', err.responseText, 'error');
            $('#modal-Po').modal('hide');
        }
    });
    })


    function AddToFilterPO() {
        var ind = 2;
        if ($("#DDLPono option:selected").val() == "Draft No.")
            ind = 1;

        if (parseInt($('#total-Po').val()) > 0) {
            var result = $("#TextPo").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalPo').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextPo").val(result);
        }
    }




    $("#btnsearchmat").click(function () {
        var FormType = $('#FormType').val();
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $('#DDLPeriod').val();
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            MCBStatus = MCBStatus.substring(0, MCBStatus.length - 3);
        var TextCust = $('#TextCust').val();
        var DDLNomor = $('#DDLNomor').val();
        var TextMaterial = $('#TextMaterial').val();

        $.ajax({
            url: "@(Url.Action("GetMaterialData"))",
            data: { FormType: FormType, DDLBusinessUnit: DDLBusinessUnit, StartDate: StartDate, EndDate: EndDate, DDLPeriod: DDLPeriod, MCBStatus: MCBStatus, TextCust: TextCust, DDLNomor: DDLNomor, TextMaterial: TextMaterial },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var table = $("#tblModalMat").DataTable();
                    table.destroy();
                    $("#tblModalMat").empty();

                    var cols = [];
                    $.each(data.tblcols, function (key, val) {
                        var obj = { title: val };
                        cols.push(obj);
                    });

                    var rows = [];
                    var total = 0;
                    $.each(data.tblrows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                        total++;
                    });

                    $('#total-mat').val(total);
                    if (total > 0) {
                        table = $("#tblModalMat").DataTable({
                            "columns": cols,
                            "data": rows,
                            "deferRender": true,
                            "columnDefs": [
                                {
                                    "targets": 0,
                                    "checkboxes": {
                                        "selectRow": false
                                    }
                                }
                            ],
                            "select": {
                                "style": 'multi'
                            },
                            "order": [[1, 'asc']]
                        });
                    }

                } else {
                    swal('', data.result, 'error');
                    $('#modal-mat').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-mat').modal('hide');
            }
        });
    });

    function AddToFilterMat() {
        var ind = 1;

        if (parseInt($('#total-mat').val()) > 0) {
            var result = $("#TextMaterial").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalMat').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextMaterial").val(result);
        }
    }

    $("#btnsearchSup").click(function () {
        var FormType = $('#FormType').val();
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $('#DDLPeriod').val();
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            MCBStatus = MCBStatus.substring(0, MCBStatus.length - 3);

    $.ajax({
        url: "@(Url.Action("GetSupplierData"))",
        data: { FormType: FormType, DDLBusinessUnit: DDLBusinessUnit, StartDate: StartDate, EndDate: EndDate, DDLPeriod: DDLPeriod, MCBStatus: MCBStatus },
    cache: false,
        type: "POST",
    success: function (data) {
        if (data.result == "") {
            var table = $("#tblModalSup").DataTable();
            table.destroy();
            $("#tblModalSup").empty();

            var cols = [];
            $.each(data.tblcols, function (key, val) {
                var obj = { title: val };
                cols.push(obj);
            });

            var rows = [];
            var total = 0;
            $.each(data.tblrows, function (key, val) {
                var row = Object.values(val);
                rows.push(row);
                total++;
            });

            $('#total-Sup').val(total);
            if (total > 0) {
                table = $("#tblModalSup").DataTable({
                    "columns": cols,
                    "data": rows,
                    "deferRender": true,
                    "columnDefs": [
                        {
                            "targets": 0,
                            "checkboxes": {
                                "selectRow": false
                            }
                        }
                    ],
                    "select": {
                        "style": 'multi'
                    },
                    "order": [[1, 'asc']]
                });
            }

        } else {
            swal('', data.result, 'error');
            $('#modal-Sup').modal('hide');
        }
    },
    error: function (err) {
        swal('', err.responseText, 'error');
        $('#modal-Sup').modal('hide');
    }
    });
    });


    function AddToFilterSup() {
        var ind = 1;

        if (parseInt($('#total-Sup').val()) > 0) {
            var result = $("#TextSupplier").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalSup').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextSupplier").val(result);
        }
    }

    $('#btnViewReport').click(function () {
        var FormType = $('#FormType').val();
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var DDLDepartment = $('#DDLDepartment').val();
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $('#DDLPeriod').val();
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            MCBStatus = MCBStatus.substring(0, MCBStatus.length - 3);
        var DDLNomor = $('#DDLNomor').val();
        var TextPr = $('#TextPr').val();
        var TextPo = $('#TextPo').val();
        var TextSupplier = $('#TextSupplier').val();
        var TextMaterial = $('#TextMaterial').val();
        var DDLGrouping = $('#DDLGrouping').val();
        var DDLPono = $('#DDLPono').val();
        var DDLSorting = $('#DDLSorting').val();
        var DDLOrderBy = $('#DDLOrderBy').val();
        var ReportType = "";
        var DDLType = $('#DDLType').val();

        $.ajax({
            url: "@(Url.Action("PrintReportInPrice"))",
            data: { FormType: FormType, DDLBusinessUnit: DDLBusinessUnit, DDLDepartment: DDLDepartment, StartDate: StartDate, EndDate: EndDate, DDLPeriod: DDLPeriod, MCBStatus_Tx: MCBStatus, DDLNomor: DDLNomor, TextMaterial: TextMaterial, TextPr: TextPr, TextPo: TextPo, DDLGrouping: DDLGrouping, DDLSorting: DDLSorting, DDLOrderBy: DDLOrderBy, ReportType: ReportType, DDLType: DDLType, DDLPono: DDLPono, TextSupplier: TextSupplier },
            cache: false,
            type: "POST",
            success: function (data) {
                $('#ReportFrame').attr("src", "@Url.Content("~/Other/ReportViewer.aspx?rptfile=")" + data.rptfile + "");
                pleaseWaitDialog.show();
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });

    $('#btnExportPDF').click(function () {
        $('#ReportType').val('PDF');
        $('#StartDate').val($('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $('#EndDate').val($('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY'));
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            $('#MCBStatus_Tx').val(MCBStatus.substring(0, MCBStatus.length - 3));
        $('#btnSubmit').click();
    });

    $('#btnExportExcel').click(function () {
        $('#ReportType').val('XLS');
        $('#StartDate').val($('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $('#EndDate').val($('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY'));
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            $('#MCBStatus_Tx').val(MCBStatus.substring(0, MCBStatus.length - 3));
        $('#btnSubmit').click();
    });

    $('#ReportFrame').on('load', function () {
        pleaseWaitDialog.hide();
    });
</script>