﻿@{
    ViewBag.Title = "" + ViewBag.FormType + " Received Report";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>@ViewBag.FormType Received Report</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm("PrintReport", "ReceivedReport"))
                {
                    <div class="box-body">
                        <div class="container-fluid">
                            @Html.Hidden("FormType")
                            @Html.Hidden("MCBStatus_Tx")
                            @Html.Hidden("StartDate")
                            @Html.Hidden("EndDate")
                            @Html.Hidden("ReportType")
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLBusinessUnit", null, "ALL", new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Type</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLType", new List<SelectListItem>
                                            {
                                               new SelectListItem { Text = "Summary", Value = "Summary" },
                                               new SelectListItem { Text = "Detail", Value = "Detail" }
                                            }, new { @class = "form-control select2", @onchange = "ChangeType()" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            @Html.DropDownList("DDLPeriod", new List<SelectListItem>
                                            {
                                               new SelectListItem { Text = "MR Date", Value = "mrm.mrrawdate" },
                                               new SelectListItem { Text = "Post Date", Value = "mrm.updtime" },
                                               new SelectListItem { Text = "GRIR Date", Value = "mrm.grirposttime" }
                                            }, new { @class = "form-control select2" })
                                        </label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("TextPeriod", new { htmlAttributes = new { @class = "form-control daterangepicker", @type = "text" } })
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-8">
                                            @{
                                                var i = 0;
                                                foreach (var st in ViewBag.MCBStatus)
                                                {
                                                    <label class="col-md-4 control-label text-sm">@Html.CheckBox("MCBStatus_" + i++, new { @class = "MCBStatus", @checked = "", @value = @st }) @st </label>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Divisi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("ddldivgroupoid", null, new { @class = "form-control", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Supplier Type</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLSupType", new List<SelectListItem>
                                            {
                                               new SelectListItem { Text = "ALL", Value = "" },
                                               new SelectListItem { Text = "TAX", Value = "1" },
                                               new SelectListItem { Text = "NON TAX", Value = "0" }
                                            }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Supplier</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextSup", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchsup" class="btn btn-link" data-toggle="modal" data-target="#modal-sup"><i class="fa fa-search"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Reg Type</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLRegType", new List<SelectListItem>
                                            {
                                               new SelectListItem { Text = "ALL", Value = "" },
                                               new SelectListItem { Text = "IMPORT", Value = "IMPORT" },
                                               new SelectListItem { Text = "LOCAL", Value = "LOCAL" }
                                            }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="display:none;">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Reg No. </label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextRegno", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchregno" class="btn btn-link" data-toggle="modal" data-target="#modal-regno"><i class="fa fa-search"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            @Html.DropDownList("DDLNomor", new List<SelectListItem>
                                            {
                                               new SelectListItem { Text = "MR No.", Value = "mrm.mrrawno" },
                                               new SelectListItem { Text = "Draft No.", Value = "mrm.mrrawmstoid" }
                                            }, new { @class = "form-control select2" })
                                        </label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextNomor", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchrec" class="btn btn-link" data-toggle="modal" data-target="#modal-rec"><i class="fa fa-search"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="divfordtl" style="display: none;">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Material</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextMaterial", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchmat" class="btn btn-link" data-toggle="modal" data-target="#modal-mat">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Grouping</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLGrouping", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="MR No.", Value="mrm.mrrawno" },
                                                new SelectListItem { Text="Material Code", Value="matrawcode" },
                                                new SelectListItem { Text="Supplier", Value="s.suppname" }
                                            }, new { @class = "form-control select2", @onchange = "ChangeGroup()" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Sorting</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLSorting", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="MR No.", Value="mrm.mrrawno" },
                                                new SelectListItem { Text="Material Code", Value="matrawcode" }
                                            }, new { @class = "form-control select2" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLOrderBy", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="ASC", Value="ASC" },
                                                new SelectListItem { Text="DESC", Value="DESC" }
                                            }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" id="btnSubmit" style="display: none;">Submit</button>
                        <button type="button" id="btnViewReport" class="btn btn-primary btn-md"><b>View Report</b></button>
                        <button type="button" id="btnExportPDF" class="btn btn-danger btn-md"><b>Export to PDF</b></button>
                        <button type="button" id="btnExportExcel" class="btn btn-success btn-md"><b>Export to Excel</b></button>
                        <a href="@Url.Action("Report/" + ViewBag.FormType.Replace(" ", ""))" type="button" class="btn btn-default btn-md"><b>Clear</b></a>
                    </div>
                                                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe id="ReportFrame" src="" style="border: none; width: 100%; height: 1000px;"></iframe>
        </div>
    </div>

    @* MODAL UNTUK SUPPLIER *@
    <div class="modal fade" id="modal-sup">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Supplier Data</h4>
                    @Html.Hidden("total-sup")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSup" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterSup()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SUPPLIER *@

    @* MODAL UNTUK REG NO. *@
    <div class="modal fade" id="modal-regno">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">MR Registration Data</h4>
                    @Html.Hidden("total-regno")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalRegno" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterRegno()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK REG NO *@

    @* MODAL UNTUK REC MR NO. *@
    <div class="modal fade" id="modal-rec">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">@ViewBag.FormType Received Data</h4>
                    @Html.Hidden("total-rec")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalRec" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterRec()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK REC MR No *@

    @* MODAL UNTUK MATERIAL *@
    <div class="modal fade" id="modal-mat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">@ViewBag.FormType Data</h4>
                    @Html.Hidden("total-mat")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterMat()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK MATERIAL *@
</section>

@* Ketiga script ini harus ada di semua view *@
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    function ChangeType() {
        var DDLType = $('#DDLType').val();
        var markupsort = "<option value=\'mrm.mrrawno\'>MR No.</option><option value=\'matrawcode\'>Material Code</option>";
        if (DDLType == "Summary") {
            $('#divfordtl').hide();
        } else {
            $('#divfordtl').show();
            markupsort = "<option value=\'matrawcode\'>Material Code</option>";
        }
        $('#DDLSorting').html(markupsort).show();
        $('#DDLGrouping').val($('#DDLGrouping option:first').val()).trigger('change');
    }

    function ChangeGroup() {
        var DDLGrouping = $('#DDLGrouping').val();
        var markupsort = "<option value=\'matrawcode\'>Material Code</option>";
        if (DDLGrouping == "matrawcode") {
            markupsort = "<option value=\'s.suppname\'>Supplier</option><option value=\'mrm.mrrawno\'>MR No. </option>";
        } else if (DDLGrouping == "s.suppname") {
            markupsort = "<option value=\'mrm.mrrawno\'>MR No. </option><option value=\'matrawcode\'>Material Code</option>";
        }
        $('#DDLSorting').html(markupsort).show();
    }

    $("#btnsearchsup").click(function () {
        var FormType = $('#FormType').val();
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $('#DDLPeriod').val();
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            MCBStatus = MCBStatus.substring(0, MCBStatus.length - 3);
        var DDLSupType = $('#DDLSupType').val();

        $.ajax({
            url: "@(Url.Action("GetSupplierData"))",
            data: { FormType: FormType, DDLBusinessUnit: DDLBusinessUnit, StartDate: StartDate, EndDate: EndDate, DDLPeriod: DDLPeriod, MCBStatus: MCBStatus, DDLSupType: DDLSupType },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var table = $("#tblModalSup").DataTable();
                    table.destroy();
                    $("#tblModalSup").empty();

                    var cols = [];
                    $.each(data.tblcols, function (key, val) {
                        var obj = { title: val };
                        cols.push(obj);
                    });

                    var rows = [];
                    var total = 0;
                    $.each(data.tblrows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                        total++;
                    });

                    $('#total-sup').val(total);
                    if (total > 0) {
                        table = $("#tblModalSup").DataTable({
                            "columns": cols,
                            "data": rows,
                            "deferRender": true,
                            "columnDefs": [
                                {
                                    "targets": 0,
                                    "checkboxes": {
                                        "selectRow": false
                                    }
                                }
                            ],
                            "select": {
                                "style": 'multi'
                            },
                            "order": [[1, 'asc']]
                        });
                    }

                } else {
                    swal('', data.result, 'error');
                    $('#modal-sup').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-sup').modal('hide');
            }
        });
    });

    function AddToFilterSup() {
        var ind = 1;

        if (parseInt($('#total-sup').val()) > 0) {
            var result = $("#TextSup").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalSup').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextSup").val(result);
        }
    }

    $('#btnsearchregno').click(function () {
        var FormType = $('#FormType').val();
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $('#DDLPeriod').val();
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            MCBStatus = MCBStatus.substring(0, MCBStatus.length - 3);
        var TextSup = $('#TextSup').val();
        var DDLSupType = $('#DDLSupType').val();
        var DDLRegType = $('#DDLRegType').val();

        $.ajax({
            url: "@(Url.Action("GetRegnoData"))",
            data: { FormType: FormType, DDLBusinessUnit: DDLBusinessUnit, StartDate: StartDate, EndDate: EndDate, DDLPeriod: DDLPeriod, MCBStatus: MCBStatus, TextSup: TextSup, DDLSupType: DDLSupType, DDLRegType: DDLRegType },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var table = $('#tblModalRegno').DataTable();
                    table.destroy();
                    $('#tblModalRegno').empty();

                    var cols = [];
                    $.each(data.tblcols, function (key, val) {
                        var obj = { title: val };
                        cols.push(obj);
                    });

                    var rows = [];
                    var total = 0;
                    $.each(data.tblrows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                        total++;
                    });

                    $('#total-regno').val(total);
                    if (total > 0) {
                        table = $('#tblModalRegno').DataTable({
                            "columns": cols,
                            "data": rows,
                            "deferRender": true,
                            "columnDefs": [
                                {
                                    "targets": 0,
                                    "checkboxes": {
                                        "selectRows": false
                                    }
                                }
                            ],
                            "select": {
                                "style": 'multi'
                            },
                            "order": [[1, 'asc']]
                        });
                    }

                } else {
                    swal('', data.result, 'error');
                    $('#modal-regno').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-regno').modal('hide');
            }
        });
    })

    function AddToFilterRegno() {
        var ind = 2;

        if (parseInt($('#total-regno').val()) > 0) {
            var result = $("#TextRegno").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalRegno').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextRegno").val(result);
        }
    }

    $('#btnsearchrec').click(function () {
        var FormType = $('#FormType').val();
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $('#DDLPeriod').val();
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            MCBStatus = MCBStatus.substring(0, MCBStatus.length - 3);
        var TextSup = $('#TextSup').val();
        var TextRegno = $('#Regno').val();
        var DDLSupType = $('#DDLSupType').val();
        var DDLRegType = $('#DDLRegType').val();

        $.ajax({
            url: "@(Url.Action("GetRecData"))",
            data: { FormType: FormType, DDLBusinessUnit: DDLBusinessUnit, StartDate: StartDate, EndDate: EndDate, DDLPeriod: DDLPeriod, MCBStatus: MCBStatus, TextSup: TextSup, TextRegno: TextRegno, DDLSupType: DDLSupType, DDLRegType: DDLRegType },
        cache: false,
        type: "POST",
        success: function (data) {
            if (data.result == "") {
                var table = $('#tblModalRec').DataTable();
                table.destroy();
                $('#tblModalRec').empty();

                var cols = [];
                $.each(data.tblcols, function (key, val) {
                    var obj = { title: val };
                    cols.push(obj);
                });

                var rows = [];
                var total = 0;
                $.each(data.tblrows, function (key, val) {
                    var row = Object.values(val);
                    rows.push(row);
                    total++;
                });

                $('#total-rec').val(total);
                if (total > 0) {
                    table = $('#tblModalRec').DataTable({
                        "columns": cols,
                        "data": rows,
                        "deferRender": true,
                        "columnDefs": [
                            {
                                "targets": 0,
                                "checkboxes": {
                                    "selectRows": false
                                }
                            }
                        ],
                        "select": {
                            "style": 'multi'
                        },
                        "order": [[1, 'asc']]
                    });
                }

            } else {
                swal('', data.result, 'error');
                $('#modal-rec').modal('hide');
            }
        },
        error: function (err) {
            swal('', err.responseText, 'error');
            $('#modal-rec').modal('hide');
        }
    });
    })

    function AddToFilterRec() {
        var ind = 2;
        if ($("#DDLNomor option:selected").val() == "Draft No.")
            ind = 1;

        if (parseInt($('#total-rec').val()) > 0) {
            var result = $("#TextNomor").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalRec').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextNomor").val(result);
        }
    }

    $("#btnsearchmat").click(function () {
        var FormType = $('#FormType').val();
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $('#DDLPeriod').val();
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            MCBStatus = MCBStatus.substring(0, MCBStatus.length - 3);
        var TextSup = $('#TextSup').val();
        var TextRegno = $('#Regno').val();
        var DDLSupType = $('#DDLSupType').val();
        var DDLRegType = $('#DDLRegType').val();
        var DDLNomor = $('#DDLNomor').val();
        var TextNomor = $('#TextNomor').val();

        $.ajax({
            url: "@(Url.Action("GetMaterialData"))",
            data: { FormType: FormType, DDLBusinessUnit: DDLBusinessUnit, StartDate: StartDate, EndDate: EndDate, DDLPeriod: DDLPeriod, MCBStatus: MCBStatus, TextSup: TextSup, TextRegno: TextRegno, DDLSupType: DDLSupType, DDLRegType: DDLRegType, DDLNomor: DDLNomor, TextNomor: TextNomor },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var table = $("#tblModalMat").DataTable();
                    table.destroy();
                    $("#tblModalMat").empty();

                    var cols = [];
                    $.each(data.tblcols, function (key, val) {
                        var obj = { title: val };
                        cols.push(obj);
                    });

                    var rows = [];
                    var total = 0;
                    $.each(data.tblrows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                        total++;
                    });

                    $('#total-mat').val(total);
                    if (total > 0) {
                        table = $("#tblModalMat").DataTable({
                            "columns": cols,
                            "data": rows,
                            "deferRender": true,
                            "columnDefs": [
                                {
                                    "targets": 0,
                                    "checkboxes": {
                                        "selectRow": false
                                    }
                                }
                            ],
                            "select": {
                                "style": 'multi'
                            },
                            "order": [[1, 'asc']]
                        });
                    }

                } else {
                    swal('', data.result, 'error');
                    $('#modal-mat').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-mat').modal('hide');
            }
        });
    });

    function AddToFilterMat() {
        var ind = 1;

        if (parseInt($('#total-mat').val()) > 0) {
            var result = $("#TextMaterial").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalMat').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextMaterial").val(result);
        }
    }

    $('#btnViewReport').click(function () {
        var FormType = $('#FormType').val();
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $('#DDLPeriod').val();
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            MCBStatus = MCBStatus.substring(0, MCBStatus.length - 3);
        var TextSup = $('#TextSup').val();
        var TextRegno = $('#Regno').val();
        var DDLSupType = $('#DDLSupType').val();
        var DDLRegType = $('#DDLRegType').val();
        var DDLNomor = $('#DDLNomor').val();
        var TextNomor = $('#TextNomor').val();
        var TextMaterial = $('#TextMaterial').val();
        var DDLGrouping = $('#DDLGrouping').val();
        var DDLSorting = $('#DDLSorting').val();
        var DDLOrderBy = $('#DDLOrderBy').val();
        var ReportType = "";
        var DDLType = $('#DDLType').val();
        var DDLdivgroupoid = $('#ddldivgroupoid option:selected').val();

        $.ajax({
            url: "@(Url.Action("PrintReport"))",
            data: { FormType: FormType, DDLBusinessUnit: DDLBusinessUnit, StartDate: StartDate, EndDate: EndDate, DDLPeriod: DDLPeriod, MCBStatus_Tx: MCBStatus, TextSup: TextSup, TextRegno: TextRegno, DDLSupType: DDLSupType, DDLRegType: DDLRegType, DDLNomor: DDLNomor, TextNomor: TextNomor, TextMaterial: TextMaterial, DDLGrouping: DDLGrouping, DDLSorting: DDLSorting, DDLOrderBy: DDLOrderBy, ReportType: ReportType, DDLType: DDLType, DDLdivgroupoid: DDLdivgroupoid },
            cache: false,
            type: "POST",
            success: function (data) {
                $('#ReportFrame').attr("src", "@Url.Content("~/Other/ReportViewer.aspx?rptfile=")" + data.rptfile + "");
                pleaseWaitDialog.show();
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });

    $('#btnExportPDF').click(function () {
        $('#ReportType').val('PDF');
        $('#StartDate').val($('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $('#EndDate').val($('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY'));
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            $('#MCBStatus_Tx').val(MCBStatus.substring(0, MCBStatus.length - 3));
        $('#btnSubmit').click();
    });

    $('#btnExportExcel').click(function () {
        $('#ReportType').val('XLS');
        $('#StartDate').val($('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $('#EndDate').val($('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY'));
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            $('#MCBStatus_Tx').val(MCBStatus.substring(0, MCBStatus.length - 3));
        $('#btnSubmit').click();
    });

    $('#ReportFrame').on('load', function () {
        pleaseWaitDialog.hide();
    });
</script>