﻿@model RSA.Models.DB.QL_mstitem

@{
    ViewBag.Title = "Barang R-PULP";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    string CompnyCode = System.Configuration.ConfigurationManager.AppSettings["CompnyCode"];
}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Barang R-PULP
        </h1>

    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary form-horizontal">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                                    <!-- /.box-header -->
                        <div class="box-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.cmpcode)
                            @Html.HiddenFor(model => model.itemoid)
                            @Html.HiddenFor(model => model.cat4oid)
                            @Html.HiddenFor(model => model.divgroupoid)
                            @Html.HiddenFor(model => model.cat3oid)
                            @Html.HiddenFor(model => model.cat2oid)
                            @Html.HiddenFor(model => model.boxoid)
                            @Html.HiddenFor(model => model.upduser)
                            @Html.HiddenFor(model => model.updtime)
                            @Html.HiddenFor(model => model.createuser)
                            @Html.HiddenFor(model => model.createtime)
                            @Html.HiddenFor(model => model.berat1)
                            @Html.HiddenFor(model => model.berat2)
                            @Html.HiddenFor(model => model.berat4)
                            @Html.HiddenFor(model => model.berat3)
                            @Html.HiddenFor(model => model.berat5)
                            @Html.HiddenFor(model => model.tipefg)
                            @Html.Hidden("action")
                            <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
                            @*<form action="#" method="post" role="form">                                
                            </form>*@

                            <div class="box-body">
                                <div class="row">
                                    <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                                </div>
                              
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Kode <label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.itemcode, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                           
                                        </div>
                                    </div>
                                </div><br>
                               

                                <div class="row">
                                    <div class="col-md-6" style="display:none">
                                        <label class="col-md-4">Kategori 3</label>
                                        <div class="col-md-5">
                                            @*@Html.DropDownListFor(model => model.cat3oid, null, new { @id = "cat3oid", @class = "form-control select2", @onchange = "cat3change()" })*@
                                            @*@Html.ValidationMessageFor(model => model.cat3oid, "", new { @id = "cat3oid", @class = "text-danger" })*@
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="display:none">
                                        <label class="col-md-4">Kategori 4</label>
                                        <div class="col-md-5">
                                            @*@Html.DropDownListFor(model => model.cat4oid, null, new { @id = "cat4oid", @class = "form-control select2" })*@
                                            @*@Html.ValidationMessageFor(model => model.cat4oid, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div><br>

                               

                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Short Desc</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.itemshortdesc, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100", @style = "text-transform:uppercase" } })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-4">Long Desc <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.itemlongdesc, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "250", @style = "text-transform:uppercase" } })
                                            @Html.ValidationMessageFor(model => model.itemlongdesc, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div><br>

                                <div class="row">
                                   
                                    <div class="col-lg-6">
                                        <div class="col-lg-4" style="padding-top: 10px;">
                                            <label>Note</label>
                                        </div>
                                        <div class="col-lg-7">
                                            @Html.EditorFor(model => model.itemnote, new { htmlAttributes = new { @class = "form-control", @type = "text",  @maxlength = "800" } })
                                            @Html.EditorFor(model => model.itemnote2, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "800" } })
                                            @Html.EditorFor(model => model.itemnote3, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "800" } })
                                        </div>
                                    </div>
                                </div><br>
                             
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4">
                                            <label>Pic. Material</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="input-group">
                                                <input type="file" class="form-control" onchange="previewImage2(this);" id="itempicturemat2" accept=".jpg, .png, .jpeg, .gif, .bmp " style="padding-top:5px;padding-left:5px;">
                                                @Html.HiddenFor(model => model.itempicturemat)
                                                @*<input type="file" id="itempicturemat" alt="Submit" class="m-t-10 flex-c-m sizefull color1 s-text1 trans-0-4 " width="100%" onchange="previewImage2(this);">
                                                @Html.HiddenFor(model => model.itempicturemat, new { @class = "form-control", @id = "picturepath" })*@
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div><br>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4" style="padding-top: 10px">
                                            <label></label>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="box box-body" style="height: 200px;width: 300px;">
                                                @{
                                                    var src2 = Html.DisplayFor(model => model.itempicturemat).ToString();
                                                    if (!File.Exists(Server.MapPath(src2)))
                                                    {
                                                        src2 = "~/Content/dist/img/preview.png";
                                                    }
                                                }
                                                <img src="@Url.Content(src2)" alt="IMG-PRODUCT" id="image-preview2" width="100%" height="100%">
                                            </div>
                                        </div>

                                    </div>
                                    
                                </div><br>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4" style="padding-top: 10px;">
                                            <label>SATUAN</label>
                                        </div>
                                        <div class="col-lg-4">
                                            @Html.DropDownListFor(model => model.itemunitoid, null, new { @id = "itemunitoid", @class = "form-control select2" })
                                            @Html.ValidationMessageFor(model => model.itemunitoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                   
                                </div><br>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4" style="padding-top: 10px;">
                                            <label>Status</label>
                                        </div>
                                        <div class="col-lg-4">
                                            @Html.DropDownListFor(model => model.activeflag, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                                new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                                              }, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                                <br>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4" style="padding-top: 10px;">
                                            <label>Last SO Price</label>
                                        </div>
                                        <div class="col-lg-4">
                                            @Html.EditorFor(model => model.itemlastsoprice, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @maxlength = "100", @readonly="" } })
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-4" style="padding-top: 10px;">
                                            <label>Avg. Sales Price</label>
                                        </div>
                                        <div class="col-lg-4">
                                            @Html.EditorFor(model => model.itemavgsales, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @maxlength = "100", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <br>

                              

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-sm-12">

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="box-footer">
                            <div class="pull-left">
                                @{
                                    if (ViewBag.action == "Edit")
                                    {
                                        @:Created by @(Html.DisplayFor(model => model.createuser)) On @(Html.DisplayFor(model => model.createtime))
                                        @:<br /> Last Update by @(Html.DisplayFor(model => model.upduser)) On @(Html.DisplayFor(model => model.updtime))
                                    }
                                }
                            </div>
                            <div class="pull-right">
                                <button type="submit" class="btn btn-success" id="btnSave"><b>Save</b></button>
                                <a href="#" class="btn btn-default">Batal</a>
                                <a href="@Url.Action("Index")" type="button" class="btn btn-primary btn-md"><b>Back</b></a>
                            </div>
                        </div>
                    }
                    <!-- /.box-body -->
                </div>
            </div>
        </div>

        @* MODAL UNTUK CUSTOMER *@
        <div class="modal fade" id="modal-supp">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Customer</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>Kode</th>
                                        <th></th>
                                        <th>Kode</th>
                                        <th>Nama</th>
                                        <th>Alamat</th>
                                        <th>Kota</th>
                                        <th>Telp.</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                    </div>
                </div>
            </div>
        </div>
        @* AKHIR MODAL UNTUK CUSTOMER *@
    </section>



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    function previewImage1(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image-preview1')
                .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    function previewImage2(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image-preview2')
                .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }


    $('#itempicturemat2').on('change', function (e) {
        var url = "@(Url.Action("UploadFileMat"))";
        var files = e.target.files;

        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: url,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {
                        console.log(data);
                        if (data.result == "Sukses") {
                            $('#itempicturemat').val(data.picturepath);
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });
</script>

<script>
    $(document).ready(function () {

        var action = $('#action').val();
        if (action == "New Data") {

        }


    })




    

</script>

<script language="javascript" type="text/javascript">
    $("#btnsearchsupp").click(function () {
        var table = $('#tblModalSupp').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSupp"))",
            data: { cmp: '@CompnyCode' },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        //JSON.stringify(val),
                        val,
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.suppcode,
                        val.suppname,
                        val.suppaddr, //moment(jsDate(val.requiredate)).format('MM/DD/YYYY'),
                        val.CityDesc,
                        val.suppphone1
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    function clickDelete() {
        var oid = $("#cat1oid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Apakah Anda yakin untuk menghapus data ini?',
            text: "Data yang sudah dihapus tidak akan bisa dikembalikan!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Ya, hapus data ini!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                success: function (data) {
                    if (data.result == 'sukses') {
                        Swal(
                          'Terhapus!',
                          'Data sudah dihapus.',
                          'success'
                        )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                          'Gagal menghapus data!',
                          data.msg,
                          'warning'
                        )
                    }

                },
                error: function (error) {
                    console.dir(error)
                }
            });

        }
        })
    }
    $("#btnSave").click(function () {
        SetDataDtl();
    });


    

</script>