﻿@model RSA.Models.DB.QL_pritemmst

@{
    ViewBag.Title = "Permintaan Beli Barang Jadi";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    string CompnyCode = Session["CompnyCode"].ToString();
}

<section class="content-header">
    <h1>Form Permintaan Beli Barang Jadi</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Permintaan Beli Barang Jadi Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.divoid)
                        @Html.HiddenFor(model => model.pritemtype)
                        @Html.HiddenFor(model => model.pritemmstres1)
                        @Html.HiddenFor(model => model.pritemmstres2)
                        @Html.HiddenFor(model => model.pritemmstres3)
                        @Html.HiddenFor(model => model.approvalcode)
                        @Html.HiddenFor(model => model.approvaldatetime)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.revisetime)
                        @Html.HiddenFor(model => model.rejecttime)
                        @Html.HiddenFor(model => model.closereason)
                        @Html.HiddenFor(model => model.closeuser)
                        @Html.HiddenFor(model => model.closetime)
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Draft No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.pritemmstoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">PR No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.pritemno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @value = "PRFG-" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Departemen <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.deptoid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.deptoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group" style="display:none">
                                        <label class="col-md-4 control-label">Require No.</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @*@Html.Editor("requireno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @value = "1" } })*@
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchreq" class="btn btn-flat" data-toggle="modal" data-target="#modal-req">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @*@Html.HiddenFor(model => model.requiremstoid)*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Date</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.pritemdate, new { htmlAttributes = new { @class = "form-control datemask2", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Expired Date <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.pritemexpdate, new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.pritemexpdate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.pritemmstnote, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.pritemmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>Permintaan Beli Barang Jadi Detail</b></h3>
                    </div>
                    <div class="box-body">
                        <div class="container-fluid">
                            <div class="form-group">
                                <label id="i_u2" class="col-md-2 control-label text-red">New Detail</label>
                            </div>
                            <div class="row">
                                @(Html.Hidden("seq"))
                                @(Html.Hidden("itemcode"))
                                @(Html.Hidden("itemunitoid"))
                                @(Html.Hidden("itemunit"))
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl. Dibutuhkan </label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("pritemarrdatereq", new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessage("pritemarrdatereq", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-4">Bahan Pokok <label class="text-red">*</label></label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <input type="text" id="itemlongdesc" class="form-control" value="" readonly="readonly" />
                                            <span class="input-group-btn">
                                                <button type="button" id="btnsearchitem" class="btn btn-flat" data-toggle="modal" data-target="#modal-item" onclick="FadeModalItem()">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                        @(Html.Hidden("itemoid"))
                                        @Html.ValidationMessage("itemoid", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Qty</label>
                                        <div class="col-md-4">
                                            @Html.Editor("pritemqty", new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessage("pritemqty", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Qty Pembulatan</label>
                                        <div class="col-md-4">
                                            @Html.Editor("itemlimitqty", new { htmlAttributes = new { @id = "itemlimitqty", @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Catatan Detail</label>
                                        <div class="col-md-8">
                                            @Html.TextArea("pritemdtlnote", new { @class = "form-control", @maxlength = "100" })
                                            @Html.ValidationMessage("pritemdtlnote", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="pull-left">
                                @*<button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Add To List</b></button>*@
                                <button type="button" class="btn btn-primary" id="btnAddToList" onclick="AddToList()"><b>Add To List</b></button>
                                <button type="button" class="btn btn-secondary" onclick="clearDetail()"><b>Clear</b></button>
                            </div>
                        </div>
                    </div>


                    //DETAIL DATA LIST
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No.</th>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th>Qty</th>
                                        <th>Unit</th>
                                        <th>Arr. Date Req.</th>
                                        <th>Detail Note</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                if (Model.pritemmststatus == "In Process" | Model.pritemmststatus == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                    if (ViewBag.action == "Update Data")
                                    {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                    }
                                    <button type="button" class="btn btn-warning btn-md" id="btnSendForApproval"><b>Send For Approval</b></button>
                                }
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                            }
                        </div>
                    </div>
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK REQUIRE NO *@
    @*<div class="modal fade" id="modal-req">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Material Requirement Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalReq" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Require No</th>
                                    <th>Require Date</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>*@
    @* AKHIR MODAL UNTUK REQUIRE NO *@

    @* MODAL UNTUK RAW MATERIAL *@
    <div class="modal fade" id="modal-item">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Bahan Pokok</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalItem" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Kode</th>
                                    <th>Deskripsi</th>
                                    <th>Satuan</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR UNTUK RAW MATERIAL *@
</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        //SETTING LIST DETAIL
        $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0,9],
                "visible": false,
                "searchable": false
            }]
        });

        // Delete & Edit a record DETAIL
        var table = $('#DataDtl').DataTable();

        // Edit record
        table.on('click', '#edit', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }

            clearDetail();
            var data = table.row($tr).data();
            var alldata = JSON.parse(data[0])
            $('#i_u2').html("Edit Detail");
            $("#seq").val(data[1]);

            //$('#upmreftype').val(alldata.upmreftype).trigger('change');
            $('#itemoid').val(alldata.itemoid);
            $('#itemcode').val(alldata.itemcode);
            $('#itemlongdesc').val(alldata.itemlongdesc);
            $('#pritemarrdatereq').val(alldata.pritemarrdatereq);
            $('#pritemqty').val(alldata.pritemqty);
            $('#itemunitoid').val(alldata.itemunitoid);
            $('#itemunit').val(alldata.itemunit);
            $('#itemlimitqty').val(alldata.itemlimitqty);
            $('#pritemdtlnote').val(alldata.pritemdtlnote);

            //if ($('#upmrefno').val().length > 0) {
            //    $("#upmrefname").prop("readonly", true);
            //    $("#upmrefdesc").prop("readonly", true);
            //    $("#upmunit").prop("readonly", true);
            //}
        });

        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();

            var data = table.rows().data();
            //console.dir(data);

            //Mengurutkan nomor
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var row = table.row(i).data();
                    row[1] = i + 1;
                    table.row(i).data(row).invalidate();
                }
            }

            setDataDtl();
            e.preventDefault();
        });

        table.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        table.on("keypress keyup blur", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        //$("#tblModalReq").DataTable({
        //    "columnDefs": [
        //    {
        //        "targets": [0],
        //        "visible": false,
        //        "searchable": false
        //    }]
        //});

        //var tblModalReq = $("#tblModalReq").DataTable();
        //tblModalReq.on('click', '#select', function () {
        //    $tr = $(this).closest('tr');
        //    if ($($tr).hasClass('child')) {
        //        $tr = $tr.prev('.parent');
        //    }
        //    var data = tblModalReq.row($tr).data();
        //    var alldata = JSON.parse(data[0])
        //    $("#requireno").val(alldata.requireno);
        //    $("#requiremstoid").val(alldata.requiremstoid);
        //    $('#modal-req').modal('hide');
        //});

        //START MODAL LIST MATRAW
        //SETTING MODAL LIST MATRAW
        $('#tblModalItem').DataTable({
            "paging": true,
            "bFilter": true,
            "ordering": true,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        //SELECTED FROM MODAL RAW MATERIAL
        var tblModalItem = $('#tblModalItem').DataTable();

        tblModalItem.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }

            var data = tblModalItem.row($tr).data();
            //alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
            var alldata = data[0];

            $("#itemoid").val(alldata.itemoid);
            $("#itemlongdesc").val(alldata.itemlongdesc);
            $("#itemcode").val(alldata.itemcode);
            $("#itemunitoid").val(alldata.itemunitoid);
            $("#itemunit").val(alldata.itemunit);
            $('#itemlimitqty').val(alldata.itemlimitqty);

            $('#modal-item').modal('hide');
            $("#itemlimitqty").prop("readonly", true);
        });
        //END MODAL LIST MATRAW

        //FillDDLDept()
        FillDetailData();
    })

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                var edit = '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>';
                var remove = '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>';
                val.pritemarrdatereq = moment(jsDate(val.pritemarrdatereq)).format('MM/DD/YYYY');
                rows.push([
                    JSON.stringify(val),
                    val.pritemdtlseq,
                    val.itemcode,
                    val.itemlongdesc,
                    //'<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="pritemqty-' + val.prrawdtlseq + '" name="pritemqty-' + val.prrawdtlseq + '" value="' + val.pritemqty + '">',
                    val.pritemqty,
                    val.itemunit,
                    //'<input type="text" class="form-control datepicker" style="max-width: 100px" id="pritemarrdatereq-' + val.prrawdtlseq + '" name="pritemarrdatereq-' + val.prrawdtlseq + '" value="' + moment(jsDate(val.pritemarrdatereq)).format('MM/DD/YYYY') + '">',
                    val.pritemarrdatereq,
                    //'<input type="text" class="form-control" style="max-width: 150px" id="pritemdtlnote-' + val.prrawdtlseq + '" name="pritemdtlnote-' + val.prrawdtlseq + '" value="' + val.pritemdtlnote + '">',
                    val.pritemdtlnote,
                    edit,
                    remove
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        });
        //$("input[id*='pritemarrdatereq']").datepicker({
        //    format: 'mm/dd/yyyy',
        //    todayHighlight: true,
        //    autoclose: true
        //});
    }

    function FillDDLDept() {
        var cmpcode = CompnyCode;
        var deptoid = $("#deptoid");
        var deptoid_sel = $("#deptoid option:selected").val();
        deptoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLDepartment"))",
            data: { cmpcode: cmpcode },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.deptoid + "\'>" + val.deptname + "</option>";
                        if (val.deptoid == deptoid_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    deptoid.html(markup).show();
                    if (isExist == true) {
                        deptoid.val(deptoid_sel);
                    }
                    deptoid.trigger('change');
                } else {
                    deptoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    @*$("#btnAddToList").click(function () {
        var table = $('#tblModalDtl').DataTable();
        var reqoid = $('#requiremstoid').val();
        var cmp = $("#cmpcode option:selected").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmp: cmp, reqoid: reqoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        ++i,
                        val.prrawdtlseq,
                        val.itemcode,
                        val.itemlongdesc,
                        '<input type="text" class="form-control numberonly" style="max-width: 80px" id="pritemqty-' + i + '" name="pritemqty-' + i + '" value="' + val.pritemqty + '">',
                        val.itemunit,
                        '<input type="text" class="form-control datepicker datemask2" style="max-width: 100px" id="pritemarrdatereq-' + i + '" name="pritemarrdatereq-' + i + '" value="' + moment(jsDate(val.pritemarrdatereq)).format('MM/DD/YYYY') + '">',
                        '<input type="text" class="form-control" style="max-width: 150px" id="pritemdtlnote-' + i + '" name="pritemdtlnote-' + i + '" value="' + val.pritemdtlnote + '">'
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });*@

    function IsOnDtl(itemoid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (itemoid == alldata.itemoid) {
                return true;
            }
        }
        return false;
    }

    @*function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var pritemarrdatereq_id = "#pritemarrdatereq-" + (i + 1);
            var pritemqty_id = "#pritemqty-" + (i + 1);
            var pritemdtlnote_id = "#pritemdtlnote-" + (i + 1);
            var pritemarrdatereq = table.$(pritemarrdatereq_id).val();
            var pritemqty = table.$(pritemqty_id).val();
            var pritemdtlnote = table.$(pritemdtlnote_id).val();
            var obj = {
                prrawdtlseq: i + 1,
                itemoid: alldata.itemoid,
                itemcode: alldata.itemcode,
                itemlongdesc: alldata.itemlongdesc,
                itemlimitqty: alldata.itemlimitqty,
                pritemqty: pritemqty,
                itemunitoid: alldata.itemunitoid,
                itemunit: alldata.itemunit,
                pritemarrdatereq: pritemarrdatereq,
                pritemdtlnote: pritemdtlnote,
                requiredtloid: alldata.requiredtloid,
                requireqty: alldata.requireqty
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }*@

    @*$("#btnsearchreq").click(function () {
        var table = $('#tblModalReq').DataTable();
        var cmp = $("#cmpcode option:selected").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetRequireData"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.requireno,
                        moment(jsDate(val.requiredate)).format('MM/DD/YYYY'),
                        val.requiremstnote
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });*@

    $("#btnDelete").click(function () {
        var oid = $("#pritemmstoid").val();
        var cmp = $("#cmpcode").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnSendForApproval").click(function () {
        $("#pritemmststatus").val("In Approval");

        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for APPROVAL?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>

<script language="javascript" type="text/javascript">
    function FadeModalItem() {
        var table = $('#tblModalItem').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetItem"))",
            data: { cmp: 'RSA' },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        //JSON.stringify(val),
                        val,
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.itemcode,
                        val.itemlongdesc,
                        val.itemunit,
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    //START ADD TO LIST TO DETAIL
    function AddToList() {
        var table = $('#DataDtl').DataTable();
        //var upmreftype = $('#upmreftype option:selected').val();
        var pritemarrdatereq = $('#pritemarrdatereq').val();
        var itemoid = $('#itemoid').val();
        var itemlongdesc = $('#itemlongdesc').val();
        var itemcode = $('#itemcode').val();
        var pritemqty = $('#pritemqty').val();
        var itemunitoid = $('#itemunitoid').val();
        var itemunit = $('#itemunit').val();
        var itemlimitqty = $('#itemlimitqty').val();
        var pritemdtlnote = $('#pritemdtlnote').val();

        var isValid = true;

        if (itemoid.length > 0) {
            $("[data-valmsg-for=itemoid]").html("");
        } else {
            isValid = false;
            $("[data-valmsg-for=itemoid]").html("Pilih Barang !");
        }
        if (pritemqty.length > 0) {
            $("[data-valmsg-for=pritemqty]").html("");
        } else {
            isValid = false;
            $("[data-valmsg-for=pritemqty]").html("Isi Qty");
        }

        if (isValid) {
            var obj = {
                pritemarrdatereq : pritemarrdatereq,
                itemoid : itemoid,
                itemlongdesc: itemlongdesc,
                itemcode: itemcode,
                pritemqty: pritemqty,
                itemunitoid: itemunitoid,
                itemunit: itemunit,
                itemlimitqty : itemlimitqty,
                pritemdtlnote : pritemdtlnote
            }

            if ($('#i_u2').html() == "Edit Detail") { //EDIT DATA
                var id = parseInt($("#seq").val()) - 1;
                if (isOnDtl(itemoid, id + 1)) {
                    $('[data-valmsg-for=itemoid]').html("Barang sudah pernah di tambahkan").show();
                } else {
                    var row = table.row(id).data();
                    row[0] = JSON.stringify(obj);
                    row[2] = itemcode;
                    row[3] = itemlongdesc;
                    row[4] = pritemqty;
                    row[5] = itemunit;
                    row[6] = pritemarrdatereq;
                    row[7] = pritemdtlnote;
                    table.row(id).data(row).invalidate();
                    clearDetail();
                    setDataDtl();
                }
            } else {
                var id = table.rows().data().length + 1;//menambahkan data ke tabel
                if (isOnDtl(itemoid, -1)) {
                    $('[data-valmsg-for=itemoid]').html("Barang sudah pernah di tambahkan").show();
                } else {
                    table.row.add([
                        JSON.stringify(obj),
                        id,
                        itemcode,
                        itemlongdesc,
                        pritemqty,
                        itemunit,
                        pritemarrdatereq,
                        pritemdtlnote,
                        '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                    clearDetail();
                    setDataDtl();
                }
            }
        }
    }

    function isOnDtl(itemoid, seq) { //cek apa data sudah pernah ditambahkan
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        //console.dir(data);

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (itemoid == alldata.itemoid && data[i][1] != seq && itemoid != 0) {
                return true;
            }
        }
        return false;
    }

    function clearDetail() {//clear field data detail
        $('#i_u2').html("New Detail");
        $('#seq').val(0);

        //$("select#upmreftype")[0].selectedIndex = 0;
        $('#itemcode').val("");
        $("#itemoid").val(0);
        $("#itemlongdesc").val("");
        $("#pritemqty").val(0);
        $('#itemunitoid').val("");
        $("#itemunit").val("");
        $("#itemlimitqty").val(0);
        $("#pritemdtlnote").val("");

        //$("#upmrefname").prop("readonly", false);
        //$("#upmrefdesc").prop("readonly", false);
        //$("#upmunit").prop("readonly", false);
    }

    function setDataDtl() {//mengirim data table ke controler
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();

        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0])
            rows.push(alldata);
        }
        //console.dir(rows);
        //console.dir(JSON.stringify(rows));
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }
    //END ADD TO LIST TO DETAIL
</script>