﻿@model IEnumerable<RSA.Controllers.PRFinishGoodController.pritemmst>

@{
    ViewBag.Title = "Permintaan Beli Barang Jadi";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //var servertime = RSA.Controllers.ClassFunction.GetServerTime();
}

<section class="content-header">
    <h1>List Permintaan Beli Barang Jadi</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
              
              @Html.Hidden("isCollapse")
            @Html.Partial("~/Views/Shared/_FilterList.cshtml")  
                <div class="box-body">
                    @Html.Hidden("DisplayCol")
                    <div class="row">
                        
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th>Draft No.</th>
                                        <th>PR No.</th>
                                        <th>Date</th>
                                        <th>Department</th>
                                        <th>Status</th>
                                        <th>Note</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var i in Model)
                                        {
                                            <tr>
                                                <td class="text-center"><a href="Form?id=@Html.DisplayFor(m => i.pritemmstoid)&cmp=@Html.DisplayFor(m => i.cmpcode)" class="text-primary">@Html.DisplayFor(m => i.pritemmstoid)</a></td>
                                                <td>@Html.DisplayFor(m => i.pritemno)</td>
                                                <td class="text-center">@i.pritemdate.ToString("MM/dd/yyyy")</td>
                                                <td>@Html.DisplayFor(m => i.deptname)</td>
                                                <td class="text-center">@Html.DisplayFor(m => i.pritemmststatus)</td>
                                                <td>@Html.DisplayFor(m => i.pritemmstnote)</td>
                                                <td class="text-center"><a href="PrintReport/@Html.DisplayFor(m => i.pritemmstoid)" class="btn btn-sm btn-primary"><i class="fa fa-print"></i></a></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var isvisible = false;
        var displaycol = $('#DisplayCol').val();
        if (displaycol == "normal")
            isvisible = true;
        $('#datatable').DataTable ({
            "columnDefs": [
                {
                    "targets": [1],
                    "visible": isvisible,
                    "searchable": isvisible
                }
            ]
        });
    });
</script>