﻿@model RSA.Models.DB.QL_mstbillofmat

@{
    ViewBag.Title = "Bill Of Material";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Bill Of Material</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Bill Of Material Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.bomoid)
                        @Html.HiddenFor(model => model.bomres1)
                        @Html.HiddenFor(model => model.bomres2)
                        @Html.HiddenFor(model => model.bomres3)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.Hidden("action")
                        @Html.Hidden("bomunit")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.cmpcode, null, new { @class = "form-control select2", @required = "", @onchange = "FillDDLDept()" })
                                            @Html.ValidationMessageFor(model => model.cmpcode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Finish Good <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("itemlongdesc", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchitem" class="btn btn-flat" data-toggle="modal" data-target="#modal-item">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.itemoid)
                                            @Html.ValidationMessageFor(model => model.itemoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Bom Code <label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.bomcode, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            @Html.ValidationMessageFor(model => model.bomwipcode, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-2" style="display:none">
                                            @Html.EditorFor(model => model.bomwipcode, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "2" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Bom Desc. <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.bomwipdesc, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100" } })
                                            @Html.ValidationMessageFor(model => model.bomwipdesc, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group" style="display:none">
                                        <label class="col-md-4 control-label">Thick</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.bomthick, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @maxlength = "10" } }) <span class="input-group-addon text-red">mm</span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.bomthick, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group" style="display:none">
                                        <label class="col-md-4 control-label">Length</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.bomlength, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @maxlength = "10" } }) <span class="input-group-addon text-red">mm</span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.bomlength, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.bomnote, new { @class = "form-control", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.bomnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" >
                                    <div class="form-group" style="display:none">
                                        <label class="col-md-4 control-label">From Dept. <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.bomfromdeptoid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.bomfromdeptoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group" style="display:none">
                                        <label class="col-md-4 control-label">To Dept. <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.bomtodeptoid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.bomtodeptoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                   
                                    <div class="form-group" style="display:none">
                                        <label class="col-md-4 control-label">Width</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.bomwidth, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @maxlength = "10" } }) <span class="input-group-addon text-red">mm</span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.bomwidth, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group" style="display:none">
                                        <label class="col-md-4 control-label">Qty Per FG <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.bomqty, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "10" } }) <span class="input-group-addon text-red" id="bomunit_span"></span>
                                            </div>
                                            @Html.HiddenFor(model => model.bomunitoid)
                                            @Html.ValidationMessageFor(model => model.bomqty, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>Bill Of Material Componen</b></h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="col-md-4 control-label">Item 2 </label>
                                <div class="input-group">
                                    @Html.Editor("i2desc", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    <span class="input-group-btn">
                                        <button type="button" id="btnsearchi2" class="btn btn-flat" data-toggle="modal" data-target="#modal-i2">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                                @Html.HiddenFor(model => model.itemoid2)

                            </div>
                            <div class="col-md-4">
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.item2qty, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @maxlength = "10" } })
                                </div>
                                <div class="col-md-1">
                                    <button type="button" id="btnci2" class="btn btn-flat">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="col-md-4 control-label">Item 3</label>
                                <div class="input-group">
                                    @Html.Editor("i3desc", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    <span class="input-group-btn">
                                        <button type="button" id="btnsearchi3" class="btn btn-flat" data-toggle="modal" data-target="#modal-i3">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                                @Html.HiddenFor(model => model.itemoid3)

                            </div>
                            <div class="col-md-4">
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.item3qty, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @maxlength = "10" } })
                                </div>
                                <div class="col-md-1">
                                    <button type="button" id="btnci3" class="btn btn-flat">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="col-md-4 control-label">Partisi 1 </label>
                                    <div class="input-group">
                                        @Html.Editor("pt1desc", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        <span class="input-group-btn">
                                            <button type="button" id="btnsearchpt1" class="btn btn-flat" data-toggle="modal" data-target="#modal-pt1">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                    @Html.HiddenFor(model => model.pt1)
                                  
                                </div>
                                <div class="col-md-4">
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.pt1qty, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @maxlength = "10" } })
                                      </div>
                                       <div class="col-md-1"> 
                                         <button type="button" id="btnc1" class="btn btn-flat">
                                            <i class="fa fa-remove"></i>
                                        </button>
                                        </div>
                                    </div>
                            </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="col-md-4 control-label">Partisi 2 </label>
                                <div class="input-group">
                                    @Html.Editor("pt2desc", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    <span class="input-group-btn">
                                        <button type="button" id="btnsearchpt2" class="btn btn-flat" data-toggle="modal" data-target="#modal-pt2">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                                @Html.HiddenFor(model => model.pt2)

                            </div>
                            <div class="col-md-4">
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.pt2qty, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @maxlength = "10" } })
                                </div>
                                <div class="col-md-1">
                                    <button type="button" id="btnc2" class="btn btn-flat">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                </div>
                            </div>
                            </div>
                       
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="col-md-4 control-label">Partisi 3 </label>
                                    <div class="input-group">
                                        @Html.Editor("pt3desc", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        <span class="input-group-btn">
                                            <button type="button" id="btnsearchpt3" class="btn btn-flat" data-toggle="modal" data-target="#modal-pt3">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                    @Html.HiddenFor(model => model.pt3)
                                   
                                </div>
                                <div class="col-md-4">
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.pt3qty, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @maxlength = "10" } })
                                    </div>
                                    <div class="col-md-1">
                                        <button type="button" id="btnc3" class="btn btn-flat">
                                            <i class="fa fa-remove"></i>
                                        </button>
                                    </div>
                                </div>
                                </div>
                            
                         
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="col-md-4 control-label">Layer 1 </label>
                                <div class="input-group">
                                    @Html.Editor("ly1desc", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    <span class="input-group-btn">
                                        <button type="button" id="btnsearchly1" class="btn btn-flat" data-toggle="modal" data-target="#modal-ly1">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                                @Html.HiddenFor(model => model.ly1)

                            </div>
                            <div class="col-md-4">
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.ly1qty, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @maxlength = "10" } })
                                </div>
                                <div class="col-md-1">
                                    <button type="button" id="btnc4" class="btn btn-flat">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                </div>
                            </div>
                            </div>
                     
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="col-md-4 control-label">Layer 2 </label>
                                <div class="input-group">
                                    @Html.Editor("ly2desc", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    <span class="input-group-btn">
                                        <button type="button" id="btnsearchly2" class="btn btn-flat" data-toggle="modal" data-target="#modal-ly2">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                                @Html.HiddenFor(model => model.ly2)

                            </div>
                            <div class="col-md-4">
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.ly2qty, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @maxlength = "10" } })
                                </div>
                                <div class="col-md-1">
                                    <button type="button" id="btnc5" class="btn btn-flat">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                </div>
                            </div>
                            </div>
                        </div>
                       
                    
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                    </div>
                    <div class="pull-right">
                        @{
                            <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                            if (ViewBag.action == "Update Data")
                            {
                                <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                            }
                        }
                    </div>
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Bill Of Material Detail Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No.</th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Qty Per WIP</th>
                                    <th>Max Qty</th>
                                    <th>Unit</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@

    @* MODAL UNTUK FINISH GOOD *@
    <div class="modal fade" id="modal-item">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Finish Good Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalItem" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FINISH GOOD *@

    @* MODAL UNTUK FINISH GOOD 2*@
    <div class="modal fade" id="modal-i2">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Finish Good Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalItem2" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FINISH GOOD 2*@

    @* MODAL UNTUK FINISH GOOD 3*@
    <div class="modal fade" id="modal-i3">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Finish Good Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalItem3" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FINISH GOOD 3*@

    @* MODAL UNTUK PT1 *@
    <div class="modal fade" id="modal-pt1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Partisi Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalpt1" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK PT1*@
    @* MODAL UNTUK PT2 *@
    <div class="modal fade" id="modal-pt2">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Partisi Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalpt2" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK PT2*@
    @* MODAL UNTUK PT3 *@
    <div class="modal fade" id="modal-pt3">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Partisi Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalpt3" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK PT3*@

    @* MODAL UNTUK LY1 *@
    <div class="modal fade" id="modal-ly1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Layer Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModally1" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK LY1*@

    @* MODAL UNTUK LY2 *@
    <div class="modal fade" id="modal-ly2">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Layer Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModally2" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK LY2*@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw(); SetDataDtl(); FillDetailData();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
        });
        table.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });
        tblModalDtl.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        $("#tblModalItem").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        var tblModalItem = $("#tblModalItem").DataTable();
        tblModalItem.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalItem.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#itemlongdesc").val(alldata.itemlongdesc);
            $("#itemoid").val(alldata.itemoid);
            $("#bomunitoid").val(alldata.itemunitoid);
            $("#bomunit_span").html("Per " + alldata.itemunit);
            $('#modal-item').modal('hide');
        });
        $("#tblModalItem2").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        var tblModalItem2 = $("#tblModalItem2").DataTable();
        tblModalItem2.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalItem2.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#i2desc").val(alldata.itemlongdesc);
            $("#itemoid2").val(alldata.itemoid);
            $('#modal-i2').modal('hide');
        });
        $("#tblModalItem3").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        var tblModalItem3 = $("#tblModalItem3").DataTable();
        tblModalItem3.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalItem3.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#i3desc").val(alldata.itemlongdesc);
            $("#itemoid3").val(alldata.itemoid);
            $('#modal-i3').modal('hide');
        });

        $("#tblModalpt1").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        var tblModalpt1 = $("#tblModalpt1").DataTable();
        tblModalpt1.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalpt1.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#pt1desc").val(alldata.itemlongdesc);
            $("#pt1").val(alldata.itemoid);
            $('#modal-pt1').modal('hide');
        });

        $("#tblModalpt2").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        var tblModalpt2 = $("#tblModalpt2").DataTable();
        tblModalpt2.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalpt2.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#pt2desc").val(alldata.itemlongdesc);
            $("#pt2").val(alldata.itemoid);
            $('#modal-pt2').modal('hide');
        });

        $("#tblModalpt3").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        var tblModalpt3 = $("#tblModalpt3").DataTable();
        tblModalpt3.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalpt3.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#pt3desc").val(alldata.itemlongdesc);
            $("#pt3").val(alldata.itemoid);
            $('#modal-pt3').modal('hide');
        });


        $("#tblModally1").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        var tblModally1 = $("#tblModally1").DataTable();
        tblModally1.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModally1.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#ly1desc").val(alldata.itemlongdesc);
            $("#ly1").val(alldata.itemoid);
            $('#modal-ly1').modal('hide');
        });
        $("#tblModally2").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        var tblModally2 = $("#tblModally2").DataTable();
        tblModally2.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModally2.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#ly2desc").val(alldata.itemlongdesc);
            $("#ly2").val(alldata.itemoid);
            $('#modal-ly2').modal('hide');
        });





        var bomunit = $("#bomunit").val();
        if (bomunit != "" | bomunit != null)
            $("#bomunit_span").html(bomunit);
    })

   


    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    
    $("#btnc1").click(function () {
        $("#pt1desc").val("");
        $("#pt1").val(0);
        $("#pt1qty").val("");
    });
    $("#btnc2").click(function () {
        $("#pt2desc").val("");
        $("#pt2").val(0);
        $("#pt2qty").val("");
    });
    $("#btnc3").click(function () {
        $("#pt3desc").val("");
        $("#pt3").val(0);
        $("#pt3qty").val("");
    });
    $("#btnc4").click(function () {
        $("#ly1desc").val("");
        $("#ly1").val(0);
        $("#ly1qty").val("");
    });
    $("#btnc5").click(function () {
        $("#ly2desc").val("");
        $("#ly2").val(0);
        $("#ly2qty").val("");
    });
    $("#btnci2").click(function () {
        $("#i2desc").val("");
        $("#itemoid2").val(0);
        $("#item2qty").val("");
    });
    $("#btnci3").click(function () {
        $("#i3desc").val("");
        $("#itemoid3").val(0);
        $("#item3qty").val("");
    });

    $("#btnsearchitem").click(function () {
        var cmp = $("#cmpcode option:selected").val();
        if (cmp == "")
        {
            Swal('Warning!', 'Please select Business Unit first!', 'warning');
            return false;
        }
        var table = $('#tblModalItem').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetItemData"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.itemcode,
                        val.itemlongdesc
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnsearchi2").click(function () {
        var cmp = $("#cmpcode option:selected").val();
        if (cmp == "")
        {
            Swal('Warning!', 'Please select Business Unit first!', 'warning');
            return false;
        }
        var table = $('#tblModalItem2').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetItem2Data"))",
            data: { cmp: cmp },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.itemcode,
                    val.itemlongdesc
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    $("#btnsearchi3").click(function () {
        var cmp = $("#cmpcode option:selected").val();
        if (cmp == "")
        {
            Swal('Warning!', 'Please select Business Unit first!', 'warning');
            return false;
        }
        var table = $('#tblModalItem3').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetItem3Data"))",
            data: { cmp: cmp },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.itemcode,
                    val.itemlongdesc
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    $("#btnsearchpt1").click(function () {
        var cmp = $("#cmpcode option:selected").val();
        if (cmp == "")
        {
            Swal('Warning!', 'Please select Business Unit first!', 'warning');
            return false;
        }
        var table = $('#tblModalpt1').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetptData"))",
            data: { cmp: cmp },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.itemcode,
                    val.itemlongdesc
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    $("#btnsearchpt2").click(function () {
        var cmp = $("#cmpcode option:selected").val();
        if (cmp == "")
        {
            Swal('Warning!', 'Please select Business Unit first!', 'warning');
            return false;
        }
        var table = $('#tblModalpt2').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetptData"))",
            data: { cmp: cmp },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.itemcode,
                    val.itemlongdesc
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    $("#btnsearchpt3").click(function () {
        var cmp = $("#cmpcode option:selected").val();
        if (cmp == "")
        {
            Swal('Warning!', 'Please select Business Unit first!', 'warning');
            return false;
        }
        var table = $('#tblModalpt3').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetptData"))",
            data: { cmp: cmp },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.itemcode,
                    val.itemlongdesc
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    $("#btnsearchly1").click(function () {
        var cmp = $("#cmpcode option:selected").val();
        if (cmp == "")
        {
            Swal('Warning!', 'Please select Business Unit first!', 'warning');
            return false;
        }
        var table = $('#tblModally1').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetlyData"))",
            data: { cmp: cmp },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.itemcode,
                    val.itemlongdesc
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    $("#btnsearchly2").click(function () {
        var cmp = $("#cmpcode option:selected").val();
        if (cmp == "")
        {
            Swal('Warning!', 'Please select Business Unit first!', 'warning');
            return false;
        }
        var table = $('#tblModally2').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetlyData"))",
            data: { cmp: cmp },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.itemcode,
                    val.itemlongdesc
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    //$("#btnSave").click(function () {
      
    //});

    $("#btnDelete").click(function () {
        var oid = $("#bomoid").val();
        var cmp = $("#cmpcode option:selected").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });
</script>