﻿@model RSA.Models.DB.QL_prspmst

@{
    ViewBag.Title = "Permintaan Beli Sparepart";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    string CompnyCode = Session["CompnyCode"].ToString();
}

<section class="content-header">
    <h1>Form Permintaan Beli Sparepart</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Permintaan Beli Sparepart Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.divoid)
                        @Html.HiddenFor(model => model.prsptype)
                        @Html.HiddenFor(model => model.prspmstres1)
                        @Html.HiddenFor(model => model.prspmstres2)
                        @Html.HiddenFor(model => model.prspmstres3)
                        @Html.HiddenFor(model => model.approvalcode)
                        @Html.HiddenFor(model => model.approvaldatetime)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.revisetime)
                        @Html.HiddenFor(model => model.rejecttime)
                        @Html.HiddenFor(model => model.closereason)
                        @Html.HiddenFor(model => model.closeuser)
                        @Html.HiddenFor(model => model.closetime)
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Draft No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.prspmstoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">PR No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.prspno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @value = "PRsp-" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Departemen <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.deptoid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.deptoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group" style="display:none">
                                        <label class="col-md-4 control-label">Require No.</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @*@Html.Editor("requireno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @value = "1" } })*@
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchreq" class="btn btn-flat" data-toggle="modal" data-target="#modal-req">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @*@Html.HiddenFor(model => model.requiremstoid)*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Date</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.prspdate, new { htmlAttributes = new { @class = "form-control datemask2", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Expired Date <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.prspexpdate, new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.prspexpdate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.prspmstnote, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.prspmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>Permintaan Beli Sparepart Detail</b></h3>
                    </div>
                    <div class="box-body">
                        <div class="container-fluid">
                            <div class="form-group">
                                <label id="i_u2" class="col-md-2 control-label text-red">New Detail</label>
                            </div>
                            <div class="row">
                                @(Html.Hidden("seq"))
                                @(Html.Hidden("sparepartcode"))
                                @(Html.Hidden("prspunitoid"))
                                @(Html.Hidden("prspunit"))
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl. Dibutuhkan </label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("prsparrdatereq", new { htmlAttributes = new { @id = "prsparrdatereq", @class = "form-control datepicker datemask2", @type = "text" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessage("prsparrdatereq", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-4">Sparepart <label class="text-red">*</label></label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <input type="text" id="sparepartlongdesc" class="form-control" value="" readonly="readonly" />
                                            <span class="input-group-btn">
                                                <button type="button" id="btnsearchsp" class="btn btn-flat" data-toggle="modal" data-target="#modal-sparepart" onclick="FadeModalsparepart()">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                        @(Html.Hidden("sparepartoid"))
                                        @Html.ValidationMessage("sparepartoid", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Qty</label>
                                        <div class="col-md-4">
                                            @Html.Editor("prspqty", new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessage("prspqty", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Qty Pembulatan</label>
                                        <div class="col-md-4">
                                            @Html.Editor("sparepartlimitqty", new { htmlAttributes = new { @id = "sparepartlimitqty", @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Catatan Detail</label>
                                        <div class="col-md-8">
                                            @Html.TextArea("prspdtlnote", new { @class = "form-control", @maxlength = "100" })
                                            @Html.ValidationMessage("prspdtlnote", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="pull-left">
                                @*<button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Add To List</b></button>*@
                                <button type="button" class="btn btn-primary" id="btnAddToList" onclick="AddToList()"><b>Add To List</b></button>
                                <button type="button" class="btn btn-secondary" onclick="clearDetail()"><b>Clear</b></button>
                            </div>
                        </div>
                    </div>


                    //DETAIL DATA LIST
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No.</th>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th>Qty</th>
                                        <th>Unit</th>
                                        <th>Arr. Date Req.</th>
                                        <th>Detail Note</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                if (Model.prspmststatus == "In Process" | Model.prspmststatus == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                    if (ViewBag.action == "Update Data")
                                    {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                    }
                                    <button type="button" class="btn btn-warning btn-md" id="btnSendForApproval"><b>Send For Approval</b></button>
                                }
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                            }
                        </div>
                    </div>
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK REQUIRE NO *@
    @*<div class="modal fade" id="modal-req">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Material Requirement Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalReq" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Require No</th>
                                    <th>Require Date</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>*@
    @* AKHIR MODAL UNTUK REQUIRE NO *@

    @* MODAL UNTUK Sparepart *@
    <div class="modal fade" id="modal-sparepart">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Sparepart</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalsp" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Kode</th>
                                    <th>Deskripsi</th>
                                    <th>Satuan</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR UNTUK Sparepart *@
</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        //SETTING LIST DETAIL
        $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        // Delete & Edit a record DETAIL
        var table = $('#DataDtl').DataTable();

        // Edit record
        table.on('click', '#edit', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }

            clearDetail();
            var data = table.row($tr).data();
            var alldata = JSON.parse(data[0])
            $('#i_u2').html("Edit Detail");
            $("#seq").val(data[1]);

            //$('#upmreftype').val(alldata.upmreftype).trigger('change');
            $('#sparepartoid').val(alldata.sparepartoid);
            $('#sparepartcode').val(alldata.sparepartcode);
            $('#sparepartlongdesc').val(alldata.sparepartlongdesc);
            $('#prsparrdatereq').val(alldata.prsparrdatereq);
            $('#prspqty').val(alldata.prspqty);
            $('#prspunitoid').val(alldata.prspunitoid);
            $('#prspunit').val(alldata.prspunit);
            $('#sparepartlimitqty').val(alldata.sparepartlimitqty);
            $('#prspdtlnote').val(alldata.prspdtlnote);

            //if ($('#upmrefno').val().length > 0) {
            //    $("#upmrefname").prop("readonly", true);
            //    $("#upmrefdesc").prop("readonly", true);
            //    $("#upmunit").prop("readonly", true);
            //}
        });

        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();

            var data = table.rows().data();
            //console.dir(data);

            //Mengurutkan nomor
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var row = table.row(i).data();
                    row[1] = i + 1;
                    table.row(i).data(row).invalidate();
                }
            }

            setDataDtl();
            e.preventDefault();
        });

        table.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        table.on("keypress keyup blur", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        //$("#tblModalReq").DataTable({
        //    "columnDefs": [
        //    {
        //        "targets": [0],
        //        "visible": false,
        //        "searchable": false
        //    }]
        //});

        //var tblModalReq = $("#tblModalReq").DataTable();
        //tblModalReq.on('click', '#select', function () {
        //    $tr = $(this).closest('tr');
        //    if ($($tr).hasClass('child')) {
        //        $tr = $tr.prev('.parent');
        //    }
        //    var data = tblModalReq.row($tr).data();
        //    var alldata = JSON.parse(data[0])
        //    $("#requireno").val(alldata.requireno);
        //    $("#requiremstoid").val(alldata.requiremstoid);
        //    $('#modal-req').modal('hide');
        //});

        //START MODAL LIST sparepart
        //SETTING MODAL LIST sparepart
        $('#tblModalsp').DataTable({
            "paging": true,
            "bFilter": true,
            "ordering": true,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        //SELECTED FROM MODAL Sparepart
        var tblModalsp = $('#tblModalsp').DataTable();

        tblModalsp.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }

            var data = tblModalsp.row($tr).data();
            //alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
            var alldata = data[0];

            $("#sparepartoid").val(alldata.sparepartoid);
            $("#sparepartlongdesc").val(alldata.sparepartlongdesc);
            $("#sparepartcode").val(alldata.sparepartcode);
            $("#prspunitoid").val(alldata.prspunitoid);
            $("#prspunit").val(alldata.prspunit);
            $('#sparepartlimitqty').val(alldata.sparepartlimitqty);

            $('#modal-sparepart').modal('hide');
            $("#sparepartlimitqty").prop("readonly", true);
        });
        //END MODAL LIST sparepart

        //FillDDLDept()
        FillDetailData();
    })

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                var edit = '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>';
                var remove = '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>';
                val.prsparrdatereq = moment(jsDate(val.prsparrdatereq)).format('MM/DD/YYYY');
                rows.push([
                    JSON.stringify(val),
                    val.prspdtlseq,
                    val.sparepartcode,
                    val.sparepartlongdesc,
                    //'<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="prspqty-' + val.prspdtlseq + '" name="prspqty-' + val.prspdtlseq + '" value="' + val.prspqty + '">',
                    val.prspqty,
                    val.prspunit,
                    //'<input type="text" class="form-control datepicker" style="max-width: 100px" id="prsparrdatereq-' + val.prspdtlseq + '" name="prsparrdatereq-' + val.prspdtlseq + '" value="' + moment(jsDate(val.prsparrdatereq)).format('MM/DD/YYYY') + '">',
                    val.prsparrdatereq,
                    //'<input type="text" class="form-control" style="max-width: 150px" id="prspdtlnote-' + val.prspdtlseq + '" name="prspdtlnote-' + val.prspdtlseq + '" value="' + val.prspdtlnote + '">',
                    val.prspdtlnote,
                    edit,
                    remove
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        });
        //$("input[id*='prsparrdatereq']").datepicker({
        //    format: 'mm/dd/yyyy',
        //    todayHighlight: true,
        //    autoclose: true
        //});
    }

    function FillDDLDept() {
        var cmpcode = CompnyCode;
        var deptoid = $("#deptoid");
        var deptoid_sel = $("#deptoid option:selected").val();
        deptoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLDepartment"))",
            data: { cmpcode: cmpcode },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.deptoid + "\'>" + val.deptname + "</option>";
                        if (val.deptoid == deptoid_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    deptoid.html(markup).show();
                    if (isExist == true) {
                        deptoid.val(deptoid_sel);
                    }
                    deptoid.trigger('change');
                } else {
                    deptoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    @*$("#btnAddToList").click(function () {
        var table = $('#tblModalDtl').DataTable();
        var reqoid = $('#requiremstoid').val();
        var cmp = $("#cmpcode option:selected").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmp: cmp, reqoid: reqoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        ++i,
                        val.prspdtlseq,
                        val.sparepartcode,
                        val.sparepartlongdesc,
                        '<input type="text" class="form-control numberonly" style="max-width: 80px" id="prspqty-' + i + '" name="prspqty-' + i + '" value="' + val.prspqty + '">',
                        val.prspunit,
                        '<input type="text" class="form-control datepicker datemask2" style="max-width: 100px" id="prsparrdatereq-' + i + '" name="prsparrdatereq-' + i + '" value="' + moment(jsDate(val.prsparrdatereq)).format('MM/DD/YYYY') + '">',
                        '<input type="text" class="form-control" style="max-width: 150px" id="prspdtlnote-' + i + '" name="prspdtlnote-' + i + '" value="' + val.prspdtlnote + '">'
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });*@

    function IsOnDtl(sparepartoid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (sparepartoid == alldata.sparepartoid) {
                return true;
            }
        }
        return false;
    }

    @*function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var prsparrdatereq_id = "#prsparrdatereq-" + (i + 1);
            var prspqty_id = "#prspqty-" + (i + 1);
            var prspdtlnote_id = "#prspdtlnote-" + (i + 1);
            var prsparrdatereq = table.$(prsparrdatereq_id).val();
            var prspqty = table.$(prspqty_id).val();
            var prspdtlnote = table.$(prspdtlnote_id).val();
            var obj = {
                prspdtlseq: i + 1,
                sparepartoid: alldata.sparepartoid,
                sparepartcode: alldata.sparepartcode,
                sparepartlongdesc: alldata.sparepartlongdesc,
                sparepartlimitqty: alldata.sparepartlimitqty,
                prspqty: prspqty,
                prspunitoid: alldata.prspunitoid,
                prspunit: alldata.prspunit,
                prsparrdatereq: prsparrdatereq,
                prspdtlnote: prspdtlnote,
                requiredtloid: alldata.requiredtloid,
                requireqty: alldata.requireqty
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }*@

    @*$("#btnsearchreq").click(function () {
        var table = $('#tblModalReq').DataTable();
        var cmp = $("#cmpcode option:selected").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetRequireData"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.requireno,
                        moment(jsDate(val.requiredate)).format('MM/DD/YYYY'),
                        val.requiremstnote
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });*@

    $("#btnDelete").click(function () {
        var oid = $("#prspmstoid").val();
        var cmp = $("#cmpcode").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnSendForApproval").click(function () {
        $("#prspmststatus").val("In Approval");

        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for APPROVAL?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>

<script language="javascript" type="text/javascript">
    function FadeModalsparepart() {
        var table = $('#tblModalsp').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("Getsparepart"))",
            data: { cmp: 'RSA' },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        //JSON.stringify(val),
                        val,
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.sparepartcode,
                        val.sparepartlongdesc,
                        val.prspunit,
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    //START ADD TO LIST TO DETAIL
    function AddToList() {
        var table = $('#DataDtl').DataTable();
        //var upmreftype = $('#upmreftype option:selected').val();
        var prsparrdatereq = $('#prsparrdatereq').val();
        var sparepartoid = $('#sparepartoid').val();
        var sparepartlongdesc = $('#sparepartlongdesc').val();
        var sparepartcode = $('#sparepartcode').val();
        var prspqty = $('#prspqty').val();
        var prspunitoid = $('#prspunitoid').val();
        var prspunit = $('#prspunit').val();
        var sparepartlimitqty = $('#sparepartlimitqty').val();
        var prspdtlnote = $('#prspdtlnote').val();

        var isValid = true;

        if (sparepartoid.length > 0) {
            $("[data-valmsg-for=sparepartoid]").html("");
        } else {
            isValid = false;
            $("[data-valmsg-for=sparepartoid]").html("Pilih Barang !");
        }
        if (prspqty.length > 0) {
            $("[data-valmsg-for=prspqty]").html("");
        } else {
            isValid = false;
            $("[data-valmsg-for=prspqty]").html("Isi Qty");
        }

        if (isValid) {
            var obj = {
                prsparrdatereq : prsparrdatereq,
                sparepartoid : sparepartoid,
                sparepartlongdesc: sparepartlongdesc,
                sparepartcode: sparepartcode,
                prspqty: prspqty,
                prspunitoid: prspunitoid,
                prspunit: prspunit,
                sparepartlimitqty : sparepartlimitqty,
                prspdtlnote : prspdtlnote
            }

            if ($('#i_u2').html() == "Edit Detail") { //EDIT DATA
                var id = parseInt($("#seq").val()) - 1;
                if (isOnDtl(sparepartoid, id + 1)) {
                    $('[data-valmsg-for=sparepartoid]').html("Barang sudah pernah di tambahkan").show();
                } else {
                    var row = table.row(id).data();
                    row[0] = JSON.stringify(obj);
                    row[2] = sparepartcode;
                    row[3] = sparepartlongdesc;
                    row[4] = prspqty;
                    row[5] = prspunit;
                    row[6] = prsparrdatereq;
                    row[7] = prspdtlnote;
                    table.row(id).data(row).invalidate();
                    clearDetail();
                    setDataDtl();
                }
            } else {
                var id = table.rows().data().length + 1;//menambahkan data ke tabel
                if (isOnDtl(sparepartoid, -1)) {
                    $('[data-valmsg-for=sparepartoid]').html("Barang sudah pernah di tambahkan").show();
                } else {
                    table.row.add([
                        JSON.stringify(obj),
                        id,
                        sparepartcode,
                        sparepartlongdesc,
                        prspqty,
                        prspunit,
                        prsparrdatereq,
                        prspdtlnote,
                        '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                    clearDetail();
                    setDataDtl();
                }
            }
        }
    }

    function isOnDtl(sparepartoid, seq) { //cek apa data sudah pernah ditambahkan
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        //console.dir(data);

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (sparepartoid == alldata.sparepartoid && data[i][1] != seq && sparepartoid != 0) {
                return true;
            }
        }
        return false;
    }

    function clearDetail() {//clear field data detail
        $('#i_u2').html("New Detail");
        $('#seq').val(0);

        //$("select#upmreftype")[0].selectedIndex = 0;
        $('#sparepartcode').val("");
        $("#sparepartoid").val(0);
        $("#sparepartlongdesc").val("");
        $("#prspqty").val(0);
        $('#prspunitoid').val("");
        $("#prspunit").val("");
        $("#sparepartlimitqty").val(0);
        $("#prspdtlnote").val("");

        //$("#upmrefname").prop("readonly", false);
        //$("#upmrefdesc").prop("readonly", false);
        //$("#upmunit").prop("readonly", false);
    }

    function setDataDtl() {//mengirim data table ke controler
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();

        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0])
            rows.push(alldata);
        }
        //console.dir(rows);
        //console.dir(JSON.stringify(rows));
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }
    //END ADD TO LIST TO DETAIL
</script>