﻿@model IEnumerable<RSA.Controllers.PRSparepartController.prspmst>

@{
    ViewBag.Title = "Permintaan Beli Sparepart";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //var servertime = SELFIE.Controllers.ClassFunction.GetServerTime();
}

<section class="content-header">
    <h1>List Permintaan Beli Sparepart Material</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <form action="index" method="post" class="form-horizontal">
                    <div class="box-body">
                        <div class="container-fluid row">
                            <a class="btn btn-success" href="Form">
                                <i class="fa fa-plus"></i> Add
                            </a>
                        </div><br>
                        <div class="form-group">
                            <label for="txtfilter" class="col-md-2 control-label">Filter</label>
                            <div class="col-md-3">
                                <select id="ddlfilter" name="ddlfilter" class="form-control">
                                    <option value="prspno">No. Permintaan</option>
                                    <option value="prspmstoid">No. Draft</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="txtfilter" name="txtfilter" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="filterperiod1" class="col-md-2 control-label">PR Date</label>
                            <div class="col-md-2">
                                <input type="text" id="filterperiod1" name="filterperiod1" class="form-control datepicker datemask2"/>
                            </div>
                            <div class="col-md-2">
                                <input type="text" id="filterperiod2" name="filterperiod2" class="form-control datepicker datemask2" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ddlstatus" class="col-md-2 control-label">Status</label>
                            <div class="col-md-3">
                                <select id="ddlstatus" name="ddlstatus" class="form-control">
                                    <option value="ALL">ALL</option>
                                    <option value="ACTIVE">ACTIVE</option>
                                    <option value="INACTIVE">INACTIVE</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer clearfix no-border">
                        <button type="submit" formaction="Index" class="btn btn-warning btn-md" style="width: 80px;"><b>Find</b></button>
                        <a href="Index" class="btn btn-default btn-md btn-flat-margin"><b>View All</b></a>
                    </div>
                </form>
                
                <div class="box-body">
                    @Html.Hidden("DisplayCol")
                    <div class="row">
                        
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th>Draft No.</th>
                                        <th>PR No.</th>
                                        <th>Date</th>
                                        <th>Department</th>
                                        <th>Status</th>
                                        <th>Note</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var i in Model)
                                        {
                                            <tr>
                                                <td class="text-center"><a href="Form?id=@Html.DisplayFor(m => i.prspmstoid)&cmp=@Html.DisplayFor(m => i.cmpcode)" class="text-primary">@Html.DisplayFor(m => i.prspmstoid)</a></td>
                                                <td>@Html.DisplayFor(m => i.prspno)</td>
                                                <td class="text-center">@i.prspdate.ToString("MM/dd/yyyy")</td>
                                                <td>@Html.DisplayFor(m => i.deptname)</td>
                                                <td class="text-center">@Html.DisplayFor(m => i.prspmststatus)</td>
                                                <td>@Html.DisplayFor(m => i.prspmstnote)</td>
                                                <td class="text-center"><a href="PrintReport/@Html.DisplayFor(m => i.prspmstoid)/@Html.DisplayFor(m => i.cmpcode)" class="btn btn-sm btn-primary"><i class="fa fa-print"></i></a></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-custom-filter">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Custom Filter</h4>
                </div>
                <form action="Index" method="post" class="form-horizontal">
                    <div class="modal-body">
                        @Html.Hidden("filter", "CF")
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">From</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("filterperiodfrom", new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">To</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("filterperiodto", new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("filterstatus", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="ALL", Value="ALL" },
                                                new SelectListItem { Text="In Process", Value="In Process" },
                                                new SelectListItem { Text="In Approval", Value="In Approval" },
                                                new SelectListItem { Text="Post", Value="Post" },
                                                new SelectListItem { Text="Approved", Value="Approved" },
                                                new SelectListItem { Text="Rejected", Value="Rejected" },
                                                new SelectListItem { Text="Revised", Value="Revised" },
                                                new SelectListItem { Text="Cancel", Value="Cancel" },
                                                new SelectListItem { Text="Closed", Value="Closed" }
                                            }, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success btn-md" id="btnGo"><b>Go</b></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var isvisible = false;
        var displaycol = $('#DisplayCol').val();
        if (displaycol == "normal")
            isvisible = true;
        $('#datatable').DataTable ({
            "columnDefs": [
                {
                    "targets": [1],
                    "visible": isvisible,
                    "searchable": isvisible
                }
            ]
        });
    });
</script>