﻿@{
    ViewBag.Title = "SPK Cancelation";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Type</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownList("wotype", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="Finish Good", Value="item" },
                                                new SelectListItem { Text="Sheet", Value="raw" }
                                            }, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Business Unit</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownList("cmpcode", null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">SPK No.</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                @Html.Editor("wono", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchwo" class="btn btn-flat" data-toggle="modal" data-target="#modal-wo">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        @Html.Hidden("womstoid")
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">SPK Date</label>
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                @Html.Editor("wodate", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Customer</label>
                                        <div class="col-sm-8">
                                            @Html.TextArea("custname", new { @class = "form-control", @readonly = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Item</label>
                                        <div class="col-sm-8">
                                            @Html.TextArea("itemdesc", new { @class = "form-control", @readonly = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">SO No</label>
                                        <div class="col-sm-8">
                                            @Html.Editor("sono", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">SPK Qty</label>
                                        <div class="col-sm-4">
                                            @Html.Editor("woqty", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Reason</label>
                                        <div class="col-sm-8">
                                            @Html.TextArea("reason", new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Remark</label>
                                        <div class="col-sm-8">
                                           @Html.TextArea("womstnote", new { @class = "form-control", @readonly = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    <div class="pull-left">
                        @{
                            <button type="button" class="btn btn-danger btn-md" id="btnSave"><b>Process</b></button>
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Clear</b></a>
                        }
                    </div>
                            }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM SPK *@
    <div class="modal fade" id="modal-wo">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of SPK</h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-12" style="overflow-x: auto;">
                        <table id="tblModalWO" class="table table-striped" style="width: 100%">
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM SO *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
@*<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        tblModalWO = $("#tblModalWO").DataTable({
            "deferRender": true,
            "columns": [
                { data: null, orderable: false, render: function () { return '<button type="button" class="btn btn-link text-primary select">Select</button>'; } },
                { data: 'wono', name: 'wono', title: 'SPK No' },
                { data: 'wodate', name: 'wodate', title: 'SPK Date', render: function (data, type, row) { return type != 'display' ? data : moment(data).format('DD/MM/YYYY'); } },
                { data: 'custname', name: 'custname', title: 'Customer' },
                { data: 'sono', name: 'sono', title: 'SO No' },
                { data: 'itemdesc', name: 'itemdesc', title: 'Item' },
                { data: 'womstnote', name: 'womstnote', title: 'Note' },
            ],
            order: [],
        });
    })

    var url_GetWOData = "@(Url.Action("GetWOData"))"
    $("#btnsearchwo").click(function () {
        var wotype = $("#wotype").val();
        tblModalWO.clear().draw();
        $.ajax({
            url: url_GetWOData,
            data: { wotype: wotype },
            cache: false,
            type: "POST",
            success: function (data) {
                tblModalWO.rows.add(data).draw();
            },
            error: function (err) {
                console.log(err);
            }
        });
    });
    $("#tblModalWO").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        alldata = tblModalWO.row($tr).data();

        $("#wono").val(alldata.wono);
        $("#womstoid").val(alldata.womstoid);
        $("#wodate").val(alldata.wodate);
        $("#custname").val(alldata.custname);
        $("#sono").val(alldata.sono);
        $("#itemdesc").val(alldata.itemdesc);
        $("#woqty").val(alldata.woqty);
        $("#womstnote").val(alldata.womstnote);

        $('#modal-wo').modal('hide');
    });

    var url_Index = "@(Url.Action("Index"))";
    $("#btnSave").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        var womstoid = $('#womstoid').val()
        var reason = $('#reason').val()
        Swal({
            title: 'Are you sure to CANCEL this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, CANCEL this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: url_Index,
                    data: { __RequestVerificationToken: token, womstoid: womstoid, reason: reason },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal('Data has been Canceled!', data.msg, 'success').then((result) => {
                                if (result.value) {
                                    location.replace("@(Url.Action("Index"))");
                                }
                            });
                        } else {
                            Swal('Cancel data failed!', data.msg, 'error');
                        }
                    },
                    error: function (err) {
                        swal('', err.responseText, 'error');
                    }
                });
            }
        })
    });
</script>
