﻿@{
    ViewBag.Title = "PR " + ViewBag.FormType + " Status";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>PR @ViewBag.FormType Status</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm("PrintReportStatus", "PRReport"))
                {
                    <div class="box-body">
                        <div class="container-fluid">
                            @Html.Hidden("FormType")
                            @Html.Hidden("MatType")
                            @Html.Hidden("MatRefType")
                            @Html.Hidden("reporttype")
                            <div class="row">
                                <div class="col-md-6" style="display:none;">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit</label>
                                        <div class="col-md-8">
                                            @*@Html.DropDownList("DDLBusinessUnit", null, "ALL", new { @class = "form-control select2", @onchange = "ChangeBusinessUnit()" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Department</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLDepartment", null, "ALL", new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Type</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLType", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text = "Summary", Value = "Summary" },
                                                new SelectListItem { Text = "Detail", Value = "Detail" }
                                            }, new { @class = "form-control select2", @onchange = "ChangeType()" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLStatus", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="All", Value="All" },
                                                new SelectListItem { Text="In Process/In Approval/Revised", Value="In Process" },
                                                new SelectListItem { Text="Approved/Closed", Value="Approved" },
                                                new SelectListItem { Text="Rejected/Cancel", Value="Rejected" }
                                            }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Divisi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("ddldivgroupoid", null, new { @class = "form-control", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLPeriod", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text = "PR Date", Value = "PR Date" },
                                                new SelectListItem { Text = "Approval Date", Value = "Approval Date" }
                                            }, new { @class = "form-control select2" })
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("TextPeriod", new { htmlAttributes = new { @class = "form-control daterangepicker", @type = "text" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.Hidden("StartPeriod")
                                            @Html.Hidden("EndPeriod")
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLTypeQty", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text = "PR Qty", Value = "PR Qty" },
                                                new SelectListItem { Text = "Balance", Value = "Balance" }
                                            }, new { @class = "form-control select2" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.DropDownList("DDLCursorQty", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text = "=", Value = "=" },
                                                new SelectListItem { Text = ">", Value = ">" },
                                                new SelectListItem { Text = "<", Value = "<" },
                                                new SelectListItem { Text = ">=", Value = ">=" },
                                                new SelectListItem { Text = "<=", Value = "<=" }
                                            }, new { @class = "form-control select2" })
                                        </div>
                                        <div class="col-md-5">
                                            @Html.Editor("TextQty", new { htmlAttributes = new { @class = "form-control allownumericwithdecimal", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLNomor", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text = "PR No.", Value = "PR No." },
                                                new SelectListItem { Text = "Draft No.", Value = "Draft No." }
                                            }, new { @class = "form-control select2" })
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextNomor", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchpr" class="btn btn-link" data-toggle="modal" data-target="#modal-pr">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Material</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextMaterial", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchmat" class="btn btn-link" data-toggle="modal" data-target="#modal-mat">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="divfordtl" style="display: none;">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Create User PO</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLUserPO", null, "ALL", new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Grouping</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLGrouping", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="PR No.", Value="prm.pr" + ViewBag.MatType + "no" },
                                                new SelectListItem { Text="Material Code", Value="m." + ViewBag.MatRefType + "code" },
                                                new SelectListItem { Text="Departement", Value="d.deptname" }
                                            }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Sorting</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLSorting", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="PR No.", Value="prm.pr" + ViewBag.MatType + "no" },
                                                new SelectListItem { Text="Material Code", Value="m." + ViewBag.MatRefType + "code" }
                                            }, new { @class = "form-control select2" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLSortDir", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="ASC", Value="ASC" },
                                                new SelectListItem { Text="DESC", Value="DESC" }
                                            }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" id="btnSubmit" style="display: none;"><b>Submit</b></button>
                        <button type="button" class="btn btn-primary btn-md" id="btnViewReport"><b>View Report</b></button>
                        <button type="button" class="btn btn-danger btn-md" id="btnExportPDF"><b>Export To Pdf</b></button>
                        <button type="button" class="btn btn-success btn-md" id="btnExportExcel"><b>Export To Excel</b></button>
                        <a href="@Url.Action("Report/" + ViewBag.FormType.Replace(" ", ""))" type="button" class="btn btn-default btn-md"><b>Clear</b></a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe id="ReportFrame" src="" style="border:none; width: 100%; height: 1000px;"></iframe>
        </div>
    </div>

    @* MODAL UNTUK PR *@
    <div class="modal fade" id="modal-pr">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">PR @ViewBag.FormType Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalPR" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterPR()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK PR *@

    @* MODAL UNTUK MATERIAL *@
    <div class="modal fade" id="modal-mat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">@ViewBag.FormType Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMat" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterMat()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK MATERIAL *@
</section>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    function ChangeBusinessUnit() {
        var cmp = $("#DDLBusinessUnit option:selected").val();
        var dept = $("#DDLDepartment");
        dept.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLDepartment"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value=\'\'>ALL</option>";
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.deptoid + "\'>" + val.deptname + "</option>";
                    });
                    dept.html(markup).show();
                } else {
                    dept.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });

        var user = $("#DDLUserPO");
        user.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLUserPO"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value=\'\'>ALL</option>";
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.profoid + "\'>" + val.profname + "</option>";
                    });
                    user.html(markup).show();
                } else {
                    user.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    }

    function ChangeType() {
        var type = $("#DDLType option:selected").val();
        var mattype = $("#MatType").val();
        var matreftype = $("#MatRefType").val();
        var markupgroup = "<option value=\'prm.pr" + mattype + "no\'>PR No.</option><option value=\'m." + matreftype + "code\'>Material Code</option><option value=\'d.deptname\'>Department</option>";
        if (type == "Summary")
        {
            $('#divfordtl').hide();
        }
        else
        {
            $('#divfordtl').show();
            markupgroup += "<option value=\'pom.createuser\'>User Create PO</option>";
        }
        $("#DDLGrouping").html(markupgroup).show();
    }

    $("#btnsearchpr").click(function () {
        var cmp = $("#DDLBusinessUnit option:selected").val();
        var dept = $("#DDLDepartment option:selected").val();
        var status = $("#DDLStatus option:selected").val();
        var startdate = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var enddate = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var fdate = $("#DDLPeriod option:selected").val();
        var mattype = $("#MatType").val();
        var qtytype = $("#DDLTypeQty option:selected").val();
        var qtycur = $("#DDLCursorQty option:selected").val();
        var qty = $("#TextQty").val();

        if (cmp == "")
            cmp = "All";

        if (dept == "")
            dept = "All";

        if (qty == "")
            qty = "0";

        $.ajax({
            url: "@(Url.Action("GetPRData"))",
            data: { cmp: cmp, dept: dept, status: status, startdate: startdate, enddate: enddate, fdate: fdate, mattype: mattype, qtytype: qtytype, qtycur: qtycur, qty: qty },
            cache: false,
            type: "POST",
            success: function (data) {
                var cols = [];
                $.each(data.tblcols, function (key, val) {
                    var obj = { title: val };
                    cols.push(obj);
                });

                var rows = [];
                $.each(data.tblrows, function (key, val) {
                    var row = Object.values(val);
                    rows.push(row);
                });

                var table = $("#tblModalPR").DataTable({
                    "destroy": true,
                    "columns": cols,
                    "data": rows,
                    "deferRender": true,
                    "columnDefs": [
                        {
                            "targets": 0,
                            "checkboxes": {
                                "selectRow": false
                            }
                        }
                    ],
                    "select": {
                        "style": 'multi'
                    },
                    "order": [[1, 'asc']]
                });
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    });

    $("#btnsearchmat").click(function () {
        var cmp = $("#DDLBusinessUnit option:selected").val();
        var dept = $("#DDLDepartment option:selected").val();
        var status = $("#DDLStatus option:selected").val();
        var startdate = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var enddate = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var fdate = $("#DDLPeriod option:selected").val();
        var nomor = $("#TextNomor").val();
        var fnomor = $("#DDLNomor option:selected").val();
        var mattype = $("#MatType").val();
        var matreftype = $("#MatRefType").val();
        var qtytype = $("#DDLTypeQty option:selected").val();
        var qtycur = $("#DDLCursorQty option:selected").val();
        var qty = $("#TextQty").val();

        if (cmp == "")
            cmp = "All";

        if (dept == "")
            dept = "All";

        if (qty == "")
            qty = "0";

        $.ajax({
            url: "@(Url.Action("GetMaterialData"))",
            data: { cmp: cmp, dept: dept, status: status, startdate: startdate, enddate: enddate, fdate: fdate, nomor: nomor, fnomor: fnomor, mattype: mattype, matreftype: matreftype, qtytype: qtytype, qtycur: qtycur, qty: qty },
            cache: false,
            type: "POST",
            success: function (data) {
                var cols = [];
                $.each(data.tblcols, function (key, val) {
                    var obj = { title: val };
                    cols.push(obj);
                });

                var rows = [];
                $.each(data.tblrows, function (key, val) {
                    var row = Object.values(val);
                    rows.push(row);
                });

                var table = $("#tblModalMat").DataTable({
                    "destroy": true,
                    "columns": cols,
                    "data": rows,
                    "deferRender": true,
                    "columnDefs": [
                        {
                            "targets": 0,
                            "checkboxes": {
                                "selectRow": false
                            }
                        }
                    ],
                    "select": {
                        "style": 'multi'
                    },
                    "order": [[1, 'asc']]
                });
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    });

    function AddToFilterPR() {
        var ind = 2;
        if ($("#DDLNomor option:selected").val() == "Draft No.")
            ind = 1;
        var result = "";
        var table = $('#tblModalPR').DataTable();
        var rowsel = table.column(0).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            var data = table.row(val - 1).data();
            result += data[ind] + ";";
        });
        result = result.substring(0, result.length - 1);
        $("#TextNomor").val(result);
    }

    function AddToFilterMat() {
        var ind = 1;
        var result = "";
        var table = $('#tblModalMat').DataTable();
        var rowsel = table.column(0).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            var data = table.row(val - 1).data();
            result += data[ind] + ";";
        });
        result = result.substring(0, result.length - 1);
        $("#TextMaterial").val(result);
    }

    $("#btnViewReport").click(function () {
        var cmp = $("#DDLBusinessUnit option:selected").val();
        var dept = $("#DDLDepartment option:selected").val();
        var type = $("#DDLType option:selected").val();
        var status = $("#DDLStatus option:selected").val();
        var startdate = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var enddate = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var fdate = $("#DDLPeriod option:selected").val();
        var nomor = $("#TextNomor").val();
        var fnomor = $("#DDLNomor option:selected").val();
        var mat = $("#TextMaterial").val();
        var grup = $("#DDLGrouping option:selected").val();
        var sort = $("#DDLSorting option:selected").val();
        var sortdir = $("#DDLSortDir option:selected").val();
        var DDLUserPO = $("#DDLUserPO option:selected").val();
        var reporttype = "";
        var mattype = $("#MatType").val();
        var matreftype = $("#MatRefType").val();
        var formtype = $("#FormType").val();
        var DDLdivgroupoid = $('#ddldivgroupoid option:selected').val();

        $.ajax({
            url: "@(Url.Action("PrintReportStatus"))",
            data: { DDLBusinessUnit: cmp, DDLDepartment: dept, DDLType: type, DDLStatus: status, StartPeriod: startdate, EndPeriod: enddate, DDLPeriod: fdate, TextNomor: nomor, DDLNomor: fnomor, TextMaterial: mat, DDLGrouping: grup, DDLSorting: sort, DDLSortDir: sortdir, reporttype: reporttype, MatType: mattype, MatRefType: matreftype, FormType: formtype, DDLUserPO: DDLUserPO, DDLdivgroupoid: DDLdivgroupoid },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#ReportFrame").attr("src", "@Url.Content("~/Other/ReportViewer.aspx?rptfile=")" + data.rptfile + "");
                pleaseWaitDialog.show();
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    });

    $("#btnExportPDF").click(function () {
        $("#reporttype").val("PDF");
        $("#StartPeriod").val($("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $("#EndPeriod").val($("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $("#btnSubmit").click();
    });

    $("#btnExportExcel").click(function () {
        $("#reporttype").val("XLS");
        $("#StartPeriod").val($("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $("#EndPeriod").val($("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $("#btnSubmit").click();
    });

    $('#ReportFrame').on('load', function () {
        pleaseWaitDialog.hide();
    });
</script>