﻿@{
    ViewBag.Title = "Permintaan Beli (" + ViewBag.FormType + ") Report";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Permintaan Beli @ViewBag.FormType Report</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm("PrintReport", "PRReport"))
                {
                    <div class="box-body">
                        <div class="container-fluid">
                            @Html.Hidden("FormType")
                            @Html.Hidden("MatType")
                            @Html.Hidden("MatRefType")
                            @Html.Hidden("reporttype")
                            <div class="row">
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit</label>
                                        <div class="col-md-8">
                                            @*@Html.DropDownList("DDLBusinessUnit", null, "ALL", new { @class = "form-control select2", @onchange = "ChangeBusinessUnit()" })*@
                                            @Html.Hidden("DDLBusinessUnit")
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Department</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLDepartment", null, "ALL", new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Type</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLType", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text = "Summary", Value = "Summary" },
                                            new SelectListItem { Text = "Detail", Value = "Detail" }
                                        }, new { @class = "form-control select2", @onchange = "ChangeType()" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLStatus", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="All", Value="All" },
                                            new SelectListItem { Text="In Process/In Approval/Revised", Value="In Process" },
                                            new SelectListItem { Text="Approved/Closed", Value="Approved" },
                                            new SelectListItem { Text="Rejected/Cancel", Value="Rejected" }
                                        }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Divisi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("ddldivgroupoid", null, new { @class = "form-control", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLPeriod", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text = "Create Date", Value = "prm.createtime" },
                                            new SelectListItem { Text = "Approval Date", Value = "prm.approvaldatetime" }
                                        }, new { @class = "form-control select2" })
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("TextPeriod", new { htmlAttributes = new { @class = "form-control daterangepicker", @type = "text" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.Hidden("StartPeriod")
                                            @Html.Hidden("EndPeriod")
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLNomor", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text = "PR No.", Value = "PR No." },
                                            new SelectListItem { Text = "Draft No.", Value = "Draft No." }
                                        }, new { @class = "form-control select2" })
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextNomor", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchpr" class="btn btn-link" data-toggle="modal" data-target="#modal-pr">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" style="display: none;">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Grouping</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLGrouping", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="PR No.", Value="PR No." },
                                            new SelectListItem { Text="Material Code", Value="Material Code" },
                                            new SelectListItem { Text="ETA", Value="ETA" }
                                        }, new { @class = "form-control select2", @onchange = "ChangeGroup()" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" id="divfordtl" style="display: none;">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Material</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextMaterial", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchmat" class="btn btn-link" data-toggle="modal" data-target="#modal-mat">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Sorting</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLSorting", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="PR No.", Value="prm.pr" + ViewBag.MatType + "no" },
                                            new SelectListItem { Text="Approval Date", Value="prm.approvaldatetime" }
                                        }, new { @class = "form-control select2" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLSortDir", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="ASC", Value="ASC" },
                                            new SelectListItem { Text="DESC", Value="DESC" }
                                        }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer">
                        <div class="text-center">
                            <button type="submit" id="btnSubmit" style="display: none;"><b>Submit</b></button>
                            <button type="button" class="btn btn-primary btn-md" id="btnViewReport"><b>View Report</b></button>
                            <button type="button" class="btn btn-danger btn-md" id="btnExportPDF"><b>Export To Pdf</b></button>
                            <button type="button" class="btn btn-success btn-md" id="btnExportExcel"><b>Export To Excel</b></button>
                            <a href="@Url.Action("Report/" + ViewBag.FormType.Replace(" ", ""))" type="button" class="btn btn-default btn-md"><b>Clear</b></a>
                        </div>
                    </div>                    
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe id="ReportFrame" src="" style="border:none; width: 100%; height: 1000px;"></iframe>
        </div>
    </div>

    @* MODAL UNTUK PR *@
    <div class="modal fade" id="modal-pr">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">PR @ViewBag.FormType Data</h4>
		    @Html.Hidden("total-pr")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalPR" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterPR()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK PR *@

    @* MODAL UNTUK MATERIAL *@
    <div class="modal fade" id="modal-mat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">@ViewBag.FormType Data</h4>
		    @Html.Hidden("total-mat")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterMat()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK MATERIAL *@
</section>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    function ChangeBusinessUnit() {
        var cmp = $("#DDLBusinessUnit").val();
        var dept = $("#DDLDepartment");
        dept.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLDepartment"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value=\'\'>ALL</option>";
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.deptoid + "\'>" + val.deptname + "</option>";
                    });
                    dept.html(markup).show();
                } else {
                    dept.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    }

    function ChangeType() {
        var type = $("#DDLType option:selected").val();
        var mattype = $("#MatType").val();
        var matreftype = $("#MatRefType").val();
        var markupdate = "<option value=\'prm.createtime\'>Create Date</option><option value=\'prm.approvaldatetime\'>Approval Date</option>";
        var markupsort = "<option value=\'prm.pr" + mattype + "no\'>PR No.</option><option value=\'prm.approvaldatetime\'>Approval Date</option>";
        if (type == "Summary")
        {
            $('#divfordtl').hide();
        }
        else
        {
            $('#divfordtl').show();
            markupdate += "<option value=\'prd.pr" + mattype + "arrdatereq\'>ETA</option>";
            markupsort = "<option value=\'m." + matreftype + "code\'>Material Code</option><option value=\'prd.pr" + mattype + "arrdatereq\'>ETA</option>";
        }
        $("#DDLPeriod").html(markupdate).show();
        $("#DDLSorting").html(markupsort).show();
        $("#DDLGrouping").val($("#DDLGrouping option:first").val());
    }

    function ChangeGroup() {
        var mattype = $("#MatType").val();
        var matreftype = $("#MatRefType").val();
        var group = $("#DDLGrouping option:selected").val();
        var markupsort = "<option value=\'m." + matreftype + "code\'>Material Code</option><option value=\'prd.pr" + mattype + "arrdatereq\'>ETA</option>";

        if (group == "Material Code")
            markupsort = "<option value=\'prm.pr" + mattype + "no\'>PR No.</option><option value=\'prd.pr" + mattype + "arrdatereq\'>ETA</option>";
        else if (group == "ETA")
            markupsort = "<option value=\'prm.pr" + mattype + "no\'>PR No.</option><option value=\'m." + matreftype + "code\'>Material Code</option>";

        $("#DDLSorting").html(markupsort).show();
    }

    $('#btnsearchpr').click(function () {
        var FormType = $('#FormType').val();
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var DDLGroup = $('#DDLGroup').val();
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $('#DDLPeriod').val();
        var DDLMatFlag = $('#matflag').val();
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            MCBStatus = MCBStatus.substring(0, MCBStatus.length - 3);

        $.ajax({
            url: "@(Url.Action("GetPRData"))",
            data: { FormType: FormType, DDLBusinessUnit: DDLBusinessUnit, DDLGroup: DDLGroup, DDLMatflag: DDLMatFlag, StartDate: StartDate, EndDate: EndDate, DDLPeriod: DDLPeriod, MCBStatus: MCBStatus },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var table = $('#tblModalPR').DataTable();
                    table.destroy();
                    $('#tblModalPR').empty();

                    var cols = [];
                    $.each(data.tblcols, function (key, val) {
                        var obj = { title: val };
                        cols.push(obj);
                    });

                    var rows = [];
                    var total = 0;
                    $.each(data.tblrows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                        total++;
                    });

                    $('#total-pr').val(total);
                    if (total > 0) {
                        table = $('#tblModalPR').DataTable({
                            "columns": cols,
                            "data": rows,
                            "deferRender": true,
                            "columnDefs": [
                                {
                                    "targets": 0,
                                    "checkboxes": {
                                        "selectRows": false
                                    }
                                }
                            ],
                            "select": {
                                "style": 'multi'
                            },
                            "order": [[1, 'asc']]
                        });
                    }

                } else {
                    swal('', data.result, 'error');
                    $('#modal-pr').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-pr').modal('hide');
            }
        });
    })

    function AddToFilterPR() {
        var ind = 2;
        if ($("#DDLNomor").val() == "Draft No.")
            ind = 1;

        if (parseInt($('#total-pr').val()) > 0) {
            var result = $("#TextNomor").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalPR').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextNomor").val(result);
        }
    }

    $("#btnsearchmat").click(function () {
        var FormType = $('#FormType').val();
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var DDLGroup = $('#DDLGroup').val();
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $('#DDLPeriod').val();
        var DDLMatFlag = $('#matflag').val();
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            MCBStatus = MCBStatus.substring(0, MCBStatus.length - 3);
        var DDLNomor = $('#DDLNomor').val();
        var TextNomor = $('#TextNomor').val();

        $.ajax({
            url: "@(Url.Action("GetMaterialData"))",
            data: { FormType: FormType, DDLBusinessUnit: DDLBusinessUnit, DDLGroup: DDLGroup, DDLMatFlag: DDLMatFlag, StartDate: StartDate, EndDate: EndDate, DDLPeriod: DDLPeriod, MCBStatus: MCBStatus, DDLNomor: DDLNomor, TextNomor: TextNomor },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var table = $("#tblModalMat").DataTable();
                    table.destroy();
                    $("#tblModalMat").empty();

                    var cols = [];
                    $.each(data.tblcols, function (key, val) {
                        var obj = { title: val };
                        cols.push(obj);
                    });

                    var rows = [];
                    var total = 0;
                    $.each(data.tblrows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                        total++;
                    });

                    $('#total-mat').val(total);
                    if (total > 0) {
                        table = $("#tblModalMat").DataTable({
                            "columns": cols,
                            "data": rows,
                            "deferRender": true,
                            "columnDefs": [
                                {
                                    "targets": 0,
                                    "checkboxes": {
                                        "selectRow": false
                                    }
                                }
                            ],
                            "select": {
                                "style": 'multi'
                            },
                            "order": [[1, 'asc']]
                        });
                    }

                } else {
                    swal('', data.result, 'error');
                    $('#modal-mat').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-mat').modal('hide');
            }
        });
    });

    function AddToFilterMat() {
        var ind = 1;

        if (parseInt($('#total-mat').val()) > 0) {
            var result = $("#TextMaterial").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalMat').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextMaterial").val(result);
        }
    }

    $("#btnViewReport").click(function () {
        var cmp = $("#DDLBusinessUnit").val();
        var dept = $("#DDLDepartment option:selected").val();
        var type = $("#DDLType option:selected").val();
        var status = $("#DDLStatus option:selected").val();
        var startdate = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var enddate = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var fdate = $("#DDLPeriod option:selected").val();
        var nomor = $("#TextNomor").val();
        var fnomor = $("#DDLNomor option:selected").val();
        var mat = $("#TextMaterial").val();
        var grup = $("#DDLGrouping option:selected").val();
        var sort = $("#DDLSorting option:selected").val();
        var sortdir = $("#DDLSortDir option:selected").val();
        var reporttype = "";
        var mattype = $("#MatType").val();
        var matreftype = $("#MatRefType").val();
        var formtype = $("#FormType").val();
        var DDLdivgroupoid = $('#ddldivgroupoid option:selected').val();

        $.ajax({
            url: "@(Url.Action("PrintReport"))",
            data: { FormType: FormType, DDLBusinessUnit: cmp, DDLDepartment: dept, DDLType: type, DDLStatus: status, StartPeriod: startdate, EndPeriod: enddate, DDLPeriod: fdate, TextNomor: nomor, DDLNomor: fnomor, TextMaterial: mat, DDLGrouping: grup, DDLSorting: sort, DDLSortDir: sortdir, reporttype: reporttype, MatType: mattype, MatRefType: matreftype, FormType: formtype, DDLdivgroupoid: DDLdivgroupoid },
            cache: false,
            type: "POST",
            success: function (data) {
                $('#ReportFrame').attr("src", "@Url.Content("~/Other/ReportViewer.aspx?rptfile=")" + data.rptfile + "");
                pleaseWaitDialog.show();
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });

    $("#btnExportPDF").click(function () {
        $("#reporttype").val("PDF");
        $("#StartPeriod").val($("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $("#EndPeriod").val($("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $("#btnSubmit").click();
    });

    $("#btnExportExcel").click(function () {
        $("#reporttype").val("XLS");
        $("#StartPeriod").val($("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $("#EndPeriod").val($("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $("#btnSubmit").click();
    });

    $('#ReportFrame').on('load', function () {
        pleaseWaitDialog.hide();
    });
</script>