﻿@{
    List<RSA.Models.DB.QL_m04MN> allmenus = new List<RSA.Models.DB.QL_m04MN>();
    var url = Request.RawUrl;
    if (Session["Role"] != null)
    {
        allmenus = (List<RSA.Models.DB.QL_m04MN>)Session["Role"];
    }

    List<string> moduls = new List<string>() { "SETUP", "PURCHASING", "MARKETING", "INVENTORY", "PRODUCTION", "ACCOUNTING", "FIXED ASSETS" };
    List<string> types = new List<string>() { "MASTER", "TRANSAKSI", "REPORT" };

    string[] iconmodules = { "fa fa-wrench", "fa fa-briefcase", "fa fa-shopping-cart", "fa fa-database", "fa fa-industry", "fa fa-balance-scale", "fa fa-car" };
    string[] icontypes = { "fa fa-book", "fa fa-archive", "fa fa-file" };
}

<ul class="sidebar-menu" data-widget="tree">
    <li class="header">MENU</li>
    <li class="@((url.Contains("/Dashboard"))?"active":"")">
        <a href="~/Dashboard/Index">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>
    @{
        var ActControler = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
        var ActAction = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
        var isModulActive = "";
        var isModulExists = "";
        var isTypeActive = "";
        var isTypeExists = "";
        var isMenuActive = "";
        var seq = 0;

        foreach (var modul in moduls)
        {
            isModulActive = "";
            isModulExists = "";
            if (allmenus.Where(w => w.mnmodule == modul).Count() > 0)
            {
                isModulExists = "Exists";
                if (allmenus.Where(w => w.mnmodule == modul && ActControler.ToLower() == w.mnfileloc.ToLower() && ActAction.ToLower() == w.mnmenuview.ToLower()).Count() > 0)
                {
                    isModulActive = "active";
                }
            }

            if (isModulExists == "Exists")
            {
                @:
                <li class="treeview @(isModulActive)">
                    <a href="#">
                        <i class="@(iconmodules[seq])"></i> <span>@(modul)</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        @{
                            foreach (var type in types)//Type
                            {
                                isTypeActive = "";
                                isTypeExists = "";
                                if (allmenus.Where(w => w.mnmodule == modul & w.mntype.ToLower() == type.ToLower()).Count() > 0)
                                {
                                    isTypeExists = "Exists";
                                    if (allmenus.Where(w => w.mnmodule == modul && w.mntype.ToLower() == type.ToLower() && ActControler.ToLower() == w.mnfileloc.ToLower()).Count() > 0)
                                    {
                                        isTypeActive = "active";
                                    }
                                }
                                if (isTypeExists == "Exists")
                                {
                                    @:
                                    <li class="treeview @(isTypeActive)">
                                        <a href="#">
                                            <i class="@(type.ToLower().Contains("mas")?icontypes[0]:type.ToLower().Contains("trans")?icontypes[1]:icontypes[2])"></i> <span>@(type)</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            @{
                                                foreach (var menu in allmenus.Where(w => w.mnmodule == modul & w.mntype.ToLower() == type.ToLower()).OrderBy(o => o.mnseq))
                                                {
                                                    isMenuActive = "";
                                                    if (ActControler.ToLower() == menu.mnfileloc.ToLower() && ActAction.ToLower() == menu.mnmenuview.ToLower())
                                                    {
                                                        isMenuActive = "active";
                                                    }
                                                    @:
                                                    <li class="@(isMenuActive)">
                                                        <a href="@(Url.Action(menu.mnmenuview, menu.mnfileloc))">
                                                            <i class="@(type.ToLower().Contains("mas")?icontypes[0]:type.ToLower().Contains("trans")?icontypes[1]:icontypes[2])"></i> @(menu.mnname)
                                                        </a>
                                                        @*<a href="@(Url.Action("Index", menu.mnfileloc))">
                                                            <i class="@(type.ToLower().Contains("mas")?icontypes[0]:type.ToLower().Contains("trans")?icontypes[1]:icontypes[2])"></i> @(menu.mnname)
                                                        </a>*@
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                }

                            }
                        }
                    </ul>
                </li>
            }
            seq++;
        }
    }
</ul>  