﻿@model RSA.Models.DB.QL_trnwomst

@{
    ViewBag.Title = "SPK Sheet";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form SPK Sheet</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>SPK Header</b></h3>
                    </div>
                    <div class="box-body">
                        <!-- #region Hidden Field -->
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.womstres1)
                        @Html.HiddenFor(model => model.womstres2)
                        @Html.HiddenFor(model => model.womstres3)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.HiddenFor(model => model.woclosingnote)
                        @Html.HiddenFor(model => model.woclosinguser)
                        @Html.HiddenFor(model => model.woclosingdate)
                        @Html.HiddenFor(model => model.divgroupoid)
                        @Html.HiddenFor(model => model.countprint)
                        @Html.Hidden("action")
                        <!-- #endregion -->
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Divisi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("ddldivgroupoid", null, new { @class = "form-control", @required = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.cmpcode, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.cmpcode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Draft No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.womstoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">SPK No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.wono, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Date <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.wodate, new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.wodate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">ETD <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.woetd, new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.wodate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>SO No. </label>
                                        <b style="color: red">*</b>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            @Html.Editor("soitemno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            <span class="input-group-btn">
                                                <button type="button" id="btnsearchso" class="btn btn-flat" data-toggle="modal" data-target="#modal-so">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                        @Html.HiddenFor(Model=>Model.somstoid)
                                        @Html.Hidden("groupoid")
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Customer</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.Editor("custname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        @Html.HiddenFor(Model => Model.custoid)
                                    </div>
                                </div>
                            </div><br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Sales</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.Editor("salesoid", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                     
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Ship To</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.Editor("custdtlname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        @Html.HiddenFor(Model => Model.custdtloid)
                                    </div>
                                </div>
                            </div><br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Item</label>
                                        <b style="color: red">*</b>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="input-group">
                                            @Html.Editor("itemlongdesc", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            <span class="input-group-btn">
                                                <button type="button" id="btnsearchitem" class="btn btn-flat" data-toggle="modal" data-target="#modal-item">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                        @Html.HiddenFor(Model=>Model.itemoid)
                                        @Html.HiddenFor(Model => Model.sodtloid)
                                        @Html.Hidden("groupoid")
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>SO Qty</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.soqty, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div><br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Toleransi</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.tolpercent, new { htmlAttributes = new { @class = "form-control", @type = "text", @onblur = "hitungTol()" } })
                                            <span class="input-group-addon">
                                                %
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.toleransi, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div><br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Note </label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.EditorFor(model => model.womstnote, new { htmlAttributes = new { @class = "form-control", @type = "text"} })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Status</label>
                                    </div>
                                    <div class="col-lg-5">
                                        @Html.EditorFor(model => model.womststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "",@value="In Process" } })
                                    </div>
                                </div>
                            </div><br>

                            <div class="box-header">
                                <h3 class="box-title" style="margin-left: 5px;"><b>Material Detail</b></h3><br>
                            </div><br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Order Type</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.ordertype, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>SPK Qty</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.spkqty, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div><br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Box Type</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.boxtype, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Lidah</label>
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.EditorFor(model => model.lidah, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                    <div class="col-lg-2" style="padding-top: 10px;">
                                        <label>Jml Ldh</label>
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.EditorFor(model => model.jmllidah, new { htmlAttributes = new { @class = "form-control", @type = "text",@value="1" } })
                                    </div>
                                </div>
                            </div><br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-3" style="padding-top: 10px;">
                                        <label>Ukuran</label>
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.EditorFor(model => model.up, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.EditorFor(model => model.ul, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.EditorFor(model => model.ut, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-2" style="padding-top: 10px;">
                                        <label>Tipe Wall</label>
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.EditorFor(model => model.sub, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                    <div class="col-lg-2" style="padding-top: 10px;">
                                        <label>Flute</label>
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.EditorFor(model => model.flute, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div><br>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-2" style="padding-top: 10px;">
                                        <label>Substance<b style="color: red">*</b></label>
                                    </div>
                                    <div class="col-lg-6">
                                        <div style="position: relative; overflow-x: auto;">
                                            <table id="datatable" class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <td>
                                                            @Html.DropDownListFor(model => model.sub1, null, new { @id = "sub1", @class = "form-control select2", @onchange = "sub1change()" })
                                                            @Html.ValidationMessageFor(model => model.sub1, "", new { @id = "sub1", @class = "text-danger" })
                                                        </td>
                                                        <td>
                                                            @Html.DropDownListFor(model => model.sub2, null, new { @id = "sub2", @class = "form-control select2", @onchange = "sub2change()" })
                                                            @Html.ValidationMessageFor(model => model.sub2, "", new { @id = "sub2", @class = "text-danger" })
                                                        </td>
                                                        <td>
                                                            @Html.DropDownListFor(model => model.sub3, null, new { @id = "sub3", @class = "form-control select2", @onchange = "sub3change()" })
                                                            @Html.ValidationMessageFor(model => model.sub3, "", new { @id = "sub3", @class = "text-danger" })
                                                        </td>
                                                        <td id="sub4td">
                                                            @Html.DropDownListFor(model => model.sub4, null, new { @id = "sub4", @class = "form-control select2", @onchange = "sub4change()" })
                                                            @Html.ValidationMessageFor(model => model.sub4, "", new { @id = "sub4", @class = "text-danger" })
                                                        </td>
                                                        <td id="sub5td">
                                                            @Html.DropDownListFor(model => model.sub5, null, new { @id = "sub5", @class = "form-control select2", @onchange = "sub5change()" })
                                                            @Html.ValidationMessageFor(model => model.sub5, "", new { @id = "sub5", @class = "text-danger" })
                                                        </td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>@Html.Editor("sub1d", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })</td>
                                                        <td>@Html.Editor("sub2d", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })</td>
                                                        <td>@Html.Editor("sub3d", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })</td>
                                                        <td id="sub4dtd">@Html.Editor("sub4d", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })</td>
                                                        <td id="sub5dtd">@Html.Editor("sub5d", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Out Corr.</label>
                                        <b style="color: red">*</b>
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.EditorFor(model => model.outcore, new { htmlAttributes = new { @class = "form-control", @type = "text", @onblur = "outcorechange()" } })
                                    </div>
                                    <div class="col-lg-2" style="padding-top: 10px;">
                                        <label>Out Flx</label>
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.EditorFor(model => model.outflx, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Lb. Bahan</label>
                                        <b style="color: red">*</b>
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.EditorFor(model => model.lbahan, new { htmlAttributes = new { @class = "form-control", @type = "text", @onblur = "lbahanchange()" } })
                                    </div>
                                    <div class="col-lg-2" style="padding-top: 10px;">
                                        <label>Trim</label>
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.EditorFor(model => model.trim, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div><br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Pj. Sheet</label>
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.EditorFor(model => model.psheet, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                    <div class="col-lg-2" style="padding-top: 10px;">
                                        <label>Lb.Sheet</label>
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.EditorFor(model => model.lsheet, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>CT</label>
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.EditorFor(model => model.ct, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                    <div class="col-lg-2" style="padding-top: 10px;">
                                        <label>RM</label>
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.EditorFor(model => model.rm, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div><br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>L. Sheet</label>
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.EditorFor(model => model.luassheet, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                    <div class="col-lg-2" style="padding-top: 10px;">
                                        <label>L. Total</label>
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.EditorFor(model => model.luastotal, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Brt Sheet</label>
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.EditorFor(model => model.wsheet, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.wsheet } })
                                    </div>
                                    <div class="col-lg-2" style="padding-top: 10px;">
                                        <label>Brt Total</label>
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.EditorFor(model => model.wtotal, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.wtotal } })
                                    </div>
                                </div>
                            </div><br>

                            <div class="row" style="display:none">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Joint</label>
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.EditorFor(model => model.joint, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                    <div class="col-lg-2" style="padding-top: 10px;">
                                        <label>Jml. Stc</label>
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.EditorFor(model => model.jmlstictch, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>No. Plate</label>
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.EditorFor(model => model.noplate, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                    <div class="col-lg-2" style="padding-top: 10px;">
                                        <label>No. DC</label>
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.EditorFor(model => model.nodc, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div><br>

                            <div class="row" style="display:none">
                                <div class="col-lg-12">
                                    <div class="col-lg-2" style="padding-top: 10px;">
                                        <label>Warna</label>
                                    </div>
                                    <div class="col-lg-10">
                                        <table id="datatable" class="table table-striped">
                                            <tr>
                                                <td>@Html.Editor("war1", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } }) @Html.HiddenFor(Model=>Model.w1)</td>
                                                <td>@Html.Editor("war2", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } }) @Html.HiddenFor(Model => Model.w2)</td>
                                                <td>@Html.Editor("war3", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } }) @Html.HiddenFor(Model => Model.w3)</td>
                                                <td>@Html.Editor("war4", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } }) @Html.HiddenFor(Model => Model.w4)</td>
                                                <td>@Html.Editor("war5", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } }) @Html.HiddenFor(Model => Model.w5)</td>
                                                <td>@Html.Editor("war6", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } }) @Html.HiddenFor(Model => Model.w6)</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div><br>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-2" style="padding-top: 10px;">
                                        <label>Mesin/Proses</label>
                                    </div>
                                    <div class="col-lg-10">
                                        <table id="datatable" class="table table-striped">
                                            <tr>
                                                <td>@Html.DropDownListFor(model => model.m1, null, new { @id = "machine1", @class = "form-control select2" })</td>
                                                <td>@Html.DropDownListFor(model => model.m2, null, new { @id = "machine2", @class = "form-control select2" })</td>
                                                <td>@Html.DropDownListFor(model => model.m3, null, new { @id = "machine3", @class = "form-control select2" })</td>
                                                <td>@Html.DropDownListFor(model => model.m4, null, new { @id = "machine4", @class = "form-control select2" })</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div><br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Remark</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.EditorFor(model => model.remark, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div><br>

                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER


                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                    </div>
                    <div class="pull-right">
                        @{
                            if (Model.womststatus == "In Process")
                            {
                                <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                @*<button type="button" class="btn btn-primary btn-md" id="btnSaveClose"><b>Save & Close</b></button>*@
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                if (ViewBag.action == "Update Data")
                                {
                                    <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                }
                                <button type="button" class="btn btn-warning btn-md" id="btnPosting"><b>Posting</b></button>
                            }
                            else
                            {
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                            }
                        }
                    </div>
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    
    @* MODAL UNTUK LOOK UP SO *@
    <div class="modal fade" id="modal-so">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">SO Finish Good Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSO" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>SO No.</th>
                                    <th>SO Date</th>
                                    <th>SO Type</th>
                                    <th>Customer</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK LOOK UP SO *@

    @* MODAL UNTUK LOOK UP Item *@
    <div class="modal fade" id="modal-item">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Finish Good Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalItem" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Item Code</th>
                                    <th>Item Desc</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK LOOK UP Item *@

</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {

        var tblModalSO = $("#tblModalSO").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalSO.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSO.row($tr).data();
            var alldata = JSON.parse(data[0]);
            $("#soitemno").val(alldata.soitemno);
            $("#custoid").val(alldata.custoid);
            $("#custname").val(alldata.custname);
            $("#custdtloid").val(alldata.custdtloid);
            $("#custdtlname").val(alldata.custdtlname);
            $("#salesoid").val(alldata.salesoid);
            $("#somstoid").val(alldata.soitemmstoid);
            $("#tolpercent").val(alldata.toleransi);
            $("#groupoid").val(0);
            $("#divgroupoid").val($('#ddldivgroupoid option:Selected').val());
            EnableddivgroupHeader();
            $('#modal-so').modal('hide');
        });

     

        var tblModalMat = $("#tblModalItem").DataTable({
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });
   
       
   
        $("#tblModalItem").on('click', '#select', function () {
            var tolp = $("#tolpercent").val();
            var table = $('#tblModalItem').DataTable();
            var ttl = 0.0;
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = table.row($tr).data();
            var alldata = JSON.parse(data[0]);
            ttl = Math.round(tolp / 100 * alldata.soitemqty);
            $("#itemlongdesc").val(alldata.itemlongdesc);
            $("#itemoid").val(alldata.itemoid);
            $("#sodtloid").val(alldata.sodtloid);
            $("#soqty").val(alldata.soitemqty);
            $("#toleransi").val(ttl);
            getdatadetail();
            $('#modal-item').modal('hide');
        });

        if ($("#action").val() == "Update Data") {
            if ($('#sub').val() == "SW") {
                //document.getElementById("sub4").disabled = true;
                //document.getElementById("sub5").disabled = true;
                document.getElementById("sub4td").style.display = "none";
                document.getElementById("sub5td").style.display = "none";
                document.getElementById("sub4dtd").style.display = "none";
                document.getElementById("sub5dtd").style.display = "none";
            }
            else {
                document.getElementById("sub4td").style.display = "";
                document.getElementById("sub5td").style.display = "";
                document.getElementById("sub4dtd").style.display = "";
                document.getElementById("sub5dtd").style.display = "";
                //document.getElementById("sub4").disabled = false;
                //document.getElementById("sub5").disabled = false;
            }
        }
    });
   
    function hitungTol() {
        var tolp = $("#tolpercent").val();
        var soqty = $("#soqty").val();
        ttl = Math.round(tolp / 100 * soqty);
        $("#toleransi").val(ttl);
        getdatadetail();
    }

    $("#btnsearchitem").click(function () {
        var cmp = $("#cmpcode option:selected").val();
        if (cmp == "")
        {
            swal('Warning', 'Please Select Business Unit first!', 'warning');
            return false;
        }
        var soid = $("#somstoid").val();
        var toleransi = $("#toleransi").val();
        var table = $('#tblModalItem').DataTable();
        
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetItemData"))",
            data: { cmp: cmp, soid: soid, toleransi: toleransi },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.itemcode,
                    val.itemlongdesc
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });
    function EnableddivgroupHeader() {
        $("#ddldivgroupoid").prop("disabled", true);
    }

    function outcorechange() {
        getw1();
    }
    function lbahanchange() {
        getw1();
    }

    function sub1change() {
        getsub1();
    }
    function sub2change() {
        getsub2();
    }
    function sub3change() {
        getsub3();
    }
    function sub4change() {
        getsub4();
    }
    function sub5change() {
        getsub5();
    }

    function getsub1() {
        var sub1 = $("#sub1").val();
        $.ajax({
            url: "@(Url.Action("Getsub1"))",
            data: { sub1: sub1 },
        cache: false,
        type: "POST",
        success: function (data) {
            $('#sub1d').val(data);
            getw1();
        },
        error: function (reponse) {
            alert("error getsub1 : " + reponse);
        }
    });
    }
    function getsub2() {
        var sub2 = $("#sub2").val();
        $.ajax({
            url: "@(Url.Action("Getsub2"))",
            data: { sub2: sub2 },
        cache: false,
        type: "POST",
        success: function (data) {
            $('#sub2d').val(data);
            getw1();
        },
        error: function (reponse) {
            alert("error getsub2 : " + reponse);
        }
    });
    }
    function getsub3() {
        var sub3 = $("#sub3").val();
        $.ajax({
            url: "@(Url.Action("Getsub3"))",
            data: { sub3: sub3 },
        cache: false,
        type: "POST",
        success: function (data) {
            $('#sub3d').val(data);
            getw1();
        },
        error: function (reponse) {
            alert("error getsub3 : " + reponse);
        }
    });
    }
    function getsub4() {
        var sub4 = $("#sub4").val();
        $.ajax({
            url: "@(Url.Action("Getsub4"))",
            data: { sub4: sub4 },
        cache: false,
        type: "POST",
        success: function (data) {
            $('#sub4d').val(data);
            getw1();
        },
        error: function (reponse) {
            alert("error getsub4 : " + reponse);
        }
    });
    }
    function getsub5() {
        var sub5 = $("#sub5").val();
        $.ajax({
            url: "@(Url.Action("Getsub5"))",
            data: { sub5: sub5 },
        cache: false,
        type: "POST",
        success: function (data) {
            $('#sub5d').val(data);
            getw1();
        },
        error: function (reponse) {
            alert("error getsub5 : " + reponse);
        }
    });
    }

    //hitung berat
    function getw1() {
        var w1 = $("#sub1d").val();
        var array = w1.split(" ", 2);
        if (array[1]=="" | array[1]==null)
        {
            array[1]=0;
        }
        var g1 = Number.parseFloat(array[1]);
     
        var w2 = $("#sub2d").val();
        var array2 = w2.split(" ", 2);
        if (array2[1] == "" | array2[1] == null) {
            array2[1] = 0;
        }
        var g2 = Number.parseFloat(array2[1]);

        var w3 = $("#sub3d").val();
        var array3= w3.split(" ", 2);
        if (array3[1] == "" | array3[1] == null) {
            array3[1] = 0;
        }
        var g3 = Number.parseFloat(array3[1]);

        var tw = $('#sub').val();
        var g4 = 0;
        var g5 = 0;
        if (tw == "DW") {
            var w4 = $("#sub4d").val();
            var array4 = w4.split(" ", 2);
            if (array4[1] == "" | array4[1] == null) {
                array4[1] = 0;
            }
            g4 = Number.parseFloat(array4[1]);

            var w5 = $("#sub5d").val();
            var array5 = w5.split(" ", 2);
            if (array5[1] == "" | array5[1] == null) {
                array5[1] = 0;
            }
            g5 = Number.parseFloat(array5[1]);

        }
   
        var itemoid = $("#itemoid").val();
        var outcore = $("#outcore").val();
        var lbahan = $("#lbahan").val();
        var spkqty = $("#spkqty").val();
        var fluteoid = $("#flute").val();
        $.ajax({
            url: "@(Url.Action("Getw1"))",
            data: { itemoid: itemoid, g1: g1, g2: g2, g3: g3, g4: g4, g5: g5, outcore: outcore, lbahan: lbahan, spkqty: spkqty, fluteoid: fluteoid },
        cache: false,
        type: "POST",
        success: function (data) {
            $('#trim').val(data.trim);
            $('#ct').val(data.ct);
            $('#rm').val(data.RM);
            $('#wsheet').val(data.wsheet);
            $('#wtotal').val(data.wtotal);
        },
        error: function (reponse) {
            alert("error GetBeratsheet : " + reponse);
        }
    });

    }

    function getdatadetail(){
        var cmp = $("#cmpcode option:selected").val();
        if (cmp == "") {
            swal('Warning', 'Please Select Business Unit first!', 'warning');
            return false;
        }
        var soid = $("#somstoid").val();
        var sodtloid = $("#sodtloid").val();
        var itemoid = $("#itemoid").val();
        var toleransi = $("#toleransi").val();
        var soqty = $("#soqty").val();
        var lbahan = $("#lbahan").val();
        var outcore = $("#outcore").val();
        var jmllidah = $("#jmllidah").val();
        $.ajax({
            url: "@(Url.Action("GetDetailData"))",
            data: { cmp: cmp, soid: soid,sodtloid:sodtloid, itemoid: itemoid, toleransi: toleransi, soqty: soqty, lbahan: lbahan, outcore: outcore, jmllidah: jmllidah },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 1;
            $.each(data, function (key, val) {
                $("#spkqty").val(val.spkqty);
                $("#boxtype").val(val.boxtype);
                $("#ordertype").val(val.ordertype);
                $("#lidah").val(val.lidah);
                $("#jmllidah").val(val.jmllidah);
                $("#up").val(val.up);
                $("#ul").val(val.ul);
                $("#ut").val(val.ut);
                $("#sub").val(val.tw);
                $("#flute").val(val.flute);
                $("#outcore").val(val.outcore);
                $("#outflx").val(val.outflex);
                $("#lbahan").val(val.lbahan);
                $("#trim").val(val.trim);
                $("#psheet").val(val.psheet);
                $("#lsheet").val(val.lsheet);
                $("#ct").val(val.ct);
                $("#rm").val(val.rm);
                $("#luassheet").val(val.luassheet);
                $("#luastotal").val(val.luastotal);
                $("#wsheet").val(val.wsheet);
                $("#wtotal").val(val.wtotal);
                $("#joint").val(val.joint);
                $("#jmlstictch").val(val.jmlstictch);
                $("#noplate").val(val.noplate);
                $("#nodc").val(val.nodc);
                $("#w1").val(val.w1);
                $("#w2").val(val.w2);
                $("#w3").val(val.w3);
                $("#w4").val(val.w4);
                $("#w5").val(val.w5);
                $("#w6").val(val.w6);
                $("#m1").val(val.m1);
                $("#m2").val(val.m2);
                $("#m3").val(val.m3);
                $("#m4").val(val.m4);
                $("#remark").val(val.remark);
                $("#war1").val(val.war1);
                $("#war2").val(val.war2);
                $("#war3").val(val.war3);
                $("#war4").val(val.war4);
                $("#war5").val(val.war5);
                $("#war6").val(val.war6);
                $("#mes1").val(val.mes1);
                $("#mes2").val(val.mes2);
                $("#mes3").val(val.mes3);
                $("#mes4").val(val.mes4);
                $("#mes1").val(val.mes1);
                $("#sub1").val(val.sub1).trigger('change');
                $("#sub2").val(val.sub2).trigger('change');
                $("#sub3").val(val.sub3).trigger('change');
                if (val.tw == "DW") {
                    $("#sub4").val(val.sub4).trigger('change');
                    $("#sub4").val(val.sub5).trigger('change');
                }
                $("#outcore").val(val.outcore);
                $("#lbahan").val(val.lbahan);
                if (val.tw == "SW") {
                    //document.getElementById("sub4").disabled = true;
                    //document.getElementById("sub5").disabled = true;
                    document.getElementById("sub4td").style.display = "none";
                    document.getElementById("sub5td").style.display = "none";
                    document.getElementById("sub4dtd").style.display = "none";
                    document.getElementById("sub5dtd").style.display = "none";
                }
                else {
                    document.getElementById("sub4td").style.display = "";
                    document.getElementById("sub5td").style.display = "";
                    document.getElementById("sub4dtd").style.display = "";
                    document.getElementById("sub5dtd").style.display = "";
                    $("#sub4").val(val.sub4).trigger('change');
                    $("#sub5").val(val.sub5).trigger('change');
                    //document.getElementById("sub4").disabled = false;
                    //document.getElementById("sub5").disabled = false;
                }
                //sub1change();
                //sub2change();
                //sub3change();
                //if (val.tw == "DW") {
                //    sub4change();
                //    sub5change();
                //}

            });
        },
        error: function (reponse) {
            alert("error Getcomponen : " + reponse);
        }
    });

       
    };
    $("#btnsearchso").click(function () {
        var table = $('#tblModalSO').DataTable();
        var cmp = $("#cmpcode option:selected").val();
        var divgroupoid = $('#ddldivgroupoid option:selected').val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSOData"))",
            data: { cmp: cmp, divgroupoid: divgroupoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.soitemno,
                        val.soitemdate,
                        val.soitemtype,
                        val.custname
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnSave").click(function () {
    
    });

    $("#btnDelete").click(function () {
        var oid = $("#womstoid").val();
        var cmp = $("#cmpcode option:selected").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

        $("#btnPosting").click(function () {
            $("#womststatus").val("Post");

            var token = $('input[name="__RequestVerificationToken"]').val()
            Swal({
                title: 'Are you sure to POST this data?',
                text: "You can't modify this data after posting",
                type: 'warning',
                showCancelButton: true,
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                confirmButtonText: 'Yes, Post this data!'
            }).then((result) => {
                if (result.value) {
                    setTimeout(function () {
                        $("#btnSave").click();
                    }, 100)
                }
            })
        });
</script>