﻿@model RSA.Controllers.WaitingActionController.waitactmodel

@{
    ViewBag.Title = "Waiting for Approval";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Approval @ViewBag.TransName</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.mstoid)
                    @Html.HiddenFor(model => model.cmpcode)
                    @Html.HiddenFor(model => model.tblname)
                    @Html.Hidden("action")
                    // TABLE HEADER SECTION
                    <div class="box-header">
                        <h3 class="box-title"><b><u>@ViewBag.BusinessUnit</u></b></h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6" style="overflow-x: auto;">
                                <table id="dtapphdr" class=" table-striped table-bordered" style="width: 100%;"></table>
                            </div>
                        </div>
                    </div>
                    <div class="box-header">
                        <h5><b><u>@ViewBag.TransName Detail Data</u></b></h5>
                    </div>

                    // LABEL INFO SECTION
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <b><span class="text-danger" id="appinfo"></span></b>
                            </div>
                        </div>
                    </div>

                    // TABLE DETAIL SECTION
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12" style="overflow-x: auto;">
                                <b><span id="totalrows"></span></b>
                                <table id="dtappdtl" class="table table-striped table-bordered" style="width: 100%;"></table>
                            </div>
                        </div>
                    </div>

                    // TABLE FOOTER SECTION
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4" style="overflow-x: auto;">
                                <table id="dtappftr" class="table-striped table-bordered" style="width: 100%;"></table>
                            </div>
                        </div>
                    </div>

                    //Reason
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-2" style="overflow-x: auto;">
                                <b>Note Alasan </b>
                            </div>
                            <div class="col-md-6" style="overflow-x: auto;">
                                <input type="text" class="form-control" id="reasonnote" style="width:100%" maxlength="200">
                            </div>
                        </div>
                    </div>

                    // BUTTON ACTION SECTION
                    <div class="box-footer">
                        <div class="pull-right">
                            <button type="submit" id="btnSubmit" style="display: none;">Submit</button>
                            <button type="button" class="btn btn-success btn-md" id="btnApprove" onclick="ApprovalAction('Approve')"><b>Approve</b></button>
                            <button type="button" class="btn btn-primary btn-md" id="btnRevise" onclick="ApprovalAction('Revise')"><b>Revise</b></button>
                            <button type="button" class="btn btn-danger btn-md" id="btnReject" onclick="ApprovalAction('Reject')"><b>Reject</b></button>
                            <a href="@Url.Action("Index/" + Model.tblname)" type="button" class="btn btn-default btn-md"><b>Back</b></a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var id = $('#mstoid').val();
        var cmp = $('#cmpcode').val();
        var tblname = $('#tblname').val();

        $.ajax({
            url: "@(Url.Action("GetDataApproval"))",
            data: { id: id, cmp: cmp, tblname: tblname },
            cache: false,
            type: "POST",
            success: function (data) {
                var rowshdr = [];
                var colsdtl = [];
                var rowsdtl = [];
                var rowsftr = [];

                if (data.msg == "") {
                    // Set Data for Header
                    $.each(data.rowshdr, function (key, val) {
                        var row = Object.values(val);
                        rowshdr.push(row);
                    });
                    $('#dtapphdr').dataTable({
                        "data": rowshdr,
                        "ordering": false,
                        "searching": false,
                        "paging": false,
                        "info": false,
                        "autoWidth": false,
                        "columnDefs": [
                            { className: "text-bold col-md-4", "targets": [0] },
                            { className: "col-md-8", "targets": [1] }
                        ],
                        "drawCallback": function (settings) {
                            $("#dtapphdr thead").hide();
                        }
                    });

                    // Set Data for Information
                    $('#appinfo').html(data.info);

                    // Set Data for Detail
                    $.each(data.colsdtl, function (key, val) {
                        var obj = {
                            title: val
                        }
                        colsdtl.push(obj);
                    });
                    var i = 0; var j = 0;
                    if (tblname == 'ql_trnstockadj'){
                        $.each(data.rowsdtl, function (key, val) {
                            rowsdtl.push([
                            ++j,
                            JSON.stringify(val),
                            val.mstoid,
                            val.dtloid,
                            val.itemoid,
                            val.whoid,
                            val.refname,
                            val.Mat_Code,
                            val.Mat_Desc,
                            val.Location,
                            val.Current_Qty,
                            val.Adj_Qty,
                            val.New_Qty,
                            val.Unit,
                            '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="stockvalue-' + val.dtloid + '" name="stockvalue-' + val.dtloid + '" value="' + val.Value + '">',
                            val.Detail_Note
                            ]);
                            i++;
                        });
                    } else {
                        $.each(data.rowsdtl, function (key, val) {
                            var row = Object.values(val);
                            rowsdtl.push(row);
                            i++;
                        });
                    }

                    $('#totalrows').html('Total Rows : ' + i.toString());
                    var tblDtl = null;
                    if (tblname == 'ql_trnstockadj') {
                        var tblDtl = $('#dtappdtl').dataTable({
                            "columns": colsdtl,
                            "data": rowsdtl,
                            "ordering": false,
                            "searching": false,
                            "paging": false,
                            "info": false,
                            "autoWidth": false,
                            "columnDefs": [
                                    {
                                        "targets": [1,2,3,4,5,6],
                                        "visible": false
                                    }
                            ]
                        });
                    }
                    else {
                        tblDtl = $('#dtappdtl').dataTable({
                            "columns": colsdtl,
                            "data": rowsdtl,
                            "ordering": false,
                            "searching": false,
                            "paging": false,
                            "info": false,
                            "autoWidth": false

                        });
                    }
                    
                    tblDtl.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
                        $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
                        if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                            e.preventDefault();
                        }
                    });

                    // Set Data for Footer
                    $.each(data.rowsftr, function (key, val) {
                        var row = Object.values(val);
                        rowsftr.push(row);
                    });
                    if (rowsftr.length > 0)
                    {
                        $('#dtappftr').dataTable({
                            "data": rowsftr,
                            "ordering": false,
                            "searching": false,
                            "paging": false,
                            "info": false,
                            "autoWidth": false,
                            "columnDefs": [
                                { className: "text-bold col-md-4", "targets": [0] },
                                { className: "text-right col-md-8", "targets": [1] }
                            ],
                            "drawCallback": function (settings) {
                                $("#dtappftr thead").hide();
                            }
                        });
                    }
                }
                else
                {
                    swal('', data.msg, 'info');
                }
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    });    

    function SetDataDtl() {
        var table = $('#dtappdtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][1]);
            var stockvalue_id = "#stockvalue-" + alldata.dtloid;
            var stockvalue = table.$(stockvalue_id).val();
            var obj = {
                stockadjoid: alldata.dtloid,
                resfield1: alldata.mstoid,
                itemoid: alldata.itemoid,
                mtrwhoid: alldata.whoid,
                refname: alldata.refname,
                stockadjqty: alldata.Adj_Qty,
                stockvalue: stockvalue
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    function ApprovalAction(action) {
        var tblname = $('#tblname').val();
        var rv = $("#reasonnote").val();
        var flag = "true";
        var noteReason = 'Note Alasan Tidak Boleh Kosong !!!';
        if (tblname == 'ql_trnstockadj') {
            var table = $('#dtappdtl').DataTable();
            var dataDtl = table.rows().data();
            for (var i = 0 ; i < dataDtl.length; i++) {
                var alldata = JSON.parse(dataDtl[i][1]);
                var stockvalue_id = "#stockvalue-" + alldata.No;
                var stockvalue = table.$(stockvalue_id).val();
                if (stockvalue == "") {
                    flag = false;
                    var noteReason = 'Value Tidak Boleh Kosong !!!';
                    break;
                } else {
                    if (stockvalue == 0) {
                        flag = false;
                        var noteReason = 'Value Tidak Boleh 0 !!!';
                        break;
                    }
                }
            }
            if (flag == "true") {
                SetDataDtl();
            }
        }

        if (action == "Revise") {
            if (rv == "") {
                flag = false;
            }
            SetRevisedNote();
        }
        else if (action == "Reject") {
            if (rv == "") {
                flag = false;
            }
            SetRejectedNote();
        }

        if (flag == "true") {
            $("#action").val(action + (action == "Reject" ? "e" : "") + "d");
            var token = $('input[name="__RequestVerificationToken"]').val();
            Swal({
                title: 'Are you sure to ' + action.toUpperCase() + ' this data?',
                text: "",
                type: 'warning',
                showCancelButton: true,
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                confirmButtonText: 'Yes, ' + action + ' this data!'
            }).then((result) => {
                if (result.value) {
                    setTimeout(function () {
                        $("#btnSubmit").click();
                    }, 100)
                }
            });
        }
        else {
            Swal({
                title: 'WARNING!',
                text: noteReason,
                type: 'warning'
            });
        }
    }

    function SetRevisedNote() {
        var rv = $("#reasonnote").val();

        $.ajax({
            url: "@(Url.Action("setrevisednote"))",
            data: { rv: rv },
        cache: false,
        type: "POST",
        success: function (data) {

        },
        error: function (err) {
            console.log(err);
        }
    });
    }

    function SetRejectedNote() {
        var rj = $("#reasonnote").val();

        $.ajax({
            url: "@(Url.Action("setrejectednote"))",
            data: { rj: rj },
        cache: false,
        type: "POST",
        success: function (data) {

        },
        error: function (err) {
            console.log(err);
        }
    });
    }
</script>