﻿@model RSA.Models.DB.QL_trncashbankmst

@{
    ViewBag.Title = "Cash/Bank Expense";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Cash/Bank Expense</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Cash/Bank Expense Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.divgroupoid)
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        @Html.Hidden("division")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Divisi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("ddldivgroupoid", null, new { @class = "form-control", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.cmpcode, null, new { @class = "form-control select2", @required = ""})
                                            @Html.ValidationMessageFor(model => model.cmpcode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Cash/Bank No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.cashbankno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.cashbankoid)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Expense Date</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.cashbankdate, new { htmlAttributes = new { @class = "form-control datemask2 datepicker", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.cashbankdate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Payment Type</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.cashbanktype, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="CASH", Value="BKK" },
                                                new SelectListItem { Text="TRANSFER", Value="BBK" },
                                                //new SelectListItem { Text="GIRO/CHEQUE", Value="BGK" },
                                                new SelectListItem { Text="DOWN PAYMENT", Value="BLK" }
                                            }, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Payment Account</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.acctgoid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.acctgoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Currency</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.curroid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.curroid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Amount</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.cashbankdpp, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" id="col_cashbankrefno">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Ref. No. <label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.cashbankrefno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                        </div>
                                    </div>
                                </div>
                                @**Lookup DP No.**@
                                <div class="col-md-6" id="col_dpno">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">DP No. <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("dpapno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchdp" class="btn btn-flat" data-toggle="modal" data-target="#modal-dp">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.giroacctgoid)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" id="col_cashbankduedate">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Due Date</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.cashbankduedate, new { htmlAttributes = new { @class = "form-control datemask2 datepicker", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.cashbankduedate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" id="col_dpamt">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">DP Amount</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.cashbankresamt, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly=""} })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" id="col_cashbanktakegiro">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Start Date Take Giro <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.cashbanktakegiro, new { htmlAttributes = new { @class = "form-control datemask2 datepicker", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.cashbanktakegiro, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Supplier</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("suppname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchsupp" class="btn btn-flat" data-toggle="modal" data-target="#modal-supp">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.refsuppoid)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tax</label>
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.cashbanktaxtype, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.cashbanktaxpct, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total DP Amt</label>
                                        <div class="col-md-4">
                                            @Html.Editor("totaldpamt", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" id="col_deduction" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Deduction</label>
                                        <div class="col-md-4">
                                            @Html.Editor("totaldeduction", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="col_supp_account">
                                <div class="col-md-6">
                                    <div class="form-group" style="display:none">
                                        <label class="col-md-4 control-label">Supplier Account</label>
                                        <div class="col-md-8">
                                           @*@Html.DropDownListFor(model => model.cashbanksuppaccoid, null, new { @class = "form-control select2", @required = "" })*@
                                        </div>
                                        @*@Html.ValidationMessageFor(model => model.cashbanksuppaccoid, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Supp Account Title</label>
                                        <div class="col-md-8">
                                            @Html.Editor("suppaccount", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly="" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tax Amount</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.cashbanktaxamt, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Other Tax Amount</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.cashbankothertaxamt, new { htmlAttributes = new { @class = "form-control allownumericwithdecimal", @type = "text"} })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Grand Total</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.cashbankamt, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.cashbankamt, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">PIC</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.personoid, null, new { @class = "form-control select2", @required = ""})
                                        </div>
                                        @Html.ValidationMessageFor(model => model.personoid, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.cashbanknote, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength="100" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.cashbankstatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.cashbankstatus } })
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>Cash/Bank Expense Detail</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.Hidden("seq")
                        <div class="container-fluid">
                            <div class="pull-left">
                                <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Add To List</b></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No</th>
                                        <th></th>
                                        <th>Account No.</th>
                                        <th>Account Desc.</th>
                                        <th>Amount</th>
                                        <th>Note</th>
                                        <th>Division</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                    </div>
                    <div class="pull-right">
                        @{
                            if (Model.cashbankstatus == "In Process")
                            {
                                <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                <button type="button" class="btn btn-primary btn-md" id="btnSaveClose"><b>Save & Close</b></button>
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                if (ViewBag.action == "Update Data")
                                {
                                    <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                }
                                <button type="button" class="btn btn-warning btn-md" id="btnSendForApproval"><b>Posting</b></button>
                            }
                            else
                            {
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                if (Model.cashbankstatus == "Post")
                                {
                                    <button type="button" class="btn btn-primary btn-md" onclick="ShowCOAPosting()" data-toggle="modal" data-target="#modal-showcoa"><b>Show COA</b></button>
                                }
                            }
                        }
                    </div>
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK DP *@
    <div class="modal fade" id="modal-dp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Down Payment</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDP" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>DP No.</th>
                                    <th>DP Date</th>
                                    <th>DP Account</th>
                                    <th>DP Amount</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK DP *@

    @* MODAL UNTUK FORM DETAIL COA *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Expense Acoount</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Account No.</th>
                                    <th>Account Desc</th>
                                    <th>Amount</th>
                                    <th>Detail Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL COA *@

    @* MODAL UNTUK GANTI COA *@
    <div class="modal fade" id="modal-coa">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Expense Account</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCOA" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Account No.</th>
                                    <th>Account Desc</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK GANTI COA *@

    @* MODAL UNTUK SUPPLIER *@
    <div class="modal fade" id="modal-supp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Supplier</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Taxable</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SUPPLIER *@

    @* MODAL UNTUK SHOW COA *@
    <div class="modal fade" id="modal-showcoa">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="col-md-6">
                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 20%;">COA Posting Rate : </td>
                                <td style="width: 40%;">
                                    @Html.DropDownList("ratetype", new List<SelectListItem> {
                                            new SelectListItem { Text="IDR", Value="IDR" },
                                            new SelectListItem { Text="USD", Value="USD" }
                                        }, new { @class = "form-control", @style = "width: 90%;" })
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalShowCOA" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th>Account No.</th>
                                    <th>Account Desc.</th>
                                    <th>Debet</th>
                                    <th>Credit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SHOW COA *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0,7],
                "visible": false,
                "searchable": false
            }]
        });

        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw(); SetDataDtl(); CountHdrAmount(); FillDetailData();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
            EnabledHeader();
        });
        table.on("keypress keyup blur", ".allownumericwithNegative", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.-]/g, ''));
            if ((e.which != 45 || $(this).val().indexOf('-') != -1) && (e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });
        tblModalDtl.on("keypress keyup blur", ".allownumericwithNegative", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.-]/g, ''));
            if ((e.which != 45 || $(this).val().indexOf('-') != -1) && (e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        tblModalDtl.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        $("#tblModalSupp").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        $("#tblModalDP").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalCOA = $("#tblModalCOA").DataTable({
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalShowCOA = $("#tblModalShowCOA").DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalSupp = $("#tblModalSupp").DataTable();
        tblModalSupp.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSupp.row($tr).data();
            var alldata = JSON.parse(data[0])
            var tbldtl = $('#DataDtl').DataTable();
            $("#suppname").val(alldata.suppname);
            $("#refsuppoid").val(alldata.suppoid);
            $("#cashbanktaxtype").val(alldata.supptaxable);
            $("#cashbanktaxpct").val(0);
            if (alldata.supptaxable == "TAX") {
                $("#cashbanktaxpct").val(alldata.supptaxvalue);
            }
            CountHdrAmount();
            InitDDLSuppAccount();
            BindTotalDP();
            $('#modal-supp').modal('hide');
        });

        var tblModalDP = $("#tblModalDP").DataTable();
        tblModalDP.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalDP.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#dpapno").val(alldata.dpapno);
            $("#acctgoid").val(alldata.dpapacctgoid).trigger("change");
            $("#giroacctgoid").val(alldata.dpapoid);
            $("#cashbankresamt").val(alldata.dpapamt);
            $('#modal-dp').modal('hide');
        });

        $("#cmpcode").change(function () {
            CashBankType();
            InitDDLPerson();
            InitDDLDivision();
            if ($("#action").val() == "New Data") {
                GenerateExpenseNo();
            }
        });

        $("#cashbanktype").change(function () {
            CashBankType();
            if ($("#action").val() == "New Data") {
                GenerateExpenseNo();
            }
        });

        $("#cashbankdate").change(function () {
            if ($("#action").val() == "New Data") {
                GenerateExpenseNo();
            }
        });

        $("#acctgoid").change(function () {
            if ($("#action").val() == "New Data") {
                GenerateExpenseNo();
            }
            if ($("#acctgoid").val() != 0) {
                SetCOACurrency();
            }
        });

        $("#curroid").change(function () {
            $("#totaldpamt").val(0);
            if ($("#suppname") != "") {
                BindTotalDP();
            }
        })

        $("#cashbanksuppaccoid").change(function () {
            $("#suppaccount").val("");
            if ($("#cashbanksuppaccoid").val() != 0) {
                GetAccountName();
            }
        })

        $("#cashbankothertaxamt").change(function () {
            CountHdrAmount();
        })

        $("#ratetype").change(function () {
            $("#modal-showcoa").modal('show');
            ShowCOAPosting();
        })

        InitDDLDivision();
        InitDDLPerson();
        CashBankType();
        FillDetailData();
    })

    function CashBankType() {
        var sVar = "VAR_CASH";
        $("#curroid").attr("readonly", true);
        $("#acctgoid").attr("readonly", false);
        $("#cashbankrefno").attr("readonly", false);
        $("#col_cashbankduedate").hide();
        $("#col_cashbanktakegiro").hide();
        $("#col_supp_account").hide();
        $("#col_dpno").hide();
        $("#col_cashbankrefno").show();
        $("#col_dpamt").hide();
        if ($("#cashbanktype option:selected").val() == "BBK") {
            sVar = "VAR_BANK";
            $("#col_cashbankduedate").show();
            $("#col_supp_account").show();
            InitDDLSuppAccount();
        } else if ($("#cashbanktype option:selected").val() == "BGK") {
            sVar = "VAR_BANK";
            $("#cashbankrefno").attr("readonly", true);
            $("#col_cashbankduedate").show();
            $("#col_cashbanktakegiro").show();
            if ($("#action").val() == "New Data") {
                $("#cashbanktakegiro").val("");
            }
            $("#col_supp_account").show();
            InitDDLSuppAccount();
        } else if ($("#cashbanktype option:selected").val() == "BLK") {
            sVar = "VAR_DP_AP";
            $("#curroid").attr("readonly", false);
            $("#acctgoid").attr("readonly", true);
            $("#col_dpno").show();
            $("#col_cashbankrefno").hide();
            $("#col_dpamt").show();
        }

        InitDDLAcctg(sVar);
    }

    function BindTotalDP() {
        var cmpcode = $("#cmpcode option:selected").val();
        var action = $("#action").val();
        var curroid = $("#curroid option:selected").val();
        var suppoid = $("#refsuppoid").val();
        var cashbankoid = $("#cashbankoid").val();
        $.ajax({
            url: "@(Url.Action("BindTotalDP"))",
            data: { cmpcode: cmpcode, action: action, curroid: curroid, suppoid: suppoid, cashbankoid: cashbankoid },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#totaldpamt").val(data);
            },
            error: function (err) {
                console.log(err);
            }
        })
    }

    function GetAccountName() {
        var cashbanksuppaccoid = $("#cashbanksuppaccoid").val();
        $.ajax({
            url: "@(Url.Action("GetAccountName"))",
            data: { cashbanksuppaccoid: cashbanksuppaccoid },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#suppaccount").val(data);
            },
            error: function (err) {
                console.log(err);
            }
        })
    }

    function SetCOACurrency() {
        var acctgoid = $("#acctgoid option:selected").val();
        $.ajax({
            url: "@(Url.Action("SetCOACurrency"))",
            data: { acctgoid: acctgoid },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data != 0) {
                    $("#curroid").val(data).trigger("change");
                }
            },
            error: function (err) {
                console.log(err);
            }
        })
    }

    function GenerateExpenseNo() {
        var cmpcode = $("#cmpcode option:selected").val();
        var cashbankdate = $("#cashbankdate").val();
        var cashbanktype = $("#cashbanktype").val();
        var acctgoid = $("#acctgoid option:selected").val();
        $.ajax({
            url: "@(Url.Action("GenerateExpenseNo"))",
            data: { cmp: cmpcode, cashbankdate: cashbankdate, cashbanktype: cashbanktype, acctgoid: acctgoid },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#cashbankno").val(data);
            },
            error: function (err) {
                console.log(err);
            }
        })
    }

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.cashbankglseq,
                    '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                    val.acctgcode,
                    val.acctgdesc,
                    '<input type="text" class="form-control allownumericwithNegative" style="max-width: 80px" id="cashbankglamt-' + val.cashbankglseq + '" name="cashbankglamt-' + val.cashbankglseq + '" value="' + val.cashbankglamt + '" onchange="CountDtlAmount(' + val.cashbankglseq + ')">',
                    '<input type="text" class="form-control" style="max-width: 150px" id="cashbankglnote-' + val.cashbankglseq + '" name="cashbankglnote-' + val.cashbankglseq + '" value="' + (val.cashbankglnote == null ? "" : val.cashbankglnote) + '">',
                    '<select class = "form-control" id="groupoid-' + val.cashbankglseq + '">' + $("#division").val(),
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                $.each(data, function (key, val) {
                    $('#groupoid-' + val.cashbankglseq).val(val.groupoid).trigger("change");
                });
                CountHdrAmount();
                EnabledHeader();
                InitDDLSuppAccount();
            }, 100);
        });
    }

    function InitDDLAcctg(sVar) {
        var cmp = $("#cmpcode option:selected").val();
        var acctgoid = $("#acctgoid");
        var acctgoid_sel = $("#acctgoid option:selected").val();
        var sVal = true;
        acctgoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { cmp: cmp, sVar: sVar},
            cache: false,
            type: "POST",
            success: function (data) {
            var markup = "";
            if (sVal) {
                var isExist = false;
                $.each(data, function (key, val) {
                    markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                    if (val.acctgoid == acctgoid_sel) {
                        isExist = true;
                    }
                });
                console.log(data.tbl);
                acctgoid.html(markup).show();
                if (isExist == true) {
                    acctgoid.val(acctgoid_sel);
                }
                acctgoid.trigger('change');
                if ($("#action").val() == "New Data") {
                    GenerateExpenseNo();
                }
            } else {
                acctgoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function InitDDLPerson() {
        var cmp = $("#cmpcode option:selected").val();
        var personoid = $("#personoid");
        var personoid_sel = $("#personoid option:selected").val();
        personoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLPerson"))",
            data: { cmp: cmp},
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.personoid + "\'>" + val.personname + "</option>";
                        if (val.personoid == personoid_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    personoid.html(markup).show();
                    if (isExist == true) {
                        personoid.val(personoid_sel);
                    }
                    personoid.trigger('change');
                } else {
                    personoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function InitDDLSuppAccount() {
        var suppoid = ($("#refsuppoid").val() == null ? 0 : $("#refsuppoid").val());
        var cashbanksuppaccoid = $("#cashbanksuppaccoid");
        var cashbanksuppaccoid_sel = $("#cashbanksuppaccoid option:selected").val();
        cashbanksuppaccoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLSuppAccount"))",
            data: { suppoid: suppoid},
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.accountoid + "\'>" + val.accountname + "</option>";
                        if (val.accountoid == cashbanksuppaccoid_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    cashbanksuppaccoid.html(markup).show();
                    if (isExist == true) {
                        cashbanksuppaccoid.val(cashbanksuppaccoid_sel);
                    }
                    cashbanksuppaccoid.trigger('change');
                } else {
                    cashbanksuppaccoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        $("#cmpcode").attr("readonly", bVal);
        $("#acctgoid").attr("readonly", bVal);
        $("#cashbanktype").attr("readonly", bVal);
        //$("#curroid").attr("readonly", bVal);
        $("#btnsearchsupp").attr("disabled", bVal);
        $("#btnsearchdp").attr("disabled", bVal);
        $("#divgroupoid").val($('#ddldivgroupoid option:Selected').val());
        $("#ddldivgroupoid").attr("disabled", bVal);
    }

    function CountHdrAmount() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var dVal = 0;
        var dValMinus = 0;
        if (data.length > 0) {
            for (var i = 0; i < data.length; i++) {
                var alldata = JSON.parse(data[i][0]);
                if (alldata.cashbankglamt > 0) {
                    dVal += parseFloat(alldata.cashbankglamt);
                } else if (alldata.cashbankglamt < 0) {
                    dValMinus += parseFloat(alldata.cashbankglamt);
                }
            }
        }
        $("#col_deduction").hide();
        $("#totaldeduction").val(dValMinus);
        if (dValMinus < 0) {
            $("#col_deduction").show();
        }
        $("#cashbankdpp").val(dVal);
        $("#cashbanktaxamt").val(0);
        var cashbankamt = 0; var cashbanktaxamt = 0; var cashbankothertaxamt = 0;
        if ($("#cashbanktaxtype").val() == "TAX") {
            var sAmt = $("#cashbankdpp").toString().split('.')
            var sTaxKoma = 0;
            cashbankamt = $("#cashbankdpp").val();
            var cashbanktaxpct = $("#cashbanktaxpct").val();
            if (sAmt.length > 1) {
                sTaxKoma = sAmt[1].length;
                $("#cashbanktaxamt").val(Math.round((cashbankamt * cashbanktaxpct) / 100, sTaxKoma));
            } else {
                $("#cashbanktaxamt").val(Math.round((cashbankamt * cashbanktaxpct) / 100, 4));
            }
            cashbanktaxamt = $("#cashbanktaxamt").val();
        }
        var cashbankgrandtotal = parseFloat($("#cashbankdpp").val()) + parseFloat(cashbanktaxamt) + parseFloat($("#cashbankothertaxamt").val()) + parseFloat(dValMinus);
        $("#cashbankamt").val(cashbankgrandtotal);
    }

    function CountDtlAmount(id) {
        var table = $('#DataDtl').DataTable();
        var data = table.row(id - 1).data();
        var alldata = JSON.parse(data[0]);
        var cashbankglamt_id = "#cashbankglamt-" + id;
        var cashbankglamt = table.$(cashbankglamt_id).val();

        alldata.cashbankglamt = cashbankglamt;
        data[0] = JSON.stringify(alldata);
        data[5] = '<input type="text" class="form-control allownumericwithNegative" style="max-width: 80px" id="cashbankglamt-' + id + '" name="cashbankglamt-' + id + '" value="' + alldata.cashbankglamt + '" onchange="CountDtlAmount(' + id + ')">';

        table.row(id - 1).data(data).invalidate();
        CountHdrAmount();
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    function ClearCust() {
        $("#custname").val("");
        $("#custoid").val("");
    }

    function ClearAR() {
        $("#aritemno").val("");
        $("#aritemmstoid").val("");
    }

    function InitDDLDivision() {
        var cmp = $("#cmpcode option:selected").val();
        $.ajax({
            url: "@(Url.Action("InitDDLDiv"))",
            data: { cmp: cmp },
            cache: false,
            async: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.groupoid + "\'>" + val.groupdesc + "</option>";
                    });

                    $("#division").val(markup);
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function ShowCOAPosting() {
        var table = $('#tblModalShowCOA').DataTable();
        var cmpcode = $("#cmpcode option:selected").val();
        var cashbankno = $("#cashbankno").val();
        var ratetype = $("#ratetype option:selected").val();
        var glother1 = "QL_trncashbankmst " + $("#cashbankoid").val();

        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("ShowCOAPosting"))",
            data: { cashbankno: cashbankno, cmpcode: cmpcode, ratetype: ratetype, glother1: glother1 },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        val.acctgcode,
                        val.acctgdesc,
                        val.acctgdebet,
                        val.acctgcredit,
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    $("#btnsearchdp").click(function () {
        if ($("#suppname").val() == "") {
            Swal({
                title:'WARNING!',
                text: 'Please select SUPPLIER field!',
                type:'warning'
            });
            return false;
        } else {
            var table = $('#tblModalDP').DataTable();
            var suppoid = $('#refsuppoid').val();
            var cmp = $("#cmpcode option:selected").val();
            var curroid = $("#curroid option:selected").val();
            table.clear().draw();
            $.ajax({
                url: "@(Url.Action("BindDPData"))",
                data: { cmp: cmp, suppoid: suppoid, curroid: curroid },
                cache: false,
                type: "POST",
                success: function (data) {
                    var rows = [];
                    var i = 0;
                    $.each(data, function (key, val) {
                        rows.push([
                            JSON.stringify(val),
                            '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                            val.dpapno,
                            moment(jsDate(val.dpapdate)).format('MM/DD/YYYY'),
                            val.acctgdesc,
                            val.dpapamt,
                            val.dpapnote,
                        ]);
                    });
                    setTimeout(function () {
                        table.rows.add(rows).draw();
                    }, 100);
            },
            error: function (err) {
                console.log(err);
            }
            });
        }
    });

    $("#btnsearchsupp").click(function () {
        var table = $('#tblModalSupp').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("BindSupplierData"))",
            data: {},
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.suppcode,
                        val.suppname,
                        val.supptaxable,
                        val.suppaddr,
                    ]);
                });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
            },
                error: function (err) {
                    console.log(err);
                }
            });
    });

    $("#btnAddToList").click(function () {
        var table = $('#tblModalDtl').DataTable();
        var cmp = $("#cmpcode option:selected").val();
        var sVar = "VAR_EXPENSE";
        table.column(1).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { cmp: cmp, sVar: sVar},
            cache: false,
            type: "POST",
            success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    ++i,
                    val.acctgcode,
                    val.acctgdesc,
                    '<input type="text" class="form-control allownumericwithNegative" style="max-width: 80px" id="cashbankglamt-' + i + '" name="cashbankglamt-' + i + '" value="' + val.cashbankglamt + '" onchange="CountDtlAmount(' + i + ')">',
                    '<input type="text" class="form-control" style="max-width: 150px" id="cashbankglnote-' + i + '" name="cashbankglnote-' + i + '" value="' + (val.cashbankglnote == null ? "" : val.cashbankglnote) + '">'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
        });
    });

    $('#DataDtl').on('click', '#edit', function () {
        var tbldtl = $('#DataDtl').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = tbldtl.row($tr).data();
        var alldata = JSON.parse(data[0]);
        $("#seq").val(alldata.cashbankglseq - 1);
        $('#modal-coa').modal('show');

        var table = $('#tblModalCOA').DataTable();
        var cmp = $("#cmpcode option:selected").val();
        var sVar = "VAR_EXPENSE";
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { cmp: cmp, sVar: sVar },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.acctgcode,
                        val.acctgdesc
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#tblModalCOA").on('click', '#select', function () {
        var table = $('#tblModalCOA').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = table.row($tr).data();
        var alldata = JSON.parse(data[0]);

        var tbldtl = $('#DataDtl').DataTable();
        var datadtl = tbldtl.row($('#seq').val()).data();
        var alldatadtl = JSON.parse(datadtl[0]);
        if (alldata.cashbankglamt = 0) {
            Swal({
                text: 'Amount cannot be 0',
                type: 'warning'
            });
            return false
        }
        var iSeq = parseInt($('#seq').val()) + 1;
        alldata.cashbankglamt = 0;
        alldata.cashbankglnote = "";
        var obj = {
            cashbankglseq: iSeq,
            acctgoid: alldata.acctgoid,
            acctgcode: alldata.acctgcode,
            acctgdesc: alldata.acctgdesc,
            cashbankglamt: alldata.cashbankglamt,
            cashbankglnote: alldata.cashbankglnote,
        };

        datadtl[0] = JSON.stringify(obj);
        datadtl[3] = alldata.acctgcode;
        datadtl[4] = alldata.acctgdesc;
        datadtl[5] = '<input type="text" class="form-control allownumericwithNegative" style="max-width: 80px" id="cashbankglamt-' + iSeq + '" name="cashbankglamt-' + iSeq + '" value="' + alldata.cashbankglamt + '" onchange="CountDtlAmount(' + iSeq + ')">';
        datadtl[6] = '<input type="text" class="form-control" style="max-width: 150px" id="cashbankglnote-' + iSeq + '" name="cashbankglnote-' + iSeq + '" value="' + (alldata.cashbankglnote == null ? "" : alldata.cashbankglnote) + '">';
        datadtl[7] = '<select class = "form-control" id="groupoid-' + iSeq + '">' + $("#division").val();

        tbldtl.row($('#seq').val()).data(datadtl).invalidate();
        CountHdrAmount();
        $('#modal-coa').modal('hide');
    });

    function AddToDetail() {
        var isValid = true;
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            var data = table.row(val - 1).data();
            var alldata = JSON.parse(data[0]);
            var cashbankglamt_id = "#cashbankglamt-" + val;
            var cashbankglnote_id = "#cashbankglnote-" + val;
            var groupoid_id = "#groupoid-" + val;
            var cashbankglamt = table.$(cashbankglamt_id).val();
            var cashbankglnote = table.$(cashbankglnote_id).val();
            var groupoid = table.$(groupoid_id).val();
            if (!IsOnDtl(alldata.acctgoid, alldata.cashbankglnote, alldata.groupoid)) {
                var id = tbldtl.rows().data().length + 1;
                var obj = {
                    cashbankglseq: id,
                    acctgoid: alldata.acctgoid,
                    acctgcode: alldata.acctgcode,
                    acctgdesc: alldata.acctgdesc,
                    cashbankglamt: cashbankglamt,
                    cashbankglnote: cashbankglnote,
                    groupoid: groupoid,
                };
                tbldtl.row.add([
                    JSON.stringify(obj),
                    id,
                    '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                    alldata.acctgcode,
                    alldata.acctgdesc,
                    '<input type="text" class="form-control allownumericwithNegative" style="max-width: 80px" id="cashbankglamt-' + id + '" name="cashbankglamt-' + id + '" value="' + cashbankglamt + '" onchange="CountDtlAmount(' + id + ')">',
                    '<input type="text" class="form-control" style="max-width: 150px" id="cashbankglnote-' + id + '" name="cashbankglnote-' + id + '" value="' + (cashbankglnote == null ? "" : cashbankglnote) + '">',
                    '<select class = "form-control" id="groupoid-' + id + '">' + $("#division").val(),
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]).draw();
                $.each(data, function (key, val) {
                    $('#groupoid-' + val.cashbankglseq).val(val.groupoid).trigger("change");
                });
                CountHdrAmount();
            }
        });
        SetDataDtl();
        EnabledHeader();
    }

    function IsOnDtl(acctgoid, cashbankglnote, groupoid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if ((acctgoid == alldata.acctgoid) && (cashbankglnote == alldata.cashbankglnote) && (groupoid == alldata.groupoid)) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var cashbankglamt_id = "#cashbankglamt-" + alldata.cashbankglseq;
            var cashbankglnote_id = "#cashbankglnote-" + alldata.cashbankglseq;
            var groupoid_id = "#groupoid-" + alldata.cashbankglseq;
            var cashbankglamt = table.$(cashbankglamt_id).val();
            var cashbankglnote = table.$(cashbankglnote_id).val();
            var groupoid = table.$(groupoid_id).val();
            var obj = {
                cashbankglseq: i + 1,
                acctgoid: alldata.acctgoid,
                acctgcode: alldata.acctgcode,
                acctgdesc: alldata.acctgdesc,
                cashbankglamt: cashbankglamt,
                cashbankglnote: cashbankglnote,
                groupoid: groupoid,
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    $("#btnSave").click(function () {
        if ($("#cashbanktype") == "BLK") {
            $("#cashbankrefno").val($("#dpapno").val());
        }
        SetDataDtl();
    });

    $("#btnSaveClose").click(function () {
        $("#closing").val("true");
        $("#btnSave").click();
    });

    $("#btnDelete").click(function () {
        var oid = $("#cashbankoid").val();
        var cmp = $("#cmpcode option:selected").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnSendForApproval").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to POST this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Post this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
		    $("#cashbankstatus").val("Post");
                    $("#closing").val("true");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>