﻿@model RSA.Models.DB.QL_trncashbankmst

@{
    ViewBag.Title = "A/P Payment";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form A/P Payment</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>A/P Payment Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cashbankoid)
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.cashbankgroup)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.HiddenFor(model => model.cashbanktaxtype)
                        @Html.HiddenFor(model => model.cashbanktaxpct)
                        @Html.HiddenFor(model => model.cashbanktaxamt)
                        @Html.HiddenFor(model => model.cashbankothertaxamt)
                        @Html.HiddenFor(model => model.cashbanktakegiroreal)
                        @Html.HiddenFor(model => model.cashbanktakegiro)
                        @Html.HiddenFor(model => model.cashbankgiroreal)
                        @Html.HiddenFor(model => model.cashbankaptype)
                        @Html.HiddenFor(model => model.cashbankapoid)
                        @Html.HiddenFor(model => model.deptoid)

                        @Html.HiddenFor(model => model.cashbankres1)
                        @Html.HiddenFor(model => model.cashbankres2) 
                        @Html.HiddenFor(model => model.cashbankres3)
                        @Html.HiddenFor(model => model.divgroupoid)
                        @Html.Hidden("addacctgoid1_temp")
                        @Html.Hidden("addacctgoid2_temp")
                        @Html.Hidden("addacctgoid3_temp")
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Divisi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("ddldivgroupoid", null, new { @class = "form-control", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Cash/Bank No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.cashbankno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">A/P Date</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.cashbankdate, new { htmlAttributes = new { @class = "form-control datemask2", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.cashbankdate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Supplier <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("suppname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchsupp" class="btn btn-flat" data-toggle="modal" data-target="#modal-supp">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.Hidden("paytype")
                                            @Html.Hidden("email")
                                            @Html.HiddenFor(model => model.refsuppoid)
                                            @Html.ValidationMessageFor(model => model.refsuppoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div> 
                            </div>@*Cash/Bank No. -- Payment Date*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Payment Type</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.cashbanktype, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="CASH", Value="BKK" },
                                                new SelectListItem { Text="TRANSFER", Value="BBK" },
                                                //new SelectListItem { Text="GIRO/CHEQUE", Value="BGK" },
                                                new SelectListItem { Text="DOWN PAYMENT", Value="BLK" }
                                            }, new { @class = "form-control select2", @onchange = "ChangeCashBankType()" })
                                            @Html.ValidationMessageFor(model => model.cashbanktype, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Payment Account <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.acctgoid, null, "-", new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.acctgoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>@*Payment Type -- Payment Account*@                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Currency</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.curroid, null, new { @class = "form-control select2" })
                                            @Html.ValidationMessageFor(model => model.curroid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Payment</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.cashbankdpp, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                            @Html.ValidationMessageFor(model => model.cashbankdpp, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>@*Currency -- Total Payment*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Add Cost 1</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.addacctgoid1, null, new { @class = "form-control select2", @onchange = "ChangeDDLAddCost(this, 'addacctgamt1')" })
                                            @Html.ValidationMessageFor(model => model.addacctgoid1, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Cost Amt 1</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.addacctgamt1, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly="", @oninput = "hitungAmt()" } })
                                            @Html.ValidationMessageFor(model => model.addacctgamt1, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>@*Add Cost 1 -- Cost Amt 1*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Add Cost 2</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.addacctgoid2, null, new { @class = "form-control select2", @onchange = "ChangeDDLAddCost(this, 'addacctgamt2')" })
                                            @Html.ValidationMessageFor(model => model.addacctgoid2, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Cost Amt 2</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.addacctgamt2, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "", @oninput = "hitungAmt()" } })
                                            @Html.ValidationMessageFor(model => model.addacctgamt2, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>@*Add Cost 2 -- Cost Amt 2*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Add Cost 3</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.addacctgoid3, null, new { @class = "form-control select2", @onchange = "ChangeDDLAddCost(this, 'addacctgamt3')" })
                                            @Html.ValidationMessageFor(model => model.addacctgoid3, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Cost Amt 3</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.addacctgamt3, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "", @oninput = "hitungAmt()" } })
                                            @Html.ValidationMessageFor(model => model.addacctgamt3, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>@*Add Cost 3 -- Cost Amt 3*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Pay + Cost</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.cashbankamt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                            @Html.ValidationMessageFor(model => model.cashbankamt, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total DP Amt</label>
                                        <div class="col-md-4">
                                            @Html.Editor("totaldpamt", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>*@
                            </div>@*Total Pay + Cost -- Total DP Amt*@
                            <div class="row">
                                <div class="col-md-6" id="col_cashbankrefno">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Ref. No. <label class="text-red" id="star_cashbankrefno" style="display: none;">*</label></label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.cashbankrefno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                            @Html.ValidationMessageFor(model => model.cashbankrefno, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" id="col_cashbankduedate" style="display: none;">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Due Date <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.cashbankduedate, new { htmlAttributes = new { @class = "form-control datemask2", @type = "text" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.cashbankduedate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>@*Ref. No. -- Due Date*@
                            <div class="row" id="viewdp" style="display: none;">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">DP No. <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("dpno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchdp" class="btn btn-flat" data-toggle="modal" data-target="#modal-dp">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.giroacctgoid)
                                            @Html.ValidationMessage("dpno", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">DP Amount</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.cashbankresamt, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>@*DP No. -- DP Amount*@
                            <div class="row">
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Start Date Take Giro <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.cashbanktakegiro, new { htmlAttributes = new { @class = "form-control datemask2", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.cashbanktakegiro, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.cashbankstatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.cashbankstatus } })
                                        </div>
                                    </div>
                                </div>
                            </div>@*Start Date Take Giro -- Status*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.cashbanknote, new { @class = "form-control", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.cashbanknote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">PIC</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.personoid, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.personoid, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>@*Header Note*@
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>A/P Payment Detail</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.Hidden("seq")
                        <div class="container-fluid">
                            <div class="pull-right">
                                <button type="button" id="btnAddToList" class="btn btn-primary" data-toggle="modal" data-target="#modal-detail">
                                    <i class="fa fa-plus"></i>
                                    Add To List
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th></th>
                                        <th>A/P No.</th>
                                        <th>A/P Account</th>
                                        <th>A/P Amount</th>
                                        <th>Paid Amount</th>
                                        <th>A/P Balance</th>
                                        <th>Payment Amt.</th>
                                        <th>Note</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                }
                            }
                            <h6><b>VAR_ADD_COST | VAR_CASH | VAR_BANK | VAR_GIRO | VAR_DP_AP </b></h6>
                        </div>
                    </div>
                    <div class="pull-right">
                        @{
                            if (@Model.cashbankstatus == "In Process" | @Model.cashbankstatus == "Revised")
                            {
                                <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                <button type="button" class="btn btn-primary btn-md" id="btnSaveClose"><b>Save & Close</b></button>
                                if (ViewBag.action == "Update Data")
                                {
                                    <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                }
                                <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Terbitkan</b></button>
                            }
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                            
                        }
                    </div>
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK SUPPLIER *@
    <div class="modal fade" id="modal-supp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Supplier Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SUPPLIER *@

    @* MODAL UNTUK DP *@
    <div class="modal fade" id="modal-dp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Down Payment A/P Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDP" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>DP No.</th>
                                    <th>DP Date</th>
                                    <th>DP Account</th>
                                    <th>DP Amount</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK DP *@

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">A/P Payment Detail Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>A/P No.</th>
                                    <th>A/P Date</th>
                                    <th>Currency</th>
                                    <th>A/P Amount</th>
                                    <th>Paid Amt</th>
                                    <th>A/P Balance</th>
                                    <th>Payment Amt.</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-primary" onclick="AddToDetail()" data-dismiss="modal"><i class="fa fa-plus"></i> Tambahkan</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@

    @* MODAL UNTUK GANTI DETAIL *@
    <div class="modal fade" id="modal-ap">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Account Payable Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalAP" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>A/P No.</th>
                                    <th>MR No.</th>
                                    <th>A/P Date</th>
                                    <th>Date Take Giro</th>
                                    <th>Currency</th>
                                    <th>A/P Balance</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK GANTI DETAIL *@

    @* MODAL UNTUK SHOW COA *@
    <div class="modal fade" id="modal-showcoa">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="col-md-6">
                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 20%;">COA Posting Rate : </td>
                                <td style="width: 40%;">
                                    @Html.DropDownList("ratetype", new List<SelectListItem> {
                                            new SelectListItem { Text="IDR", Value="IDR" }
                                            //new SelectListItem { Text="USD", Value="USD" }
                                        }, new { @class = "form-control", @style = "width: 90%;" })
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalShowCOA" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th>Account No.</th>
                                    <th>Account Desc.</th>
                                    <th>Debet</th>
                                    <th>Credit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SHOW COA *@
</section>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var tblModalSupp = $("#tblModalSupp").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalSupp.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSupp.row($tr).data();
            var alldata = JSON.parse(data[0]);
            $("#suppname").val(alldata.suppname);
            $("#refsuppoid").val(alldata.suppoid);
            $("#paytype").val(alldata.suppnote);
            $("#email").val(alldata.suppemail);
            //$("#totaldpamt").val(alldata.suppres3);
            ClearDP();
            $("#divgroupoid").val($('#ddldivgroupoid option:Selected').val());
            EnableddivgroupHeader();
            $('#modal-supp').modal('hide');
        });

        var tblModalDP = $("#tblModalDP").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalDP.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalDP.row($tr).data();
            var alldata = JSON.parse(data[0]);
            $("#dpno").val(alldata.dpapno);
            $("#giroacctgoid").val(alldata.dpapoid);
            $("#acctgoid").val(alldata.acctgoid).trigger("change");
            $("#cashbankresamt").val(addCommas(alldata.dpapamt));
            $('#modal-dp').modal('hide');
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            }
        });
        tblModalDtl.on("draw", function () {
            $('#tblModalDtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tblModalDtl .datepicker').datepicker({
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tblModalDtl .select2').select2({ theme: 'bootstrap' });
        });
        tblModalDtl.on("keypress input", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        tblModalDtl.on("keypress input", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        tblModalDtl.on("blur", ".allownumericwithdecimal", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });

        var table = $('#DataDtl').DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0, 1],
                "visible": false,
                "searchable": false
            }]
        });
        table.on("draw", function () {
            $('#DataDtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#DataDtl .datepicker').datepicker({
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#DataDtl .select2').select2({ theme: 'bootstrap' });
        });
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();
            UpdateDataDetail();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
        });
        table.on("keypress input", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("keypress input", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("blur", ".allownumericwithdecimal", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });

        var tblModalShowCOA = $("#tblModalShowCOA").DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        if ($('#action').val() == "Update Data") {
            SetView();
        }

        ChangeBusinessUnit();
        if ($("#action").val() != "New Data") {
            FillDetailData();
        }

        if ($("#action").val() == "New Data") {  }

        $('#cashbankdpp').val(addCommas($('#cashbankdpp').val()));
        $('#cashbankamt').val(addCommas($('#cashbankamt').val()));
        $('#cashbankresamt').val(addCommas($('#cashbankresamt').val()));
        $('#addacctgamt1').val(addCommas($('#addacctgamt1').val()));
        $('#addacctgamt2').val(addCommas($('#addacctgamt2').val()));
        $('#addacctgamt3').val(addCommas($('#addacctgamt3').val()));
    });
    function EnableddivgroupHeader() {
        $("#ddldivgroupoid").prop("disabled", true);
    }
    function FillDetailData() {
        var id = $('#cashbankoid').val();
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("FillDetailData"))",
            data: { id: id },
        cache: false,
        type: "POST",
        success: function (data) {
            if (data.result == "") {
                var rows = [];
                var markup = "";
                $.each(data.dtl, function (key, val) {
                    rows.push([
                       JSON.stringify(val),
                    '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                    val.payaprefno,
                    val.acctgdesc,
                    addCommas(val.amttrans),
                    addCommas(val.amtpaid),
                    addCommas(val.amtbalance),
                    '<input type="text" class="form-control money" style="max-width: 80px" id="payapamt-' + val.payapseq + '" name="payapamt-' + val.payapseq + '" value="' + val.payapamt + '" oninput="CountDtlAmount(' + val.payapseq + ')">',
                    '<input type="text" class="form-control" style="max-width: 150px" id="payapnote-' + val.payapseq + '" name="payapnote-' + val.payapseq + '" value="' + (val.payapnote == null ? "" : val.payapnote) + '">',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]);
                });
                table.rows.add(rows).draw();
                //$.each(data.dtl, function (key, val) {
                //    $("#reasonbk-" + val.t_by_kirim_d_seq).val(val.t_by_kirim_h_selisih_reason_id).trigger('change');

                //});
                EnabledHeader();
            } else {
                swal('', data.result, 'error');
                return false;
            }
        },
        error: function (err) {
            swal('', err.responseText, 'error');
            return false;
        }
    });
    }


    function ChangeBusinessUnit()
    {
        //ClearSupplier();
        ChangeCashBankType();
        InitDDLAddCost("VAR_ADD_COST", "addacctgoid1");
        ChangeDDLAddCost($("#addacctgoid1"), "addacctgoid1");
        InitDDLAddCost("VAR_ADD_COST", "addacctgoid2");
        ChangeDDLAddCost($("#addacctgoid2"), "addacctgoid2");
        InitDDLAddCost("VAR_ADD_COST", "addacctgoid3");
        ChangeDDLAddCost($("#addacctgoid3"), "addacctgoid3");
    }

    function ClearSupplier() {
        $("#refsuppoid").val(0);
        $("#suppname").val("");
        $("#paytype").val("");
        $("#email").val("");
        //$("#totaldpamt").val(0);
        $("#cashbanksuppaccoid").html("<option value=\'\'>-</option>").show();
        ClearDP();
    }

    function ClearDP() {
        $("#giroacctgoid").val(0);
        $("#dpno").val("");
        $("#cashbankresamt").val(0);
    }

    function ChangeCashBankType() {
        var sVar = "VAR_CASH";
        SetView();
        if ($("#cashbanktype option:selected").val() == "BBK") {
            sVar = "VAR_BANK";
        } else if ($("#cashbanktype option:selected").val() == "BGK") {
            sVar = "VAR_BANK";
        } else if ($("#cashbanktype option:selected").val() == "BLK") {
            sVar = "VAR_DP_AP";
        }
        InitDDLAcctg(sVar);
    }

    function SetView()
    {
        $("#cashbanksuppaccoid").prop("selectedIndex", 0).trigger('change');
        $("#acctgoid").attr("readonly", false);
        $("#star_cashbankrefno").hide();
        $("#col_cashbankrefno").show();
        $("#col_cashbankduedate").hide();
        $("#viewdp").hide();
        if ($("#cashbanktype option:selected").val() == "BBK") {
            $("#star_cashbankrefno").show();
            $("#col_cashbankduedate").show();
        } else if ($("#cashbanktype option:selected").val() == "BGK") {
            $("#col_cashbankrefno").show();
            $("#col_cashbankduedate").show();
        } else if ($("#cashbanktype option:selected").val() == "BLK") {
            //$("#curroid").attr("readonly", false);
            $("#acctgoid").attr("readonly", true);
            $("#viewdp").show();
            $("#col_cashbankrefno").hide();
        }
    }

    function InitDDLAcctg(sVar) {
        var acctgoid = $("#acctgoid");
        var acctgoid_sel = $("#acctgoid option:selected").val();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { sVar: sVar},
            cache: false,
            type: "POST",
            success: function (data) {
                var isExist = false;
                var markup = "<option value=\'\'>-</option>";
                $.each(data, function (key, val) {
                    markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                    if (val.acctgoid == acctgoid_sel) {
                        isExist = true;
                    }
                });
                acctgoid.html(markup).show();
                if (isExist == true) {
                    acctgoid.val(acctgoid_sel);
                }
                acctgoid.trigger('change');

            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    }

    function GenerateNo() {
        if ($('#action').val() == "New Data") {
            var isvalid = true;
            var cashbankdate = $("#cashbankdate").val();
            var cashbanktype = $("#cashbanktype").val();
            if (acctgoid == "" || acctgoid == "0" || acctgoid == 0)
                isvalid = false;

            if (isvalid)
            {
                $.ajax({
                    url: "@(Url.Action("GenerateCashBankNo"))",
                    data: { cashbankdate: cashbankdate, cashbanktype: cashbanktype },
                cache: false,
                type: "POST",
                success: function (data) {
                    $("#cashbankno").val(data);
                },
                error: function (err) {
                    console.log(err);
                }
            })
        }
        else
            $("#cashbankno").val("");
        }
    }

    function InitDDLAddCost(sVar, ddl) {
        var acctgoid = $("#" + ddl);
        var acctgoid_temp = $("#" + ddl + "_temp").val();
        var acctgoid_sel = $("#" + ddl + " option:selected").val();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { sVar: sVar},
            cache: false,
            type: "POST",
            success: function (data) {
                var isExist = false;
                var markup = "<option value='0'>NONE</option>";
                $.each(data, function (key, val) {
                    markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                    if (val.acctgoid == acctgoid_temp) {
                        isExist = true;
                    }
                });
                acctgoid.html(markup).show();
                if ($('#action').val() == "Update Data") {
                    if (isExist == true) {
                        if (acctgoid_temp != '0') {
                            acctgoid.val(acctgoid_temp);
                        }
                    }
                }
                acctgoid.trigger('change');
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    }

    function ChangeDDLAddCost(ddl, addcostname)
    {
        if (removeCommas($("#" + addcostname).val()) == 0) {
            $("#" + addcostname).val(0);
        }
        if (ddl.value == "0")
            $("#" + addcostname).prop("readonly", true);
        else
            $("#" + addcostname).prop("readonly", false);
    }

    function hitungAmt() {
        var amt = parseFloat($("#cashbankdpp").val()) + parseFloat($("#addacctgamt1").val()) + parseFloat($("#addacctgamt2").val()) + parseFloat($("#addacctgamt3").val())
        $("#cashbankamt").val(addCommas(amt));
    }

    $("#btnsearchsupp").click(function () {
        var action = $('#action').val();
        var id = $('#cashbankoid').val();
        var curroid = $('#curroid').val();
        var table = $('#tblModalSupp').DataTable();
        var divgroupoid = $('#ddldivgroupoid option:selected').val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSupplierData"))",
            data: { action: action, id: id, curroid: curroid, divgroupoid: divgroupoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.suppcode,
                        val.suppname,
                        val.suppaddr
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                swal('Please select Supplier again!', 'Error: ' + err, 'error');
                $('#modal-supp').modal('hide');
            }
        });
    });

    $("#btnsearchdp").click(function () {
        var curroid = $('#curroid').val();
        if (curroid == null || curroid == "" || curroid == "0" || curroid == 0) {
            swal('', 'Please select Currency first!', 'warning');
            return false;
        }
        var suppoid = $('#refsuppoid').val();
        if (suppoid == null || suppoid == "" || suppoid == "0" || suppoid == 0) {
            swal('', 'Please select Supplier first!', 'warning');
            return false;
        }
        var table = $('#tblModalDP').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDPData"))",
            data: { curroid: curroid, suppoid: suppoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.dpapno,
                        moment(val.dpapdate).format('DD/MM/YYYY'),
                        val.dpappayrefno,
                        addCommas(val.dpapamt),
                        val.dpapnote
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                swal('Please select DP No. again!', 'Error: ' + err, 'error');
                $('#modal-dp').modal('hide');
            }
        });
    });

    $("#btnAddToList").click(function () {
        var suppoid = $('#refsuppoid').val();
        if (suppoid == null || suppoid == "" || suppoid == "0" || suppoid == 0) {
            swal('', 'Please select Supplier first!', 'warning');
            return false;
        }
        var curroid = $('#curroid option:selected').val();
        var cashbankoid = $('#cashbankoid').val();
        var currcode = $('#curroid option:selected').text();
        var table = $('#tblModalDtl').DataTable();
        table.column(1).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { suppoid: suppoid, curroid: curroid, cashbankoid: cashbankoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        ++i,
                        val.payaprefno,
                        moment(val.transdate).format('DD/MM/YYYY'),
                        currcode,
                        addCommas(val.amttrans),
                        addCommas(val.amtpaid),
                        addCommas(val.amtbalance),
                        '<input type="text" class="form-control money" style="max-width: 80px" id="payapamt-' + i + '" name="payapamt-' + i + '" value="' + val.payapamt + '">',
                        '<input type="text" class="form-control" style="max-width: 150px" id="payapnote-' + i + '" name="payapnote-' + i + '" value="' + val.payapnote + '">'
                    ]);
                });
                table.rows.add(rows).draw();
            },
            error: function (err) {
                swal('Please Add To List again!', 'Error: ' + err, 'error');
                $('#modal-detail').modal('hide');
            }
        });
    });

    function AddToDetail() {
        var isValid = true;
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid) {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                var payapamt = removeCommas(table.$("#payapamt-" + val).val());
                var payapnote = table.$("#payapnote-" + val).val();
                if (!IsOnDtl(alldata.refoid, alldata.reftype)) {
                    var id = tbldtl.rows().data().length + 1;
                    alldata.payapseq = id;
                    alldata.payapamt = payapamt;
                    alldata.payapnote = payapnote;
                    tbldtl.row.add([
                        JSON.stringify(alldata),
                        '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                        alldata.payaprefno,
                        alldata.acctgdesc,
                        addCommas(alldata.amttrans),
                        addCommas(alldata.amtpaid),
                        addCommas(alldata.amtbalance),
                        '<input type="text" class="form-control money" style="max-width: 80px" id="payapamt-' + id + '" name="payapamt-' + id + '" value="' + addCommas(payapamt) + '" oninput="CountDtlAmount(' + id + ')">',
                        '<input type="text" class="form-control" style="max-width: 150px" id="payapnote-' + id + '" name="payapnote-' + id + '" value="' + payapnote + '">',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                    CountHdrAmount();
                    EnabledHeader();
                }
            }
        });
        SetDataDtl();
    }

    function IsOnDtl(refoid, reftype) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (refoid == alldata.refoid && reftype == alldata.reftype) {
                return true;
            }
        }
        return false;
    }

    function UpdateDataDetail() {
        var tbldtl = $('#DataDtl').DataTable();
        var dataDtl = tbldtl.rows().data();
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            alldata.payapamt = tbldtl.$("#payapamt-" + alldata.payapseq).val();
            alldata.payapnote = tbldtl.$("#payapnote-" + alldata.payapseq).val();
            alldata.payapseq = i + 1;
            var row = tbldtl.row(i).data();
            row[0] = JSON.stringify(alldata);
            row[1] = alldata.payapseq;
            row[7] = '<input type="text" class="form-control money" style="max-width: 80px" id="payapamt-' + alldata.payapseq + '" value="' + alldata.payapamt + '" onblur="CountDtlAmount(' + alldata.payapseq + ')" >';
            row[8] = '<input type="text" class="form-control" style="max-width: 150px" id="payapnote-' + alldata.payapseq + '" value="' + alldata.payapnote + '">';
            tbldtl.row(i).data(row).invalidate().draw();
        }

    }

    $('#DataDtl').on('click', '#edit', function () {
        var tbldtl = $('#DataDtl').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = tbldtl.row($tr).data();
        var alldata = JSON.parse(data[0]);
        $("#seq").val(alldata.prrawdtlseq - 1);
        $('#modal-ap').modal('show');

        var table = $('#tblModalAP').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { reqoid: reqoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.matrawcode,
                        val.matrawlongdesc,
                        val.prrawunit
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        $("#acctgoid").attr("readonly", bVal);
        $("#cashbanktype").attr("readonly", bVal);
        $("#btnsearchsupp").attr("disabled", bVal);
        $("#btnsearchdp").attr("disabled", bVal);
        $("#curroid").attr("readonly", bVal);
    }

    function CountHdrAmount() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var dVal = 0; var cashbankgrandtotal = 0;
        if (data.length > 0) {
            for (var i = 0; i < data.length; i++) {
                var alldata = JSON.parse(data[i][0]);
                var payapamt = table.$("#payapamt-" + alldata.payapseq).val();
                dVal += parseFloat(payapamt);
            }
            cashbankgrandtotal = parseFloat(dVal) + parseFloat($("#addacctgamt1").val()) + parseFloat($("#addacctgamt2").val()) + parseFloat($("#addacctgamt3").val());
            $("#cashbankdpp").val(dVal);
            $("#cashbankamt").val(cashbankgrandtotal);
        }
    }

    function CountDtlAmount(id) {

        CountHdrAmount();
    }



    $("#btnSave").click(function () {
        event.preventDefault();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var mst = $('form').serializeArray();
        var tbl = {};
        jQuery.map(mst, function (n, i) {
            if (n.name == "prdate") {
                tbl[n.name] = toDate($('#cashbankdate').val());
            }
            else {
                tbl[n.name] = n.value;
            }
        });

        var action = $('#action').val();
        var closing = $('#closing').val();
        var idta = $('#idta').val();

        UpdateDataDetail();
        var tbldtl = $('#DataDtl').DataTable();
        var dataDtl = tbldtl.rows().data();
        var dtl = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            dtl.push(alldata);
        }

        $.ajax({
            type: "POST",
            url: "@(Url.Action("Form"))",
            data: { __RequestVerificationToken: token, tbl: tbl, dtDtl: dtl, action: action, closing: closing },
        success: function (data) {
            if (data.result == 'success') {
                Swal('Data has been saved!', data.msg, 'success').then((result) => {
                    if (result.value) {
                        if (closing != '')
                            location.replace("@(Url.Action("Index"))");
                        else
                        {
                            if (action == "New Data")
                                location.replace("@(Url.Action("Form"))" + "/" + data.hdrid );
                            else
                               location.replace("@(Url.Action("Form"))");
                        }
                    }
                });
            }
            else {
                Swal('Save data failed!', data.msg, 'error');
                $("#closing").val('');
                $("#cashbankstatus").val("In Process");
            }
        },
        error: function (err) {
            swal('', err.responseText, 'error');
            $("#closing").val('');
            $("#cashbankstatus").val("In Process");
        }
    });
    });

    $("#btnPost").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Post this data ?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Post this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#cashbankstatus").val("Post");
                    $("#closing").val("true");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
    $("#btnSaveClose").click(function () {
        $("#closing").val("true");
        $("#btnSave").click();
    });
    $("#btnDelete").click(function () {
        var oid = $("#cashbankoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Delete?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                success: function (data) {
                    if (data.result == 'sukses') {
                        Swal(
                          'Deleted!',
                          'Data has been deleted.',
                          'success'
                        )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                          'Delete Failed!',
                          data.msg,
                          'warning'
                        )
                    }

                },
                error: function (error) {
                    console.dir(error)
                }
            });

        }
        })
    });

    function ShowCOAPosting() {
        var table = $('#tblModalShowCOA').DataTable();
        var cmpcode = "";
        var cashbankno = $("#cashbankno").val();
        var ratetype = $("#ratetype option:selected").val();
        var glother1 = "QL_trncashbankmst " + $("#cashbankoid").val();

        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("ShowCOAPosting"))",
            data: { cashbankno: cashbankno, cmpcode: cmpcode, ratetype: ratetype, glother1: glother1 },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        val.acctgcode,
                        val.acctgdesc,
                        addCommas(val.acctgdebet),
                        addCommas(val.acctgcredit),
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
</script>