﻿@model RSA.Models.DB.QL_trnposervicemst

@{
    ViewBag.Title = "PO Service";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form PO Service</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>PO Service Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.divgroupoid)
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @*@Html.DropDownListFor(model => model.cmpcode, null, new { @class = "form-control select2", @onchange = "ChangeBusinessUnit()" })
                                            @Html.ValidationMessageFor(model => model.cmpcode, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Draft No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.poservicemstoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div> @*Business Unit -- Draft No.*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">PO No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.poserviceno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">PO Date <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.poservicedate, new { htmlAttributes = new { @class = "form-control datemask2", @type = "text", @required = "", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div> @*PO No. -- PO Date*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Supplier <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("suppname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchsupp" class="btn btn-flat" data-toggle="modal" data-target="#modal-supp">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.suppoid)
                                            @Html.ValidationMessageFor(model => model.suppoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Payment Type</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.poservicepaytypeoid, null, new { @class = "form-control select2", @readonly = "" })
                                        </div>
                                    </div>
                                </div>
                            </div> @*Supplier -- Payment Type*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Currency <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(Model => Model.curroid, null, new { @class = "form-control select2", @readonly = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Amount</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.poservicetotalamt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.poservicetotalamtidr)
                                    </div>
                                </div>
                            </div> @*Currency -- Total Amount*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tax</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("potaxtype", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="TAX", Value="TAX" },
                                                new SelectListItem { Text="NON TAX", Value="NON TAX" }
                                            }, new { @class = "form-control", @disabled = "" })
                                        </div>
                                        @Html.HiddenFor(model => model.poservicetaxtype)
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.poservicetaxamt, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tax Amount</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.poservicevat, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div> @*Tax -- Tax Amount*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Grand Total</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.poservicegrandtotalamt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.poservicegrandtotalamtidr)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.poservicemststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div> @*Grand Total -- Status*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.poservicemstnote, new { @class = "form-control", @maxlength = "500" })
                                            @Html.ValidationMessageFor(model => model.poservicemstnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note Internal</label>
                                        <div class="col-md-8">
                                            @*@Html.TextAreaFor(model => model.poservicemstnote2, new { @class = "form-control", @maxlength = "500" })
                                            @Html.ValidationMessageFor(model => model.poservicemstnote2, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                            </div> @*Header Note -- Header Note Internal*@
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Approval User <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @*@Html.DropDownListFor(Model => Model.approvalcode, null, "-", new { @class = "form-control select2" })
                                            @Html.ValidationMessageFor(model => model.approvalcode, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                            </div> @*Approval User*@
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>PO Service Detail</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.Hidden("seq")
                        <div class="container-fluid">
                            <div class="pull-left">
                                <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Add To List</b></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No.</th>
                                        <th></th>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th>Last Price</th>
                                        <th>Qty</th>
                                        <th>Price</th>
                                        <th>Total Price</th>
                                        <th>Detail Note</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                if (Model.poservicemststatus == "In Process" || Model.poservicemststatus == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                    <button type="button" class="btn btn-primary btn-md" id="btnSaveClose"><b>Save & Close</b></button>
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                    if (ViewBag.action == "Update Data")
                                    {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                    }
                                    <button type="button" class="btn btn-warning btn-md" id="btnSendForApproval"><b>Send For Approval</b></button>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                }
                            }
                        </div>
                    </div>
                    
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">PO Service Detail Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Last Price</th>
                                    <th>Qty</th>
                                    <th>Price</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@

    @* MODAL UNTUK SUPPLIER *@
    <div class="modal fade" id="modal-supp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Supplier Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SUPPLIER *@
</section>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $('#tblModalSupp').DataTable({
            "paging": true,
            "bFilter": true,
            "ordering": true,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalSupp = $("#tblModalSupp").DataTable();

        tblModalSupp.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSupp.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#suppname").val(alldata.suppname);
            $("#suppoid").val(alldata.suppoid);
            $("#poservicepaytypeoid").val(alldata.supppaymentoid).trigger('change');
            $("#potaxtype").val(alldata.supptaxable);
            $("#poservicetaxtype").val(alldata.supptaxable);
            $("#poservicetaxamt").val(alldata.supptaxamt);
            if (alldata.supptaxable == "TAX") {
                $("#poservicetaxamt").val("11");
            } else {
                $("#poservicetaxamt").val("0");
            }
            //$("#potype").val(alldata.supptype);
            //$("#poservicetype").val(alldata.supptype);
            //$("#curr").val(alldata.suppcurroid);
            //$("#curroid").val(alldata.suppcurroid);
            $('#modal-supp').modal('hide');
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });
        tblModalDtl.on("draw", function () {
            $('#tblModalDtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
        });

        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw(); SetDataDtl(); FillDetailData();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
        });
        table.on("draw", function () {
            $('#DataDtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
        });

        if ($('#action').val() == "Update Data") { FillDetailData(); }
    })

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    function ChangeBusinessUnit() {
        var cmp = $("#cmpcode").val();
        var tblname = "QL_trnposervicemst";
        var approvalcode = $("#approvalcode");
        approvalcode.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLAppUser"))",
            data: { cmp: cmp, tblname: tblname },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value=\'\'>-</option>";
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.approvaluser + "\'>" + val.approvaluser + "</option>";
                    });
                    approvalcode.html(markup).show();
                } else {
                    approvalcode.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    }

    $("#btnsearchsupp").click(function () {
        var table = $('#tblModalSupp').DataTable();
        var divgroupoid = $("#divgroupoid").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSuppData"))",
            data: { divgroupoid: divgroupoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        //val,
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.suppcode,
                        val.suppname,
                        val.suppaddr
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    function CalcHdrAmt() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var poservicetotalamt = 0.0;
        var poservicetaxtype = $("#poservicetaxtype").val();
        var poservicetaxamt = $("#poservicetaxamt").val();
        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0]);
            if (!isNaN(parseFloat(alldata.poservicedtlnetto)))
                poservicetotalamt += parseFloat(alldata.poservicedtlnetto);
        }
        if (poservicetaxtype == "TAX") {
            poservicevat = ((poservicetotalamt) * poservicetaxamt) / 100

        }
        else {
            poservicevat = 0
        }
        $("#poservicetotalamt").val(poservicetotalamt);
        var poservicetaxamt = parseFloat($("#poservicetaxamt").val());
        $("#poservicevat").val(poservicevat);
        var poservicegrandtotalamt = poservicetotalamt + poservicevat;
        $("#poservicegrandtotalamt").val(poservicegrandtotalamt);
    }

    $("#btnAddToList").click(function () {
        var cmp = $("#cmpcode").val();
        if (cmp == null || cmp == "" || cmp == "0" || cmp == 0) {
            swal('', 'Please select Business Unit first!', 'warning');
            return false;
        }
        var curroid = $('#curroid').val();
        if (curroid == null || curroid == "" || curroid == "0" || curroid == 0) {
            swal('', 'Please select Currency first!', 'warning');
            return false;
        }
        var suppres3 = $('#suppres3').val();
        var table = $('#tblModalDtl').DataTable();
        table.column(1).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmp: cmp, curroid: curroid, suppres3: suppres3 },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var rows = [];
                    var i = 0;
                    $.each(data.tbl, function (key, val) {
                        rows.push([
                            JSON.stringify(val),
                            ++i,
                            val.servicecode,
                            val.servicelongdesc,
                            val.lastpoprice,
                            '<input type="text" class="form-control money" style="max-width: 80px" id="poserviceqty-' + i + '" value="' + val.poserviceqty + '">',
                            '<input type="text" class="form-control money" style="max-width: 80px" id="poserviceprice-' + i + '" value="' + val.poserviceprice + '">',
                            '<input type="text" class="form-control" style="max-width: 150px" id="poservicedtlnote-' + i + '" value="' + val.poservicedtlnote + '">'
                        ]);
                    });
                    table.rows.add(rows).draw();
                } else {
                    swal('', data.result, 'error');
                    $('#modal-detail').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-detail').modal('hide');
            }
        });
    });

    function AddToDetail() {
        var tbldtl = $('#DataDtl').DataTable();
        var table = $('#tblModalDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            var data = table.row(val - 1).data();
            var alldata = JSON.parse(data[0]);
            var poserviceqty = parseFloat(table.$("#poserviceqty-" + val).val());
            var poserviceprice = parseFloat(table.$("#poserviceprice-" + val).val());
            var poservicedtlnote = table.$("#poservicedtlnote-" + val).val();
            var poservicedtlnetto = poserviceprice * poserviceqty;
            if (!IsOnDtl(alldata.serviceoid)) {
                var id = tbldtl.rows().data().length + 1;
                alldata.poservicedtlseq = id;
                alldata.poserviceqty = poserviceqty;
                alldata.poserviceprice = poserviceprice;
                alldata.poservicedtlnetto = poservicedtlnetto;
                alldata.poservicedtlnote = poservicedtlnote;
                tbldtl.row.add([
                    JSON.stringify(alldata),
                    id,
                    '',//'<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                    alldata.servicecode,
                    alldata.servicelongdesc,
                    alldata.lastpoprice,
                    '<input type="text" class="form-control money" style="max-width: 80px" id="poserviceqty-' + id + '" name="poserviceqty-' + id + '" onblur="UpdateDtlNetto(' + id + ')" value="' + poserviceqty + '">',
                    '<input type="text" class="form-control money" style="max-width: 80px" id="poserviceprice-' + id + '" name="poserviceprice-' + id + '" onblur="UpdateDtlNetto(' + id + ')" value="' + poserviceprice + '">',
                    '<label class="money" style="text-align: right;">' + poservicedtlnetto + '</label>',
                    '<input type="text" class="form-control" style="max-width: 150px" id="poservicedtlnote-' + id + '" name="poservicedtlnote-' + id + '" value="' + poservicedtlnote + '">',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]).draw();
            }
        });
        CalcHdrAmt();
    }

    function IsOnDtl(serviceoid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (serviceoid == alldata.serviceoid) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var poserviceqty = parseFloat(table.$("#poserviceqty-" + alldata.poservicedtlseq).val());
            var poserviceprice = parseFloat(table.$("#poserviceprice-" + alldata.poservicedtlseq).val());
            var poservicedtlnetto = poserviceqty * poserviceprice;
            var poservicedtlnote = table.$("#poservicedtlnote-" + alldata.poservicedtlseq).val();
            var poservicedtlnote2 = table.$("#poservicedtlnote2-" + alldata.poservicedtlseq).val();

            alldata.poserviceqty = poserviceqty;
            alldata.poserviceprice = poserviceprice;
            alldata.poservicedtlnetto = poservicedtlnetto;
            if (poservicedtlnote == null) { poservicedtlnote = ""; }
            alldata.poservicedtlnote = poservicedtlnote;
            if (poservicedtlnote2 == null) { poservicedtlnote2 = ""; }
            alldata.poservicedtlnote2 = poservicedtlnote2;
            rows.push(alldata);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ tbl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.poservicedtlseq,
                    '',//'<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                    val.servicecode,
                    val.servicelongdesc,
                    val.lastpoprice,
                    '<input type="text" class="form-control money" style="max-width: 80px" id="poserviceqty-' + val.poservicedtlseq + '" name="poserviceqty-' + val.poservicedtlseq + '" onblur="UpdateDtlNetto(' + val.poservicedtlseq + ')" value="' + val.poserviceqty + '">',
                    '<input type="text" class="form-control money" style="max-width: 80px" id="poserviceprice-' + val.poservicedtlseq + '" name="poserviceprice-' + val.poservicedtlseq + '" onblur="UpdateDtlNetto(' + val.poservicedtlseq + ')" value="' + val.poserviceprice + '">',
                    '<label class="money" style="text-align: right;">' + val.poservicedtlnetto + '</label>',
                    '<input type="text" class="form-control" style="max-width: 150px" id="poservicedtlnote-' + val.poservicedtlseq + '" name="poservicedtlnote-' + val.poservicedtlseq + '" value="' + (val.poservicedtlnote == null ? "" : val.poservicedtlnote) + '">',
                  
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            table.rows.add(rows).draw();
        });
    }

    function UpdateDtlNetto(id) {
        var poserviceqty = parseFloat($("#poserviceqty-" + id).val());
        var poserviceprice = parseFloat($("#poserviceprice-" + id).val());
        var poservicedtlnetto = poserviceqty * poserviceprice;

        var table = $('#DataDtl').DataTable();
        var temp = table.row(id - 1).data();
        var alldata = JSON.parse(temp[0]);
        alldata.poserviceqty = poserviceqty;
        alldata.poserviceprice = poserviceprice;
        alldata.poservicedtlnetto = poservicedtlnetto;

        temp[0] = JSON.stringify(alldata);
        temp[6] = '<input type="text" class="form-control money" style="max-width: 80px" id="poserviceqty-' + id + '" onblur="UpdateDtlNetto(' + id + ')" value="' + poserviceqty + '" >';
        temp[7] = '<input type="text" class="form-control money" style="max-width: 80px" id="poserviceprice-' + id + '" onblur="UpdateDtlNetto(' + id + ')" value="' + poserviceprice + '" >';
        temp[8] = '<label class="money" style="text-align: right;">' + poservicedtlnetto + '</label>';

        table.row(id - 1).data(temp).invalidate().draw();
        CalcHdrAmt();
    }

    $("#btnSave").click(function () {
        SetDataDtl();
    });

    $("#btnSaveClose").click(function () {
        $("#closing").val("true");
        $("#btnSave").click();
    });

    $("#btnDelete").click(function () {
        var id = $("#poservicemstoid").val();
        var cmp = $("#cmpcode").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: id, cmp: cmp },
                success: function (data) {
                    if (data.result == 'success') {
                        Swal(
                            'Deleted!',
                            'Data has been deleted!',
                            'success'
                            )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                            'Delete data failed!',
                            data.msg,
                            'warning'
                            )
                    }
                },
                error: function (error) {
                    console.dir(error)
                }
            });
        }
        })
    });

    $("#btnSendForApproval").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for APPROVAL?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#poservicemststatus").val("In Approval");
                    $("#closing").val("true");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>