﻿@model IEnumerable<RSA.Controllers.POServiceController.poservicemst>

@{
    ViewBag.Title = "PO Service";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>List Of PO Service</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <a class="btn btn-success" href="Form">
                        <i class="fa fa-plus"></i> Create New
                    </a>
                </div>
                <div class="box-body">
                    @Html.Hidden("DisplayCol")
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@ViewBag.DDTitle <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li style="text-align: right;"><a href="Index">All Editable Data</a></li>
                                        <li style="text-align: right;"><a href="Index?filter=PW">Editable Data In Past Week</a></li>
                                        <li style="text-align: right;"><a href="Index?filter=PM">Editable Data In Past Month</a></li>
                                        <li style="text-align: right;"><a href="#" role="button" data-toggle="modal" data-target="#modal-custom-filter">Custom Filter</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th>Draft No.</th>
                                        <th>PO No.</th>
                                        <th>Date</th>
                                        <th>Supplier</th>
                                        <th>Status</th>
                                        <th>Note</th>
                                        <th>Business Unit</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var i in Model)
                                        {
                                            <tr>
                                                <td class="text-center"><a href="Form/@Html.DisplayFor(m => i.poservicemstoid)" class="text-primary">@Html.DisplayFor(m => i.poservicemstoid)</a></td>
                                                <td>@Html.DisplayFor(m => i.poserviceno)</td>
                                                <td class="text-center">@i.poservicedate.ToString("MM/dd/yyyy")</td>
                                                <td>@Html.DisplayFor(m => i.suppname)</td>
                                                <td class="text-center">@Html.DisplayFor(m => i.poservicemststatus)</td>
                                                <td>@Html.DisplayFor(m => i.poservicemstnote)</td>
                                                <td>@Html.DisplayFor(m => i.divname)</td>
                                                <td class="text-center"><button title="Print" type="button" class="btn btn-sm btn-primary" onclick="PrintReport(@Html.DisplayFor(m => i.poservicemstoid), '@Html.DisplayFor(m => i.cmpcode)')"><i class="fa fa-print"></i></button></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-custom-filter">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Custom Filter</h4>
                </div>
                <form action="Index" method="post" class="form-horizontal">
                    <div class="modal-body">
                        @Html.Hidden("filter", "CF")
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">From</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("filterperiodfrom", new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">To</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("filterperiodto", new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("filterstatus", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="ALL", Value="ALL" },
                                                new SelectListItem { Text="In Process", Value="In Process" },
                                                new SelectListItem { Text="In Approval", Value="In Approval" },
                                                new SelectListItem { Text="Post", Value="Post" },
                                                new SelectListItem { Text="Approved", Value="Approved" },
                                                new SelectListItem { Text="Rejected", Value="Rejected" },
                                                new SelectListItem { Text="Revised", Value="Revised" },
                                                new SelectListItem { Text="Cancel", Value="Cancel" },
                                                new SelectListItem { Text="Closed", Value="Closed" }
                                            }, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success btn-md" id="btnGo"><b>Go</b></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var isvisible = false;
        var displaycol = $('#DisplayCol').val();
        if (displaycol == "normal")
            isvisible = true;
        $('#datatable').DataTable ({
            "columnDefs": [
                {
                    "targets": [1],
                    "visible": isvisible,
                    "searchable": isvisible
                },
                {
                    "targets": [2],
                    "type": "date"
                }
            ]
        });
    });

    $("#btnGo").click(function () {
        var periodfrom = $('#filterperiodfrom').val();
        var periodto = $('#filterperiodto').val();
        var sMsg = "";

        if (periodfrom == "")
            sMsg = "Please fill Period From!";
        if (sMsg == "" && periodto == "")
            sMsg = "Please fill Period To!";
        if (sMsg == "" && Date.parse(periodfrom) > Date.parse(periodto))
            sMsg = "Period From must be less than Period To!";
        if (sMsg == "")
        {
            var totaldays = Math.floor((new Date(Date.parse(periodto) - Date.parse((periodfrom)))) / (1000 * 60 * 60 * 24)) + 1;
            if (totaldays > 31)
                sMsg = "Total days of Period Filter must be less than 31 days!";
        }

        if (sMsg != "")
        {
            swal('Warning', sMsg, 'warning');
            return false;
        }
    });

    function PrintReport(id, cmp) {
        window.location.assign("@Url.Action("PrintReport")/" + id + "/" + cmp);
    }
</script>