﻿@model RSA.Models.DB.QL_trnconfirmmst

@{
    ViewBag.Title = "Prodres Confirmation";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    string CompnyCode = Session["CompnyCode"].ToString();
}

<section class="content-header">
    <h1>Form Prodres Confirmation</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b> Prodres Confirmation Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.HiddenFor(model => model.postappuser)
                        @Html.HiddenFor(model => model.postapptime)
                        @Html.HiddenFor(model => model.divgroupoid)
                        @Html.HiddenFor(model => model.womstoid)
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Draft</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.confirmmstoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Serah Terima</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.confirmno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Divisi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("ddldivgroupoid", null, new { @class = "form-control", @required = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Serah Terima <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.confirmdate, new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Prrodres No <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("prodresno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchspk" class="btn btn-flat" data-toggle="modal" data-target="#modal-spk">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.prodresmstoid)
                                            @Html.ValidationMessageFor(model => model.prodresmstoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Gudang <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.confirmwhoid, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Catatan Header</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.confirmmstnote, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.confirmmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b> Prodres Confirmation Detail</b></h3>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="container-fluid">
                                @Html.Hidden("confirmdtlseq")
                                <div class="row">
                                    <div class="pull-left">
                                        <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Tambah Data Detail</b></button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="overflow-x: auto;">
                                        <table id="DataDtl" class="table table-striped" style="width: 100%">
                                            <thead>
                                                <tr>
                                                    <th>alldata</th>
                                                    <th></th>
                                                    <th>No.</th>
                                                    <th>No. Produksi</th>
                                                    <th>Kode Barang</th>
                                                    <th>Nama barang</th>
                                                    <th>Qty Produksi</th>
                                                    <th>Qty</th>
                                                    <th>Qty Reject</th>
                                                    <th>Satuan</th>
                                                    <th>Catatan</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @(Html.DisplayFor(m => m.createtime))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Terakhit Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                    </div>
                    <div class="pull-right">
                        @{
                            if (Model.confirmmststatus == "In Process")
                            {
                                <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                                <button type="button" class="btn btn-primary btn-md" id="btnSaveClose"><b>Simpan & Tutup</b></button>
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Batal</b></a>
                                if (ViewBag.action == "Update Data")
                                {
                                    <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Hapus</b></button>
                                }
                                <button type="button" class="btn btn-warning btn-md" id="btnPosting"><b>Posting</b></button>
                            }
                            else
                            {
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Batal</b></a>
                            }
                        }
                    </div>
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Realisasi Proses</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No. Produksi</th>
                                    <th>Kode Barang</th>
                                    <th>Nama Barang</th>
                                    <th>Qty Produksi</th>
                                    <th>Qty</th>
                                    <th>Qty Reject</th>
                                    <th>Satuan</th>
                                    <th>Catatan</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Tambahkan ke Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@

    @* MODAL UNTUK GANTI ITEM *@
    <div class="modal fade" id="modal-item">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Realisasi Proses</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalItem" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No. Produksi</th>
                                    <th>No SPK</th>
                                    <th>No SO</th>
                                    <th>Nama Barang</th>
                                    <th>Customer</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK GANTI ITEM *@

    @* MODAL UNTUK FINISH GOOD *@
    <div class="modal fade" id="modal-spk">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">SPK Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalspk" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Prodres no</th>
                                    <th>Item</th>
                                    <th>Prodres note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FINISH GOOD *@

</section>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        table.on("draw", function () {
            $('#DataDtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });
        tblModalDtl.on("draw", function () {
            $('#tblModalDtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
        });

        var tblModalItem = $("#tblModalItem").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalItem.on("draw", function () {
            $('#tblModalItem .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
        });
        tblModalItem.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalItem.row($tr).data();
            var alldata = JSON.parse(data[0]);
            var seq = parseInt($('#confirmdtlseq').val());

            var tbldtl = $('#DataDtl').DataTable();
            var datadtl = tbldtl.row(seq).data();
            var alldatadtl = JSON.parse(datadtl[0]);

            if (!IsOnDtl(alldata.prodresmstoid)) {
                alldata.confirmdtlseq = seq + 1;

                datadtl[0] = JSON.stringify(alldata);
                datadtl[4] = alldata.confirmrefcode;
                datadtl[5] = alldata.confirmreflongdesc;
                datadtl[6] = '<label class="money" style="text-align: right;">' + alldata.prodresqty + '</label>';
                datadtl[7] = '<input type="text" class="form-control" style="max-width: 80px" id="confirmqty-' + (seq + 1) + '" value="0">';
                datadtl[8] = alldata.confirmunit;
                datadtl[9] = '<input type="text" class="form-control" style="max-width: 150px" id="confirmdtlnote-' + (seq + 1) + '" value="">';

                tbldtl.row(seq).data(datadtl).invalidate().draw();
            } else {
                swal('', 'Data telah ditambahkan sebelumnya. Silahkan dicek kembali!', 'warning');
            }
            $('#modal-item').modal('hide');
        });

        $("#tblModalspk").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        var tblModalspk = $("#tblModalspk").DataTable();
        tblModalspk.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalspk.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#prodresmstoid").val(alldata.prodresmstoid);
            $("#prodresno").val(alldata.prodresno);
            $("#divgroupoid").val($('#ddldivgroupoid option:Selected').val());
            $("#womstoid").val(alldata.womstoid);
            EnableddivgroupHeader();
            $('#modal-spk').modal('hide');
        });

        if ($('#action').val() == "Update Data") {
            FillDetailData();
        }
    });
    function EnableddivgroupHeader() {
        $("#ddldivgroupoid").prop("disabled", true);
    }
    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        $("#ddldivgroupoid").attr("readonly", bVal);
    }

    $("#btnsearchspk").click(function () {
        var divgroupoid = $('#ddldivgroupoid option:selected').val();
        var table = $('#tblModalspk').DataTable();
        var cmp = $('#cmpcode').val()
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetProdresData"))",
            data: { cmp: cmp, divgroupoid: divgroupoid },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.prodresno,
                    val.itemlongdesc,
                    val.prodresqty,
                    val.prodresmstnote
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });


    $("#btnAddToList").click(function () {
        var cmp = $("#cmpcode").val();
        var prodresmstoid = $("#prodresmstoid").val();
        if (prodresmstoid == '') {
            swal('', 'Silahkan Pilih Nomer Prod Result', 'warning');
            return false;
        }
        var table = $('#tblModalDtl').DataTable();
        table.column(1).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmp: cmp, prodresmstoid: prodresmstoid },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var rows = [];
                    var i = 0;
                    $.each(data.tbl, function (key, val) {
                        rows.push([
                            JSON.stringify(val),
                            ++i,
                            val.prodresno,
                            val.itemcode,
                            val.itemlongdesc,
                            '<label class="money" style="text-align: right;">' + val.prodresqty + '</label>',
                            '<input type="text" class="form-control" style="max-width: 80px" id="confirmqty-' + i + '" value="' + val.confirmqty + '">',
                            '<input type="text" class="form-control" style="max-width: 80px" id="rejectqty-' + i + '" value="' + val.rejectqty + '">',
                            val.confirmunit,
                            '<input type="text" class="form-control" style="max-width: 150px" id="confirmdtlnote-' + i + '" value="' + val.confirmdtlnote + '">'
                        ]);
                    });
                    table.rows.add(rows).draw();
                } else {
                    swal('', data.result, 'error');
                    $('#modal-detail').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-detail').modal('hide');
            }
        });
    });

    function AddToDetail() {
        var tbldtl = $('#DataDtl').DataTable();
        var table = $('#tblModalDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            var data = table.row(val - 1).data();
            var alldata = JSON.parse(data[0]);
            var confirmqty = parseFloat(table.$("#confirmqty-" + val).val());
            var rejectqty = parseFloat(table.$("#rejectqty-" + val).val());
            var confirmdtlnote = table.$("#confirmdtlnote-" + val).val();
            if (confirmdtlnote == null) { confirmdtlnote = ""; }

            if (!IsOnDtl(alldata.prodresmstoid)) {
                var id = tbldtl.rows().data().length + 1;
                alldata.confirmdtlseq = id;
                alldata.confirmqty = confirmqty;
                alldata.rejectqty = rejectqty;
                alldata.confirmdtlnote = confirmdtlnote;

                tbldtl.row.add([
                    JSON.stringify(alldata),
                    '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                    id,
                    alldata.prodresno,
                    alldata.itemcode,
                    alldata.itemlongdesc,
                    '<label class="money" style="text-align: right;">' + alldata.prodresqty + '</label>',
                    '<input type="text" class="form-control" style="max-width: 80px" id="confirmqty-' + id + '" value="' + confirmqty + '" onblur=UpdateDtl(' + id + ')>',
                    '<input type="text" class="form-control" style="max-width: 80px" id="rejectqty-' + id + '" value="' + rejectqty + '" onblur=UpdateDtl(' + id + ')>',
                    alldata.confirmunit,
                    '<input type="text" class="form-control" style="max-width: 150px" id="confirmdtlnote-' + id + '" value="' + confirmdtlnote + '">',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]).draw();
                EnabledHeader();
            }
        });
    }

    function IsOnDtl(prodresmstoid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (prodresmstoid == alldata.prodresmstoid) {
                return false;
            }
        }
        return false;
    }

    $('#DataDtl').on('click', '#edit', function () {
        var tbldtl = $('#DataDtl').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = tbldtl.row($tr).data();
        var alldata = JSON.parse(data[0]);
        $("#confirmdtlseq").val(alldata.confirmdtlseq - 1);
        var cmp = $('#cmpcode').val();
        var table = $('#tblModalItem').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetailSPK"))",
            data: { womstoid: alldata.womstoid },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var rows = [];
                    var i = 0;
                    $.each(data.tbl, function (key, val) {
                        rows.push([
                            JSON.stringify(val),
                            '',
                            //'<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                            val.prodresno,
                            val.wono,
                            val.sono,
                            val.itemlongdesc,
                            val.custname
                        ]);
                    });
                    table.rows.add(rows).draw();
                } else {
                    swal('', data.result, 'error');
                    return false;
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                return false;
            }
        });
        $('#modal-item').modal('show');
    });

    $('#DataDtl').on('click', '#remove', function (e) {
        var tbldtl = $('#DataDtl').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var idx = tbldtl.row($tr).data()[2] - 1;
        tbldtl.row($tr).remove().draw();
        e.preventDefault();
        UpdateDetail(idx);
        EnabledHeader();
    });

    function UpdateDetail(idx) {
        var tbldtl = $('#DataDtl').DataTable();
        for (var i = idx ; i < tbldtl.rows().data().length; i++) {
            var row = tbldtl.row(i).data();
            var alldata = JSON.parse(row[0]);
            alldata.confirmdtlseq = i + 1;
            row[0] = JSON.stringify(alldata);
            row[1] = '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>';
            row[2] = alldata.confirmdtlseq;
            row[7] = '<input type="text" class="form-control" style="max-width: 80px" id="confirmqty-' + alldata.confirmdtlseq + '" value="' + alldata.confirmqty + '">';
            row[8] = '<input type="text" class="form-control" style="max-width: 80px" id="rejectqty-' + alldata.confirmdtlseq + '" value="' + alldata.rejectqty + '">';
            row[10] = '<input type="text" class="form-control" style="max-width: 150px" id="confirmdtlnote-' + alldata.confirmdtlseq + '" value="' + (alldata.confirmdtlnote == null ? "" : alldata.confirmdtlnote) + '">';
            tbldtl.row(i).data(row).invalidate().draw();
        }
    }

    function FillDetailData() {
        var cmp = $('#cmpcode').val();
        var oid = $('#confirmmstoid').val();
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("FillDetailData"))",
            data: { cmp: cmp, oid: oid },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var rows = [];
                    $.each(data.dtl, function (key, val) {
                        rows.push([
                            JSON.stringify(val),
                            '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                            val.confirmdtlseq,
                            val.prodresno,
                            val.itemcode,
                            val.itemlongdesc,
                            '<label class="money" style="text-align: right;">' + val.prodresqty + '</label>',
                            '<input type="text" class="form-control" style="max-width: 80px" id="confirmqty-' + val.confirmdtlseq + '" value="' + val.confirmqty + '" onblur=UpdateDtl(' + val.confirmdtlseq + ')>',
                            '<input type="text" class="form-control" style="max-width: 80px" id="rejectqty-' + val.confirmdtlseq + '" value="' + val.rejectqty + '" onblur=UpdateDtl(' + val.confirmdtlseq + ')>',
                            val.confirmunit,
                            '<input type="text" class="form-control" style="max-width: 150px" id="confirmdtlnote-' + val.confirmdtlseq + '" value="' + val.confirmdtlnote + '">',
                            '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                        ]);
                    });
                    table.rows.add(rows).draw();
                    EnabledHeader();
                } else {
                    swal('', data.result, 'error');
                    return false;
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                return false;
            }
        });
    }

    $("#btnSave").click(function () {
        event.preventDefault();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var cmp = $('#cmpcode').val();
        var tbl = {
            cmpcode: $('#cmpcode').val(),
            confirmmstoid: $('#confirmmstoid').val(),
            periodacctg: $('#periodacctg').val(),
            confirmdate: $('#confirmdate').val(),
            confirmno: $('#confirmno').val(),
            confirmwhoid: $('#confirmwhoid option:selected').val(),
            confirmmstnote: $('#confirmmstnote').val(),
            confirmmststatus: $('#confirmmststatus').val(),
            prodresmstoid: $('#prodresmstoid').val(),
            createuser: $('#createuser').val(),
            createtime: $('#createtime').val(),
            upduser: $('#upduser').val(),
            updtime: $('#updtime').val(),
            postappuser: $('#postappuser').val(),
            womstoid: $('#womstoid').val(),
            postapptime: $('#postapptime').val()
        };
        var action = $('#action').val();
        var closing = $('#closing').val();

        var tbldtl = $('#DataDtl').DataTable();
        var dataDtl = tbldtl.rows().data();
        var dtl = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var confirmqty = parseFloat(tbldtl.$("#confirmqty-" + alldata.confirmdtlseq).val());
            alldata.confirmqty = confirmqty;
            var rejectqty = parseFloat(tbldtl.$("#rejectqty-" + alldata.confirmdtlseq).val());
            alldata.rejectqty = rejectqty;
            var confirmdtlnote = tbldtl.$("#confirmdtlnote-" + alldata.confirmdtlseq).val();
            if (confirmdtlnote == null) { confirmdtlnote = ""; }
            alldata.confirmdtlnote = confirmdtlnote;
            alldata.confirmdtlseq = i + 1;
            dtl.push(alldata);
        }

        $.ajax({
            type: "POST",
            url: "@(Url.Action("Form"))",
            data: { __RequestVerificationToken: token, tbl: tbl, dtl: dtl, action: action },
            success: function (data) {
                if (data.result == 'success') {
                    Swal('Data telah disimpan!', data.msg, 'success').then((result) => {
                        if (result.value) {
                            if (closing != '')
                                location.replace("@(Url.Action("Index"))");
                            else
                            {
                                if (action == "New Data")
                                    location.replace("@(Url.Action("Form"))" + "/" + data.hdrid);
                                else
                                    location.replace("@(Url.Action("Form"))");
                            }
                        }
                    });
                } else {
                    Swal('Data gagal disimpan!', data.msg, 'error');
                    $("#closing").val('');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $("#closing").val('');
            }
        });
    });

    $("#btnSaveClose").click(function () {
        $("#closing").val("true");
        $("#btnSave").click();
    });

    $("#btnDelete").click(function () {
        var id = $("#confirmmstoid").val();
        var cmp = $("#cmpcode").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Apakah Anda yakin untuk menghapus data ini?',
            text: "Data yang sudah dihapus tidak dapat dikembalikan lagi",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Ya, Hapus Data Ini!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: id, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal('Data sudah dihapus!', '', 'success');
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal('Data gagal dihapus!', data.msg, 'error');
                        }
                    },
                    error: function (err) {
                        swal('', err.responseText, 'error');
                    }
                });
            }
        })
    });

    $("#btnPosting").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Apakah Anda yakin untuk memposting data ini?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Ya, Post Data Ini!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#confirmmststatus").val("Post");
                    $("#closing").val("true");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>