﻿@model RSA.Models.DB.QL_trnshipmentitemmst

@{
    ViewBag.Title = "Shipment Finish Good";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Shipment Finish Good</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Shipment Finish Good Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.shipmentitemmstres1)
                        @Html.HiddenFor(model => model.shipmentitemmstres2)
                        @Html.HiddenFor(model => model.shipmentitemmstres3)
                        @Html.HiddenFor(model => model.approvaldatetime)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.divgroupoid)
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.cmpcode, null, new { @class = "form-control select2", @required = "", @onchange = "FillDDLWarehouse()" })
                                            @Html.ValidationMessageFor(model => model.cmpcode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Draft No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.shipmentitemmstoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Divisi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("ddldivgroupoid", null, new { @class = "form-control", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">shipment No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.shipmentitemno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Stuffing Date <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.shipmentitemdate, new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.shipmentitemdate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("custname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchcust" class="btn btn-flat" data-toggle="modal" data-target="#modal-cust">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.custoid)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Container No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.shipmentitemcontno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Port Ship</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.shipmentitemportship, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength="100" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">ETD <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.shipmentitemetd, new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.shipmentitemetd, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Port Discharge</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.shipmentitemportdischarge, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength="100"} })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">ETA <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.shipmentitemeta, new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.shipmentitemeta, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Driver</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("drivoid", null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Vehicle</label>
                                        <div class="col-md-8">
                                           @Html.DropDownList("vhcoid", null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Vehicle Police No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.shipmentitemnopol, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.shipmentitemmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.shipmentitemmststatus } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" id="sjpajak">
                                        <label class="col-md-4 control-label">SJ Pajak</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.shipmentitemnopajak, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Seal No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.shipmentitemsealno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength="30" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.shipmentitemmstnote, new { @class = "form-control", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.shipmentitemmstnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Approval User</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.approvalcode, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.approvalcode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>                                
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>Shipment Finish Good Detail</b></h3>
                    </div>
                    <div class="box-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">DO No. </label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("doitemno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchdo" class="btn btn-flat" data-toggle="modal" data-target="#modal-do">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        @Html.Hidden("doitemmstoid")
                                        @Html.Hidden("doitemdate")
                                        @Html.Hidden("curroid")
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Warehouse</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("shipmentitemwhoid", null, new { @class = "form-control select2" })
                                        </div>
                                        @Html.Hidden("shipmentitemw")
                                        @Html.Hidden("shipmentwhoid")
                                        @Html.Hidden("shipmentwh")
                                    </div>
                                </div>
                            </div>
                            <div class="pull-left">
                                <button type="button" class="btn btn-primary" id="btnAddToList" onclick="AddToDetail()"><b>Add To List</b></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No.</th>
                                        <th>DO No.</th>
                                        <th>DO Date</th>
                                        <th>Warehouse</th>
                                        <th>Code</th>
                                        <th>Material</th>
                                        <th>Qty</th>
                                        <th>Unit</th>
                                        <th>Detail Note</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                    </div>
                    <div class="pull-right">
                        @{
                            if (Model.shipmentitemmststatus == "In Process" | Model.shipmentitemmststatus == "Revised")
                            {
                                <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                <button type="button" class="btn btn-primary btn-md" id="btnSaveClose"><b>Save & Close</b></button>
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                if (ViewBag.action == "Update Data")
                                {
                                    <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                }
                                <button type="button" class="btn btn-warning btn-md" id="btnSendForApproval"><b>Send For Approval</b></button>
                            }
                            else
                            {
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                            }
                        }
                    </div>
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DO *@
    <div class="modal fade" id="modal-do">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of DO Finish Good</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDO" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>DO No.</th>
                                    <th>DO Date</th>
                                    <th>Req. Shipment Date</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DO *@

    @* MODAL UNTUK FORM DETAIL DO *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Finish Good</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>DO No.</th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Stock Qty</th>
                                    <th>DO Qty</th>
                                    <th>Qty</th>
                                    <th>Unit</th>
                                    <th>Note</th>
                                    <th>Round Qty</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL DO *@

    @* MODAL UNTUK CUSTOMER *@
    <div class="modal fade" id="modal-cust">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Customer</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCust" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Direct PO No.</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK CUSTOMER *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            var dono = table.row($tr).data()[2];
            var data = table.rows().data();
            var j = 0;
            for (var i = 0 ; i < data.length; i++) {
                if (data[j][2] == dono) {
                    table.row(j).remove().draw();
                }
                else
                {
                    j++;
                }
            }
            e.preventDefault();
            EnabledHeader();
        });
        table.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "paging": true,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        tblModalDtl.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        tblModalDtl.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        $("#tblModalCust").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        $("#tblModalDO").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalCust = $("#tblModalCust").DataTable();
        tblModalCust.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalCust.row($tr).data();
            var alldata = JSON.parse(data[0])
            var tbldtl = $('#DataDtl').DataTable();
            $("#custname").val(alldata.custname);
            $("#custoid").val(alldata.custoid);
            if (alldata.custtype == "EXPORT")
                $("#sjpajak").hide();
            else
                $("#sjpajak").show();
            $("#divgroupoid").val($('#ddldivgroupoid option:Selected').val());
            EnableddivgroupHeader();
            $('#modal-cust').modal('hide');
        });

        var tblModalDO = $("#tblModalDO").DataTable();
        tblModalDO.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalDO.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#doitemno").val(alldata.doitemno);
            $("#doitemmstoid").val(alldata.doitemmstoid);
            $("#doitemdate").val(alldata.doitemdate);
            $("#curroid").val(alldata.curroid);
            $('#modal-do').modal('hide');
        });

        $("#btnAddToDetail").click(function () {
            ClearDetail();
        });

        $("#cmpcode").change(function () {
            InitDDLAppUser();
        });

        InitDDLAppUser();
        FillDDLWarehouse();
        FillDetailData();
    })
    function EnableddivgroupHeader() {
        $("#ddldivgroupoid").prop("disabled", true);
    }
    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.shipmentitemdtlseq,
                    val.doitemno,
                    val.doitemdate,
                    val.shipmentitemwh,
                    val.itemcode,
                    val.itemlongdesc,
                    val.shipmentitemqty,
                    val.shipmentitemunit,
                    '<input type="text" class="form-control" style="max-width: 150px" id="shipmentitemdtlnote-' + val.shipmentitemdtlseq + '" name="shipmentitemdtlnote-' + val.shipmentitemdtlseq + '" value="' + (val.shipmentitemdtlnote == null ? "" : val.shipmentitemdtlnote) + '">',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                EnabledHeader();
            }, 100);
        });
        $("#DataDtl .select2").select2();
    }

    function FillDDLWarehouse() {
        var cmp = $("#cmpcode option:selected").val();
        var shipmentitemwhoid = $("#shipmentitemwhoid");
        var shipmentitemwhoid_sel = $("#shipmentitemwhoid option:selected").val();
        shipmentitemwhoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLWarehouse"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.genoid + "\'>" + val.gendesc + "</option>";
                        if (val.genoid == shipmentitemwhoid_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    shipmentitemwhoid.html(markup).show();
                    if (isExist == true) {
                        shipmentitemwhoid.val(shipmentitemwhoid_sel);
                    }
                    shipmentitemwhoid.trigger('change');
                } else {
                    shipmentitemwhoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
                $("#shipmentitemw").val(markup);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

function InitDDLAppUser() {
        var cmp = $("#cmpcode option:selected").val();
        var approvalcode = $("#approvalcode");
        var approvalcode_sel = $("#approvalcode option:selected").val();
        approvalcode.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLAppUser"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
            var markup = "";
            if (data.result == "sukses") {
                var isExist = false;
                $.each(data.tbl, function (key, val) {
                    markup += "<option value=\'" + val.approvaluser + "\'>" + val.approvaluser + "</option>";
                    if (val.approvaluser == approvalcode_sel) {
                        isExist = true;
                    }
                });
                console.log(data.tbl);
                approvalcode.html(markup).show();
                if (isExist == true) {
                    approvalcode.val(approvalcode_sel);
                }
                approvalcode.trigger('change');
            } else {
                approvalcode.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        $("#shipmentitemdate").datepicker("option", "dateFormat", "MM-dd-yyyy");
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
                $('#shipmentitemdate').replaceWith($('#shipmentitemdate').clone());
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        $("#cmpcode").attr("readonly", bVal);
        $("#btnsearchcust").attr("disabled", bVal);
    }

    function ClearDetail() {
        $("#doitemno").val("");
        $("#doitemmstoid").val("");
        $("#doitemdate").val("");
        $("#shipmentitemwhoid").val($("#shipmentitemwhoid option:first").val());
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    $("#btnsearchdo").click(function () {
        if ($("#custname").val() == "") {
            Swal({
                title:'WARNING!',
                text: 'Please select CUSTOMER field!',
                type:'warning'
            });
            return false;
        } else {
            var table = $('#tblModalDO').DataTable();
            var custoid = $('#custoid').val();
            var cmp = $("#cmpcode option:selected").val();
            var action = $("#action").val();
            var shipmentitemmstoid = $('#shipmentitemmstoid').val();
            var divgroupoid = $('#divgroupoid').val();
            table.clear().draw();
            $.ajax({
                url: "@(Url.Action("GetDOData"))",
                data: { cmp: cmp, custoid: custoid, action: action, shipmentitemmstoid: shipmentitemmstoid, divgroupoid: divgroupoid },
                cache: false,
                type: "POST",
                success: function (data) {
                    var rows = [];
                    var i = 0;
                    $.each(data, function (key, val) {
                        rows.push([
                            JSON.stringify(val),
                            '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                            val.doitemno,
                            moment(jsDate(val.doitemdate)).format('MM/DD/YYYY'),
                            moment(jsDate(val.doitemreqdate)).format('MM/DD/YYYY'),
                            val.doitemdest,
                        ]);
                    });
                    setTimeout(function () {
                        table.rows.add(rows).draw();
                    }, 100);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    });

    function AddToDetail() {
        var table = $('#DataDtl').DataTable();
        if ($("#doitemno").val() == "") {
            Swal({
                title: 'WARNING!',
                text: 'Please select DO No. field!',
                type: 'warning'
            });
            ClearDetail();
            return false;
        }
        if (table.rows().data().length > 0) {
            Swal({
                title: 'WARNING!',
                text: 'One shipment must contain only one DO No.!',
                type: 'warning'
            });
            ClearDetail();
            return false;
        }
        var custoid = $("#custoid").val();
        var shipmentitemmstoid = $('#shipmentitemmstoid').val();
        var doitemno = $("#doitemno").val();
        var doitemmstoid = $("#doitemmstoid").val();
        var doitemdate = moment(jsDate($("#doitemdate").val())).format('MM/DD/YYYY');
        var shipmentitemwhoid = $("#shipmentitemwhoid option:selected").val();
        var shipmentitemwh = $("#shipmentitemwhoid").find('option:selected').text();
        $("#shipmentwhoid").val(shipmentitemwhoid);
        $("#shipmentwh").val(shipmentitemwh);
        var cmp = $("#cmpcode option:selected").val();
        var action = $("#action").val();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmp: cmp, custoid: custoid, doitemmstoid: doitemmstoid, shipmentitemwhoid: shipmentitemwhoid, shipmentitemmstoid: shipmentitemmstoid, action: action },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                var id = table.rows().data().length;
                $.each(data, function (key, val) {
                    if (!IsOnDtl(val.doitemdtloid)) {
                        var obj = {
                            shipmentitemdtlseq: ++id,
                            doitemmstoid: val.doitemmstoid,
                            doitemdtloid: val.doitemdtloid,
                            doitemno: val.doitemno,
                            doitemdate: val.doitemdate,
                            doitemqty: val.doitemqty,
                            shipmentitemwh: shipmentitemwh,
                            shipmentitemwhoid: shipmentitemwhoid,
                            itemoid: val.itemoid,
                            itemcode: val.itemcode,
                            itemlongdesc: val.itemlongdesc,
                            shipmentitemqty: val.shipmentitemqty,
                            shipmentitemunit: val.shipmentitemunit,
                            shipmentitemunitoid: val.shipmentitemunitoid,
                            shipmentitemdtlnote: val.shipmentitemdtlnote,
                            itemlimitqty: val.itemlimitqty
                        }
                        rows.push([
                            JSON.stringify(obj),
                            id,
                            val.doitemno,
                            val.doitemdate,
                            shipmentitemwh,
                            val.itemcode,
                            val.itemlongdesc,
                            val.shipmentitemqty,
                            val.shipmentitemunit,
                            '<input type="text" class="form-control" style="max-width: 150px" id="shipmentitemdtlnote-' + id + '" name="shipmentitemdtlnote-' + id + '" value="' + val.shipmentitemdtlnote + '">',
                            '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                        ]);
                    }
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                    EnabledHeader();
                    ClearDetail();
                }, 100);
            },
        error: function (err) {
            console.log(err);
        }
        });
        SetDataDtl();
    }

    function IsOnDtl(doitemdtloid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (doitemdtloid == alldata.doitemdtloid) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var shipmentitemdtlnote_id = "#shipmentitemdtlnote-" + alldata.shipmentitemdtlseq;
            var shipmentitemdtlnote = table.$(shipmentitemdtlnote_id).val();
            var obj = {
                shipmentitemdtlseq: i + 1,
                doitemmstoid: alldata.doitemmstoid,
                doitemdtloid: alldata.doitemdtloid,
                doitemno: alldata.doitemno,
                doitemdate: alldata.doitemdate,
                doitemqty: alldata.doitemqty,
                shipmentitemwh: alldata.shipmentitemwh,
                shipmentitemwhoid: alldata.shipmentitemwhoid,
                itemoid: alldata.itemoid,
                itemcode: alldata.itemcode,
                itemlongdesc: alldata.itemlongdesc,
                shipmentitemqty: alldata.shipmentitemqty,
                shipmentitemunit: alldata.shipmentitemunit,
                shipmentitemunitoid: alldata.shipmentitemunitoid,
                shipmentitemdtlnote: shipmentitemdtlnote,
                itemlimitqty: alldata.itemlimitqty
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    $("#btnsearchcust").click(function () {
        var table = $('#tblModalCust').DataTable();
        var cmp = $("#cmpcode option:selected").val();
        var divgroupoid = $('#ddldivgroupoid option:selected').val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetCustomerData"))",
            data: { cmp: cmp, divgroupoid: divgroupoid },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.custcode,
                    val.custname,
                    val.custaddr,
                    val.doitemcustpono
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    $("#btnSave").click(function () {
        SetDataDtl();
    });

    $("#btnSaveClose").click(function () {
        $("#closing").val("true");
        $("#btnSave").click();
    });

    $("#btnDelete").click(function () {
        var oid = $("#shipmentitemmstoid").val();
        var cmp = $("#cmpcode option:selected").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnSendForApproval").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for APPROVAL?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#shipmentitemmststatus").val("In Approval");
                    $("#closing").val("true");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>