﻿@model IEnumerable<RSA.Controllers.ShipmentFinishGoodController.shipmentitemmst>

@{
    ViewBag.Title = "Shipment Finish Good";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //var servertime = MIS_MVC.Controllers.ClassFunction.GetServerTime();
}

<section class="content-header">
    <h1>List Of Shipment Finish Good</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <p>
                        @Html.ActionLink("Create New", "Form")
                    </p>
                </div>
                <div class="box-body">
                    @Html.Hidden("isCollapse")
                    @Html.Partial("~/Views/Shared/_FilterList.cshtml")
                    <div class="row">
                       
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th>Draft No.</th>
                                        <td>Divisi</td>
                                        <th>Shipment No.</th>
                                        <th>Stuffing Date</th>
                                        <th>Customer</th>
                                        <th>Container No.</th>
                                        <th>Status</th>
                                        <th>Note</th>
                                        <th>Business Unit</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var i in Model)
                                        {
                                            <tr>
                                                <td class="text-center"><a href="Form/@Html.DisplayFor(m => i.shipmentitemmstoid)" class="text-primary">@Html.DisplayFor(m => i.shipmentitemmstoid)</a></td>
                                                <td>@Html.DisplayFor(m => i.divgroup)</td>
                                                <td>@Html.DisplayFor(m => i.shipmentitemno)</td>
                                                <td class="text-center">@i.shipmentitemdate.ToString("MM/dd/yyyy")</td>
                                                <td>@Html.DisplayFor(m => i.custname)</td>
                                                <td>@Html.DisplayFor(m => i.shipmentitemcontno)</td>
                                                <td class="text-center">@Html.DisplayFor(m => i.shipmentitemmststatus)</td>
                                                <td>@Html.DisplayFor(m => i.shipmentitemmstnote)</td>
                                                <td>@Html.DisplayFor(m => i.divname)</td>
                                                <td class="text-center"><button title="Print" type="button" class="btn btn-sm btn-primary" onclick="PrintReport(@Html.DisplayFor(m => i.shipmentitemmstoid), '@Html.DisplayFor(m => i.cmpcode)')"><i class="fa fa-print"></i></button></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var isvisible = false;
        var displaycol = $('#DisplayCol').val();
        if (displaycol == "normal")
            isvisible = true;
        $('#datatable').DataTable ({
            "columnDefs": [
                {
                    "targets": [1],
                    "visible": isvisible,
                    "searchable": isvisible
                }
            ]
        });
    });


    function PrintReport(id, cmp) {
        var printouttype = document.getElementById("printtype").value;
        window.location.assign("@Url.Action("PrintReport")?id=" + id + "&cmp="+ cmp +"&printtype=" + printouttype + "");
    };
</script>