﻿@model RSA.Models.DB.QL_trndebetnote

@{
    ViewBag.Title = "Debet Note";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Debet Note</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model=>model.rateoid)
                        @Html.HiddenFor(model => model.rate2oid)
                        @Html.HiddenFor(model => model.divgroupoid)
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Divisi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("ddldivgroupoid", null, new { @class = "form-control", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.cmpcode, null, new { @class = "form-control select2", @required = ""})
                                            @Html.ValidationMessageFor(model => model.cmpcode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Draft No.</label>
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.dnoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">DN No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.dnno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Date</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.dndate, new { htmlAttributes = new { @class = "form-control datemask2 datepicker", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.dndate, "", new { @class = "text-danger" })
                                            @Html.Hidden("apardate")
                                            @Html.Hidden("aparcheckdate")
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Type</label>
                                        <div class="col-md-3">
                                            @Html.DropDownList("dntype", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="A/P", Value="AP" },
                                                new SelectListItem { Text="A/R", Value="AR" }
                                                //new SelectListItem { Text="A/R Return", Value="ARRET" }
                                            }, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" id="col_suppcust">Supplier</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("suppcustname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @required = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchsupp" class="btn btn-flat" data-toggle="modal" data-target="#modal-supp">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.ValidationMessage("suppcustname", "", new { @class = "text-danger" })
                                            @Html.HiddenFor(model => model.suppcustoid)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"><label class="aparcode">A/P</label> No</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("aparno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @required = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchapar" class="btn btn-flat" data-toggle="modal" data-target="#modal-apar">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.ValidationMessage("aparno", "", new { @class = "text-danger" })
                                            @Html.HiddenFor(model => model.refoid)
                                            @Html.HiddenFor(model => model.reftype)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"><label class="aparcode">A/P</label> Currency</label>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(model => model.curroid, null, new { @class = "form-control select2", @required = "", @readonly = "" })
                                            @Html.ValidationMessageFor(model => model.curroid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"><label class="aparcode">A/P</label> Amount</label>
                                        <div class="col-md-4">
                                            @Html.Editor("aparamt", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.Hidden("aparamtidr")
                                        @Html.Hidden("aparamtusd")
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"><label class="aparcode">A/P</label> Paid Amount</label>
                                        <div class="col-md-4">
                                            @Html.Editor("aparpaidamt", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"><label class="aparcode">A/P</label> Balance</label>
                                        <div class="col-md-4">
                                            @Html.Editor("aparbalance", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        <label class="col-md-4 control-label text-red" id="lblmaxamt">Max = <label id="maxamount" class="text-red">0</label></label>
                                        @Html.Hidden("dmaxamount")
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"><label class="aparcode">A/P</label> Balance IDR</label>
                                        <div class="col-md-4">
                                            @Html.Editor("aparbalanceidr", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"><label class="aparcode">A/P</label> Balance USD</label>
                                        <div class="col-md-4">
                                            @Html.Editor("aparbalanceusd", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">DN Amount</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.dnamt, new { htmlAttributes = new { @class = "form-control allownumericwithdecimal", @type = "text", @required = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"><label class="aparcode">A/P</label> Balance Afetr DN</label>
                                        <div class="col-md-4">
                                            @Html.Editor("aparbalanceafter", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">COA Debet</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.dbacctgoid, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                        @Html.Hidden("dbacctgdesc")
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">COA Credit</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.cracctgoid, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Note</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.dnnote, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength="100" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.dnstatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.dnstatus } })
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                    </div>
                    <div class="pull-right">
                        @{
                            if (Model.dnstatus == "In Process")
                            {
                                <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                <button type="button" class="btn btn-primary btn-md" id="btnSaveClose"><b>Save & Close</b></button>
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                if (ViewBag.action == "Update Data")
                                {
                                    <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                }
                                <button type="button" class="btn btn-warning btn-md" id="btnSendForApproval"><b>Posting</b></button>
                            }
                            else
                            {
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                            }
                        }
                    </div>
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK CUSTOMER/SUPPLIER *@
    <div class="modal fade" id="modal-supp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="popup_suppcust">List Of Supplier</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK CUSTOMER/SUPPLIER *@

    @* MODAL UNTUK AP/AR *@
    <div class="modal fade" id="modal-apar">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="popup_suppcust">List Of Invoice</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalAPAR" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>A/P No</th>
                                    <th>A/P Date</th>
                                    <th>Currency</th>
                                    <th>A/P Amount</th>
                                    <th>Paid Amount</th>
                                    <th>A/P Balance</th>
                                    <th>A/P Balance IDR</th>
                                  
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK AP/AR *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("#tblModalSupp").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        $("#tblModalAPAR").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalShowCOA = $("#tblModalShowCOA").DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalSupp = $("#tblModalSupp").DataTable();
        tblModalSupp.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSupp.row($tr).data();
            var alldata = JSON.parse(data[0])
            var tbldtl = $('#DataDtl').DataTable();
            $("#suppcustname").val(alldata.name);
            $("#suppcustoid").val(alldata.oid);
            $("#divgroupoid").val($('#ddldivgroupoid option:Selected').val());
            EnableddivgroupHeader();
            $('#modal-supp').modal('hide');
        });

        var tblModalAPAR = $("#tblModalAPAR").DataTable();
        tblModalAPAR.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalAPAR.row($tr).data();
            var alldata = JSON.parse(data[0])
            var tbldtl = $('#DataDtl').DataTable();
            $("#aparno").val(alldata.suppname);
            $("#reftype").val(alldata.reftype);
            $("#refoid").val(alldata.refoid);
            $("#aparno").val(alldata.transno);
            $("#apardate").val(alldata.transdate);
            $("#aparcheckdate").val(alldata.transcheckdate);
            $("#curroid").val(alldata.curroid).trigger("change");
            $("#aparamt").val(alldata.amttrans);
            $("#aparpaidamt").val(alldata.amtbayar);
            $("#aparbalance").val(alldata.amtbalance);
            $("#aparamtidr").val(alldata.amttransidr);
            $("#aparpaidamtidr").val(alldata.amtbayaridr);
            $("#aparbalanceidr").val(alldata.amtbalanceidr);
            $("#aparamtusd").val(alldata.amttransusd);
            $("#aparpaidamtusd").val(alldata.amtbayarusd);
            $("#aparbalanceusd").val(alldata.amtbalanceusd);

            InitCOADebet(alldata.acctgoid, alldata.acctgaccount);
            $("#dbacctgdesc").val(alldata.acctgaccount);
            $("#dbacctgoid").attr("readonly", true);
            $("#coacredit option:first").val();
            $("#lblmaxamt").show();
            $("#maxamount").show();
            $("#maxamount").text(alldata.amtbalance);
            $("#dmaxamount").val(alldata.amtbalance);
            if ($("#dntype option:selected").val() == "AR") {
                $("#lblmaxamt").hide();
                $("#maxamount").hide();
                $("#maxamount").text(0);
                $("#dmaxamount").val(0);
            }
            $("#dnamt").val("");
            $("#aparbalanceafter").val(alldata.amtbalance);

            $('#modal-apar').modal('hide');
        });

        $("#cmpcode").change(function () {
            $("#suppcustoid").val("");
            $("#suppcustname").val("");
            $("#aparno").val("");
            ResetAPARData();
        });

        InitCOACredit();
        $("#dntype").change(function () {
            ResetAPARData()
            if ($("#dntype option:selected").val() == "AP") {
                $(".aparcode").text("A/P");
                $("#col_suppcust").text("Supplier")
                $("#popup_suppcust").text("List Of Supplier")
            } else {
                $(".aparcode").text("A/R");
                $("#col_suppcust").text("Customer")
                $("#popup_suppcust").text("List Of Customer")
            }
            InitCOACredit();
        });

        $("#dnamt").keyup(function () {
            var balanceafter = parseFloat($("#aparbalance").val()) + (parseFloat($("#dnamt").val()) * parseFloat($("#dntype option:selected").val() != "AR" ? -1 : 1));
            $("#aparbalanceafter").val(balanceafter);
        })

        $("#dbacctgoid").attr("readonly", true);
        EnabledHeader();
        FillAdditionalField();
    })

    function FillAdditionalField() {
        if ($("#action").val() == "Update Data") {
            InitCOADebet($("#dbacctgoid").val(), $("#dbacctgdesc").val());
            $("#maxamount").text($("#dmaxamount").val());
            $("#dmaxamount").val($("#dmaxamount").val());
            $("#aparamt").val($("#aparamt").val());
            $("#aparamtidr").val($("#aparamtidr").val());
            $("#aparamtusd").val($("#aparamtusd").val());
            $("#aparcheckdate").val($("#aparcheckdate").val());
            $("#apardate").val($("#apardate").val());
        }
    }

    function ResetAPARData() {
        $(".aparcode").text("A/P");
        $("#col_suppcust").text("Supplier")
        $("#popup_suppcust").text("List Of Supplier")

        $("#aparno").val("");
        $("#reftype").val("");
        $("#refoid").val("");
        $("#aparno").val("");
        $("#apardate").val("");
        $("#aparcheckdate").val("");
        $("#curroid option:first").val();
        $("#aparamt").val("");
        $("#aparpaidamt").val("");
        $("#aparbalance").val("");
        $("#aparamtidr").val("");
        $("#aparpaidamtidr").val("");
        $("#aparbalanceidr").val("");
        $("#aparamtusd").val("");
        $("#aparpaidamtusd").val("");
        $("#aparbalanceusd").val("");

        $("#dbacctgoid").empty();
        $("#dbacctgoid").attr("readonly", true);
        $("#coacredit option:first").val();
        $("#lblmaxamt").show();
        $("#maxamount").show();
        $("#maxamount").val("");
        $("#dnamt").val("");
        $("#aparbalanceafter").val("");
    }
    function EnableddivgroupHeader() {
        $("#ddldivgroupoid").prop("disabled", true);
    }
    function InitCOADebet(iAcctgOid, sAcctgCodeDesc) {
        $("#dbacctgoid").empty();
        $("#dbacctgoid").prepend("<option value=" + iAcctgOid + ">" + sAcctgCodeDesc + "</option>");
    }

    function InitCOACredit() {
        var cmp = $("#cmpcode option:selected").val();
        var cracctgoid = $("#cracctgoid");
        var cracctgoid_sel = $("#cracctgoid option:selected").val();
        var reftype = $("#dntype option:selected").val();
        var sVar = "";
        if (reftype == "AP") {
            sVar = "VAR_DEBET_NOTE_AP";
        } else if (reftype == "AR") {
            sVar = "VAR_DEBET_NOTE_AR";
        } else {
            sVar = "VAR_DEBET_NOTE_ARRET";
        }
        $("#cracctgoid").empty();
        cracctgoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { cmp: cmp, sVar: sVar},
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                var isExist = false;
                $.each(data, function (key, val) {
                    markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                    if (val.acctgoid == cracctgoid_sel) {
                        isExist = true;
                    }
                });
                console.log(data);
                cracctgoid.html(markup).show();
                if (isExist == true) {
                    cracctgoid.val(cracctgoid_sel);
                }
                cracctgoid.trigger('change');
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function EnabledHeader() {
        var bVal = false;
        if ($("#action").val() == "Update Data") {
            bVal = true;
        }
        $("#cmpcode").attr("readonly", bVal);
        $("#dntype").attr("readonly", bVal);
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    $("#btnsearchsupp").click(function () {
        var table = $('#tblModalSupp').DataTable();
        var cmpcode = $("#cmpcode option:selected").val();
        var reftype = $("#dntype option:selected").val();
        var divgroupoid = $('#ddldivgroupoid option:selected').val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("BindSupplierData"))",
            data: { cmpcode: cmpcode, reftype: reftype, divgroupoid: divgroupoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.code,
                        val.name,
                    ]);
                });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
            },
                error: function (err) {
                    console.log(err);
                }
            });
    });

    $("#btnsearchapar").click(function () {
        if ($("#suppcustname").val() == "") {
            Swal('WARNING !', 'Please Select ' + ($("#dntype option:selected").val() == "AP" ? "Supplier" : "Customer") + ' field!', 'warning')
            return false
        }
        var table = $('#tblModalAPAR').DataTable();
        var cmpcode = $("#cmpcode option:selected").val();
        var reftype = $("#dntype option:selected").val();
        var suppcustoid = $("#suppcustoid").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataAPAR"))",
            data: {cmpcode: cmpcode, reftype: reftype, suppcustoid: suppcustoid},
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.transno,
                        val.transdate,
                        val.currcode,
                        val.amttrans,
                        val.amtbayar,
                        val.amtbalance,
                        val.amtbalanceidr
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnSaveClose").click(function () {
        $("#closing").val("true");
        $("#btnSave").click();
    });

    $("#btnDelete").click(function () {
        var oid = $("#dnoid").val();
        var cmp = $("#cmpcode option:selected").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnSendForApproval").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to POST this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Post this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#dnstatus").val("Post");
                    $("#closing").val("true");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>