﻿@model IEnumerable<RSA.Controllers.DebetNoteController.trndebetnote>

@{
    ViewBag.Title = "Debet Note";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //var servertime = MIS_MVC.Controllers.ClassFunction.GetServerTime();
}

<section class="content-header">
    <h1>List Of Debet Note</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <p>
                        @Html.ActionLink("Create New", "Form")
                    </p>
                </div>
                <div class="box-body">
                    @Html.Hidden("isCollapse")
                    @Html.Partial("~/Views/Shared/_FilterList.cshtml")
                    <div class="row">
                        
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th>Draft No.</th>
                                        <th>DN No.</th>
                                        <th>Date</th>
                                        <th>Divisi</th>
                                        <th>Type</th>
                                        <th>Customer/Supplier</th>
                                        <th>A/P - A/R No.</th>
                                        <th>Amount</th>
                                        <th>Business Unit</th>
                                        <th>Status</th>
                                        <th>Note</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var i in Model)
                                        {
                                            <tr>
                                                <td class="text-center"><a href="Form/@Html.DisplayFor(m => i.dnoid)" class="text-primary">@Html.DisplayFor(m => i.dnoid)</a></td>
                                                <td>@Html.DisplayFor(m => i.dnno)</td>
                                                <td class="text-center">@Html.DisplayFor(m => i.dndate)</td>
                                                <td>@Html.DisplayFor(m => i.divgroup)</td>
                                                <td>@Html.DisplayFor(m => i.tipe)</td>
                                                <td>@Html.DisplayFor(m => i.suppcustname)</td>
                                                <td>@Html.DisplayFor(m => i.aparno)</td>
                                                <td class="text-right">@Html.DisplayFor(m => i.dnamt)</td>
                                                <td>@Html.DisplayFor(m => i.divname)</td>
                                                <td class="text-center">@Html.DisplayFor(m => i.dnstatus)</td>
                                                <td>@Html.DisplayFor(m => i.dnnote)</td>
                                                <td class="text-center"><button title="Print" type="button" class="btn btn-sm btn-primary" onclick="PrintReport(@Html.DisplayFor(m => i.dnoid), '@Html.DisplayFor(m => i.cmpcode)')"><i class="fa fa-print"></i></button></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var isvisible = false;
        var displaycol = $('#DisplayCol').val();
        if (displaycol == "normal")
            isvisible = true;
        $('#datatable').DataTable ({
            "columnDefs": [
                {
                    "targets": [1],
                    "visible": isvisible,
                    "searchable": isvisible
                }
            ]
        });
    });

 

    function PrintReport(id, cmp) {
        window.location.assign("@Url.Action("PrintReport")?id=" + id + "&cmp=" + cmp + "");
    };
</script>