﻿@model RSA.Models.DB.QL_mstdlc

@{
    ViewBag.Title = "Direct Labor Cost";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Direct Labor Cost</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Direct Labor Cost Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.ohdamt_precost)

                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        @Html.Hidden("seq")
\                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.cmpcode, null, new { @class = "form-control select2", @required = ""})
                                            @Html.ValidationMessageFor(model => model.cmpcode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">ID</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.dlcoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @required = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">BOM <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("bomdesc", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @required = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchbom" class="btn btn-flat" data-toggle="modal" data-target="#modal-bom">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.bomoid)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Date</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.dlcdate, new { htmlAttributes = new { @class = "form-control datemask2", @type = "text", @required = "", @readonly = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Code FG</label>
                                        <div class="col-md-8">
                                            @Html.Editor("itemcode", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @required = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Finish Good</label>
                                        <div class="col-md-8">
                                            @Html.Editor("itemlongdesc", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @required = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Description</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.dlcdesc, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "250", @required = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Cost %</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.dlctotalpct, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @required = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">DL Cost</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.dlcamount, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @required = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Max DLC</label>
                                        <div class="col-md-6">
                                            @Html.Editor("precostdlcamt", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @required = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">OHD Cost <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.dlcoverheadamt, new { htmlAttributes = new { @class = "form-control allownumericwithdecimal", @type = "text", @onchange = "CountHdrAmount()", @required = "" } })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(model => model.curroid_ohd, null, new { @class = "form-control select2", @required = "", @onchange = "CountHdrAmount()" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Max OHD</label>
                                        <div class="col-md-4">
                                            @Html.Editor("precostoverheadamt", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @required = "" } })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(model => model.curroid_ohd_precost, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">DLC COA</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.dlcacctgoid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.dlcacctgoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">OHD COA</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.ohdacctgoid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.ohdacctgoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Point</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.dlcpoint, new { htmlAttributes = new { @class = "form-control allownumericwithdecimal", @type = "text"} })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.dlcnote, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength="100" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.activeflag, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                                new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                                            }, new { @class = "form-control", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>Direct Labor Cost Detail</b></h3>
                    </div>
                    <div class="box-body">
                        <div class="container-fluid">
                            <div class="pull-left">
                                <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Add To List</b></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>Department</th>
                                        <th>Cost %</th>
                                        <th>DL Cost Amt.</th>
                                        <th>OHD Cost Amt.</th>
                                        <th>Point %</th>
                                        <th>Detail Note</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                    </div>
                    <div class="pull-right">
                        @{
                            if (ViewBag.dlclock == "Y")
                            {
                                <button type="button" class="btn btn-success btn-md" id="btnSaveAs"><b>Save As</b></button>
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                <button type="button" class="btn btn-primary btn-md" id="btnSaveClose"><b>Save & Close</b></button>
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                if (ViewBag.action == "Update Data")
                                {
                                    <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                }
                            }
                        }
                    </div>
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DETAIL COA *@
    <div class="modal fade" id="modal-bom">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of BOM</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalBOM" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>FG Code</th>
                                    <th>Finish Good</th>
                                    <th>Date</th>
                                    <th>SKU</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL COA *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw(); SetDataDtl(); FillDetailData();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
            CountHdrAmount();
            EnabledHeader();
        });
        table.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.-]/g, ''));
            if ((e.which != 45 || $(this).val().indexOf('-') != -1) && (e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        var tblModalBOM = $("#tblModalBOM").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalBOM = $("#tblModalBOM").DataTable();
        tblModalBOM.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalBOM.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#bomoid").val(alldata.bomoid);
            $("#bomdesc").val(alldata.bomdesc);
            $("#itemcode").val(alldata.itemcode);
            $("#itemlongdesc").val(alldata.itemlongdesc);
            $("#precostdlcamt").val(alldata.precostdlcamt);
            $("#precostoverheadamt").val(alldata.precostoverheadamt);
            $("#dlcoverheadamt").val(alldata.precostoverheadamt);
            $("#dlcres1").val(alldata.updtimebom);
            $("#curroid_ohd").val(alldata.curroid_overhead).trigger("change");
            $("#curroid_ohd_precost").val(alldata.curroid_overhead).trigger("change");
            InitDLCDesc();
            $('#modal-bom').modal('hide');
        });

        $("#curroid_ohd_precost").attr("readonly", true);
        $("#dlcoverheadamt").change(function () {
            if (parseFloat($("#dlcoverheadamt").val()) > parseFloat($("#precostoverheadamt").val())) {
                $("#dlcoverheadamt").val($("#precostoverheadamt").val());
            }
            RecalculateDtl();
        })
        FillDetailData();
    })

    function BindListCOA(sVar) {
        var cmpcode = $("#cmpcode option:selected").val();
        var markup = "";
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { cmp: cmpcode, sVar: sVar },
            cache: false,
            async: false,
            type: "POST",
            success: function (data) {
                $.each(data, function (key, val) {
                    markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgcode + "</option>";
                });
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
        return markup;
    }

    function InitDLCDesc() {
        var cmpcode = $("#cmpcode option:selected").val();
        var bomdesc = $("#bomdesc").val();
        var bomoid = $("#bomoid").val();
        var dlcdesc = "";
        $.ajax({
            url: "@(Url.Action("InitDLCDesc"))",
            data: { cmpcode: cmpcode, bomdesc: bomdesc, bomoid: bomoid },
            cache: false,
            async: false,
            type: "POST",
            success: function (data) {
                dlcdesc = data;
            },
            error: function (err) {
                console.log(err);
            }
        });
        $("#dlcdesc").val(dlcdesc);
    }

    function InitDDLDept() {
        var cmpcode = $("#cmpcode option:selected").val();
        var bomoid = $("#bomoid").val();
        var markup = "";
        $.ajax({
            url: "@(Url.Action("InitDDLDept"))",
            data: { cmpcode: cmpcode, bomoid: bomoid },
            cache: false,
            async: false,
            type: "POST",
            success: function (data) {
                $.each(data, function (key, val) {
                    markup += "<option value=\'" + val.deptoid + "\'>" + val.deptname + "</option>";
                });
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
        return markup;
    }

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        var deptname = InitDDLDept();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<select class = "form-control" id="deptoid-' + val.dlcdtlseq + '">' + deptname,
                    val.dlcpct,
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="dlcdtlamount-' + val.dlcdtlseq + '" name="dlcdtlamount-' + val.dlcdtlseq + '" value="' + val.dlcdtlamount + '" onblur="CountDtlAmount(' + val.dlcdtlseq + ')">',
                    val.dlcohdamount,
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="dlcdtlweightpoint-' + val.dlcdtlseq + '" name="dlcdtlweightpoint-' + val.dlcdtlseq + '" value="' + val.dlcdtlweightpoint + '" onblur="CountDtlAmount(' + val.dlcdtlseq + ')">',
                    '<input type="text" class="form-control" style="max-width: 150px" id="dlcdtlnote-' + val.dlcdtlseq + '" name="dlcdtlnote-' + val.dlcdtlseq + '" value="' + (val.dlcdtlnote == null ? "" : val.dlcdtlnote) + '">',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                $.each(data, function (key, val) {
                    $('#deptoid-' + val.dlcdtlseq).val(val.deptoid).trigger("change");
                });
                EnabledHeader();
            }, 100);
        });
    }

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        $("#cmpcode").attr("readonly", bVal);
        $("#btnsearchbom").attr("disabled", bVal);
    }

    function CountHdrAmount() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var dlcamount = 0;
        var dlctotalpct = 0;
        if (data.length > 0) {
            for (var i = 0; i < data.length; i++) {
                var alldata = JSON.parse(data[i][0]);
                dlcamount += parseFloat(alldata.dlcdtlamount);
            }
        }
        $("#dlcamount").val(dlcamount);
        RecalculateDtl();
    }

    function RecalculateDtl() {
        SetDataDtl();
        FillDetailData();
    }

    function CountDtlAmount(id) {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        if (dataDtl.length > 0) {
            var data = table.row(id - 1).data();
            var alldata = JSON.parse(data[0]);
            var deptoid_id = "#deptoid-" + id;
            var dlcdtlamount_id = "#dlcdtlamount-" + id;
            var dlcdtlweightpoint_id = "#dlcdtlweightpoint-" + id;
            var dlcdtlnote_id = "#dlcdtlnote-" + id;
            var deptoid = table.$(deptoid_id).val();
            var dlcdtlamount = table.$(dlcdtlamount_id).val();
            var dlcdtlweightpoint = table.$(dlcdtlweightpoint_id).val();
            var dlcdtlnote = table.$(dlcdtlnote_id).val();

            var deptname = InitDDLDept();
            var dlcpct = 0;
            var dlcohdamount = 0;
            if (parseFloat($("#dlcamount").val() > 0)) {
                dlcpct = (dlcdtlamount * 100) / parseFloat($("#dlcamount").val());
                dlcohdamount = (dlcpct * parseFloat($("#dlcoverheadamt").val())) / 100;
            }
            alldata.deptoid = deptoid;
            alldata.dlcpct = dlcpct;
            alldata.dlcdtlamount = dlcdtlamount;
            alldata.dlcohdamount = dlcohdamount;
            alldata.dlcdtlweightpoint = dlcdtlweightpoint;
            alldata.dlcdtlnote = dlcdtlnote;

            data[0] = JSON.stringify(alldata);
            data[1] = '<select class = "form-control" id="deptoid-' + id + '">' + deptname;
            data[2] = alldata.dlcpct;
            data[3] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="dlcdtlamount-' + id + '" name="dlcdtlamount-' + id + '" value="' + alldata.dlcdtlamount + '" onblur="CountDtlAmount(' + id + ')">';
            data[4] = alldata.dlcohdamount;
            data[5] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="dlcdtlweightpoint-' + id + '" name="dlcdtlweightpoint-' + id + '" value="' + alldata.dlcdtlweightpoint + '" onblur="CountDtlAmount(' + id + ')">';
            data[6] = '<input type="text" class="form-control" style="max-width: 150px" id="dlcdtlnote-' + id + '" name="dlcdtlnote-' + id + '" value="' + (alldata.dlcdtlnote == null ? "" : alldata.dlcdtlnote) + '">';

            table.row(id - 1).data(data).invalidate();
            $('#deptoid-' + id).val(deptoid).trigger("change");
            CountHdrAmount();
        }
    }

    $("#btnsearchbom").click(function () {
        var table = $('#tblModalBOM').DataTable();
        var cmpcode = $("#cmpcode option:selected").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("BindBOMData"))",
            data: {cmpcode: cmpcode},
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.itemcode,
                        val.itemlongdesc,
                        val.bomdate,
                        val.itemnote,
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnAddToList").click(function () {
        if ($("#bomdesc").val() == "") {
            Swal('WARNING!', 'Please Select BOM field', 'warning')
            return false
        }
        var deptname = InitDDLDept();
        var table = $('#DataDtl').DataTable();
        var id = table.rows().data().length + 1;
        var obj = {
            dlcdtlseq: id,
            deptoid: 0,
            dlcpct: 0,
            dlcdtlamount: 0,
            dlcohdamount: 0,
            dlcdtlweightpoint: 0,
            dlcdtlnote: "",
        };
        table.row.add([
            JSON.stringify(obj),
            '<select class = "form-control" id="deptoid-' + id + '">' + deptname,
            0,
            '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="dlcdtlamount-' + id + '" name="dlcdtlamount-' + id + '" value="' + 0 + '" onblur="CountDtlAmount(' + id + ')">',
            0,
            '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="dlcdtlweightpoint-' + id + '" name="dlcdtlweightpoint-' + id + '" value="' + 0 + '" onblur="CountDtlAmount(' + id + ')">',
            '<input type="text" class="form-control" style="max-width: 150px" id="dlcdtlnote-' + id + '" name="dlcdtlnote-' + id + '" value="">',
            '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
        ]).draw();

        SetDataDtl();
        EnabledHeader();
    });

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        var dVal = 0;
        var dVal2 = 0;
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);

            var deptoid_id = "#deptoid-" + alldata.dlcdtlseq;
            var dlcdtlamount_id = "#dlcdtlamount-" + alldata.dlcdtlseq;
            var dlcdtlweightpoint_id = "#dlcdtlweightpoint-" + alldata.dlcdtlseq;
            var dlcdtlnote_id = "#dlcdtlnote-" + alldata.dlcdtlseq;
            var deptoid = table.$(deptoid_id).val();
            var dlcdtlamount = table.$(dlcdtlamount_id).val();
            var dlcdtlweightpoint = table.$(dlcdtlweightpoint_id).val();
            var dlcdtlnote = table.$(dlcdtlnote_id).val();

            if (i != dataDtl.length) {
                alldata.dlcpct = (alldata.dlcdtlamount / parseFloat($("#dlcamount").val())) * 100;
            } else {
                alldata.dlcpct = parseFloat(alldata.dlcdtlamount / parseFloat($("#dlcamount").val())) * 100 + (100 - (dVal + (parseFloat(alldata.dlcdtlamount / parseFloat($("#dlcamount").val())) * 100)));
            }
            dVal += parseFloat(alldata.dlcpct);

            if (i != dataDtl.length) {
                alldata.dlcohdamount = (alldata.dlcpct * parseFloat($("#dlcoverheadamt").val())) / 100;
            } else {
                alldata.dlcohdamount = (parseFloat(alldata.dlcpct) * parseFloat($("#dlcoverheadamt").val())) / 100 + (parseFloat($("#dlcoverheadamt").val()) - (dVal2 + (parseFloat(alldata.dlcpct) * parseFloat($("#dlcoverheadamt").val())) / 100));
            }
            dVal2 += parseFloat(alldata.dlcohdamount);

            alldata.dlcdtlseq = i + 1;
            alldata.deptoid = deptoid;
            alldata.dlcdtlamount = dlcdtlamount;
            alldata.dlcdtlweightpoint = dlcdtlweightpoint;
            alldata.dlcdtlnote = dlcdtlnote;

            rows.push(alldata);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    $("#btnSave").click(function () {
        SetDataDtl();
    });

    $("#btnSaveClose").click(function () {
        $("#closing").val("true");
        $("#btnSave").click();
    });

    $("#btnDelete").click(function () {
        var oid = $("#dlcoid").val();
        var cmp = $("#cmpcode option:selected").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });
</script>