﻿@model RSA.Models.DB.QL_mstmatraw

@{
    ViewBag.Title = "Bahan Baku";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form @ViewBag.Title</h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.matrawoid)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.Hidden("action")

                        <div class="container-fluid">
                            <div class="row">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Divisi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.divgroupoid, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Batch</label>
                                        <div class="col-md-8">
                                            @Html.CheckBoxFor(model => model.flagbatch)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kategori 1</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.cat1oid, null, new { @class = "form-control select2", @onchange = "cat1change()" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kategori 2</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.cat2oid, null, new { @class = "form-control select2", @onchange = "cat2change()" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kategori 3</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.cat3oid, null, new { @class = "form-control select2", @onchange = "cat3change()" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kategori 4</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.cat4oid, null, new { @class = "form-control select2", @onchange = "longdesc()" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kode <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.matrawcode, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @maxlength = "30" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Lebar/Deskripsi <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.matrawshortdesc, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100", @onchange = "shortdescchange()" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Nama Panjang<label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.matrawlongdesc, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "250" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Satuan</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.matrawunitoid, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Lokasi <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.matrawlocoid, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Stok Aman <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.matrawsafetystock, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Rounding Qty <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.matrawlimitqty, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Gambar Lokasi </label>
                                        <div class="col-md-8">
                                            <input type="file" id="matrawpictureloc" alt="Submit" class="m-t-10 flex-c-m sizefull color1 s-text1 trans-0-4 " width="100%" onchange="previewImage1(this);">
                                            @Html.HiddenFor(model => model.matrawpictureloc, new { @class = "form-control", @id = "picturepath" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Gambar Barang </label>
                                        <div class="col-md-8">
                                            <input type="file" id="matrawpicturemat" alt="Submit" class="m-t-10 flex-c-m sizefull color1 s-text1 trans-0-4 " width="100%" onchange="previewImage2(this);">
                                            @Html.HiddenFor(model => model.matrawpicturemat, new { @class = "form-control", @id = "picturepath" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"> </label>
                                        <div class="col-md-8">
                                            @{
                                                var src1 = Html.DisplayFor(model => model.matrawpictureloc).ToString();
                                                if (!File.Exists(Server.MapPath(src1)))
                                                {
                                                    src1 = "~/Content/dist/img/preview.png";
                                                }
                                            }
                                            <img src="@Url.Content(src1)" alt="IMG-PRODUCT" id="image-preview1" width="50%" height="50%">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Catatan </label>
                                        <div class="col-md-8">
                                            @{
                                                var src2 = Html.DisplayFor(model => model.matrawpicturemat).ToString();
                                                if (!File.Exists(Server.MapPath(src2)))
                                                {
                                                    src2 = "~/Content/dist/img/preview.png";
                                                }
                                        }
                                        <img src="@Url.Content(src2)" alt="IMG-PRODUCT" id="image-preview2" width="50%" height="50%">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Catatan </label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.matrawnote, htmlAttributes: new { @class = "form-control", @type = "text", @maxlength = "100" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.activeflag, new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                            new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                                            }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="box-footer">
                        <div class="pull-left">
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    @:Created by @(Html.DisplayFor(model => model.createuser)) On @(Html.DisplayFor(model => model.createtime))
                                    @:<br /> Last Update by @(Html.DisplayFor(model => model.upduser)) On @(Html.DisplayFor(model => model.updtime))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-success" id="btnSave"><b>Save</b></button>
                            <a href="@Url.Action("Index")" type="button" class="btn btn-primary btn-md"><b>Back</b></a>
                        </div>
                    </div>
                }
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@*<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        if ($('#action').val() == "New Data") {
            cat1change();
        }
    })

    function previewImage1(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#image-preview1')
                .attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    function previewImage2(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#image-preview2')
                .attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    $('#matrawpictureloc').on('change', function (e) {
        var url = "@(Url.Action("UploadFileMat"))";
        var files = e.target.files;

        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: url,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {
                        console.log(data);
                        if (data.result == "Sukses") {
                            $('#matrawpictureloc').val(data.picturepath);
                        }
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });

    $('#matrawpicturemat').on('change', function (e) {
        var url = "@(Url.Action("UploadFileMat"))";
        var files = e.target.files;

        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: url,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {
                        console.log(data);
                        if (data.result == "Sukses") {
                            $('#matrawpicturemat').val(data.picturepath);
                        }
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });

    $('#cat1oid').on('change', function () {
        fillDDLcat2();
        longdesc();
    });

    function cat1change() {
        fillDDLcat2();
        longdesc();
    }

    $('#cat2oid').on('change', function () {
        fillDDLCat3();
        longdesc();
    });

    $('#shortdescchange').on('change', function () {
        longdesc();
    });

    function shortdescchange() {
        longdesc();
    }

    function cat2change() {
        fillDDLcat3();
        longdesc();
    }

    $('#cat3oid').on('change', function () {
        fillDDLCat4();
        longdesc();
    });
    function cat3change() {
        fillDDLcat4();
        longdesc();
    }

    //isi DDL cat2
    function fillDDLcat2() {
        var cat1 = $("#cat1oid option:selected").val();
        if (cat1 == "" || cat1 == null) {
            cat1=0
        }
            var cat2oid = $("#cat2oid");
            var cat2oid_sel = $("#cat2oid").val();
            cat2oid.html("<option value=''></option>").show();
            $.ajax({
                url: "@(Url.Action("Getcat2"))",
                data: { cat1: cat1},
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.cat2oid + "\'>" + val.cat2shortdesc + "</option>";
                        if (val.cat2oid == cat2oid_sel) {
                            isExist = true;
                        }
                    });
                    cat2oid.html(markup).show();
                    if (isExist == true) {
                        cat2oid.val(cat2oid_sel);
                    }
                    cat2oid.trigger('change');
                    fillDDLcat3();
                } else {
                    cat2oid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    }

    //isi DDL cat3
    function fillDDLcat3() {
        var cat1 = $("#cat1oid option:selected").val();
        var cat2 = $("#cat2oid option:selected").val();
        if (cat1 == "" || cat1 == null) {
            cat1 = 0
        }
        if (cat2 == "" || cat2 == null) {
            cat2 = 0
        }
        var cat3oid = $("#cat3oid");
        var cat3oid_sel = $("#cat3oid").val();
        cat3oid.html("<option value=''></option>").show();
            $.ajax({
                url: "@(Url.Action("Getcat3"))",
                data: { cat1: cat1,cat2:cat2},
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    if (data.tbl.length > 0) {
                        $.each(data.tbl, function (key, val) {
                            markup += "<option value=\'" + val.cat3oid + "\'>" + val.cat3shortdesc + "</option>";
                            if (val.cat3oid == cat3oid_sel) {
                                isExist = true;
                            }
                        });
                    }
                    else {
                        markup += "<option value='0'></option>";
                    }
                    cat3oid.html(markup).show();
                    if (isExist == true) {
                        cat3oid.val(cat3oid_sel);
                    }
                    cat3oid.trigger('change');
                    fillDDLcat4();
                } else {
                    cat2oid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    }

    //isi DDL cat4
    function fillDDLcat4() {
        var cat1 = $("#cat1oid option:selected").val();
         var cat2 = $("#cat2oid option:selected").val();
         var cat3 = $("#cat3oid option:selected").val();
         if (cat1 == "" || cat1 == null) {
             cat1 = 0
         }
         if (cat2 == "" || cat2 == null) {
             cat2 = 0
         }
         if (cat3 == "" || cat3 == null) {
             cat3 = 0
         }
         var cat4oid = $("#cat4oid");
         var cat4oid_sel = $("#cat4oid").val();
         cat4oid.html("<option value=''></option>").show();
            $.ajax({
                url: "@(Url.Action("Getcat4"))",
                data: { cat1: cat1,cat2:cat2,cat3:cat3},
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    if (data.tbl.length > 0) {
                        $.each(data.tbl, function (key, val) {
                            markup += "<option value=\'" + val.cat4oid + "\'>" + val.cat4shortdesc + "</option>";
                            if (val.cat4oid == cat4oid_sel) {
                                isExist = true;
                            }
                        });
                    }
                    else {
                        markup += "<option value='0'></option>";
                    }
                    cat4oid.html(markup).show();
                    if (isExist == true) {
                        cat4oid.val(cat4oid_sel);
                    }
                    cat4oid.trigger('change');
                } else {
                    cat4oid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    }

    function longdesc() {
        var a = $('#cat1oid option:selected').text();
        var b = $('#cat2oid option:selected').text();
        var c = $('#cat3oid option:selected').text();
        var d = $('#cat4oid option:selected').text();
        var e = $('#matrawshortdesc').val();

        $('#matrawlongdesc').val(a + ' ' + b + ' ' + c + ' (' + d + ') ' + e  );
    }

    $("#btnSave").click(function () {
        event.preventDefault();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var mst = $('form').serializeArray();
        var tbl = {};
        jQuery.map(mst, function (n, i) {
            tbl[n.name] = n.value;
        });
        var action = $('#action').val();

        $.ajax({
            type: "POST",
            url: "@(Url.Action("Form"))",
            data: { __RequestVerificationToken: token, tbl: tbl, action: action },
            success: function (data) {
                if (data.result == 'success') {
                    Swal('Data has been saved!', data.msg, 'success').then((result) => {
                        if (result.value) {
                            location.replace("@(Url.Action("Index"))");
                        }
                    });
                } else {
                    Swal('Save data failed!', data.msg, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });

    function clickDelete() {
        var oid = $("#cat1oid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Apakah Anda yakin untuk menghapus data ini?',
            text: "Data yang sudah dihapus tidak akan bisa dikembalikan!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Ya, hapus data ini!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                    success: function (data) {
                        if (data.result == 'sukses') {
                            Swal(
                              'Terhapus!',
                              'Data sudah dihapus.',
                              'success'
                            )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                              'Gagal menghapus data!',
                              data.msg,
                              'warning'
                            )
                        }

                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });

            }
        })
    }
</script>