﻿@model IEnumerable<RSA.Controllers.POCancellationController.trnpomst>

@{
    ViewBag.Title = "PO (Cancel)";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>PO (Cancel)</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-sm-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Business Unit</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownList("cmpcode", null, new { @class = "form-control", @required = "" })
                                            @Html.ValidationMessage("cmpcode", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Type</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownList("potype", new List<SelectListItem>
                                    {
                                        new SelectListItem { Text="Raw Material", Value="RAW" },
                                        new SelectListItem { Text="General Material", Value="GEN" },
                                        //new SelectListItem { Text="Spare Part", Value="SP" },
                                        //new SelectListItem { Text="Finish Good", Value="item" }
                                        //new SelectListItem { Text="Fixed Assets", Value="Asset" },
                                        //new SelectListItem { Text="Log", Value="log" },
                                        //new SelectListItem { Text="Sawn Timber", Value="sawn" },
                                        //new SelectListItem { Text="Sawn Timber Lv 2", Value="sawn2" }
                                    }, new { @class = "form-control", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">PO No.</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                @Html.Editor("pono", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchpo" class="btn btn-flat" data-toggle="modal" data-target="#modal-po">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        @Html.Hidden("pomstoid")
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">PO Date</label>
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                @Html.Editor("podate", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                                            </div>
                                            @Html.ValidationMessage("podate", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Supplier</label>
                                        <div class="col-sm-8">
                                            @Html.Editor("suppname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.Hidden("suppoid")
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Note</label>
                                        <div class="col-sm-8">
                                            @Html.Editor("pomstnote", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Status</label>
                                        <div class="col-sm-6">
                                            @Html.Editor("pomststatus", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-body">
                        <div class="col-sm-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No</th>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th>Qty</th>
                                        <th>Unit</th>
                                        <th>Status</th>
                                        <th>Detail Note</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    <div class="box-footer">
                        <div class="pull-right">
                            @{
                                <button type="button" class="btn btn-danger btn-md" id="btnSave"><b>Process</b></button>
                                <button type="submit" class="btn btn-danger btn-md" id="btnProcess" style="display:none"><b></b></button>
                            }
                        </div>
                    </div>
                    
                            }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM PO *@
    <div class="modal fade" id="modal-po">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Approved PO</h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-12" style="overflow-x: auto;">
                        <table id="tblModalPO" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>PO No.</th>
                                    <th>PO Date</th>
                                    <th>Supplier</th>
                                    <th>Status</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM PO *@
</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        $("#tblModalPO").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalPO = $("#tblModalPO").DataTable();
        tblModalPO.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalPO.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#pono").val(alldata.pono);
            $("#pomstoid").val(alldata.pomstoid);
            $("#podate").val(alldata.podate);
            $("#suppoid").val(alldata.suppoid);
            $("#suppname").val(alldata.suppname);
            $("#pomststatus").val(alldata.pomststatus);
            $("#pomstnote").val(alldata.pomstnote);
            AddToDetail();
            $('#modal-po').modal('hide');
        });

        $("#potype").change(function () {
            ClearData();
        });

        $("#cmpcode").change(function () {
            ClearData();
        });
    })


    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    $("#btnsearchpo").click(function () {
        var table = $('#tblModalPO').DataTable();
        var potype = $("#potype option:selected").val();
        var cmp = $("#cmpcode option:selected").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetPOData"))",
            data: { cmp: cmp, sType: potype },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.pono,
                        val.podate,
                        val.suppname,
                        val.pomststatus,
                        val.pomstnote,
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    function ClearData() {
        $("#pono").val("");
        $("#pomstoid").val("");
        $("#podate").val("");
        $("#suppoid").val("");
        $("#suppname").val("");
        $("#pomststatus").val("");
        $("#pomstnote").val("");
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
    }

    function AddToDetail() {
        var table = $('#DataDtl').DataTable();
        var potype = $("#potype option:selected").val();
        var cmp = $("#cmpcode option:selected").val();
        var pomstoid = $("#pomstoid").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmp: cmp, sType: potype, iOid: pomstoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    var obj = {
                        cmpcode: cmp,
                        pomstoid: pomstoid,
                        podtloid: val.podtloid,
                        potype: potype,
                        matoid: val.matoid,
                        matcode: val.matcode,
                        matlongdesc: val.matlongdesc,
                        poqty: val.poqty,
                        pounit: val.pounit,
                        podtlnote: val.podtlnote,
                        podtlstatus: val.podtlstatus
                    }
                    rows.push([
                        JSON.stringify(obj),
                        ++i,
                        val.matcode,
                        val.matlongdesc,
                        val.poqty,
                        val.pounit,
                        val.podtlstatus,
                        val.podtlnote
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
        SetDataDtl();
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var potype = $("#potype option:selected").val();
        var cmp = $("#cmpcode option:selected").val();
        var pomstoid = $("#pomstoid").val();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var obj = {
                cmpcode: cmp,
                pomstoid: pomstoid,
                podtloid: alldata.podtloid,
                potype: potype,
                matoid: alldata.matoid,
                matcode: alldata.matcode,
                matlongdesc: alldata.matlongdesc,
                poqty: alldata.poqty,
                pounit: alldata.pounit,
                podtlnote: alldata.podtlnote,
                podtlstatus: alldata.podtlstatus
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    $("#btnProcess").click(function () {
        var bVal = true;
        if ($('#DataDtl').DataTable() == null) {
            Swal({
                title: 'WARNING!',
                text: 'Please Fill detail data!',
                type: 'warning'
            });
            bVal = false;
            return false
        } else {
            var table = $('#DataDtl').DataTable();
            var dataDtl = table.rows().data();
            if (dataDtl.length <= 0) {
                Swal({
                    title: 'WARNING!',
                    text: 'Please fill Detail Data!',
                    type: 'warning'
                });
                bVal = false;
                return false
            }
        }
        if (bVal) {
            SetDataDtl();
            ClearData();
            Swal({
                title: 'INFORMATION',
                text: 'data have been CANCEL succesfully!',
                type: 'success'
            });
        }
    })

    $("#btnSave").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to CANCEL this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, CANCEL this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#btnProcess").click();
                }, 100)
            }
        })
    });

</script>
