﻿@model RSA.Models.DB.QL_mstcat4

@{
    ViewBag.Title = "Kategori4";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Kategori 4</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                <div class="box-header">
                    <h3 class="box-title">Form Kategori 4</h3>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.cat4oid)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action == "Create" ? "Data Baru" : "Edit Data" )</label>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Kode</label>
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.EditorFor(model => model.cat4code, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "5", @style = "text-transform:uppercase" } })
                                        @Html.ValidationMessageFor(model => model.cat4code, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Kategori 1</label>
                                    </div>
                                    <div class="col-lg-6">
                                        @Html.DropDownListFor(model => model.cat1oid, null, new { @class = "form-control select2", @onchange = "cat1change()" })
                                        @Html.ValidationMessageFor(model => model.cat1oid, "", new { @id="cat1oid", @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Kategori 2</label>
                                    </div>
                                    <div class="col-lg-6">
                                        @Html.DropDownListFor(model => model.cat2oid, null, new { @id = "cat2oid", @class = "form-control select2", @onchange = "cat2change()" })
                                        @Html.ValidationMessageFor(model => model.cat2oid, "", new {  @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Kategori 3</label>
                                    </div>
                                    <div class="col-lg-6">
                                        @Html.DropDownListFor(model => model.cat3oid, null, new { @id = "cat3oid", @class = "form-control select2" })
                                        @Html.ValidationMessageFor(model => model.cat3oid, "", new {  @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Deskripsi</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.EditorFor(model => model.cat4shortdesc, new { htmlAttributes = new { @id= "cat4shortdesc", @class = "form-control", @type = "text", @required = "", @maxlength = "100", @style = "text-transform:uppercase" } })
                                        @Html.ValidationMessageFor(model => model.cat4shortdesc, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Deskripsi Panjang</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.EditorFor(model => model.cat4longdesc, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "200", @style = "text-transform:uppercase" } })
                                        @Html.ValidationMessageFor(model => model.cat4longdesc, "", new { @id= "cat4longdesc", @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Catatan</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.EditorFor(model => model.cat4note, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100", @style = "text-transform:uppercase" } })
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Status</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.DropDownListFor(model => model.activeflag, new List<SelectListItem>
                                          {
                                              new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                              new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                                            }, new { @class = "form-control select2", @required = "" })
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>

                    <div class="box-footer">
                        <div class="pull-left">
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:Terakhir Diupdate Oleh @(Html.DisplayFor(m => m.upduser)) Pada @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            @*<button type="reset" class="btn btn-default btn-md" style="width: 80px;"><b>Cancel</b></button>*@
                            <button type="submit" name="action" value="@(ViewBag.action)" class="btn btn-success btn-md"><b>Simpan</b></button>
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    <button type="button" onclick="clickDelete()" class="btn btn-danger btn-md"><b>Hapus</b></button>
                                }
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    $('#cat1oid').on('change', function () {
        //alert("aaaaa");
        fillDDLCat2();
    });

    function cat1change() {
        //alert("aaaaa");
        fillDDLcat2();
    }

    $('#cat2oid').on('change', function () {
        //alert("aaaaa");
        fillDDLCat3();
    });

    function cat2change() {
        //alert("aaaaa");
        fillDDLcat3();
    }

    //isi DDL cat2
    function fillDDLcat2() {
        var ddl = $("#cat2oid");
        var cat1 = $("#cat1oid").val();
        var cat2 = $("#cat2oid").val();
        if (cat1 == "" || cat1 == 0) {
            ddl.html("<option value=''> Pilih Kategori 1 dahulu </option>").show();
        } else {
            ddl.html("<option value=''> Please wait...</option>").show();
            $.ajax({
                url: "@(Url.Action("Getcat2"))",
                data: { cat1: cat1 },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = ""//"<option value=0>Pilih Province</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=\'" + data[x].Value + "\'>" + data[x].Text + "</option>";
                }
                ddl.html(markup).show();
                fillDDLcat3()
            },
            error: function (reponse) {
                alert("error fillDDLcat2 : " + reponse);
            }
        });
    }
    }

    //isi DDL cat3
    function fillDDLcat3() {
        var ddl = $("#cat3oid");
        var cat1 = $("#cat1oid").val();
        var cat2 = $("#cat2oid").val();
        if (cat1 == "" || cat1 == 0) {
            ddl.html("<option value=''> Pilih Kategori 1 dahulu </option>").show();
        }
        else if (cat2 == "" || cat2 == 0) {
            ddl.html("<option value=''> Pilih Kategori 2 dahulu </option>").show();
        } else {
            ddl.html("<option value=''> Please wait...</option>").show();
            $.ajax({
                url: "@(Url.Action("Getcat3"))",
                data: { cat1: cat1, cat2:cat2 },
                cache: false,
                type: "POST",
                success: function (data) {
                    var markup = ""//"<option value=0>Pilih Province</option>";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=\'" + data[x].Value + "\'>" + data[x].Text + "</option>";
                    }
                    ddl.html(markup).show();
                },
                error: function (reponse) {
                    alert("error fillDDLcat2 : " + reponse);
                }
            });
        }
    }
</script>

<script language="javascript" type="text/javascript">
    function clickDelete() {
        var oid = $("#cat4oid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Apakah Anda yakin untuk menghapus data ini?',
            text: "Data yang sudah dihapus tidak akan bisa dikembalikan!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Ya, hapus data ini!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                success: function (data) {
                    if (data.result == 'sukses') {
                        Swal(
                          'Terhapus!',
                          'Data sudah dihapus.',
                          'success'
                        )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                          'Gagal menghapus data!',
                          data.msg,
                          'warning'
                        )
                    }

                },
                error: function (error) {
                    console.dir(error)
                }
            });

        }
        })
    }
    $(function () {
        $('#cat4shortdesc').blur(function () {
            var a = $("#cat1oid option:selected").text();
            var b = $('#cat4shortdesc').val();
            var c = $("#cat2oid option:selected").text();
            var d = $("#cat3oid option:selected").text();
            $('#cat4longdesc').val(a + ' ' + c + ' ' + ' ' + d + ' ' + b);
        });
    })

</script>