﻿@model RSA.Models.DB.QL_mstmatraw

@{
    ViewBag.Title = "Bahan Baku";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    string CompnyCode = System.Configuration.ConfigurationManager.AppSettings["CompnyCode"];
}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Bahan Baku
        </h1>

    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary form-horizontal">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                                    <!-- /.box-header -->
                        <div class="box-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.cmpcode)
                            @Html.HiddenFor(model => model.matrawoid)
                            @Html.HiddenFor(model => model.upduser)
                            @Html.HiddenFor(model => model.updtime)
                            @Html.HiddenFor(model => model.createuser)
                            @Html.HiddenFor(model => model.createtime)
                            @Html.Hidden("action")
                            <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
                            @*<form action="#" method="post" role="form">                                
                            </form>*@

                            <div class="box-body">
                                <div class="row">
                                    <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Divisi</label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.divgroupoid, null, new { @class = "form-control select2", @required = "" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              

                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Kode <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.matrawcode, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @maxlength = "30" } })
                                            @Html.ValidationMessageFor(model => model.matrawcode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div><br>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Deskripsi</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.matrawshortdesc, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100", @onchange = "shortdescchange()" } })
                                        </div>
                                    </div>
                                 
                                </div><br>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Satuan</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.matrawunitoid, null, new { @id = "matrawunitoid", @class = "form-control select2" })
                                            @Html.ValidationMessageFor(model => model.matrawunitoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div><br>

                                <div class="row">
                                    <div class="col-md-6" style="display:none">
                                        <label class="col-md-4">Supplier <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <input type="text" id="suppname" class="form-control" required="" value="@ViewBag.suppname" />
                                                <span class="input-group-btn">
                                                    @*<button type="button" id="btnsearchsupp" class="btn btn-flat" data-toggle="modal" data-target="#modal-supp">
                                                        <i class="fa fa-search"></i>
                                                    </button>*@
                                                </span>
                                            </div>
                                            @*@(Html.Hidden("suppoid"))
                                            @Html.ValidationMessageFor(model => model.suppoid, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="display:none">
                                        <label class="col-md-4">Manufacture <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <input type="text" id="manufacturename" class="form-control" required="" value="@ViewBag.manufacturename" />
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchmanufacture" class="btn btn-flat" data-toggle="modal" data-target="#modal-manufacture">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @(Html.Hidden("manufactureoid"))
                                            @*@Html.ValidationMessageFor(model => model.manufactureoid, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div><br>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Stok Aman <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.matrawsafetystock, new { htmlAttributes = new { @class = "form-control money", @type = "text", @required = "" } })
                                            @Html.ValidationMessageFor(model => model.matrawsafetystock, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-4">Rounding Qty <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.matrawlimitqty, new { htmlAttributes = new { @class = "form-control money", @type = "text", @required = "" } })
                                            @Html.ValidationMessageFor(model => model.matrawlimitqty, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div><br>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Lokasi <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.matrawlocoid, null, new { @id = "matrawlocoid", @class = "form-control select2" })
                                            @Html.ValidationMessageFor(model => model.matrawlocoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div><br>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Gambar Lokasi </label>
                                        <div class="col-md-8">
                                            <input type="file" id="matrawpictureloc" alt="Submit" class="m-t-10 flex-c-m sizefull color1 s-text1 trans-0-4 " width="100%" onchange="previewImage1(this);">
                                            @Html.HiddenFor(model => model.matrawpictureloc, new { @class = "form-control", @id = "picturepath" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-4">Gambar Barang </label>
                                        <div class="col-md-8">
                                            <input type="file" id="matrawpicturemat" alt="Submit" class="m-t-10 flex-c-m sizefull color1 s-text1 trans-0-4 " width="100%" onchange="previewImage2(this);">
                                            @Html.HiddenFor(model => model.matrawpicturemat, new { @class = "form-control", @id = "picturepath" })
                                        </div>
                                    </div>
                                </div><br>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-md-8">
                                            @{ 
                                                var src1 = Html.DisplayFor(model => model.matrawpictureloc).ToString();
                                                if (!File.Exists(Server.MapPath(src1)))
                                                {
                                                    src1 = "~/Content/dist/img/preview.png";
                                                }
                                            }
                                            <img src="@Url.Content(src1)" alt="IMG-PRODUCT" id="image-preview1" width="50%" height="50%">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-8">
                                            @{ 
                                                var src2 = Html.DisplayFor(model => model.matrawpicturemat).ToString();
                                                if (!File.Exists(Server.MapPath(src2)))
                                                {
                                                    src2 = "~/Content/dist/img/preview.png";
                                                }
                                            }
                                            <img src="@Url.Content(src2)" alt="IMG-PRODUCT" id="image-preview2" width="50%" height="50%">
                                        </div>
                                    </div>
                                </div><br>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Catatan </label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.matrawnote, htmlAttributes: new { @class = "form-control", @type = "text", @maxlength = "100" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-4">Status</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.activeflag, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                                new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                                              }, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-sm-12">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        // BAGIAN DETAIL
                        <div class="box-header" style="display:none">
                            <h3 class="box-title"><b>Supplier List</b></h3>
                        </div>
                        <div class="box-body" style="display:none">
                            @Html.Hidden("seq")
                            <div class="container-fluid">
                                <div class="pull-left">
                                    <button type="button" class="btn btn-primary" id="btnsearchsupp" data-toggle="modal" data-target="#modal-supp"><b>Add Supplier</b></button>
                                </div>
                            </div>
                        </div>
                        <div class="box-body" style="display:none">
                            <div class="col-md-12" style="overflow-x: auto;">
                                <table id="DataDtl" class="table table-striped" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>alldata</th>
                                            <th>No.</th>
                                            <th>Kode</th>
                                            <th>Supplier</th>
                                            <th>Alamat</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        // AKHIR BAGIAN DETAIL

                        <div class="box-footer">
                            <div class="pull-left">
                                @{
                                    if (ViewBag.action == "Edit")
                                    {
                                        @:Created by @(Html.DisplayFor(model => model.createuser)) On @(Html.DisplayFor(model => model.createtime))
                                        @:<br /> Last Update by @(Html.DisplayFor(model => model.upduser)) On @(Html.DisplayFor(model => model.updtime))
                                    }
                                }
                            </div>
                            <div class="pull-right">
                                <button type="submit" class="btn btn-success" id="btnSave"><b>Save</b></button>
                                <a href="@Url.Action("Index")" type="button" class="btn btn-primary btn-md"><b>Back</b></a>
                            </div>
                        </div>
                    }
                    <!-- /.box-body -->
                </div>
            </div>
        </div>

        @* MODAL UNTUK SUPPLIER *@
        <div class="modal fade" id="modal-supp">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">SUPPLIER</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>other</th>
                                        <th></th>
                                        <th>Kode</th>
                                        <th>Nama</th>
                                        <th>Alamat</th>
                                        <th>Kota</th>
                                        <th>Telp.</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                        <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                    </div>
                </div>
            </div>
        </div>
        @* AKHIR MODAL UNTUK SUPPLIER *@

        @* MODAL UNTUK MANUFACTURE *@
        <div class="modal fade" id="modal-manufacture">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">MANUFACTURE</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="tblModalManufacture" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>Kode</th>
                                        <th></th>
                                        <th>Kode</th>
                                        <th>Nama</th>
                                        <th>Alamat</th>
                                        <th>Kota</th>
                                        <th>Telp.</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                    </div>
                </div>
            </div>
        </div>
        @* AKHIR MODAL UNTUK MANUFACTURE *@
    </section>



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    function previewImage1(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image-preview1')
                .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    function previewImage2(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image-preview2')
                .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    $('#matrawpictureloc').on('change', function (e) {
        var url = "@(Url.Action("UploadFileMat"))";
        var files = e.target.files;

        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: url,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {
                        console.log(data);
                        if (data.result == "Sukses") {
                            $('#matrawpictureloc').val(data.picturepath);
                        }
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });

    $('#matrawpicturemat').on('change', function (e) {
        var url = "@(Url.Action("UploadFileMat"))";
        var files = e.target.files;

        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: url,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {
                        console.log(data);
                        if (data.result == "Sukses") {
                            $('#matrawpicturemat').val(data.picturepath);
                        }
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });

    $(document).ready(function () {
        fillDDLcat2();
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
        });


        //var tblModalDtl = $("#tblModalDtl").DataTable({
        //    "columnDefs": [
        //        {
        //            "targets": [0],
        //            "visible": false,
        //            "searchable": false
        //        },
        //        {
        //            "targets": [1],
        //            "checkboxes": {
        //                "selectRow": false
        //            }
        //        }
        //    ],
        //    "select": {
        //        "style": 'multi'
        //    },
        //    "order": [[2, 'asc']]
        //});

        //SETTING MODAL LIST CUSTOMER
        var table = $('#tblModalSupp').DataTable({
            "paging": true,
            "bFilter": true,
            "ordering": true,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": [1],
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        ////SELECTED FROM MODAL CUSTOMER
        //var tblModalSupp = $('#tblModalSupp').DataTable();

        //tblModalSupp.on('click', '#select', function () {
        //    $tr = $(this).closest('tr');
        //    if ($($tr).hasClass('child')) {
        //        $tr = $tr.prev('.parent');
        //    }

        //    var data = tblModalSupp.row($tr).data();
        //    //alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
        //    var alldata = data[0];

        //    $("#suppoid").val(alldata.suppoid);
        //    $("#suppname").val(alldata.suppname);

        //    $('#modal-supp').modal('hide');
        //    $("#suppname").prop("readonly", true);
        //});

        //SETTING MODAL LIST MANUFATURE
        var table = $('#tblModalManufacture').DataTable({
            "paging": true,
            "bFilter": true,
            "ordering": true,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        //SELECTED FROM MODAL MANUFATURE
        var tblModalManufacture = $('#tblModalManufacture').DataTable();

        tblModalManufacture.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }

            var data = tblModalManufacture.row($tr).data();
            //alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
            var alldata = data[0];

            $("#manufactureoid").val(alldata.manufactureoid);
            $("#manufacturename").val(alldata.manufacturename);

            $('#modal-manufacture').modal('hide');
            $("#manufacturename").prop("readonly", true);
        });

    })

    function FillDetailData() {
        var url = "@(Url.Action("FillSuppData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.suppseq,
                    val.suppcode,
                    val.suppname,
                    val.suppaddr
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        });
    }

    @*$("#btnAddToListSupp").click(function () {
        var table = $('#tblModalDtl').DataTable();
        var cmp = $("#cmpcode").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSuppData"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        i++,
                        val.suppcode,
                        val.suppname,
                        val.picname,
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });*@

    function AddToDetail() {
        var isValid = true;
        var table = $('#tblModalSupp').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        //var dataCheck = rowsel.rows().data();
        $.each(rowsel, function (key, val) {
            if (isValid) {
                var data = table.row(val - 1).data();
                //console.log(data);
                var alldata = JSON.parse(data[0]);

                if (!IsOnDtl(alldata.suppoid)) {
                    var id = tbldtl.rows().data().length + 1;
                    var obj = {
                        //matrawdtlseq: id,
                        suppoid: alldata.suppoid,
                        suppcode: alldata.suppcode,
                        suppname: alldata.suppname,
                        suppaddr: alldata.suppaddr,
                        picname: alldata.picname,
                    };
                    tbldtl.row.add([
                        JSON.stringify(obj),
                        id,
                        alldata.suppcode,
                        alldata.suppname,
                        alldata.suppaddr,
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                }
            }
        })
        SetDataDtl();
    }

    function IsOnDtl(suppoid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (suppoid == alldata.suppoid) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var obj = {
                suppoid: alldata.suppoid,
                suppcode: alldata.suppcode,
                suppname: alldata.suppname,
                picname: alldata.picname,
                suppaddr: alldata.suppaddr
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetsuppData"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    $("#btnSave").click(function () {
        SetDataDtl();
    });

    $('#cat1oid').on('change', function () {
        //alert("aaaaa");
        fillDDLCat2();
        longdesc();
    });

    function cat1change() {
        //alert("aaaaa");
        fillDDLcat2();
        longdesc();
    }

    $('#cat2oid').on('change', function () {
        //alert("aaaaa");
        fillDDLCat3();
        longdesc();
    });
    $('#shortdescchange').on('change', function () {

        longdesc();
    });

    function shortdescchange() {
        longdesc();
    }

    function cat2change() {
        //alert("aaaaa");
        fillDDLcat3();
        longdesc();
    }

    $('#cat3oid').on('change', function () {
        //alert("aaaaa");
        fillDDLCat4();
        longdesc();
    });
    function cat3change() {
        //alert("aaaaa");
        fillDDLcat4();
        longdesc();
    }

    //isi DDL cat2
    function fillDDLcat2() {
        var cat1 = $("#cat1oid option:selected").val();
        if (cat1 == "" || cat1 == null) {
            cat1=0
        }
            var cat2oid = $("#cat2oid");
            var cat2oid_sel = $("#cat2oid").val();
            cat2oid.html("<option value=''></option>").show();
            $.ajax({
                url: "@(Url.Action("Getcat2"))",
                data: { cat1: cat1},
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.cat2oid + "\'>" + val.cat2shortdesc + "</option>";
                        if (val.cat2oid == cat2oid_sel) {
                            isExist = true;
                        }
                    });
                    cat2oid.html(markup).show();
                    if (isExist == true) {
                        cat2oid.val(cat2oid_sel);
                    }
                    cat2oid.trigger('change');
                    fillDDLcat3();
                } else {
                    cat2oid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    }

    //isi DDL cat3
    function fillDDLcat3() {
        var cat1 = $("#cat1oid option:selected").val();
        var cat2 = $("#cat2oid option:selected").val();
        if (cat1 == "" || cat1 == null) {
            cat1 = 0
        }
        if (cat2 == "" || cat2 == null) {
            cat2 = 0
        }
        var cat3oid = $("#cat3oid");
        var cat3oid_sel = $("#cat3oid").val();
        cat3oid.html("<option value=''></option>").show();
            $.ajax({
                url: "@(Url.Action("Getcat3"))",
                data: { cat1: cat1,cat2:cat2},
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.cat3oid + "\'>" + val.cat3shortdesc + "</option>";
                        if (val.cat3oid == cat3oid_sel) {
                            isExist = true;
                        }
                    });
                    cat3oid.html(markup).show();
                    if (isExist == true) {
                        cat3oid.val(cat3oid_sel);
                    }
                    cat3oid.trigger('change');
                    fillDDLcat4();
                } else {
                    cat2oid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    }
    //isi DDL cat4
    function fillDDLcat4() {
        var cat1 = $("#cat1oid option:selected").val();
         var cat2 = $("#cat2oid option:selected").val();
         var cat3 = $("#cat3oid option:selected").val();
         if (cat1 == "" || cat1 == null) {
             cat1 = 0
         }
         if (cat2 == "" || cat2 == null) {
             cat2 = 0
         }
         if (cat3 == "" || cat3 == null) {
             cat3 = 0
         }
         var cat4oid = $("#cat4oid");
         var cat4oid_sel = $("#cat4oid").val();
         cat4oid.html("<option value=''></option>").show();
            $.ajax({
                url: "@(Url.Action("Getcat4"))",
                data: { cat1: cat1,cat2:cat2,cat3:cat3},
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.cat4oid + "\'>" + val.cat4shortdesc + "</option>";
                        if (val.cat4oid == cat4oid_sel) {
                            isExist = true;
                        }
                    });
                    cat4oid.html(markup).show();
                    if (isExist == true) {
                        cat4oid.val(cat4oid_sel);
                    }
                    cat4oid.trigger('change');
                } else {
                    cat4oid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    }

    function longdesc() {
        var a = $('#cat1oid option:selected').text();
        var b = $('#cat2oid option:selected').text();
        var c = $('#cat3oid option:selected').text();
        var d = "(" + $('#cat4oid option:selected').text() + ")";
        var e = $('#matrawshortdesc').val();

        $('#matrawlongdesc').val(a + ' ' + b + ' ' + c + ' ' + d + ' ' + e  );
    }


    $("#btnsearchsupp").click(function () {
        var table = $('#tblModalSupp').DataTable();
        table.column(1).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSupp"))",
            data: { cmp: '@CompnyCode' },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        ++i,
                        val.suppcode,
                        val.suppname,
                        val.suppaddr, //moment(jsDate(val.requiredate)).format('MM/DD/YYYY'),
                        val.CityDesc,
                        val.suppphone1
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnsearchmanufacture").click(function () {
        var table = $('#tblModalManufacture').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetManufacture"))",
            data: { },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        //JSON.stringify(val),
                        val,
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.manufacturecode,
                        val.manufacturename,
                        val.manufactureaddr, //moment(jsDate(val.requiredate)).format('MM/DD/YYYY'),
                        val.citydesc,
                        val.manufacturephone1
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    function clickDelete() {
        var oid = $("#cat1oid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Apakah Anda yakin untuk menghapus data ini?',
            text: "Data yang sudah dihapus tidak akan bisa dikembalikan!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Ya, hapus data ini!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                    success: function (data) {
                        if (data.result == 'sukses') {
                            Swal(
                              'Terhapus!',
                              'Data sudah dihapus.',
                              'success'
                            )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                              'Gagal menghapus data!',
                              data.msg,
                              'warning'
                            )
                        }

                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });

            }
        })
    }
</script>