﻿@model IEnumerable<RSA.Controllers.Master.MatRawWasteController.matraw>

@{
    ViewBag.Title = "Bahan Baku";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Bahan Baku
    </h1>
    <!--                     <ol class="breadcrumb">
                            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                            <li class="active">Dashboard</li>
                        </ol> -->
</section><!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="container-fluid row">
                        <a class="btn btn-success" href="Form">
                            <i class="fa fa-plus"></i> Add
                        </a>
                    </div><br>
                </div>
                <!-- <div class="box-header">
                    <h3 class="box-title">To Do List</h3>
                </div> -->
                <!-- /.box-header -->
               
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th>No Draft</th>
                                        <th>Code</th>
                                      
                                        <th>Deskripsi</th>
                                        <th>Unit</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int a = 0;
                                        foreach (var i in Model)
                                        {
                                            a++;
                                            <tr>
                                                <td>
                                                    <a href="Form/@Html.DisplayFor(m => i.matrawoid)?cmp=@Html.DisplayFor(m => i.cmpcode)" class="text-primary">@Html.DisplayFor(m => i.matrawoid)</a>
                                                </td>
                                                <td>@Html.DisplayFor(m => i.matrawcode)</td>
                                                
                                                <td>@Html.DisplayFor(m => i.matrawdesc)</td>
                                                <td>@Html.DisplayFor(m => i.matrawunit)</td>
                                                <td>@Html.DisplayFor(m => i.activeflag)</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
