﻿@model RSA.Models.DB.QL_mstmatraw

@{
    ViewBag.Title = "Bahan Baku";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    string CompnyCode = System.Configuration.ConfigurationManager.AppSettings["CompnyCode"];
}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Bahan Baku
        </h1>

    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary form-horizontal">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                                    <!-- /.box-header -->
                        <div class="box-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.cmpcode)
                            @Html.HiddenFor(model => model.matrawoid)
                            @Html.HiddenFor(model => model.upduser)
                            @Html.HiddenFor(model => model.updtime)
                            @Html.HiddenFor(model => model.createuser)
                            @Html.HiddenFor(model => model.createtime)
                            @Html.HiddenFor(model => model.berat1)
                            @Html.HiddenFor(model => model.berat2)
                            @Html.HiddenFor(model => model.berat4)
                            @Html.HiddenFor(model => model.berat3)
                            @Html.HiddenFor(model => model.berat5)
                            @Html.Hidden("action")
                            <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
                            @*<form action="#" method="post" role="form">                                
                            </form>*@

                            <div class="box-body">
                                <div class="row">
                                    <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Divisi</label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.divgroupoid, null, new { @class = "form-control select2", @required = "" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              

                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Kode <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.matrawcode, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @maxlength = "30" } })
                                            @Html.ValidationMessageFor(model => model.matrawcode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div><br>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Deskripsi</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.matrawshortdesc, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                        </div>
                                    </div>
                                  
                                </div><br>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Satuan</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.matrawunitoid, null, new { @id = "matrawunitoid", @class = "form-control select2" })
                                            @Html.ValidationMessageFor(model => model.matrawunitoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div><br>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4" style="padding-top: 10px;">
                                            <label for="ppno">Tipe Wall</label>
                                        </div>
                                        <div class="col-lg-4">
                                            @Html.DropDownListFor(model => model.tipewall, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="SW", Value="SW" },
                                                new SelectListItem { Text="DW", Value="DW" }
                                              }, new { @class = "form-control select", @required = "", @onchange = "tipewallchange()" })
                                            @Html.ValidationMessageFor(model => model.tipewall, "", new { @id = "tipewall", @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-4" style="padding-top: 10px;">
                                            <label for="ppno">Tipe Flute</label>
                                        </div>
                                        <div class="col-lg-4">
                                            @Html.DropDownListFor(model => model.fluteoid, null, new { @id = "fluteoid", @class = "form-control select2" })
                                            @Html.ValidationMessageFor(model => model.fluteoid, "", new { @id = "fluteoid", @class = "text-danger" })
                                        </div>
                                    </div>
                                </div><br>



                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-2" style="padding-top: 10px;">
                                            <label>Substance<b style="color: red">*</b></label>
                                        </div>
                                        <div class="col-lg-6">
                                            <div style="position: relative; overflow-x: auto;">
                                                <table id="datatable" class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <td id="sub1td">
                                                                @Html.DropDownListFor(model => model.sub1, null, new { @id = "sub1", @class = "form-control select2", @onchange = "sub1change()" })
                                                                @Html.ValidationMessageFor(model => model.sub1, "", new { @id = "sub1", @class = "text-danger" })
                                                            </td>
                                                            <td id="sub2td">
                                                                @Html.DropDownListFor(model => model.sub2, null, new { @id = "sub2", @class = "form-control select2", @onchange = "sub2change()" })
                                                                @Html.ValidationMessageFor(model => model.sub2, "", new { @id = "sub2", @class = "text-danger" })
                                                            </td>
                                                            <td id="sub3td">
                                                                @Html.DropDownListFor(model => model.sub3, null, new { @id = "sub3", @class = "form-control select2", @onchange = "sub3change()" })
                                                                @Html.ValidationMessageFor(model => model.sub3, "", new { @id = "sub3", @class = "text-danger" })
                                                            </td>
                                                            <td id="sub4td">
                                                                @Html.DropDownListFor(model => model.sub4, null, new { @id = "sub4", @class = "form-control select2", @onchange = "sub4change()" })
                                                                @Html.ValidationMessageFor(model => model.sub4, "", new { @id = "sub4", @class = "text-danger" })
                                                            </td>
                                                            <td id="sub5td">
                                                                @Html.DropDownListFor(model => model.sub5, null, new { @id = "sub5", @class = "form-control select2", @onchange = "sub5change()" })
                                                                @Html.ValidationMessageFor(model => model.sub5, "", new { @id = "sub5", @class = "text-danger" })
                                                            </td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>@Html.Editor("sub1d", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })</td>
                                                            <td>@Html.Editor("sub2d", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })</td>
                                                            <td>@Html.Editor("sub3d", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })</td>
                                                            <td id="sub4dtd">@Html.Editor("sub4d", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })</td>
                                                            <td id="sub5dtd">@Html.Editor("sub5d", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4" style="padding-top: 10px;">
                                            <label>Panjang<b style="color: red">*</b></label>
                                        </div>
                                        <div class="col-lg-4">
                                            @Html.EditorFor(model => model.panjangsheet, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100" } })
                                            @Html.ValidationMessageFor(model => model.panjangsheet, "", new { @id = "panjangsheet", @class = "text-danger" })
                                        </div>
                                        <b style="color: red">mm</b>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-4" style="padding-top: 10px;">
                                            <label>Lebar<b style="color: red">*</b></label>
                                        </div>
                                        <div class="col-lg-4">
                                            @Html.EditorFor(model => model.lebarsheet, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100" } })
                                            @Html.ValidationMessageFor(model => model.lebarsheet, "", new { @id = "lebarsheet", @class = "text-danger" })
                                        </div>
                                        <b style="color: red">mm</b>
                                    </div>
                                </div><br>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <button type="button" class="btn .btn-warning" id="proces2"><b>Generate Total</b></button>
                                    </div>
                                </div><br>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4" style="padding-top: 10px;">
                                            <label>Luas /Pcs</label>
                                        </div>
                                        <div class="col-lg-4">
                                            @Html.EditorFor(model => model.luassheet, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                            @Html.ValidationMessageFor(model => model.luassheet, "", new { @id = "luassheet", @class = "text-danger" })
                                        </div>
                                        <b style="color: red">m2</b>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-4" style="padding-top: 10px;">
                                            <label>Berat /Pcs</label>
                                        </div>
                                        <div class="col-lg-4">
                                            @Html.EditorFor(model => model.beratpcs, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                            @Html.ValidationMessageFor(model => model.beratpcs, "", new { @id = "beratpcs", @class = "text-danger" })
                                        </div>
                                        <b style="color: red">kg</b>
                                    </div>
                                </div><br>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-8">
                                            <div class="col-lg-4" style="padding-top: 10px;">
                                                <label>Mesin / Proses 1</label>
                                            </div>
                                            <div class="col-lg-8">
                                                @Html.DropDownListFor(model => model.machine1, null, new { @id = "machine1", @class = "form-control select2" })
                                                @Html.ValidationMessageFor(model => model.machine1, "", new { @id = "machine1", @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="col-lg-4" style="padding-top: 10px;">
                                                <label>Mesin / Proses 2</label>
                                            </div>
                                            <div class="col-lg-8">
                                                @Html.DropDownListFor(model => model.machine2, null, new { @id = "machine2", @class = "form-control select2" })
                                                @Html.ValidationMessageFor(model => model.machine2, "", new { @id = "machine2", @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="col-lg-4" style="padding-top: 10px;">
                                                <label>Mesin / Proses 3</label>
                                            </div>
                                            <div class="col-lg-8">
                                                @Html.DropDownListFor(model => model.machine3, null, new { @id = "machine3", @class = "form-control select2" })
                                                @Html.ValidationMessageFor(model => model.machine3, "", new { @id = "machine3", @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="col-lg-4" style="padding-top: 10px;">
                                                <label>Mesin / Proses 4</label>
                                            </div>
                                            <div class="col-lg-8">
                                                @Html.DropDownListFor(model => model.machine4, null, new { @id = "machine4", @class = "form-control select2" })
                                                @Html.ValidationMessageFor(model => model.machine4, "", new { @id = "machine4", @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <br>

                                <div class="row">
                                    <div class="col-md-6" style="display:none">
                                        <label class="col-md-4">Supplier <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <input type="text" id="suppname" class="form-control" required="" value="@ViewBag.suppname" />
                                                <span class="input-group-btn">
                                                    @*<button type="button" id="btnsearchsupp" class="btn btn-flat" data-toggle="modal" data-target="#modal-supp">
                                                        <i class="fa fa-search"></i>
                                                    </button>*@
                                                </span>
                                            </div>
                                            @*@(Html.Hidden("suppoid"))
                                            @Html.ValidationMessageFor(model => model.suppoid, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="display:none">
                                        <label class="col-md-4">Manufacture <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <input type="text" id="manufacturename" class="form-control" required="" value="@ViewBag.manufacturename" />
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchmanufacture" class="btn btn-flat" data-toggle="modal" data-target="#modal-manufacture">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @(Html.Hidden("manufactureoid"))
                                            @*@Html.ValidationMessageFor(model => model.manufactureoid, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div><br>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Stok Aman <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.matrawsafetystock, new { htmlAttributes = new { @class = "form-control money", @type = "text", @required = "" } })
                                            @Html.ValidationMessageFor(model => model.matrawsafetystock, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-4">Rounding Qty <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.matrawlimitqty, new { htmlAttributes = new { @class = "form-control money", @type = "text", @required = "" } })
                                            @Html.ValidationMessageFor(model => model.matrawlimitqty, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div><br>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Lokasi <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.matrawlocoid, null, new { @id = "matrawlocoid", @class = "form-control select2" })
                                            @Html.ValidationMessageFor(model => model.matrawlocoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div><br>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Gambar Lokasi </label>
                                        <div class="col-md-8">
                                            <input type="file" id="matrawpictureloc" alt="Submit" class="m-t-10 flex-c-m sizefull color1 s-text1 trans-0-4 " width="100%" onchange="previewImage1(this);">
                                            @Html.HiddenFor(model => model.matrawpictureloc, new { @class = "form-control", @id = "picturepath" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-4">Gambar Barang </label>
                                        <div class="col-md-8">
                                            <input type="file" id="matrawpicturemat" alt="Submit" class="m-t-10 flex-c-m sizefull color1 s-text1 trans-0-4 " width="100%" onchange="previewImage2(this);">
                                            @Html.HiddenFor(model => model.matrawpicturemat, new { @class = "form-control", @id = "picturepath" })
                                        </div>
                                    </div>
                                </div><br>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-md-8">
                                            @{ 
                                                var src1 = Html.DisplayFor(model => model.matrawpictureloc).ToString();
                                                if (!File.Exists(Server.MapPath(src1)))
                                                {
                                                    src1 = "~/Content/dist/img/preview.png";
                                                }
                                            }
                                            <img src="@Url.Content(src1)" alt="IMG-PRODUCT" id="image-preview1" width="50%" height="50%">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-8">
                                            @{ 
                                                var src2 = Html.DisplayFor(model => model.matrawpicturemat).ToString();
                                                if (!File.Exists(Server.MapPath(src2)))
                                                {
                                                    src2 = "~/Content/dist/img/preview.png";
                                                }
                                            }
                                            <img src="@Url.Content(src2)" alt="IMG-PRODUCT" id="image-preview2" width="50%" height="50%">
                                        </div>
                                    </div>
                                </div><br>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Catatan </label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.matrawnote, htmlAttributes: new { @class = "form-control", @type = "text", @maxlength = "100" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-4">Status</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.activeflag, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                                new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                                              }, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-sm-12">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        // BAGIAN DETAIL
                        <div class="box-header" style="display:none">
                            <h3 class="box-title"><b>Supplier List</b></h3>
                        </div>
                        <div class="box-body" style="display:none">
                            @Html.Hidden("seq")
                            <div class="container-fluid">
                                <div class="pull-left">
                                    <button type="button" class="btn btn-primary" id="btnsearchsupp" data-toggle="modal" data-target="#modal-supp"><b>Add Supplier</b></button>
                                </div>
                            </div>
                        </div>
                        <div class="box-body" style="display:none">
                            <div class="col-md-12" style="overflow-x: auto;">
                                <table id="DataDtl" class="table table-striped" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>alldata</th>
                                            <th>No.</th>
                                            <th>Kode</th>
                                            <th>Supplier</th>
                                            <th>Alamat</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        // AKHIR BAGIAN DETAIL

                        <div class="box-footer">
                            <div class="pull-left">
                                @{
                                    if (ViewBag.action == "Edit")
                                    {
                                        @:Created by @(Html.DisplayFor(model => model.createuser)) On @(Html.DisplayFor(model => model.createtime))
                                        @:<br /> Last Update by @(Html.DisplayFor(model => model.upduser)) On @(Html.DisplayFor(model => model.updtime))
                                    }
                                }
                            </div>
                            <div class="pull-right">
                                <button type="submit" class="btn btn-success" id="btnSave"><b>Save</b></button>
                                <a href="@Url.Action("Index")" type="button" class="btn btn-primary btn-md"><b>Back</b></a>
                            </div>
                        </div>
                    }
                    <!-- /.box-body -->
                </div>
            </div>
        </div>

        @* MODAL UNTUK SUPPLIER *@
        <div class="modal fade" id="modal-supp">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">SUPPLIER</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>other</th>
                                        <th></th>
                                        <th>Kode</th>
                                        <th>Nama</th>
                                        <th>Alamat</th>
                                        <th>Kota</th>
                                        <th>Telp.</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                        <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                    </div>
                </div>
            </div>
        </div>
        @* AKHIR MODAL UNTUK SUPPLIER *@

        @* MODAL UNTUK MANUFACTURE *@
        <div class="modal fade" id="modal-manufacture">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">MANUFACTURE</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="tblModalManufacture" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>Kode</th>
                                        <th></th>
                                        <th>Kode</th>
                                        <th>Nama</th>
                                        <th>Alamat</th>
                                        <th>Kota</th>
                                        <th>Telp.</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                    </div>
                </div>
            </div>
        </div>
        @* AKHIR MODAL UNTUK MANUFACTURE *@
    </section>



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    function previewImage1(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image-preview1')
                .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    function previewImage2(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image-preview2')
                .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    $('#matrawpictureloc').on('change', function (e) {
        var url = "@(Url.Action("UploadFileMat"))";
        var files = e.target.files;

        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: url,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {
                        console.log(data);
                        if (data.result == "Sukses") {
                            $('#matrawpictureloc').val(data.picturepath);
                        }
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });

    $('#matrawpicturemat').on('change', function (e) {
        var url = "@(Url.Action("UploadFileMat"))";
        var files = e.target.files;

        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: url,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {
                        console.log(data);
                        if (data.result == "Sukses") {
                            $('#matrawpicturemat').val(data.picturepath);
                        }
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });

    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
        });


        //var tblModalDtl = $("#tblModalDtl").DataTable({
        //    "columnDefs": [
        //        {
        //            "targets": [0],
        //            "visible": false,
        //            "searchable": false
        //        },
        //        {
        //            "targets": [1],
        //            "checkboxes": {
        //                "selectRow": false
        //            }
        //        }
        //    ],
        //    "select": {
        //        "style": 'multi'
        //    },
        //    "order": [[2, 'asc']]
        //});

        //SETTING MODAL LIST CUSTOMER
        var table = $('#tblModalSupp').DataTable({
            "paging": true,
            "bFilter": true,
            "ordering": true,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": [1],
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        ////SELECTED FROM MODAL CUSTOMER
        //var tblModalSupp = $('#tblModalSupp').DataTable();

        //tblModalSupp.on('click', '#select', function () {
        //    $tr = $(this).closest('tr');
        //    if ($($tr).hasClass('child')) {
        //        $tr = $tr.prev('.parent');
        //    }

        //    var data = tblModalSupp.row($tr).data();
        //    //alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
        //    var alldata = data[0];

        //    $("#suppoid").val(alldata.suppoid);
        //    $("#suppname").val(alldata.suppname);

        //    $('#modal-supp').modal('hide');
        //    $("#suppname").prop("readonly", true);
        //});

        //SETTING MODAL LIST MANUFATURE
        var table = $('#tblModalManufacture').DataTable({
            "paging": true,
            "bFilter": true,
            "ordering": true,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var action = $('#action').val();
        if (action == "New Data") {
            $('#out1').val(1);
            $('#out2').val(1);
        }
        var a = $('#tipewall').val();
        if (a == "SW") {
            //document.getElementById("sub4").disabled = true;
            //document.getElementById("sub5").disabled = true;
            document.getElementById("sub4td").style.display = "none";
            document.getElementById("sub5td").style.display = "none";
            document.getElementById("sub4dtd").style.display = "none";
            document.getElementById("sub5dtd").style.display = "none";
        }
        else {
            document.getElementById("sub4td").style.display = "";
            document.getElementById("sub5td").style.display = "";
            document.getElementById("sub4dtd").style.display = "";
            document.getElementById("sub5dtd").style.display = "";
            //document.getElementById("sub4").disabled = false;
            //document.getElementById("sub5").disabled = false;
        }

        sub1change();
        sub2change();
        sub3change();
        sub4change();
        sub5change();


    })

    function FillDetailData() {
        var url = "@(Url.Action("FillSuppData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.suppseq,
                    val.suppcode,
                    val.suppname,
                    val.suppaddr
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        });
    }

    @*$("#btnAddToListSupp").click(function () {
        var table = $('#tblModalDtl').DataTable();
        var cmp = $("#cmpcode").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSuppData"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        i++,
                        val.suppcode,
                        val.suppname,
                        val.picname,
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });*@

    function tipewallchange() {
        var a = $('#tipewall').val();
        if (a == "SW") {
            //document.getElementById("sub4").disabled = true;
            //document.getElementById("sub5").disabled = true;
            document.getElementById("sub4td").style.display = "none";
            document.getElementById("sub5td").style.display = "none";
            document.getElementById("sub4dtd").style.display = "none";
            document.getElementById("sub5dtd").style.display = "none";
        }
        else {
            document.getElementById("sub4td").style.display = "";
            document.getElementById("sub5td").style.display = "";
            document.getElementById("sub4dtd").style.display = "";
            document.getElementById("sub5dtd").style.display = "";
            //document.getElementById("sub4").disabled = false;
            //document.getElementById("sub5").disabled = false;
        }
        getflute();
    }

    function getflute() {
        var fl = $('#tipewall').val();
        var ddl = $("#fluteoid");
        if (fl == "" || fl == 0) {
            ddl.html("<option value=''> Pilih Flute  dahulu </option>").show();
        } else {
            ddl.html("<option value=''> Please wait...</option>").show();
            $.ajax({
                url: "@(Url.Action("Getflute"))",
                data: { fl: fl },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = ""//"<option value=0>Pilih Province</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=\'" + data[x].Value + "\'>" + data[x].Text + "</option>";
                }
                ddl.html(markup).show();

            },
            error: function (reponse) {
                alert("error fillDDLFlute : " + reponse);
            }
        });
    }
    }


    function sub1change() {
        getsub1();
    }
    function sub2change() {
        getsub2();
    }
    function sub3change() {
        getsub3();
    }
    function sub4change() {
        getsub4();
    }
    function sub5change() {
        getsub5();
    }
    function getsub1() {
        var sub1 = $("#sub1").val();
        $.ajax({
            url: "@(Url.Action("Getsub1"))",
            data: { sub1: sub1 },
        cache: false,
        type: "POST",
        success: function (data) {
            $('#sub1d').val(data);
        },
        error: function (reponse) {
            alert("error getsub1 : " + reponse);
        }
    });
    }
    function getsub2() {
        var sub2 = $("#sub2").val();
        $.ajax({
            url: "@(Url.Action("Getsub2"))",
            data: { sub2: sub2 },
        cache: false,
        type: "POST",
        success: function (data) {
            $('#sub2d').val(data);
        },
        error: function (reponse) {
            alert("error getsub2 : " + reponse);
        }
    });
    }
    function getsub3() {
        var sub3 = $("#sub3").val();
        $.ajax({
            url: "@(Url.Action("Getsub3"))",
            data: { sub3: sub3 },
        cache: false,
        type: "POST",
        success: function (data) {
            $('#sub3d').val(data);
        },
        error: function (reponse) {
            alert("error getsub3 : " + reponse);
        }
    });
    }
    function getsub4() {
        var sub4 = $("#sub4").val();
        $.ajax({
            url: "@(Url.Action("Getsub4"))",
            data: { sub4: sub4 },
        cache: false,
        type: "POST",
        success: function (data) {
            $('#sub4d').val(data);
        },
        error: function (reponse) {
            alert("error getsub4 : " + reponse);
        }
    });
    }
    function getsub5() {
        var sub5 = $("#sub5").val();
        $.ajax({
            url: "@(Url.Action("Getsub5"))",
            data: { sub5: sub5 },
        cache: false,
        type: "POST",
        success: function (data) {
            $('#sub5d').val(data);
        },
        error: function (reponse) {
            alert("error getsub5 : " + reponse);
        }
    });
    }


    function hitungluas()
    {
        var a = $('#panjangsheet').val();
        var b = $('#lebarsheet').val();
        if (a == null || a == "") {
            a = 0;
        }
        if (b == null || b == "")
        { b = 0; }
        var tot = (a * b)/1000000;
        $('#luassheet').val(tot);
    }

    //hitung berat
    function getw1() {
        var w1 = $("#sub1d").val();
        var array = w1.split(" ", 2);
        if (array[1]=="" | array[1]==null)
        {
            array[1]=0;
        }
        var g1 = Number.parseFloat(array[1]);

        var w2 = $("#sub2d").val();
        var array2 = w2.split(" ", 2);
        if (array2[1] == "" | array2[1] == null) {
            array2[1] = 0;
        }
        var g2 = Number.parseFloat(array2[1]);

        var w3 = $("#sub3d").val();
        var array3= w3.split(" ", 2);
        if (array3[1] == "" | array3[1] == null) {
            array3[1] = 0;
        }
        var g3 = Number.parseFloat(array3[1]);

        var tw = $('#tipewall').val();
        var g4 = 0;
        var g5 = 0;
        if (tw == "DW") {
            var w4 = $("#sub4d").val();
            var array4 = w4.split(" ", 2);
            if (array4[1] == "" | array4[1] == null) {
                array4[1] = 0;
            }
            g4 = Number.parseFloat(array4[1]);

            var w5 = $("#sub5d").val();
            var array5 = w5.split(" ", 2);
            if (array5[1] == "" | array5[1] == null) {
                array5[1] = 0;
            }
            g5 = Number.parseFloat(array5[1]);

        }
        var p = $("#panjangsheet").val();
        if (p == null || p == "") {
            p = 0;
        }
        var l = $("#lebarsheet").val();
        if (l == null || l == "") {
            l = 0;
        }
        var boxoid = 1;
        var fluteoid = $("#fluteoid").val();
        $.ajax({
            url: "@(Url.Action("Getw1"))",
            data: { boxoid: boxoid, fluteoid: fluteoid, g1: g1, g2: g2, g3: g3, g4: g4, g5: g5, p: p, l: l },
        cache: false,
        type: "POST",
        success: function (data) {
            $('#beratpcs').val(data);
        },
        error: function (reponse) {
            alert("error GetBeratsheet : " + reponse);
        }
    });

    }

    function AddToDetail() {
        var isValid = true;
        var table = $('#tblModalSupp').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        //var dataCheck = rowsel.rows().data();
        $.each(rowsel, function (key, val) {
            if (isValid) {
                var data = table.row(val - 1).data();
                //console.log(data);
                var alldata = JSON.parse(data[0]);

                if (!IsOnDtl(alldata.suppoid)) {
                    var id = tbldtl.rows().data().length + 1;
                    var obj = {
                        //matrawdtlseq: id,
                        suppoid: alldata.suppoid,
                        suppcode: alldata.suppcode,
                        suppname: alldata.suppname,
                        suppaddr: alldata.suppaddr,
                        picname: alldata.picname,
                    };
                    tbldtl.row.add([
                        JSON.stringify(obj),
                        id,
                        alldata.suppcode,
                        alldata.suppname,
                        alldata.suppaddr,
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                }
            }
        })
        SetDataDtl();
    }

    function IsOnDtl(suppoid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (suppoid == alldata.suppoid) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var obj = {
                suppoid: alldata.suppoid,
                suppcode: alldata.suppcode,
                suppname: alldata.suppname,
                picname: alldata.picname,
                suppaddr: alldata.suppaddr
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetsuppData"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    $("#btnSave").click(function () {
        SetDataDtl();
    });




    //function longdesc() {
    //    var a = $('#cat1oid option:selected').text();
    //    var b = $('#cat2oid option:selected').text();
    //    var c = $('#cat3oid option:selected').text();
    //    var d = "(" + $('#cat4oid option:selected').text() + ")";
    //    var e = $('#matrawshortdesc').val();

    //    $('#matrawlongdesc').val(a + ' ' + b + ' ' + c + ' ' + d + ' ' + e  );
    //}


    $("#btnsearchsupp").click(function () {
        var table = $('#tblModalSupp').DataTable();
        table.column(1).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSupp"))",
            data: { cmp: '@CompnyCode' },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        ++i,
                        val.suppcode,
                        val.suppname,
                        val.suppaddr, //moment(jsDate(val.requiredate)).format('MM/DD/YYYY'),
                        val.CityDesc,
                        val.suppphone1
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnsearchmanufacture").click(function () {
        var table = $('#tblModalManufacture').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetManufacture"))",
            data: { },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        //JSON.stringify(val),
                        val,
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.manufacturecode,
                        val.manufacturename,
                        val.manufactureaddr, //moment(jsDate(val.requiredate)).format('MM/DD/YYYY'),
                        val.citydesc,
                        val.manufacturephone1
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    function clickDelete() {
        var oid = $("#cat1oid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Apakah Anda yakin untuk menghapus data ini?',
            text: "Data yang sudah dihapus tidak akan bisa dikembalikan!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Ya, hapus data ini!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                    success: function (data) {
                        if (data.result == 'sukses') {
                            Swal(
                              'Terhapus!',
                              'Data sudah dihapus.',
                              'success'
                            )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                              'Gagal menghapus data!',
                              data.msg,
                              'warning'
                            )
                        }

                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });

            }
        })
    }
    function getwlap() {
        var w1 = $("#sub1d").val();
        var array = w1.split(" ", 2);
        if (array[1]=="" | array[1]==null)
        {
            array[1]=0;
        }
        var g1 = Number.parseFloat(array[1]);

        var w2 = $("#sub2d").val();
        var array2 = w2.split(" ", 2);
        if (array2[1] == "" | array2[1] == null) {
            array2[1] = 0;
        }
        var g2 = Number.parseFloat(array2[1]);

        var w3 = $("#sub3d").val();
        var array3= w3.split(" ", 2);
        if (array3[1] == "" | array3[1] == null) {
            array3[1] = 0;
        }
        var g3 = Number.parseFloat(array3[1]);

        var tw = $('#tipewall').val();
        var g4 = 0;
        var g5 = 0;
        if (tw == "DW") {
            var w4 = $("#sub4d").val();
            var array4 = w4.split(" ", 2);
            if (array4[1] == "" | array4[1] == null) {
                array4[1] = 0;
            }
            g4 = Number.parseFloat(array4[1]);

            var w5 = $("#sub5d").val();
            var array5 = w5.split(" ", 2);
            if (array5[1] == "" | array5[1] == null) {
                array5[1] = 0;
            }
            g5 = Number.parseFloat(array5[1]);

        }
        var p = $("#panjangsheet").val();
        if (p == null || p == "") {
            p = 0;
        }
        var l = $("#lebarsheet").val();
        if (l == null || l == "") {
            l = 0;
        }
        var boxoid = 1;
        var fluteoid = $("#fluteoid").val();
        $.ajax({
            url: "@(Url.Action("getwlap"))",
            data: { boxoid: boxoid, fluteoid: fluteoid, g1: g1, g2: g2, g3: g3, g4: g4, g5: g5, p: p, l: l },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 1;
            $.each(data, function (key, val) {
                $('#berat1').val(val.berat1);
                $('#berat2').val(val.berat2);
                $('#berat3').val(val.berat3);
                $('#berat4').val(val.berat4);
                $('#berat5').val(val.berat5);
            });
        },
        error: function (reponse) {
            alert("error GetBeratLapisan : " + reponse);
        }
    });

    }
    $("#proces2").click(function () {
        hitungluas();
        getw1();
        getwlap();
    });
</script>