﻿@{
    ViewBag.Title = "A/R Sheet Report";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>A/R Sheet Report</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm("PrintReport", "ARSheetReport"))
                {
                    <div class="box-body">
                        <div class="container-fluid">
                            @Html.Hidden("FormType")
                            @Html.Hidden("MCBStatus_Tx")
                            @Html.Hidden("StartDate")
                            @Html.Hidden("EndDate")
                            @Html.Hidden("ReportType")
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLBusinessUnit", null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Type</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLType", new List<SelectListItem>
                                            {
                                               new SelectListItem { Text = "Summary", Value = "Summary" },
                                               new SelectListItem { Text = "Detail", Value = "Detail" }
                                            }, new { @class = "form-control select2", @onchange = "ChangeType()" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Divisi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("ddldivgroupoid", null, new { @class = "form-control", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-8">
                                            @{ 
                                                var i = 0;
                                                foreach (var st in ViewBag.MCBStatus)
                                                {
                                                    <label class="col-md-4 control-label text-sm">@Html.CheckBox("MCBStatus_" + i++, new { @class = "MCBStatus", @checked = "", @value = @st }) @st </label>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            @Html.DropDownList("DDLPeriod", new List<SelectListItem>
                                            {
                                               new SelectListItem { Text = "AR Date", Value = "arm.arrawdate" },
                                               new SelectListItem { Text = "Approved Date", Value = "arm.approvaldatetime" },
                                               new SelectListItem { Text = "Date Take Giro", Value = "arm.arrawdatetakegiro" }
                                            }, new { @class = "form-control select2" })
                                        </label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("TextPeriod", new { htmlAttributes = new { @class = "form-control daterangepicker", @type = "text" } })
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextCustomer", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchcust" class="btn btn-link" data-toggle="modal" data-target="#modal-cust">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            @Html.DropDownList("DDLNomor", new List<SelectListItem>
                                            {
                                               new SelectListItem { Text = "AR No.", Value = "arm.aprawno" },
                                               new SelectListItem { Text = "Draft No.", Value = "arm.aprawmstoid" }
                                            }, new { @class = "form-control select2" })
                                        </label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextNomor", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchar" class="btn btn-link" data-toggle="modal" data-target="#modal-ar"><i class="fa fa-search"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="divfordtl" style="display: none;">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">SO No.</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextSO", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchso" class="btn btn-link" data-toggle="modal" data-target="#modal-so">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Shipment No.</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextShipment", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchship" class="btn btn-link" data-toggle="modal" data-target="#modal-ship">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Material</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextMaterial", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchmat" class="btn btn-link" data-toggle="modal" data-target="#modal-mat">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Grouping</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLGrouping", new List<SelectListItem>
                                            {
                                               new SelectListItem { Text = "AR No.", Value = "arno" },
                                               new SelectListItem { Text = "Shipment No.", Value = "shipmentno" },
                                               new SelectListItem { Text = "Customer", Value = "custname"}
                                            }, new { @class = "form-control select2", @onchange = "ChangeGroup()" })
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Sorting</label>
                                            <div class="col-md-4">
                                                @Html.DropDownList("DDLSorting", new List<SelectListItem>
                                            {
                                               new SelectListItem { Text = "AR No.", Value = "arm.arrawno" },
                                               new SelectListItem { Text = "Approval Date", Value = "arm.approvaldatetime" },
                                               new SelectListItem { Text = "Date Take Giro", Value = "arm.arrawdatetakegiro" }
                                            }, new { @class = "form-control select2" })
                                            </div>
                                            <div class="col-md-4">
                                                @Html.DropDownList("DDLOrderby", new List<SelectListItem>
                                            {
                                               new SelectListItem { Text = "ASC", Value = "ASC" },
                                               new SelectListItem { Text = "DESC", Value = "DESC" }
                                            }, new { @class = "form-control select2" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" id="btnSubmit" style="display: none;">Submit</button>
                        <button type="button" id="btnViewReport" class="btn btn-primary btn-md"><b>View Report</b></button>
                        <button type="button" id="btnExportPDF" class="btn btn-danger btn-md"><b>Export to PDF</b></button>
                        <button type="button" id="btnExportExcel" class="btn btn-success btn-md"><b>Export to Excel</b></button>
                        <a href="@Url.Action("Report/" + ViewBag.FormType.Replace(" ", ""))" type="button" class="btn btn-default btn-md"><b>Clear</b></a>
                    </div>

                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <iframe id="ReportFrame" src="" style="border: none; width: 100%; height: 1000px;"></iframe>
        </div>
    </div>

    <div class="modal fade" id="modal-cust">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Customer Data</h4>
                    @Html.Hidden("total-cust")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCust" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterCust()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK Cust *@

    @* MODAL UNTUK SO *@
    <div class="modal fade" id="modal-so">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">SO @ViewBag.FormType Data</h4>
                    @Html.Hidden("total-so")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSO" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterSO()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>

    @* MODAL UNTUK Shipment *@
    <div class="modal fade" id="modal-ship">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Shipment @ViewBag.FormType Data</h4>
                    @Html.Hidden("total-ship")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalShip" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterShip()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>

    @* MODAL UNTUK PR *@
    <div class="modal fade" id="modal-ar">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">A/R @ViewBag.FormType Data</h4>
                    @Html.Hidden("total-ar")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalAR" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterAR()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK PR *@

    @* MODAL UNTUK MATERIAL *@
    <div class="modal fade" id="modal-mat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">@ViewBag.FormType Data</h4>
                    @Html.Hidden("total-mat")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterMat()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK MATERIAL *@

    
</section>

@* Ketiga script ini harus ada di semua view *@
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    @* Digunakan untuk merubah isi DDLDepartment berdasarkan DDLBusinessUnit yg dipilih *@
    function ChangeBusinessUnit() {

    }

    function ChangeType() {
        var DDLType = $('#DDLType').val();
        var markupsort = "<option value =\'arm.arrawno\'>AR No.</option><option value =\'arm.approvaldatetime\'>Approval Date</option><option value =\'arm.arrawdatetakegiro\'>Date Take Giro</option>";
        if (DDLType == "Summary") {
            $('#divfordtl').hide();
        } else {
            $('#divfordtl').show();
            markupsort = "<option value =\'arm.approvaldatetime\'>Approval Date</option><option value =\'shm.shipmentrawno\'>Shipment No.</option><option value =\'arm.arrawdatetakegiro\'>Date Take Giro</option>";
        }
        $('#DDLSorting').html(markupsort).show();
    }

    function ChangeGroup() {
        var DDLGrouping = $('#DDLGrouping').val();
        var markupsort = "<option value =\'arm.arrawno\'>AR No.</option><option value =\'arm.approvaldatetime\'>Approval Date</option><option value =\'arm.arrawdatetakegiro\'>Date Take Giro</option>";
        if (DDLGrouping == "arno") {
            markupsort = "<option value =\'arm.approvaldatetime\'>Approval Date</option><option value =\'shm.shipmentrawno\'>Shipment No.</option><option value =\'arm.arrawdatetakegiro\'>Date Take Giro</option>";
        } else if (DDLGrouping == "shipmentno") {
            markupsort = "<option value =\'arm.arrawno\'>AR No.</option><option value =\'arm.approvaldatetime\'>Approval Date</option><option value =\'arm.arrawdatetakegiro\'>Date Take Giro</option>";
        } else if (DDLGrouping == "custname") {
            markupsort += "<option value =\'shm.shipmentrawno\'>Shipment No.</option>";
        }
        $('#DDLSorting').html(markupsort).show();
    }

    $("#btnsearchcust").click(function () {
        var FormType = $('#FormType').val();
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $('#DDLPeriod').val();
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            MCBStatus = MCBStatus.substring(0, MCBStatus.length - 3);

        $.ajax({
            url: "@(Url.Action("GetCustData"))",
            data: { FormType: FormType, DDLBusinessUnit: DDLBusinessUnit, StartDate: StartDate, EndDate: EndDate, DDLPeriod: DDLPeriod, MCBStatus: MCBStatus },
        cache: false,
        type: "POST",
        success: function (data) {
            if (data.result == "") {
                var table = $("#tblModalCust").DataTable();
                table.destroy();
                $("#tblModalCust").empty();

                var cols = [];
                $.each(data.tblcols, function (key, val) {
                    var obj = { title: val };
                    cols.push(obj);
                });

                var rows = [];
                var total = 0;
                $.each(data.tblrows, function (key, val) {
                    var row = Object.values(val);
                    rows.push(row);
                    total++;
                });

                $('#total-cust').val(total);
                if (total > 0) {
                    table = $("#tblModalCust").DataTable({
                        "columns": cols,
                        "data": rows,
                        "deferRender": true,
                        "columnDefs": [
                            {
                                "targets": 0,
                                "checkboxes": {
                                    "selectRow": false
                                }
                            }
                        ],
                        "select": {
                            "style": 'multi'
                        },
                        "order": [[1, 'asc']]
                    });
                }

            } else {
                swal('', data.result, 'error');
                $('#modal-cust').modal('hide');
            }
        },
        error: function (err) {
            swal('', err.responseText, 'error');
            $('#modal-cust').modal('hide');
        }
    });
    });

    function AddToFilterCust() {
        var ind = 1;

        if (parseInt($('#total-cust').val()) > 0) {
            var result = $("#TextCustomer").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalCust').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextCustomer").val(result);
        }
    }

    $("#btnsearchso").click(function () {
        var FormType = $('#FormType').val();
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $('#DDLPeriod').val();
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            MCBStatus = MCBStatus.substring(0, MCBStatus.length - 3);
        var TextCustomer = $('#TextCustomer').val();
        var DDLNomor = $('#DDLNomor').val();
        var TextNomor = $('#TextNomor').val();

        $.ajax({
            url: "@(Url.Action("GetSOData"))",
            data: { FormType: FormType, DDLBusinessUnit: DDLBusinessUnit, StartDate: StartDate, EndDate: EndDate, DDLPeriod: DDLPeriod, MCBStatus: MCBStatus, TextCustomer: TextCustomer, DDLNomor: DDLNomor, TextNomor: TextNomor },
        cache: false,
        type: "POST",
        success: function (data) {
            if (data.result == "") {
                var table = $("#tblModalSO").DataTable();
                table.destroy();
                $("#tblModalSO").empty();

                var cols = [];
                $.each(data.tblcols, function (key, val) {
                    var obj = { title: val };
                    cols.push(obj);
                });

                var rows = [];
                var total = 0;
                $.each(data.tblrows, function (key, val) {
                    var row = Object.values(val);
                    rows.push(row);
                    total++;
                });

                $('#total-so').val(total);
                if (total > 0) {
                    table = $("#tblModalSO").DataTable({
                        "columns": cols,
                        "data": rows,
                        "deferRender": true,
                        "columnDefs": [
                            {
                                "targets": 0,
                                "checkboxes": {
                                    "selectRow": false
                                }
                            }
                        ],
                        "select": {
                            "style": 'multi'
                        },
                        "order": [[1, 'asc']]
                    });
                }

            } else {
                swal('', data.result, 'error');
                $('#modal-so').modal('hide');
            }
        },
        error: function (err) {
            swal('', err.responseText, 'error');
            $('#modal-so').modal('hide');
        }
    });
    });

    function AddToFilterSO() {
        var ind = 2;
        if ($("#DDLNomor option:selected").val() == "arm.aprawmstoid")
            ind = 1;

        if (parseInt($('#total-so').val()) > 0) {
            var result = $("#TextSO").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalSO').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextSO").val(result);
        }
    }

    $("#btnsearchship").click(function () {
        var FormType = $('#FormType').val();
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $('#DDLPeriod').val();
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            MCBStatus = MCBStatus.substring(0, MCBStatus.length - 3);
        var TextCustomer = $('#TextCustomer').val();
        var TextSO = $('#TextSO').val();
        var TextShipment = $('#TextShipment').val();
        var DDLType = $('#DDLType').val();
        var DDLNomor = $('#DDLNomor').val();
        var TextNomor = $('#TextNomor').val();

        $.ajax({
            url: "@(Url.Action("GetShipData"))",
            data: { FormType: FormType, DDLBusinessUnit: DDLBusinessUnit, StartDate: StartDate, EndDate: EndDate, DDLPeriod: DDLPeriod, MCBStatus: MCBStatus, TextCustomer: TextCustomer, TextSO: TextSO, TextShipment: TextShipment, DDLType: DDLType, DDLNomor: DDLNomor, TextNomor: TextNomor },
        cache: false,
        type: "POST",
        success: function (data) {
            if (data.result == "") {
                var table = $("#tblModalShip").DataTable();
                table.destroy();
                $("#tblModalShip").empty();

                var cols = [];
                $.each(data.tblcols, function (key, val) {
                    var obj = { title: val };
                    cols.push(obj);
                });

                var rows = [];
                var total = 0;
                $.each(data.tblrows, function (key, val) {
                    var row = Object.values(val);
                    rows.push(row);
                    total++;
                });

                $('#total-ship').val(total);
                if (total > 0) {
                    table = $("#tblModalShip").DataTable({
                        "columns": cols,
                        "data": rows,
                        "deferRender": true,
                        "columnDefs": [
                            {
                                "targets": 0,
                                "checkboxes": {
                                    "selectRow": false
                                }
                            }
                        ],
                        "select": {
                            "style": 'multi'
                        },
                        "order": [[1, 'asc']]
                    });
                }

            } else {
                swal('', data.result, 'error');
                $('#modal-ship').modal('hide');
            }
        },
        error: function (err) {
            swal('', err.responseText, 'error');
            $('#modal-ship').modal('hide');
        }
    });
    });

    function AddToFilterShip() {
        var ind = 2;
        if ($("#DDLNomor option:selected").val() == "arm.aprawmstoid")
            ind = 1;

        if (parseInt($('#total-ship').val()) > 0) {
            var result = $("#TextShipment").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalShip').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextShipment").val(result);
        }
    }

    $('#btnsearchar').click(function () {
        var FormType = $('#FormType').val();
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $('#DDLPeriod').val();
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            MCBStatus = MCBStatus.substring(0, MCBStatus.length - 3);
        var DDLNomor = $('#DDLNomor').val();
        var TextNomor = $('#TextNomor').val();
        var TextCustomer = $('#TextCustomer').val();
        var TextSO = $('#TextSO').val();
        var TextShipment = $('#TextShipment').val();
        var DDLType = $('#DDLType').val();

        $.ajax({
            url: "@(Url.Action("GetARData"))",
            data: { FormType: FormType, DDLBusinessUnit: DDLBusinessUnit, StartDate: StartDate, EndDate: EndDate, DDLPeriod: DDLPeriod, MCBStatus: MCBStatus, DDLNomor: DDLNomor, TextNomor: TextNomor, TextCustomer: TextCustomer, TextSO: TextSO, TextShipment: TextShipment, DDLType: DDLType },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var table = $('#tblModalAR').DataTable();
                    table.destroy();
                    $('#tblModalAR').empty();

                    var cols = [];
                    $.each(data.tblcols, function (key, val) {
                        var obj = { title: val };
                        cols.push(obj);
                    });

                    var rows = [];
                    var total = 0;
                    $.each(data.tblrows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                        total++;
                    });

                    $('#total-ar').val(total);
                    if (total > 0) {
                        table = $('#tblModalAR').DataTable({
                            "columns": cols,
                            "data": rows,
                            "deferRender": true,
                            "columnDefs": [
                                {
                                    "targets": 0,
                                    "checkboxes": {
                                        "selectRows": false
                                    }
                                }
                            ],
                            "select": {
                                "style": 'multi'
                            },
                            "order": [[1, 'asc']]
                        });
                    }

                } else {
                    swal('', data.result, 'error');
                    $('#modal-ar').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-ar').modal('hide');
            }
        });
    })

    function AddToFilterAR() {
        var ind = 1;
        if ($("#DDLNomor option:selected").val() == "arm.aprawno")
            ind = 2;

        if (parseInt($('#total-ar').val()) > 0) {
            var result = $("#TextNomor").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalAR').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextNomor").val(result);
        }
    }

    $("#btnsearchmat").click(function () {
        var FormType = $('#FormType').val();
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $('#DDLPeriod').val();
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            MCBStatus = MCBStatus.substring(0, MCBStatus.length - 3);
        var DDLNomor = $('#DDLNomor').val();
        var TextNomor = $('#TextNomor').val();
        var TextCustomer = $('#TextCustomer').val();
        var TextSO = $('#TextSO').val();
        var TextShipment = $('#TextShipment').val();
        var DDLType = $('#DDLType').val();


        $.ajax({
            url: "@(Url.Action("GetMatData"))",
            data: { FormType: FormType, DDLBusinessUnit: DDLBusinessUnit, StartDate: StartDate, EndDate: EndDate, DDLPeriod: DDLPeriod, MCBStatus: MCBStatus, DDLNomor: DDLNomor, TextNomor: TextNomor, TextCustomer: TextCustomer, TextSO: TextSO, TextShipment: TextShipment, DDLType: DDLType },
        cache: false,
        type: "POST",
        success: function (data) {
            if (data.result == "") {
                var table = $("#tblModalMat").DataTable();
                table.destroy();
                $("#tblModalMat").empty();

                var cols = [];
                $.each(data.tblcols, function (key, val) {
                    var obj = { title: val };
                    cols.push(obj);
                });

                var rows = [];
                var total = 0;
                $.each(data.tblrows, function (key, val) {
                    var row = Object.values(val);
                    rows.push(row);
                    total++;
                });

                $('#total-mat').val(total);
                if (total > 0) {
                    table = $("#tblModalMat").DataTable({
                        "columns": cols,
                        "data": rows,
                        "deferRender": true,
                        "columnDefs": [
                            {
                                "targets": 0,
                                "checkboxes": {
                                    "selectRow": false
                                }
                            }
                        ],
                        "select": {
                            "style": 'multi'
                        },
                        "order": [[1, 'asc']]
                    });
                }

            } else {
                swal('', data.result, 'error');
                $('#modal-mat').modal('hide');
            }
        },
        error: function (err) {
            swal('', err.responseText, 'error');
            $('#modal-mat').modal('hide');
        }
    });
    });

    function AddToFilterMat() {
        var ind = 2;

        if (parseInt($('#total-mat').val()) > 0) {
            var result = $("#TextMaterial").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalMat').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextMaterial").val(result);
        }
    }

    $('#btnViewReport').click(function () {
        var FormType = $('#FormType').val();
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $('#DDLPeriod').val();
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            MCBStatus = MCBStatus.substring(0, MCBStatus.length - 3);
        var DDLNomor = $('#DDLNomor').val();
        var TextNomor = $('#TextNomor').val();
        var TextMaterial = $('#TextMaterial').val();
        var DDLGrouping = $('#DDLGrouping').val();
        var DDLSorting = $('#DDLSorting').val();
        var DDLOrderby = $('#DDLOrderby').val();
        var ReportType = "";
        var DDLType = $('#DDLType').val();
        var TextCustomer = $('#TextCustomer').val();
        var TextSO = $('#TextSO').val();
        var TextShipment = $('#TextShipment').val();
        var DDLdivgroupoid = $('#ddldivgroupoid option:selected').val();

        $.ajax({
            url: "@(Url.Action("PrintReport"))",
            data: { FormType: FormType, DDLBusinessUnit: DDLBusinessUnit, StartDate: StartDate, EndDate: EndDate, DDLPeriod: DDLPeriod, MCBStatus_Tx: MCBStatus, DDLNomor: DDLNomor, TextNomor: TextNomor, TextMaterial: TextMaterial, DDLGrouping: DDLGrouping, DDLSorting: DDLSorting, DDLOrderby: DDLOrderby, ReportType: ReportType, DDLType: DDLType, TextCustomer: TextCustomer, TextSO: TextSO, TextShipment: TextShipment, DDLdivgroupoid: DDLdivgroupoid },
            cache: false,
            type: "POST",
            success: function (data) {
                $('#ReportFrame').attr("src", "@Url.Content("~/Other/ReportViewer.aspx?rptfile=")" + data.rptfile + "");
                pleaseWaitDialog.show();
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });


    $('#btnExportPDF').click(function () {
        $('#ReportType').val('PDF');
        $('#StartDate').val($('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $('#EndDate').val($('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY'));
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            $('#MCBStatus_Tx').val(MCBStatus.substring(0, MCBStatus.length - 3));
        $('#btnSubmit').click();
    });

    $('#btnExportExcel').click(function () {
        $('#ReportType').val('XLS');
        $('#StartDate').val($('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $('#EndDate').val($('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY'));
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            $('#MCBStatus_Tx').val(MCBStatus.substring(0, MCBStatus.length - 3));
        $('#btnSubmit').click();
    });

    $('#ReportFrame').on('load', function () {
        pleaseWaitDialog.hide();
    });
</script>