﻿@model RSA.Models.DB.QL_mstprecost

@{
    ViewBag.Title = "Pre Costing";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Pre Costing</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Pre Costing Header <label class="text-red">@(ViewBag.precostlock2)</label></b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)

                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        @Html.Hidden("SaveAs")
                        @Html.Hidden("amortdiecut")
                        @Html.Hidden("amortdies")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>ID</label>
                                    </div>
                                    <div class="col-lg-6">
                                       @Html.EditorFor(model => model.precostoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px">
                                        <label>Create Date</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.createtime, new { htmlAttributes = new { @class = "form-control datemask2", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div><br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Customer<b style="color: red;">*</b></label>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="input-group">
                                            @Html.Editor("custname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            <span class="input-group-btn">
                                                <button type="button" id="btnsearchcust" class="btn btn-flat" data-toggle="modal" data-target="#modal-cust">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                        @Html.HiddenFor(model => model.custoid)
                                    </div>
                                </div>
                             
                            </div><br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label for="ppno">Tipe Item</label>
                                    </div>
                                    <div class="col-lg-6">
                                        @Html.DropDownListFor(model => model.itemtype, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="BOM", Value="BOM" },
                                                new SelectListItem { Text="Article", Value="Article" }
                                              }, new { @class = "form-control select2", @required = "" })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Material<b style="color: red;">*</b></label>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="input-group date">
                                            <div class="input-group">
                                                @Html.Editor("material", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchmat" class="btn btn-flat" data-toggle="modal" data-target="#modal-mat">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.bomoid)
                                            @Html.HiddenFor(model => model.itemoid)
                                        </div>
                                    </div>
                                </div>
                            </div><br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px">
                                        <label>Jml. Order<b style="color: red;">*</b></label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.jmlorder, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100" } })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px">
                                        <label>Jml. Perlengkapan</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.jmlperlengkapan, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100",@readonly="" } })
                                    </div>
                                </div>
                            </div><br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>UKD PxLxT (mm)</label>
                                    </div>
                                    <div class="col-lg-2">
                                        @Html.EditorFor(model => model.pd, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly="" } })
                                    </div>
                                    <div class="col-lg-2">
                                        @Html.EditorFor(model => model.ld, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                    <div class="col-lg-2">
                                        @Html.EditorFor(model => model.td, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>UK Luar PxLxT (mm)</label>
                                    </div>
                                    <div class="col-lg-2">
                                       @Html.EditorFor(model => model.pl, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                    <div class="col-lg-2">
                                        @Html.EditorFor(model => model.ll, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                    <div class="col-lg-2">
                                       @Html.EditorFor(model => model.tl, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                </div>
                            </div><br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>UK Sheet PxL (mm)</label>
                                    </div>
                                    <div class="col-lg-3">
                                       @Html.EditorFor(model => model.panjangsheet, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                    <div class="col-lg-3">
                                      @Html.EditorFor(model => model.lebarsheet, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                </div>
                            </div><br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label for="ppno">Tipe Wall</label>
                                    </div>
                                    <div class="col-lg-4">
                                      @Html.EditorFor(model => model.tipewall, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label for="ppno">Tipe Flute</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.tipeflute, new { htmlAttributes = new { @class = "form-control ", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                </div>
                            </div><br>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-2" style="padding-top: 10px;">
                                        <label>Substance / GSM</label>
                                    </div>
                                    <div class="col-lg-8">
                                        <div style="position: relative; overflow-x: auto;">
                                            <table id="datatable" class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <td>@Html.EditorFor(model => model.sub1, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })</td>
                                                        <td>@Html.EditorFor(model => model.sub2, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })</td>
                                                        <td>@Html.EditorFor(model => model.sub3, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })</td>
                                                        <td id="sub4dtd">@Html.EditorFor(model => model.sub4, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })</td>
                                                        <td id="sub5dtd">@Html.EditorFor(model => model.sub5, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })</td>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Wax</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.DropDownListFor(model => model.waxoid, null, new { @id = "waxoid", @class = "form-control select2"})
                                        @Html.ValidationMessageFor(model => model.waxoid, "", new { @id = "waxoid", @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Jml. Warna</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.jmlwarna, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100",@readonly="" } })
                                    </div>
                                </div>
                            </div><br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Diecut Machine</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.DropDownListFor(model => model.diecutmachineoid, null, new { @id = "diecutmachineoid", @class = "form-control select2" })
                                        @Html.ValidationMessageFor(model => model.diecutmachineoid, "", new { @id = "diecutmachineoid", @class = "text-danger" })
                                    </div>
                                </div>
                            </div><br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Luas Sheet (m2)</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.luassheet, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Berat Sheet (kg)</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.beratsheet, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                    </div>
                                    <div class="col-lg-4" style="padding-top: 10px; text-align:center">
                                        <label>Harga/Kg</label>
                                    </div>
                                    <div class="col-lg-4" style="padding-top: 10px; text-align:center">
                                        <label>Harga/Pcs</label>
                                    </div>
                                </div>
                            </div>
                            <br>


                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Wrapping per Componen</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.wrapingpc, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100" } })
                                    </div>
                                   
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Pallet Cost per Componen</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.palletpc, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100" } })
                                    </div>
                                    <div class="col-lg-4">
                                        <button type="button" class="btn .btn-warning" id="proces1"><b>Generate Toleransi</b></button>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Paper/Kg</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.papperpkg, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.papperppcs, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Waste</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.wastekg, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.wastepcs, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Ink</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.inkkg, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.inkpcs, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Other Chemical</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.otrcemkg, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.otrcempcs, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Energy</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.energykg, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.energypcs, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Wax</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.waxkg, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.waxpcs, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Die Cut</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.diecutkg, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.diecutpcs, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Ruber Polly</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.rbrpollykg, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.rbrpollypcs, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Freight Cost</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.freightcost, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @maxlength = "100", @readonly = "" } })
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.freightcostpcs, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @maxlength = "100", @readonly = "" } })
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Loading Cost</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.loadingckg, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.loadingcpcs, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Wrapping</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.wrapingkg, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.wrapingpcs, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Pallet Cost</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.palletkg, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.palletpcs, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Strapping Cost</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.strapingckg, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.strapingcpcs, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Safety Margin</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.sftymarginkg, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.sftymarginpcs, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>TOT Var. Cost</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.totvarcostkg, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.totvarcostpcs, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Labor Cost</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.laborcostkg, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.laborcostpcs, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Admin Cost</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.admincostkg, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.admincostpcs, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Total Fixed Cost inc. Margin</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.ttlfxmarginkg, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.ttlfxmarginpcs, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                </div>
                            </div>
                            <br>

                            @*<div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Total Bottom Price</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.totalbtmpricekg, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.totalbtmpricepcs, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                </div>
                            </div>
                            <br>*@

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Bottom Price</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.btmpricekg, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.EditorFor(model => model.btmpricepcs, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Note</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.EditorFor(model => model.precostnote, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "500" } })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Status</label>
                                    </div>
                                    <div class="col-lg-4">
                                        @Html.DropDownListFor(model => model.activeflag, new List<SelectListItem>
                                            {
                                           new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                           new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                                            }, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <br>               
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER


                   

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                    </div>
                    <div class="pull-right">
                        @{
                           
                                <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
         
                                if (ViewBag.action == "Update Data")
                                {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                }
                            }
                        }
                    </div>
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK CUSTOMER *@
    <div class="modal fade" id="modal-cust">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Customer</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCust" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Address</th>
                                    <th>Freight cost</th>
                                    <th>Amort Diecut</th>
                                    <th>Amort Dies</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK CUSTOMER *@

    @* MODAL UNTUK Material *@
    <div class="modal fade" id="modal-mat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Material</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalmat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Artikel</th>
                                    <th>Long Desc</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK Material *@
   
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {


        $("#tblModalCust").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalCust = $("#tblModalCust").DataTable();
        tblModalCust.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalCust.row($tr).data();
            var alldata = JSON.parse(data[0]);
            $("#custname").val(alldata.custname);
            $("#custoid").val(alldata.custoid);
            $("#freightcost").val(alldata.frightcost);
            $("#amortdiecut").val(alldata.amortdiecut);
            $("#amortdies").val(alldata.amortdies);
            $('#modal-cust').modal('hide');
        });

        $("#tblModalmat").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalmat = $("#tblModalmat").DataTable();
        tblModalmat.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalmat.row($tr).data();
            var alldata = JSON.parse(data[0]);
            $("#bomoid").val(alldata.bomoid);
            $("#itemoid").val(alldata.itemoid);
            $("#pd").val(alldata.pd);
            $("#ld").val(alldata.ld);
            $("#td").val(alldata.td);
            $("#pl").val(alldata.pl);
            $("#ll").val(alldata.ll);
            $("#tl").val(alldata.tl);
            $("#panjangsheet").val(alldata.panjangsheet);
            $("#lebarsheet").val(alldata.lebarsheet);
            $("#tipewall").val(alldata.tipewall);
            $("#tipeflute").val(alldata.tipeflute);
            $("#sub1").val(alldata.sub1);
            $("#sub2").val(alldata.sub2);
            $("#sub3").val(alldata.sub3);
            $("#sub4").val(alldata.sub4);
            $("#sub5").val(alldata.sub5);
            $("#luassheet").val(alldata.luassheet);
            $("#beratsheet").val(alldata.beratsheet);
            $("#material").val(alldata.itemlongdesc);
            $("#jmlwarna").val(alldata.countwarna);
            $("#jmlperlengkapan").val(alldata.jmlperlengkapan);
            if (alldata.tipewall == "SW")
            {
                document.getElementById("sub4dtd").style.display = "none";
                document.getElementById("sub5dtd").style.display = "none";
            }
            else {
                document.getElementById("sub4dtd").style.display = "";
                document.getElementById("sub5dtd").style.display = "";
            }
            $('#modal-mat').modal('hide');
        });

    });

    $("#btnsearchcust").click(function () {
        var table = $('#tblModalCust').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetCustomerData"))",
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.custcode,
                    val.custname,
                    val.custtype,
                    val.custaddr,
                    val.frightcost,
                    val.amortdiecut,
                    val.amortdies
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    $("#btnsearchmat").click(function () {
        var cust = $('#custname').val();
        var itype = $('#itemtype').val();
        if(cust==null || cust==""){
            swal("Silahkan pilih customer Dulu");
        }
        else {
            var table = $('#tblModalmat').DataTable();
            table.clear().draw();
            $.ajax({
                url: "@(Url.Action("GetMatData"))",
                data: { itype: itype },
                cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.matcode,
                        val.itemlongdesc,
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
        }

    });

    $("#proces1").click(function () {
        var bomoid = $("#bomoid").val();
        var itemoid = $("#itemoid").val();
        var waxoid = $("#waxoid").val();
        var custoid = $("#custoid").val();
        var diecutmachineoid = $("#diecutmachineoid").val();
        var jmlwarna = $("#jmlwarna").val();
        var jmlorder = $("#jmlorder").val();
        var itemtype = $("#itemtype").val();
        var freightcost = Math.round($("#freightcost").val());
        var amortdiecut = $("#amortdiecut").val();
        var amortdies = $("#amortdies").val();
        var wrapingpc = $("#wrapingpc").val();
        var palletpc = $("#palletpc").val();
        $.ajax({
            url: "@(Url.Action("Getcomponen"))",
            data: { bomoid: bomoid, itemoid: itemoid, waxoid: waxoid, diecutmachineoid: diecutmachineoid, jmlwarna: jmlwarna, jmlorder: jmlorder, itemtype: itemtype, custoid: custoid, freightcost: freightcost, amortdiecut: amortdiecut, amortdies: amortdies, wrapingpc: wrapingpc, palletpc: palletpc },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 1;
            $.each(data, function (key, val) {
                $('#papperpkg').val(val.papperpkg);
                $('#papperppcs').val(val.papperppcs);
                $('#wastekg').val(val.wastekg);
                $('#wastepcs').val(val.wastepcs);
                $('#inkkg').val(val.inkkg);
                $('#inkpcs').val(val.inkpcs);
                $('#otrcemkg').val(val.otrcemkg);
                $('#otrcempcs').val(val.otrcempcs);
                $('#energykg').val(val.energykg);
                $('#energypcs').val(val.energypcs);
                $('#waxpcs').val(val.waxpcs);
                $('#waxkg').val(val.waxkg);
                $('#diecutkg').val(val.diecutkg);
                $('#diecutpcs').val(val.diecutpcs);
                $('#rbrpollykg').val(val.rbrpollykg);
                $('#rbrpollypcs').val(val.rbrpollypcs);
                $('#freightcostpcs').val(val.freightcostpcs);
                $('#loadingckg').val(val.loadingckg);
                $('#loadingcpcs').val(val.loadingcpcs);
                $('#strapingckg').val(val.strapingckg);
                $('#strapingcpcs').val(val.strapingcpcs);
                $('#sftymarginkg').val(val.sftymarginkg);
                $('#sftymarginpcs').val(val.sftymarginpcs);
                $('#totvarcostkg').val(val.totvarcostkg);
                $('#totvarcostpcs').val(val.totvarcostpcs);
                $('#laborcostkg').val(val.laborcostkg);
                $('#laborcostpcs').val(val.laborcostpcs);
                $('#admincostkg').val(val.admincostkg);
                $('#admincostpcs').val(val.admincostpcs);
                $('#ttlfxmarginkg').val(val.ttlfxmarginkg);
                $('#ttlfxmarginpcs').val(val.ttlfxmarginpcs);
                $('#btmpricekg').val(val.btmpricekg);
                $('#btmpricepcs').val(val.btmpricepcs);
                $('#wrapingkg').val(val.wrapingkg);
                $('#wrapingpcs').val(val.wrapingpcs);
                $('#palletkg').val(val.palletkg);
                $('#palletpcs').val(val.palletpcs);

            });
        },
        error: function (reponse) {
            alert("error Getcomponen : " + reponse);
        }
    });

    });

    $("#btnDelete").click(function () {
        var oid = $("#precostoid").val();
        var cmp = $("#cmpcode option:selected").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });
</script>