﻿@{
    ViewBag.Title = "Direct Labor Cost";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>List Of Precosting</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <p>
                        @Html.ActionLink("Create New", "Form")
                    </p>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 20%;">Print Option</td>
                                    <td style="width: 40%;">
                                        @Html.DropDownList("printtype", new List<SelectListItem> {
                                            new SelectListItem { Text="PDF", Value="" },
                                            new SelectListItem { Text="Excel", Value="Excel" }
                                        }, new { @class = "form-control", @style = "width: 90%;" })
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="dtlistapp" class="table table-striped" style="width: 100%;"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: "@(Url.Action("GetDataList"))",
            data: { },
            cache: false,
            type: "POST",
            success: function (data) {
                var cols = [];
                var rows = [];

                if (data.msg == "") {
                    var hidecols = [0, 1];
                    $.each(data.colname, function (key, val) {
                        var column = val;
                        if (column == "Print" | column == "Save As") {
                            val = "";
                        }
                        var obj = {
                            title: val
                        }
                        cols.push(obj);
                    });

                    $.each(data.rows, function (key, val) {
                        var row = Object.values(val);
                        if (row[12] == "Print") {
                            row[12] = "<button title='Print' type='button' class='btn btn-sm btn - primary' id='Print'><i class='fa fa-print'></i></button>";
                        }
                        if (row[13] == "Save As") {
                            row[13] = "<button title='Save As' type='button' class='btn btn-sm btn-success' id='SaveAs'><i class='fa fa-save'></i></button>";
                        }
                        rows.push(row);
                    });

                    $('#dtlistapp').dataTable({
                        "columns": cols,
                        "data": rows,
                        "deferRender": true,
                        "columnDefs": [
                            { "targets": hidecols, "visible": false, "searchable": false }
                        ]
                    });
                }
                else
                {
                    swal('', data.msg, 'info');
                }
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    });

    $("#dtlistapp").on('click', '#Print', function () {
        var table = $('#dtlistapp').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = table.row($tr).data();
        var oid = data[0];
        var cmpcode = data[1];

        PrintReport(oid, cmpcode);
    })

    $("#dtlistapp").on('click', '#SaveAs', function () {
        var table = $('#dtlistapp').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = table.row($tr).data();
        var oid = data[0];
        var cmpcode = data[1];

        SaveAs(oid, cmpcode);
    })

    function PrintReport(id, cmp) {
        var printouttype = document.getElementById("printtype").value;
        window.location.assign("@Url.Action("PrintReport")?id=" + id  + "&printtype=" + printouttype + "");
    };

    function SaveAs(id, cmp) {
        window.location.assign("@Url.Action("Form")?id=" + id );
    };
</script>