﻿@model RSA.Models.DB.QL_trnpoassetmst

@{
    ViewBag.Title = "PO Aset";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>@ViewBag.Title Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.poassetmstres1)
                        @Html.HiddenFor(model => model.poassetmstres2)
                        @Html.HiddenFor(model => model.poassetmstres3)
                        @Html.HiddenFor(model => model.approvaluser)
                        @Html.HiddenFor(model => model.approvaldatetime)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.closereason)
                        @Html.HiddenFor(model => model.closeuser)
                        @Html.HiddenFor(model => model.closetime)
                        @Html.HiddenFor(model => model.revisereason)
                        @Html.HiddenFor(model => model.reviseuser)
                        @Html.HiddenFor(model => model.revisetime)
                        @Html.HiddenFor(model => model.rejectreason)
                        @Html.HiddenFor(model => model.rejectuser)
                        @Html.HiddenFor(model => model.rejecttime)
                        @Html.HiddenFor(model => model.divgroupoid)
                        @*@Html.HiddenFor(model => model.poassetmststatus_onpib)*@
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Divisi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("ddldivgroupoid", null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Draft No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.poassetmstoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">PO Type</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("poassettype", new List<SelectListItem>
                                            {
                                           new SelectListItem { Text="LOCAL", Value="LOCAL" },
                                           new SelectListItem { Text="IMPORT", Value="IMPORT" }
                                            }, new { @class = "form-control", @readonly = "" })
                                        </div>
                                        @*@Html.HiddenFor(model => model.poassettype)*@
                                    </div>
                                </div>
                            </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">PO No.</label>
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.poassetno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Date</label>
                                            <div class="col-md-4">
                                                @Html.EditorFor(model => model.poassetdate, new { htmlAttributes = new { @class = "form-control datemask2", @type = "text", @readonly = "" } })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Supplier<label class="text-red">*</label></label>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    @Html.Editor("suppname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                    <span class="input-group-btn">
                                                        <button type="button" id="btnsearchsupp" class="btn btn-flat" data-toggle="modal" data-target="#modal-supp" onclick="FadeModalSupp()">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                                @Html.HiddenFor(model => model.suppoid)
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Supplier Reff</label>
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.poassetsuppref, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", @type = "text" } })
                                                @Html.ValidationMessageFor(model => model.poassetsuppref, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Currency</label>
                                        <div class="col-md-8">
                                           @*@Html.DropDownList("curr", null, new { @class = "form-control", @maxlength = "50", @readonly = "" })*@
                                            @Html.DropDownListFor(model => model.curroid, null, new { @class = "form-control select2" })
                                        </div>
                                        @*@Html.HiddenFor(model => model.curroid)*@
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Payment Type</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.poassetpaytypeoid, null, new { @class = "form -control select2", @readonly = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Daily Rate to IDR</label>
                                        <div class="col-md-8">
                                            @Html.Editor("", new { @class = "form-control", @maxlength = "50" , @readonly=""})
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Daily Rate to USD</label>
                                        <div class="col-md-8">
                                            @Html.Editor("", new { @class = "form-control", @maxlength = "50", @readonly = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Monthly Rate to IDR</label>
                                        <div class="col-md-8">
                                            @Html.Editor("", new { @class = "form-control", @maxlength = "50", @readonly = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Monthly Rate to USD</label>
                                        <div class="col-md-8">
                                            @Html.Editor("", new { @class = "form-control", @maxlength = "50", @readonly = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Amt</label>
                                        <div class="col-md-8">
                                            @Html.Editor("poassettotalamt", new { htmlAttributes = new { @class = "form-control money", @maxlength = "16", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Disc Dtl Amt</label>
                                        <div class="col-md-8">
                                            @Html.Editor("poassettotaldiscdtl", new { htmlAttributes = new { @class = "form-control money", @maxlength = "16", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Netto</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.poassettotalnetto, new { htmlAttributes = new { @class = "form-control money", @maxlength = "16", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tax</label>
                                            <div class="col-md-3">
                                                @Html.DropDownList("potaxtype", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="TAX", Value="TAX" },
                                                new SelectListItem { Text="NON TAX", Value="NON TAX" }
                                            }, new { @class = "form-control", @disabled = "" })
                                            </div>
                                            @Html.HiddenFor(model => model.poassettaxtype)
                                            <div class="col-md-5">
                                                @Html.Editor("poassettaxamt", new { htmlAttributes = new { @class = "form-control numberonly", @maxlength = "16", @readonly = "" } })
                                            </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tax Amt</label>
                                        <div class="col-md-8">
                                            @Html.Editor("poassetvat", new { htmlAttributes = new { @class = "form-control money", @maxlength = "16", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @*<div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Dtl Cost</label>
                                        <div class="col-md-8">
                                            @Html.Editor("poassetothercost", new { htmlAttributes = new { @class = "form-control numberonly", @maxlength = "16", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>*@
                                @Html.HiddenFor(model => model.poassetothercost)
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Grand Total Amt</label>
                                        <div class="col-md-8">
                                            @Html.Editor("poassetgrandtotalamt", new { htmlAttributes = new { @class = "form-control money", @maxlength = "16", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.poassetmstnote, new { @class = "form-control", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.poassetmstnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.poassetmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.poassetmststatus } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Approval User</label>
                                        <div class="col-md-8">
                                            @*@Html.DropDownListFor(model => model.approvalcode, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.approvalcode, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>@ViewBag.Title Detail</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.Hidden("seq")
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">PR No.</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            @Html.Editor("prno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            <span class="input-group-btn">
                                                <button type="button" id="btnsearchpr" class="btn btn-flat" data-toggle="modal" data-target="#modal-pr" onclick="FadeModalPR()">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                        @Html.Hidden("prmstoid")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="pull-left">
                                <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail" onclick="FadeModalDetail()"><b>Add Material</b></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No.</th>
                                        <th></th>
                                        <th>PR No.</th>
                                        <th></th>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th>ETA</th>
                                        <th>PR Qty</th>
                                        <th>PO Qty</th>
                                        <th>Unit</th>
                                        <th>Last Price</th>
                                        <th>Price</th>
                                        <th>Amount</th>
                                        <th>Disc Type</th>
                                        <th>Disc</th>
                                        <th>Disc Amount</th>
                                        <th>Netto</th>
                                        <th>Detail Note</th>
                                        @*<th>Detail Note Internal</th>*@
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                if (Model.poassetmststatus == "In Process" | Model.poassetmststatus == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                    <button type="submit" class="btn btn-primary btn-md" id="btnSaveClose"><b>Save & Close</b></button>

                                    if (ViewBag.action == "Update Data")
                                    {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                    }
                                    <button type="button" class="btn btn-warning btn-md" id="btnSendForApproval"><b>Send For Approval</b></button>
                                }
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                            }
                        </div>

                    </div>
                    
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">PR Gen Material Detail Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>PR Qty</th>
                                    <th>Round Qty</th>
                                    <th>Unit</th>
                                    <th>PO Qty</th>
                                    <th>Price</th>
                                    @*<th>Disc Value</th>*@
                                    <th>Detail Note</th>
                                    @*<th>Detail Note Internal</th>*@
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@

    @* MODAL UNTUK GANTI PR *@
    <div class="modal fade" id="modal-predit">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of PR Gen Material</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalPREdit" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>PR No</th>
                                    <th>PR Date</th>
                                    <th>Expired Date</th>
                                    <th>Department</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK GANTI MATERIAL *@

    @* MODAL UNTUK GANTI MATERIAL *@
    <div class="modal fade" id="modal-mat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Gen Material Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Unit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK GANTI MATERIAL *@


    @* MODAL UNTUK SUPPLIER *@
    <div class="modal fade" id="modal-supp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Supplier</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Supplier Code</th>
                                    <th>Supplier Name</th>
                                    <th>Supplier Address</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SUPPLIER *@

    @* MODAL UNTUK PR *@
    <div class="modal fade" id="modal-pr">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of PR Gen Material</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalPR" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>PR No</th>
                                    <th>PR Date</th>
                                    <th>Expired Date</th>
                                    <th>Department</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK PR *@
</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
            CountHdrAmt();
            EnabledHeader();
        });
        table.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
            //CountDtlAmt();
            //setDataDtl();
        });
        table.on("draw", function () {
            $('#DataDtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
        });
        table.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });
        tblModalDtl.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        tblModalDtl.on("draw", function () {
            $('#tblModalDtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
        });
        tblModalDtl.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        var tblModalMat = $("#tblModalMat").DataTable({
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalPREdit = $("#tblModalPREdit").DataTable({
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        $('#tblModalSupp').DataTable({
            "paging": true,
            "bFilter": true,
            "ordering": true,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalSupp = $("#tblModalSupp").DataTable();

        tblModalSupp.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSupp.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#suppname").val(alldata.suppname);
            $("#suppoid").val(alldata.suppoid);
            $("#poassetpaytypeoid").val(alldata.supppaymentoid).trigger('change');
            $("#potaxtype").val(alldata.supptaxable);
            $("#poassettaxtype").val(alldata.supptaxable);
            $("#poassettaxamt").val(alldata.supptaxamt);
            if (alldata.supptaxable == "TAX") {
                $("#poassettaxamt").val("11");
            } else {
                $("#poassettaxamt").val("0");
            }
            //$("#potype").val(alldata.supptype);
            //$("#poassettype").val(alldata.supptype);
            //$("#curr").val(alldata.suppcurroid);
            //$("#curroid").val(alldata.suppcurroid);
            $("#divgroupoid").val($('#ddldivgroupoid option:Selected').val());
            EnableddivgroupHeader();
            $('#modal-supp').modal('hide');
        });

        $("#tblModalPR").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        var tblModalPR = $("#tblModalPR").DataTable();
        tblModalPR.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalPR.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#prno").val(alldata.prassetno);
            $("#prmstoid").val(alldata.prassetmstoid);
            $("#prexpdate").val(alldata.prassetexpdate);
            $("#deptname").val(alldata.deptname);
            $("#prmstnote").val(alldata.prassetmstnote);
            $('#modal-pr').modal('hide');

        });

        $("#cmpcode").change(function () {
            InitDDLAppUser();
            $("#prno").val("");
            $("#prmstoid").val("");
            $("#prexpdate").val("");
            $("#deptname").val("");
            $("#prmstnote").val("");
        });

        InitDDLAppUser();
        FillDetailData();
        //SetDataDtl();
        //CountHdrAmt();

    })

     function InitDDLAppUser() {
        var cmp = $("#cmpcode option:selected").val();
        var approvalcode = $("#approvalcode");
        var approvalcode_sel = $("#approvalcode option:selected").val();
        approvalcode.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLAppUser"))",
            data: { cmp: cmp },
        cache: false,
        type: "POST",
        success: function (data) {
            var markup = "";
            if (data.result == "sukses") {
                var isExist = false;
                $.each(data.tbl, function (key, val) {
                    markup += "<option value=\'" + val.approvaluser + "\'>" + val.approvaluser + "</option>";
                    if (val.approvaluser == approvalcode_sel) {
                        isExist = true;
                    }
                });
                console.log(data.tbl);
                approvalcode.html(markup).show();
                if (isExist == true) {
                    approvalcode.val(approvalcode_sel);
                }
                approvalcode.trigger('change');
            } else {
                approvalcode.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
        error: function (err) {
            console.log(err);
        }
    });
    }

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.poassetdtlseq,
                    '<button id="editpr" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                    val.prassetno,
                    '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                    val.matgencode,
                    val.matgenlongdesc,
                    val.prassetarrdatereqstr,
                    val.prassetqty,
                    '<input type="text" class="form-control money" style="max-width: 80px" id="poassetqty-' + val.poassetdtlseq + '" name="poassetqty-' + val.poassetdtlseq + '" onblur="CountDtlAmt(' + val.poassetdtlseq + ')"  value="' + val.poassetqty + '">',
                    val.poassetunit,
                    val.lastpoprice,
                    '<input type="text" class="form-control money" style="max-width: 80px" id="poassetprice-' + val.poassetdtlseq + '" name="poassetprice-' + val.poassetdtlseq + '" onblur="CountDtlAmt(' + val.poassetdtlseq + ')" value="' + val.poassetprice + '" >',
                    val.poassetdtlamt,
                    '<select class = "form-control" id="poassetdtldisctype-' + val.poassetdtlseq + '" onchange="CountDtlAmt(' + val.poassetdtlseq + ')"> <option value="' + val.poassetdtldisctype + '" selected>' + val.poassetdtldisctype + '</option>  <option value="P">P</option><option value="A">A</option> ',
                    '<input type="text" class="form-control money" style="max-width: 80px" id="poassetdtldiscvalue-' + val.poassetdtlseq + '" name="poassetdtldiscvalue-' + val.poassetdtlseq + '" onblur="CountDtlAmt(' + val.poassetdtlseq + ')" value="' + val.poassetdtldiscvalue + '">',
                    val.poassetdtldiscamt,
                    val.poassetdtlnetto,
                        //'<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="poassetdtlnetto-' + val.poassetdtlseq + '" name="poassetdtlnetto-' + val.poassetdtlseq + '" value="' + val.poassetdtlnetto + '" readonly="">',
                    '<input type="text" class="form-control" style="max-width: 150px" id="poassetdtlnote-' + val.poassetdtlseq + '" name="poassetdtlnote-' + val.poassetdtlseq + '" value="' + val.poassetdtlnote + '">',
                    //'<input type="text" class="form-control" style="max-width: 150px" id="poassetdtlnote2-' + val.poassetdtlseq + '" name="poassetdtlnote2-' + val.poassetdtlseq + '" value="' + val.poassetdtlnote2 + '">',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                EnabledHeader();
            }, 100);
        });
    }

    function CountDtlAmt(id) {
        var table = $('#DataDtl').DataTable();
        var poassetprice = $("#poassetprice-" + id).val();
        var poassetqty = $("#poassetqty-" + id).val();
        var poassetdtldisctype = $("#poassetdtldisctype-" + id + " option:selected").val();
        var poassetdtldiscvalue = $("#poassetdtldiscvalue-" + id).val();
        var poassetdtldiscamt = 0.0;
        var poassetdtlamt = 0.0;
        var poassetdtlnetto = 0.0;
        var temp = table.row(id - 1).data();
        var alldata = JSON.parse(temp[0]);
        alldata.poassetprice = poassetprice;
        alldata.poassetqty = poassetqty;
        poassetdtlamt = poassetprice * poassetqty;
        alldata.poassetdtldisctype = poassetdtldisctype;
        alldata.poassetdtldiscvalue = poassetdtldiscvalue;
        if (poassetdtldisctype == "P")
            poassetdtldiscamt = (poassetdtlamt * poassetdtldiscvalue / 100);
        else
            poassetdtldiscamt = poassetdtldiscvalue;
        alldata.poassetdtldiscamt = poassetdtldiscamt;
        alldata.poassetdtlamt = poassetdtlamt;
        poassetdtlnetto = poassetdtlamt - poassetdtldiscamt;
        alldata.poassetdtlnetto = poassetdtlnetto;
        temp[9] = '<input type="text" class="form-control money" style="max-width: 80px" id="poassetqty-' + id + '" name="poassetqty-' + id + '" onblur="CountDtlAmt(' + id + ')" value="' + poassetqty + '" >';
        temp[12] = '<input type="text" class="form-control money" style="max-width: 80px" id="poassetprice-' + id + '" name="poassetprice-' + id + '" onblur="CountDtlAmt(' + id + ')" value="' + poassetprice + '" >';
        temp[13] = poassetdtlamt;
        temp[14] = '<select class = "form-control" id="poassetdtldisctype-' + id + '" onchange="CountDtlAmt(' + id + ')"> <option value="' + poassetdtldisctype + '" selected>' + poassetdtldisctype + '</option>  <option value="P">P</option><option value="A">A</option> ';
        temp[15] = '<input type="text" class="form-control money" style="max-width: 80px" id="poassetdtldiscvalue-' + id + '" name="poassetdtldiscvalue-' + id + '" onblur="CountDtlAmt(' + id + ')" value="' + poassetdtldiscvalue + '" >';
        temp[16] = poassetdtldiscamt;
        temp[17] = poassetdtlnetto;
        temp[0] = JSON.stringify(alldata);
       table.row(id-1).data(temp).invalidate();
       SetDataDtl();
       CountHdrAmt();
    }


    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    function FadeModalDetail() {
        if (($('#suppoid').val() == 0) || ($('#suppoid').val() == '') || ($('#suppoid').val() == null)) {
            Swal(
               'Please Select Supplier First!',
               '',
               'warning'
                );
            return false
        }
        if (($('#prmstoid').val() == 0) || ($('#prmstoid').val() == '') || ($('#prmstoid').val() == null)) {
            Swal(
               'Please Select PR No First!',
               '',
               'warning'
                );
            return false
        }
        else {
            var table = $('#tblModalDtl').DataTable();
            var prmstoid = $('#prmstoid').val();
            var suppoid = $('#suppoid').val();
            var pomstoid = $("#poassetmstoid").val();
            var cmp = $("#cmpcode").val();
            table.column(1).checkboxes.deselect();
            table.clear().draw();
            $.ajax({
                url: "@(Url.Action("GetDataDetails"))",
                data: { cmp: cmp, prmstoid: prmstoid, suppoid: suppoid, pomstoid: pomstoid },
                cache: false,
                type: "POST",
                success: function (data) {
                    var rows = [];
                    var i = 0;
                    $.each(data, function (key, val) {
                        rows.push([
                            JSON.stringify(val),
                            ++i,
                            val.matgencode,
                            val.matgenlongdesc,
                            val.prassetqty,
                            val.matgenlimitqty,
                            val.poassetunit,
                            '<input type="text" class="form-control money" style="max-width: 80px" id="poassetqty-' + i + '" name="poassetqty-' + i + '" value="' + val.prassetqty + '">',
                            '<input type="text" class="form-control money" style="max-width: 80px" id="poassetprice-' + i + '" name="poassetprice-' + i + '" value="' + val.poassetprice + '">',
                            //'<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="poassetdtldiscvalue-' + i + '" name="poassetdtldiscvalue-' + i + '" value="' + val.poassetdtldiscvalue + '">',
                            '<input type="text" class="form-control" style="max-width: 150px" id="poassetdtlnote-' + i + '" name="poassetdtlnote-' + i + '" value="' + val.poassetdtlnote + '">'
                            //'<input type="text" class="form-control" style="max-width: 150px" id="poassetdtlnote2-' + i + '" name="poassetdtlnote2-' + i + '" value="' + val.poassetdtlnote2 + '">'
                        ]);
                    });
                    setTimeout(function () {
                        table.rows.add(rows).draw();
                    }, 100);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    }
    //$("#btnAddToList").click(function () {
        
    //});

    $('#DataDtl').on('click', '#editpr', function () {
        var tbldtl = $('#DataDtl').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = tbldtl.row($tr).data();
        var alldata = JSON.parse(data[0]);
        $("#seq").val(alldata.poassetdtlseq - 1);
        $('#modal-predit').modal('show');

        var table = $('#tblModalPREdit').DataTable();

        var cmp = $("#cmpcode option:selected").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetPRData"))",
            data: { cmp: cmp},
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.prassetno,
                    val.prassetdate,
                    val.prassetexpdate,
                    val.deptname,
                    val.prassetmstnote,
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    $("#tblModalPREdit").on('click', '#select', function () {
        var table = $('#tblModalPREdit').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = table.row($tr).data();
        var alldata = JSON.parse(data[0]);

        var tbldtl = $('#DataDtl').DataTable();
        var datadtl = tbldtl.row($('#seq').val()).data();
        var alldatadtl = JSON.parse(datadtl[0]);


        //$('#prmstoid').val();

        $('#modal-predit').modal('hide');
        $('#modal-mat').modal('show');
        MatEdit(alldata.prrawmstoid);
    });

    function MatEdit(proid) {
        var table = $('#tblModalMat').DataTable();
        var prmstoid = proid;
        //if (($('#prmstoid').val() == 0) || ($('#prmstoid').val() == '') || ($('#prmstoid').val() == null)) {
        //    prmstoid
        //}

        //$('#prmstoid').val();
        var suppoid = $('#suppoid').val();
        var pomstoid = $("#poassetmstoid").val();
        var cmp = $("#cmpcode option:selected").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmp: cmp, prmstoid: prmstoid, suppoid: suppoid, pomstoid: pomstoid },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.matgencode,
                    val.matgenlongdesc,
                    val.poassetunit
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    }

    $('#DataDtl').on('click', '#edit', function () {
        var tbldtl = $('#DataDtl').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = tbldtl.row($tr).data();
        var alldata = JSON.parse(data[0]);
        $("#seq").val(alldata.poassetdtlseq - 1);
        $('#modal-mat').modal('show');
        MatEdit(alldata.prrawmstoid);
    });

    $("#tblModalMat").on('click', '#select', function () {
        var table = $('#tblModalMat').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = table.row($tr).data();
        var alldata = JSON.parse(data[0]);

        var tbldtl = $('#DataDtl').DataTable();
        var datadtl = tbldtl.row($('#seq').val()).data();
        var alldatadtl = JSON.parse(datadtl[0]);

        if (!IsOnDtl(alldata.prrawdtloid)) {
            var obj = {
                poassetdtlseq: parseInt($('#seq').val()) + 1,
                prassetmstoid: alldata.prassetmstoid,
                prassetdtloid: alldata.prassetdtloid,
                prassetno: alldata.prassetno,
                prassetdatestr: alldata.prassetdatestr,
                prassetdate: alldata.prassetdate,
                matgenoid: alldata.matgenoid,
                matgencode: alldata.matgencode,
                matgenlongdesc: alldata.matgenlongdesc,
                matgenlimitqty: alldata.matgenlimitqty,
                prassetqty: alldata.prassetqty,
                poassetqty: alldata.poassetqty,
                poassetunitoid: alldata.poassetunitoid,
                poassetunit: alldata.poassetunit,
                lastpoprice: alldata.lastpoprice,
                poassetprice: alldata.poassetprice,
                poassetdtlamt: alldata.poassetdtlamt,
                poassetdtldisctype: alldata.poassetdtldisctype,
                poassetdtldiscvalue: alldata.poassetdtldiscvalue,
                poassetdtldiscamt: alldata.poassetdtldiscamt,
                poassetdtlnetto: alldata.poassetdtlnetto,
                poassetdtlnote: alldata.poassetdtlnote,
                //poassetdtlnote2: alldata.poassetdtlnote2,
                prassetarrdatereqstr: alldata.prassetarrdatereqstr,
                prassetarrdatereq: alldata.prassetarrdatereq
            };

            datadtl[0] = JSON.stringify(obj);
            datadtl[3] = alldata.prassetno;
            datadtl[5] = alldata.matgencode;
            datadtl[6] = alldata.matgenlongdesc;
            datadtl[7] = alldata.prassetarrdatereqstr;
            datadtl[8] = alldata.prassetqty;
            datadtl[10] = alldata.poassetunit;

            tbldtl.row($('#seq').val()).data(datadtl).invalidate();
            $('#modal-mat').modal('hide');
            ClearDetail();
        }
        else
            Swal(
              'This ' + alldata.matrawlongdesc + ' Already in Table',
              '',
              'warning'
               );
        return false
    });

    function AddToDetail() {
        var isValid = true;
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid)
            {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                var poassetqty_id = "#poassetqty-" + val;
                var poassetprice_id = "#poassetprice-" + val;
                //var poassetdtldisctype_id = "#poassetdtldisctype-" + val;
                //var poassetdtldiscvalue_id = "#poassetdtldiscvalue-" + val;
                var poassetdtlnote_id = "#poassetdtlnote-" + val;
                //var poassetdtlnote2_id = "#poassetdtlnote2-" + val;
                var poassetqty = table.$(poassetqty_id).val();
                var poassetprice = table.$(poassetprice_id).val();
                var poassetdtlamt = poassetprice * poassetqty;
                //var poassetdtldisctype = table.$(poassetdtldisctype_id).val();
                //var poassetdtldiscvalue = table.$(poassetdtldiscvalue_id).val();
                //var poassetdtldiscamt = 0.0;
                //if (poassetdtldisctype == "P")
                //    poassetdtldiscamt = (poassetdtlamt * poassetdtldiscvalue / 100);
                //else
                //    poassetdtldiscamt = poassetdtldiscvalue;
                var poassetdtlnetto = poassetdtlamt; //- poassetdtldiscamt;
                var poassetdtlnote = table.$(poassetdtlnote_id).val();
                //var poassetdtlnote2 = table.$(poassetdtlnote2_id).val();
                if (!IsOnDtl(alldata.prassetdtloid)) {
                    var id = tbldtl.rows().data().length + 1;
                    var obj = {
                        poassetdtlseq: id,
                        prassetmstoid: alldata.prassetmstoid,
                        prassetdtloid: alldata.prassetdtloid,
                        prassetno: alldata.prassetno,
                        prassetdatestr: alldata.prassetdatestr,
                        prassetdate: alldata.prassetdate,
                        matgenoid: alldata.matgenoid,
                        matgencode: alldata.matgencode,
                        matgenlongdesc: alldata.matgenlongdesc,
                        matgenlimitqty: alldata.matgenlimitqty,
                        prassetqty: alldata.prassetqty,
                        poassetqty: poassetqty,
                        poassetunitoid: alldata.poassetunitoid,
                        poassetunit: alldata.poassetunit,
                        lastpoprice: alldata.lastpoprice,
                        poassetprice: poassetprice,
                        poassetdtlamt: poassetdtlamt,
                        poassetdtldisctype: alldata.poassetdtldisctype,
                        poassetdtldiscvalue: alldata.poassetdtldiscvalue,
                        poassetdtldiscamt: alldata.poassetdtldiscamt,
                        poassetdtlnetto: poassetdtlnetto,
                        poassetdtlnote: poassetdtlnote,
                        //poassetdtlnote2: poassetdtlnote2,
                        prassetarrdatereqstr: alldata.prassetarrdatereqstr,
                        prassetarrdatereq: alldata.prassetarrdatereq
                    };
                    tbldtl.row.add([
                        JSON.stringify(obj),
                        id,
                        '<button id="editpr" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                        alldata.prassetno,
                        '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                        alldata.matgencode,
                        alldata.matgenlongdesc,
                        alldata.prassetarrdatereqstr,
                        alldata.prassetqty,
                        '<input type="text" class="form-control money" style="max-width: 80px" id="poassetqty-' + id + '" name="poassetqty-' + id + '" onblur="CountDtlAmt(' + id + ')" value="' + poassetqty + '" >',
                        alldata.poassetunit,
                        alldata.lastpoprice,
                        '<input type="text" class="form-control money" style="max-width: 80px" id="poassetprice-' + id + '" name="poassetprice-' + id + '" onblur="CountDtlAmt(' + id + ')" value="' + poassetprice + '">',
                        poassetdtlamt,
                        //'<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="poassetdtlamt-' + id + '" name="poassetdtlamt-' + id + '" value="' + poassetdtlamt + '" readonly="">',
                        //alldata.poassetdtldisctype,
                        '<select class = "form-control" id="poassetdtldisctype-' + id + '" onblur="CountDtlAmt(' + id + ')"> <option value="' + alldata.poassetdtldisctype + '" selected>' + alldata.poassetdtldisctype + '</option>  <option value="P">P</option><option value="A">A</option> ',
                        '<input type="text" class="form-control money" style="max-width: 80px" id="poassetdtldiscvalue-' + id + '" name="poassetdtldiscvalue-' + id + '" onblur="CountDtlAmt(' + id + ')" value="' + alldata.poassetdtldiscvalue + '">',
                        alldata.poassetdtldiscamt,
                        poassetdtlnetto,
                         //'<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="poassetdtlnetto-' + id + '" name="poassetdtlnetto-' + id + '" value="' + poassetdtlnetto + '" readonly="">',
                        '<input type="text" class="form-control" style="max-width: 150px" id="poassetdtlnote-' + id + '" name="poassetdtlnote-' + id + '" value="' + poassetdtlnote + '">',
                        //'<input type="text" class="form-control" style="max-width: 150px" id="poassetdtlnote2-' + id + '" name="poassetdtlnote2-' + id + '" value="' + poassetdtlnote2 + '">',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                }
            }
        })
        SetDataDtl();
        CountHdrAmt();
        ClearDetail();
        EnabledHeader();
        //CountDtlAmt();
    }


    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        $("#cmpcode").attr("readonly", bVal);
        $("#btnsearchsupp").attr("disabled", bVal);
    }

    function ClearDetail() {
        $("#prno").val("");
        $("#prmstoid").val(0);
        $("#prexpdate").val("");
        $("#deptname").val("");
        $("#prmstnote").val("");
    }

    function IsOnDtl(prrawdtloid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (prrawdtloid == alldata.prrawdtloid) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var poassetqty_id = "#poassetqty-" + (i + 1);
            var poassetprice_id = "#poassetprice-" + (i + 1);
            var poassetdtldisctype_id = "#poassetdtldisctype-" + (i + 1);
            var poassetdtldiscvalue_id = "#poassetdtldiscvalue-" + (i + 1);
            var poassetdtlnote_id = "#poassetdtlnote-" + (i + 1);
            //var poassetdtlnote2_id = "#poassetdtlnote2-" + (i + 1);
            var poassetqty = table.$(poassetqty_id).val();
            var poassetprice = table.$(poassetprice_id).val();
            var poassetdtlamt = poassetprice * poassetqty;
            var poassetdtldisctype = table.$(poassetdtldisctype_id).val();
            var poassetdtldiscvalue = table.$(poassetdtldiscvalue_id).val();
            var poassetdtldiscamt = 0.0;
            if (poassetdtldisctype == "P")
                poassetdtldiscamt = (poassetdtlamt * poassetdtldiscvalue / 100);
            else
                poassetdtldiscamt = poassetdtldiscvalue;
            var poassetdtlnetto = (poassetdtlamt - poassetdtldiscamt);
            var poassetdtlnote = table.$(poassetdtlnote_id).val();
            //var poassetdtlnote2 = table.$(poassetdtlnote2_id).val();
            var obj = {
                poassetdtlseq: i + 1,
                prassetmstoid: alldata.prassetmstoid,
                prassetdtloid: alldata.prassetdtloid,
                prassetno: alldata.prassetno,
                prassetdatestr: alldata.prassetdatestr,
                prassetdate: alldata.prassetdate,
                matgenoid: alldata.matgenoid,
                matgencode: alldata.matgencode,
                matgenlongdesc: alldata.matgenlongdesc,
                matgenlimitqty: alldata.matgenlimitqty,
                prassetqty: alldata.prassetqty,
                poassetqty: poassetqty,
                poassetunitoid: alldata.poassetunitoid,
                poassetunit: alldata.poassetunit,
                lastpoprice: alldata.lastpoprice,
                poassetprice: poassetprice,
                poassetdtlamt: poassetdtlamt,
                poassetdtldisctype: poassetdtldisctype,
                poassetdtldiscvalue: poassetdtldiscvalue,
                poassetdtldiscamt: poassetdtldiscamt,
                poassetdtlnetto: poassetdtlnetto,
                poassetdtlnote: poassetdtlnote,
                //poassetdtlnote2: poassetdtlnote2,
                prassetarrdatereqstr: alldata.prassetarrdatereqstr,
                prassetarrdatereq: alldata.prassetarrdatereq

            }
            rows.push(obj);
        }
        //countHdrAmt();
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    function CountHdrAmt() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var poassettotalamt = 0.0;
        var poassettotaldiscdtl = 0.0;
        var poassettotalnetto = 0.0;
        var poassetvat = 0.0;
        var poassetgrantotalamt = 0.0;
        var poassettaxamt = $("#poassettaxamt").val();
        var poassettaxtype = $("#poassettaxtype").val();
        var poassetothercost = $("#poassetothercost").val();


        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0]);

            if (!isNaN(parseInt(alldata.poassetdtlamt)))
                poassettotalamt += parseFloat(alldata.poassetdtlamt);
            if (!isNaN(parseInt(alldata.poassetdtldiscamt)))
                poassettotaldiscdtl += parseFloat(alldata.poassetdtldiscamt);
            if (!isNaN(parseInt(alldata.poassetdtlnetto)))
                poassettotalnetto += parseFloat(alldata.poassetdtlnetto);
        }
        poassettotalnetto = poassettotalamt - poassettotaldiscdtl
        if (poassettaxtype == "TAX") {
            poassetvat = ((poassettotalnetto) * poassettaxamt) / 100

        }
        else
        {
            poassetvat = 0
        }
        poassetgrandtotalamt = poassettotalnetto + poassetvat + poassetothercost
        $("#poassettotalamt").val(poassettotalamt);
        $("#poassettotaldiscdtl").val(poassettotaldiscdtl);
        $("#poassettotalnetto").val(poassettotalnetto);
        $("#poassetvat").val(poassetvat);
        $("#poassetgrandtotalamt").val(poassetgrandtotalamt);
    }

    function FadeModalSupp() {
        var table = $('#tblModalSupp').DataTable();
        var divgroupoid = $('#ddldivgroupoid option:selected').val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSuppData"))",
            data: { divgroupoid: divgroupoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        //val,
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.suppcode,
                        val.suppname,
                        val.suppaddr
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    //$("#btnsearchsupp").click(function () {

    //});
    function EnableddivgroupHeader() {
        $("#ddldivgroupoid").attr("readonly", true);
    }
    function FadeModalPR() {
        if (($('#suppoid').val() == 0) || ($('#suppoid').val() == '')) {
            Swal(
               'Please Select Supplier First!',
               '',
               'warning'
                );
            return false
        }
        var table = $('#tblModalPR').DataTable();
        var divgroupoid = $('#divgroupoid').val();
        var cmp = $("#cmpcode option:selected").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetPRData"))",
            data: { cmp: cmp, divgroupoid: divgroupoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.prassetno,
                        val.prassetdate,
                        val.prassetexpdate,
                        val.deptname,
                        val.prassetmstnote,
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
    //$("#btnsearchpr").click(function () {

    //});

    $("#btnSave").click(function () {
        SetDataDtl();
    });

    $("#btnSaveClose").click(function () {
        $("#closing").val("true");
        $("#btnSave").click();
    });

    $("#btnDelete").click(function () {
        var oid = $("#poassetmstoid").val();
        var cmp = $("#cmpcode option:selected").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnSendForApproval").click(function () {
        $("#poassetmststatus").val("In Approval");

        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for APPROVAL?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#closing").val("true");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

</script>