﻿@model IEnumerable<RSA.Controllers.Transaction.MonthlyClosingController.trnmonthly>

@{
    ViewBag.Title = "Monthly Closing";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Monthly Closing</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-body">
                        @Html.Hidden("action")
                        @Html.Hidden("action2")
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Business Unit</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownList("cmpcode", null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessage("cmpcode", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Period</label>
                                        <div class="col-sm-5">
                                            @Html.DropDownList("iMonth", null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.DropDownList("iYear", null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="col-sm-4"></div>
                                        <div class="col-sm-4">
                                            <label class="text">Last Montly Closing</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="text-red" id="lbllastclosing"></label>
                                        </div>
                                       <div class="col-sm-4">
                                           @Html.Hidden("lastclosemonth")
                                           @Html.Hidden("lastcloseyear")
                                       </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="col-sm-4"></div>
                                        <div class="col-sm-4">
                                            <label class="text">Next Montly Closing</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="text-red" id="lblnextclosing"></label>
                                        </div>
                                        <div class="col-sm-4">
                                            @Html.Hidden("nextclosemonth")
                                            @Html.Hidden("nextcloseyear")
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Status</label>
                                        <div class="col-sm-8">
                                            @Html.TextBox("closingstatus", null, new { @class = "form-control", @readonly = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Rate BI (Jika Ada Transaksi Non IDR)</label>
                                        <div class="col-sm-8">
                                            @Html.TextBox("ratebi", null, new { @class = "form-control numberonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Value In</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("curr", new List<SelectListItem>
                                            {
                                           new SelectListItem { Text="IDR", Value="IDR" }
                                           //new SelectListItem { Text="USD", Value="USD" }
                                            }, new { @class = "form-control"})
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="col-sm-4"></div>
                                        <div class="col-sm-4">
                                            <button type="button" class="btn btn-primary" id="btnCalculate"><b>Calculate</b></button>
                                        </div>
                                        <div class="col-sm-4" id="exp" style="display:none">
                                            <button type="button" class="btn btn-success" id="btnExportXls"><b>Export Excel</b></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-body">
                        <div class="col-sm-12" style="overflow-x: auto;">
                            <h4 class="col-sm-12">Summary Account</h4>
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No</th>
                                        <th>Account No.</th>
                                        <th>Account Name</th>
                                        <th>Start Balance</th>
                                        <th>Debet</th>
                                        <th>Credit</th>
                                        <th>Final Balance</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="col-sm-12" style="overflow-x: auto;">
                            <h4 class="col-sm-12">Outstanding Transaction</h4>
                            <table id="DataDtl2" class="table table-striped" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No</th>
                                        <th>Transaksi</th>
                                        <th>Jumlah</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    <div class="pull-left">
                        @{
                            <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                            <button type="button" class="btn btn-danger btn-md" id="btnClose"><b>Close</b></button>
                            <button type="button" class="btn btn-danger btn-md" id="btnunClose"><b>unClose</b></button>
                        }
                    </div>
                            }
            </div>
        </div>
    </div>

</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": true,
            "bFilter": true,
            "ordering": false,
            "bInfo": true,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var table2 = $('#DataDtl2').DataTable({
            "paging": true,
            "bFilter": true,
            "ordering": false,
            "bInfo": true,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        $("#btnClose").hide();
        $("#btnunClose").hide();

        GetLastAndNextMonthlyClosing();
    })

    function GetLastAndNextMonthlyClosing() {
        $.ajax({
            url: "@(Url.Action("GetLastAndNextMonthlyClosing"))",
            cache: false,
            type: "POST",
            success: function (data) {
                $("#lbllastclosing").text(data.lastclosing);
                $("#lastclosemonth").val(data.selectedyear);
                $("#lastcloseyear").val(data.selectedmonth);
                $("#lblnextclosing").text(data.nextclosing);
                $("#nextclosemonth").val(data.nextclosemonth);
                $("#nextcloseyear").val(data.nextcloseyear);
                $("#iYear").val(data.selectedyear).trigger('change');
                $("#iMonth").val(data.selectedmonth).trigger('change');
                $("#closingstatus").val(data.BindClosingData);
                var table = $('#DataDtl').DataTable();
                table.clear().draw();
                var table2 = $('#DataDtl2').DataTable();
                table2.clear().draw();
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    $("#btnCalculate").click(function () {
        var iYear = $('#iYear option:selected').val();
        var iMonth = $('#iMonth option:selected').val();
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        var table2 = $('#DataDtl2').DataTable();
        table2.clear().draw();
        $.ajax({
            url: "@(Url.Action("BindClosingData"))",
            data: { iYear: iYear, iMonth: iMonth },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.sMsg == "") {
                    var rows = [];
                    var i = 0;
                    $.each(data.tbl, function (key, val) {
                        val.seq = ++i;
                        rows.push([
                            JSON.stringify(val),
                            i,
                            val.acctgcode,
                            val.acctgdesc,
                            addCommas(val.amtopenidr),
                            addCommas(val.amtdebetidr),
                            addCommas(val.amtcreditidr),
                            addCommas(val.amtbalanceidr)
                        ]);
                    });
                    var rows2 = [];
                    var i2 = 0;
                    $.each(data.tbl2, function (key, val) {
                        val.seq = ++i2;
                        rows2.push([
                            JSON.stringify(val),
                            i2,
                            val.tipe,
                            addCommas(val.jml)
                        ]);
                    });
                    $("#lbllastclosing").text(data.lastclosing);
                    $("#lastclosemonth").val(data.selectedyear);
                    $("#lastcloseyear").val(data.selectedmonth);
                    $("#lblnextclosing").text(data.nextclosing);
                    $("#nextclosemonth").val(data.nextclosemonth);
                    $("#nextcloseyear").val(data.nextcloseyear);
                    $("#closingstatus").val(data.BindClosingData);
                    $("#exp").show();
                    if (data.BindClosingData == "OPEN") {
                        $("#btnSave").show();
                        $("#btnClose").show();
                        $("#btnunClose").hide();
                    }
                    else if (data.BindClosingData == "CLOSED") {
                        $("#btnSave").hide();
                        $("#btnClose").hide();
                        $("#btnunClose").show();
                    }
                    setTimeout(function () {
                        table.rows.add(rows).draw();
                        table2.rows.add(rows2).draw();
                    }, 100);
                }
                else {
                    Swal({
                        title: 'WARNING!',
                        text: sMsg,
                        type: 'warning'
                    });
                }
                
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            alldata.seq = i + 1;

            rows.push(alldata);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    $("#btnSave").click(function () {
        $('#ratebi').val(removeCommas($('#ratebi').val()));
        var bVal = true;
        if ($('#DataDtl').DataTable() == null) {
            Swal({
                title: 'WARNING!',
                text: 'Please Fill detail data!',
                type: 'warning'
            });
            bVal = false;
            return false
        }  else {
            var table = $('#DataDtl').DataTable();
            var dataDtl = table.rows().data();
            if (dataDtl.length <= 0) {
                Swal({
                    title: 'WARNING!',
                    text: 'Please fill Detail Data!',
                    type: 'warning'
                });
                bVal = false;
                return false
            }
        }
        if ($('#DataDtl2').DataTable() != null) {
            var table = $('#DataDtl2').DataTable();
            var dataDtl = table.rows().data();
            if (dataDtl.length > 0) {
                Swal({
                    title: 'WARNING!',
                    text: 'Please Action Outstanding Data!',
                    type: 'warning'
                });
                bVal = false;
                return false
            }
        }
        if (bVal) {
            $("#action").val("save"); $("#action2").val("OPEN");
            SetDataDtl();
        }
    })

    $("#btnClose").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Process this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Process this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#closingstatus").val("CLOSED");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

    $("#btnunClose").click(function () {
        SetDataDtl();
        var closingstatus = $("#closingstatus").val();
        var iYear = $('#iYear option:selected').val();
        var iMonth = $('#iMonth option:selected').val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to unClose this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Process this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("unClose"))",
                    data: { __RequestVerificationToken: token, closingstatus: closingstatus, iYear: iYear, iMonth: iMonth },
                    success: function (data) {
                        if (data.result == 'sukses') {
                            Swal(
                              'UnClosed!',
                              'Data has been UnClosed.',
                              'success'
                            )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                              'UnClosed Failed!',
                              data.msg,
                              'warning'
                            )
                        }

                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnExportXls").click(function () {
        var iYear = $('#iYear option:selected').val();
        var iMonth = $('#iMonth option:selected').val();
        window.location.assign("@Url.Action("PrintReport")?iYear=" + iYear + "&iMonth=" + iMonth + "");
    });
</script>
