﻿@model RSA.Models.DB.QL_trnaprawmst

@{
    ViewBag.Title = "Hutang Raw Material";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Hutang Raw Material</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Hutang Raw Material Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.aprawmstres3)
                        @Html.HiddenFor(model => model.approvaluser)
                        @Html.HiddenFor(model => model.approvaldatetime)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.rateoid)
                        @Html.HiddenFor(model => model.aprawratetoidr)
                        @Html.HiddenFor(model => model.aprawratetousd)
                        @Html.HiddenFor(model => model.rate2oid)
                        @Html.HiddenFor(model => model.aprawrate2toidr)
                        @Html.HiddenFor(model => model.aprawrate2tousd)
                        @Html.HiddenFor(model => model.divgroupoid)

                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Divisi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("ddldivgroupoid", null, new { @class = "form-control", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">A/P No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.aprawno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.aprawmstoid)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">A/P Date</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.aprawdate, new { htmlAttributes = new { @class = "form-control datemask2", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Supplier <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("suppname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchsupp" class="btn btn-flat" data-toggle="modal" data-target="#modal-supp">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.suppoid)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Payment Type</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.aprawpaytypeoid, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Currency</label>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(model => model.curroid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.curroid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Amt</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.aprawtotalamt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Tax</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.aprawtotaltax, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Grand Total</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.aprawgrandtotal, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.aprawmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.aprawmststatus } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Grand Total Supplier</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.aprawsupptotal, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Date Take Giro</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.aprawdatetakegiro, new { htmlAttributes = new { @class = "form-control datemask2 datepicker", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.aprawdatetakegiro, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.aprawmstnote, new { @class = "form-control", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.aprawmstnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Approval User</label>
                                        <div class="col-md-8">
                                            @*@Html.DropDownListFor(model => model.approvalcode, null, new { @class = "form-control", @required = "" })
                                            @Html.ValidationMessageFor(model => model.approvalcode, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                            </div>                         
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>Hutang Raw Material Detail</b></h3>
                    </div>
                    <div class="box-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Faktur No. <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.Editor("aprawdtlres1", new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Faktur Pajak No.</label>
                                        <div class="col-md-8">
                                            @Html.Editor("aprawdtlres2", new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">MR No. </label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("porawno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchpo" class="btn btn-flat" data-toggle="modal" data-target="#modal-po">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        @Html.Hidden("porawmstoid")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No</th>
                                        <th>PO No.</th>
                                        <th>Faktur No.</th>
                                        <th>Faktur Pajak No.</th>
                                        <th>MR No.</th>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th>Qty</th>
                                        <th>Unit</th>
                                        <th>Price</th>
                                        <th>Amount</th>
                                        <th>Disc.</th>
                                        <th>Netto</th>
                                        <th>Detail Note</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                if (Model.aprawmststatus == "In Process" | Model.aprawmststatus == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                    <button type="submit" class="btn btn-primary btn-md" id="btnSaveClose"><b>Save & Close</b></button>
                                    if (ViewBag.action == "Update Data")
                                    {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                    }
                                    <button type="button" class="btn btn-warning btn-md" id="btnSendForApproval"><b>Send For Approval</b></button>
                                }
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                            }
                        </div>
                    </div>
                  
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM PO *@
    <div class="modal fade" id="modal-po">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of MR</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalPO" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>MR. No.</th>
                                    <th>PO. No.</th>
                                    <th>PO. Date</th>
                                    <th>PO. Ref. No.</th>
                                    @*<th>Doc. Ref. Date</th>*@
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM PO *@

    @* MODAL UNTUK SUPPLIER *@
    <div class="modal fade" id="modal-supp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Supplier</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Supplier Code</th>
                                    <th>Supplier Name</th>
                                    <th>Supplier Address</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SUPPLIER *@
</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            var mrrawno = table.row($tr).data()[5];
            var data = table.rows().data();
            var rowdel = [];
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][5] == mrrawno) {
                    rowdel.push(i);
                }
            }
            table.rows(rowdel).remove().draw();
            data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
            ClearDetail();
            EnabledHeader();
            CountHdrAmount();
        });
        table.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        tblModalDtl.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        tblModalDtl.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        $("#tblModalSupp").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        $("#tblModalPO").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalSupp = $("#tblModalSupp").DataTable();
        tblModalSupp.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSupp.row($tr).data();
            var alldata = JSON.parse(data[0])
            var tbldtl = $('#DataDtl').DataTable();
            $("#suppname").val(alldata.suppname);
            $("#suppoid").val(alldata.suppoid);
            $("#aprawpaytypeoid").val(alldata.supppaymentoid).trigger("change");
            var datetakegiro = new Date($('#aprawdate').val());
            if (alldata.supppaymentoid != "") {
                var sNum = parseInt($("#aprawpaytypeoid").find('option:selected').text(), 10);
                if (isNaN(sNum)) {
                    sNum = 0;
                }
                datetakegiro.setDate(datetakegiro.getDate() + sNum);
                var date = ((datetakegiro.getMonth() + 1) < 10 ? '0' : '') + (datetakegiro.getMonth() + 1) + '/' + (datetakegiro.getDate() < 10 ? '0' : '') + datetakegiro.getDate() + '/' + datetakegiro.getFullYear();
                $("#aprawdatetakegiro").val(date);
            }
            $("#divgroupoid").val($('#ddldivgroupoid option:Selected').val());
            EnableddivgroupHeader();
            $('#modal-supp').modal('hide');
        });

        var tblModalPO = $("#tblModalPO").DataTable();
        tblModalPO.on('click', '#select', function () {

            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalPO.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#porawno").val(alldata.mrrawno);
            $("#porawmstoid").val(alldata.mrrawmstoid);
            AddToDetail();
            $('#modal-po').modal('hide');
        });

        $("#cmpcode").change(function () {
            FillAPNo()
            InitDDLAppUser();
            ClearSupp();
        });

        SetRateValue();
        $("#curroid").change(function () {
            SetRateValue();
        })
        $("#aprawdate").change(function () {
            SetRateValue();
        })

        $("#aprawpaytypeoid").attr("readonly", true);

        var datetakegiro = new Date($('#aprawdate').val());
        var sNum = parseInt($("#aprawpaytypeoid").find('option:selected').text(), 10);
        if (isNaN(sNum)) {
            sNum = 0;
        }
        datetakegiro.setDate(datetakegiro.getDate() + sNum);
        var date = ((datetakegiro.getMonth() + 1) < 10 ? '0' : '') + (datetakegiro.getMonth() + 1) + '/' + (datetakegiro.getDate() < 10 ? '0' : '') + datetakegiro.getDate() + '/' + datetakegiro.getFullYear();
        $("#aprawdatetakegiro").val(date);

        FillAPNo()
        InitDDLAppUser();
        FillDetailData();
    })

    function SetRateValue() {
        var curroid = $("#curroid").val();
        var sDate = $("#aprawdate").val();
        $.ajax({
            url: "@(Url.Action("GetRateValue"))",
            data: { curroid: curroid, sDate: sDate },
        cache: false,
        type: "POST",
        success: function (data) {
            if (data.result == "sukses") {
                $.each(data, function (key, val) {
                    $("#rateoid").val(val.rateoid);
                    $("#aprawratetoidr").val(val.rateidrvalue);
                    $("#aprawratetousd").val(val.rateusdvalue);
                    $("#rate2oid").val(val.rate2oid);
                    $("#aprawrate2toidr").val(val.rate2idrvalue);
                    $("#aprawrate2tousd").val(val.rate2usdvalue);
                });
            } else {
                if (data.msg != "") {
                    Swal('Warning!', data.msg, 'warning')
                }
            }
        },
        error: function (err) {
            console.log(err);
        }
    });
    }

    function FillAPNo() {
        @*var cmpcode = $("#cmpcode").val();
        var apmstoid = $("#aprawmstoid").val();

        $.ajax({
            url: "@(Url.Action("generateNo"))",
            data: { cmp: cmpcode, apmstoid: apmstoid },
        cache: false,
        type: "POST",
        success: function (hasil) {
            $("#aprawno").val(hasil);
        },
        error: function (err) {
            console.log(err);
        }
    });*@
    }

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.aprawdtlseq,
                    val.porawno,
                    val.aprawdtlres1, //faktur no
                    val.aprawdtlres2, //faktur pajak no
                    val.mrrawno,
                    val.matrawcode,
                    val.matrawlongdesc,
                    val.aprawqty,
                    val.aprawunit,
                    val.aprawprice,
                    val.aprawdtlamt,
                    val.aprawdtldiscamt,
                    val.aprawdtlnetto,
                    '<input type="text" class="form-control" style="max-width: 150px" id="aprawdtlnote-' + val.aprawdtlseq + '" name="aprawdtlnote-' + val.aprawdtlseq + '" value="' + (val.aprawdtlnote == null ? "" : val.aprawdtlnote) + '">',
                '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                EnabledHeader();
                CountHdrAmount();
            }, 100);
        });
    }

    function InitDDLAppUser() {
        var cmp = $("#cmpcode").val();
        var approvalcode = $("#approvalcode");
        var approvalcode_sel = $("#approvalcode option:selected").val();
        approvalcode.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLAppUser"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
            var markup = "";
            if (data.result == "sukses") {
                var isExist = false;
                $.each(data.tbl, function (key, val) {
                    markup += "<option value=\'" + val.approvaluser + "\'>" + val.approvaluser + "</option>";
                    if (val.approvaluser == approvalcode_sel) {
                        isExist = true;
                    }
                });
                console.log(data.tbl);
                approvalcode.html(markup).show();
                if (isExist == true) {
                    approvalcode.val(approvalcode_sel);
                }
                approvalcode.trigger('change');
            } else {
                approvalcode.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        $("#aritemdate").datepicker("option", "dateFormat", "dd-dd-yyyy");
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
                $('#aritemdate').replaceWith($('#aritemdate').clone());
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        $("#cmpcode").attr("readonly", bVal);
        $("#btnsearchsupp").attr("disabled", bVal);
        $("#curroid").attr("readonly", bVal);
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    function ClearSupp() {
        $("#suppname").val("");
        $("#suppoid").val("");
        $("#aprawpaytypeoid").val($("#aprawpaytypeoid option:first").val());
        //$("#aprawpaytypeoid").val("");
    }

    function ClearDetail() {
        $("#porawno").val("");
        $("#porawmstoid").val("");
        $('#aprawdtlres1').val("");
        $('#aprawdtlres2').val("");

    }

    function CountHdrAmount() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var dTotalAmt = 0;
        var dTotalTaxAmt = 0;
        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            dTotalAmt += alldata.aprawdtlnetto;
            dTotalTaxAmt += alldata.aprawdtltaxamt;
        }

        dTotalAmt = +parseFloat(dTotalAmt).toFixed(4);
        dTotalTaxAmt = +parseFloat(dTotalTaxAmt).toFixed(4);

        $("#aprawtotalamt").val(dTotalAmt);
        $("#aprawtotaltax").val(dTotalTaxAmt);

        $("#aprawgrandtotal").val(+parseFloat(dTotalAmt + dTotalTaxAmt).toFixed(4));
    }

    $("#btnsearchpo").click(function () {
        if (($('#suppname').val() == '') || ($('#suppname').val() == null)) {
            Swal({
                title:'WARNING!',
                text: 'Please select SUPPLIER field!',
                type:'warning'
            });
            return false;
        }
        if (($('#aprawdtlres1').val() == '') || ($('#aprawdtlres1').val() == null)) {
            Swal(
               'Please Input Faktur No. First!',
               '',
               'warning'
                );
            return false
        }
        else {
            var table = $('#tblModalPO').DataTable();
            var aprawmstoid = $('#aprawmstoid').val();
            var suppoid = $('#suppoid').val();
            var cmp = $("#cmpcode").val();
            var curroid = $("#curroid").val();
            var divgroupoid = $('#divgroupoid').val();
            table.clear().draw();
            $.ajax({
                url: "@(Url.Action("GetPOData"))",
                data: { cmp: cmp, suppoid: suppoid, aprawmstoid: aprawmstoid, curroid: curroid, divgroupoid: divgroupoid },
                cache: false,
                type: "POST",
                success: function (data) {
                    var rows = [];
                    var i = 0;
                    $.each(data, function (key, val) {
                        rows.push([
                            JSON.stringify(val),
                            '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                            val.mrrawno,
                            val.porawno,
                            moment(jsDate(val.porawdate)).format('MM/DD/YYYY'),
                            val.porawdocrefno,
                            //moment(jsDate(val.porawdocrefdate)).format('MM/DD/YYYY'),
                            val.porawmstnote,
                        ]);
                    });
                    setTimeout(function () {
                        table.rows.add(rows).draw();
                    }, 100);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    });

    $("#btnsearchsupp").click(function () {
        var table = $('#tblModalSupp').DataTable();
        var cmp = $("#cmpcode").val();
        var aprawmstoid = $("#aprawmstoid").val();
        var divgroupoid = $('#ddldivgroupoid option:selected').val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSupplierData"))",
            data: { cmp: cmp, aprawmstoid: aprawmstoid, divgroupoid: divgroupoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.suppcode,
                        val.suppname,
                        val.suppaddr,
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });
    function EnableddivgroupHeader() {
        $("#ddldivgroupoid").prop("disabled", true);
    }
    function AddToDetail() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var id = data.length + 1;
        var cmp = $("#cmpcode").val();
        var porawmstoid = $("#porawmstoid").val();
        var aprawdtlres1 = $('#aprawdtlres1').val();
        var aprawdtlres2 = $('#aprawdtlres2').val();
        if (aprawdtlres2 == null)
            aprawdtlres2 = ""
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmp: cmp, porawmstoid: porawmstoid, aprawdtlres1: aprawdtlres1, aprawdtlres2: aprawdtlres2 },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = id;
                $.each(data, function (key, val) {
                    //val.aritemdtlamt = val.aritemqty * val.aritemprice;
                    //var dDisc = 0;
                    //if (val.aritemdtldisctype == "P") {
                    //    dDisc = parseFloat((val.aritemdtlamt * val.aritemdtldiscvalue) / 100);
                    //} else {
                    //    dDisc = parseFloat(val.aritemdtldiscvalue);
                    //}
                    //val.aritemdtldiscamt = dDisc;
                    //val.aritemdtlnetto = val.aritemdtlamt - dDisc;
                    if (!IsOnDtl(val.mrrawdtloid)) {
                        rows.push([
                            JSON.stringify(val),
                            i++,
                            val.porawno,
                            val.aprawdtlres1,
                            val.aprawdtlres2,
                            val.mrrawno,
                            val.matrawcode,
                            val.matrawlongdesc,
                            val.aprawqty,
                            val.aprawunit,
                            val.aprawprice,
                            val.aprawdtlamt,
                            val.aprawdtldiscamt,
                            val.aprawdtlnetto,
                            '<input type="text" class="form-control" style="max-width: 150px" id="aprawdtlnote-' + i + '" name="aprawdtlnote-' + i + '" value="' + (val.aprawdtlnote == null ? "" : val.aprawdtlnote) + '">',
                            '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                        ]);
                    }
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                    EnabledHeader();
                    ClearDetail();
                    CountHdrAmount();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
        SetDataDtl();
    }

    function IsOnDtl(mrrawdtloid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (mrrawdtloid == alldata.mrrawdtloid) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var aprawdtlnote_id = "#aprawdtlnote-" + (i + 1);
            var aprawdtlnote = table.$(aprawdtlnote_id).val();
            var obj = {
                aprawdtlseq: i + 1,
                porawno: alldata.porawno,
                porawdtloid: alldata.porawdtloid,
                porawmstoid: alldata.porawmstoid,
                mrrawmstoid: alldata.mrrawmstoid,
                mrrawno: alldata.mrrawno,
                porawno: alldata.porawno,
                mrrawdtloid: alldata.mrrawdtloid,
                matrawoid: alldata.matrawoid,
                matrawcode: alldata.matrawcode,
                matrawlongdesc: alldata.matrawlongdesc,
                aprawunit: alldata.aprawunit,
                aprawunitoid: alldata.aprawunitoid,
                aprawqty: alldata.aprawqty,
                aprawprice: alldata.aprawprice,
                aprawdtlamt: alldata.aprawdtlamt,
                aprawdtldisctype: alldata.aprawdtldisctype,
                aprawdtldiscvalue: alldata.aprawdtldiscvalue,
                aprawdtldiscamt: alldata.aprawdtldiscamt,
                aprawdtlnetto: alldata.aprawdtlnetto,
                aprawdtltaxamt: alldata.aprawdtltaxamt,
                aprawdtlres1: alldata.aprawdtlres1,
                aprawdtlres2: alldata.aprawdtlres2,
                aprawdtlnote: aprawdtlnote
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    $("#btnSave").click(function () {
        SetDataDtl();
    });

    $("#btnSaveClose").click(function () {
        $("#closing").val("true");
        $("#btnSave").click();
    });

    $("#btnDelete").click(function () {
        var oid = $("#aprawmstoid").val();
        var cmp = $("#cmpcode").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnSendForApproval").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for APPROVAL?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#aprawmststatus").val("In Approval");
                    $("#closing").val("true");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>