﻿@model RSA.Models.DB.QL_mstdriver

@{
    ViewBag.Title = "Driver";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Driver</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Form Driver</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.drivoid)
                        @Html.HiddenFor(model => model.drivres1)
                        @Html.HiddenFor(model => model.drivres1)
                        @Html.HiddenFor(model => model.drivres3)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label ">Driver Type</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.drivtypeoid, null, new { @class = "form-control select2", @required = "" })

                                        </div>
                                    </div>
                                </div>
                               
                               
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Driver Code<label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.drivcode, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "",@maxlength=20 } })
                                            @Html.ValidationMessageFor(model => model.drivcode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Name<label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.drivname, new { htmlAttributes = new { @class = "form-control", @type = "text", @style = "width:300px", @maxlength = 50} })
                                            @Html.ValidationMessageFor(model => model.drivname, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Address</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.drivaddr, new { htmlAttributes = new { @class = "form-control", @type = "text", @style = "width:300px", @maxlength = 100} })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label ">City</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.drivcityoid, null, new { @class = "form-control select2", @required = "" })

                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Phone 1</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.drivphone1, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = 20} })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Phone 2</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.drivphone2, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = 20 } })

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                               
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">ID Card No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.drivcardno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = 30} })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">ID Card Address</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.drivcardaddr, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = 100 } })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">ID Card City</label>
                                        <div class="col-md-4" >
                                            @Html.DropDownListFor(model => model.drivcardcityoid, null, new { @class = "form-control select2", @required = "" })

                                        </div>
                                        @*<div class="col-md-1">
                                                <label class="text-red">(mail@sample.com)</label>
                                            </div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">License Type</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.drivlictypeoid, null, new { @class = "form-control select2", @required = "" })

                                        </div>
                                    </div>
                                </div>
                               <div class="col-md-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">License No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.drivlicno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = 30} })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">License Expired Date<label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.drivlicexpdate, new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text", @required = ""} })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.drivlicexpdate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Note</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.drivnote, new { htmlAttributes = new { @class = "form-control", @type = "text", @style = "width:300px",@maxlength=100} })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(m => m.activeflag, new List<SelectListItem>
                                            {
                                                 new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                                 new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                                            }, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                        </div>
                    </div>

                                                // USER & TOMBOL ACTION
                  <div class="box-footer">
                      <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))                          @{
                                          if (ViewBag.action == "Update Data")
                                          {
                                            <br />
                                            @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                          }
                                     }
                        </div>
                        <div class="pull-right">

                              <button type="submit" class="btn btn-success btn-md"><b>Save</b></button>
                              <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                     @{
                                           if (ViewBag.action == "Update Data")
                                           {
                                             <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                           }
                                      }
                         </div>
                    </div>


                                                                // AKHIR USER & TOMBOL ACTION
              }
            </div>
        </div>
    </div>


</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">

    $(document).ready(function () {
        function jsDate(jsDate) {
            if (jsDate == null) {
                return "";
            }
            var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
            return myDate;
        }
        $("#btnDelete").click(function () {
            var oid = $("#drivoid").val();
            var cmp = $("#cmpcode").val();

            var token = $('input[name="__RequestVerificationToken"]').val()
            Swal({
                title: 'Are you sure to DELETE this data?',
                text: "Deleted data can't be returned!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                confirmButtonText: 'Yes, Delete this data!'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: "POST",
                        url: "@(Url.Action("Delete"))",
                        data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
            })
        });
    });
</script>





































