﻿@model IEnumerable<RSA.Models.DB.QL_mstdriver>

@{
    ViewBag.Title = "Driver";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>List Of Driver</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <p>
                        @Html.ActionLink("Create New", "Form")
                    </p>
                </div>
                <div class="box-body">
                    @*@Html.Hidden("DisplayCol")*@
                    <div class="row">
                        @*<div class="col-md-12">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@ViewBag.DDTitle <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li style="text-align: right;"><a href="Index">All Editable Data</a></li>
                                            <li style="text-align: right;"><a href="Index?filter=PW">Editable Data In Past Week</a></li>
                                            <li style="text-align: right;"><a href="Index?filter=PM">Editable Data In Past Month</a></li>
                                            <li style="text-align: right;"><a href="#" role="button" data-toggle="modal" data-target="#modal-custom-filter">Custom Filter</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>*@
                        <div class="col-md-12">
                            <table id="datatable" class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th class="text-center">Code</th>
                                        <th class="text-center">Name</th>
                                        <th class="text-center">Address</th>
                                        <th class="text-center">License Expired Date</th>
                                     </tr>
                                </thead>
                                <tbody>
                                    @{
                                        //MIS_MVC.Models.QL_MIS_INTEREntities db = new MIS_MVC.Models.QL_MIS_INTEREntities();
                                        foreach (var i in Model)
                                        {
                                            <tr>
                                                <td class="text-center"><a href="Form/@Html.DisplayFor(m => i.drivoid)" class="text-primary">@Html.DisplayFor(m => i.drivcode)</a></td>
                                                <td class="text-center">@Html.DisplayFor(m => i.drivname)</td>
                                                <td class="text-center">@Html.DisplayFor(m => i.drivaddr)</td>
                                                <td class="text-center">@(i.drivlicexpdate.Value.ToString("MM/dd/yyyy"))</td>
                                              
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-custom-filter">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Custom Filter</h4>
                </div>
                <form action="Index" method="post" class="form-horizontal">
                    <div class="modal-body">
                        @Html.Hidden("filter", "CF")
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">From</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("filterperiodfrom", new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">To</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("filterperiodto", new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("filterstatus", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="ALL", Value="ALL" },
                                                new SelectListItem { Text="In Process", Value="In Process" },
                                                new SelectListItem { Text="In Approval", Value="In Approval" },
                                                new SelectListItem { Text="Post", Value="Post" },
                                                new SelectListItem { Text="Approved", Value="Approved" },
                                                new SelectListItem { Text="Rejected", Value="Rejected" },
                                                new SelectListItem { Text="Revised", Value="Revised" },
                                                new SelectListItem { Text="Cancel", Value="Cancel" },
                                                new SelectListItem { Text="Closed", Value="Closed" }
                                            }, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success btn-md" id="btnGo"><b>Go</b></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>



































@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.drivtypeoid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.drivcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.drivname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.drivaddr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.drivcityoid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.drivphone1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.drivphone2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.drivcardno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.drivcardaddr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.drivcardcityoid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.drivlictypeoid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.drivlicno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.drivlicexpdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.drivnote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.drivres1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.drivres2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.drivres3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.activeflag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createuser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createtime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.upduser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updtime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.drivtypeoid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.drivcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.drivname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.drivaddr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.drivcityoid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.drivphone1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.drivphone2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.drivcardno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.drivcardaddr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.drivcardcityoid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.drivlictypeoid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.drivlicno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.drivlicexpdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.drivnote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.drivres1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.drivres2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.drivres3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.activeflag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createuser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createtime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.upduser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updtime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>*@
