﻿@model RSA.Models.DB.QL_trnmritemmst

@{
    ViewBag.Title = "Penerimaan Barang Jadi";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Penerimaan Barang Jadi</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Penerimaan Barang Jadi Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.mritemmstres1)
                        @Html.HiddenFor(model => model.mritemmstres2)
                        @Html.HiddenFor(model => model.mritemmstres3)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Date</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.mritemdate, new { htmlAttributes = new { @class = "form-control datemask2", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                             </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Draft No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.mritemmstoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">MR No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.mritemno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Supplier</label>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    @Html.Editor("suppname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                    <span class="input-group-btn">
                                                        <button type="button" id="btnsearchsupp" class="btn btn-flat" data-toggle="modal" data-target="#modal-supp">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                                @Html.HiddenFor(model => model.suppoid)
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">PO. No.</label>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    @Html.Editor("poitemno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                    <span class="input-group-btn">
                                                        <button type="button" id="btnsearchpo" class="btn btn-flat" data-toggle="modal" data-target="#modal-po">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                                @Html.HiddenFor(model => model.poitemmstoid)
                                                @Html.HiddenFor(model => model.curroid)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Warehouse</label>
                                        <div class="col-md-8">
                                            @*@Html.DropDownList("mritemwhoid", null, new { @class = "form-control"})*@
                                            @Html.DropDownListFor(model => model.mritemwhoid, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.mritemmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.mritemmststatus } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.mritemmstnote, new { @class = "form-control", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.mritemmstnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>Penerimaan Barang Jadi Detail</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.Hidden("seq")
                        <div class="container-fluid">
                            <div class="pull-left">
                                <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Add Material</b></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No.</th>
                                        <th></th>
                                        <th>PO No.</th>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th>Reg. Qty</th>
                                        <th>MR Qty</th>
                                        <th>Unit</th>
                                        <th>Detail Note</th>
                                        @*<th>Rak</th>*@
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                if (Model.mritemmststatus == "In Process" | Model.mritemmststatus == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                    <button type="submit" class="btn btn-primary btn-md" id="btnSaveClose"><b>Save & Close</b></button>
                                    if (ViewBag.action == "Update Data")
                                    {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                    }
                                    <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Post</b></button>
                                }
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                            }
                        </div>
                    </div>
                    
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">PO Detail Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>PO No.</th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>PO. Qty</th>
                                    <th>MR Qty</th>
                                    <th>Unit</th>
                                    <th>Detail Note</th>
                                    @*<th>Rak</th>*@
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@

    @* MODAL UNTUK GANTI MATERIAL *@
    <div class="modal fade" id="modal-mat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">PO Detail Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>PO No.</th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>PO. Qty</th>
                                    <th>Unit</th>
                                    @*<th>Rak</th>*@
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK GANTI MATERIAL *@


    @* MODAL UNTUK SUPPLIER *@
    <div class="modal fade" id="modal-supp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Supplier</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Supplier Code</th>
                                    <th>Supplier Name</th>
                                    <th>Supplier Address</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SUPPLIER *@

    @* MODAL UNTUK REG *@
    <div class="modal fade" id="modal-po">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of PO</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalPO" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Reg. No.</th>
                                    <th>Reg. Date</th>
                                    <th>Doc. Ref. No.</th>
                                    @*<th>Doc. Ref. Date</th>*@
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK REG *@
</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
            EnabledHeader();
        });
        table.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });
        tblModalDtl.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        var tblModalMat = $("#tblModalMat").DataTable({
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        tblModalMat.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        //tblModalDtl.on("click", ".dp", function (e) {
        //    $(this).datepicker({
        //        format: 'mm/dd/yyyy',
        //        todayHighlight: true,
        //        autoclose: true
        //    });
        //});

        $("#tblModalSupp").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        $("#cmpcode").change(function () {
            //Clear Supp
            $("#suppname").val("");
            $("#suppoid").val(0);
            //Clear Reg
            $("#poitemno").val("");
            $("#registermstoid").val("");
            $("#registerflag").val("");
            $("#poitemdate").val("");
            $("#curroid").val("");

            FillDDLWarehouse()
        });

        var tblModalSupp = $("#tblModalSupp").DataTable();
        tblModalSupp.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSupp.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#suppname").val(alldata.suppname);
            $("#suppoid").val(alldata.suppoid);
            $('#modal-supp').modal('hide');
            //Clear Reg
            $("#poitemno").val("");
            $("#poitemmstoid").val("");
            $("#poitemtype").val("");
            $("#poitemdate").val("");
            $("#curroid").val("");
        });

        $("#tblModalPO").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        var tblModalPO = $("#tblModalPO").DataTable();
        tblModalPO.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalPO.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#poitemno").val(alldata.poitemno);
            $("#poitemmstoid").val(alldata.poitemmstoid);
            $("#poitemtype").val(alldata.poitemtype);
            $("#poitemdate").val(alldata.poitemdate);
            $("#curroid").val(alldata.curroid);
            $('#modal-po').modal('hide');

        });

        FillDDLWarehouse()
        FillDetailData();

    })

    function FillDDLWarehouse() {
        var cmp = $("#cmpcode option:selected").val();
        var mritemwhoid = $("#mritemwhoid");
        var mritemwhoid_sel = $("#mritemwhoid option:selected").val();
        mritemwhoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLWarehouse"))",
            data: { cmp: cmp },
        cache: false,
        type: "POST",
        success: function (data) {
            var markup = "";
            if (data.result == "sukses") {
                var isExist = false;
                $.each(data.tbl, function (key, val) {
                    markup += "<option value=\'" + val.genoid + "\'>" + val.gendesc + "</option>";
                    if (val.genoid == mritemwhoid_sel) {
                        isExist = true;
                    }
                });
                console.log(data.tbl);
                mritemwhoid.html(markup).show();
                if (isExist == true) {
                    mritemwhoid.val(mritemwhoid_sel);
                }
                mritemwhoid.trigger('change');
            } else {
                mritemwhoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
        error: function (err) {
            console.log(err);
        }
    });
    }


    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.mritemdtlseq,
                    '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                    val.poitemno,
                    val.itemcode,
                    val.itemlongdesc,
                    val.poitemqty,
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="mritemqty-' + val.mritemdtlseq + '" name="mritemqty-' + val.mritemdtlseq + '" value="' + val.mritemqty + '">',
                    val.mritemunit,
                    '<input type="text" class="form-control" style="max-width: 150px" id="mritemdtlnote-' + val.mritemdtlseq + '" name="mritemdtlnote-' + val.mritemdtlseq + '" value="' + val.mritemdtlnote + '">',
                    //val.location,
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                EnabledHeader();
            }, 100);
        });
    }


    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        $("#cmpcode").attr("readonly", bVal);
        $("#btnsearchsupp").attr("disabled", bVal);
        $("#btnsearchpo").attr("disabled", bVal);
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    $("#btnsearchsupp").click(function () {
        var table = $('#tblModalSupp').DataTable();
        var cmp = $("#cmpcode").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSuppData"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.suppcode,
                        val.suppname,
                        val.suppaddr
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnsearchpo").click(function () {
        if (($('#suppoid').val() == 0) || ($('#suppoid').val() == '') || ($('#suppoid').val() == null)) {
            Swal(
               'Please Select Supplier First!',
               '',
               'warning'
                );
            return false
        }
        var table = $('#tblModalPO').DataTable();
        var cmp = $("#cmpcode").val();
        var suppoid = $('#suppoid').val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetPOData"))",
            data: { cmp: cmp, suppoid: suppoid},
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.poitemno,
                    moment(jsDate(val.poitemdate)).format('MM/DD/YYYY'),
                    val.poitemdocrefno,
                    //moment(jsDate(val.registerdocrefdate)).format('MM/DD/YYYY'),
                    val.poitemmstnote
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    $("#btnAddToList").click(function () {
        if (($('#suppoid').val() == 0) || ($('#suppoid').val() == '') || ($('#suppoid').val() == null)) {
            Swal(
               'Please Select Supplier First!',
               '',
               'warning'
                );
            return false
        }
        if (($('#poitemmstoid').val() == 0) || ($('#poitemmstoid').val() == '') || ($('#poitemmstoid').val() == null)) {
            Swal(
               'Please Select PO. No. First!',
               '',
               'warning'
                );
            return false
        }
        else {
            var table = $('#tblModalDtl').DataTable();
            var cmp = $("#cmpcode").val();
            var poitemmstoid = $("#poitemmstoid").val();
            var suppoid = $('#suppoid').val();
            var mritemmstoid = $("#mritemmstoid").val();
            var mritemwhoid = $("#mritemwhoid option:selected").val();
            table.column(1).checkboxes.deselect();
            table.clear().draw();
            $.ajax({
                url: "@(Url.Action("GetDataDetails"))",
                data: { cmp: cmp, poitemmstoid: poitemmstoid, suppoid: suppoid, mritemmstoid: mritemmstoid, mritemwhoid: mritemwhoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        ++i,
                        val.poitemno,
                        val.itemcode,
                        val.itemlongdesc,
                        val.poitemqty,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="mritemqty-' + i + '" name="mritemqty-' + i + '" value="' + val.mritemqty + '">',
                         val.mritemunit,
                        '<input type="text" class="form-control" style="max-width: 150px" id="mritemdtlnote-' + i + '" name="mritemdtlnote-' + i + '" value="' + val.mritemdtlnote + '">'
                        //val.location
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
    });

    function IsOnDtl(registerdtloid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (registerdtloid == alldata.registerdtloid) {
                return true;
            }
        }
        return false;
    }

    function AddToDetail() {
        var isValid = true;
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid) {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                var mritemqty_id = "#mritemqty-" + val;
                var mritemdtlnote_id = "#mritemdtlnote-" + val;
                var mritemqty = table.$(mritemqty_id).val();
                var mritemdtlnote = table.$(mritemdtlnote_id).val();
                if (!IsOnDtl(alldata.registerdtloid)) {
                    var id = tbldtl.rows().data().length + 1;
                    var obj = {
                        mritemdtlseq: id,
                        poitemdtloid: alldata.poitemdtloid,
                        poitemno: alldata.poitemno,
                        itemoid: alldata.itemoid,
                        itemcode: alldata.itemcode,
                        itemlongdesc: alldata.itemlongdesc,
                        itemlimitqty: alldata.itemlimitqty,
                        poitemqty: alldata.poitemqty,
                        mritemqty: mritemqty,
                        mritemunitoid: alldata.mritemunitoid,
                        mritemunit: alldata.mritemunit,
                        mritemdtlnote: mritemdtlnote,
                        poqty: alldata.poqty,
                        mritemvalue : alldata.mritemvalue,
                        location: alldata.location
                    };
                    tbldtl.row.add([
                        JSON.stringify(obj),
                        id,
                        '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                        alldata.poitemno,
                        alldata.itemcode,
                        alldata.itemlongdesc,
                        alldata.poitemqty,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="mritemqty-' + id + '" name="mritemqty-' + id + '" value="' + mritemqty + '" >',
                        alldata.mritemunit,
                        '<input type="text" class="form-control" style="max-width: 150px" id="mritemdtlnote-' + id + '" name="mritemdtlnote-' + id + '" value="' + mritemdtlnote + '">',
                        //alldata.location,
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                }
            }
        })
        SetDataDtl();
        EnabledHeader();
    }

    $('#DataDtl').on('click', '#edit', function () {
        var tbldtl = $('#DataDtl').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = tbldtl.row($tr).data();
        var alldata = JSON.parse(data[0]);
        $("#seq").val(alldata.mritemdtlseq - 1);
        $('#modal-mat').modal('show');

        var table = $('#tblModalMat').DataTable();
        var cmp = $("#cmpcode option:selected").val();
        var registermstoid = $("#registermstoid").val();
        var suppoid = $('#suppoid').val();
        var mritemmstoid = $("#mritemmstoid").val();
        var mritemwhoid = $("#mritemwhoid option:selected").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmp: cmp, registermstoid: registermstoid, suppoid: suppoid, mritemmstoid: mritemmstoid, mritemwhoid: mritemwhoid },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.poitemno,
                        val.itemcode,
                        val.itemlongdesc,
                        val.poitemqty,
                         val.mritemunit,
                        val.location
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
       });
    });

    $("#tblModalMat").on('click', '#select', function () {
        var table = $('#tblModalMat').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = table.row($tr).data();
        var alldata = JSON.parse(data[0]);

        var tbldtl = $('#DataDtl').DataTable();
        var datadtl = tbldtl.row($('#seq').val()).data();
        var alldatadtl = JSON.parse(datadtl[0]);

        if (!IsOnDtl(alldata.registerdtloid)) {
        var obj = {
            mritemdtlseq: parseInt($('#seq').val()) + 1,
            registerdtloid: alldata.registerdtloid,
            poitemno: alldata.poitemno,
            itemoid: alldata.itemoid,
            itemcode: alldata.itemcode,
            itemlongdesc: alldata.itemlongdesc,
            itemlimitqty: alldata.itemlimitqty,
            poitemqty: alldata.poitemqty,
            mritemqty: alldata.mritemqty,
            mritemunitoid: alldata.mritemunitoid,
            mritemunit: alldata.mritemunit,
            mritemdtlnote: alldata.mritemdtlnote,
            regqty: alldata.regqty,
            mritemvalue : alldata.mritemvalue,
            location: alldata.location
        };

        datadtl[0] = JSON.stringify(obj);
        datadtl[3] = alldata.poitemno;
        datadtl[4] = alldata.itemcode;
        datadtl[5] = alldata.itemlongdesc;
        datadtl[6] = alldata.poitemqty;
        datadtl[8] = alldata.mritemunit;
        datadtl[10] = alldata.location;

        tbldtl.row($('#seq').val()).data(datadtl).invalidate();
        $('#modal-mat').modal('hide');
    }
    else
            Swal(
              'This ' + alldata.itemlongdesc + ' Already in Table',
              '',
              'warning'
               );
    return false
    });


    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var mritemqty_id = "#mritemqty-" + (i + 1);
            var mritemdtlnote_id = "#mritemdtlnote-" + (i + 1);
            var mritemqty = table.$(mritemqty_id).val();
            var mritemdtlnote = table.$(mritemdtlnote_id).val();
            var obj = {
                mritemdtlseq: i + 1,
                poitemdtloid: alldata.poitemdtloid,
                poitemno: alldata.poitemno,
                itemoid: alldata.itemoid,
                itemcode: alldata.itemcode,
                itemlongdesc: alldata.itemlongdesc,
                itemlimitqty: alldata.itemlimitqty,
                poitemqty: alldata.poitemqty,
                mritemqty: mritemqty,
                mritemunitoid: alldata.mritemunitoid,
                mritemunit: alldata.mritemunit,
                mritemdtlnote: mritemdtlnote,
                poqty: alldata.poqty,
                mritemvalue: alldata.mritemvalue,
                location: alldata.location

            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
        dataType: "text",
        contentType: "application/json; charset=utf-8",
        processData: false
    });
    }


    $("#btnSave").click(function () {
        SetDataDtl();
    });

    $("#btnSaveClose").click(function () {
        $("#closing").val("true");
        $("#btnSave").click();
    });

    $("#btnPost").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for Post?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#mritemmststatus").val("Post");
                    $("#closing").val("true");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

    $("#btnDelete").click(function () {
        var oid = $("#mritemmstoid").val();
        var cmp = $("#cmpcode option:selected").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

</script>