﻿@model IEnumerable<RSA.Controllers.JobCostingMOController.womst>

@{
    ViewBag.Title = "SPK Box";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //var servertime = MIS_MVC.Controllers.ClassFunction.GetServerTime();
}

<section class="content-header">
    <h1>List SPK Box</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <p>
                        @Html.ActionLink("Create New", "Form")
                    </p>
                </div>
                <div class="box-body">
                    @Html.Hidden("isCollapse")
                    @Html.Partial("~/Views/Shared/_FilterList.cshtml")
                    <div class="row">
                        
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th class="text-center">Draft No.</th>
                                        <td>Divisi</td>
                                        <th>SPK No.</th>
                                        <th class="text-center">Date</th>
                                        <th>SO No.</th>
                                        <th>FG Code</th>
                                        <th>FG Description</th>
                                        <th>Qty SPK</th>
                                        <th>Status SPK</th>
                                        <th>Posted By</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var i in Model)
                                        {
                                            <tr>
                                                <td class="text-center"><a href="Form/@Html.DisplayFor(m => i.womstoid)" class="text-primary">@Html.DisplayFor(m => i.womstoid)</a></td>
                                                <td>@Html.DisplayFor(m => i.divgroup)</td>
                                                <td>@Html.DisplayFor(m => i.wono)</td>
                                                <td class="text-center">@i.wodate.ToString("MM/dd/yyyy")</td>
                                                <td>@Html.DisplayFor(m => i.soitemno)</td>
                                                <td>@Html.DisplayFor(m => i.itemcode)</td>
                                                <td>@Html.DisplayFor(m => i.itemlongdesc)</td>
                                                <td class="text-right">@Html.DisplayFor(m => i.spkqty)</td>
                                                <td class="text-right">@Html.DisplayFor(m => i.womststatus)</td>
                                                <td class="text-right">@Html.DisplayFor(m => i.postuser)</td>
                                                <td class="text-center"><button title="Print" type="button" class="btn btn-sm btn-primary" onclick="PrintReport(@Html.DisplayFor(m => i.womstoid))"><i class="fa fa-print"> @Html.DisplayFor(m => i.countprint)</i></button></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var isvisible = false;
        var displaycol = $('#DisplayCol').val();
        if (displaycol == "normal")
            isvisible = true;
        $('#datatable').DataTable ({
            "columnDefs": [
                {
                    "targets": [1],
                    "visible": isvisible,
                    "searchable": isvisible
                }
            ]
        });
    });

  
    function PrintReport(id) {
        window.location.assign("@Url.Action("PrintReport")/" + id );
    }
</script>