﻿@model RSA.Models.DB.QL_trnconfirmmst

@{
    ViewBag.Title = "Prodres Sheet Confirmation";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    string CompnyCode = Session["CompnyCode"].ToString();
}

<section class="content-header">
    <h1>Form @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b> @ViewBag.Title Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.HiddenFor(model => model.postappuser)
                        @Html.HiddenFor(model => model.postapptime)
                        @Html.HiddenFor(model => model.divgroupoid)
                        @Html.HiddenFor(model => model.womstoid)
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Draft</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.confirmmstoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Serah Terima</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.confirmno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Divisi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("ddldivgroupoid", null, new { @class = "form-control", @required = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Serah Terima <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.confirmdate, new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Prrodres No <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("prodresno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchspk" class="btn btn-flat" data-toggle="modal" data-target="#modal-spk">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.prodresmstoid)
                                            @Html.ValidationMessageFor(model => model.prodresmstoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Gudang <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.confirmwhoid, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Catatan Header</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.confirmmstnote, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.confirmmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b> @ViewBag.Title Detail</b></h3>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="container-fluid">
                                @Html.Hidden("confirmdtlseq")
                                <div class="row">
                                    <div class="pull-left">
                                        <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Tambah Data Detail</b></button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="overflow-x: auto;">
                                        <table id="tbl_dtl" class="table table-striped" style="width: 100%">
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // BAGIAN DETAIL 2
                    <div class="box-header">
                        <h3 class="box-title"><b> Generate Bahan Penolong</b></h3>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="container-fluid">
                                @Html.Hidden("confirmdtlseq")
                                <div class="row">
                                    <div class="pull-left">
                                        <button type="button" class="btn btn-primary" id="btnAddToList2"><b>Generate BP</b></button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="overflow-x: auto;">
                                        <table id="tbl_dtl2" class="table table-striped" style="width: 100%">
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL 2

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @(Html.DisplayFor(m => m.createtime))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Terakhit Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                    </div>
                    <div class="pull-right">
                        @{
                            if (Model.confirmmststatus == "In Process")
                            {
                                <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                                <button type="button" class="btn btn-primary btn-md" id="btnSaveClose"><b>Simpan & Tutup</b></button>
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Batal</b></a>
                                if (ViewBag.action == "Update Data")
                                {
                                    <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Hapus</b></button>
                                }
                                <button type="button" class="btn btn-warning btn-md" id="btnPosting"><b>Posting</b></button>
                            }
                            else
                            {
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Batal</b></a>
                            }
                        }
                    </div>
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Realisasi Proses</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Tambahkan ke Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@

    @* MODAL UNTUK GANTI ITEM *@
    <div class="modal fade" id="modal-item">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Realisasi Proses</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalItem" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No. Produksi</th>
                                    <th>No SPK</th>
                                    <th>No SO</th>
                                    <th>Nama Barang</th>
                                    <th>Customer</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK GANTI ITEM *@

    @* MODAL UNTUK FINISH GOOD *@
    <div class="modal fade" id="modal-spk">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">SPK Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalspk" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Prodres no</th>
                                    <th>Item</th>
                                    <th>Prodres note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FINISH GOOD *@
</section>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@*<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "columns": [
                { data: 'confirmdtlseq', name: 'confirmdtlseq', orderable: false, checkboxes: { selectRow: false } },
                { data: 'prodresno', name: 'prodresno', title: 'No Produksi' },
                { data: 'itemlongdesc', name: 'itemlongdesc', title: 'Description' },
                { data: 'prodresqty', name: 'prodresqty', title: 'Qty Produksi', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : '<span class="money">' + data + '</span>'; } },
                { data: 'confirmqty', name: 'confirmqty', title: 'Qty Confirm', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'confirmqty', ' money', '', "width:110px;"); } },
                { data: 'rejectqty', name: 'rejectqty', title: 'Qty Reject', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'rejectqty', ' money', '', "width:110px;"); } },
                { data: 'confirmunit', name: 'confirmunit', title: 'Batch No' },
                { data: 'confirmdtlnote', name: 'confirmdtlnote', title: 'Note', render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'confirmdtlnote', ' ', '', "width:150px;"); } },
            ],
            "select": {
                "style": 'multi'
            },
            "order": []
        });
        tblModalDtl.on("draw", function () {
            $('#tblModalDtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tblModalDtl .select2').select2();
        });

        tbl_dtl = $('#tbl_dtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columns": [
                { data: null, name: 'edit', "width": "60px", render: function (data) { return '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon"><i class="fa fa-edit"></i></button>' } },
                { data: 'confirmdtlseq', name: 'confirmdtlseq', title: 'No.' },
                { data: 'prodresno', name: 'prodresno', title: 'No Produksi' },
                { data: 'itemlongdesc', name: 'itemlongdesc', title: 'Description' },
                { data: 'prodresqty', name: 'prodresqty', title: 'Qty Produksi', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : '<span class="money">' + data + '</span>'; } },
                { data: 'confirmqty', name: 'confirmqty', title: 'Qty Confirm', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'confirmqty', ' money', '', "width:110px;"); } },
                { data: 'rejectqty', name: 'rejectqty', title: 'Qty Reject', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'rejectqty', ' money', '', "width:110px;"); } },
                { data: 'confirmunit', name: 'confirmunit', title: 'Batch No' },
                { data: 'confirmdtlnote', name: 'confirmdtlnote', title: 'Note', render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'confirmdtlnote', ' ', '', "width:150px;"); } },
                { data: null, name: 'remove', "width": "60px", render: function (data) { return '<button type="button" class="btn btn-danger btn-xs btn-icon remove" title="Hapus"><i class="fa fa-times"></i></button>' } },
            ],
        });
        tbl_dtl.on("draw", function () {
            $('#tbl_dtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tbl_dtl .select2').select2();
        });

        tbl_dtl2 = $('#tbl_dtl2').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columns": [
                { data: 'conwipseq', name: 'conwipseq', title: 'No.' },
                { data: 'prodresno', name: 'prodresno', title: 'No Produksi' },
                { data: 'flute', name: 'flute', title: 'Flute' },
                { data: 'itemlongdesc', name: 'itemlongdesc', title: 'Description' },
                { data: 'matrawlongdesc', name: 'matrawlongdesc', title: 'Bahan Penolong' },
                { data: 'qty', name: 'qty', title: 'Total Luas', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : '<span class="money">' + data + '</span>'; } },
                { data: 'price', name: 'price', title: 'Price BP', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : '<span class="money">' + data + '</span>'; } },
                { data: 'amt', name: 'amt', title: 'Total BP', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : '<span class="money">' + data + '</span>'; } },
            ],
        });
        tbl_dtl2.on("draw", function () {
            $('#tbl_dtl2 .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tbl_dtl2 .select2').select2();
        });

        $("#tblModalspk").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        var tblModalspk = $("#tblModalspk").DataTable();
        tblModalspk.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalspk.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#prodresmstoid").val(alldata.prodresmstoid);
            $("#prodresno").val(alldata.prodresno);
            $("#womstoid").val(alldata.womstoid);
            $("#divgroupoid").val($('#ddldivgroupoid option:Selected').val());
            $('#modal-spk').modal('hide');
        });

        var tblModalItem = $("#tblModalItem").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalItem.on("draw", function () {
            $('#tblModalItem .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
        });

        if ($('#action').val() == "Update Data") {
            FillDetailData();
        }
    });
    function generateinput(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        return '<input type="text" class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '" value="' + value + '"' + addAttr + '> '
    };
    function generateselect(value, name, dataopt, addAttr) {
        if (addAttr == null) { addAttr = "" }
        var option = "<option value=\'" + 0 + "\' data_val=\'[]\'> - </option>";
        $.each(dataopt, function (key, obj) {
            var selected = "";
            if (obj.Value == value)
                selected = ' selected'
            option += "<option value=\'" + obj.Value + "\'" + selected + " data_val=\'" + JSON.stringify(obj) + "\'>" + obj.Text + "</option>";
        });
        return '<select class="form-control select2" name="' + name + '" style="margin: -6px; padding: 6px;"' + addAttr + '>' + option + '</select>'
    };
    function generatetextarea(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        if (value == null) { value = "" }
        if (value.indexOf("\n") >= 0) {
            addAttr += ' rows="2"';
        } else addAttr += ' rows="1"';
        return '<textarea class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '"' + addAttr + '>' + value + '</textarea>'
    };

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    $("#btnsearchspk").click(function () {
        var divgroupoid = $('#ddldivgroupoid option:selected').val();
        var table = $('#tblModalspk').DataTable();
        var cmp = $('#cmpcode').val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetProdresData"))",
            data:{cmp:cmp ,divgroupoid:divgroupoid},
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.prodresno,
                        val.itemlongdesc,
                        val.prodresqty,
                        val.prodresmstnote
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    var url_GetDataDetails = "@(Url.Action("GetDataDetails"))";
    $("#btnAddToList").click(function () {
        var cmp = $("#cmpcode").val();
        var divgroupoid = $("#ddldivgroupoid option:selected").val();
        var prodresmstoid = $("#prodresmstoid").val();
        if (prodresmstoid == '') {
            swal('', 'Silahkan Pilih Nomer Prod Result', 'warning');
            return false;
        }
        tblModalDtl.column(0).checkboxes.deselect();
        tblModalDtl.clear().draw();
        $.ajax({
            url: url_GetDataDetails,
            data: { cmp: cmp, prodresmstoid: prodresmstoid },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var rows = []
                    $.each(data.tbl, function (key, val) {
                        val.confirmdtlseq = key + 1;
                        rows.push(val)
                    });
                    tblModalDtl.rows.add(rows);
                    tblModalDtl.columns.adjust().draw();
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });
    $('#tblModalDtl').on('blur', 'input:text, textarea', function (e) {
        setData(this, tblModalDtl)
        e.preventDefault();
    });
    function AddToDetail() {
        var rowsel = tblModalDtl.column(0).checkboxes.selected();
        if (!rowsel.length) {
            return Swal('', 'Please select Item first!', 'warning');
        }
        var rows = []
        var id = tbl_dtl.data().length + 1;
        $.each(rowsel, function (key, val) {
            var obj = copyObject(tblModalDtl.row(val - 1).data());
            if (!IsOnDtl(obj.prodresmstoid)) {
                obj.adjdtlseq = id++;
                rows.push(obj);
            }
        });
        tbl_dtl.rows.add(rows);
        tbl_dtl.columns.adjust().draw();
        CountHdrAmount();
        EnabledHeader();
        $('#modal-detail').modal('hide');
    };

    function IsOnDtl(prodresmstoid) {
        for (var i = 0 ; i < tbl_dtl.data().length; i++) {
            var alldata = tbl_dtl.row(i).data();
            if (prodresmstoid == alldata.prodresmstoid) {
                return true;
            }
        }
        return false;
    }

    var url_FillDetailData = "@(Url.Action("FillDetailData"))";
    function FillDetailData() {
        var id = $('#confirmmstoid').val();
        tbl_dtl.clear().draw();
        $.ajax({
            url: url_FillDetailData,
            data: { id },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tbl_dtl.rows.add(data.dtl);
                    tbl_dtl.columns.adjust().draw();
                    tbl_dtl2.rows.add(data.dtl2);
                    tbl_dtl2.columns.adjust().draw();
                    EnabledHeader();
                } else {
                    swal('', data.result, 'error');
                    return false;
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                return false;
            }
        });
    };
    $('#tbl_dtl').on('blur', 'input:text, textarea', function (e) {
        setData(this, tbl_dtl)
        e.preventDefault();
    });
    $('#tbl_dtl').on('click', '.remove', function (e) {
        $tr = $(this).closest('tr');
        tbl_dtl.row($tr).remove().draw();
        //Mengurutkan nomor
        for (var i = 0; i < tbl_dtl.data().length; i++) {
            tbl_dtl.cell(i, 'confirmdtlseq:name').data(i + 1).invalidate();
        }
        CountHdrAmount();
        EnabledHeader();
        e.preventDefault();
    });
    $('#tbl_dtl').on('click', '#edit', function (e) {
        $('#modal-item').modal('show');
        $tr = $(this).closest('tr');
        var alldata = tbl_dtl.row($tr).data();
        var table = $('#tblModalItem').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetailSPK"))",
            data: { womstoid: alldata.womstoid },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var rows = [];
                    var i = 0;
                    $.each(data.tbl, function (key, val) {
                        rows.push([
                            JSON.stringify(val),
                            '',
                            val.prodresno,
                            val.wono,
                            val.sono,
                            val.itemlongdesc,
                            val.custname
                        ]);
                    });
                    table.rows.add(rows).draw();
                } else {
                    swal('', data.result, 'error');
                    return false;
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                return false;
            }
        });
        e.preventDefault();
    });

    function setData($this, tbl) {
        $tr = $($this).closest('tr');
        $td = $($this).closest('td');

        var attrname = $($this).attr('name');
        var value = $($this).val();
        if ($($this).hasClass('money')) {
            value = tNumber(value);
        }
        if (value == tbl.cell($tr, $td).data())
            return true;
        tbl.cell($tr, $td).data(value).invalidate();

        var obj = tbl.row($tr).data();
        if (attrname == "confirmqty") {
            //obj.adjqty = obj.adjqtyafter - obj.adjqtybefore;
            //tbl.cell($tr, 'adjqty:name').data(obj.adjqty).invalidate();
            tbl_dtl2.clear().draw();
        }
        tbl.draw();
        CountHdrAmount();

        $td.find('.money').inputmask('decimal', {
            autoGroup: true,
            groupSeparator: ",",
            removeMaskOnSubmit: true,
            autoUnmask: true
        });
        $td.find('.select2').select2();
    };

    var url_GetDataDetails2 = "@(Url.Action("GetDataDetails2"))";
    $("#btnAddToList2").click(function () {
        var cmp = $("#cmpcode").val();
        var divgroupoid = $("#ddldivgroupoid option:selected").val();
        var prodresmstoid = $("#prodresmstoid").val();
        if (prodresmstoid == '') {
            swal('', 'Silahkan Pilih Nomer Prod Result', 'warning');
            return false;
        }
        var dtl = [];
        for (var i = 0 ; i < tbl_dtl.data().length; i++) {
            var alldata = tbl_dtl.row(i).data();
            dtl.push(alldata);
        }
        tbl_dtl2.clear().draw();
        $.ajax({
            url: url_GetDataDetails2,
            data: { dtl: dtl },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var rows = []
                    $.each(data.tbl, function (key, val) {
                        val.conwipseq = key + 1;
                        rows.push(val)
                    });
                    tbl_dtl2.rows.add(rows);
                    tbl_dtl2.columns.adjust().draw();
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });

    function CountHdrAmount() {

    }

    function EnabledHeader() {
        var bVal = tbl_dtl.data().length > 0;

        $("#ddldivgroupoid").attr("readonly", bVal);
        $("#btnsearchspk").prop("disabled", bVal);
    }

    var url_Form = "@(Url.Action("Form"))";
    var url_Index = "@(Url.Action("Index"))";
    $("#btnSave").click(function () {
        event.preventDefault();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var mst = $('form').serializeArray();
        var tbl = {};
        jQuery.map(mst, function (n, i) {
            tbl[n.name] = n.value;
        });
        var action = $('#action').val();

        var dtl = [];
        for (var i = 0 ; i < tbl_dtl.data().length; i++) {
            var alldata = tbl_dtl.row(i).data();
            dtl.push(alldata);
        }

        var dtl2 = [];
        for (var i = 0 ; i < tbl_dtl2.data().length; i++) {
            var alldata = tbl_dtl2.row(i).data();
            dtl2.push(alldata);
        }

        $.ajax({
            type: "POST",
            url: url_Form,
            data: { __RequestVerificationToken: token, tbl: tbl, dtl: dtl, dtl2: dtl2, action: action },
            success: function (data) {
                if (data.result == 'success') {
                    Swal('Data has been saved!', data.msg, 'success').then((result) => {
                        if (result.value) {
                            location.replace("@(Url.Action("Index"))");
                        }
                    });
                } else {
                    Swal('Save data failed!', data.msg, 'error');
                    $("#confirmmststatus").val("In Process");
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $("#confirmmststatus").val("In Process");
            }
        });
    });

    $("#btnSaveClose").click(function () {
        $("#closing").val("true");
        $("#btnSave").click();
    });

    $("#btnDelete").click(function () {
        var id = $("#confirmmstoid").val();
        var cmp = $("#cmpcode").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Apakah Anda yakin untuk menghapus data ini?',
            text: "Data yang sudah dihapus tidak dapat dikembalikan lagi",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Ya, Hapus Data Ini!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: id, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal('Data sudah dihapus!', '', 'success');
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal('Data gagal dihapus!', data.msg, 'error');
                        }
                    },
                    error: function (err) {
                        swal('', err.responseText, 'error');
                    }
                });
            }
        })
    });

    $("#btnPosting").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Apakah Anda yakin untuk memposting data ini?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Ya, Post Data Ini!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#confirmmststatus").val("Post");
                    $("#closing").val("true");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>