﻿@model IEnumerable<RSA.Controllers.ProdResConfirmSheetController.confirmmst>

@{
    ViewBag.Title = "Prodres Confirmation Sheet";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>List Prodres Sheet Confirmation</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
               
                <div class="box-body">
                    <div class="box-body">
                        <p>
                            @Html.ActionLink("Create New", "Form", null, new { @class = "btn btn-primary" })
                        </p>
                    </div>
                   @Html.Hidden("isCollapse")
                @Html.Partial("~/Views/Shared/_FilterList.cshtml")
                    <div class="row">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th>No. Draft</th>
                                        <td>Divisi</td>
                                        <th>No. Serah Terima</th>
                                        <th>Tgl Serah Terima</th>
                                        <th>Gudang</th>
                                        <th>Status</th>
                                        <th>Catatan</th>
                                        @*<th></th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var i in Model)
                                        {
                                            <tr>
                                                <td class="text-center"><a href="Form?id=@Html.DisplayFor(m => i.confirmmstoid)&cmp=@Html.DisplayFor(m => i.cmpcode)" class="text-primary">@Html.DisplayFor(m => i.confirmmstoid)</a></td>
                                                <td>@Html.DisplayFor(m => i.divgroup)</td>
                                                <td>@Html.DisplayFor(m => i.confirmno)</td>
                                                <td class="text-center">@i.confirmdate.ToString("MM/dd/yyyy")</td>
                                                <td>@Html.DisplayFor(m => i.confirmwh)</td>
                                                <td class="text-center">@Html.DisplayFor(m => i.confirmmststatus)</td>
                                                <td>@Html.DisplayFor(m => i.confirmmstnote)</td>
                                                @*<td class="text-center"><a href="PrintReport/@Html.DisplayFor(m => i.confirmmstoid)/@Html.DisplayFor(m => i.cmpcode)" class="btn btn-sm btn-primary"><i class="fa fa-print"></i></a></td>*@
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
    
    });
</script>