﻿@model RSA.Models.DB.QL_mstsparepart

@{
    ViewBag.Title = "Sparepart";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    string CompnyCode = System.Configuration.ConfigurationManager.AppSettings["CompnyCode"];
}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Header Sparepart
        </h1>

    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary form-horizontal">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                                    <!-- /.box-header -->
                        <div class="box-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.cmpcode)
                            @Html.HiddenFor(model => model.sparepartoid)
                            @Html.HiddenFor(model => model.upduser)
                            @Html.HiddenFor(model => model.updtime)
                            @Html.HiddenFor(model => model.createuser)
                            @Html.HiddenFor(model => model.createtime)
                            @Html.Hidden("action")
                            <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
                            @*<form action="#" method="post" role="form">                                
                            </form>*@

                            <div class="box-body">
                                <div class="row">
                                    <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                                </div>
                                @*===== Baris ke 1 =====*@
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Kategori 1</label>
                                        <div class="col-md-5">
                                            @Html.DropDownListFor(model => model.cat1oid, null, new { @id = "cat1oid", @class = "form-control select2", @onchange = "cat1change()" })
                                            @Html.ValidationMessageFor(model => model.cat1oid, "", new { @id = "cat1oid", @class = "text-danger" })
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-4">Kategori 2</label>
                                        <div class="col-md-5">
                                            @Html.DropDownListFor(model => model.cat2oid, null, new { @id = "cat2oid", @class = "form-control select2", @onchange = "cat2change()" })
                                            @Html.ValidationMessageFor(model => model.cat2oid, "", new { @id = "cat2oid", @class = "text-danger" })
                                        </div>
                                    </div>

                                </div><br>
                                @*===== Baris ke 2 =====*@
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Kategori 3</label>
                                        <div class="col-md-5">
                                            @Html.DropDownListFor(model => model.cat3oid, null, new { @id = "cat3oid", @class = "form-control select2", @onchange = "cat3change()" })
                                            @*@Html.ValidationMessageFor(model => model.cat3oid, "", new { @id = "cat3oid", @class = "text-danger" })*@
                                        </div>
                                    </div>                                    
                                </div><br>                               
                                @*===== Baris ke 3 =====*@
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Kode <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.sparepartcode, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "30" } })
                                            @Html.ValidationMessageFor(model => model.sparepartcode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div><br>
                                @*===== Baris ke 4 =====*@
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Nama Pendek</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.sparepartshortdesc, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-4">Nama Panjang <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.sparepartlongdesc, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "250" } })
                                            @Html.ValidationMessageFor(model => model.sparepartlongdesc, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div><br>
                                @*===== Baris ke 5 =====*@
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Satuan</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.sparepartunitoid, null, new { @id = "sparepartunitoid", @class = "form-control select2" })
                                            @Html.ValidationMessageFor(model => model.sparepartunitoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-4">SKU <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.sparepartsku, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                            @Html.ValidationMessageFor(model => model.sparepartsku, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div><br>
                                @*===== Baris ke 6 =====*@
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Stok Aman <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.sparepartsafetystock, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "" } })
                                            @Html.ValidationMessageFor(model => model.sparepartsafetystock, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-4">Rounding Qty <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.sparepartlimitqty, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "" } })
                                            @Html.ValidationMessageFor(model => model.sparepartlimitqty, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div><br>
                                @*===== Baris ke 7 =====*@
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Lokasi <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.sparepartlocoid, null, new { @id = "sparepartlocoid", @class = "form-control select2" })
                                            @Html.ValidationMessageFor(model => model.sparepartlocoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div><br>
                                @*===== Baris ke 8 =====*@
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Gambar Lokasi </label>
                                        <div class="col-md-8">
                                            <input type="file" id="sparepartpictureloc" alt="Submit" class="m-t-10 flex-c-m sizefull color1 s-text1 trans-0-4 " width="100%" onchange="previewImage1(this);">
                                            @Html.HiddenFor(model => model.sparepartpictureloc, new { @class = "form-control", @id = "picturepath" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-4">Gambar Barang </label>
                                        <div class="col-md-8">
                                            <input type="file" id="sparepartpicturemat" alt="Submit" class="m-t-10 flex-c-m sizefull color1 s-text1 trans-0-4 " width="100%" onchange="previewImage2(this);">
                                            @Html.HiddenFor(model => model.sparepartpicturemat, new { @class = "form-control", @id = "picturepath" })
                                        </div>
                                    </div>
                                </div><br>
                                @*===== Baris ke 9 =====*@
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-md-8">
                                            @{ 
                                                var src1 = Html.DisplayFor(model => model.sparepartpictureloc).ToString();
                                                if (!File.Exists(Server.MapPath(src1)))
                                                {
                                                    src1 = "~/Content/dist/img/preview.png";
                                                }
                                            }
                                            <img src="@Url.Content(src1)" alt="IMG-PRODUCT" id="image-preview1" width="50%" height="50%">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-8">
                                            @{ 
                                                var src2 = Html.DisplayFor(model => model.sparepartpicturemat).ToString();
                                                if (!File.Exists(Server.MapPath(src2)))
                                                {
                                                    src2 = "~/Content/dist/img/preview.png";
                                                }
                                            }
                                            <img src="@Url.Content(src2)" alt="IMG-PRODUCT" id="image-preview2" width="50%" height="50%">
                                        </div>
                                    </div>
                                </div><br>
                                @*===== Baris ke 9 =====*@
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Catatan </label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.sparepartnote, htmlAttributes: new { @class = "form-control", @type = "text", @maxlength = "100" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-4">Status </label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.activeflag, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                                new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                                              }, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                                <br>
                                @*===== Baris ke 10 =====*@
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Harga PO Terkahir <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.sparepartlastpoprice, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = ""} })
                                            @Html.ValidationMessageFor(model => model.sparepartlastpoprice, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-4">Harga Beli Rata-Rata<label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.sparepartavgpurchase, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = ""} })
                                            @Html.ValidationMessageFor(model => model.sparepartavgpurchase, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div><br>
                                @*===== Baris ke 11 =====*@
                                <div class="row">                                    
                                    <div class="col-md-12">
                                        <label class="col-md-12"><u>Ukuran<u></label>                                        
                                    </div>
                                </div><br>
                                @*===== Baris ke 12 =====*@
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Panjang </label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.sparepartlength, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                                <span class="input-group-addon">
                                                    <font style="color:red">mm</font>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-4">Luas </label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.sparepartwide, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                                <span class="input-group-addon">
                                                    <font style="color:red">mm2</font>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div><br>
                                @*===== Baris ke 13 =====*@
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Lebar </label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.sparepartwidth, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                                <span class="input-group-addon">
                                                    <font style="color:red">mm</font>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-4">Tinggi </label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.sparepartheight, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                                <span class="input-group-addon">
                                                    <font style="color:red">mm</font>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div><br>
                                @*===== Baris ke 14 =====*@
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Diameter </label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.sparepartdiameter, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                                <span class="input-group-addon">
                                                    <font style="color:red">mm</font>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-4">Volume </label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.sparepartvolume, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                                <span class="input-group-addon">
                                                    <font style="color:red">mm3</font>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div><br>
                            </div>
                        </div>

                        <div class="box-footer">
                            <div class="pull-left">
                                @{
                                    if (ViewBag.action == "Edit")
                                    {
                                        @:Created by @(Html.DisplayFor(model => model.createuser)) On @(Html.DisplayFor(model => model.createtime))
                                        @:<br /> Last Update by @(Html.DisplayFor(model => model.upduser)) On @(Html.DisplayFor(model => model.updtime))
                                    }
                                }
                            </div>
                            <div class="pull-right">
                                <button type="submit" name="action" value="@(ViewBag.action)" class="btn btn-success btn-md"><b>Simpan</b></button>
                                <a href="#" class="btn btn-default">Batal</a>
                                <a href="@Url.Action("Index")" type="button" class="btn btn-primary btn-md"><b>Back</b></a>
                            </div>
                        </div>
                    }
                    <!-- /.box-body -->
                </div>
            </div>
        </div>

        @* MODAL UNTUK CUSTOMER *@
        <div class="modal fade" id="modal-supp">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Customer</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>Kode</th>
                                        <th></th>
                                        <th>Kode</th>
                                        <th>Nama</th>
                                        <th>Alamat</th>
                                        <th>Kota</th>
                                        <th>Telp.</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                    </div>
                </div>
            </div>
        </div>
        @* AKHIR MODAL UNTUK CUSTOMER *@
    </section>



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    function previewImage1(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image-preview1')
                .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    function previewImage2(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image-preview2')
                .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    $('#sparepartpictureloc').on('change', function (e) {
        var url = "@(Url.Action("UploadFileMat"))";
        var files = e.target.files;

        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: url,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {
                        console.log(data);
                        if (data.result == "Sukses") {
                            $('#sparepartpictureloc').val(data.picturepath);
                        }
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });

    $('#sparepartpicturemat').on('change', function (e) {
        var url = "@(Url.Action("UploadFileMat"))";
        var files = e.target.files;

        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: url,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {
                        console.log(data);
                        if (data.result == "Sukses") {
                            $('#sparepartpicturemat').val(data.picturepath);
                        }
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });
</script>

<script>
   $('#cat1oid').on('change', function () {
        //alert("aaaaa");
        fillDDLCat2();
    });

    function cat1change() {
        //alert("aaaaa");
        fillDDLcat2();
    }

    $('#cat2oid').on('change', function () {
        //alert("aaaaa");
        fillDDLCat3();
    });

    function cat2change() {
        //alert("aaaaa");
        fillDDLcat3();
    }
    
    //isi DDL cat2
    function fillDDLcat2() {
        var ddl = $("#cat2oid");
        var cat1 = $("#cat1oid").val();
        var cat2 = $("#cat2oid").val();
        if (cat1 == "" || cat1 == 0) {
            ddl.html("<option value=''> Pilih Kategori 1 dahulu </option>").show();
        } else {
            ddl.html("<option value=''> Please wait...</option>").show();
            $.ajax({
                url: "@(Url.Action("Getcat2"))",
                data: { cat1: cat1 },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = ""//"<option value=0>Pilih Province</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=\'" + data[x].Value + "\'>" + data[x].Text + "</option>";
                }
                ddl.html(markup).show();
                fillDDLcat3()
            },
            error: function (reponse) {
                alert("error fillDDLcat2 : " + reponse);
            }
        });
    }
    }

    //isi DDL cat3
    function fillDDLcat3() {
        var ddl = $("#cat3oid");
        var cat1 = $("#cat1oid").val();
        var cat2 = $("#cat2oid").val();
        if (cat1 == "" || cat1 == 0) {
            ddl.html("<option value=''> Pilih Kategori 1 dahulu </option>").show();
        }
        else if (cat2 == "" || cat2 == 0 || cat2 == null) {
            ddl.html("<option value=0>  </option>").show();
        } else {
            ddl.html("<option value=''> Please wait...</option>").show();
            $.ajax({
                url: "@(Url.Action("Getcat3"))",
                data: { cat1: cat1, cat2:cat2 },
                cache: false,
                type: "POST",
                success: function (data) {
                    var markup = ""//"<option value=0>Pilih Province</option>";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=\'" + data[x].Value + "\'>" + data[x].Text + "</option>";
                    }
                    ddl.html(markup).show();                    
                },
                error: function (reponse) {
                    alert("error fillDDLcat3 : " + reponse);
                }
            });
        }
    }    
</script>

<script language="javascript" type="text/javascript">
    function clickDelete() {
        var oid = $("#sparepartoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Apakah Anda yakin untuk menghapus data ini?',
            text: "Data yang sudah dihapus tidak akan bisa dikembalikan!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Ya, hapus data ini!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                success: function (data) {
                    if (data.result == 'sukses') {
                        Swal(
                          'Terhapus!',
                          'Data sudah dihapus.',
                          'success'
                        )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                          'Gagal menghapus data!',
                          data.msg,
                          'warning'
                        )
                    }

                },
                error: function (error) {
                    console.dir(error)
                }
            });

        }
        })
    }   

</script>