﻿@{
    ViewBag.Title = "Shipment " + ViewBag.FormType + " Report";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Shipment @ViewBag.FormType Report</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm("PrintReport", "ShipmentReport"))
                {
                    <div class="box-body">
                        <div class="container-fluid">
                            @Html.Hidden("FormType")
                            @Html.Hidden("MCBStatus_Tx")
                            @Html.Hidden("StartDate")
                            @Html.Hidden("EndDate")
                            @Html.Hidden("ReportType")
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLBusinessUnit", null, "ALL", new { @class = "form-control select2", @onchange = "ChangeBusinessUnit()" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Type</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLType", new List<SelectListItem>
                                            {
                                               new SelectListItem { Text = "Summary", Value = "Summary" },
                                               new SelectListItem { Text = "Detail", Value = "Detail" }
                                            }, new { @class = "form-control select2", @onchange = "ChangeType()" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-8">
                                            @{ 
                                                var i = 0;
                                                foreach (var st in ViewBag.MCBStatus)
                                                {
                                                    <label class="col-md-4 control-label text-sm">@Html.CheckBox("MCBStatus_" + i++, new { @class = "MCBStatus", @checked = "", @value = @st }) @st </label>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            @Html.DropDownList("DDLPeriod", new List<SelectListItem>
                                            {
                                               new SelectListItem { Text = "Create Date", Value = "shm.createtime" },
                                               new SelectListItem { Text = "Approval Date", Value = "som.approvaldatetime" }
                                            }, new { @class = "form-control select2" })
                                        </label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("TextPeriod", new { htmlAttributes = new { @class = "form-control daterangepicker", @type = "text" } })
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Divisi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("ddldivgroupoid", null, new { @class = "form-control", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextCustomer", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchcust" class="btn btn-link" data-toggle="modal" data-target="#modal-cust">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Driver</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextDriver", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchdriv" class="btn btn-link" data-toggle="modal" data-target="#modal-driv">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Vehicle</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextVehicle", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchvhc" class="btn btn-link" data-toggle="modal" data-target="#modal-vhc">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">DO No.</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextDO", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchdo" class="btn btn-link" data-toggle="modal" data-target="#modal-do">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                           
                            <div class="row" id="divfordtl3" style="display: none;">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Warehouse</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLWarehouse", null, "ALL", new { @class = "form-control select2"})
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                                <div class="row" id="divfordtl4" style="display: none;">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">
                                                @Html.DropDownList("DDLShipment", new List<SelectListItem>
                                            {
                                               new SelectListItem { Text = "Shipment No.", Value = "Shipment No." },
                                               new SelectListItem { Text = "Draft No.", Value = "Draft No." }
                                            }, new { @class = "form-control select2" })
                                            </label>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    @Html.TextArea("TextShipment", new { @class = "form-control" })
                                                    <span class="input-group-btn">
                                                        <button type="button" id="btnsearchsh" class="btn btn-link" data-toggle="modal" data-target="#modal-sh"><i class="fa fa-search"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Grouping</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLGrouping", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="Shipment", Value="shm.Shipmentrawno" },
                                                new SelectListItem { Text="Customer", Value="c.custname" },
                                                new SelectListItem { Text="Driver", Value="driv.drivname" }
                                            }, new { @class = "form-control select2", @onchange = "ChangeGroup()" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Sorting</label>
                                            <div class="col-md-4">
                                                @Html.DropDownList("DDLSorting", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="Shipment No.", Value="shm.Shipmentrawno" },
                                                new SelectListItem { Text="Customer", Value="c.custname" },
                                                new SelectListItem { Text="Driver", Value="driv.drivname" },
                                                new SelectListItem { Text="ETA", Value="shm.Shipmentraweta" },
                                                new SelectListItem { Text="ETD", Value="shm.Shipmentrawetd" },
                                            }, new { @class = "form-control select2" })
                                            </div>
                                            <div class="col-md-4">
                                                @Html.DropDownList("DDLOrderBy", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="ASC", Value="ASC" },
                                                new SelectListItem { Text="DESC", Value="DESC" }
                                            }, new { @class = "form-control select2" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                    <div class="text-center">
                        <button type="submit" id="btnSubmit" style="display: none;">Submit</button>
                        <button type="button" id="btnViewReport" class="btn btn-primary btn-md"><b>View Report</b></button>
                        <button type="button" id="btnExportPDF" class="btn btn-danger btn-md"><b>Export to PDF</b></button>
                        <button type="button" id="btnExportExcel" class="btn btn-success btn-md"><b>Export to Excel</b></button>
                        <a href="@Url.Action("Report/" + ViewBag.FormType.Replace(" ", ""))" type="button" class="btn btn-default btn-md"><b>Clear</b></a>
                    </div>
                }
            </div>
            </div>
        </div>
        
    <div class="row">
        <div class="col-md-12">
            <iframe id="ReportFrame" src="" style="border: none; width: 100%; height: 1000px;"></iframe>
        </div>
    </div>

    @* MODAL UNTUK PR *@
    <div class="modal fade" id="modal-pr">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">PR @ViewBag.FormType Data</h4>
                    @Html.Hidden("total-pr")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalPR" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterPR()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK PR *@

    @* MODAL UNTUK MATERIAL *@
    <div class="modal fade" id="modal-mat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">@ViewBag.FormType Data</h4>
                    @Html.Hidden("total-mat")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterMat()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK MATERIAL *@

    @* MODAL UNTUK CUSTOMER *@
    <div class="modal fade" id="modal-cust">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Customer Data</h4>
                    @Html.Hidden("total-cust")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCust" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterCust()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK CUSTOMER *@

    @* MODAL UNTUK DRIVER *@
    <div class="modal fade" id="modal-driv">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Driver Data</h4>
                    @Html.Hidden("total-driv")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDriv" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterDriv()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK DRIVER *@
    @* MODAL UNTUK VEHICLE *@
    <div class="modal fade" id="modal-vhc">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Vehicle Data</h4>
                    @Html.Hidden("total-vhc")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterVhc()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK VEHICLE *@
    @* MODAL UNTUK DO *@
    <div class="modal fade" id="modal-do">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">DO @ViewBag.FormType Data</h4>
                    @Html.Hidden("total-do")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDO" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterDO()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK DO *@
    @* MODAL UNTUK Shipment *@
    <div class="modal fade" id="modal-sh">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Shipment @ViewBag.FormType Data</h4>
                    @Html.Hidden("total-sh")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSH" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterSh()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK Shipment *@
</section>

@* Ketiga script ini harus ada di semua view *@
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    @* Digunakan untuk merubah isi DDLWAREHOUSE berdasarkan DDLBusinessUnit yg dipilih *@
    function ChangeBusinessUnit() {
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var DDLWarehouse = $('#DDLWarehouse');
        $.ajax({
            url: "@(Url.Action("InitDDLWarehouse"))",
            data: { DDLBusinessUnit: DDLBusinessUnit },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var markup = "<option value=\'\'>ALL</option>";
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.genoid + "\'>" + val.gendesc + "</option>";
                    });
                    DDLWarehouse.html(markup).show();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    }

    function ChangeType() {
        var DDLType = $('#DDLType').val();
        var markupdate = "<option value=\'shm.createtime\'>Create Date</option><option value=\'som.approvaldatetime\'>Approval Date</option>";
        var markupgroup = "<option value=\'shm.Shipmentrawno\'>Shipment</option><option value=\'c.custname\'>Customer</option><option value=\'driv.drivname\'>Driver</option>"
        var markupsort = "<option value=\'shm.Shipmentrawno\'>Shipment No.</option><option value=\'c.custname\'>Customer</option><option value=\'driv.drivname\'>Driver</option><option value=\'shm.Shipmentraweta\'>ETA</option><option value=\'shm.Shipmentrawetd\'>ETD</option>";
        if (DDLType == "Summary") {
            $('#divfordtl').hide();
            $('#divfordtl2').hide();
            $('#divfordtl3').hide();
            $('#divfordtl4').hide();
        } else {
            $('#divfordtl').show();
            $('#divfordtl2').show();
            $('#divfordtl3').show();
            $('#divfordtl4').show();
            markupdate += "<option value=\'som.shipmentrawdate\'>Stuffing Date</option>";
            markupgroup += "<option value=\'i.matrawcode\'>Material Code</option><option value=\'g3.gendesc\'>Warehouse</option>";
            markupsort += "<option value=\'i.matrawcode\'>Material Code</option><option value=\'g3.gendesc\'>Warehouse</option>";
        }
        $('#DDLPeriod').html(markupdate).show();
        $('#DDLSorting').html(markupsort).show();
        $('#DDLGrouping').html(markupgroup).show();
        $('#DDLGrouping').val($('#DDLGrouping option:first').val()).trigger('change');

    }

    function ChangeGroup() {
        var DDLGrouping = $('#DDLGrouping').val();
        var markupsort = "<option value=\'shm.Shipmentrawno\'>Shipment No.</option><option value=\'c.custname\'>Customer</option><option value=\'driv.drivname\'>Driver</option><option value=\'shm.Shipmentraweta\'>ETA</option><option value=\'shm.Shipmentrawetd\'>ETD</option><option value=\'i.matrawcode\'>Material Code</option><option value=\'g3.gendesc\'>Warehouse</option>";
        if (DDLGrouping == "c.custname") {
            markupsort = "<option value=\'shm.Shipmentrawno\'>Shipment No.</option><option value=\'driv.drivname\'>Driver</option><option value=\'shm.Shipmentraweta\'>ETA</option><option value=\'shm.Shipmentrawetd\'>ETD</option><option value=\'i.matrawcode\'>Material Code</option><option value=\'g3.gendesc\'>Warehouse</option>";
        } else if (DDLGrouping == "i.matrawcode") {
            markupsort = "<option value=\'shm.Shipmentrawno\'>Shipment No.</option><option value=\'c.custname\'>Customer</option><option value=\'driv.drivname\'>Driver</option><option value=\'shm.Shipmentraweta\'>ETA</option><option value=\'shm.Shipmentrawetd\'>ETD</option><option value=\'g3.gendesc\'>Warehouse</option>";
        } else if (DDLGrouping == "g3.gendesc") {
            markupsort = "<option value=\'shm.Shipmentrawno\'>Shipment No.</option><option value=\'c.custname\'>Customer</option><option value=\'driv.drivname\'>Driver</option><option value=\'shm.Shipmentraweta\'>ETA</option><option value=\'shm.Shipmentrawetd\'>ETD</option><option value=\'i.matrawcode\'>Material Code</option>";
        } else if (DDLGrouping == "driv.drivname") {
            markupsort = "<option value=\'shm.Shipmentrawno\'>Shipment No.</option><option value=\'c.custname\'>Customer</option><option value=\'shm.Shipmentraweta\'>ETA</option><option value=\'shm.Shipmentrawetd\'>ETD</option><option value=\'i.matrawcode\'>Material Code</option><option value=\'g3.gendesc\'>Warehouse</option>";
        }
        $('#DDLSorting').html(markupsort).show();
    }

    $("#btnsearchcust").click(function () {
        var FormType = $('#FormType').val();
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $('#DDLPeriod').val();
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            MCBStatus = MCBStatus.substring(0, MCBStatus.length - 3);

        $.ajax({
            url: "@(Url.Action("GetCustomerData"))",
            data: { FormType: FormType, DDLBusinessUnit: DDLBusinessUnit, StartDate: StartDate, EndDate: EndDate, DDLPeriod: DDLPeriod, MCBStatus: MCBStatus },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var table = $("#tblModalCust").DataTable();
                    table.destroy();
                    $("#tblModalCust").empty();

                    var cols = [];
                    $.each(data.tblcols, function (key, val) {
                        var obj = { title: val };
                        cols.push(obj);
                    });

                    var rows = [];
                    var total = 0;
                    $.each(data.tblrows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                        total++;
                    });

                    $('#total-cust').val(total);
                    if (total > 0) {
                        table = $("#tblModalCust").DataTable({
                            "columns": cols,
                            "data": rows,
                            "deferRender": true,
                            "columnDefs": [
                                {
                                    "targets": 0,
                                    "checkboxes": {
                                        "selectRow": false
                                    }
                                }
                            ],
                            "select": {
                                "style": 'multi'
                            },
                            "order": [[1, 'asc']]
                        });
                    }

                } else {
                    swal('', data.result, 'error');
                    $('#modal-cust').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-cust').modal('hide');
            }
        });
    });

    function AddToFilterCust() {
        var ind = 1;

        if (parseInt($('#total-cust').val()) > 0) {
            var result = $("#TextCustomer").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalCust').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextCustomer").val(result);
        }
    }

    $("#btnsearchdriv").click(function () {
        var FormType = $('#FormType').val();
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $('#DDLPeriod').val();
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            MCBStatus = MCBStatus.substring(0, MCBStatus.length - 3);
        var TextCustomer = $('#TextCustomer').val();
        $.ajax({
            url: "@(Url.Action("GetDriverData"))",
            data: { FormType: FormType, DDLBusinessUnit: DDLBusinessUnit, StartDate: StartDate, EndDate: EndDate, DDLPeriod: DDLPeriod, MCBStatus: MCBStatus, TextCustomer: TextCustomer },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var table = $("#tblModalDriv").DataTable();
                    table.destroy();
                    $("#tblModalDriv").empty();

                    var cols = [];
                    $.each(data.tblcols, function (key, val) {
                        var obj = { title: val };
                        cols.push(obj);
                    });

                    var rows = [];
                    var total = 0;
                    $.each(data.tblrows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                        total++;
                    });

                    $('#total-driv').val(total);
                    if (total > 0) {
                        table = $("#tblModalDriv").DataTable({
                            "columns": cols,
                            "data": rows,
                            "deferRender": true,
                            "columnDefs": [
                                {
                                    "targets": 0,
                                    "checkboxes": {
                                        "selectRow": false
                                    }
                                }
                            ],
                            "select": {
                                "style": 'multi'
                            },
                            "order": [[1, 'asc']]
                        });
                    }

                } else {
                    swal('', data.result, 'error');
                    $('#modal-driv').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-driv').modal('hide');
            }
        });
    });

    function AddToFilterDriv() {
        var ind = 1;

        if (parseInt($('#total-Driv').val()) > 0) {
            var result = $("#TextDriver").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalDriv').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextDriver").val(result);
        }
    }

    $("#btnsearchvhc").click(function () {
        var FormType = $('#FormType').val();
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $('#DDLPeriod').val();
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            MCBStatus = MCBStatus.substring(0, MCBStatus.length - 3);
        var TextCustomer = $('#TextCustomer').val();
        $.ajax({
            url: "@(Url.Action("GetVehicleData"))",
            data: { FormType: FormType, DDLBusinessUnit: DDLBusinessUnit, StartDate: StartDate, EndDate: EndDate, DDLPeriod: DDLPeriod, MCBStatus: MCBStatus, TextCustomer: TextCustomer },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var table = $("#tblModalVhc").DataTable();
                    table.destroy();
                    $("#tblModalVhc").empty();

                    var cols = [];
                    $.each(data.tblcols, function (key, val) {
                        var obj = { title: val };
                        cols.push(obj);
                    });

                    var rows = [];
                    var total = 0;
                    $.each(data.tblrows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                        total++;
                    });

                    $('#total-vhc').val(total);
                    if (total > 0) {
                        table = $("#tblModalVhc").DataTable({
                            "columns": cols,
                            "data": rows,
                            "deferRender": true,
                            "columnDefs": [
                                {
                                    "targets": 0,
                                    "checkboxes": {
                                        "selectRow": false
                                    }
                                }
                            ],
                            "select": {
                                "style": 'multi'
                            },
                            "order": [[1, 'asc']]
                        });
                    }

                } else {
                    swal('', data.result, 'error');
                    $('#modal-vhc').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-vhc').modal('hide');
            }
        });
    });

    function AddToFilterVhc() {
        var ind = 1;

        if (parseInt($('#total-vhc').val()) > 0) {
            var result = $("#TextVehicle").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalVhc').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextVehicle").val(result);
        }
    }

    $("#btnsearchdo").click(function () {
        var FormType = $('#FormType').val();
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $('#DDLPeriod').val();
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            MCBStatus = MCBStatus.substring(0, MCBStatus.length - 3);
        var TextCustomer = $('#TextCustomer').val();
        var TextDriver = $('#TextDriver').val();
        var TextVehicle = $('#TextVehicle').val();
        $.ajax({
            url: "@(Url.Action("GetDOData"))",
            data: { FormType: FormType, DDLBusinessUnit: DDLBusinessUnit, StartDate: StartDate, EndDate: EndDate, DDLPeriod: DDLPeriod, MCBStatus: MCBStatus, TextCustomer: TextCustomer, TextDriver: TextDriver, TextVehicle: TextVehicle },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var table = $("#tblModalDO").DataTable();
                    table.destroy();
                    $("#tblModalDO").empty();

                    var cols = [];
                    $.each(data.tblcols, function (key, val) {
                        var obj = { title: val };
                        cols.push(obj);
                    });

                    var rows = [];
                    var total = 0;
                    $.each(data.tblrows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                        total++;
                    });

                    $('#total-do').val(total);
                    if (total > 0) {
                        table = $("#tblModalDO").DataTable({
                            "columns": cols,
                            "data": rows,
                            "deferRender": true,
                            "columnDefs": [
                                {
                                    "targets": 0,
                                    "checkboxes": {
                                        "selectRow": false
                                    }
                                }
                            ],
                            "select": {
                                "style": 'multi'
                            },
                            "order": [[1, 'asc']]
                        });
                    }

                } else {
                    swal('', data.result, 'error');
                    $('#modal-do').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-do').modal('hide');
            }
        });
    });

    function AddToFilterDO() {
        var ind = 2;

        if (parseInt($('#total-do').val()) > 0) {
            var result = $("#TextDO").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalDO').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextDO").val(result);
        }
    }

    $('#btnsearchsh').click(function () {
        var FormType = $('#FormType').val();
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $('#DDLPeriod').val();
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            MCBStatus = MCBStatus.substring(0, MCBStatus.length - 3);
        var TextCustomer = $('#TextCustomer').val();
        var TextDriver = $('#TextDriver').val();
        var TextVehicle = $('#TextVehicle').val();
        var DDLType = $('#DDLType').val();
        var TextDO = $('#TextDO').val();
        var DDLWarehouse = $('#DDLWarehouse').val();

        $.ajax({
            url: "@(Url.Action("GetShipmentData"))",
            data: { FormType: FormType, DDLBusinessUnit: DDLBusinessUnit, StartDate: StartDate, EndDate: EndDate, DDLPeriod: DDLPeriod, MCBStatus: MCBStatus, TextCustomer: TextCustomer, TextDriver: TextDriver, TextVehicle: TextVehicle, DDLType: DDLType, TextDO: TextDO, DDLWarehouse, DDLWarehouse },
        cache: false,
        type: "POST",
        success: function (data) {
            if (data.result == "") {
                var table = $('#tblModalSH').DataTable();
                table.destroy();
                $('#tblModalSH').empty();

                var cols = [];
                $.each(data.tblcols, function (key, val) {
                    var obj = { title: val };
                    cols.push(obj);
                });

                var rows = [];
                var total = 0;
                $.each(data.tblrows, function (key, val) {
                    var row = Object.values(val);
                    rows.push(row);
                    total++;
                });

                $('#total-sh').val(total);
                if (total > 0) {
                    table = $('#tblModalSH').DataTable({
                        "columns": cols,
                        "data": rows,
                        "deferRender": true,
                        "columnDefs": [
                            {
                                "targets": 0,
                                "checkboxes": {
                                    "selectRows": false
                                }
                            }
                        ],
                        "select": {
                            "style": 'multi'
                        },
                        "order": [[1, 'asc']]
                    });
                }

            } else {
                swal('', data.result, 'error');
                $('#modal-sh').modal('hide');
            }
        },
        error: function (err) {
            swal('', err.responseText, 'error');
            $('#modal-sh').modal('hide');
        }
    });
    })

    function AddToFilterSh() {
        var ind = 2;
        if ($("#DDLShipment option:selected").val() == "Draft No.")
            ind = 1;
        if (parseInt($('#total-sh').val()) > 0) {
            var result = $("#TextShipment").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalSH').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextShipment").val(result);
        }
    }

    $("#btnsearchmat").click(function () {
        var FormType = $('#FormType').val();
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $('#DDLPeriod').val();
        var MCBStatus = "";
        $('.MCBStatus').each(function () {
            if (this.checked) {
                MCBStatus += $(this).val() + "','";
            }
        })
        if (MCBStatus != "")
            MCBStatus = MCBStatus.substring(0, MCBStatus.length - 3);
        var TextCustomer = $('#TextCustomer').val();
        var TextDriver = $('#TextDriver').val();
        var TextVehicle = $('#TextVehicle').val();
        var DDLType = $('#DDLType').val();
        var TextDO = $('#TextDO').val();
        var DDLWarehouse = $('#DDLWarehouse').val();
        var TextShipment = $('#TextShipment').val();
        var DDLShipment = $('#DDLShipment').val();

        $.ajax({
            url: "@(Url.Action("GetMaterialData"))",
            data: { FormType: FormType, DDLBusinessUnit: DDLBusinessUnit, StartDate: StartDate, EndDate: EndDate, DDLPeriod: DDLPeriod, MCBStatus: MCBStatus, TextCustomer: TextCustomer, TextDriver: TextDriver, TextVehicle: TextVehicle, DDLType: DDLType, TextDO: TextDO, DDLWarehouse, DDLWarehouse, TextShipment: TextShipment, DDLShipment: DDLShipment },
        cache: false,
        type: "POST",
        success: function (data) {
            if (data.result == "") {
                var table = $("#tblModalMat").DataTable();
                table.destroy();
                $("#tblModalMat").empty();

                var cols = [];
                $.each(data.tblcols, function (key, val) {
                    var obj = { title: val };
                    cols.push(obj);
                });

                var rows = [];
                var total = 0;
                $.each(data.tblrows, function (key, val) {
                    var row = Object.values(val);
                    rows.push(row);
                    total++;
                });

                $('#total-mat').val(total);
                if (total > 0) {
                    table = $("#tblModalMat").DataTable({
                        "columns": cols,
                        "data": rows,
                        "deferRender": true,
                        "columnDefs": [
                            {
                                "targets": 0,
                                "checkboxes": {
                                    "selectRow": false
                                }
                            }
                        ],
                        "select": {
                            "style": 'multi'
                        },
                        "order": [[1, 'asc']]
                    });
                }

            } else {
                swal('', data.result, 'error');
                $('#modal-mat').modal('hide');
            }
        },
        error: function (err) {
            swal('', err.responseText, 'error');
            $('#modal-mat').modal('hide');
        }
    });
    });

    function AddToFilterMat() {
        var ind = 1;

        if (parseInt($('#total-mat').val()) > 0) {
            var result = $("#TextMaterial").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalMat').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextMaterial").val(result);
        }
    }

    $('#btnViewReport').click(function () {
        var FormType = $('#FormType').val();
            var DDLBusinessUnit = $('#DDLBusinessUnit').val();
            var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
            var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
            var DDLPeriod = $('#DDLPeriod').val();
            var MCBStatus = "";
            $('.MCBStatus').each(function () {
                if (this.checked) {
                    MCBStatus += $(this).val() + "','";
                }
            })
            if (MCBStatus != "")
                MCBStatus = MCBStatus.substring(0, MCBStatus.length - 3);
            var TextMaterial = $('#TextMaterial').val();
            var DDLGrouping = $('#DDLGrouping').val();
            var DDLSorting = $('#DDLSorting').val();
            var DDLOrderBy = $('#DDLOrderBy').val();
            var ReportType = "";
            var DDLType = $('#DDLType').val();
            var TextCustomer = $('#TextCustomer').val();
            var TextDriver = $('#TextDriver').val();
            var TextVehicle = $('#TextVehicle').val();
            var TextDO = $('#TextDO').val();
            var DDLWarehouse = $('#DDLWarehouse').val();
            var TextShipment = $('#TextShipment').val();
            var DDLShipment = $('#DDLShipment').val();
            var DDLdivgroupoid = $('#ddldivgroupoid option:selected').val();

            $.ajax({
                url: "@(Url.Action("PrintReport"))",
                data: { FormType: FormType, DDLBusinessUnit: DDLBusinessUnit, StartDate: StartDate, EndDate: EndDate, DDLPeriod: DDLPeriod, MCBStatus_Tx: MCBStatus, TextMaterial: TextMaterial, DDLGrouping: DDLGrouping, DDLSorting: DDLSorting, DDLOrderBy: DDLOrderBy, ReportType: ReportType, DDLType: DDLType, TextCustomer: TextCustomer, TextDriver: TextDriver, TextVehicle: TextVehicle, TextDO: TextDO, DDLWarehouse: DDLWarehouse, TextShipment: TextShipment, DDLShipment: DDLShipment, DDLdivgroupoid: DDLdivgroupoid },
                cache: false,
                type: "POST",
                success: function (data) {
                    $('#ReportFrame').attr("src", "@Url.Content("~/Other/ReportViewer.aspx?rptfile=")" + data.rptfile + "");
                    pleaseWaitDialog.show();
                },
                error: function (err) {
                    swal('', err.responseText, 'error');
                }
            });
        });

        $('#btnExportPDF').click(function () {
            $('#ReportType').val('PDF');
            $('#StartDate').val($('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY'));
            $('#EndDate').val($('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY'));
            var MCBStatus = "";
            $('.MCBStatus').each(function () {
                if (this.checked) {
                    MCBStatus += $(this).val() + "','";
                }
            })
            if (MCBStatus != "")
                $('#MCBStatus_Tx').val(MCBStatus.substring(0, MCBStatus.length - 3));
            $('#btnSubmit').click();
        });

        $('#btnExportExcel').click(function () {
            $('#ReportType').val('XLS');
            $('#StartDate').val($('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY'));
            $('#EndDate').val($('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY'));
            var MCBStatus = "";
            $('.MCBStatus').each(function () {
                if (this.checked) {
                    MCBStatus += $(this).val() + "','";
                }
            })
            if (MCBStatus != "")
                $('#MCBStatus_Tx').val(MCBStatus.substring(0, MCBStatus.length - 3));
            $('#btnSubmit').click();
        });

        $('#ReportFrame').on('load', function () {
            pleaseWaitDialog.hide();
        });
</script>