﻿@model IEnumerable<RSA.Controllers.PRGenMaterialController.prgenmst>

@{
    ViewBag.Title = "Permintaan Beli Gen Material";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //var servertime = RSA.Controllers.ClassFunction.GetServerTime();
}

<section class="content-header">
    <h1>List Permintaan Beli Gen Material</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
           
            <div class="box box-primary">
                <div class="box-body">
                    <div class="container-fluid row">
                        <a class="btn btn-success" href="Form">
                            <i class="fa fa-plus"></i> Create New
                        </a>
                    </div><br>
                </div>
                @Html.Hidden("isCollapse")
                @Html.Partial("~/Views/Shared/_FilterList.cshtml")
                <div class="box-body">
                    @Html.Hidden("DisplayCol")
                    <div class="row">

                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th>Draft No.</th>
                                        <th>Divisi</th>
                                        <th>PR No.</th>
                                        <th>Date</th>
                                        <th>Department</th>
                                        <th>Status</th>
                                        <th>Note</th>
                                        <th>Revise Reason</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var i in Model)
                                        {
                                            <tr>
                                                <td class="text-center"><a href="Form?id=@Html.DisplayFor(m => i.prgenmstoid)&cmp=@Html.DisplayFor(m => i.cmpcode)" class="text-primary">@Html.DisplayFor(m => i.prgenmstoid)</a></td>
                                                <td>@Html.DisplayFor(m => i.divgroup)</td>
                                                <td>@Html.DisplayFor(m => i.prgenno)</td>
                                                <td class="text-center">@i.prgendate.ToString("MM/dd/yyyy")</td>
                                                <td>@Html.DisplayFor(m => i.deptname)</td>
                                                <td class="text-center">@Html.DisplayFor(m => i.prgenmststatus)</td>
                                                <td>@Html.DisplayFor(m => i.prgenmstnote)</td>
                                                <td>@Html.DisplayFor(m => i.revisereason)</td>
                                                <td class="text-center"><a href="PrintReport/@Html.DisplayFor(m => i.prgenmstoid)" class="btn btn-sm btn-primary"><i class="fa fa-print"></i></a></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
       
    });
</script>