﻿@model RSA.Models.DB.QL_trnarrawmst

@{
    ViewBag.Title = "Piutang Sheet";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Piutang Sheet</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Piutang Raw Material Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.arrawmstres1)
                        @Html.HiddenFor(model => model.arrawmstres2)
                        @Html.HiddenFor(model => model.approvaldatetime)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.revisereason)
                        @Html.HiddenFor(model => model.reviseuser)
                        @Html.HiddenFor(model => model.revisetime)
                        @Html.HiddenFor(model => model.rejectreason)
                        @Html.HiddenFor(model => model.rejectuser)
                        @Html.HiddenFor(model => model.rejecttime)
                        @Html.HiddenFor(model => model.divgroupoid)
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        @Html.Hidden("lastseq")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Divisi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("ddldivgroupoid", null, new { @class = "form-control", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" style="display:none;">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @*@Html.DropDownListFor(model => model.cmpcode, null, new { @class = "form-control select2", @required = ""})
                                            @Html.ValidationMessageFor(model => model.cmpcode, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">PED Date <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.arrawdate, new { htmlAttributes = new { @class = "form-control datemask2 datepicker", @type = "text", @required = ""} })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.arrawdate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Piutang No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.arrawno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.arrawmstoid)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("custname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchcust" class="btn btn-flat" data-toggle="modal" data-target="#modal-cust">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.custoid)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Faktur Pajak</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.arrawfaktur, new { htmlAttributes = new { @class = "form-control", @type = "text"} })
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Currency</label>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(model => model.curroid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.curroid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Payment Type</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.arrawpaytypeoid, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Daily Rate To IDR</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model=>model.arrawratetoidr, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.rateoid)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Daily Rate To USD</label>
                                        <div class="col-md-6">
                                           @Html.EditorFor(model => model.arrawratetousd, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Monthly Rate To IDR</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.arrawrate2toidr, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.rate2oid)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Monthly Rate To USD</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.arrawrate2tousd, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>  
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Amt</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.arrawtotalamt, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Disc. Dtl Amt</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.arrawtotaldiscdtl, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model=>model.arrawtotaldisc)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Netto</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.arrawtotalnetto, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tax</label>
                                        <div class="col-md-3">
                                            @Html.DropDownList("taxtype", new List<SelectListItem>
                            {
                                    new SelectListItem { Text="TAX", Value="TAX" },
                                    new SelectListItem { Text="NON TAX", Value="NON TAX" }
                            }, new { @class = "form-control", @required = "", @disabled="" })
                                        </div>
                                        @Html.HiddenFor(model => model.arrawtaxtype)
                                        <div class="col-md-5">
                                            @Html.EditorFor(model=>model.arrawtaxvalue, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">VAT</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model=>model.arrawtaxamt, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Grand Total Amt</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.arrawgrandtotal, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Invoice No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.arrawmstres3, new { htmlAttributes = new { @class = "form-control", @type = "text"} })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Date Take Giro</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.arrawdatetakegiro, new { htmlAttributes = new { @class = "form-control datemask2 datepicker", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.arrawdatetakegiro, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.arrawmstnote, new { @class = "form-control", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.arrawmstnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.arrawmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.arrawmststatus } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="display:none;">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Approval User</label>
                                        <div class="col-md-8">
                                            @*@Html.DropDownListFor(model => model.approvalcode, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.approvalcode, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                            </div>                                      
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>Piutang Sheet Detail</b></h3>
                    </div>
                    <div class="box-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Shipment No. </label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("shipmentrawno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchshp" class="btn btn-flat" data-toggle="modal" data-target="#modal-shp">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        @Html.Hidden("shipmentrawmstoid")
                                        @Html.Hidden("shipmentrawetd")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No</th>
                                        <th>Shipment No</th>
                                        <th>ETD</th>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th>SKU</th>
                                        <th>Qty</th>
                                        <th>Unit</th>
                                        <th>Price</th>
                                        <th>Amount</th>
                                        <th>Disc. Amt.</th>
                                        <th>Netto</th>
                                        <th>Detail Note</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                if (Model.arrawmststatus == "In Process" | Model.arrawmststatus == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                    <button type="button" class="btn btn-primary btn-md" id="btnSaveClose"><b>Save & Close</b></button>
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                    if (ViewBag.action == "Update Data")
                                    {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                    }
                                    <button type="button" class="btn btn-warning btn-md" id="btnSendForApproval"><b>Send For Approval</b></button>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                }
                            }
                        </div>
                    </div>
                    
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM SHIPMENT *@
    <div class="modal fade" id="modal-shp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Shipment Raw Material</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalShp" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Shipment No.</th>
                                    <th>Stuffing Date</th>
                                    <th>DO No.</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM SHIPMENT *@

    @* MODAL UNTUK CUSTOMER *@
    <div class="modal fade" id="modal-cust">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Customer</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCust" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK CUSTOMER *@
</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }

            var id = table.row($tr).data()[1];
            var shipmentno = table.row($tr).data()[2];
            var data = table.rows().data();

            var j = 0;
            for (var i = 0 ; i < data.length; i++) {
                if (table.row(j).data()[2] == shipmentno) {
                    table.row(j).remove().draw();
                }
                else {
                    j++;
                }
            }

            SetDataDtl();
            FillDetailData();

            var data = table.rows().data();
            $('#lastseq').val(data.length);

            if (data.length == 0)
                $('#lastseq').val(0);

            e.preventDefault();
            ClearDetail();
            EnabledHeader();
            CountHdrAmount();
        });
        table.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        tblModalDtl.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        tblModalDtl.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        $("#tblModalCust").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        $("#tblModalShp").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalCust = $("#tblModalCust").DataTable();
        tblModalCust.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalCust.row($tr).data();
            var alldata = JSON.parse(data[0])
            var tbldtl = $('#DataDtl').DataTable();
            $("#custname").val(alldata.custname);
            $("#custoid").val(alldata.custoid);
            $("#arrawpaytypeoid").val(alldata.custpaymentoid).trigger("change");
            $("#divgroupoid").val($('#ddldivgroupoid option:Selected').val());
            EnableddivgroupHeader();
            if (alldata.custtaxable == 1) {
                $("#taxtype").prop('selectedIndex', 0);
                $("#arrawtaxvalue").val("11");
            } else {
                $("#taxtype").prop('selectedIndex', 1);
                $("#arrawtaxvalue").val("0");
            }
            $("#arrawtaxtype").val($("#taxtype option:selected").val());
            var datetakegiro = new Date($('#arrawdate').val());
            if (alldata.custpaymentoid != "") {
                var sNum = parseInt($("#arrawpaytypeoid").find('option:selected').text(), 10);
                if (isNaN(sNum)) {
                    sNum = 0;
                }
                datetakegiro.setDate(datetakegiro.getDate() + sNum);
                var date = ((datetakegiro.getMonth() + 1) < 10 ? '0' : '') + (datetakegiro.getMonth() + 1) + '/' + (datetakegiro.getDate() < 10 ? '0' : '') + datetakegiro.getDate() + '/' + datetakegiro.getFullYear();
                $("#arrawdatetakegiro").val(date);
            }
            $('#modal-cust').modal('hide');
        });

        var tblModalShp = $("#tblModalShp").DataTable();
        tblModalShp.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalShp.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#shipmentrawno").val(alldata.shipmentrawno);
            $("#shipmentrawmstoid").val(alldata.shipmentrawmstoid);
            $("#shipmentrawetd").val(alldata.shipmentrawetd);
            AddToDetail();
            $('#modal-shp').modal('hide');
        });

        $("#cmpcode").change(function () {
            InitDDLAppUser();
            ClearCust();
        });

        SetRateValue();
        $("#curroid").change(function () {
            SetRateValue();
        })
        $("#arrawdate").change(function () {
            SetRateValue();
        })

        $("#arrawpaytypeoid").attr("readonly", true);

        var datetakegiro = new Date($('#arrawdate').val());
        var sNum = parseInt($("#arrawpaytypeoid").find('option:selected').text(), 10);
        if (isNaN(sNum)) {
            sNum = 0;
        }
        datetakegiro.setDate(datetakegiro.getDate() + sNum);
        var date = ((datetakegiro.getMonth() + 1) < 10 ? '0' : '') + (datetakegiro.getMonth() + 1) + '/' + (datetakegiro.getDate() < 10 ? '0' : '') + datetakegiro.getDate() + '/' + datetakegiro.getFullYear();
        $("#arrawdatetakegiro").val(date);

        InitDDLAppUser();
        FillDetailData();
    })
    function EnableddivgroupHeader() {
        $("#ddldivgroupoid").prop("disabled", true);
    }
    function SetRateValue() {
        var curroid = $("#curroid").val();
        var sDate = $("#arrawdate").val();
        $.ajax({
            url: "@(Url.Action("GetRateValue"))",
            data: { curroid: curroid, sDate: sDate },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data, function (key, val) {
                        $("#rateoid").val(val.rateoid);
                        $("#arrawratetoidr").val(val.rateidrvalue);
                        $("#arrawratetousd").val(val.rateusdvalue);
                        $("#rate2oid").val(val.rate2oid);
                        $("#arrawrate2toidr").val(val.rate2idrvalue);
                        $("#arrawrate2tousd").val(val.rate2usdvalue);
                    });
                } else {
                    if (data.msg != "") {
                        Swal('Warning!', data.msg, 'warning')
                    }
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        var lastseq = 0;
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                ++lastseq;
                rows.push([
                    JSON.stringify(val),
                    val.arrawdtlseq,
                    val.shipmentrawno,
                    moment(jsDate(val.shipmentrawetd)).format('MM/DD/YYYY'),
                    val.matrawcode,
                    val.matrawlongdesc,
                    val.matrawnote,
                    val.arrawqty,
                    val.arrawunit,
                    val.arrawprice,
                    val.arrawdtlamt,
                    val.arrawdtldiscamt,
                    val.arrawdtlnetto,
                    '<input type="text" class="form-control" style="max-width: 150px" id="arrawdtlnote-' + val.arrawdtlseq + '" name="arrawdtlnote-' + val.arrawdtlseq + '" value="' + (val.arrawdtlnote == null ? "" : val.arrawdtlnote) + '">',
                '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                $('#lastseq').val(lastseq);
                EnabledHeader();
                CountHdrAmount();
            }, 100);
        });
    }

function InitDDLAppUser() {
        var cmp = $("#cmpcode").val();
        var approvalcode = $("#approvalcode");
        var approvalcode_sel = $("#approvalcode option:selected").val();
        approvalcode.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLAppUser"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
            var markup = "";
            if (data.result == "sukses") {
                var isExist = false;
                $.each(data.tbl, function (key, val) {
                    markup += "<option value=\'" + val.approvaluser + "\'>" + val.approvaluser + "</option>";
                    if (val.approvaluser == approvalcode_sel) {
                        isExist = true;
                    }
                });
                console.log(data.tbl);
                approvalcode.html(markup).show();
                if (isExist == true) {
                    approvalcode.val(approvalcode_sel);
                }
                approvalcode.trigger('change');
            } else {
                approvalcode.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        $("#arrawdate").datepicker("option", "dateFormat", "dd-dd-yyyy");
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
                $('#arrawdate').replaceWith($('#arrawdate').clone());
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        $("#cmpcode").attr("readonly", bVal);
        $("#btnsearchcust").attr("disabled", bVal);
        $("#curroid").attr("readonly", bVal);
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    function ClearCust() {
        $("#custname").val("");
        $("#custoid").val("");
        $("#arrawpaytypeoid").val($("#arrawpaytypeoid option:first").val());
        $("#arrawpaytypeoid").val("");
    }

    function ClearDetail() {
        $("#shipmentrawno").val("");
        $("#shipmentrawmstoid").val("");
        $("#shipmentrawetd").val("");
    }

    function CountHdrAmount() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var dTotalAmt = 0;
        var dTotalDiscDtl = 0;
        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            dTotalAmt += alldata.arrawdtlamt;
            dTotalDiscDtl += alldata.arrawdtldiscamt;
        }
        var dDiv = 1;

        $("#arrawtotalamt").val(parseFloat(dTotalAmt / dDiv));
        $("#arrawtotaldiscdtl").val(parseFloat(dTotalDiscDtl / dDiv));
        $("#arrawtotaldisc").val(parseFloat(dTotalDiscDtl / dDiv));
        $("#arrawtotalnetto").val(parseFloat($("#arrawtotalamt").val()) - parseFloat($("#arrawtotaldiscdtl").val()));
        $("#arrawtaxamt").val(parseFloat($("#arrawtotalnetto").val()) * parseFloat($("#arrawtaxvalue").val()) / 100);
        $("#arrawgrandtotal").val(parseFloat($("#arrawtotalnetto").val()) + parseFloat($("#arrawtaxamt").val()));
    }

    $("#btnsearchshp").click(function () {
        if ($("#custname").val() == "") {
            Swal({
                title:'WARNING!',
                text: 'Please select CUSTOMER field!',
                type:'warning'
            });
            return false;
        } else {
            var table = $('#tblModalShp').DataTable();
            var custoid = $('#custoid').val();
            var cmp = $("#cmpcode").val();
            var curroid = $("#curroid option:selected").val();
            var divgroupoid = $('#divgroupoid').val();
            table.clear().draw();
            $.ajax({
                url: "@(Url.Action("GetShipmentData"))",
                data: { cmp: cmp, custoid: custoid, curroid: curroid, divgroupoid: divgroupoid },
                cache: false,
                type: "POST",
                success: function (data) {
                    var rows = [];
                    var i = 0;
                    $.each(data, function (key, val) {
                        rows.push([
                            JSON.stringify(val),
                            '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                            val.shipmentrawno,
                            moment(jsDate(val.shipmentrawetd)).format('MM/DD/YYYY'),
                            val.sorawno,
                            val.shipmentrawmstnote,
                        ]);
                    });
                    setTimeout(function () {
                        table.rows.add(rows).draw();
                    }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
        }
    });

    $("#btnsearchcust").click(function () {
        var table = $('#tblModalCust').DataTable();
        var cmp = $("#cmpcode").val();
        var divgroupoid = $('#ddldivgroupoid option:selected').val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetCustomerData"))",
            data: { cmp: cmp, divgroupoid: divgroupoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.custcode,
                        val.custname,
                        val.custaddr,
                    ]);
                });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
            },
                error: function (err) {
                    console.log(err);
                }
            });
    });

    function AddToDetail() {
        var table = $('#DataDtl').DataTable();
        var cmp = $("#cmpcode").val();
        var custoid = $("#custoid").val();
        var shipmentrawmstoid = $("#shipmentrawmstoid").val();
        var i = parseInt($('#lastseq').val());
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmp: cmp, custoid: custoid, shipmentrawmstoid: shipmentrawmstoid},
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    val.arrawdtlamt = val.arrawqty * val.arrawprice;
                    var dDisc = 0;
                    if (val.arrawdtldisctype == "P") {
                        dDisc = parseFloat((val.arrawdtlamt * val.arrawdtldiscvalue) / 100);
                    } else {
                        dDisc = parseFloat(val.arrawdtldiscvalue);
                    }
                    val.arrawdtldiscamt = dDisc;
                    val.arrawdtlnetto = val.arrawdtlamt - dDisc;
                    if (!IsOnDtl(val.shipmentrawdtloid)) {
                        val.arrawdtlseq = i + 1;
                        rows.push([
                            JSON.stringify(val),
                            ++i,
                            val.shipmentrawno,
                            moment(jsDate(val.shipmentrawetd)).format('MM/DD/YYYY'),
                            val.matrawcode,
                            val.matrawlongdesc,
                            val.matrawnote,
                            val.arrawqty,
                            val.arrawunit,
                            val.arrawprice,
                            val.arrawdtlamt,
                            val.arrawdtldiscamt,
                            val.arrawdtlnetto,
                            '<input type="text" class="form-control" style="max-width: 150px" id="arrawdtlnote-' + i + '" name="arrawdtlnote-' + i + '" value="' + (val.arrawdtlnote == null ? "" : val.arrawdtlnote) + '">',
                            '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                        ]);
                    }
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                    $('#lastseq').val(i);
                    EnabledHeader();
                    ClearDetail();
                    CountHdrAmount();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
        SetDataDtl();
    }

    function IsOnDtl(shipmentrawdtloid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (shipmentrawdtloid == alldata.shipmentrawdtloid) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var arrawdtlnote_id = "#arrawdtlnote-" + (i + 1);
            var arrawdtlnote = table.$(arrawdtlnote_id).val();
            var obj = {
                arrawdtlseq: i + 1,
                shipmentrawno: alldata.shipmentrawno,
                shipmentrawetd: alldata.shipmentrawetd,
                shipmentrawdtloid: alldata.shipmentrawdtloid,
                shipmentrawmstoid: alldata.shipmentrawmstoid,
                matrawoid: alldata.matrawoid,
                matrawcode: alldata.matrawcode,
                matrawlongdesc: alldata.matrawlongdesc,
                arrawunit: alldata.arrawunit,
                matrawnote: alldata.matrawnote,
                arrawqty: alldata.arrawqty,
                arrawunitoid: alldata.arrawunitoid,
                arrawprice: alldata.arrawprice,
                arrawdtlamt: alldata.arrawdtlamt,
                arrawdtldisctype: alldata.arrawdtldisctype,
                arrawdtldiscvalue: alldata.arrawdtldiscvalue,
                arrawdtldiscamt: alldata.arrawdtldiscamt,
                arrawdtlnetto: alldata.arrawdtlnetto,
                arrawdtlnote: arrawdtlnote
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    $("#btnSave").click(function () {
        SetDataDtl();
    });

    $("#btnSaveClose").click(function () {
        $("#closing").val("true");
        $("#btnSave").click();
    });

    $("#btnDelete").click(function () {
        var oid = $("#arrawmstoid").val();
        var cmp = $("#cmpcode").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnSendForApproval").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for APPROVAL?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#arrawmststatus").val("In Approval");
                    $("#closing").val("true");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>