﻿@model IEnumerable<RSA.Controllers.ARRawMaterialController.arrawmst>

@{
    ViewBag.Title = "Piutang Raw Material";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //var servertime = SELFIE.Controllers.ClassFunction.GetServerTime();
}

<section class="content-header">
    <h1>List Of Piutang Sheet</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <a class="btn btn-success" href="Form">
                        <i class="fa fa-plus"></i> Create New
                    </a>
                </div>
                <div class="box-body">
                    @Html.Hidden("isCollapse")
                    @Html.Partial("~/Views/Shared/_FilterList.cshtml")
                    <div class="row">
                        
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th>Draft No.</th>
                                        <td>Divisi</td>
                                        <th>Piutang No.</th>
                                        <th>PEB Date</th>
                                        <th>Invoice No.</th>
                                        <th>Customer</th>
                                        <th>Status</th>
                                        <th>Note</th>
                                        <th>Grand Total Amount</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var i in Model)
                                        {
                                            <tr>
                                                <td class="text-center"><a href="Form/@Html.DisplayFor(m => i.arrawmstoid)" class="text-primary">@Html.DisplayFor(m => i.arrawmstoid)</a></td>
                                                <td>@Html.DisplayFor(m => i.divgroup)</td>
                                                <td>@Html.DisplayFor(m => i.arrawno)</td>
                                                <td class="text-center">@i.arrawdate.ToString("MM/dd/yyyy")</td>
                                                <td>@Html.DisplayFor(m => i.invoiceno)</td>
                                                <td>@Html.DisplayFor(m => i.custname)</td>
                                                <td class="text-center">@Html.DisplayFor(m => i.arrawmststatus)</td>
                                                <td>@Html.DisplayFor(m => i.arrawmstnote)</td>
                                                <td class="text-right">@Html.DisplayFor(m => i.arrawgrandtotal)</td>
                                                <td class="text-center"><button title="Print" type="button" class="btn btn-sm btn-primary" onclick="PrintReport(@Html.DisplayFor(m => i.arrawmstoid), '@Html.DisplayFor(m => i.cmpcode)')"><i class="fa fa-print"></i></button></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

 
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var isvisible = false;
        var displaycol = $('#DisplayCol').val();
        if (displaycol == "normal")
            isvisible = true;
        $('#datatable').DataTable ({
            "columnDefs": [
                {
                    "targets": [1],
                    "visible": isvisible,
                    "searchable": isvisible
                }
            ]
        });
    });


    function PrintReport(id, cmp) {
        var printouttype = document.getElementById("printtype").value;
        window.location.assign("@Url.Action("PrintReport")?id=" + id + "&cmp="+ cmp +"&printouttype=" + printouttype + "");
    };
</script>