﻿@model IEnumerable<RSA.Controllers.Transaction.DPBeliController.trndpap>

@{
    ViewBag.Title = "DP Pembelian";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>List DP Pembelian</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="container-fluid row">
                        <a class="btn btn-success" href="Form">
                            <i class="fa fa-plus"></i> Tambah
                        </a>
                    </div><br>
                </div>
                <div class="box-body">
                    @Html.Hidden("isCollapse")
                    @Html.Partial("~/Views/Shared/_FilterList.cshtml")
                    <div class="row">
                        <div class="col-md-6" style="display:none">
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 10%;">Print Option</td>
                                    <td style="width: 40%;">
                                        @Html.CheckBox("cbprintbbk", 0) Print BBK (GIRO/CHEQUE)
                                    </td>
                                </tr>
                            </table>
                        </div>
                      
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Draft No.</th>
                                        <th>DP No.</th>
                                        <th>DP Date</th>
                                        <th>Divisi</th>
                                        <th>Cash/Bank No.</th>
                                        <th>Supplier</th>
                                        <th>DP Account</th>
                                        <th>Payment Type</th>
                                        <th>DP Amount</th>
                                        <th>Status</th>
                                        <th>Note</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var i in Model)
                                        {
                                            <tr>
                                                <td class="text-center"><a href="Form?id=@Html.DisplayFor(m => i.dpapoid)" class="text-primary">@Html.DisplayFor(m => i.dpapoid)</a></td>
                                                <td>@Html.DisplayFor(m => i.dpapno)</td>
                                                <td class="text-center">@i.dpapdate.ToString("dd/MM/yyyy")</td>
                                                <td>@Html.DisplayFor(m => i.divgroup)</td>
                                                <td>@Html.DisplayFor(m => i.cashbankno)</td>
                                                <td>@Html.DisplayFor(m => i.suppname)</td>
                                                <td>@Html.DisplayFor(m => i.acctgdesc)</td>
                                                <td>@Html.DisplayFor(m => i.dpappaytype)</td>
                                                <td class="text-right">@Html.DisplayFor(m => i.dpapamt)</td>
                                                <td class="text-center">@Html.DisplayFor(m => i.dpapstatus)</td>
                                                <td>@Html.DisplayFor(m => i.dpapnote)</td>
                                                <td class="text-center"><button title="Print" type="button" class="btn btn-sm btn-primary" onclick="PrintReport(@Html.DisplayFor(m => i.dpapoid))"><i class="fa fa-print"></i></button></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var isvisible = true;
        var displaycol = $('#DisplayCol').val();
        if (displaycol == "normal")
            isvisible = true;
        $('#datatable').DataTable ({
            "columnDefs": [
                {
                    "targets": [1],
                    "visible": isvisible,
                    "searchable": isvisible
                }
            ]
        });
    });

    function PrintReport(id) {
        var cbprintbbk = document.getElementById("cbprintbbk").checked;
        window.location.assign("@Url.Action("PrintReport")?id=" + id + "&cbprintbbk=" + cbprintbbk + "");
    };
</script>