﻿@model IEnumerable<RSA.Controllers.APGenMaterialController.apgenmst>

@{
    ViewBag.Title = "Hutang Material";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //var servertime = MIS_MVC.Controllers.ClassFunction.GetServerTime();
}

<section class="content-header">
    <h1>List Hutang Gen Material</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="container-fluid row">
                        <a class="btn btn-success" href="Form">
                            <i class="fa fa-plus"></i> Create New
                        </a>
                    </div><br>
                </div>
                <div class="box-body">
                    @Html.Hidden("isCollapse")
                    @Html.Partial("~/Views/Shared/_FilterList.cshtml")
                    <div class="row">
                       
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th>Draft No.</th>
                                        <th>Divisi</th>
                                        <th>A/P No.</th>
                                        <th>A/P Date</th>
                                        @*<th>Date Take Giro</th>*@
                                        <th>Due Date</th>
                                        <th>Supplier</th>
                                        <th>Status</th>
                                        <th>Note</th>
                                        <th>Grand Total Amount</th>
                                        <th>Revise User</th>
                                        <th>Reason</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var i in Model)
                                        {
                                            <tr>
                                                <td class="text-center"><a href="Form/@Html.DisplayFor(m => i.apgenmstoid)" class="text-primary">@Html.DisplayFor(m => i.apgenmstoid)</a></td>
                                                <td>@Html.DisplayFor(m => i.divgroup)</td>
                                                 <td>@Html.DisplayFor(m => i.apgenno)</td>
                                                <td class="text-center">@i.apgendate.ToString("MM/dd/yyyy")</td>
                                                @*<td class="text-center">@i.apgendatetakegiro.ToString("MM/dd/yyyy")</td>*@
                                                <td class="text-center">@i.duedate.ToString("MM/dd/yyyy")</td>
                                                <td>@Html.DisplayFor(m => i.suppname)</td>
                                                <td class="text-center">@Html.DisplayFor(m => i.apgenmststatus)</td>
                                                <td>@Html.DisplayFor(m => i.apgenmstnote)</td>
                                                <td class="text-right">@Html.DisplayFor(m => i.apgengrandtotal)</td>
                                                <td>@Html.DisplayFor(m => i.reviseuser)</td>
                                                <td>@Html.DisplayFor(m => i.revisereason)</td>
                                                <td class="text-center"><button title="Print" type="button" class="btn btn-sm btn-primary" onclick="PrintReport(@Html.DisplayFor(m => i.apgenmstoid), '@Html.DisplayFor(m => i.cmpcode)')"><i class="fa fa-print"></i></button></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var isvisible = false;
        var displaycol = $('#DisplayCol').val();
        if (displaycol == "normal")
            isvisible = true;
        $('#datatable').DataTable ({
            "columnDefs": [
                {
                    //"targets": [1],
                    //"visible": isvisible,
                    //"searchable": isvisible
                }
            ]
        });
    });

    $("#btnGo").click(function () {
        var periodfrom = $('#filterperiodfrom').val();
        var periodto = $('#filterperiodto').val();
        var sMsg = "";

        if (periodfrom == "")
            sMsg = "Please fill Period From!";
        if (sMsg == "" && periodto == "")
            sMsg = "Please fill Period To!";
        if (sMsg == "" && Date.parse(periodfrom) > Date.parse(periodto))
            sMsg = "Period From must be less than Period To!";
        if (sMsg == "") {
            var totaldays = Math.floor((new Date(Date.parse(periodto) - Date.parse((periodfrom)))) / (1000 * 60 * 60 * 24)) + 1;
            if (totaldays > 31)
                sMsg = "Total days of Period Filter must be less than 31 days!";
        }

        if (sMsg != "") {
            swal('Warning', sMsg, 'warning');
            return false;
        }
    });

    function PrintReport(id, cmp) {
        window.location.assign("@Url.Action("PrintReport")?id=" + id + "&cmp="+ cmp +"");
    };
</script>