﻿@{
    ViewBag.Title = "AP " + ViewBag.FormType + " Report Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>AP @ViewBag.FormType Report Status</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm("PrintReportStatus", "APReport"))
                {
                    <div class="box-body">
                        <div class="container-fluid">
                            @Html.Hidden("FormType")
                            @Html.Hidden("MatType")
                            @Html.Hidden("MatRefType")
                            @Html.Hidden("reporttype")
                            <div class="row">
                                <div class="col-md-6"><!--row busines________________________________ -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("ddlBusinessUnit", null, "ALL", new { @class = "form-control select2", @onchange = "ChangeBusinessUnit()" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="display:none;">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Department</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("ddlDepartment", null, "ALL", new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"><!--row type ________________________________ -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Type</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("ddlType", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text = "Summary", Value = "Summary" },
                                            new SelectListItem { Text = "Detail", Value = "Detail" }
                                        }, new { @class = "form-control select2", @onchange = "ChangeType()" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"><!--row status ________________________________ -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("ddlStatus", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="All", Value="All" },
                                            new SelectListItem { Text="In Process", Value="In Process" },
                                            new SelectListItem { Text="In Approval", Value="In Approval" },
                                            new SelectListItem { Text="Approved", Value="Approved" },
                                            new SelectListItem { Text="Rejected", Value="Rejected" },
                                            new SelectListItem { Text="Revised", Value="Revised" },
                                            new SelectListItem { Text="Closed", Value="Closed" }
                                        }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6"><!--row date ________________________________ -->
                                    <div class="form-group">
                                        <div class="col-md-4">
                                           <label class="control-label">Ap Date</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("textDate", new { htmlAttributes = new { @class = "form-control daterangepicker", @type = "text" } })
                                                 <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.Hidden("textDateStart")
                                            @Html.Hidden("textDateEnd")
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"><!--row qty ________________________________ -->
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label class="control-label">AP AMount</label>
                                        </div>
                                        <div class="col-md-3">
                                            @Html.DropDownList("ddlQty", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text = "=", Value = "=" },
                                                new SelectListItem { Text = ">", Value = ">" },
                                                new SelectListItem { Text = "<", Value = "<" },
                                                new SelectListItem { Text = ">=", Value = ">=" },
                                                new SelectListItem { Text = "<=", Value = "<=" }
                                            }, new { @class = "form-control select2" })
                                        </div>
                                        <div class="col-md-5">
                                            @Html.Editor("textQty", new { htmlAttributes = new { @class = "form-control allownumericwithdecimal", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            	<div class="col-md-6"><!--row sup ________________________________ -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Supplier</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("textSup", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnSearhSup" class="btn btn-link" data-toggle="modal" data-target="#modal-sup">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"><!--row po ________________________________ -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">PO NO</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("textPo", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnSearhPo" class="btn btn-link" data-toggle="modal" data-target="#modal-po">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"><!--row reg ________________________________ -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">REG NO</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("textReg", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnSearhReg" class="btn btn-link" data-toggle="modal" data-target="#modal-reg">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            	<div class="col-md-6"><!--row ap ________________________________ -->
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.DropDownList("ddlAp", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text = "Ap No", Value = "Ap No" },
                                            new SelectListItem { Text = "Draft No.", Value = "Draft No."}
                                        }, new { @class = "form-control select2" })
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("textAp", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnSearhAp" class="btn btn-link" data-toggle="modal" data-target="#modal-ap">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group"><!--row group ________________________________ -->
                                        <label class="col-md-4 control-label">Grouping</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("ddlGrouping", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="AP No.", Value="apno" },
                                            new SelectListItem { Text="Supplier", Value="supplier" }
                                        }, new { @class = "form-control select2", @onchange = "ChangeGroup()" })<SelectListItem>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" id="btnSubmit" style="display: none;"><b>Submit</b></button>
                        <button type="button" class="btn btn-primary btn-md" id="btnViewReport"><b>View Report</b></button>
                        <button type="button" class="btn btn-danger btn-md" id="btnExportPDF"><b>Export To Pdf</b></button>
                        <button type="button" class="btn btn-success btn-md" id="btnExportExcel"><b>Export To Excel</b></button>
                        <a href="@Url.Action("Report/" + ViewBag.FormType.Replace(" ", ""))" type="button" class="btn btn-default btn-md"><b>Clear</b></a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe id="ReportFrame" src="" style="border:none; width: 100%; height: 1000px;"></iframe>
        </div>
    </div>
    <!-- modal sup ________________________-->
    <div class="modal fade" id="modal-sup">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">SUpp Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSup" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterSup()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal po ________________________-->
    <div class="modal fade" id="modal-po">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Po Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalPo" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterPo()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal reg ________________________-->
    <div class="modal fade" id="modal-reg">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Reg Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalReg" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterReg()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal ap ________________________-->
    <div class="modal fade" id="modal-ap">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Ap Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalAp" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterAp()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>

    
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    function ChangeBusinessUnit() {
        var cmp = $("#ddlBusinessUnit option:selected").val();
        var dept = $("#ddlDepartment");
        dept.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitddlDepartment"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value=\'\'>ALL</option>";
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.deptoid + "\'>" + val.deptname + "</option>";
                    });
                    dept.html(markup).show();
                } else {
                    dept.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    }
    //sup _______________________________________________
    $("#btnSearhSup").click(function () {
        var ddlBusinessUnit = $("#ddlBusinessUnit option:selected").val();
        var ddlStatus = $("#ddlStatus option:selected").val();
        var ddlDate = $("#ddlDate option:selected").val();
        var textDateStart = $("#textDate").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var textDateEnd = $("#textDate").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var ddlType = $("#ddlType").val();
        var MatType = $("#MatType").val();
        var ddlQty = $("#ddlQty").val();
        var textQty = $("#textQty").val();
        if(textQty==''){textQty=0}
        $.ajax({
            url: "@(Url.Action("getSup2"))",
            data: { ddlBusinessUnit: ddlBusinessUnit, ddlType:ddlType, ddlStatus: ddlStatus, textDateStart: textDateStart, textDateEnd: textDateEnd,
            ddlQty: ddlQty, textQty: textQty, MatType: MatType
            },
        cache: false,
        type: "POST",
        success: function (data) {
            var cols = [];
            $.each(data.tblcols, function (key, val) {
                var obj = { title: val };
                cols.push(obj);
            });

            var rows = [];
            $.each(data.tblrows, function (key, val) {
                var row = Object.values(val);
                rows.push(row);
            });

            var table = $("#tblModalSup").DataTable({
                "destroy": true,
                "columns": cols,
                "data": rows,
                "deferRender": true,
                "columnDefs": [
                    {
                        "targets": 0,
                        "checkboxes": {
                            "selectRow": false
                        }
                    }
                ],
                "select": {
                    "style": 'multi'
                },
                "order": [[1, 'asc']]
            });
        },
        error: function (err) {
            swal('', err, 'error');
        }
    });
    });
    function AddToFilterSup() {
        var ind = 2;
        var result = "";
        var table = $('#tblModalSup').DataTable();
        var rowsel = table.column(0).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            var data = table.row(val - 1).data();
            result += data[ind] + ";";
        });
        result = result.substring(0, result.length - 1);
        $("#textSup").val(result);
    }
    //po _______________________________________________
    $("#btnSearhPo").click(function () {
        var ddlBusinessUnit = $("#ddlBusinessUnit option:selected").val();
        var ddlStatus = $("#ddlStatus option:selected").val();
        var ddlDate = $("#ddlDate option:selected").val();
        var textDateStart = $("#textDate").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var textDateEnd = $("#textDate").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var textSup = $("#textSup").val();
        var ddlType = $("#ddlType").val();
        var MatType = $("#MatType").val();
        var ddlQty = $("#ddlQty").val();
        var textQty = $("#textQty").val();
        if (textQty == '') { textQty = 0 }
        $.ajax({
            url: "@(Url.Action("getPo2"))",
            data: { ddlBusinessUnit: ddlBusinessUnit, ddlType:ddlType, ddlStatus: ddlStatus, textDateStart: textDateStart, textDateEnd: textDateEnd,
            textSup:textSup,
            ddlQty: ddlQty, textQty: textQty, MatType: MatType
            },
        cache: false,
        type: "POST",
        success: function (data) {
            var cols = [];
            $.each(data.tblcols, function (key, val) {
                var obj = { title: val };
                cols.push(obj);
            });

            var rows = [];
            $.each(data.tblrows, function (key, val) {
                var row = Object.values(val);
                rows.push(row);
            });

            var table = $("#tblModalPo").DataTable({
                "destroy": true,
                "columns": cols,
                "data": rows,
                "deferRender": true,
                "columnDefs": [
                    {
                        "targets": 0,
                        "checkboxes": {
                            "selectRow": false
                        }
                    }
                ],
                "select": {
                    "style": 'multi'
                },
                "order": [[1, 'asc']]
            });
        },
        error: function (err) {
            swal('', err, 'error');
        }
    });
    });
    function AddToFilterPo() {
        var ind = 2;
        var result = "";
        var table = $('#tblModalPo').DataTable();
        var rowsel = table.column(0).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            var data = table.row(val - 1).data();
            result += data[ind] + ";";
        });
        result = result.substring(0, result.length - 1);
        $("#textPo").val(result);
    }
    //reg _______________________________________________
    $("#btnSearhReg").click(function () {
        var ddlBusinessUnit = $("#ddlBusinessUnit option:selected").val();
        var ddlStatus = $("#ddlStatus option:selected").val();
        var ddlDate = $("#ddlDate option:selected").val();
        var textDateStart = $("#textDate").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var textDateEnd = $("#textDate").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var textSup = $("#textSup").val();
        var textPo = $("#textPo").val();
        var ddlType = $("#ddlType").val();
        var MatType = $("#MatType").val();
        var ddlQty = $("#ddlQty").val();
        var textQty = $("#textQty").val();
        if (textQty == '') { textQty = 0 }
        $.ajax({
            url: "@(Url.Action("getReg2"))",
            data: { ddlBusinessUnit: ddlBusinessUnit, ddlType:ddlType, ddlStatus: ddlStatus, textDateStart: textDateStart, textDateEnd: textDateEnd,
            textSup:textSup, textPo:textPo,
            ddlQty: ddlQty, textQty: textQty, MatType: MatType
            },
        cache: false,
        type: "POST",
        success: function (data) {
            var cols = [];
            $.each(data.tblcols, function (key, val) {
                var obj = { title: val };
                cols.push(obj);
            });

            var rows = [];
            $.each(data.tblrows, function (key, val) {
                var row = Object.values(val);
                rows.push(row);
            });

            var table = $("#tblModalReg").DataTable({
                "destroy": true,
                "columns": cols,
                "data": rows,
                "deferRender": true,
                "columnDefs": [
                    {
                        "targets": 0,
                        "checkboxes": {
                            "selectRow": false
                        }
                    }
                ],
                "select": {
                    "style": 'multi'
                },
                "order": [[1, 'asc']]
            });
        },
        error: function (err) {
            swal('', err, 'error');
        }
    });
    });
    function AddToFilterReg() {
        var ind = 2;
        var result = "";
        var table = $('#tblModalReg').DataTable();
        var rowsel = table.column(0).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            var data = table.row(val - 1).data();
            result += data[ind] + ";";
        });
        result = result.substring(0, result.length - 1);
        $("#textReg").val(result);
    }
    //ap _______________________________________________
    $("#btnSearhAp").click(function () {
        var ddlBusinessUnit = $("#ddlBusinessUnit option:selected").val();
        var ddlStatus = $("#ddlStatus option:selected").val();
        var ddlDate = $("#ddlDate option:selected").val();
        var textDateStart = $("#textDate").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var textDateEnd = $("#textDate").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var textSup = $("#textSup").val();
        var textPo = $("#textPo").val();
        var textReg = $("#textReg").val();
        var ddlType = $("#ddlType").val();
        var MatType = $("#MatType").val();
        var ddlQty = $("#ddlQty").val();
        var textQty = $("#textQty").val();
        if (textQty == '') { textQty = 0 }
        $.ajax({
            url: "@(Url.Action("getAp2"))",
            data: { ddlBusinessUnit: ddlBusinessUnit, ddlType:ddlType, ddlStatus: ddlStatus, textDateStart: textDateStart, textDateEnd: textDateEnd,
                textSup:textSup, textPo:textPo, textReg:textReg,
                ddlQty: ddlQty, textQty: textQty, MatType: MatType
            },
        cache: false,
        type: "POST",
        success: function (data) {
            var cols = [];
            $.each(data.tblcols, function (key, val) {
                var obj = { title: val };
                cols.push(obj);
            });

            var rows = [];
            $.each(data.tblrows, function (key, val) {
                var row = Object.values(val);
                rows.push(row);
            });

            var table = $("#tblModalAp").DataTable({
                "destroy": true,
                "columns": cols,
                "data": rows,
                "deferRender": true,
                "columnDefs": [
                    {
                        "targets": 0,
                        "checkboxes": {
                            "selectRow": false
                        }
                    }
                ],
                "select": {
                    "style": 'multi'
                },
                "order": [[1, 'asc']]
            });
        },
        error: function (err) {
            swal('', err, 'error');
        }
    });
    });
    function AddToFilterAp() {
        var ind = 2;
        var result = "";
        var table = $('#tblModalAp').DataTable();
        var rowsel = table.column(0).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            var data = table.row(val - 1).data();
            result += data[ind] + ";";
        });
        result = result.substring(0, result.length - 1);
        $("#textAp").val(result);
    }

    //report ____________________________________________________
    $("#btnViewReport").click(function () {
        var ddlBusinessUnit = $("#ddlBusinessUnit option:selected").val();
        var ddlStatus = $("#ddlStatus option:selected").val();
        var ddlDate = $("#ddlDate option:selected").val();
        var textDateStart = $("#textDate").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var textDateEnd = $("#textDate").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var textSup = $("#textSup").val();
        var textPo = $("#textPo").val();
        var textReg = $("#textReg").val();
        var ddlAp = $("#ddlAp").val();
        var textAp = $("#textAp").val();
        var ddlType = $("#ddlType").val();
        var ddlQty = $("#ddlQty").val();
        var textQty = $("#textQty").val();
        var ddlGrouping = $("#ddlGrouping option:selected").val();
        var ddlSorting = $("#ddlSorting option:selected").val();
        var ddlSortDir = $("#ddlSortDir option:selected").val();
        var ReportType = "";
        var MatType = $("#MatType").val();
        var MatRefType = $("#MatRefType").val();
        var FormType = $("#FormType").val();

        $.ajax({
            url: "@(Url.Action("PrintReportStatus"))",
            data: { ddlBusinessUnit: ddlBusinessUnit, ddlType:ddlType, ddlStatus: ddlStatus, textDateStart: textDateStart, textDateEnd: textDateEnd,
                textSup:textSup, textPo:textPo, textReg:textReg, ddlAp:ddlAp, textAp:textAp,
                ddlQty: ddlQty, textQty: textQty,
                ddlGrouping: ddlGrouping, ddlSorting: ddlSorting, ddlSortDir: ddlSortDir,
                ReportType: ReportType, MatType: MatType, MatRefType: MatRefType, FormType: FormType},
        cache: false,
        type: "POST",
        success: function (data) {
            $("#ReportFrame").attr("src", "@Url.Content("~/Other/ReportViewer.aspx?rptfile=")" + data.rptfile + "");
            $.unblockUI();
        },
        error: function (err) {
            swal('', err, 'error');
        }
    });
    });

    $("#btnExportPDF").click(function () {
        $("#reporttype").val("PDF");
        $("#textDateStart").val($("#textDate").data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $("#textDateEnd").val($("#textDate").data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $("#btnSubmit").click();
    });

    $("#btnExportExcel").click(function () {
        $("#reporttype").val("XLS");
        $("#textDateStart").val($("#textDate").data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $("#textDateEnd").val($("#textDate").data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $("#btnSubmit").click();
    });
</script>