﻿@{
    ViewBag.Title = "Laporan Kas Harian";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Laporan Kas Harian</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm("PrintReport", "DailyCashReport"))
                {
                    <div class="box-body">
                        <div class="container-fluid">
                            @Html.Hidden("StartDate")
                            @Html.Hidden("EndDate")
                            @Html.Hidden("ReportType")
                            @Html.Hidden("DDLBusinessUnit_Text")

                            <div class="row" id="divnya" style="display: none;">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLBusinessUnit", null, new { @class = "form-control select2", @onchange = "ChangeBusinessUnit()" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Type</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLType", new List<SelectListItem>
                                            {
                                               new SelectListItem { Text = "Summary", Value = "Summary" },
                                               new SelectListItem { Text = "Detail", Value = "Detail" }
                                            }, new { @class = "form-control select2", @onchange = "ChangeType()" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Period</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("TextPeriod", new { htmlAttributes = new { @class = "form-control daterangepicker", @type = "text" } })
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Account</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLAccount", null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="divfordtl" style="display: none;">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Currency Value</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLCurrency", new List<SelectListItem>
                                            {
                                               new SelectListItem { Text = "Indonesian Rupiah", Value = "IDR" },
                                               new SelectListItem { Text = "US Dollar", Value = "USD" },
                                               new SelectListItem { Text = "Valas", Value = "Valas" }
                                            }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" id="btnSubmit" style="display: none;">Submit</button>
                        <button type="button" id="btnViewReport" class="btn btn-primary btn-md"><b>View Report</b></button>
                        <button type="button" id="btnExportPDF" class="btn btn-danger btn-md"><b>Export to PDF</b></button>
                        <button type="button" id="btnExportExcel" class="btn btn-success btn-md"><b>Export to Excel</b></button>
                        <a href="@Url.Action("Report/" + ViewBag.FormType.Replace(" ", ""))" type="button" class="btn btn-default btn-md"><b>Clear</b></a>
                    </div>

                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <iframe id="ReportFrame" src="" style="border: none; width: 100%; height: 1000px;"></iframe>
        </div>
    </div>

</section>

@* Ketiga script ini harus ada di semua view *@
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    @* Digunakan untuk merubah isi DDLDepartment berdasarkan DDLBusinessUnit yg dipilih *@
    $(document).ready(function () {
        $('#divnya').hide();
        $('#divfordtl').hide();
    });

    function ChangeBusinessUnit() {
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var DDLAccount = $('#DDLAccount');
        $.ajax({
            url: "@(Url.Action("InitDDLAccount"))",
            data: { DDLBusinessUnit: DDLBusinessUnit },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var markup = "";
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                    });
                    DDLAccount.html(markup).show();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    }

    function ChangeType() {
        var DDLType = $('#DDLType').val();
        if (DDLType == "Summary") {
            $('#divfordtl').hide();
        } else {
            $('#divfordtl').hide();
        }
    }

    $('#btnViewReport').click(function () {
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var DDLBusinessUnit_Text = $('#DDLBusinessUnit option:selected').text();
        var DDLAccount = $('#DDLAccount').val();
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var ReportType = "";
        var DDLType = $('#DDLType').val();
        var DDLCurrency = $('#DDLCurrency').val();

        $.ajax({
            url: "@(Url.Action("PrintReport"))",
            data: { DDLBusinessUnit: DDLBusinessUnit, DDLAccount: DDLAccount, StartDate: StartDate, EndDate: EndDate, DDLType: DDLType, DDLBusinessUnit_Text: DDLBusinessUnit_Text, DDLCurrency: DDLCurrency, ReportType: ReportType },
            cache: false,
            type: "POST",
            success: function (data) {
                $('#ReportFrame').attr("src", "@Url.Content("~/Other/ReportViewer.aspx?rptfile=")" + data.rptfile + "");
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });


    $('#btnExportPDF').click(function () {
        $('#ReportType').val('PDF');
        $('#DDLBusinessUnit_Text').val($('#DDLBusinessUnit option:selected').text());
        $('#StartDate').val($('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $('#EndDate').val($('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $('#btnSubmit').click();
    });

    $('#btnExportExcel').click(function () {
        $('#ReportType').val('XLS');
        $('#DDLBusinessUnit_Text').val($('#DDLBusinessUnit option:selected').text());
        $('#StartDate').val($('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $('#EndDate').val($('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $('#btnSubmit').click();
    });
</script>