﻿@model RSA.Models.DB.QL_trnpogenmst

@{
    ViewBag.Title = "PO Gen Material";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form PO Gen Material</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>PO Gen Material Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.pogenmstres1)
                        @Html.HiddenFor(model => model.pogenmstres2)
                        @Html.HiddenFor(model => model.pogenmstres3)
                        @Html.HiddenFor(model => model.approvaluser)
                        @Html.HiddenFor(model => model.approvaldatetime)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.closereason)
                        @Html.HiddenFor(model => model.closeuser)
                        @Html.HiddenFor(model => model.closetime)
                        @Html.HiddenFor(model => model.revisereason)
                        @Html.HiddenFor(model => model.reviseuser)
                        @Html.HiddenFor(model => model.revisetime)
                        @Html.HiddenFor(model => model.rejectreason)
                        @Html.HiddenFor(model => model.rejectuser)
                        @Html.HiddenFor(model => model.rejecttime)
                        @Html.HiddenFor(model => model.divgroupoid)
                        @*@Html.HiddenFor(model => model.pogenmststatus_onpib)*@
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Divisi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("ddldivgroupoid", null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Draft No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.pogenmstoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">PO Type</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("pogentype", new List<SelectListItem>
                                            {
                                           new SelectListItem { Text="LOCAL", Value="LOCAL" },
                                           new SelectListItem { Text="IMPORT", Value="IMPORT" }
                                            }, new { @class = "form-control", @readonly = "" })
                                        </div>
                                        @*@Html.HiddenFor(model => model.pogentype)*@
                                    </div>
                                </div>
                            </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">PO No.</label>
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.pogenno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Date</label>
                                            <div class="col-md-4">
                                                @Html.EditorFor(model => model.pogendate, new { htmlAttributes = new { @class = "form-control datemask2", @type = "text", @readonly = "" } })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Supplier<label class="text-red">*</label></label>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    @Html.Editor("suppname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                    <span class="input-group-btn">
                                                        <button type="button" id="btnsearchsupp" class="btn btn-flat" data-toggle="modal" data-target="#modal-supp" onclick="FadeModalSupp()">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                                @Html.HiddenFor(model => model.suppoid)
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Supplier Reff</label>
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.pogensuppref, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", @type = "text" } })
                                                @Html.ValidationMessageFor(model => model.pogensuppref, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Currency</label>
                                        <div class="col-md-8">
                                           @*@Html.DropDownList("curr", null, new { @class = "form-control", @maxlength = "50", @readonly = "" })*@
                                            @Html.DropDownListFor(model => model.curroid, null, new { @class = "form-control select2" })
                                        </div>
                                        @*@Html.HiddenFor(model => model.curroid)*@
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Payment Type</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("pogenpaytypeoid", null, new { @class = "form -control ", @disabled = "" })
                                        </div>
                                        @*@Html.HiddenFor(model => model.pogenpaytypeoid)*@
                                    </div>
                                </div>
                            </div>
                            @*<div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Daily Rate to IDR</label>
                                        <div class="col-md-8">
                                            @Html.Editor("", new { @class = "form-control", @maxlength = "50" , @readonly=""})
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Daily Rate to USD</label>
                                        <div class="col-md-8">
                                            @Html.Editor("", new { @class = "form-control", @maxlength = "50", @readonly = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Monthly Rate to IDR</label>
                                        <div class="col-md-8">
                                            @Html.Editor("", new { @class = "form-control", @maxlength = "50", @readonly = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Monthly Rate to USD</label>
                                        <div class="col-md-8">
                                            @Html.Editor("", new { @class = "form-control", @maxlength = "50", @readonly = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Amt</label>
                                        <div class="col-md-8">
                                            @Html.Editor("pogentotalamt", new { htmlAttributes = new { @class = "form-control money", @maxlength = "16", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Disc Dtl Amt</label>
                                        <div class="col-md-8">
                                            @Html.Editor("pogentotaldiscdtl", new { htmlAttributes = new { @class = "form-control money", @maxlength = "16", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Netto</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.pogentotalnetto, new { htmlAttributes = new { @class = "form-control money", @maxlength = "16", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tax</label>
                                            <div class="col-md-3">
                                                @Html.DropDownList("potaxtype", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="TAX", Value="TAX" },
                                                new SelectListItem { Text="NON TAX", Value="NON TAX" }
                                            }, new { @class = "form-control", @disabled = "" })
                                            </div>
                                            @Html.HiddenFor(model => model.pogentaxtype)
                                            <div class="col-md-5">
                                                @Html.Editor("pogentaxamt", new { htmlAttributes = new { @class = "form-control numberonly", @maxlength = "16", @readonly = "" } })
                                            </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tax Amt</label>
                                        <div class="col-md-8">
                                            @Html.Editor("pogenvat", new { htmlAttributes = new { @class = "form-control money", @maxlength = "16", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @*<div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Dtl Cost</label>
                                        <div class="col-md-8">
                                            @Html.Editor("pogenothercost", new { htmlAttributes = new { @class = "form-control numberonly", @maxlength = "16", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>*@
                                @Html.HiddenFor(model => model.pogenothercost)
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Grand Total Amt</label>
                                        <div class="col-md-8">
                                            @Html.Editor("pogengrandtotalamt", new { htmlAttributes = new { @class = "form-control money", @maxlength = "16", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.pogenmstnote, new { @class = "form-control", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.pogenmstnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.pogenmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.pogenmststatus } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Approval User</label>
                                        <div class="col-md-8">
                                            @*@Html.DropDownListFor(model => model.approvalcode, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.approvalcode, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>PO Gen Material Detail</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.Hidden("seq")
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">PR No.</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            @Html.Editor("prno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            <span class="input-group-btn">
                                                <button type="button" id="btnsearchpr" class="btn btn-flat" data-toggle="modal" data-target="#modal-pr" onclick="FadeModalPR()">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                        @Html.Hidden("prmstoid")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="pull-left">
                                <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail" onclick="FadeModalDetail()"><b>Add Material</b></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No.</th>
                                        <th></th>
                                        <th>PR No.</th>
                                        <th></th>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th>ETA</th>
                                        <th>PR Qty</th>
                                        <th>PO Qty</th>
                                        <th>Unit</th>
                                        <th>Last Price</th>
                                        <th>Price</th>
                                        <th>Amount</th>
                                        <th>Disc Type</th>
                                        <th>Disc</th>
                                        <th>Disc Amount</th>
                                        <th>Netto</th>
                                        <th>Detail Note</th>
                                        @*<th>Detail Note Internal</th>*@
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                if (Model.pogenmststatus == "In Process" | Model.pogenmststatus == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                    <button type="submit" class="btn btn-primary btn-md" id="btnSaveClose"><b>Save & Close</b></button>

                                    if (ViewBag.action == "Update Data")
                                    {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                    }
                                    <button type="button" class="btn btn-warning btn-md" id="btnSendForApproval"><b>Send For Approval</b></button>
                                }
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                            }
                        </div>

                    </div>
                    
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">PR Gen Material Detail Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>PR Qty</th>
                                    <th>Round Qty</th>
                                    <th>Unit</th>
                                    <th>PO Qty</th>
                                    <th>Price</th>
                                    @*<th>Disc Value</th>*@
                                    <th>Detail Note</th>
                                    @*<th>Detail Note Internal</th>*@
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@

    @* MODAL UNTUK GANTI PR *@
    <div class="modal fade" id="modal-predit">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of PR Gen Material</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalPREdit" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>PR No</th>
                                    <th>PR Date</th>
                                    <th>Expired Date</th>
                                    <th>Department</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK GANTI MATERIAL *@

    @* MODAL UNTUK GANTI MATERIAL *@
    <div class="modal fade" id="modal-mat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Gen Material Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Unit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK GANTI MATERIAL *@


    @* MODAL UNTUK SUPPLIER *@
    <div class="modal fade" id="modal-supp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Supplier</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Supplier Code</th>
                                    <th>Supplier Name</th>
                                    <th>Supplier Address</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SUPPLIER *@

    @* MODAL UNTUK PR *@
    <div class="modal fade" id="modal-pr">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of PR Gen Material</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalPR" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>PR No</th>
                                    <th>PR Date</th>
                                    <th>Expired Date</th>
                                    <th>Department</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK PR *@
</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
            CountHdrAmt();
            EnabledHeader();
        });
        table.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
            //CountDtlAmt();
            //setDataDtl();
        });
        table.on("draw", function () {
            $('#DataDtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
        });
        table.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });
        tblModalDtl.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        tblModalDtl.on("draw", function () {
            $('#tblModalDtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
        });
        tblModalDtl.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        var tblModalMat = $("#tblModalMat").DataTable({
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalPREdit = $("#tblModalPREdit").DataTable({
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        $('#tblModalSupp').DataTable({
            "paging": true,
            "bFilter": true,
            "ordering": true,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalSupp = $("#tblModalSupp").DataTable();

        tblModalSupp.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSupp.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#suppname").val(alldata.suppname);
            $("#suppoid").val(alldata.suppoid);
            //$("#pogenpaytype").val(alldata.supppaymentoid);
            $("#pogenpaytypeoid").val(alldata.supppaymentoid);
            $("#potaxtype").val(alldata.supptaxable);
            $("#pogentaxtype").val(alldata.supptaxable);
            $("#pogentaxamt").val(alldata.supptaxamt);
            if (alldata.supptaxable == "TAX") {
                $("#pogentaxamt").val("11");
            } else {
                $("#pogentaxamt").val("0");
            }
            //$("#potype").val(alldata.supptype);
            //$("#pogentype").val(alldata.supptype);
            //$("#curr").val(alldata.suppcurroid);
            //$("#curroid").val(alldata.suppcurroid);
            $("#divgroupoid").val($('#ddldivgroupoid option:Selected').val());
            EnableddivgroupHeader();
            $('#modal-supp').modal('hide');
        });

        $("#tblModalPR").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        var tblModalPR = $("#tblModalPR").DataTable();
        tblModalPR.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalPR.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#prno").val(alldata.prgenno);
            $("#prmstoid").val(alldata.prgenmstoid);
            $("#prexpdate").val(alldata.prgenexpdate);
            $("#deptname").val(alldata.deptname);
            $("#prmstnote").val(alldata.prgenmstnote);
            $('#modal-pr').modal('hide');

        });

        $("#cmpcode").change(function () {
            InitDDLAppUser();
            $("#prno").val("");
            $("#prmstoid").val("");
            $("#prexpdate").val("");
            $("#deptname").val("");
            $("#prmstnote").val("");
        });

        InitDDLAppUser();
        FillDetailData();
        //SetDataDtl();
        //CountHdrAmt();

    })

     function InitDDLAppUser() {
        var cmp = $("#cmpcode option:selected").val();
        var approvalcode = $("#approvalcode");
        var approvalcode_sel = $("#approvalcode option:selected").val();
        approvalcode.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLAppUser"))",
            data: { cmp: cmp },
        cache: false,
        type: "POST",
        success: function (data) {
            var markup = "";
            if (data.result == "sukses") {
                var isExist = false;
                $.each(data.tbl, function (key, val) {
                    markup += "<option value=\'" + val.approvaluser + "\'>" + val.approvaluser + "</option>";
                    if (val.approvaluser == approvalcode_sel) {
                        isExist = true;
                    }
                });
                console.log(data.tbl);
                approvalcode.html(markup).show();
                if (isExist == true) {
                    approvalcode.val(approvalcode_sel);
                }
                approvalcode.trigger('change');
            } else {
                approvalcode.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
        error: function (err) {
            console.log(err);
        }
    });
    }

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.pogendtlseq,
                    '<button id="editpr" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                    val.prgenno,
                    '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                    val.matgencode,
                    val.matgenlongdesc,
                    val.prgenarrdatereqstr,
                    val.prgenqty,
                    '<input type="text" class="form-control money" style="max-width: 80px" id="pogenqty-' + val.pogendtlseq + '" name="pogenqty-' + val.pogendtlseq + '" onblur="CountDtlAmt(' + val.pogendtlseq + ')"  value="' + val.pogenqty + '">',
                    val.pogenunit,
                    val.lastpoprice,
                    '<input type="text" class="form-control money" style="max-width: 80px" id="pogenprice-' + val.pogendtlseq + '" name="pogenprice-' + val.pogendtlseq + '" onblur="CountDtlAmt(' + val.pogendtlseq + ')" value="' + val.pogenprice + '" >',
                    val.pogendtlamt,
                    '<select class = "form-control" id="pogendtldisctype-' + val.pogendtlseq + '" onchange="CountDtlAmt(' + val.pogendtlseq + ')"> <option value="' + val.pogendtldisctype + '" selected>' + val.pogendtldisctype + '</option>  <option value="P">P</option><option value="A">A</option> ',
                    '<input type="text" class="form-control money" style="max-width: 80px" id="pogendtldiscvalue-' + val.pogendtlseq + '" name="pogendtldiscvalue-' + val.pogendtlseq + '" onblur="CountDtlAmt(' + val.pogendtlseq + ')" value="' + val.pogendtldiscvalue + '">',
                    val.pogendtldiscamt,
                    val.pogendtlnetto,
                        //'<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="pogendtlnetto-' + val.pogendtlseq + '" name="pogendtlnetto-' + val.pogendtlseq + '" value="' + val.pogendtlnetto + '" readonly="">',
                    '<input type="text" class="form-control" style="max-width: 150px" id="pogendtlnote-' + val.pogendtlseq + '" name="pogendtlnote-' + val.pogendtlseq + '" value="' + val.pogendtlnote + '">',
                    //'<input type="text" class="form-control" style="max-width: 150px" id="pogendtlnote2-' + val.pogendtlseq + '" name="pogendtlnote2-' + val.pogendtlseq + '" value="' + val.pogendtlnote2 + '">',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                EnabledHeader();
            }, 100);
        });
    }

    function CountDtlAmt(id) {
        var table = $('#DataDtl').DataTable();
        var pogenprice = $("#pogenprice-" + id).val();
        var pogenqty = $("#pogenqty-" + id).val();
        var pogendtldisctype = $("#pogendtldisctype-" + id + " option:selected").val();
        var pogendtldiscvalue = $("#pogendtldiscvalue-" + id).val();
        var pogendtldiscamt = 0.0;
        var pogendtlamt = 0.0;
        var pogendtlnetto = 0.0;
        var temp = table.row(id - 1).data();
        var alldata = JSON.parse(temp[0]);
        alldata.pogenprice = pogenprice;
        alldata.pogenqty = pogenqty;
        pogendtlamt = pogenprice * pogenqty;
        alldata.pogendtldisctype = pogendtldisctype;
        alldata.pogendtldiscvalue = pogendtldiscvalue;
        if (pogendtldisctype == "P")
            pogendtldiscamt = (pogendtlamt * pogendtldiscvalue / 100);
        else
            pogendtldiscamt = pogendtldiscvalue;
        alldata.pogendtldiscamt = pogendtldiscamt;
        alldata.pogendtlamt = pogendtlamt;
        pogendtlnetto = pogendtlamt - pogendtldiscamt;
        alldata.pogendtlnetto = pogendtlnetto;
        temp[9] = '<input type="text" class="form-control money" style="max-width: 80px" id="pogenqty-' + id + '" name="pogenqty-' + id + '" onblur="CountDtlAmt(' + id + ')" value="' + pogenqty + '" >';
        temp[12] = '<input type="text" class="form-control money" style="max-width: 80px" id="pogenprice-' + id + '" name="pogenprice-' + id + '" onblur="CountDtlAmt(' + id + ')" value="' + pogenprice + '" >';
        temp[13] = pogendtlamt;
        temp[14] = '<select class = "form-control" id="pogendtldisctype-' + id + '" onchange="CountDtlAmt(' + id + ')"> <option value="' + pogendtldisctype + '" selected>' + pogendtldisctype + '</option>  <option value="P">P</option><option value="A">A</option> ';
        temp[15] = '<input type="text" class="form-control money" style="max-width: 80px" id="pogendtldiscvalue-' + id + '" name="pogendtldiscvalue-' + id + '" onblur="CountDtlAmt(' + id + ')" value="' + pogendtldiscvalue + '" >';
        temp[16] = pogendtldiscamt;
        temp[17] = pogendtlnetto;
        temp[0] = JSON.stringify(alldata);
       table.row(id-1).data(temp).invalidate();
       SetDataDtl();
       CountHdrAmt();
    }


    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    function FadeModalDetail() {
        if (($('#suppoid').val() == 0) || ($('#suppoid').val() == '') || ($('#suppoid').val() == null)) {
            Swal(
               'Please Select Supplier First!',
               '',
               'warning'
                );
            return false
        }
        if (($('#prmstoid').val() == 0) || ($('#prmstoid').val() == '') || ($('#prmstoid').val() == null)) {
            Swal(
               'Please Select PR No First!',
               '',
               'warning'
                );
            return false
        }
        else {
            var table = $('#tblModalDtl').DataTable();
            var prmstoid = $('#prmstoid').val();
            var suppoid = $('#suppoid').val();
            var pomstoid = $("#pogenmstoid").val();
            var cmp = $("#cmpcode").val();
            table.column(1).checkboxes.deselect();
            table.clear().draw();
            $.ajax({
                url: "@(Url.Action("GetDataDetails"))",
                data: { cmp: cmp, prmstoid: prmstoid, suppoid: suppoid, pomstoid: pomstoid },
                cache: false,
                type: "POST",
                success: function (data) {
                    var rows = [];
                    var i = 0;
                    $.each(data, function (key, val) {
                        rows.push([
                            JSON.stringify(val),
                            ++i,
                            val.matgencode,
                            val.matgenlongdesc,
                            val.prgenqty,
                            val.matgenlimitqty,
                            val.pogenunit,
                            '<input type="text" class="form-control money" style="max-width: 80px" id="pogenqty-' + i + '" name="pogenqty-' + i + '" value="' + val.prgenqty + '">',
                            '<input type="text" class="form-control money" style="max-width: 80px" id="pogenprice-' + i + '" name="pogenprice-' + i + '" value="' + val.pogenprice + '">',
                            //'<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="pogendtldiscvalue-' + i + '" name="pogendtldiscvalue-' + i + '" value="' + val.pogendtldiscvalue + '">',
                            '<input type="text" class="form-control" style="max-width: 150px" id="pogendtlnote-' + i + '" name="pogendtlnote-' + i + '" value="' + val.pogendtlnote + '">'
                            //'<input type="text" class="form-control" style="max-width: 150px" id="pogendtlnote2-' + i + '" name="pogendtlnote2-' + i + '" value="' + val.pogendtlnote2 + '">'
                        ]);
                    });
                    setTimeout(function () {
                        table.rows.add(rows).draw();
                    }, 100);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    }
    //$("#btnAddToList").click(function () {
        
    //});

    $('#DataDtl').on('click', '#editpr', function () {
        var tbldtl = $('#DataDtl').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = tbldtl.row($tr).data();
        var alldata = JSON.parse(data[0]);
        $("#seq").val(alldata.pogendtlseq - 1);
        $('#modal-predit').modal('show');

        var table = $('#tblModalPREdit').DataTable();

        var cmp = $("#cmpcode option:selected").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetPRData"))",
            data: { cmp: cmp},
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.prgenno,
                    val.prgendate,
                    val.prgenexpdate,
                    val.deptname,
                    val.prgenmstnote,
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    $("#tblModalPREdit").on('click', '#select', function () {
        var table = $('#tblModalPREdit').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = table.row($tr).data();
        var alldata = JSON.parse(data[0]);

        var tbldtl = $('#DataDtl').DataTable();
        var datadtl = tbldtl.row($('#seq').val()).data();
        var alldatadtl = JSON.parse(datadtl[0]);


        //$('#prmstoid').val();

        $('#modal-predit').modal('hide');
        $('#modal-mat').modal('show');
        MatEdit(alldata.prrawmstoid);
    });

    function MatEdit(proid) {
        var table = $('#tblModalMat').DataTable();
        var prmstoid = proid;
        //if (($('#prmstoid').val() == 0) || ($('#prmstoid').val() == '') || ($('#prmstoid').val() == null)) {
        //    prmstoid
        //}

        //$('#prmstoid').val();
        var suppoid = $('#suppoid').val();
        var pomstoid = $("#pogenmstoid").val();
        var cmp = $("#cmpcode option:selected").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmp: cmp, prmstoid: prmstoid, suppoid: suppoid, pomstoid: pomstoid },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.matgencode,
                    val.matgenlongdesc,
                    val.pogenunit
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    }

    $('#DataDtl').on('click', '#edit', function () {
        var tbldtl = $('#DataDtl').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = tbldtl.row($tr).data();
        var alldata = JSON.parse(data[0]);
        $("#seq").val(alldata.pogendtlseq - 1);
        $('#modal-mat').modal('show');
        MatEdit(alldata.prrawmstoid);
    });

    $("#tblModalMat").on('click', '#select', function () {
        var table = $('#tblModalMat').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = table.row($tr).data();
        var alldata = JSON.parse(data[0]);

        var tbldtl = $('#DataDtl').DataTable();
        var datadtl = tbldtl.row($('#seq').val()).data();
        var alldatadtl = JSON.parse(datadtl[0]);

        if (!IsOnDtl(alldata.prrawdtloid)) {
            var obj = {
                pogendtlseq: parseInt($('#seq').val()) + 1,
                prgenmstoid: alldata.prgenmstoid,
                prgendtloid: alldata.prgendtloid,
                prgenno: alldata.prgenno,
                prgendatestr: alldata.prgendatestr,
                prgendate: alldata.prgendate,
                matgenoid: alldata.matgenoid,
                matgencode: alldata.matgencode,
                matgenlongdesc: alldata.matgenlongdesc,
                matgenlimitqty: alldata.matgenlimitqty,
                prgenqty: alldata.prgenqty,
                pogenqty: alldata.pogenqty,
                pogenunitoid: alldata.pogenunitoid,
                pogenunit: alldata.pogenunit,
                lastpoprice: alldata.lastpoprice,
                pogenprice: alldata.pogenprice,
                pogendtlamt: alldata.pogendtlamt,
                pogendtldisctype: alldata.pogendtldisctype,
                pogendtldiscvalue: alldata.pogendtldiscvalue,
                pogendtldiscamt: alldata.pogendtldiscamt,
                pogendtlnetto: alldata.pogendtlnetto,
                pogendtlnote: alldata.pogendtlnote,
                //pogendtlnote2: alldata.pogendtlnote2,
                prgenarrdatereqstr: alldata.prgenarrdatereqstr,
                prgenarrdatereq: alldata.prgenarrdatereq
            };

            datadtl[0] = JSON.stringify(obj);
            datadtl[3] = alldata.prgenno;
            datadtl[5] = alldata.matgencode;
            datadtl[6] = alldata.matgenlongdesc;
            datadtl[7] = alldata.prgenarrdatereqstr;
            datadtl[8] = alldata.prgenqty;
            datadtl[10] = alldata.pogenunit;

            tbldtl.row($('#seq').val()).data(datadtl).invalidate();
            $('#modal-mat').modal('hide');
            ClearDetail();
        }
        else
            Swal(
              'This ' + alldata.matrawlongdesc + ' Already in Table',
              '',
              'warning'
               );
        return false
    });

    function AddToDetail() {
        var isValid = true;
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid)
            {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                var pogenqty_id = "#pogenqty-" + val;
                var pogenprice_id = "#pogenprice-" + val;
                //var pogendtldisctype_id = "#pogendtldisctype-" + val;
                //var pogendtldiscvalue_id = "#pogendtldiscvalue-" + val;
                var pogendtlnote_id = "#pogendtlnote-" + val;
                //var pogendtlnote2_id = "#pogendtlnote2-" + val;
                var pogenqty = table.$(pogenqty_id).val();
                var pogenprice = table.$(pogenprice_id).val();
                var pogendtlamt = pogenprice * pogenqty;
                //var pogendtldisctype = table.$(pogendtldisctype_id).val();
                //var pogendtldiscvalue = table.$(pogendtldiscvalue_id).val();
                //var pogendtldiscamt = 0.0;
                //if (pogendtldisctype == "P")
                //    pogendtldiscamt = (pogendtlamt * pogendtldiscvalue / 100);
                //else
                //    pogendtldiscamt = pogendtldiscvalue;
                var pogendtlnetto = pogendtlamt; //- pogendtldiscamt;
                var pogendtlnote = table.$(pogendtlnote_id).val();
                //var pogendtlnote2 = table.$(pogendtlnote2_id).val();
                if (!IsOnDtl(alldata.prgendtloid)) {
                    var id = tbldtl.rows().data().length + 1;
                    var obj = {
                        pogendtlseq: id,
                        prgenmstoid: alldata.prgenmstoid,
                        prgendtloid: alldata.prgendtloid,
                        prgenno: alldata.prgenno,
                        prgendatestr: alldata.prgendatestr,
                        prgendate: alldata.prgendate,
                        matgenoid: alldata.matgenoid,
                        matgencode: alldata.matgencode,
                        matgenlongdesc: alldata.matgenlongdesc,
                        matgenlimitqty: alldata.matgenlimitqty,
                        prgenqty: alldata.prgenqty,
                        pogenqty: pogenqty,
                        pogenunitoid: alldata.pogenunitoid,
                        pogenunit: alldata.pogenunit,
                        lastpoprice: alldata.lastpoprice,
                        pogenprice: pogenprice,
                        pogendtlamt: pogendtlamt,
                        pogendtldisctype: alldata.pogendtldisctype,
                        pogendtldiscvalue: alldata.pogendtldiscvalue,
                        pogendtldiscamt: alldata.pogendtldiscamt,
                        pogendtlnetto: pogendtlnetto,
                        pogendtlnote: pogendtlnote,
                        //pogendtlnote2: pogendtlnote2,
                        prgenarrdatereqstr: alldata.prgenarrdatereqstr,
                        prgenarrdatereq: alldata.prgenarrdatereq
                    };
                    tbldtl.row.add([
                        JSON.stringify(obj),
                        id,
                        '<button id="editpr" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                        alldata.prgenno,
                        '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                        alldata.matgencode,
                        alldata.matgenlongdesc,
                        alldata.prgenarrdatereqstr,
                        alldata.prgenqty,
                        '<input type="text" class="form-control money" style="max-width: 80px" id="pogenqty-' + id + '" name="pogenqty-' + id + '" onblur="CountDtlAmt(' + id + ')" value="' + pogenqty + '" >',
                        alldata.pogenunit,
                        alldata.lastpoprice,
                        '<input type="text" class="form-control money" style="max-width: 80px" id="pogenprice-' + id + '" name="pogenprice-' + id + '" onblur="CountDtlAmt(' + id + ')" value="' + pogenprice + '">',
                        pogendtlamt,
                        //'<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="pogendtlamt-' + id + '" name="pogendtlamt-' + id + '" value="' + pogendtlamt + '" readonly="">',
                        //alldata.pogendtldisctype,
                        '<select class = "form-control" id="pogendtldisctype-' + id + '" onblur="CountDtlAmt(' + id + ')"> <option value="' + alldata.pogendtldisctype + '" selected>' + alldata.pogendtldisctype + '</option>  <option value="P">P</option><option value="A">A</option> ',
                        '<input type="text" class="form-control money" style="max-width: 80px" id="pogendtldiscvalue-' + id + '" name="pogendtldiscvalue-' + id + '" onblur="CountDtlAmt(' + id + ')" value="' + alldata.pogendtldiscvalue + '">',
                        alldata.pogendtldiscamt,
                        pogendtlnetto,
                         //'<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="pogendtlnetto-' + id + '" name="pogendtlnetto-' + id + '" value="' + pogendtlnetto + '" readonly="">',
                        '<input type="text" class="form-control" style="max-width: 150px" id="pogendtlnote-' + id + '" name="pogendtlnote-' + id + '" value="' + pogendtlnote + '">',
                        //'<input type="text" class="form-control" style="max-width: 150px" id="pogendtlnote2-' + id + '" name="pogendtlnote2-' + id + '" value="' + pogendtlnote2 + '">',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                }
            }
        })
        SetDataDtl();
        CountHdrAmt();
        ClearDetail();
        EnabledHeader();
        //CountDtlAmt();
    }


    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        $("#cmpcode").attr("readonly", bVal);
        $("#btnsearchsupp").attr("disabled", bVal);
    }

    function ClearDetail() {
        $("#prno").val("");
        $("#prmstoid").val(0);
        $("#prexpdate").val("");
        $("#deptname").val("");
        $("#prmstnote").val("");
    }

    function IsOnDtl(prrawdtloid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (prrawdtloid == alldata.prrawdtloid) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var pogenqty_id = "#pogenqty-" + (i + 1);
            var pogenprice_id = "#pogenprice-" + (i + 1);
            var pogendtldisctype_id = "#pogendtldisctype-" + (i + 1);
            var pogendtldiscvalue_id = "#pogendtldiscvalue-" + (i + 1);
            var pogendtlnote_id = "#pogendtlnote-" + (i + 1);
            //var pogendtlnote2_id = "#pogendtlnote2-" + (i + 1);
            var pogenqty = table.$(pogenqty_id).val();
            var pogenprice = table.$(pogenprice_id).val();
            var pogendtlamt = pogenprice * pogenqty;
            var pogendtldisctype = table.$(pogendtldisctype_id).val();
            var pogendtldiscvalue = table.$(pogendtldiscvalue_id).val();
            var pogendtldiscamt = 0.0;
            if (pogendtldisctype == "P")
                pogendtldiscamt = (pogendtlamt * pogendtldiscvalue / 100);
            else
                pogendtldiscamt = pogendtldiscvalue;
            var pogendtlnetto = (pogendtlamt - pogendtldiscamt);
            var pogendtlnote = table.$(pogendtlnote_id).val();
            //var pogendtlnote2 = table.$(pogendtlnote2_id).val();
            var obj = {
                pogendtlseq: i + 1,
                prgenmstoid: alldata.prgenmstoid,
                prgendtloid: alldata.prgendtloid,
                prgenno: alldata.prgenno,
                prgendatestr: alldata.prgendatestr,
                prgendate: alldata.prgendate,
                matgenoid: alldata.matgenoid,
                matgencode: alldata.matgencode,
                matgenlongdesc: alldata.matgenlongdesc,
                matgenlimitqty: alldata.matgenlimitqty,
                prgenqty: alldata.prgenqty,
                pogenqty: pogenqty,
                pogenunitoid: alldata.pogenunitoid,
                pogenunit: alldata.pogenunit,
                lastpoprice: alldata.lastpoprice,
                pogenprice: pogenprice,
                pogendtlamt: pogendtlamt,
                pogendtldisctype: pogendtldisctype,
                pogendtldiscvalue: pogendtldiscvalue,
                pogendtldiscamt: pogendtldiscamt,
                pogendtlnetto: pogendtlnetto,
                pogendtlnote: pogendtlnote,
                //pogendtlnote2: pogendtlnote2,
                prgenarrdatereqstr: alldata.prgenarrdatereqstr,
                prgenarrdatereq: alldata.prgenarrdatereq

            }
            rows.push(obj);
        }
        //countHdrAmt();
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    function CountHdrAmt() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var pogentotalamt = 0.0;
        var pogentotaldiscdtl = 0.0;
        var pogentotalnetto = 0.0;
        var pogenvat = 0.0;
        var pogengrantotalamt = 0.0;
        var pogentaxamt = $("#pogentaxamt").val();
        var pogentaxtype = $("#pogentaxtype").val();
        var pogenothercost = $("#pogenothercost").val();


        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0]);

            if (!isNaN(parseInt(alldata.pogendtlamt)))
                pogentotalamt += parseFloat(alldata.pogendtlamt);
            if (!isNaN(parseInt(alldata.pogendtldiscamt)))
                pogentotaldiscdtl += parseFloat(alldata.pogendtldiscamt);
            if (!isNaN(parseInt(alldata.pogendtlnetto)))
                pogentotalnetto += parseFloat(alldata.pogendtlnetto);
        }
        pogentotalnetto = pogentotalamt - pogentotaldiscdtl
        if (pogentaxtype == "TAX") {
            pogenvat = ((pogentotalnetto) * pogentaxamt) / 100

        }
        else
        {
            pogenvat = 0
        }
        pogengrandtotalamt = pogentotalnetto + pogenvat + pogenothercost
        $("#pogentotalamt").val(pogentotalamt);
        $("#pogentotaldiscdtl").val(pogentotaldiscdtl);
        $("#pogentotalnetto").val(pogentotalnetto);
        $("#pogenvat").val(pogenvat);
        $("#pogengrandtotalamt").val(pogengrandtotalamt);
    }

    function FadeModalSupp() {
        var table = $('#tblModalSupp').DataTable();
        var divgroupoid = $('#ddldivgroupoid option:selected').val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSuppData"))",
            data: { divgroupoid: divgroupoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        //val,
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.suppcode,
                        val.suppname,
                        val.suppaddr
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    //$("#btnsearchsupp").click(function () {

    //});
    function EnableddivgroupHeader() {
        $("#ddldivgroupoid").attr("readonly", true);
    }
    function FadeModalPR() {
        if (($('#suppoid').val() == 0) || ($('#suppoid').val() == '')) {
            Swal(
               'Please Select Supplier First!',
               '',
               'warning'
                );
            return false
        }
        var table = $('#tblModalPR').DataTable();
        var divgroupoid = $('#divgroupoid').val();
        var cmp = $("#cmpcode option:selected").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetPRData"))",
            data: { cmp: cmp, divgroupoid: divgroupoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.prgenno,
                        val.prgendate,
                        val.prgenexpdate,
                        val.deptname,
                        val.prgenmstnote,
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
    //$("#btnsearchpr").click(function () {

    //});

    $("#btnSave").click(function () {
        SetDataDtl();
    });

    $("#btnSaveClose").click(function () {
        $("#closing").val("true");
        $("#btnSave").click();
    });

    $("#btnDelete").click(function () {
        var oid = $("#pogenmstoid").val();
        var cmp = $("#cmpcode option:selected").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnSendForApproval").click(function () {
        $("#pogenmststatus").val("In Approval");

        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for APPROVAL?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#closing").val("true");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

</script>