﻿@model RSA.Models.DB.QL_msthargaindex

@{
    ViewBag.Title = "Harga Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Harga Index</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                <div class="box-header">
                    <h3 class="box-title">Form Harga Index</h3>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.indexoid)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action == "Create" ? "Data Baru" : "Edit Data" )</label>
                            </div>
                        

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Tipe Wall</label>
                                    </div>
                                    <div class="col-lg-6">
                                        @Html.DropDownListFor(model => model.tipewall, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="SW", Value="SW" },
                                                new SelectListItem { Text="DW", Value="DW" }
                                              }, new { @class = "form-control select", @required = "", @onchange = "tipewallchange()" })
                                        @Html.ValidationMessageFor(model => model.tipewall, "", new { @id = "tipewall", @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Kode Kertas</label>
                                    </div>
                                    <div class="col-lg-6">
                                        @Html.DropDownListFor(model => model.fluteoid, null, new { @id = "fluteoid", @class = "form-control select2", @onchange = "fluteoidchange()" })
                                        @Html.ValidationMessageFor(model => model.fluteoid, "", new { @id = "fluteoid", @class = "text-danger" })
                                    </div>
                                </div>
                               
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-2" style="padding-top: 10px;">
                                        <label>Substance<b style="color: red">*</b></label>
                                    </div>
                                    <div class="col-lg-6">
                                        <div style="position: relative; overflow-x: auto;">
                                            <table id="datatable" class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <td>
                                                            @Html.DropDownListFor(model => model.sub1, null, new { @id = "sub1", @class = "form-control select2", @onchange = "sub1change()" })
                                                            @Html.ValidationMessageFor(model => model.sub1, "", new { @id = "sub1", @class = "text-danger" })
                                                        </td>
                                                        <td>
                                                            @Html.DropDownListFor(model => model.sub2, null, new { @id = "sub2", @class = "form-control select2", @onchange = "sub2change()" })
                                                            @Html.ValidationMessageFor(model => model.sub2, "", new { @id = "sub2", @class = "text-danger" })
                                                        </td>
                                                        <td>
                                                            @Html.DropDownListFor(model => model.sub3, null, new { @id = "sub3", @class = "form-control select2", @onchange = "sub3change()" })
                                                            @Html.ValidationMessageFor(model => model.sub3, "", new { @id = "sub3", @class = "text-danger" })
                                                        </td>
                                                        <td id="sub4td">
                                                            @Html.DropDownListFor(model => model.sub4, null, new { @id = "sub4", @class = "form-control select2", @onchange = "sub4change()" })
                                                            @Html.ValidationMessageFor(model => model.sub4, "", new { @id = "sub4", @class = "text-danger" })
                                                        </td>
                                                        <td id="sub5td">
                                                            @Html.DropDownListFor(model => model.sub5, null, new { @id = "sub5", @class = "form-control select2", @onchange = "sub5change()" })
                                                            @Html.ValidationMessageFor(model => model.sub5, "", new { @id = "sub5", @class = "text-danger" })
                                                        </td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>@Html.Editor("sub1d", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })</td>
                                                        <td>@Html.Editor("sub2d", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })</td>
                                                        <td>@Html.Editor("sub3d", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })</td>
                                                        <td id="sub4dtd">@Html.Editor("sub4d", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })</td>
                                                        <td id="sub5dtd">@Html.Editor("sub5d", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Price</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.EditorFor(model => model.hargaindex, new { htmlAttributes = new { @id= "price", @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100" } })
                                        @Html.ValidationMessageFor(model => model.hargaindex, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Date</label>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.indexdate, new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text", @required = "" } })
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.indexdate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                
                            </div>
                            <br>


                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Catatan</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.EditorFor(model => model.indexnote, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100", @style = "text-transform:uppercase" } })
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Status</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.DropDownListFor(model => model.activeflag, new List<SelectListItem>
                                          {
                                              new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                              new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                                            }, new { @class = "form-control select2", @required = "" })
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>

                    <div class="box-footer">
                        <div class="pull-left">
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:Terakhir Diupdate Oleh @(Html.DisplayFor(m => m.upduser)) Pada @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            @*<button type="reset" class="btn btn-default btn-md" style="width: 80px;"><b>Cancel</b></button>*@
                            <button type="submit" name="action" value="@(ViewBag.action)" class="btn btn-success btn-md"><b>Simpan</b></button>
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    <button type="button" onclick="clickDelete()" class="btn btn-danger btn-md"><b>Hapus</b></button>
                                }
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    $(document).ready(function () {
        var a = $('#tipewall').val();
        if (a == "SW") {
            //document.getElementById("sub4").disabled = true;
            //document.getElementById("sub5").disabled = true;
            document.getElementById("sub4td").style.display = "none";
            document.getElementById("sub5td").style.display = "none";
            document.getElementById("sub4dtd").style.display = "none";
            document.getElementById("sub5dtd").style.display = "none";
        }
        else {
            document.getElementById("sub4td").style.display = "";
            document.getElementById("sub5td").style.display = "";
            document.getElementById("sub4dtd").style.display = "";
            document.getElementById("sub5dtd").style.display = "";
            //document.getElementById("sub4").disabled = false;
            //document.getElementById("sub5").disabled = false;
        }
        sub1change();
        sub2change();
        sub3change();
        sub4change();
        sub5change();
    })

    function tipewallchange() {
        var a = $('#tipewall').val();

        if (a == "SW")
        {
            //document.getElementById("sub4").disabled = true;
            //document.getElementById("sub5").disabled = true;
            document.getElementById("sub4td").style.display = "none";
            document.getElementById("sub5td").style.display = "none";
            document.getElementById("sub4dtd").style.display = "none";
            document.getElementById("sub5dtd").style.display = "none";
        }
        else
        {
            document.getElementById("sub4td").style.display = "";
            document.getElementById("sub5td").style.display = "";
            document.getElementById("sub4dtd").style.display = "";
            document.getElementById("sub5dtd").style.display = "";
            //document.getElementById("sub4").disabled = false;
            //document.getElementById("sub5").disabled = false;
        }
        getflute();
   
    }

    function sub1change() {
        getsub1();
    }
    function sub2change() {
        getsub2();
    }
    function sub3change() {
        getsub3();
    }
    function sub4change() {
        getsub4();
    }
    function sub5change() {
        getsub5();
    }
    function getflute() {
        var fl = $('#tipewall').val();
        var ddl = $("#fluteoid");
        if (fl == "" || fl == 0) {
            ddl.html("<option value=''> Pilih Flute  dahulu </option>").show();
        } else {
            ddl.html("<option value=''> Please wait...</option>").show();
            $.ajax({
                url: "@(Url.Action("Getflute"))",
                data: { fl: fl },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = ""//"<option value=0>Pilih Province</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=\'" + data[x].Value + "\'>" + data[x].Text + "</option>";
                }
                ddl.html(markup).show();

            },
            error: function (reponse) {
                alert("error fillDDLFlute : " + reponse);
            }
        });
    }
    }
    function getsub1() {
        var sub1 = $("#sub1").val();
        $.ajax({
            url: "@(Url.Action("Getsub1"))",
            data: { sub1: sub1 },
        cache: false,
        type: "POST",
        success: function (data) {
            $('#sub1d').val(data);
        },
        error: function (reponse) {
            alert("error getsub1 : " + reponse);
        }
    });
    }
    function getsub2() {
        var sub2 = $("#sub2").val();
        $.ajax({
            url: "@(Url.Action("Getsub2"))",
            data: { sub2: sub2 },
        cache: false,
        type: "POST",
        success: function (data) {
            $('#sub2d').val(data);
        },
        error: function (reponse) {
            alert("error getsub2 : " + reponse);
        }
    });
    }
    function getsub3() {
        var sub3 = $("#sub3").val();
        $.ajax({
            url: "@(Url.Action("Getsub3"))",
            data: { sub3: sub3 },
        cache: false,
        type: "POST",
        success: function (data) {
            $('#sub3d').val(data);
        },
        error: function (reponse) {
            alert("error getsub3 : " + reponse);
        }
    });
    }
    function getsub4() {
        var sub4 = $("#sub4").val();
        $.ajax({
            url: "@(Url.Action("Getsub4"))",
            data: { sub4: sub4 },
        cache: false,
        type: "POST",
        success: function (data) {
            $('#sub4d').val(data);
        },
        error: function (reponse) {
            alert("error getsub4 : " + reponse);
        }
    });
    }
    function getsub5() {
        var sub5 = $("#sub5").val();
        $.ajax({
            url: "@(Url.Action("Getsub5"))",
            data: { sub5: sub5 },
        cache: false,
        type: "POST",
        success: function (data) {
            $('#sub5d').val(data);
        },
        error: function (reponse) {
            alert("error getsub5 : " + reponse);
        }
    });
    }

</script>

<script language="javascript" type="text/javascript">
    function clickDelete() {
        var oid = $("#paperpoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Apakah Anda yakin untuk menghapus data ini?',
            text: "Data yang sudah dihapus tidak akan bisa dikembalikan!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Ya, hapus data ini!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                success: function (data) {
                    if (data.result == 'sukses') {
                        Swal(
                          'Terhapus!',
                          'Data sudah dihapus.',
                          'success'
                        )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                          'Gagal menghapus data!',
                          data.msg,
                          'warning'
                        )
                    }

                },
                error: function (error) {
                    console.dir(error)
                }
            });

        }
        })
    }
    $(function () {
        $('#cat3shortdesc').blur(function () {
            var a = $("#cat1oid option:selected").text();
            var b = $('#cat3shortdesc').val();
            var c = $("#cat2oid option:selected").text();
            $('#cat3longdesc').val(a + ' ' + c + ' ' + b);
        });
    })

</script>