﻿@model RSA.Models.DB.QL_trndoitemmst

@{
    ViewBag.Title = "DO Finish Good";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form DO Finish Good</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>DO Finish Good Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.doitemmstres1)
                        @Html.HiddenFor(model => model.doitemmstres2)
                        @Html.HiddenFor(model => model.doitemmstres3)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.HiddenFor(model => model.divgroupoid)
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                          
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.cmpcode, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.cmpcode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Draft No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.doitemmstoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Divisi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("ddldivgroupoid", null, new { @class = "form-control", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">DO No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.doitemno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Date</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.doitemdate, new { htmlAttributes = new { @class = "form-control datemask2", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer<label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("custname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchcust" class="btn btn-flat" data-toggle="modal" data-target="#modal-cust">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.custoid)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Currency</label>
                                        <div class="col-md-3">
                                            @Html.Editor("currcode", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = ""} })
                                        </div>
                                        @Html.HiddenFor(model => model.curroid)
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Price Type</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.RadioButtonFor(model => model.isexcludetax, true, new { @class= "rb", @checked = "checked", @required = "" })
                                                Exclude Tax
                                                @Html.RadioButtonFor(model => model.isexcludetax, false, new { @class = "rb", @required = "" })
                                                Include Tax   
                                            </div>
                                          
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tax Type</label>
                                        <div class="col-md-3">
                                            @Html.Editor("doitemtaxtype", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.doitemtaxtype)
                                        @Html.HiddenFor(model => model.doitemtype)
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Direct Cust PO No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.doitemcustpono, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Req Shipment Date</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.doitemreqdate, new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        
                                        </div>    
                                    </div>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Ship To<label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("customershipto", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly="" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchcustshipto" class="btn btn-flat" data-toggle="modal" data-target="#modal-custshipto">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.custdtloid)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer DO</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.doitemdest, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength="100" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Delivery Type</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.doitemdelivtypeoid, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                      
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Address</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.doitemdest, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Before Tax</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.doitemtotalamt, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" >
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total After tax</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.doitemaftertax, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>                                   
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.doitemmstnote, new { @class = "form-control", @maxlength = "100" })
                                       
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.doitemmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.doitemmststatus } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>DO Finish Good Detail</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.Hidden("seq")
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">SO No. </label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("soitemno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchso" class="btn btn-flat" data-toggle="modal" data-target="#modal-so">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        @Html.Hidden("soitemmstoid")
                                    </div>
                                </div>
                            </div>
                            <div class="pull-left">
                                <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Add To List</b></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No.</th>
                                        <th></th>
                                        <th>SO No.</th>
                                        <th>Code</th>
                                        <th>Material</th>
                                        <th>SKU No.</th>
                                        <th>SO Qty</th>
                                        <th>DO Qty</th>
                                        <th>Unit</th>
                                        <th>Price</th>
                                        <th>Amount</th>
                                        <th></th>
                                        <th>Disc</th>
                                        <th>Netto</th>
                                        <th>Detail Note</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                    </div>
                    <div class="pull-right">
                        @{
                            if (Model.doitemmststatus == "In Process" | Model.doitemmststatus == "Revised")
                            {
                                <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                <button type="button" class="btn btn-primary btn-md" id="btnSaveClose"><b>Save & Close</b></button>
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                if (ViewBag.action == "Update Data")
                                {
                                    <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                }
                                <button type="button" class="btn btn-warning btn-md" id="btnSendForApproval"><b>Post</b></button>
                            }
                            else
                            {
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                            }
                        }
                    </div>
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Finish Good</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>SO Qty</th>
                                    <th>DO Qty</th>
                                    <th>Unit</th>
                                    <th>Note</th>
                                    <th>Item Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@

    @* MODAL UNTUK GANTI MATERIAL *@
    <div class="modal fade" id="modal-mat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Finish Good Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>SO Qty</th>
                                    <th>Price</th>
                                    <th>Unit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK GANTI MATERIAL *@

    @* MODAL UNTUK CUSTOMER *@
    <div class="modal fade" id="modal-cust">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Customer Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCust" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Customer</th>
                                    <th>SO Currency</th>
                                    <th>SO Type</th>
                                    <th>SO Tax</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK CUSTOMER *@

    @* MODAL UNTUK CUSTOMER SHIP TO *@
    <div class="modal fade" id="modal-custshipto">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Customer Ship To</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCustShipTo" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SHIP TO *@

    @* MODAL UNTUK SO *@
    <div class="modal fade" id="modal-so">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">SO item Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSO" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>SO No.</th>
                                    <th>SO Date</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SO *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0,6,10,11,12,13,14],
                "visible": false,
                "searchable": false
            }]
        });
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw(); SetDataDtl(); CountAmtHdr(); FillDetailData();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
            EnabledHeader();
        });
        table.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("keypress keyup blur", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        $("#tblModalCust").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        $("#tblModalCustShipTo").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalMat = $("#tblModalMat").DataTable({
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        $("#tblModalSO").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalCust = $("#tblModalCust").DataTable();
        tblModalCust.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalCust.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#custname").val(alldata.custname);
            $("#custoid").val(alldata.custoid);
            $("#currcode").val(alldata.currcode);
            $("#curroid").val(alldata.curroid);
            $("#doitemtype").val(alldata.soitemtype);
            $("#doitemtaxtype").val(alldata.soitemtaxtype);
            if (alldata.soitemtaxtype == "NON TAX") {
                //$(".rb").attr("disabled",true);
            }else{
                //$(".rb").attr("disabled",false);
            }
            $("#customershipto").val("");
            $("#custdtloid").val("");
            $("#divgroupoid").val($('#ddldivgroupoid option:Selected').val());
            EnableddivgroupHeader();
            $('#modal-cust').modal('hide');
        });

        var tblModalCustShipTo = $("#tblModalCustShipTo").DataTable();
        tblModalCustShipTo.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalCustShipTo.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#customershipto").val(alldata.custdtlname);
            $("#custdtloid").val(alldata.custdtloid);
            $('#modal-custshipto').modal('hide');
        });

        var tblModalSO = $("#tblModalSO").DataTable();
        tblModalSO.on('click', '#selectso', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSO.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#soitemmstoid").val(alldata.soitemmstoid);
            $("#soitemno").val(alldata.soitemno);
            $('#modal-so').modal('hide');
        });
        FillDetailData();
    })
    function EnableddivgroupHeader() {
        $("#ddldivgroupoid").prop("disabled", true);
    }
    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                var doitemdtldisctype = "Percentage";
                if (val.doitemdtldisctype == "A") {
                    doitemdtldisctype = "Amount";
                }
                rows.push([
                    JSON.stringify(val),
                    val.doitemdtlseq,
                    '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                    val.soitemno,
                    val.itemcode,
                    val.itemlongdesc,
                    val.itemnote,
                    val.soitemqty,
                    '<input type="text" class="form-control numberonly" style="max-width: 80px" id="doitemqty-' + val.doitemdtlseq + '" name="doitemqty-' + val.doitemdtlseq + '" value="' + val.doitemqty + '" onchange="CountDtlAmount(' + val.doitemdtlseq + ')">',
                    val.doitemunit,
                    '<input type="text" class="form-control numberonly" style="max-width: 80px" id="doitemprice-' + val.doitemdtlseq + '" name="doitemprice-' + val.doitemdtlseq + '" value="' + val.doitemprice + '" onchange="CountDtlAmount(' + val.doitemdtlseq + ')">',
                    val.doitemdtlamt,
                    '<select class = "form-control" id="doitemdtldisctype-' + val.doitemdtlseq + '" onchange="CountDtlAmount(' + val.doitemdtlseq + ')"> <option value="' + val.doitemdtldisctype + '" selected>' + doitemdtldisctype + '</option>  <option value="P">Percentage</option><option value="A">Amount</option> ',
                    '<input type="text" class="form-control numberonly" style="max-width: 80px" id="doitemdtldiscvalue-' + val.doitemdtlseq + '" name="doitemdtldiscvalue-' + val.doitemdtlseq + '" value="' + val.doitemdtldiscvalue + '" onchange="CountDtlAmount(' + val.doitemdtlseq + ')">',
                     val.doitemdtlnetto,
                    '<input type="text" class="form-control" style="max-width: 150px" id="doitemdtlnote-' + val.doitemdtlseq + '" name="doitemdtlnote-' + val.doitemdtlseq + '" value="' + val.doitemdtlnote + '">',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                CountAmtHdr();
                EnabledHeader();
            }, 100);
        });
    }

    function FillDDLDept() {
        var cmpcode = $("#cmpcode option:selected").val();
        var deptoid = $("#deptoid");
        var deptoid_sel = $("#deptoid option:selected").val();
        deptoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLDepartment"))",
            data: { cmpcode: cmpcode },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.deptoid + "\'>" + val.deptname + "</option>";
                        if (val.deptoid == deptoid_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    deptoid.html(markup).show();
                    if (isExist == true) {
                        deptoid.val(deptoid_sel);
                    }
                    deptoid.trigger('change');
                } else {
                    deptoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    $("#btnsearchso").click(function () {
        if ($("#custname").val() == "") {
            Swal({
                title: 'WARNING!',
                text: 'Please select CUSTOMER field!',
                type: 'warning'
            })
            return false
        }
        if ($("#customershipto").val() == "") {
            Swal({
                title: 'WARNING!',
                text: 'Please select CUSTOMER SHIP TO field!',
                type: 'warning'
            })
            return false
        }
        var divgroupoid = $('#divgroupoid').val();
        var table = $('#tblModalSO').DataTable();
        var cmp = $("#cmpcode").val();
        var custoid = $("#custoid").val();
        var curroid = $("#curroid").val();
        var doitemtype = $("#doitemtype").val();
        var doitemtaxtype = $("#doitemtaxtype").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSOData"))",
            data: { cmp: cmp, custoid: custoid, curroid: curroid, doitemtype: doitemtype, doitemtaxtype: doitemtaxtype, divgroupoid: divgroupoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="selectso" type="button" class="btn btn-link text-primary">Select</button>',
                        val.soitemno,
                        moment(jsDate(val.soitemdate)).format('MM/DD/YYYY'),
                        val.soitemmstnote
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $('#DataDtl').on('click', '#edit', function () {
        var tbldtl = $('#DataDtl').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = tbldtl.row($tr).data();
        var alldata = JSON.parse(data[0]);
        $("#seq").val(alldata.doitemdtlseq - 1);
        var cmp = $("#cmpcode option:selected").val();
        var oid = alldata.soitemmstoid;
        var doid = $("#doitemmstoid").val();
        var intax = $("input[name=isexcludetax]:checked").val();

        $('#modal-mat').modal('show');
        var table = $('#tblModalMat').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmp: cmp, oid: oid, intax: intax, doid: doid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.itemcode,
                        val.itemlongdesc,
                        val.soitemqty,
                        val.doitemprice,
                        val.doitemunit,
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#tblModalMat").on('click', '#select', function () {
        if ($("#custname").val() == "") {
            Swal({
                title: 'WARNING!',
                text: 'Please select CUSTOMER field!',
                type: 'warning'
            })
            return false
        }
        var table = $('#tblModalMat').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = table.row($tr).data();
        var alldata = JSON.parse(data[0]);

        var tbldtl = $('#DataDtl').DataTable();
        var datadtl = tbldtl.row($('#seq').val()).data();
        var alldatadtl = JSON.parse(datadtl[0]);

        var iSeq = parseInt($('#seq').val()) + 1;
        var doitemdtldisctype = "Percentage";
        if (alldata.doitemdtldisctype == "A") {
            doitemdtldisctype = "Amount";
        }
        alldata.doitemdtlamt = (alldata.doitemqty * alldata.doitemprice);
        alldata.doitemdtldiscamt = 0.0;
        if (alldata.doitemdtldiscvalue > 0) {
            alldata.doitemdtldiscamt = alldata.doitemdtldiscvalue;
            if (alldata.doitemdtldisctype == "P") {
                alldata.doitemdtldiscamt = alldata.doitemdtlamt * (alldata.doitemdtldiscvalue / 100);
            }
        }
        alldata.doitemdtlnetto = (alldata.doitemdtlamt - alldata.doitemdtldiscamt);

        var obj = {
            doitemdtlseq: iSeq,
            soitemmstoid: alldata.soitemmstoid,
            soitemdtloid: alldata.soitemdtloid,
            itemoid: alldata.itemoid,
            itemcode: alldata.itemcode,
            itemlongdesc: alldata.itemlongdesc,
            itemnote: alldata.itemnote,
            soitemqty: alldata.soitemqty,
            doitemqty: alldata.doitemqty,
            doitemunitoid: alldata.doitemunitoid,
            doitemunit: alldata.doitemunit,
            doitemprice: alldata.doitemprice,
            doitemdtlamt: alldata.doitemdtlamt,
            doitemdtldisctype: alldata.doitemdtldisctype,
            doitemdtldiscvalue: alldata.doitemdtldiscvalue,
            doitemdtldiscamt: alldata.doitemdtldiscamt,
            doitemdtlnetto: alldata.doitemdtlnetto,
            doitemdtlnote: alldata.doitemdtlnote,
            precostcurr: alldata.precostcurr,
            precostprice: alldata.precostprice,
            precostupduser: alldata.precostupduser,
            precostupdtime: alldata.precostupdtime,
            doitemextcode: alldata.doitemextcode,
            doitemextname: alldata.doitemextname,
            doitemwoodvol: alldata.doitemwoodvol
        };

        datadtl[0] = JSON.stringify(obj);
        datadtl[4] = alldata.itemcode;
        datadtl[5] = alldata.itemlongdesc;
        datadtl[6] = alldata.itemnote;
        datadtl[7] = alldata.soitemqty;
        datadtl[8] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="doitemqty-' + iSeq + '" name="doitemqty-' + iSeq + '" value="' + alldata.doitemqty + '" onchange="CountDtlAmount(' + iSeq + ')">';
        datadtl[9] = alldata.doitemunit;
        datadtl[10] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="doitemprice-' + iSeq + '" name="doitemprice-' + iSeq + '" value="' + alldata.doitemprice + '" onchange="CountDtlAmount(' + iSeq + ')">';
        datadtl[11] = alldata.doitemdtlamt;
        datadtl[12] = '<select class = "form-control" id="doitemdtldisctype-' + iSeq + '" onchange="CountDtlAmount(' + iSeq + ')"> <option value="' + alldata.doitemdtldisctype + '" selected>' + doitemdtldisctype + '</option>  <option value="P">Percentage</option><option value="A">Amount</option> ';
        datadtl[13] = '<input type="text" class="form-control numberonly" style="max-width: 80px" id="doitemdtldiscvalue-' + iSeq + '" name="doitemdtldiscvalue-' + iSeq + '" value="' + alldata.doitemdtldiscvalue + '" onchange="CountDtlAmount(' + iSeq + ')">';
        datadtl[14] = alldata.doitemdtlnetto;
        datadtl[15] = '<input type="text" class="form-control" style="max-width: 150px" id="doitemdtlnote-' + iSeq + '" name="doitemdtlnote-' + iSeq + '" value="' + alldata.doitemdtlnote + '">';

        tbldtl.row($('#seq').val()).data(datadtl).invalidate();
        CountAmtHdr();
        $('#modal-mat').modal('hide');
    });

    $("#btnAddToList").click(function () {
        var table = $('#tblModalDtl').DataTable();
        var cmp = $("#cmpcode option:selected").val();
        var oid = $("#soitemmstoid").val();
        var doid = $("#doitemmstoid").val();
        var intax = $("input[name=isexcludetax]:checked").val();
        table.column(1).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmp: cmp, oid: oid, intax: intax, doid: doid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        ++i,
                        val.itemcode,
                        val.itemlongdesc,
                        val.soitemqty,
                        '<input type="text" class="form-control numberonly" style="max-width: 80px" id="doitemqty-' + i + '" name="doitemqty-' + i + '" value="' + val.doitemqty + '">',
                        val.doitemunit,
                        '<input type="text" class="form-control" style="max-width: 150px" id="doitemdtlnote-' + i + '" name="doitemdtlnote-' + i + '" value="' + val.doitemdtlnote + '">',
                        val.itemnote
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    })

    function AddToDetail() {
        var isValid = true;
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        var soitemno = $('#soitemno').val();
        var intax = $("input[name=isexcludetax]:checked").val();
        $.each(rowsel, function (key, val) {
            if (isValid)
            {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                var doitemqty_id = "#doitemqty-" + val;
                var doitemprice_id = "#doitemprice-" + val;
                var doitemdtlnote_id = "#doitemdtlnote-" + val;
                var doitemqty = table.$(doitemqty_id).val();
                var doitemprice = parseFloat(table.$(doitemprice_id).val());
                var doitemdtlamt = (doitemqty * doitemprice);
                var doitemdtldiscamt = 0.0;
                var doitemdtldisctype = "Percentage";
                if (alldata.doitemdtldisctype == "A") {
                    doitemdtldisctype = "Amount";
                }
                if (alldata.doitemdtldiscvalue > 0) {
                    doitemdtldiscamt = alldata.doitemdtldiscvalue;
                    if (alldata.doitemdtldisctype == "P") {
                        doitemdtldiscamt = doitemdtlamt * (alldata.doitemdtldiscvalue / 100);
                    }
                }
                var doitemdtlnetto = (doitemdtlamt - doitemdtldiscamt);
                var doitemdtlnote = table.$(doitemdtlnote_id).val();

                if (!IsOnDtl(alldata.soitemdtloid)) {
                    var id = tbldtl.rows().data().length + 1;
                    var obj = {
                        doitemdtlseq: id,
                        soitemmstoid: alldata.soitemmstoid,
                        soitemdtloid: alldata.soitemdtloid,
                        itemoid: alldata.itemoid,
                        itemcode: alldata.itemcode,
                        itemlongdesc: alldata.itemlongdesc,
                        itemnote: alldata.itemnote,
                        soitemqty: alldata.soitemqty,
                        doitemqty: doitemqty,
                        doitemunitoid: alldata.doitemunitoid,
                        doitemunit: alldata.doitemunit,
                        doitemprice: doitemprice,
                        doitemdtlamt: doitemdtlamt,
                        doitemdtldisctype: alldata.doitemdtldisctype,
                        doitemdtldiscvalue: alldata.doitemdtldiscvalue,
                        doitemdtldiscamt: doitemdtldiscamt,
                        doitemdtlnetto: doitemdtlnetto,
                        doitemdtlnote: doitemdtlnote,
                        precostcurr: alldata.precostcurr,
                        precostprice: alldata.precostprice,
                        precostupduser: alldata.precostupduser,
                        precostupdtime: alldata.precostupdtime,
                        doitemextcode: alldata.doitemextcode,
                        doitemextname: alldata.doitemextname,
                        doitemwoodvol: alldata.doitemwoodvol
                    };
                    tbldtl.row.add([
                        JSON.stringify(obj),
                        id,
                        '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                        alldata.soitemno,
                        alldata.itemcode,
                        alldata.itemlongdesc,
                        alldata.itemnote,
                        alldata.soitemqty,
                        '<input type="text" class="form-control numberonly" style="max-width: 80px" id="doitemqty-' + id + '" name="doitemqty-' + id + '" value="' + doitemqty + '" onchange="CountDtlAmount(' + id + ')">',
                        alldata.doitemunit,
                         '<input type="text" class="form-control numberonly" style="max-width: 80px" id="doitemprice-' + id + '" name="doitemprice-' + id + '" value="' + doitemprice + '" onchange="CountDtlAmount(' + id + ')">',
                        doitemdtlamt,
                        '<select class = "form-control" id="doitemdtldisctype-' + id + '" onchange="CountDtlAmount(' + id + ')"> <option value="' + alldata.doitemdtldisctype + '" selected>' + doitemdtldisctype + '</option>  <option value="P">Percentage</option><option value="A">Amount</option> ',
                         '<input type="text" class="form-control numberonly" style="max-width: 80px" id="doitemdtldiscvalue-' + id + '" name="doitemdtldiscvalue-' + id + '" value="' + alldata.doitemdtldiscvalue + '" onchange="CountDtlAmount(' + id + ')">',
                         doitemdtlnetto,
                        '<input type="text" class="form-control" style="max-width: 150px" id="doitemdtlnote-' + id + '" name="doitemdtlnote-' + id + '" value="' + doitemdtlnote + '">',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                    $("#soitemno").val("");
                    $("#soitemmstoid").val("");
                }
            }
        })
        SetDataDtl();
        CountAmtHdr();
        EnabledHeader();
    }

    function CountAmtHdr() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var taxtype = $('#doitemtaxtype').val();
        var intax = $("input[name=isexcludetax]:checked").val();
        var amtBeforeTax = 0.0;
        var amtAfterTax = 0.0;
        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            amtBeforeTax += alldata.doitemdtlnetto;
        }
        if (taxtype == "TAX") {
            if (intax == "False") {
                amtAfterTax = amtBeforeTax;
                amtBeforeTax = (amtBeforeTax / 1.1);
            } else {
                amtAfterTax = amtBeforeTax + (amtBeforeTax * 0.1);
            }

        } else {
            amtAfterTax = amtBeforeTax;
        }
        $('#doitemtotalamt').val(amtBeforeTax);
        $('#doitemaftertax').val(amtAfterTax);
    }

    function CountDtlAmount(id) {
        var table = $('#DataDtl').DataTable();
        var pricetype = $("input[name=isexcludetax]:checked").val();
        var data = table.row(id - 1).data();
        var alldata = JSON.parse(data[0]);
        var doitemqty_id = "#doitemqty-" + id;
        var doitemprice_id = "#doitemprice-" + id;
        var doitemdtldisctype_id = "#doitemdtldisctype-" + id;
        var doitemdtldiscvalue_id = "#doitemdtldiscvalue-" + id;
        var doitemqty = table.$(doitemqty_id).val();
        var doitemprice = table.$(doitemprice_id).val();
        var doitemdtlamt = doitemqty * doitemprice;
        var doitemdtldisctype = table.$(doitemdtldisctype_id).val();
        var doitemdtldiscvalue = table.$(doitemdtldiscvalue_id).val();
        var dDisc = 0;
        if (doitemdtldisctype == "P") {
            dDisc = parseFloat((doitemdtlamt * doitemdtldiscvalue) / 100);
        } else {
            dDisc = parseFloat(doitemdtldiscvalue);
        }
        var doitemdtldiscamt = dDisc;
        var doitemdtlnetto = doitemdtlamt - dDisc;

        alldata.doitemqty = doitemqty;
        alldata.doitemprice = doitemprice;
        alldata.doitemdtlamt = doitemdtlamt;
        alldata.doitemdtldisctype = doitemdtldisctype;
        alldata.doitemdtldiscvalue = doitemdtldiscvalue;
        alldata.doitemdtldiscamt = doitemdtldiscamt;
        alldata.doitemdtlnetto = doitemdtlnetto;

        var doitemdisctype = "Percentage";
        if (alldata.doitemdtldisctype == "A") {
            doitemdisctype = "Amount";
        }

        data[0] = JSON.stringify(alldata);
        data[4] = alldata.itemcode;
        data[5] = alldata.itemlongdesc;
        data[6] = alldata.itemnote;
        data[7] = alldata.soitemqty;
        data[8] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="doitemqty-' + id + '" name="doitemqty-' + id + '" value="' + alldata.doitemqty + '" onchange="CountDtlAmount(' + id + ')">';
        data[9] = alldata.doitemunit;
        data[10] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="doitemprice-' + id + '" name="doitemprice-' + id + '" value="' + alldata.doitemprice + '" onchange="CountDtlAmount(' + id + ')">';
        data[11] = alldata.doitemdtlamt;
        data[12] = '<select class = "form-control" id="doitemdtldisctype-' + id + '" onchange="CountDtlAmount(' + id + ')"> <option value="' + alldata.doitemdtldisctype + '" selected>' + doitemdisctype + '</option>  <option value="P">Percentage</option><option value="A">Amount</option> ';
        data[13] = '<input type="text" class="form-control numberonly" style="max-width: 80px" id="doitemdtldiscvalue-' + id + '" name="doitemdtldiscvalue-' + id + '" value="' + alldata.doitemdtldiscvalue + '" onchange="CountDtlAmount(' + id + ')">';
        data[14] = alldata.doitemdtlnetto;
        data[15] = '<input type="text" class="form-control" style="max-width: 150px" id="doitemdtlnote-' + id + '" name="doitemdtlnote-' + id + '" value="' + alldata.doitemdtlnote + '">';

        table.row(id - 1).data(data).invalidate();
        CountAmtHdr();
    }

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        $("#doitemdate").datepicker("option", "dateFormat", "dd-dd-yyyy");
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
                $('#doitemdate').replaceWith($('#doitemdate').clone());
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        $("#cmpcode").attr("readonly", bVal);
        $("#btnsearchcust").attr("disabled", bVal);
        $("#btnsearchcustshipto").attr("disabled", bVal);
        $(':radio:not(:checked)').attr('disabled', bVal);
    }

    function IsOnDtl(soitemdtloid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (soitemdtloid == alldata.soitemdtloid) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var intax = $("input[name=isexcludetax]:checked").val();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var doitemqty_id = "#doitemqty-" + alldata.doitemdtlseq;
            var doitemprice_id = "#doitemprice-" + alldata.doitemdtlseq;
            var doitemdtldisctype_id = "#doitemdtldisctype-" + alldata.doitemdtlseq;
            var doitemdtldiscvalue_id = "#doitemdtldiscvalue-" + alldata.doitemdtlseq;
            var doitemdtlnote_id = "#doitemdtlnote-" + alldata.doitemdtlseq;

            var doitemqty = table.$(doitemqty_id).val();
            var doitemprice = parseFloat(table.$(doitemprice_id).val());
            var doitemdtlamt = (doitemqty * doitemprice);
            var doitemdtldisctype = table.$(doitemdtldisctype_id).val();
            var doitemdtldiscvalue = table.$(doitemdtldiscvalue_id).val();
            var doitemdtldiscamt = 0.0;
            if (table.$(doitemdtldiscvalue_id).val() > 0) {
                doitemdtldiscamt = doitemdtldiscvalue;
                if (doitemdtldisctype == "P") {
                    doitemdtldiscamt = (doitemdtlamt / 100);
                }
            }
            var discdesc = "Amount";
            if (doitemdtldisctype == "P") {
                discdesc = "Persentage";
            }
            var doitemdtlnetto = (doitemdtlamt - doitemdtldiscamt);
            var doitemdtlnote = table.$(doitemdtlnote_id).val();

            var obj = {
                doitemdtlseq: i + 1,
                soitemmstoid: alldata.soitemmstoid,
                soitemdtloid: alldata.soitemdtloid,
                soitemno: alldata.soitemno,
                itemoid: alldata.itemoid,
                itemcode: alldata.itemcode,
                itemlongdesc: alldata.itemlongdesc,
                itemnote: alldata.itemnote,
                soitemqty: alldata.soitemqty,
                doitemqty: doitemqty,
                doitemunitoid: alldata.doitemunitoid,
                doitemunit: alldata.doitemunit,
                doitemprice: doitemprice,
                doitemdtlamt: doitemdtlamt,
                doitemdtldisctype: doitemdtldisctype,
                doitemdtldiscvalue: doitemdtldiscvalue,
                doitemdtldiscamt: doitemdtldiscamt,
                doitemdtlnetto: doitemdtlnetto,
                doitemdtlnote: doitemdtlnote,
                precostcurr: alldata.precostcurr,
                precostprice: alldata.precostprice,
                precostupduser: alldata.precostupduser,
                precostupdtime: alldata.precostupdtime,
                doitemextcode: alldata.doitemextcode,
                doitemextname: alldata.doitemextname,
                doitemwoodvol: alldata.doitemwoodvol
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    $("#btnsearchcust").click(function () {
        var table = $('#tblModalCust').DataTable();
        var cmp = $("#cmpcode option:selected").val();
        var divgroupoid = $('#ddldivgroupoid option:selected').val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetCustomerData"))",
            data: { cmp: cmp, divgroupoid: divgroupoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.custcode,
                        val.custname,
                        val.currcode,
                        val.soitemtype,
                        val.soitemtaxtype
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnsearchcustshipto").click(function () {
        if ($("#custname").val() == "") {
            Swal({
                title: 'WARNING!',
                text: 'Please select CUSTOMER field!',
                type: 'warning'
            })
            return false
        }
        var table = $('#tblModalCustShipTo').DataTable();
        var custoid = $("#custoid").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetShipTo"))",
            data: { custoid: custoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.custdtlcode,
                        val.custdtlname,
                        val.custdtladdr,
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnSave").click(function () {
        $(".rb").attr("disabled", false)
        SetDataDtl();
    });

    $("#btnSaveClose").click(function () {
        $("#closing").val("true");
        $("#btnSave").click();
    });

    $("#btnDelete").click(function () {
        var oid = $("#doitemmstoid").val();
        var cmp = $("#cmpcode option:selected").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnSendForApproval").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to POST this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, POST this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#doitemmststatus").val("Post");
                    $("#closing").val("true");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>