﻿@model RSA.Models.DB.QL_trntransrawmst

@{
    ViewBag.Title = "Transfer Warehouse Produksi";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>@ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>@ViewBag.Title Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.transrawmstres1)
                        @Html.HiddenFor(model => model.transrawmstres2)
                        @Html.HiddenFor(model => model.transrawmstres3)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @*@Html.DropDownListFor(model => model.cmpcode, null, new { @class = "form-control select2", @required = "", @onchange = "FillDDLChange()" })
                                            @Html.ValidationMessageFor(model => model.cmpcode, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Draft No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.transrawmstoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Divisi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.divgroupoid, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Transfer No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.transrawno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Transfer Date</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.transrawdate, new { htmlAttributes = new { @class = "form-control datemask2", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Address</label>
                                        <div class="col-md-8">
                                            @*@Html.TextAreaFor(model => model.transrawmstaddr, new { @class = "form-control", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.transrawmstaddr, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">City</label>
                                        <div class="col-md-4">
                                           @*@Html.DropDownListFor(model => model.transrawmstcityOid, null, new { @class = "form-control select2", @required = ""})
                                        @Html.ValidationMessageFor(model => model.transrawmstcityOid, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                            </div>    
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Doc Ref No</label>
                                        <div class="col-md-8">
                                           @Html.EditorFor(model => model.transrawdocrefno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                            @Html.ValidationMessageFor(model => model.transrawdocrefno, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.transrawmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.transrawmstnote, new { @class = "form-control", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.transrawmstnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    
                                </div>
                            </div>
                            </div>
                        </div>
                        // AKHIR BAGIAN HEADER

                        // BAGIAN DETAIL
                        <div class="box-header">
                            <h3 class="box-title"><b>@ViewBag.Title Detail</b></h3>
                        </div>
                        <div class="box-body">
                            @Html.Hidden("seq")
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Warehouse From</label>
                                            <div class="col-md-8">
                                                @Html.DropDownList("fromwhoid", null, new { @class = "form-control select2", @required = "" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Warehouse To</label>
                                            <div class="col-md-8">
                                                @Html.DropDownList("towhoid", null, new { @class = "form-control select2", @readonly="",@required = "" })
                                            </div>
                                        </div>
                                    </div>
                                </div>   
                                <div class="pull-left">
                                    <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Add To List</b></button>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-md-12" style="overflow-x: auto;">
                                <table id="DataDtl" class="table table-striped" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>alldata</th>
                                            <th>No.</th>
                                            <th></th>
                                            <th>From Warehouse</th>
                                            <th>To Warehouse</th>
                                            <th>Code</th>
                                            <th>Description</th>
                                            <th>Batch</th> 
                                            <th>Serialno</th> 
                                            <th>Stock Qty</th>
                                            <th>Transfer Qty</th>
                                            <th>Unit</th>
                                            <th>Detail Note</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        // AKHIR BAGIAN DETAIL

                        // USER & TOMBOL ACTION
                        <div class="box-footer">
                            <div class="pull-left">
                                created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                                @{
                                    if (ViewBag.action == "Update Data")
                                    {
                                        <br />
                                        @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                    }
                                }
                            </div>
                        </div>
                        <div class="pull-right">
                            @{
                                if (Model.transrawmststatus == "In Process" | Model.transrawmststatus == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                    if (ViewBag.action == "Update Data")
                                    {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                    }
                                    <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Posting</b></button>
                                }
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                            }
                        </div>
                        // AKHIR USER & TOMBOL ACTION
                       }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Material Detail Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No.</th>
                                    <th>From Warehouse</th>
                                    <th>To Warehouse</th>
                                    <th>Code</th>
                                    <th>Description</th> 
                                    <th>Batch</th>
                                    <th>Serialno</th> 
                                    <th>Stock Qty</th>
                                    <th>Transfer Qty</th>
                                    <th>Unit</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@

    @* MODAL UNTUK GANTI MATERIAL *@
    <div class="modal fade" id="modal-mat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Material Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>From Warehouse</th>
                                    <th>To Warehouse</th>
                                    <th>Code</th>
                                    <th>Description</th>  
                                    <th>Batch</th>
                                    <th>Serialno</th> 
                                    <th>Stock Qty</th>
                                    <th>Unit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK GANTI MATERIAL *@

    @* MODAL UNTUK REQUEST BY *@
    <div class="modal fade" id="modal-req">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Request By Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalReq" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>NIP</th>
                                    <th>Person Name</th>
                                    <th>Departement</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK REQUEST BY *@

    @* MODAL UNTUK MIX *@
    <div class="modal fade" id="modal-mix">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Material Mixing Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMix" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Unit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK MIX *@

    @* MODAL UNTUK MAT REQUEST *@
    <div class="modal fade" id="modal-matreq">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Mat. Request Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMatReq" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Request No.</th>
                                    <th>Request Date</th>
                                    <th>Warehouse</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK MAT REQUEST *@

    @* MODAL UNTUK GANTI MAT REQUEST *@
    <div class="modal fade" id="modal-matreqedit">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Mat. Request Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMatReqEdit" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Request No.</th>
                                    <th>Request Date</th>
                                    <th>Warehouse</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK GANTI MAT REQUEST *@
</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0, 2],
                "visible": false,
                "searchable": false
            },
            {
                "targets": [2],
                "visible": false,
                "searchable": false
            }]
        });
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
            EnabledHeader();
        });
        table.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });
        tblModalDtl.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        var tblModalMat = $("#tblModalMat").DataTable({
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        $("#tblModalReq").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        var tblModalReq = $("#tblModalReq").DataTable();
        tblModalReq.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalReq.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#personoid").val(alldata.personoid);
            $("#personname").val(alldata.personname);
            $("#personcmpcode").val(alldata.cmpcode);
            $('#modal-req').modal('hide');
        });

        $("#tblModalMix").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        var tblModalMix = $("#tblModalMix").DataTable();
        tblModalMix.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalMix.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#matoid_mix").val(alldata.matoid_mix);
            $("#matlongdesc_mix").val(alldata.matlongdesc_mix);
            $("#qty_mix").attr("readonly", false);
            $("#unitoid_mix").attr("readonly", false);
            $('#modal-mix').modal('hide');
        });

        $("#tblModalMatReq").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        var tblModalMatReq = $("#tblModalMatReq").DataTable();
        tblModalMatReq.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalMatReq.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#matreqmstoid").val(alldata.matreqmstoid);
            $("#matreqno").val(alldata.matreqno);
            $("#matreqdate").val(alldata.matreqdate);
            $("#matreqwhoid").val(alldata.matreqwhoid);
            $('#modal-matreq').modal('hide');
        });

        FillDDLChange();
        FillDetailData();
    })

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.transdtlseq,
                    '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                    val.transfromwh,
                    val.transtowh,
                    val.matcode,
                    val.matlongdesc,
                    val.refno,
                    val.serialno,
                    val.stockqty,
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="transqty-' + val.transdtlseq + '" name="transqty-' + val.transdtlseq + '" value="' + val.transqty + '">',
                    val.transunit,
                    '<input type="text" class="form-control" style="max-width: 150px" id="transdtlnote-' + val.transdtlseq + '" name="transdtlnote-' + val.transdtlseq + '" value="' + (val.transdtlnote == null ? "" : val.transdtlnote) + '">',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                EnabledHeader();
            }, 100);
        });
    }

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        if (data.length > 0) {
            //$("#cmpcode").attr("readonly", true);
            //$("#divgroupoid").val($('#divgroupoid option:selected'));
            EnableddivgroupHeader();
        } else {
            //$("#cmpcode").attr("readonly", false);
            $("#divgroupoid").attr("readonly", false);
        }
    }
    function EnableddivgroupHeader() {
        $("#divgroupoid").attr("readonly", true);
    }
    function FillDDLChange() {
        FillDDLWH();
    }

    function FillDDLWH() {
        var cmpcode = $("#cmpcode").val();
        var fromwhoid = $("#fromwhoid");
        var fromwhoid_sel = $("#fromwhoid option:selected").val();
        fromwhoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLWH"))",
            data: { cmpcode: cmpcode },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.ifield + "\'>" + val.sfield + "</option>";
                        if (val.genoid == fromwhoid_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    fromwhoid.html(markup).show();
                    if (isExist == true) {
                        fromwhoid.val(fromwhoid_sel);
                    }
                    fromwhoid.trigger('change');
                } else {
                    fromwhoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function FillDDLWHTo() {
        var cmpcode = $("#cmpcode").val();
        var towhoid = $("#towhoid");
        var towhoid_sel = $("#towhoid option:selected").val();
        towhoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLWHTo"))",
            data: { cmpcode: cmpcode},
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.genoid + "\'>" + val.gendesc + "</option>";
                        if (val.genoid == towhoid_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    towhoid.html(markup).show();
                    if (isExist == true) {
                        towhoid.val(towhoid_sel);
                    }
                    towhoid.trigger('change');
                } else {
                    towhoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    $("#btnAddToList").click(function () {
        var table = $('#tblModalDtl').DataTable();
        var cmpcode = $("#cmpcode").val();
        var whoid = $('#fromwhoid option:selected').val();
        var fromwhdesc = $('#fromwhoid option:selected').text();
        var towhdesc = $('#towhoid option:selected').text();
        var divgroupoid = $('#divgroupoid option:selected').val();
        table.column(1).checkboxes.deselect();
        table.clear().draw();      
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmpcode: cmpcode, whoid: whoid, divgroupoid: divgroupoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                console.log(data.tbl);
                $.each(data, function (key, val) {
                    val.transdtlseq = ++i;
                    rows.push([
                        JSON.stringify(val),
                        val.transdtlseq,
                        val.transdtlseq,
                        fromwhdesc,
                        towhdesc,
                        val.matcode,
                        val.matlongdesc,
                        val.refno,
                        val.serialno,
                        val.stockqty,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="transqty-' + i + '" name="transqty-' + i + '" value="' + val.transqty + '">',
                        val.transunit,
                        '<input type="text" class="form-control" style="max-width: 150px" id="transdtlnote-' + i + '" name="transdtlnote-' + i + '" value="' + val.transdtlnote + '">'
                    ]);
                });
                table.rows.add(rows).draw();
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $('#DataDtl').on('click', '#edit', function () {
        var tbldtl = $('#DataDtl').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = tbldtl.row($tr).data();
        var alldata = JSON.parse(data[0]);
        $("#seq").val(alldata.transdtlseq - 1);
        $('#modal-mat').modal('show');

        var table = $('#tblModalMat').DataTable();
        var cmpcode = $("#cmpcode").val();
        var whoid = $('#fromwhoid option:selected').val();
        var transfromwh = $('#fromwhoid option:selected').text();
        var transtowhoid = $('#towhoid option:selected').val();
        var transtowh = $('#towhoid option:selected').text();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmpcode: cmpcode, whoid: whoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        transfromwh,
                        transtowh,
                        val.matcode,
                        val.matlongdesc,
                        val.refno,
                        val.serialno,
                        val.stockqty,
                        val.transunit
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#tblModalMat").on('click', '#select', function () {
        var table = $('#tblModalMat').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = table.row($tr).data();
        var alldata = JSON.parse(data[0]);

        var transfromwhoid = $('#fromwhoid option:selected').val();
        var transfromwh = $('#fromwhoid option:selected').text();
        var transtowhoid = $('#towhoid option:selected').val();
        var transtowh = $('#towhoid option:selected').text();
        var tbldtl = $('#DataDtl').DataTable();
        var iSeq = parseInt($('#seq').val())+1;
        var datadtl = tbldtl.row($('#seq').val()).data();
        var alldatadtl = JSON.parse(datadtl[0]);
        alldata.transqty = 0;

        var obj = {
            transdtlseq: iSeq,
            transfromwhoid: transfromwhoid,
            transfromwh: transfromwh,
            transtowhoid: transtowhoid,
            transtowh: transtowh,
            matoid: alldata.matoid,
            matcode: alldata.matcode,
            matlongdesc: alldata.matlongdesc,
            refno: alldata.refno,
            serialno: alldata.serialno,
            stockqty: alldata.stockqty,
            transqty: alldata.transqty,
            transunitoid: alldata.transunitoid,
            transunit: alldata.transunit,
            transrawdtlres2: alldata.transrawdtlres2,
            transdtlnote: alldata.transdtlnote
        };

        datadtl[0] = JSON.stringify(obj);
        datadtl[3] = transfromwh;
        datadtl[4] = transtowh;
        datadtl[5] = alldata.matcode;
        datadtl[6] = alldata.matlongdesc;
        datadtl[7] = alldata.refno;
        datadtl[8] = alldata.serialno;
        datadtl[9] = alldata.stockqty;
        datadtl[10] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="transqty-' + iSeq + '" name="transqty-' + iSeq + '" value="' + alldata.transqty + '">';
        datadtl[11] = alldata.transunit;

        tbldtl.row($('#seq').val()).data(datadtl).invalidate();
        $('#modal-mat').modal('hide');
    });

    function AddToDetail() {
        var isValid = true;
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var transfromwhoid = $('#fromwhoid option:selected').val();
        var transfromwh = $('#fromwhoid option:selected').text();
        var transtowhoid = $('#towhoid option:selected').val();
        var transtowh = $('#towhoid option:selected').text();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid) {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                var transqty_id = "#transqty-" + val;
                var transdtlnote_id = "#transdtlnote-" + val;
                var transqty = table.$(transqty_id).val();
                var transdtlnote = table.$(transdtlnote_id).val();
                if (!IsOnDtl(alldata.matoid, alldata.refno, alldata.serialno, transfromwhoid)) {
                    var id = tbldtl.rows().data().length + 1;
                    var obj = {
                        transdtlseq: id,
                        transfromwhoid: transfromwhoid,
                        transfromwh: transfromwh,
                        transtowhoid: transtowhoid,
                        transtowh: transtowh,
                        matoid: alldata.matoid,
                        matcode: alldata.matcode,
                        matlongdesc: alldata.matlongdesc,
                        refno: alldata.refno,
                        serialno: alldata.serialno,
                        stockqty: alldata.stockqty,
                        transqty: transqty,
                        transunitoid: alldata.transunitoid,
                        transunit: alldata.transunit,
                        transrawdtlres2: alldata.transrawdtlres2,
                        transdtlnote: transdtlnote
                    };
                    tbldtl.row.add([
                        JSON.stringify(obj),
                        id,
                        '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                        transfromwh,
                        transtowh,
                        alldata.matcode,
                        alldata.matlongdesc,
                        alldata.refno,
                        alldata.serialno,
                        alldata.stockqty,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="transqty-' + id + '" name="transqty-' + id + '" value="' + transqty + '">',
                        alldata.transunit,
                        '<input type="text" class="form-control" style="max-width: 150px" id="transdtlnote-' + id + '" name="transdtlnote-' + id + '" value="' + (transdtlnote == null ? "" : transdtlnote) + '">',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                    EnabledHeader();
                }
            }
        });
        SetDataDtl();
    }

    function IsOnDtl(matoid, refno, serialno, transfromwhoid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (matoid == alldata.matoid && refno == alldata.refno && serialno == alldata.serialno && transfromwhoid == alldata.transfromwhoid) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var transqty_id = "#transqty-" + (i + 1);
            var transdtlnote_id = "#transdtlnote-" + (i + 1);
            var transqty = table.$(transqty_id).val();
            var transdtlnote = table.$(transdtlnote_id).val();
            var obj = {
                transdtlseq: i + 1,
                transfromwhoid: alldata.transfromwhoid,
                transfromwh: alldata.transfromwh,
                transtowhoid: alldata.transtowhoid,
                transtowh: alldata.transtowh,
                matoid: alldata.matoid,
                matcode: alldata.matcode,
                matlongdesc: alldata.matlongdesc,
                refno: alldata.refno,
                serialno: alldata.serialno,
                stockqty: alldata.stockqty,
                transqty: transqty,
                transunitoid: alldata.transunitoid,
                transunit: alldata.transunit,
                transrawdtlres2: alldata.transrawdtlres2,
                transdtlnote: transdtlnote
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    $("#btnsearchreq").click(function () {
        var table = $('#tblModalReq').DataTable();
        var cmp = $("#cmpcode").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetRequestByData"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.nip,
                        val.personname,
                        val.deptname
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnsearchmix").click(function () {
        var table = $('#tblModalMix').DataTable();
        var cmp = $("#cmpcode").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("BindListMatMix"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.matcode_mix,
                        val.matlongdesc_mix,
                        val.unit_mix
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnsearchmatreq").click(function () {
        var table = $('#tblModalMatReq').DataTable();
        var cmp = $("#cmpcode").val();
        var deptoid = $("#deptoid option:selected").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("BindListMatReq"))",
            data: { cmp: cmp, deptoid: deptoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.matreqno,
                        moment(jsDate(val.matreqdate)).format('MM/DD/YYYY'),
                        val.matreqwh,
                        val.matreqmstnote
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnSave").click(function () {
        SetDataDtl();
    });

    $("#btnDelete").click(function () {
        var oid = $("#transrawmstoid").val();
        var cmp = $("#cmpcode").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnPost").click(function () {
        $("#transrawmststatus").val("Post");

        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for Post?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>