﻿@model RSA.Models.DB.QL_trnshipmentrawmst

@{
    ViewBag.Title = "SJ Sheet";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form SJ Barang Jadi</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>SJ Barang Jadi Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.shipmentrawmstres1)
                        @Html.HiddenFor(model => model.shipmentrawmstres2)
                        @Html.HiddenFor(model => model.shipmentrawmstres3)
                        @Html.HiddenFor(model => model.approvaldatetime)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.revisereason)
                        @Html.HiddenFor(model => model.reviseuser)
                        @Html.HiddenFor(model => model.revisetime)
                        @Html.HiddenFor(model => model.rejectreason)
                        @Html.HiddenFor(model => model.rejectuser)
                        @Html.HiddenFor(model => model.rejecttime)
                        @Html.HiddenFor(model => model.divgroupoid)

                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6" style="Display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @*@Html.DropDownListFor(model => model.cmpcode, null, new { @class = "form-control select2", @required = "", @onchange = "FillDDLWarehouse()" })
                                                @Html.ValidationMessageFor(model => model.cmpcode, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Draft No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.shipmentrawmstoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Divisi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("ddldivgroupoid", null, new { @class = "form-control", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">shipment No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.shipmentrawno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl. Shipment <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.shipmentrawdate, new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.shipmentrawdate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("custname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchcust" class="btn btn-flat" data-toggle="modal" data-target="#modal-cust">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.custoid)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Ship to <label class="text-red">*</label></label>
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                @Html.Editor("alamat", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchalamat" class="btn btn-flat" data-toggle="modal" data-target="#modal-alamat">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                                @Html.HiddenFor(model => model.custdtloid)
                                            </div>
                                            @Html.ValidationMessageFor(model => model.custdtloid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="Display:none;">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Container No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.shipmentrawcontno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" style="Display:none;">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Port Ship</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.shipmentrawportship, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">ETD <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.shipmentrawetd, new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.shipmentrawetd, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">ETA <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.shipmentraweta, new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.shipmentraweta, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="Display:none;">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Port Discharge</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.shipmentrawportdischarge, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Driver</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(Model=>Model.drivoid, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Vehicle</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(Model=>Model.vhcoid, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                            <div class="row">
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Vehicle Police No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.shipmentrawnopol, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.shipmentrawmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.shipmentrawmststatus } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" style="Display:none;">
                                    <div class="form-group" id="sjpajak">
                                        <label class="col-md-4 control-label">SJ Pajak</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.shipmentrawno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30" } })
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Seal No.</label>
                                            <div class="col-md-4">
                                                @Html.EditorFor(model => model.shipmentitemsealno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength="30" } })
                                            </div>
                                        </div>
                                    </div>*@
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.shipmentrawmstnote, new { @class = "form-control", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.shipmentrawmstnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="Display:none;">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Approval User</label>
                                        <div class="col-md-8">
                                            @*@Html.DropDownListFor(model => model.approvalcode, null, new { @class = "form-control select2", @required = "" })
                                                @Html.ValidationMessageFor(model => model.approvalcode, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Revise Reason</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.revisereason, new { @class = "form-control", @readonly = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Reject Reason</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.rejectreason, new { @class = "form-control", @readonly = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>SJ Barang Jadi Detail</b></h3>
                    </div>
                    <div class="box-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">DO No. </label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("dorawno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchdo" class="btn btn-flat" data-toggle="modal" data-target="#modal-do">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        @Html.Hidden("dorawmstoid")
                                        @Html.Hidden("dorawdate")
                                        @Html.Hidden("curroid")
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Warehouse</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("shipmentrawwhoid", null, new { @class = "form-control select2" })
                                        </div>
                                        @Html.Hidden("shipmentraww")
                                        @Html.Hidden("shipmentwhoid")
                                        @Html.Hidden("shipmentwh")
                                    </div>
                                </div>
                            </div>
                            <div class="pull-left">
                                <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Add Item</b></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No.</th>
                                        <th>SO No.</th>
                                        <th>SO Date</th>
                                        <th>Warehouse</th>
                                        <th>Code</th>
                                        <th>Material</th>
                                        <th>Qty</th>
                                        <th>Unit</th>
                                        <th>Detail Note</th>
                                        <th>Batch</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                if (Model.shipmentrawmststatus == "In Process" | Model.shipmentrawmststatus == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                    <button type="button" class="btn btn-primary btn-md" id="btnSaveClose"><b>Save & Close</b></button>
                                    if (ViewBag.action == "Update Data")
                                    {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                    }
                                    <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Post</b></button>
                                }
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                            }
                        </div>
                    </div>

                                    // AKHIR USER & TOMBOL ACTION
                                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DO *@
    <div class="modal fade" id="modal-do">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of SO item Material</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDO" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>DO No.</th>
                                    <th>DO Date</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DO *@

    @* MODAL UNTUK FORM DETAIL SO ITEM *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Item</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>SO No.</th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Stock Qty</th>
                                    <th>SO Qty</th>
                                    <th>Qty</th>
                                    <th>Unit</th>
                                    <th>Note</th>
                                    <th>Batch</th>
                                    <th>Round Qty</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL SO ITEM *@

    @* MODAL UNTUK CUSTOMER *@
    <div class="modal fade" id="modal-cust">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Customer</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCust" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Direct PO No.</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK CUSTOMER *@
    @* MODAL UNTUK ALAMAT *@
    <div class="modal fade" id="modal-alamat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Customer</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalAlamat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Lokasi</th>
                                    <th>Alamat Pengiriman</th>
                                    <th>Kota</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK ALAMAT *@
</section>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            reitemonsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();
            var data = table.rows().data();
            var j = 0;
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
            EnabledHeader();
        });
        table.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        tblModalDtl.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {btnsearchalamat
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        var tblModalAlamat = $("#tblModalAlamat").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalAlamat.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalAlamat.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#alamat").val(alldata.custdtlname);
            $("#custdtloid").val(alldata.custdtloid);
            $('#modal-alamat').modal('hide');
        });
        //tblModalDtl.on("click", ".dp", function (e) {
        //    $(this).datepicker({
        //        format: 'mm/dd/yyyy',
        //        todayHighlight: true,
        //        autoclose: true
        //    });
        //});

        $("#tblModalCust").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        $("#tblModalDO").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalCust = $("#tblModalCust").DataTable();
        tblModalCust.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalCust.row($tr).data();
            var alldata = JSON.parse(data[0])
            var tbldtl = $('#DataDtl').DataTable();
            $("#custname").val(alldata.custname);
            $("#custoid").val(alldata.custoid);
            if (alldata.custtype == "EXPORT")
                $("#sjpajak").hide();
            else
                $("#sjpajak").show();
            $("#divgroupoid").val($('#ddldivgroupoid option:Selected').val());
            EnableddivgroupHeader();
            $('#modal-cust').modal('hide');
        });

        var tblModalDO = $("#tblModalDO").DataTable();
        tblModalDO.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalDO.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#dorawno").val(alldata.dorawno);
            $("#dorawmstoid").val(alldata.dorawmstoid);
            $("#dorawdate").val(alldata.dorawdate);
            $("#curroid").val(alldata.curroid);
            $('#modal-do').modal('hide');
        });

        $("#btnAddToDetail").click(function () {
            ClearDetail();
        });

        $("#cmpcode").change(function () {
            InitDDLAppUser();
        });

        InitDDLAppUser();
        FillDDLWarehouse();
        FillDetailData();
    })
    function EnableddivgroupHeader() {
        $("#ddldivgroupoid").attr("readonly", true);
    }
    function FillDetailData() {
        var id = $("#shipmentrawmstoid").val();
        var table = $("#DataDtl").DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("FillDetailData"))",
            data: {oid: id},
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var rows = [];
                    $.each(data.dtl, function (key, val) {
                        rows.push([
                            JSON.stringify(val),
                            val.shipmentrawdtlseq,
                            val.dorawno,
                            val.dorawdate,
                            val.shipmentrawwh,
                            val.matrawcode,
                            val.matrawlongdesc,
                            '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="shipmentrawqty-' + val.shipmentrawdtlseq + '" name="shipmentrawqty-' + val.shipmentrawdtlseq + '" onblur="UpdateDtl(' + val.shipmentrawdtlseq + ')" value="' + val.shipmentrawqty + '" >',
                            val.shipmentrawunit,
                            '<input type="text" class="form-control" style="max-width: 150px" id="shipmentrawdtlnote-' + val.shipmentrawdtlseq + '" name="shipmentrawdtlnote-' + val.shipmentrawdtlseq + '" onblur="UpdateDtl(' + val.shipmentrawdtlseq + ')"value="' + (val.shipmentrawdtlnote == null ? "" : val.shipmentrawdtlnote) + '">',
                            val.sn,
                            '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                        ]);
                    });
                    table.rows.add(rows).draw();
                }else{
                    swal('', data.result, 'error');
                    return false;
                }
            },
            error: function(err){
                swal('', err.responseText, 'error');
                return false;
            }
        });
    }


    function FillDDLWarehouse() {
        var cmp = $("#cmpcode").val();
        var shipmentrawwhoid = $("#shipmentrawwhoid");
        var shipmentrawwhoid_sel = $("#shipmentrawwhoid option:selected").val();
        shipmentrawwhoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLWarehouse"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.genoid + "\'>" + val.gendesc + "</option>";
                        if (val.genoid == shipmentrawwhoid_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    shipmentrawwhoid.html(markup).show();
                    if (isExist == true) {
                        shipmentrawwhoid.val(shipmentrawwhoid_sel);
                    }
                    shipmentrawwhoid.trigger('change');
                } else {
                    shipmentrawwhoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
                $("#shipmentraww").val(markup);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

function InitDDLAppUser() {
        var cmp = $("#cmpcode").val();
        var approvalcode = $("#approvalcode");
        var approvalcode_sel = $("#approvalcode option:selected").val();
        approvalcode.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLAppUser"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
            var markup = "";
            if (data.result == "sukses") {
                var isExist = false;
                $.each(data.tbl, function (key, val) {
                    markup += "<option value=\'" + val.approvaluser + "\'>" + val.approvaluser + "</option>";
                    if (val.approvaluser == approvalcode_sel) {
                        isExist = true;
                    }
                });
                console.log(data.tbl);
                approvalcode.html(markup).show();
                if (isExist == true) {
                    approvalcode.val(approvalcode_sel);
                }
                approvalcode.trigger('change');
            } else {
                approvalcode.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        $("#shipmentrawdate").datepicker("option", "dateFormat", "MM-dd-yyyy");
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
                $('#shipmentrawdate').replaceWith($('#shipmentrawdate').clone());
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        //$("#cmpcode").attr("readonly", bVal);
        $("#btnsearchcust").attr("disabled", bVal);
    }

    function ClearDetail() {
        $("#sorawno").val("");
        $("#sorawmstoid").val("");
        $("#sorawdate").val("");
        $("#shipmentrawwhoid").val($("#shipmentrawwhoid option:first").val());
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    $("#btnAddToList").click(function () {
        if ($("#sorawmstoid").val() == "") {
            Swal({
                title: 'WARNING!',
                text: 'Please select SO!',
                type: 'warning'
            });
            return false;
        } else {
            var cmp = $("#cmpcode").val();
            var custoid = $("#custoid").val();
            var dorawmstoid = $("#dorawmstoid").val();
            var shipmentrawmstoid = $("#shipmentrawmstoid").val();
            var shipmentrawwhoid = $("#shipmentrawwhoid").val();
            var table = $("#tblModalDtl").DataTable();
            table.column(1).checkboxes.deselect();
            table.clear().draw();
            $.ajax({
                url: "@(Url.Action("GetDataDetails"))",
                data: { cmp: cmp, custoid: custoid, dorawmstoid: dorawmstoid, shipmentrawwhoid: shipmentrawwhoid, shipmentrawmstoid: shipmentrawmstoid, action: "" },
                cache: false,
                type: "POST",
                success: function (data) {
                    var rows = [];
                    var i = 0;
                    $.each(data, function (key, val) {
                        rows.push([
                            JSON.stringify(val),
                            ++i,
                            val.dorawno,
                            val.matrawcode,
                            val.matrawlongdesc,
                            val.stockqty,
                            val.dorawqty,
                            '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="shipmentrawqty-' + i + '" name="shipmentrawqty-' + i + '" value="' + val.shipmentrawqty + '">',
                            val.shipmentrawunit,
                            '<input type="text" class="form-control" style="max-width: 150px" id="shipmentrawdtlnote-' + i + '" name="shipmentrawdtlnote-' + i + '" value="' + val.shipmentrawdtlnote + '">',
                            val.sn,
                            val.rawlimitqty
                        ]);
                    });
                    setTimeout(function () {
                        table.rows.add(rows).draw();
                    }, 100);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    });

    $("#btnsearchdo").click(function () {
        if ($("#custname").val() == "") {
            Swal({
                title:'WARNING!',
                text: 'Please select CUSTOMER field!',
                type:'warning'
            });
            return false;
        } else {
            var table = $('#tblModalDO').DataTable();
            var custoid = $('#custoid').val();
            var cmp = $("#cmpcode").val();
            var action = $("#action").val();
            var divgroupoid = $('#ddldivgroupoid option:selected').val();
            var shipmentrawmstoid = $('#shipmentrawmstoid').val();
            table.clear().draw();
            $.ajax({
                url: "@(Url.Action("GetDOData"))",
                data: { cmp: cmp, custoid: custoid, action: action, shipmentrawmstoid: shipmentrawmstoid, divgroupoid: divgroupoid },
                cache: false,
                type: "POST",
                success: function (data) {
                    var rows = [];
                    var i = 0;
                    $.each(data, function (key, val) {
                        rows.push([
                            JSON.stringify(val),
                            '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                            val.dorawno, //val.sorawno,
                            moment(jsDate(val.dorawdate)).format('MM/DD/YYYY'), //moment(jsDate(val.sorawdate)).format('MM/DD/YYYY'),

                            val.dorawmstnote,
                        ]);
                    });
                    setTimeout(function () {
                        table.rows.add(rows).draw();
                    }, 100);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    });

    function AddToDetail() {
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        if (tbldtl.rows().data().length > 0) {
            //Swal({
            //    title: 'WARNING!',
            //    text: 'One shipment must contain only one SO No.!',
            //    type: 'warning'
            //});
            //ClearDetail();
            //return false;
        }
        var shipmentrawwhoid = $("#shipmentrawwhoid option:selected").val();
        var shipmentrawwh = $("#shipmentrawwhoid").find('option:selected').text();
        $.each(rowsel, function (key, val) {
            var data = table.row(val - 1).data();
            var alldata = JSON.parse(data[0]);
            var shipmentrawqty_id = "#shipmentrawqty-" + val;
            var shipmentrawqty = $(shipmentrawqty_id).val();
            var shipmentrawdtlnote_id = "#shipmentrawdtlnote-" + val;
            var shipmentrawdtlnote = $(shipmentrawdtlnote_id).val();

            if (!IsOnDtl(alldata.sorawdtloid, alldata.sn, alldata.expdate)) {
                var id = tbldtl.rows().data().length + 1;
                var obj = {
                    shipmentrawdtlseq: id,
                    dorawmstoid: alldata.dorawmstoid,
                    dorawdtloid: alldata.dorawdtloid,
                    dorawno: alldata.dorawno,
                    dorawdate: alldata.dorawdate,
                    dorawqty: alldata.dorawqty,
                    shipmentrawwh: shipmentrawwh,
                    shipmentrawwhoid: shipmentrawwhoid,
                    matrawoid: alldata.matrawoid,
                    matrawcode: alldata.matrawcode,
                    matrawlongdesc: alldata.matrawlongdesc,
                    shipmentrawqty: shipmentrawqty,
                    shipmentrawunit: alldata.shipmentrawunit,
                    shipmentrawunitoid: alldata.shipmentrawunitoid,
                    shipmentrawdtlnote: shipmentrawdtlnote,
                    rawlimitqty: alldata.rawlimitqty,
                    sn: alldata.sn
                };
                tbldtl.row.add([
                    JSON.stringify(obj),
                    id,
                    alldata.dorawno,
                    alldata.dorawdate,
                    shipmentrawwh,
                    alldata.matrawcode,
                    alldata.matrawlongdesc,
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="shipmentrawqty-' + id + '" name="shipmentrawqty-' + id + '" onblur="UpdateDtl(' + id + ')" value="' + shipmentrawqty + '" >',
                    alldata.shipmentrawunit,
                    '<input type="text" class="form-control" style="max-width: 150px" id="shipmentrawdtlnote-' + id + '" name="shipmentrawdtlnote-' + id + '" onblur="UpdateDtl(' + id + ')" value="' + shipmentrawdtlnote + '">',
                    alldata.sn,
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]).draw();
            }
        })
        SetDataDtl();
    }

    function IsOnDtl(sorawdtloid, sn, expdate) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (sorawdtloid == alldata.sorawdtloid && sn == alldata.sn && expdate ==  alldata.expdate) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var shipmentrawdtlnote_id = "#shipmentrawdtlnote-" + alldata.shipmentrawdtlseq;
            var shipmentrawdtlnote = table.$(shipmentrawdtlnote_id).val();
            var obj = {
                shipmentrawdtlseq: i + 1,
                dorawmstoid: alldata.dorawmstoid,
                dorawdtloid: alldata.dorawdtloid,
                dorawno: alldata.dorawno,
                dorawdate: alldata.dorawdate,
                dorawqty: alldata.dorawqty,
                shipmentrawwh: alldata.shipmentrawwh,
                shipmentrawwhoid: alldata.shipmentrawwhoid,
                matrawoid: alldata.matrawoid,
                matrawcode: alldata.matrawcode,
                matrawlongdesc: alldata.matrawlongdesc,
                shipmentrawqty: alldata.shipmentrawqty,
                shipmentrawunit: alldata.shipmentrawunit,
                shipmentrawunitoid: alldata.shipmentrawunitoid,
                shipmentrawdtlnote: shipmentrawdtlnote,
                rawlimitqty: alldata.rawlimitqty,
                sn: alldata.sn,
                expdate: moment(jsDate(alldata.expdate)).format('MM/DD/YYYY')
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    function UpdateDtl(id) {
        var table = $('#DataDtl').DataTable();
        var shipmentrawqty = $("#shipmentrawqty-" + id).val();
        var shipmentrawdtlnote = $("#shipmentrawdtlnote-" + id).val();

        var temp = table.row(id - 1).data();
        var alldata = JSON.parse(temp[0]);
        alldata.shipmentrawqty = shipmentrawqty;
        alldata.shipmentrawdtlnote = shipmentrawdtlnote;
        temp[7] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="shipmentrawqty-' + id + '" name="shipmentrawqty-' + id + '" onblur="UpdateDtl(' + id + ')" value="' + shipmentrawqty + '" >';
        temp[9] = '<input type="text" class="form-control" style="max-width: 150px" id="shipmentrawdtlnote-' + id + '" name="shipmentrawdtlnote-' + id + '" onblur="UpdateDtl(' + id + ')" value="' + shipmentrawdtlnote + '">';
        temp[0] = JSON.stringify(alldata);
        table.row(id - 1).data(temp).invalidate();
        SetDataDtl();
    }

    $("#btnsearchcust").click(function () {
        var table = $('#tblModalCust').DataTable();
        var cmp = $("#cmpcode").val();
        var divgroupoid = $('#ddldivgroupoid option:selected').val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetCustomerData"))",
            data: { cmp: cmp, divgroupoid: divgroupoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.custcode,
                        val.custname,
                        val.custaddr,
                        val.sorawcustpono
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnSave").click(function () {
        SetDataDtl();
    });

    $("#btnSaveClose").click(function () {
        $("#closing").val("true");
        $("#btnSave").click();
        SetDataDtl();
    });

    $("#btnDelete").click(function () {
        var oid = $("#shipmentrawmstoid").val();
        var cmp = $("#cmpcode").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });
    $("#btnsearchalamat").click(function () {
        var custoid = $("#custoid").val();
        if (custoid == '') {
            alert('Pilih Customer dulu!');
            return false;
        }
        var table = $('#tblModalAlamat').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetAlamatData"))",
            data: { custoid: custoid },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.custdtlname,
                    val.custdtladdr,
                    val.custdtlcity

                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    $("#btnPost").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for APPROVAL?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#shipmentrawmststatus").val("Post");
                    $("#closing").val("true");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>