﻿@model RSA.Models.DB.QL_trnusagemst

@{
    ViewBag.Title = "Material Usage";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Material Usage</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Material Usage Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.usagemstres3)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        @Html.Hidden("batch")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Divisi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.divgroupoid, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.cmpcode, null, new { @class = "form-control select2", @required = "", @onchange = "ChangeBusinessUnit()" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Draft No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.usagemstoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Usage No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.usageno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Usage Date</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.usagedate, new { htmlAttributes = new { @class = "form-control  datemask2", @type = "text", @required = "", @readonly = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Warehouse <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.usagewhoid, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.usagemstnote, new { @class = "form-control", @maxlength = "200" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.usagemststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                               
                             
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>SPK DATA</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.Hidden("seq")
                       
                        <div class="container-fluid">
                            <div class="pull-left">
                                <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Add To List</b></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No.</th>
                                        <th>SPK No</th>
                                        <th>SPK Date</th>
                                        <th>No Prodres Confirmasi</th>
                                        <th>Finish Good</th>
                                        <th>Qty Confirmasi</th>
                                        <th>Detail Note</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                        <div class="col-md-12">
                            <div class="row">
                                <div class="box-header">
                                    <h3 class="box-title"><b>Material Detail</b></h3>
                                </div>
                             
                                <div class="pull-left">
                                    <button type="button" class="btn btn-primary" id="btnAddToList2" data-toggle="modal" data-target="#modal-detail2"><b>Add To List</b></button>
                                </div>
                                <div class="col-md-12" style="overflow-x: auto;">
                                    <table id="DataDtl2" class="table table-striped" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>alldata</th> @* Index 0 *@
                                                <th>No.</th> @* Index 1 *@
                                                <th>Kode Item</th> @* Index 3 *@
                                                <th>Nama Item</th> @* Index 4 *@
                                                <th>Batch</th>
                                                <th>Serialno</th>
                                                <th>Stock</th>
                                                <th>QTY</th> @* Index 5 *@
                                                <th>Unit</th> @* Index 6 *@
                                                <th>Catatan</th> @* Index 9 *@
                                                <th></th> @* Index 9 *@
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                    </div>
                    <div class="pull-right">
                        @{
                            if (Model.usagemststatus == "In Process" || Model.usagemststatus == "Revised")
                            {
                                <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                <button type="button" class="btn btn-primary btn-md" id="btnSaveClose"><b>Save & Close</b></button>
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                if (ViewBag.action == "Update Data")
                                {
                                    <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                }
                                <button type="button" class="btn btn-warning btn-md" id="btnPosting"><b>Post</b></button>
                            }
                            else
                            {
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                            }
                        }
                    </div>
                                // AKHIR USER & TOMBOL ACTION
                            }
            </div>
        </div>
    </div>
    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">SPK Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;" id="divinputmulti">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>SPK NO</th>
                                    <th>SPK Date</th>
                                    <th>No Prodres Confirmasi</th>
                                    <th>Finish Good</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@
    @* MODAL UNTUK FORM DETAIL2 *@
    <div class="modal fade" id="modal-detail2">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Detail Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl2" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th>No.</th>
                                    <th>Kode Item</th> @* Index 3 *@
                                    <th>Nama Item</th>
                                    <th>Batch</th>
                                    <th>Serialno</th>
                                    <th>Stock</th>
                                    <th>Qty</th> @* Index 7 *@
                                    <th>Unit</th> @* Index 8 *@
                                    <th>Catatan</th> @* Index 9 *@
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail2()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL2 *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        table.on("draw", function () {
            $('#DataDtl thead th').removeClass('money');
            $('#DataDtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
        });

        $("#tblModalmat").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            }
        });

        tblModalDtl.on("draw", function () {
            $('#tblModalDtl thead th').removeClass('money');
            $('#tblModalDtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
        });

        var tblModalDtl2 = $("#tblModalDtl2").DataTable({
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            }
        });
        tblModalDtl2.on("draw", function () {
            $('#tblModalDtl2 .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tblModalDtl2 .datepicker').datepicker({
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tblModalDtl2 .select2').select2({ theme: 'bootstrap' });
        });

        var table2 = $('#DataDtl2').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        table2.on('click', '#remove', function (e) {
            var tbldtl = $('#DataDtl2').DataTable();
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            tbldtl.row($tr).remove().draw();
            UpdateDataDetail2();
            e.preventDefault();
 
        });
        table2.on("draw", function () {
            $('#DataDtl2 .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#DataDtl2 .datepicker').datepicker({
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#DataDtl2 .select2').select2({ theme: 'bootstrap' });
        });

        if ($('#action').val() == "Update Data") {
            FillDetailData();
            FillDetailData2();
        }
    })

    function ChangeBusinessUnit() {
        //$('#womstoid').val(0);
        //$('#wono').val("");
        //$('#routeoid_temp').val(0);
        //$("#routeoid").empty();
    }

    function ChangeRoute() {
        FillDDLWH();
    }

    function FillDDLWH() {
        var cmpcode = $("#cmpcode").val();
        var action = $("#action").val();
        var usagewhoid = $("#usagewhoid");
        usagewhoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLWH"))",
            data: { cmpcode: cmpcode,  action: action },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.genoid + "\'>" + val.gendesc + "</option>";
                    });
                    usagewhoid.html(markup).show();
                } else {
                    usagewhoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function EnableHeader() {
        var bVal = false;
        if ($('#DataDtl').DataTable().rows().data().length > 0)
            bVal = true;
        $('#cmpcode').attr('readonly', bVal);
        $('#divgroupoid').attr('readonly', bVal);
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    $("#btnAddToList").click(function () {
        var table = $('#tblModalDtl').DataTable();
        var cmp = $("#cmpcode").val();

        var divgroupoid = $('#divgroupoid').val();
        table.column(1).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmp: cmp, divgroupoid: divgroupoid },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var rows = [];
                    var i = 0;
                    $.each(data.tbl, function (key, val) {
                        rows.push([
                            JSON.stringify(val),
                            ++i,
                            val.wono,
                            val.wodate,
                            val.confirmno,
                            val.itemlongdesc,
                            '<input type="text" class="form-control" style="max-width: 150px" id="usagedtlnote-' + i + '" name="usagedtlnote-' + i + '" value="' + val.usagedtlnote + '">'
                        ]);
                    });
                    table.rows.add(rows).draw();
                } else {
                    swal('', data.result, 'error');
                    $('#modal-detail').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-detail').modal('hide');
            }
        });
    });

    function AddToDetail() {
        var tbldtl = $('#DataDtl').DataTable();
        var table = $('#tblModalDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            var data = table.row(val - 1).data();
            var alldata = JSON.parse(data[0]);
            var usagedtlnote = (table.$("#usagedtlnote-" + val).val() == null ? "" : table.$("#usagedtlnote-" + val).val());

            if (!IsOnDtl(alldata.womstoid)) {
                var id = tbldtl.rows().data().length + 1;
                alldata.usagedtlseq = id;
                alldata.usagedtlnote = usagedtlnote;

                tbldtl.row.add([
                    JSON.stringify(alldata),
                    id,
                    alldata.wono,
                    alldata.wodate,
                    alldata.confirmno,
                    alldata.itemlongdesc,
                    addCommas(alldata.confirmqty),
                    '<input type="text" class="form-control" style="max-width: 150px" id="usagedtlnote-' + id + '" value="' + usagedtlnote + '">',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]).draw();
                EnableHeader();
            }
        });
    }

    function IsOnDtl(womstoid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (womstoid == alldata.womstoid) {
                return true;
            }
        }
        return false;
    }

    $('#DataDtl').on('click', '#remove', function (e) {
        var tbldtl = $('#DataDtl').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var idx = tbldtl.row($tr).data()[1] - 1;
        tbldtl.row($tr).remove().draw();
        UpdateDataDetail();
        e.preventDefault();
        EnableHeader();
    });
    function UpdateDataDetail() {
        var tbldtl = $('#DataDtl').DataTable();
        var dataDtl = tbldtl.rows().data();
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            alldata.usagedtlnote = tbldtl.$("#usagedtlnote-" + alldata.usagedtlseq).val();
            alldata.usagedtlseq = i + 1;
            var row = tbldtl.row(i).data();
            row[0] = JSON.stringify(alldata);
            row[1] = alldata.usagedtlseq;
            row[7] = '<input type="text" class="form-control" style="max-width: 150px" id="usagedtlnote-' + alldata.usagedtlseq + '" value="' + alldata.usagedtlnote + '">';
            tbldtl.row(i).data(row).invalidate().draw();
        }
    }
   

    function FillDetailData() {
        var cmp = $('#cmpcode option:selected').val();
        var oid = $('#usagemstoid').val();
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("FillDetailData"))",
            data: { cmp: cmp, oid: oid },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var rows = [];
                    $.each(data.dtl1, function (key, val) {
                        rows.push([
                            JSON.stringify(val),
                            val.usagedtlseq,
                            val.wono,
                           val.wodate,
                           val.confirmno,
                            val.itemlongdesc,
                            addCommas(val.confirmqty),
                            '<input type="text" class="form-control" style="max-width: 150px" id="usagedtlnote-' + val.usagedtlseq + '" name="usagedtlnote-' + val.usagedtlseq + '" value="' + (val.usagedtlnote == null ? "" : val.usagedtlnote) + '">',
                            '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                        ]);
                    });
                    table.rows.add(rows).draw();
                    EnableHeader();
                } else {
                    swal('', data.result, 'error');
                    return false;
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                return false;
            }
        });
    }

    //Detail 2
    // addtolist 2
    $("#btnAddToList2").click(function () {
        var table = $('#tblModalDtl2').DataTable();
        var cmp = $('#cmpcode option:selected').val();
        var divgroupoid = $('#divgroupoid').val();
        var whoid = $('#usagewhoid option:selected').val();
        table.column(1).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetMatData"))",
            data: { cmp: cmp, divgroupoid: divgroupoid, whoid: whoid },
        cache: false,
        type: "POST",
        success: function (data) {
            if (data.result == "") {
                var rows = [];
                var i = 0;
                $.each(data.tbl, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        ++i,
                        val.matcode,
                        val.matlongdesc,
                        val.refno,
                        val.sn,
                        addCommas(val.stock),
                        '<input type="text" class="form-control money" style="max-width: 100px" id="usagedtl2qty-' + i + '" value="' + val.usagedtl2qty + '" >',
                        val.usagedtl2unit,
                        '<input type="text" class="form-control" style="max-width: 150px" id="usagedtl2note-' + i + '" value="' + val.usagedtl2note + '">'
                    ]);
                });
                table.rows.add(rows).draw();
            } else {
                swal('', data.result, 'error');
            }
        },
        error: function (err) {
            swal('', err.responseText, 'error');
        }
    });
    });

    function AddToDetail2() {
        var isValid = true;
        var table = $('#tblModalDtl2').DataTable();
        var tbldtl = $('#DataDtl2').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid) {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                var usagedtl2qty = table.$("#usagedtl2qty-" + val).val();
                var usagedtl2note = table.$("#usagedtl2note-" + val).val();

                var id = tbldtl.rows().data().length + 1;
                alldata.usagedtl2seq = id;
                alldata.usagedtl2qty = usagedtl2qty;
                alldata.usagedtl2note = usagedtl2note;


                tbldtl.row.add([
                    JSON.stringify(alldata),
                    id,
                    alldata.matcode,
                    alldata.matlongdesc,
                    alldata.refno,
                    alldata.sn,
                    addCommas(alldata.stock),
                  '<input type="text" class="form-control money" style="max-width: 100px" id="usagedtl2qty-' + id + '" value="' + alldata.usagedtl2qty + '" >',
                    alldata.usagedtl2unit,
                    '<input type="text" class="form-control" style="max-width: 150px" id="usagedtl2note-' + id + '" value="' + alldata.usagedtl2note + '">',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]).draw();
            }
        });

        EnableHeader();
    }

    function UpdateDataDetail2() {
        var tbldtl = $('#DataDtl2').DataTable();
        var dataDtl = tbldtl.rows().data();
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            alldata.usagedtl2qty = tbldtl.$("#usagedtl2qty-" + alldata.usagedtl2seq).val();
            alldata.usagedtl2note = tbldtl.$("#usagedtl2note-" + alldata.usagedtl2seq).val();
            alldata.usagedtl2seq = i + 1;
            var row = tbldtl.row(i).data();
            row[0] = JSON.stringify(alldata);
            row[1] = alldata.usagedtl2seq;
            row[7] = '<input type="text" class="form-control money" style="max-width: 100px" id="usagedtl2qty-' + alldata.usagedtl2seq + '" value="' + alldata.usagedtl2qty + '" >';
            row[9] = '<input type="text" class="form-control" style="max-width: 150px" id="usagedtl2note-' + alldata.usagedtl2seq + '" value="' + alldata.usagedtl2note + '">';
            tbldtl.row(i).data(row).invalidate().draw();
        }
    }
    function FillDetailData2() {
        var cmp = $('#cmpcode option:selected').val();
        var oid = $('#usagemstoid').val();
        var table = $('#DataDtl2').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("FillDetailData2"))",
            data: { cmp: cmp, oid: oid },
        cache: false,
        type: "POST",
        success: function (data) {
            if (data.result == "") {
                var rows = [];
                $.each(data.dtl1, function (key, val) {
                    rows.push([
                    JSON.stringify(val),
                    val.usagedtl2seq,
                    val.matcode,
                    val.matlongdesc,
                    val.refno,
                    val.sn,
                    addCommas(val.stock),
                    '<input type="text" class="form-control money" style="max-width: 100px" id="usagedtl2qty-' + val.usagedtl2seq + '" value="' + val.usagedtl2qty + '" >',
                    val.usagedtl2unit,
                    '<input type="text" class="form-control" style="max-width: 150px" id="usagedtl2note-' + val.usagedtl2seq + '" value="' + val.usagedtl2note + '">',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]);
                });
                table.rows.add(rows).draw();
                EnableHeader();
            } else {
                swal('', data.result, 'error');
                return false;
            }
        },
        error: function (err) {
            swal('', err.responseText, 'error');
            return false;
        }
    });
    }

    $("#btnSave").click(function () {
        event.preventDefault();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var cmp = $('#cmpcode option:selected').val();
        var mst = $('form').serializeArray();
        var tbl = {};
        jQuery.map(mst, function (n, i) {
            if (n.name == "qctransdate") {
                tbl[n.name] = toDate($('#qctransdate').val());
            }
            else {
                tbl[n.name] = n.value;
            }
        });
        var action = $('#action').val();
        var closing = $('#closing').val();

        UpdateDataDetail();
        var tbldtl = $('#DataDtl').DataTable();
        var dataDtl = tbldtl.rows().data();
        var dtl = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            dtl.push(alldata);
        }
        UpdateDataDetail2();
        var tbldtl2 = $('#DataDtl2').DataTable();
        var dataDtl2 = tbldtl2.rows().data();
        var dtl2 = [];
        for (var i = 0 ; i < dataDtl2.length; i++) {
            var alldata2 = JSON.parse(dataDtl2[i][0]);
            dtl2.push(alldata2);
        }

        $.ajax({
            type: "POST",
            url: "@(Url.Action("Form"))",
            data: { __RequestVerificationToken: token, tbl: tbl, dtl1: dtl, dtl2: dtl2, action: action, closing: closing },
            success: function (data) {
                if (data.result == 'success') {
                    Swal('Data has been saved!', data.msg, 'success').then((result) => {
                        if (result.value) {
                            if (closing != '')
                                location.replace("@(Url.Action("Index"))");
                            else
                            {
                                if (action == "New Data")
                                    location.replace("@(Url.Action("Form"))" + "/" + data.hdrid);
                                else
                                    location.replace("@(Url.Action("Form"))");
                            }
                        }
                    });
                } else {
                    Swal('Save data failed!', data.msg, 'error');
                    $("#closing").val('');
                    $("#usagemststatus").val("In Process");
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $("#closing").val('');
                $("#usagemststatus").val("In Process");
            }
        });
    });

    $("#btnSaveClose").click(function () {
        $("#closing").val("true");
        $("#btnSave").click();
    });

    $("#btnDelete").click(function () {
        var oid = $("#usagemstoid").val();
        var cmp = $("#cmpcode option:selected").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnPosting").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Post this data ?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#usagemststatus").val("Post");
                    $("#closing").val("true");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>