﻿@model IEnumerable<RSA.Controllers.MaterialUsageController.usagemst>

@{
    ViewBag.Title = "Material Usage";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //var servertime = RSA.Controllers.ClassFunction.GetServerTime();
}

<section class="content-header">
    <h1>List Of Material Usage</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <p>
                        @Html.ActionLink("Create New", "Form", null, new { @class = "btn btn-primary" })
                    </p>
                </div>

                @Html.Hidden("isCollapse")
                @Html.Partial("~/Views/Shared/_FilterList.cshtml")
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <span id="varforlink" style="display: none"></span>
                            <table id="datatable" class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th>Draft No.</th>
                                        <td>Divisi</td>
                                        <th>Usage No.</th>
                                        <th>Date</th>
                                        <th>Warehouse</th>
                                        <th>Status</th>
                                        <th>Note</th>
                                        <th>Create User</th>
                                        @*<th></th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int seq = 1;
                                        foreach (var i in Model)
                                        {
                                            <tr>
                                                <td class="text-center"><a href="Form/@Html.DisplayFor(m => i.usagemstoid)" class="text-primary">@Html.DisplayFor(m => i.usagemstoid)</a></td>
                                                <td>@Html.DisplayFor(m => i.divgroup)</td>
                                                <td>@Html.DisplayFor(m => i.usageno)</td>
                                                <td class="text-center">@i.usagedate.ToString("MM/dd/yyyy")</td>
                                                <td>@Html.DisplayFor(m => i.usagewh)</td>
                                                <td class="text-center">@Html.DisplayFor(m => i.usagemststatus)</td>
                                                <td>@Html.DisplayFor(m => i.usagemstnote)</td>
                                                <td class="text-center">@Html.DisplayFor(m => i.createuser)</td>
                                                @*<td>@seq</td>*@
                                            </tr>
                                            seq++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        //$('#datatable').DataTable({
        //    "deferRender": true,
        //    "columnDefs": [
        //        {
        //            "targets": [-1],
        //            "orderable": false,
        //            "checkboxes": {
        //                "selectRow": false
        //            }
        //        },
        //        {
        //            "targets": [2],
        //            "type": "date"
        //        }
        //    ],
        //    "select": {
        //        "style": 'multi'
        //    },
        //    "dom": '<"row"<"col-sm-6"l><"col-sm-6"f>><"row"<"col-sm-12"<"pull-right"<"toolbar-print">>>><"row"<"col-sm-12"t>><"row"<"col-sm-5"i><"col-sm-7"p>>',
        //    "order": [[0, 'desc']]
        //});

        //$("div.toolbar-print").html('<button title="Print" type="button" class="btn btn-sm btn-primary" onclick="PrintReport()"><i class="fa fa-print"></i></button>');
    });

    function PrintReport() {
        var table = $('#datatable').DataTable();
        var rowsel = table.column(-1).checkboxes.selected();
        var ids = "";
        $.each(rowsel, function (key, val) {
            var data = table.row(val - 1).data();
            $('#varforlink').html(data[0]);
            ids += $('#varforlink').text() + "x";
        });
        if (ids != "")
            window.location.assign("@Url.Action("PrintReport")?ids=" + ids);
        else
            swal('', 'Please select data to be printed!', 'warning');
    };
</script>