﻿@model RSA.Models.DB.QL_trnsorawmst

@{
    ViewBag.Title = "SO Sheet";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form SO Sheet</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>SO Sheet Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.sorawmstres1)
                        @Html.HiddenFor(model => model.sorawmstres2)
                        @Html.HiddenFor(model => model.sorawmstres3)
                        @Html.HiddenFor(model => model.approvaldatetime)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.closereason)
                        @Html.HiddenFor(model => model.closeuser)
                        @Html.HiddenFor(model => model.closetime)
                        @Html.HiddenFor(model => model.revisereason)
                        @Html.HiddenFor(model => model.reviseuser)
                        @Html.HiddenFor(model => model.revisetime)
                        @Html.HiddenFor(model => model.rejectreason)
                        @Html.HiddenFor(model => model.rejectuser)
                        @Html.HiddenFor(model => model.rejecttime)
                        @Html.HiddenFor(model => model.divgroupoid)
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Divisi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("ddldivgroupoid", null, new { @class = "form-control", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @*@Html.DropDownListFor(model => model.cmpcode, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.cmpcode, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Draft No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.sorawmstoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">SO No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.sorawno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Date</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.sorawdate, new { htmlAttributes = new { @class = "form-control datemask2", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("custname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchcust" class="btn btn-flat" data-toggle="modal" data-target="#modal-cust">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.custoid)
                                        </div>
                                    </div>
                                </div>
                                @Html.HiddenFor(model => model.sorawpaytypeoid)
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">payment Type</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("sopaytypeoid", null, new { @class = "form-control", @disabled = "" })
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="row" >
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Price Type</label>
                                        <div class="col-md-8">
                                            @Html.RadioButtonFor(model => model.isexcludetax, true, new { @class="rb", id = "isexcludetax_true"}) @Html.Label("Exclude Tax") 
                                            @Html.RadioButtonFor(model => model.isexcludetax, false, new { @class = "rb", id = "isexcludetax_false"}) @Html.Label("Include Tax")
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer PO Date <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.socustrefdate, new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.socustrefdate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer PO.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.sorawcustref, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                            <div class="row" >
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">SO Type</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.sorawtype, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                               
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Currency <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.curroid, null, new { @class = "form-control select2" })
                                            @Html.ValidationMessageFor(model => model.curroid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Payment Method</label>
                                        <div class="col-md-4">
                                           @Html.DropDownListFor(model => model.sorawpaymethod, new List<SelectListItem>
                            {
                                    new SelectListItem { Text="TT", Value="TT" },
                                    new SelectListItem { Text="LC", Value="LC" }
                            }, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none;">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Rate Pajak (IDR)</label>
                                        <div class="col-md-4">
                                            @Html.Editor("sorawratetoidr", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.rateoid)
                                    </div>
                                </div>
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Rate Pajak (USD)</label>
                                        <div class="col-md-4">
                                            @Html.Editor("sorawratetousd", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none;">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Rate Standard (IDR)</label>
                                        <div class="col-md-4">
                                            @Html.Editor("sorawrate2toidr", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.rate2oid)
                                    </div>
                                </div>
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Rate Standard (USD)</label>
                                        <div class="col-md-4">
                                            @Html.Editor("sorawrate2tousd", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Amt</label>
                                        <div class="col-md-4">
                                            @Html.Editor("sorawtotalamt", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Disc. Dtl Amt</label>
                                        <div class="col-md-4">
                                            @Html.Editor("sorawtotaldiscdtl", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Netto</label>
                                        <div class="col-md-4">
                                            @Html.Editor("sorawtotalnetto", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tax</label>
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.sorawtaxtype, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        <div class="col-md-5">
                                            @Html.Editor("sorawtaxamt", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            </div>
                                     </div>
                                </div>
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tax Amount</label>
                                        <div class="col-md-4">
                                            @Html.Editor("sorawvat", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Grand Total Amt</label>
                                        <div class="col-md-4">
                                           @Html.Editor("sorawgrandtotalamt", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">ETD</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.sorawetd, new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.sorawetd, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Invoice Value</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.sorawinvoiceval, new List<SelectListItem>
                            {
                                    new SelectListItem { Text="FOB", Value="FOB" },
                                    new SelectListItem { Text="CIF", Value="CIF" },
                                    new SelectListItem { Text="CNF", Value="CNF" },
                                    new SelectListItem { Text="FCA", Value="FCA" }
                            }, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Account No. <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.accountoid, null, new { @class = "form-control select2"})
                                            @Html.ValidationMessageFor(model => model.accountoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Port Of Ship <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @*@Html.Editor("sorawportship", new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "50"} })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Port Of Discharge <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @*@Html.Editor("sorawportdischarge", new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "50" } })*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.sorawmstnote, new { @class = "form-control", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.sorawmstnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.sorawmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.sorawmststatus } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Ship to <label class="text-red">*</label></label>
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                @Html.Editor("alamat", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchalamat" class="btn btn-flat" data-toggle="modal" data-target="#modal-alamat">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                                @Html.HiddenFor(model => model.custdtloid)
                                            </div>
                                            @Html.ValidationMessageFor(model => model.custdtloid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Sales</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.salesid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                               
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Toleransi</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.toleransi, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN CONTAINER
                    <div class="box-header" style="display:none">
                        <h3 class="box-title" id="lblContainer"><b>Container Available</b></h3>
                    </div>
                    <div class="box-body" style="display:none">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtlContainer" class="table table-striped" style="width: 50%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>Type</th>
                                        <th>Qty</th>
                                        <th>%</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN CONTAINER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>SO Sheet Detail</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.Hidden("seq")
                        <div class="container-fluid"  style="display:none">
                            <div class="pull-left">
                                <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Add To List</b></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No.</th>
                                        <th></th>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th>Qty</th>
                                        <th>Unit</th>
                                        <th>Price</th>
                                        <th>Netto</th>
                                        
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                if (Model.sorawmststatus == "In Process" | Model.sorawmststatus == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                    <button type="button" class="btn btn-primary btn-md" id="btnSaveClose"><b>Save & Close</b></button>
                                    if (ViewBag.action == "Update Data")
                                    {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                    }
                                    <button type="button" class="btn btn-warning btn-md" id="btnSendForApproval"><b>Send For Approval</b></button>
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                }
                            }
                        </div>
                    </div>
                    
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">SO Raw Material Detail Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No.</th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>SKU</th>
                                    <th>Stock Qty</th>
                                    <th>Qty</th>
                                    <th>Unit</th>
                                    <th>Price</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@

    @* MODAL UNTUK ALAMAT *@
    <div class="modal fade" id="modal-alamat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Customer</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalAlamat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Lokasi</th>
                                    <th>Alamat Pengiriman</th>
                                    <th>Kota</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK ALAMAT *@

    @* MODAL UNTUK GANTI MATERIAL *@
    <div class="modal fade" id="modal-mat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Raw Material Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Unit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK GANTI MATERIAL *@

    @* MODAL UNTUK CUSTOMER *@
    <div class="modal fade" id="modal-cust">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Customer</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCust" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK CUSTOMER *@
</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tableContainer = $('#DataDtlContainer').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw(); SetDataDtl(); FillDetailData();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
            CountHdrAmount();
            EnabledHeader();
        });
        table.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        tableContainer.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                    "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });
        tblModalDtl.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        tblModalDtl.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        $("#tblModalCust").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalMat = $("#tblModalMat").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalCust = $("#tblModalCust").DataTable();
        tblModalCust.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalCust.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#custname").val(alldata.custname);
            $("#custoid").val(alldata.custoid);
            $("#sopaytypeoid").val(alldata.custpaymentoid).trigger("change");
            $("#sorawpaytypeoid").val(alldata.custpaymentoid).trigger("change");
            $("#sorawtype").val(alldata.custtype);
            $("#toleransi").val(alldata.toleransikirim);
            $("#salesid").val(alldata.salesoid);
            //$("#curroid").val(alldata.custcurroid);
            $("#isexcludetax").prop("checked", true);
            if (alldata.custtaxable == "0") {
                $('input[name=isexcludetax]:not(:checked)').attr('disabled', true);
                $("#sorawtaxtype").val("NON TAX");
                $("#sorawtaxamt").val("0");
            } else {
                $('input[name=isexcludetax]:not(:checked)').attr('disabled', false);
                $("#sorawtaxtype").val("TAX");
                $("#sorawtaxamt").val("11");
            }
            $("#divgroupoid").val($('#ddldivgroupoid option:Selected').val());
            EnableddivgroupHeader();
            $('#modal-cust').modal('hide');
        });

        var tblModalAlamat = $("#tblModalAlamat").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalAlamat.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalAlamat.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#alamat").val(alldata.custdtlname);
            $("#custdtloid").val(alldata.custdtloid);
            $('#modal-alamat').modal('hide');
        });

        InitDDLAppUser();
        FillDDLAccount();

        $("#cmpcode").change(function () {
            InitDDLAppUser();
            FillDDLAccount();
        });

        SetRateValue();
        //$("#curroid").change(function () {
        //    SetRateValue();
        //})

        FillDetailData();

        if ($("#action").val() == "Update Data") {
            //FillDetailContainer();
        } else {
            //BindDataContainer();
        }
    })
    $("#btnsearchalamat").click(function () {
        var custoid = $("#custoid").val();
        if (custoid == "" || custoid == null || custoid == "0") {
            Swal({
                title: "WARNING!",
                text: "Please Select CUSTOMER field!",
                type: "warning"
            })
            return false;
        }
        var table = $('#tblModalAlamat').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetAlamatData"))",
            data: { custoid: custoid },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.custdtlname,
                    val.custdtladdr,
                    val.custdtlcity
 
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });
    function EnableddivgroupHeader() {
        $("#ddldivgroupoid").prop("disabled", true);
    }
    function SetRateValue() {
        var curroid = $("#curroid").val();
        var sDate = $("#sorawdate").val();
        $.ajax({
            url: "@(Url.Action("GetRateValue"))",
            data: { curroid: curroid, sDate: sDate },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data, function (key, val) {
                        $("#rateoid").val(val.rateoid);
                        $("#sorawratetoidr").val(val.rateidrvalue);
                        $("#sorawratetousd").val(val.soratetousd);
                        $("#rate2oid").val(val.rate2oid);
                        $("#sorawrate2toidr").val(val.rate2idrvalue);
                        $("#sorawrate2tousd").val(val.sorate2tousd);
                    });
                } else {
                    if (data.msg != "") {
                        //Swal('Warning!', data.msg, 'warning')
                    }
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                var sorawdisctype = "Percentage";
                if (val.sorawdtldisctype == "A") {
                    sorawdisctype = "Amount";
                }
                rows.push([
                    JSON.stringify(val),
                    val.sorawdtlseq,
                    '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                    val.matrawcode,
                    val.matrawlongdesc,
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="sorawqty-' + val.sorawdtlseq + '" name="sorawqty-' + val.sorawdtlseq + '" value="' + val.sorawqty + '" onchange="CountDtlAmount(' + val.sorawdtlseq + ')">',
                    val.sorawunit,
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="sorawprice-' + val.sorawdtlseq + '" name="sorawprice-' + val.sorawdtlseq + '" value="' + val.sorawprice + '" onchange="CountDtlAmount(' + val.sorawdtlseq + ')">',
                    val.sorawdtlnetto,
                    '<input type="text" class="form-control" style="max-width: 150px" id="sorawdtlnote-' + val.sorawdtlseq + '" name="sorawdtlnote-' + val.sorawdtlseq + '" value="' + (val.sorawdtlnote == null ? "" : val.sorawdtlnote) + '">'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                EnabledHeader();
            }, 100);
        });
    }

    function FillDetailContainer(){
        var url = "@(Url.Action("FillDetailContainer"))";
        var table = $('#DataDtlContainer').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.containertype,
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="sorawcontqty-' + val.containerseq + '" name="sorawcontqty-' + val.containerseq + '" value="' + val.sorawcontqty + '">',
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="sorawcontpct-' + val.containerseq + '" name="sorawcontpct-' + val.containerseq + '" value="' + val.sorawcontpct + '">'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        });
    }

function InitDDLAppUser() {
        var cmp = $("#cmpcode").val();
        var approvalcode = $("#approvalcode");
        var approvalcode_sel = $("#approvalcode option:selected").val();
        approvalcode.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLAppUser"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
            var markup = "";
            if (data.result == "sukses") {
                var isExist = false;
                $.each(data.tbl, function (key, val) {
                    markup += "<option value=\'" + val.approvaluser + "\'>" + val.approvaluser + "</option>";
                    if (val.approvaluser == approvalcode_sel) {
                        isExist = true;
                    }
                });
                console.log(data.tbl);
                approvalcode.html(markup).show();
                if (isExist == true) {
                    approvalcode.val(approvalcode_sel);
                }
                approvalcode.trigger('change');
            } else {
                approvalcode.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function FillDDLAccount() {
        var cmpcode = $("#cmpcode").val();
        var accountoid = $("#accountoid");
        var accountoid_sel = $("#accountoid option:selected").val();
        accountoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLAccount"))",
            data: { cmpcode: cmpcode },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.accountoid + "\'>" + val.accountdesc + "</option>";
                        if (val.accountoid == accountoid_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    accountoid.html(markup).show();
                    if (isExist == true) {
                        accountoid.val(accountoid_sel);
                    }
                    accountoid.trigger('change');
                } else {
                    accountoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    $("#btnAddToList").click(function () {
        var sotype = $("input[name=ismadetoorder]:checked").val();
        var table = $('#tblModalDtl').DataTable();
        var custoid = $('#custoid').val();
        var curroid = $('#curroid option:selected').val();
        var cmp = $("#cmpcode").val();
        if (custoid == "" || custoid == null || custoid == "0") {
            Swal({
                title: "WARNING!",
                text: "Please Select CUSTOMER field!",
                type: "warning"
            })
            return false;
        }
        table.column(1).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmp: cmp, curroid: curroid, custoid: custoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        ++i,
                        val.sorawdtlseq,
                        val.matrawcode,
                        val.matrawlongdesc,
                        val.matrawnote,
                        val.stockqty,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="sorawqty-' + i + '" name="sorawqty-' + i + '" value="' + val.sorawqty + '">',
                        val.sorawunit,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="sorawprice-' + i + '" name="sorawprice-' + i + '" value="' + val.sorawprice + '">',
                        '<input type="text" class="form-control" style="max-width: 150px" id="sorawdtlnote-' + i + '" name="sorawdtlnote-' + i + '" value="' + val.sorawdtlnote + '">'
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    function BindDataContainer() {
        var table = $('#DataDtlContainer').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetContainerData"))",
            data: {},
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        val.containertype,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="sorawcontqty-' + val.containerseq + '" name="sorawcontqty-' + val.containerseq + '" value="' + val.sorawcontqty + '">',
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="sorawcontpct-' + val.containerseq + '" name="sorawcontpct-' + val.containerseq + '" value="' + val.sorawcontpct + '">'
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function AddToDetail() {
        var isValid = true;
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var pricetype = $("input[name=excludetax]:checked").val();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid)
            {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                var sorawqty_id = "#sorawqty-" + val;
                var sorawprice_id = "#sorawprice-" + val;
                //var sorawdtldisctype_id = alldata.sorawdtldisctype;
                //var sorawdtldiscvalue_id = alldata.sorawdtldiscvalue;
                var sorawdtlnote_id = "#sorawdtlnote-" + val;
                var sorawqty = table.$(sorawqty_id).val();
                var sorawprice = table.$(sorawprice_id).val();
                var sorawdtlamt = sorawqty * sorawprice;
                //var sorawdtldisctype = table.$(sorawdtldisctype_id).val();
                //var sorawdtldiscvalue = table.$(sorawdtldiscvalue_id).val();
                var dDisc = 0;
                //if (sorawdtldisctype == "P") {
                //    dDisc = parseFloat((sorawdtlamt * sorawdtldiscvalue) / 100);
                //} else {
                //    dDisc = parseFloat(sorawdtldiscvalue);
                //}
                var sorawdtldiscamt = dDisc;
                var sorawdtlnetto = sorawdtlamt - dDisc;
                var sorawdtlnote = table.$(sorawdtlnote_id).val();
                var sorawdtldisctype = "Percentage";
                if (alldata.sorawdtldisctype == "A") {
                    sorawdtldisctype = "Amount";
                }
                if (!IsOnDtl(alldata.matrawoid)) {
                    var id = tbldtl.rows().data().length + 1;
                    var obj = {
                        sorawdtlseq: id,
                        matrawoid: alldata.matrawoid,
                        matrawcode: alldata.matrawcode,
                        matrawlongdesc: alldata.matrawlongdesc,
                        matrawnote: alldata.matrawnote,
                        sorawqty: sorawqty,
                        sorawunitoid: alldata.sorawunitoid,
                        sorawunit: alldata.sorawunit,
                        sorawlastprice: alldata.sorawlastprice,
                        sorawprice: sorawprice,
                        sorawdtlamt: sorawdtlamt,
                        sorawdtldisctype: alldata.sorawdtldisctype,
                        sorawdtldiscvalue: alldata.sorawdtldiscvalue,
                        sorawdtldiscamt: sorawdtldiscamt,
                        sorawdtlnetto: sorawdtlnetto,
                        sorawdtlnote: sorawdtlnote,
                    };
                    tbldtl.row.add([
                        JSON.stringify(obj),
                        id,
                        '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                        alldata.matrawcode,
                        alldata.matrawlongdesc,
                        alldata.matrawnote,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="sorawqty-' + id + '" name="sorawqty-' + id + '" value="' + sorawqty + '" onchange="CountDtlAmount(' + id + ')">',
                        alldata.sorawunit,
                        alldata.sorawlastprice,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="sorawprice-' + id + '" name="sorawprice-' + id + '" value="' + sorawprice + '" onchange="CountDtlAmount(' + id + ')">',
                        sorawdtlamt,
                        '<select class = "form-control" id="sorawdtldisctype-' + id + '" onchange="CountDtlAmount(' + id + ')"> <option value="' + alldata.sorawdtldisctype + '" selected>' + sorawdtldisctype + '</option>  <option value="P">Percentage</option><option value="A">Amount</option> ',
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="sorawdtldiscvalue-' + id + '" name="sorawdtldiscvalue-' + id + '" value="' + alldata.sorawdtldiscvalue + '" onchange="CountDtlAmount(' + id + ')">',
                        sorawdtldiscamt,
                        sorawdtlnetto,
                        '<input type="text" class="form-control" style="max-width: 150px" id="sorawdtlnote-' + id + '" name="sorawdtlnote-' + id + '" value="' + sorawdtlnote + '">',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                    table.column(1).checkboxes.deselect();
                    EnabledHeader();
                }
            }
        })
        SetDataDtl();
        CountHdrAmount();
    }

    $('#DataDtl').on('click', '#edit', function () {
        var tbldtl = $('#DataDtl').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = tbldtl.row($tr).data();
        var alldata = JSON.parse(data[0]);
        $("#seq").val(alldata.sorawdtlseq - 1);
        $('#modal-mat').modal('show');

        var table = $('#tblModalMat').DataTable();
        var custoid = $('#custoid').val();
        var curroid = $('#curroid option:selected').val();
        var cmp = $("#cmpcode").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmp: cmp, curroid: curroid, custoid: custoid },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.matrawcode,
                    val.matrawlongdesc,
                    val.sorawunit,
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
        });
    });

    $("#tblModalMat").on('click', '#select', function () {
        var table = $('#tblModalMat').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = table.row($tr).data();
        var alldata = JSON.parse(data[0]);

        var tbldtl = $('#DataDtl').DataTable();
        var datadtl = tbldtl.row($('#seq').val()).data();
        var alldatadtl = JSON.parse(datadtl[0]);
        var iSeq = parseInt($('#seq').val()) + 1;

        alldata.sorawqty = 0;
        alldata.sorawprice = 0;
        alldata.sorawdtlamt = 0;
        alldata.sorawdtldiscvalue = 0;
        alldata.sorawdtldiscamt = 0;
        alldata.sorawdtlnetto = 0;
        alldata.sorawdtlno = "";

        var sorawdtldisctype = "Percentage";
        if (alldata.sorawdtldisctype == "A") {
            sorawdtldisctype = "Amount";
        }

        var obj = {
            sorawdtlseq: iSeq,
            matrawoid: alldata.matrawoid,
            matrawcode: alldata.matrawcode,
            matrawlongdesc: alldata.matrawlongdesc,
            matrawnote: alldata.matrawnote,
            sorawqty: alldata.sorawqty,
            sorawunitoid: alldata.sorawunitoid,
            sorawunit: alldata.sorawunit,
            sorawlastprice: alldata.sorawlastprice,
            sorawprice: alldata.sorawprice,
            sorawdtlamt: alldata.sorawdtlamt,
            sorawdtldisctype: alldata.sorawdtldisctype,
            sorawdtldiscvalue: alldata.sorawdtldiscvalue,
            sorawdtldiscamt: alldata.sorawdtldiscamt,
            sorawdtlnetto: alldata.sorawdtlnetto,
            sorawdtlnote: alldata.sorawdtlnote,
        };

        datadtl[0] = JSON.stringify(obj);
        datadtl[3] = alldata.matrawcode;
        datadtl[4] = alldata.matrawlongdesc;
        datadtl[5] = alldata.matrawnote;
        datadtl[6] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="arretItemqty-' + iSeq + '" name="arretItemqty-' + iSeq + '" value="' + alldata.sorawqty + '" onchange="CountDtlAmount(' + iSeq + ')">';
        datadtl[7] = alldata.sorawunit;
        datadtl[8] = addCommas(alldata.sorawlastprice);
        datadtl[9] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="sorawprice-' + iSeq + '" name="sorawprice-' + iSeq + '" value="' + alldata.sorawprice + '" onchange="CountDtlAmount(' + iSeq + ')">';
        datadtl[10] = alldata.sorawdtlamt;
        datadtl[11] = '<select class = "form-control" id="sorawdtldisctype-' + iSeq + '" onchange="CountDtlAmount(' + iSeq + ')"> <option value="' + alldata.sorawdtldisctype + '" selected>' + sorawdtldisctype + '</option>  <option value="P">Percentage</option><option value="A">Amount</option> ';
        datadtl[12] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="sorawdtldiscvalue-' + iSeq + '" name="sorawdtldiscvalue-' + iSeq + '" value="' + alldata.sorawdtldiscvalue + '" onchange="CountDtlAmount(' + iSeq + ')">';
        datadtl[13] = alldata.sorawdtldiscamt;
        datadtl[14] = alldata.sorawdtlnetto;
        datadtl[15] = '<input type="text" class="form-control" style="max-width: 150px" id="sorawdtlnote-' + iSeq + '" name="sorawdtlnote-' + iSeq + '" value="' + alldata.sorawdtlnote + '">';

        tbldtl.row($('#seq').val()).data(datadtl).invalidate();

        $('#modal-mat').modal('hide');
    });

    function IsOnDtl(rawoid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (rawoid == alldata.matrawoid) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var dDiv = 1;
        if ($("input[name=excludetax]:checked").val() == "false") {
            dDiv = 1.1;
        }
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var sorawqty_id = "#sorawqty-" + alldata.sorawdtlseq;
            var sorawprice_id = "#sorawprice-" + alldata.sorawdtlseq;
            var sorawdtldisctype_id = "#sorawdtldisctype-" + alldata.sorawdtlseq;
            var sorawdtldiscvalue_id = "#sorawdtldiscvalue-" + alldata.sorawdtlseq;
            var sorawdtlnote_id = "#sorawdtlnote-" + alldata.sorawdtlseq;
            var sorawqty = table.$(sorawqty_id).val();
            var sorawprice = table.$(sorawprice_id).val() / dDiv;
            var sorawdtlnetto = alldata.sorawdtlnetto / dDiv;
            var sorawdtlnote = table.$(sorawdtlnote_id).val();

            var obj = {
                sorawdtlseq: i + 1,
                matrawoid: alldata.matrawoid,
                matrawcode: alldata.matrawcode,
                matrawlongdesc: alldata.matrawlongdesc,
                matrawnote: alldata.matrawnote,
                sorawqty: sorawqty,
                sorawunitoid: alldata.sorawunitoid,
                sorawunit: alldata.sorawunit,
                sorawlastprice: alldata.sorawlastprice,
                sorawprice: sorawprice,
                sorawdtlnetto: sorawdtlnetto,
                sorawdtlnote: sorawdtlnote,
                c1: alldata.c1,
                c2: alldata.c2,
                c3: alldata.c3,
                c4: alldata.c4,
                c5: alldata.c5,
                Lsht:alldata.Lsht
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    function SetDataDtlCont() {
        var table = $('#DataDtlContainer').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var sorawcontqty_id = "#sorawcontqty-" + (i + 1);
            var sorawcontpct_id = "#sorawcontpct-" + (i + 1);
            var sorawcontqty = table.$(sorawcontqty_id).val();
            var sorawcontpct = table.$(sorawcontpct_id).val();

            var obj = {
                containeroid: alldata.containeroid,
                containertype: alldata.containertype,
                sorawcontqty: sorawcontqty,
                sorawcontpct: sorawcontpct,
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetailsCont"))",
            data: JSON.stringify({ dtDtlCont: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    function CountHdrAmount() {
        var table = $('#DataDtl').DataTable();
        var pricetype = $("input[name=excludetax]:checked").val();
        var data = table.rows().data();
        var dTotalAmt = 0;
        var dTotalDiscDtl = 0;
        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            dTotalAmt +=  alldata.sorawdtlamt;
            dTotalDiscDtl += alldata.sorawdtldiscamt;
        }
        var dDiv = 1;
        if (pricetype == "false") {
            dDiv = 1.1;
        }
        $("#sorawtotalamt").val(parseFloat(dTotalAmt / dDiv));
        $("#sorawtotaldiscdtl").val(parseFloat(dTotalDiscDtl / dDiv));
        $("#sorawtotalnetto").val(parseFloat($("#sorawtotalamt").val()) - parseFloat($("#sorawtotaldiscdtl").val()));
        $("#sorawvat").val(parseFloat($("#sorawtotalnetto").val()) * parseFloat($("#sorawtaxamt").val()) / 100);
        $("#sorawgrandtotalamt").val(parseFloat($("#sorawtotalnetto").val()) + parseFloat($("#sorawvat").val()));
    }

    function CountDtlAmount(id) {
        var table = $('#DataDtl').DataTable();
        var pricetype = $("input[name=excludetax]:checked").val();
        var data = table.row(id - 1).data();
        var alldata = JSON.parse(data[0]);
        var sorawqty_id = "#sorawqty-" + id;
        var sorawprice_id = "#sorawprice-" + id;
        var sorawdtldisctype_id = "#sorawdtldisctype-" + id;
        var sorawdtldiscvalue_id = "#sorawdtldiscvalue-" + id;
        var sorawqty = table.$(sorawqty_id).val();
        var sorawprice = table.$(sorawprice_id).val();
        var sorawdtlamt = sorawqty * sorawprice;
        var sorawdtldisctype = table.$(sorawdtldisctype_id).val();
        var sorawdtldiscvalue = table.$(sorawdtldiscvalue_id).val();
        var dDisc = 0;
        if (sorawdtldisctype == "P") {
            dDisc = parseFloat((sorawdtlamt * sorawdtldiscvalue) / 100);
        } else {
            dDisc = parseFloat(sorawdtldiscvalue);
        }
        var sorawdtldiscamt = dDisc;
        var sorawdtlnetto = sorawdtlamt - dDisc;

        alldata.sorawqty = sorawqty;
        alldata.sorawprice = sorawprice;
        alldata.sorawdtlamt = sorawdtlamt;
        alldata.sorawdtldisctype = sorawdtldisctype;
        alldata.sorawdtldiscvalue = sorawdtldiscvalue;
        alldata.sorawdtldiscamt = sorawdtldiscamt;
        alldata.sorawdtlnetto = sorawdtlnetto;

        var sorawdisctype = "Percentage";
        if (alldata.sorawdtldisctype == "A") {
            sorawdisctype = "Amount";
        }

        data[0] = JSON.stringify(alldata);
        data[6] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="sorawqty-' + id + '" name="sorawqty-' + id + '" value="' + sorawqty + '" onchange="CountDtlAmount(' + id + ')">';
        data[9] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="sorawprice-' + id + '" name="sorawprice-' + id + '" value="' + sorawprice + '" onchange="CountDtlAmount(' + id + ')">';
        data[10] = sorawdtlamt;
        data[11] = '<select class = "form-control" id="sorawdtldisctype-' + id + '" onchange="CountDtlAmount(' + id + ')"> <option value="' + alldata.sorawdtldisctype + '" selected>' + sorawdisctype + '</option>  <option value="P">Percentage</option><option value="A">Amount</option> ';
        data[12] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="sorawdtldiscvalue-' + id + '" name="sorawdtldiscvalue-' + id + '" value="' + alldata.sorawdtldiscvalue + '" onchange="CountDtlAmount(' + id + ')">';
        data[13] = sorawdtldiscamt;
        data[14] = sorawdtlnetto;

        table.row(id - 1).data(data).invalidate();
        CountHdrAmount();
    }

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var bVal = false;
        if (table != null) {
            if (data.length > 0) {
                bVal = true;
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        //if ($("#sorawtaxtype").val() == "TAX") {
        //    $(".rb").attr("disabled", bVal);
        //} else {
        //    $(".rb").attr("disabled", true);
        //}
        $(".rb_madetoorder").attr("disabled", bVal);
        $("#cmpcode").attr("readonly", bVal);
        $("#curroid").attr("readonly", bVal);
        $("#btnsearchcust").attr("disabled", bVal);
        $(':radio:not(:checked)').attr('disabled', bVal);
    }

    function EnableSOField(bVal) {
        $("#btnsearchcust").attr("disabled", bVal);
        if ($("#sorawtaxtype").val() == "TAX") {
            //$(".rb").attr("disabled", bVal);
            $("#sorawtaxtype").val("TAX");
            $("#sorawtaxamt").val("11");
        } else {
            //$(".rb").attr("disabled", true);
            $("#sorawtaxtype").val("NON TAX");
            $("#sorawtaxamt").val("0");
        }
        $("#curroid").attr("readonly", bVal);
        $("#sorawpaymethod").attr("readonly", bVal);
        $("#sorawetd").attr("readonly", bVal);
        $("#sorawinvoiceval").attr("readonly", bVal);
        $("#accountoid").attr("readonly", bVal);
        $("#curroid").val(1);
        $("#sorawportship").attr("readonly", bVal);
        $("#sorawportdischarge").attr("readonly", bVal);
        if (bVal){
            $("#DataDtlContainer").hide();
            $("#lblContainer").hide();
        }else{
            $("#DataDtlContainer").show();
            $("#lblContainer").show();
        }
        //$("#ismadetoorder").val(!bVal);
        $("#custoid").val(0);
        $("#custname").val("");
        $("#sopaytypeoid").val($("#sopaytypeoid option:first").val());
        $("#sorawpaytypeoid").val($("#sopaytypeoid").val());
    }

    $("#btnsearchcust").click(function () {
        var table = $('#tblModalCust').DataTable();
        var cmp = $("#cmpcode").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetCustomerData"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.custcode,
                        val.custname,
                        val.custtype,
                        val.custaddr
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnSave").click(function () {
        SetDataDtl();
        SetDataDtlCont();
    });

    $("#btnSaveClose").click(function () {
        $("#closing").val("true");
        $("#btnSave").click();
    });

    $("#btnDelete").click(function () {
        var oid = $("#sorawmstoid").val();
        var cmp = $("#cmpcode").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnSendForApproval").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for APPROVAL?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#sorawmststatus").val("In Approval");
                    $("#closing").val("true");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>