﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Import @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.AntiForgeryToken()
                    @Html.Hidden("action")

                    <div class="box-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Template FIle</label>
                                        <div class="col-md-8">
                                            <a class="btn btn-primary"  href="~/Files/TemplateSheet.xlsx" target="_blank"><i class="fa fa-download"></i> Download Template </a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">File Excel<span class="text-red"> *</span></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <input id="fileupload" type="file" class="form-control" accept=".xls,.xlsx" style="padding-top:5px;padding-left:5px;">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-primary btn-flat" id="btnupload"><i class="fa fa-upload"></i> Upload</button>
                                                </span>
                                            </div>
                                            @Html.Hidden("importfile")
                                            @Html.ValidationMessage("importfile", "", new { @class = "text-danger" })
                                            <a class="control-label" id="importfilename" href="#" target="_blank"> - </a>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-header">
                        <h5><b><u>Imported Data</u></b></h5>
                        @Html.ValidationMessage("tbl_dtl", "", new { @class = "text-danger" })
                    </div>

                    // TABLE SECTION
                    //, "Port Of Loading", "Transhipment (USD/ton)", "Surveyor (USD/ton)", "Barging (USD/ton)", "Asuransi (USD/MT)", "Selisih Trucking (USD/MT)", "Total"
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12" style="overflow-x: auto;">
                                <b><span id="totalrows"></span></b>
                                <table id="tbl_dtl" class="table table-striped table-bordered" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>No.</th>
                                            <th>Cust Id</th>
                                            <th>Custname</th>
                                            <th>Cust Shipto Id</th>
                                            <th>Cust Shipto</th>
                                            <th>No Po</th>
                                            <th>L SHT</th>
                                            <th>P SHT</th>
                                            <th>Qty</th>
                                            <th>Deskripsi</th>
                                            <th>Kualitas</th>
                                            <th>Tipe Wall</th>
                                            <th>Flute</th>
                                            <th>Tipe Sheet</th>
                                            <th>Crease 1</th>
                                            <th>Crease 2</th>
                                            <th>Crease 3</th>
                                            <th>Crease 4</th>
                                            <th>Crease 5</th>
                                            <th>ETD</th>
                                            <th>L BHN</th>
                                            <th>OUT</th>
                                            <th>P BHN</th>
                                            <th>RM</th>
                                            <th>L UK</th>
                                            <th>P UK</th>
                                            <th>LUAS (M2)</th>
                                            <th>Harga Jual(Rp)</th>
                                            <th>Disc/Margin yg ditawar</th>
                                            <th>Harga Index(M2)</th>
                                            <th>Disc %</th>
                                            <th>Harga Include</th>
                                            <th>Remark</th>
                                            <th>Total Harga Jual</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="container-fluid">
                            <div class="row">
                                @*<div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"></label>
                                        <div class="col-md-8 checkbox">
                                            <label class="text-red">@Html.CheckBox("cbInActive", new { @class = "form-control minimal" }) Non Aktifkan data lain.</label>
                                        </div>
                                    </div>
                                </div>*@
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>
                    </div>
                    // BUTTON ACTION SECTION
                    <div class="box-footer">
                        <div class="pull-right">
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Back</b></a>
                            @{
                              
                                    <button type="button" class="btn btn-primary btn-md" id="btn_save">Import</button>
                                
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    var tbl_dtl ;

    $(document).ready(function () {
        tbl_dtl = $('#tbl_dtl').DataTable({
            "columnDefs": [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    },
                    {
                        className: "text-right",
                        "targets": [3,4,5,6],
                        render: function (data) { return data; }
                    }
            ],
            "bLengthChange": true,
            "ordering": true,
            "searching": true,
            "paging": true,
            "info": true,
            "autoWidth": true
        });
    });

    function setViewTable(data) {
        tbl_dtl.data().clear();
        $.each(data, function (key, obj) {
            tbl_dtl.row.add([
                obj,
                obj.no,
                obj.custoid,
                obj.custname,
                obj.custdtloid,
                obj.custdtlname,
                obj.pono,
                obj.Lsht,
                obj.Psht,
                obj.sorawqty,
                obj.sodtldesc,
                obj.gramatur,
                obj.tw,
                obj.flute,
                obj.tsheet,
                obj.c1,
                obj.c2,
                obj.c3,
                obj.c4,
                obj.c5,
                obj.etd,
                obj.lbhn,
                obj.outs,
                obj.pbhn,
                obj.rm,
                obj.luk,
                obj.puk,
                obj.luas,
                obj.hjual,
                obj.discmargin,
                obj.hindex,
                obj.disc,
                obj.hinc,
                obj.sorawdtlnote,
                obj.sorawdtlamt,
            ]).draw();
        });
    }

    $('#btnupload').click( function() {
        var url = "@(Url.Action("UploadFiles"))";

        var files = document.getElementById("fileupload").files;
        var fileloc = $('#importfile');
        var filename = $('#importfilename');


        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: url,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {
                        console.log(data);
                        if (data.result == "sukses") {
                            fileloc.val(data.fileloc);
                            filename.attr("href", data.fileloc.replace('~/',''));
                            filename.text(files[0].name);
                            $('input[type="file"]').val("");
                            $("[data-valmsg-for=importfile]").html("");

                            setViewTable(data.rowsdtl);

                            if (data.msg != '') {
                                Swal('Warning!', data.msg, 'warning')
                            }
                        } else {
                            Swal('Error!', data.result, 'error')
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            } else {
                alert("Browser yang Anda gunakan tidak support HTML5 file uploads. Silahkan gunakan browser lainnya!");
            }
        } else {
            Swal('Peringatan!','Pilih file terlebih dahulu!','warning')
        }
    });

    $('#btn_save').click(function () {
        $('.field-validation-valid').html('');
        var form = $(this).closest("form");
        var token = form.find('input[name="__RequestVerificationToken"]').val();
        //var dataform = form.serializeArray();
        //sptemp = formArraytoJson(dataform);

        //var cbInActive = $('#cbInActive').prop("checked");
        var tbl = [];
        var data = tbl_dtl.rows().data();
        //if (data.length <= 0) {
        //    $('[data-valmsg-for=tbl_dtl]').html('Data pemegang saham harap di isi')
        //    return false;
        //}
        for (var i = 0; i < data.length; i++) {
            tbl.push(data[i][0]);
        }
        $.ajax({
            type: "POST",
            url: "@(Url.Action("saveSPC"))",
            data: { __RequestVerificationToken: token, dt_So: tbl },
            success: function (data) {
                if (data == '') {
                    Swal(
                          '',
                          'Data berhasil di Import.',
                          'success'
                        )
                    setTimeout(function () {
                        location.replace("@(Url.Action("Index"))");
                        //form.submit();
                    }, 1000);
                } else {
                    //console.dir(data);
                    $("[data-valmsg-for=tbl_dtl]").html(data);
                }

            },
            error: function (error) {
                console.dir(error)
            }
        });
    })
</script>
