﻿@model RSA.Models.DB.QL_mstcustdtl

@{
    ViewBag.Title = "Customer Ship To";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<section class="content-header">
    <h1>Form Customer Ship To</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Form Customer Ship To</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.custdtloid)
                        @Html.HiddenFor(model => model.custdtlres1)
                        @Html.HiddenFor(model => model.custdtlres2)
                        @Html.HiddenFor(model => model.custdtlres3)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.Hidden("action")

                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Divisi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.divgroupoid, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer<label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @{
                                                if (ViewBag.action == "New Data")
                                                {
                                                    <div class="input-group">
                                                        @Html.Editor("custname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                        <span class="input-group-btn">
                                                            <button type="button" id="btnsearchcust" class="btn btn-flat" data-toggle="modal" data-target="#modal-cust">
                                                                <i class="fa fa-search"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                }
                                                else
                                                {
                                                    @Html.Editor("custname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                }
                                            }
                                            
                                            @Html.HiddenFor(model => model.custoid)
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Code<label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            @{
                                                if (ViewBag.action == "Update Data")
                                                {
                                                    @Html.EditorFor(model => model.custdtlcode, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = 50, @readonly = "" } }) 
                                                    @Html.ValidationMessageFor(model => model.custdtlcode, "", new { @class = "text-danger" })
                                                }
                                                else
                                                {
                                                    @Html.EditorFor(model => model.custdtlcode, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = 50 } })
                                                }
                                            }
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Name<label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.custdtlname, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = 100, @style = "width:200px" } })
                                            @Html.ValidationMessageFor(model => model.custdtlname, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Address</label>
                                        <div class="col-md-4">
                                            @Html.TextAreaFor(model => model.custdtladdr, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = 200 } })
                                            @Html.ValidationMessageFor(model => model.custdtladdr, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">City</label>
                                        <div class="col-md-3">
                                            @*<select id="country" name="country" class="form-control select2"  onchange="FillDDLChange()"></select>*@
                                            @Html.DropDownList("country", null, new { @class = "form-control select2", @onchange = "FillDDLChange()" })
                                            @Html.Hidden("countryTemp")
                                        </div>
                                        <div class="col-md-3">
                                            @Html.DropDownList("province", null, new { @class = "form-control select2", @onchange = "FillDDLCity()" })
                                            @Html.Hidden("provinceTemp")
                                        </div>
                                        <div class="col-md-3">
                                            @*<select id="province" name="province" class="form-control select2"></select>*@
                                            @Html.DropDownListFor(model => model.custdtlcityoid, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Postal Code</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.custdtlpostcode, new { htmlAttributes = new { @class = "form-control", @type = "number", @maxlength = 15, @style = "width:200px" } })
                                            @Html.ValidationMessageFor(model => model.custdtlpostcode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Note</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.custdtlnote, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = 100, @style = "width:200px" } })
                                            @Html.ValidationMessageFor(model => model.custdtlnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(m => m.activeflag, new List<SelectListItem>
                                            {
                                                 new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                                 new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                                            }, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            <label>
                                                <input type="checkbox" name="chkback" />BACK TO INPUT FORM WITH SELECTED CUSTOMER
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{

                                <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>

                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                if (ViewBag.action == "Update Data")
                                {
                                    <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                }

                            }
                        </div>
                    </div>

                                    // AKHIR USER & TOMBOL ACTION
                                }
            </div>
        </div>
    </div>
    @* MODAL UNTUK SUPPLIER *@
    <div class="modal fade" id="modal-cust">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Customer</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCust" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Cust Code</th>
                                    <th>Cust Name</th>
                                    <th>Cust Address</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SUPPLIER *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">

    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
            CountHdrAmt();
            EnabledHeader();
        });
        table.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
            //CountDtlAmt();
            //setDataDtl();
        });
        table.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        $("#tblModalCust").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        var tblModalCust = $("#tblModalCust").DataTable();
            tblModalCust.on('click', '#select', function () {
                $tr = $(this).closest('tr');
                if ($($tr).hasClass('child')) {
                    $tr = $tr.prev('.parent');
                }
                var data = tblModalCust.row($tr).data();
                var alldata = JSON.parse(data[0])
                $("#custname").val(alldata.custname);
                $("#custoid").val(alldata.custoid);
                $("#custaddr").val(alldata.custaddr);
                $("#custcode").val(alldata.custcode);
                //$("#supptype").val(alldata.supptype);
                //$("#porawpaytype").val(alldata.supppaymentoid);
                //$("#porawpaytypeoid").val(alldata.supppaymentoid);
                //$("#potaxtype").val(alldata.supptaxable);
                //$("#porawtaxtype").val(alldata.supptaxable);
                //$("#porawtaxamt").val(alldata.supptaxamt);
                //if (alldata.supptaxable == "TAX") {
                //    $("#porawtaxamt").val("10");
                //} else {
                //    $("#porawtaxamt").val("0");
                //}
                //$("#potype").val(alldata.supptype);
                //$("#porawtype").val(alldata.supptype);
                //$("#curr").val(alldata.suppcurroid);
                //$("#curroid").val(alldata.suppcurroid);
                $('#modal-cust').modal('hide');
            });
            FillDDLChange();
    })

    $("#btnsearchcust").click(function () {
        var divgroupoid = $('#divgroupoid option:selected').val();
            var table = $('#tblModalCust').DataTable();
            table.clear().draw();
            $.ajax({
                url: "@(Url.Action("GetCustData"))",
                data: { divgroupoid: divgroupoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.custcode,
                        val.custname,
                         val.custaddr
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    //$("#btnSaveClose").click(function () {
    //    $("#closing").val("true");
    //    $("#btnSave").click();
    //});

    function FillDDLChange() {
        FillDDLProvince();
    }
    function FillDDLProvince() {
        var cmpcode = $("#cmpcode").val();
        var country = $("#country").val();
        var province = $("#province");
        var province_sel = $("#province option:selected").val();
        $.ajax({
            url: "@(Url.Action("InitDDLProvince"))",
            data: { country:country },//data yang dikirm bergantung url
        cache: false,
        type: "POST",
        success: function (data) {
            var markup = "";
            if (data.result == "sukses") {
                var isExist = false;
                $.each(data.tbl, function (key, val) {
                    markup += "<option value=\'" + val.genoid + "\'>" + val.gendesc + "</option>";
                    if (val.genoid == province_sel) {
                        isExist = true;
                    }
                });
                console.log(data.tbl);
                province.html(markup).show();
                if (isExist == true) {
                    province.val(province_sel);
                }
                province.trigger('change');
                //FillDDLCity();
            } else {
                province.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
        error: function (err) {
            console.log(err);
        }
    });
    }

    function FillDDLCity() {
        var cmpcode = $("#cmpcode").val();
        var country = $("#country option:selected").val();
        var province = $("#province option:selected").val();
        var custdtlcityoid = $("#custdtlcityoid");
        var custdtlcityoid_sel = $("#custdtlcityoid option:selected").val();
        custdtlcityoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLCity"))",
            data: { cmpcode: cmpcode, country:country, province:province },
        cache: false,
        type: "POST",
        success: function (data) {
            var markup = "";
            if (data.result == "sukses") {
                var isExist = false;
                $.each(data.tbl, function (key, val) {
                    markup += "<option value=\'" + val.genoid + "\'>" + val.gendesc + "</option>";
                    if (val.genoid == custdtlcityoid_sel) {
                        isExist = true;
                    }
                });
                console.log(data.tbl);
                custdtlcityoid.html(markup).show();
                if (isExist == true) {
                    custdtlcityoid.val(custdtlcityoid_sel);
                }
                custdtlcityoid.trigger('change');
            } else {
                custdtlcityoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
        error: function (err) {
            console.log(err);
        }
    });
    }
    $("#btnDelete").click(function () {
            var oid = $("#custdtloid").val();
            var cmp = $("#cmpcode").val();

            var token = $('input[name="__RequestVerificationToken"]').val()
            Swal({
                title: 'Are you sure to DELETE this data?',
                text: "Deleted data can't be returned!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                confirmButtonText: 'Yes, Delete this data!'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: "POST",
                        url: "@(Url.Action("Delete"))",
                        data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
            })
        });





</script>


