﻿@model IEnumerable<RSA.Controllers.Master.Kategori1Controller.ListCat1>

@{
    ViewBag.Title = "Kategory1";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>
        Kategori 1
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <section class="col-lg-12">
            <div class="box box-primary">
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="container-fluid row">
                        <a class="btn btn-success" href="Form" style="margin-left: -5px;">
                            <i class="fa fa-plus"></i> Tambah
                        </a>
                    </div><br>
                    </div>
                <!-- table -->
                <div class="box-body">
                    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="dataTables_length" id="example1_length">

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="datatable" class="table table-striped datatable">
                                    <thead>
                                        <tr>
                                            <th>Oid</th>
                                            <th>Kode</th>
                                            <th>Deskripsi</th>
                                            <th>Tipe</th>
                                            <th>Catatan</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int a = 0;
                                            foreach (var i in Model)
                                            {
                                                a++;
                                                <tr>
                                                    <td>
                                                        <a href="Form?id=@Html.DisplayFor(m => i.cat1oid)" class="text-primary">@Html.DisplayFor(m => i.cat1oid)</a>
                                                    </td>
                                                    <td>@Html.DisplayFor(m => i.cat1code)</td>
                                                    <td>@Html.DisplayFor(m => i.cat1shortdesc)</td>
                                                    <td>@Html.DisplayFor(m => i.cat1res1)</td>
                                                    <td>@Html.DisplayFor(m => i.cat1note)</td>
                                                    <td>@Html.DisplayFor(m => i.activeflag)</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- akhir table -->
            </div>
        </section>
    </div>
</section>