﻿@model RSA.Models.DB.QL_prassetmst

@{
    ViewBag.Title = "Permintaan Beli Aset";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    string CompnyCode = Session["CompnyCode"].ToString();
}

<section class="content-header">
    <h1>Form @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>@ViewBag.Title Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.divoid)
                        @Html.HiddenFor(model => model.prassettype)
                        @Html.HiddenFor(model => model.prassetmstres1)
                        @Html.HiddenFor(model => model.prassetmstres2)
                        @Html.HiddenFor(model => model.prassetmstres3)
                        @Html.HiddenFor(model => model.approvalcode)
                        @Html.HiddenFor(model => model.approvaldatetime)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.revisetime)
                        @Html.HiddenFor(model => model.rejecttime)
                        @Html.HiddenFor(model => model.closereason)
                        @Html.HiddenFor(model => model.closeuser)
                        @Html.HiddenFor(model => model.closetime)
                        @Html.Hidden("action")
                        @Html.HiddenFor(model => model.divgroupoid)
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Divisi</label>
                                        <div class="col-md-8">
                                           @Html.DropDownList("ddldivgroupoid", null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Permintaan Khusus</label>
                                        <div class="col-md-4">
                                            @Html.CheckBox("specialflag", new { htmlAttributes = new { @class = "form-control", @Value = "Ya" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tanpa PO</label>
                                        <div class="col-md-4">
                                            @Html.CheckBox("withoutpoflag", new { htmlAttributes = new { @class = "form-control", @Value = "Ya" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Draft No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.prassetmstoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">PR No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.prassetno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @value = "PRRAW-" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Departemen <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.deptoid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.deptoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Date</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.prassetdate, new { htmlAttributes = new { @class = "form-control datemask2", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Expired Date <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.prassetexpdate, new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.prassetexpdate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.prassetmstnote, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.prassetmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>@ViewBag.Title Detail</b></h3>
                    </div>
                    <div class="box-body">
                        <div class="container-fluid">
                            <div class="form-group">
                                <label id="i_u2" class="col-md-2 control-label text-red">New Detail</label>
                            </div>
                            <div class="row">
                                @(Html.Hidden("seq"))
                                @(Html.Hidden("matgencode"))
                                @(Html.Hidden("prassetunitoid"))
                                @(Html.Hidden("prassetunit"))
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl. Dibutuhkan </label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("prassetarrdatereq", new { htmlAttributes = new { @id = "prassetarrdatereq", @class = "form-control datepicker datemask2", @type = "text" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessage("prassetarrdatereq", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-4">Bahan Umum <label class="text-red">*</label></label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <input type="text" id="matgenlongdesc" class="form-control" value="" readonly="readonly" />
                                            <span class="input-group-btn">
                                                <button type="button" id="btnsearchgen" class="btn btn-flat" data-toggle="modal" data-target="#modal-matgen" onclick="FadeModalMatGen()">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                        @(Html.Hidden("matgenoid"))
                                        @Html.ValidationMessage("matgenoid", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Qty</label>
                                        <div class="col-md-4">
                                            @Html.Editor("prassetqty", new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessage("prassetqty", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Qty Pembulatan</label>
                                        <div class="col-md-4">
                                            @Html.Editor("matgenlimitqty", new { htmlAttributes = new { @id = "matgenlimitqty", @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Catatan Detail</label>
                                        <div class="col-md-8">
                                            @Html.TextArea("prassetdtlnote", new { @class = "form-control", @maxlength = "100" })
                                            @Html.ValidationMessage("prassetdtlnote", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="pull-left">
                                @*<button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Add To List</b></button>*@
                                <button type="button" class="btn btn-primary" id="btnAddToList" onclick="AddToList()"><b>Add To List</b></button>
                                <button type="button" class="btn btn-secondary" onclick="clearDetail()"><b>Clear</b></button>
                            </div>
                        </div>
                    </div>


                    //DETAIL DATA LIST
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No.</th>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th>Qty</th>
                                        <th>Unit</th>
                                        <th>Arr. Date Req.</th>
                                        <th>Detail Note</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                if (Model.prassetmststatus == "In Process" | Model.prassetmststatus == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                    
                                    if (ViewBag.action == "Update Data")
                                    {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                    }
                                    <button type="button" class="btn btn-warning btn-md" id="btnSendForApproval"><b>Send For Approval</b></button>
                                }
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                            }
                        </div>
                    </div>
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK GEN MATERIAL *@
    <div class="modal fade" id="modal-matgen">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Bahan Umum</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalGen" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Kode</th>
                                    <th>Deskripsi</th>
                                    <th>Satuan</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR UNTUK RAW MATERIAL *@
</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        //SETTING LIST DETAIL
        $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0,8],
                "visible": false,
                "searchable": false
            }]
        });

        // Delete & Edit a record DETAIL
        var table = $('#DataDtl').DataTable();

        // Edit record
        table.on('click', '#edit', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }

            clearDetail();
            var data = table.row($tr).data();
            var alldata = JSON.parse(data[0])
            $('#i_u2').html("Edit Detail");
            $("#seq").val(data[1]);

            //$('#upmreftype').val(alldata.upmreftype).trigger('change');
            $('#matgenoid').val(alldata.matgenoid);
            $('#matgencode').val(alldata.matgencode);
            $('#matgenlongdesc').val(alldata.matgenlongdesc);
            $('#prassetarrdatereq').val(alldata.prassetarrdatereq);
            $('#prassetqty').val(alldata.prassetqty);
            $('#prassetunitoid').val(alldata.prassetunitoid);
            $('#prassetunit').val(alldata.prassetunit);
            $('#matgenlimitqty').val(alldata.matgenlimitqty);
            $('#prassetdtlnote').val(alldata.prassetdtlnote);

            //if ($('#upmrefno').val().length > 0) {
            //    $("#upmrefname").prop("readonly", true);
            //    $("#upmrefdesc").prop("readonly", true);
            //    $("#upmunit").prop("readonly", true);
            //}
        });

        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();

            var data = table.rows().data();
            //console.dir(data);

            //Mengurutkan nomor
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var row = table.row(i).data();
                    row[1] = i + 1;
                    table.row(i).data(row).invalidate();
                }
            }

            setDataDtl();
            EnabledHeader();
            e.preventDefault();
        });

        table.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        table.on("keypress keyup blur", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        //START MODAL LIST MATRAW
        //SETTING MODAL LIST MATRAW
        $('#tblModalGen').DataTable({
            "paging": true,
            "bFilter": true,
            "ordering": true,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        //SELECTED FROM MODAL RAW MATERIAL
        var tblModalGen = $('#tblModalGen').DataTable();

        tblModalGen.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }

            var data = tblModalGen.row($tr).data();
            //alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
            var alldata = data[0];

            $("#matgenoid").val(alldata.matgenoid);
            $("#matgenlongdesc").val(alldata.matgenlongdesc);
            $("#matgencode").val(alldata.matgencode);
            $("#prassetunitoid").val(alldata.prassetunitoid);
            $("#prassetunit").val(alldata.prassetunit);
            $('#matgenlimitqty').val(alldata.matgenlimitqty);

            $('#modal-matgen').modal('hide');
            $("#matgenlimitqty").prop("readonly", true);
        });
        //END MODAL LIST MATRAW

        //FillDDLDept()
        FillDetailData();
    })

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                var edit = '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>';
                var remove = '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>';
                val.prassetarrdatereq = moment(jsDate(val.prassetarrdatereq)).format('MM/DD/YYYY');
                rows.push([
                    JSON.stringify(val),
                    val.prassetdtlseq,
                    val.matgencode,
                    val.matgenlongdesc,
                    //'<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="prassetqty-' + val.prassetdtlseq + '" name="prassetqty-' + val.prassetdtlseq + '" value="' + val.prassetqty + '">',
                    val.prassetqty,
                    val.prassetunit,
                    //'<input type="text" class="form-control datepicker" style="max-width: 100px" id="prassetarrdatereq-' + val.prassetdtlseq + '" name="prassetarrdatereq-' + val.prassetdtlseq + '" value="' + moment(jsDate(val.prassetarrdatereq)).format('MM/DD/YYYY') + '">',
                    val.prassetarrdatereq,
                    //'<input type="text" class="form-control" style="max-width: 150px" id="prassetdtlnote-' + val.prassetdtlseq + '" name="prassetdtlnote-' + val.prassetdtlseq + '" value="' + val.prassetdtlnote + '">',
                    val.prassetdtlnote,
                    edit,
                    remove
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
            EnabledHeader();
        });
    }

    function FillDDLDept() {
        var cmpcode = CompnyCode;
        var deptoid = $("#deptoid");
        var deptoid_sel = $("#deptoid option:selected").val();
        deptoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLDepartment"))",
            data: { cmpcode: cmpcode },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.deptoid + "\'>" + val.deptname + "</option>";
                        if (val.deptoid == deptoid_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    deptoid.html(markup).show();
                    if (isExist == true) {
                        deptoid.val(deptoid_sel);
                    }
                    deptoid.trigger('change');
                } else {
                    deptoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    function IsOnDtl(matgenoid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (matgenoid == alldata.matgenoid) {
                return true;
            }
        }
        return false;
    }

    @*function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var prrawarrdatereq_id = "#prrawarrdatereq-" + (i + 1);
            var prrawqty_id = "#prrawqty-" + (i + 1);
            var prrawdtlnote_id = "#prrawdtlnote-" + (i + 1);
            var prrawarrdatereq = table.$(prrawarrdatereq_id).val();
            var prrawqty = table.$(prrawqty_id).val();
            var prrawdtlnote = table.$(prrawdtlnote_id).val();
            var obj = {
                prrawdtlseq: i + 1,
                matrawoid: alldata.matrawoid,
                matrawcode: alldata.matrawcode,
                matrawlongdesc: alldata.matrawlongdesc,
                matrawlimitqty: alldata.matrawlimitqty,
                prrawqty: prrawqty,
                prrawunitoid: alldata.prrawunitoid,
                prrawunit: alldata.prrawunit,
                prrawarrdatereq: prrawarrdatereq,
                prrawdtlnote: prrawdtlnote,
                requiredtloid: alldata.requiredtloid,
                requireqty: alldata.requireqty
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }*@

    $("#btnDelete").click(function () {
        var oid = $("#prassetmstoid").val();
        var cmp = $("#cmpcode").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        if (table != null) {
            var data = table.rows().data();
            if (data.length > 0) { bVal = true; } else { bVal = false; }
        } else { bVal = false; }
        $("#divgroupoid").val($('#ddldivgroupoid option:Selected').val());
        $("#ddldivgroupoid").prop("disabled", bVal);
    }

    $("#btnSendForApproval").click(function () {
        $("#prassetmststatus").val("In Approval");

        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for APPROVAL?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>

<script language="javascript" type="text/javascript">
    function FadeModalMatGen() {
        var table = $('#tblModalGen').DataTable();
        var divgroupoid = $('#divgroupoid option:selected').val();
        var ddldivgroupoid = $('#ddldivgroupoid option:selected').val();
        if (ddldivgroupoid == null) {
            divgroupoid = divgroupoid;
        } else {
            divgroupoid = ddldivgroupoid;
        }
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetMatGen"))",
            data: { cmp: 'RSA', divgroupoid: divgroupoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        //JSON.stringify(val),
                        val,
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.matgencode,
                        val.matgenlongdesc,
                        val.prassetunit,
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    //START ADD TO LIST TO DETAIL
    function AddToList() {
        var table = $('#DataDtl').DataTable();
        //var upmreftype = $('#upmreftype option:selected').val();
        var prassetarrdatereq = $('#prassetarrdatereq').val();
        var matgenoid = $('#matgenoid').val();
        var matgenlongdesc = $('#matgenlongdesc').val();
        var matgencode = $('#matgencode').val();
        var prassetqty = $('#prassetqty').val();
        var prassetunitoid = $('#prassetunitoid').val();
        var prassetunit = $('#prassetunit').val();
        var matgenlimitqty = $('#matgenlimitqty').val();
        var prassetdtlnote = $('#prassetdtlnote').val();

        var isValid = true;

        if (matgenoid.length > 0) {
            $("[data-valmsg-for=matgenoid]").html("");
        } else {
            isValid = false;
            $("[data-valmsg-for=matgenoid]").html("Pilih Barang !");
        }
        if (prassetqty.length > 0) {
            $("[data-valmsg-for=prassetqty]").html("");
        } else {
            isValid = false;
            $("[data-valmsg-for=prassetqty]").html("Isi Qty");
        }

        if (isValid) {
            var obj = {
                prassetarrdatereq: prassetarrdatereq,
                matgenoid: matgenoid,
                matgenlongdesc: matgenlongdesc,
                matgencode: matgencode,
                prassetqty: prassetqty,
                prassetunitoid: prassetunitoid,
                prassetunit: prassetunit,
                matgenlimitqty: matgenlimitqty,
                prassetdtlnote: prassetdtlnote
            }

            if ($('#i_u2').html() == "Edit Detail") { //EDIT DATA
                var id = parseInt($("#seq").val()) - 1;
                if (isOnDtl(matgenoid, id + 1)) {
                    $('[data-valmsg-for=matgenoid]').html("Barang sudah pernah di tambahkan").show();
                } else {
                    var row = table.row(id).data();
                    row[0] = JSON.stringify(obj);
                    row[2] = matgencode;
                    row[3] = matgenlongdesc;
                    row[4] = prassetqty;
                    row[5] = prassetunit;
                    row[6] = prassetarrdatereq;
                    row[7] = prassetdtlnote;
                    table.row(id).data(row).invalidate();
                    clearDetail();
                    setDataDtl();
                }
            } else {
                var id = table.rows().data().length + 1;//menambahkan data ke tabel
                if (isOnDtl(matgenoid, -1)) {
                    $('[data-valmsg-for=matgenoid]').html("Barang sudah pernah di tambahkan").show();
                } else {
                    table.row.add([
                        JSON.stringify(obj),
                        id,
                        matgencode,
                        matgenlongdesc,
                        prassetqty,
                        prassetunit,
                        prassetarrdatereq,
                        prassetdtlnote,
                        '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                    clearDetail();
                    setDataDtl();
                    EnabledHeader();
                }
            }
        }
    }

    function isOnDtl(matrawoid, seq) { //cek apa data sudah pernah ditambahkan
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        //console.dir(data);

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (matrawoid == alldata.matrawoid && data[i][1] != seq && matrawoid != 0) {
                return true;
            }
        }
        return false;
    }

    function clearDetail() {//clear field data detail
        $('#i_u2').html("New Detail");
        $('#seq').val(0);

        //$("select#upmreftype")[0].selectedIndex = 0;
        $('#matgencode').val("");
        $("#matgenoid").val(0);
        $("#matgenlongdesc").val("");
        $("#prassetqty").val(0);
        $('#prassetunitoid').val("");
        $("#prassetunit").val("");
        $("#matgenlimitqty").val(0);
        $("#prassetdtlnote").val("");

        //$("#upmrefname").prop("readonly", false);
        //$("#upmrefdesc").prop("readonly", false);
        //$("#upmunit").prop("readonly", false);
    }

    function setDataDtl() {//mengirim data table ke controler
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();

        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0])
            rows.push(alldata);
        }
        //console.dir(rows);
        //console.dir(JSON.stringify(rows));
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }
    //END ADD TO LIST TO DETAIL
</script>