﻿@model RSA.Models.DB.QL_trnsoitemmst

@{
    ViewBag.Title = "SO Finish Good";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form SO Finish Good</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>SO Finish Good Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.soitemmstres1)
                        @Html.HiddenFor(model => model.soitemmstres2)
                        @Html.HiddenFor(model => model.soitemmstres3)
                        @Html.HiddenFor(model => model.approvalcode)
                        @Html.HiddenFor(model => model.approvaldatetime)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.closereason)
                        @Html.HiddenFor(model => model.closeuser)
                        @Html.HiddenFor(model => model.closetime)
                        @Html.HiddenFor(model => model.revisereason)
                        @Html.HiddenFor(model => model.reviseuser)
                        @Html.HiddenFor(model => model.revisetime)
                        @Html.HiddenFor(model => model.rejectreason)
                        @Html.HiddenFor(model => model.rejectuser)
                        @Html.HiddenFor(model => model.rejecttime)
                        @Html.HiddenFor(model => model.lastrevtime)
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            @Html.RadioButtonFor(model => model.ismadetoorder, true, new { @class = "rb_madetoorder", id = "ismadetoorder_true" }) @Html.Label("Made To Order")
                                            @Html.RadioButtonFor(model => model.ismadetoorder, false, new { @class = "rb_madetoorder", id = "ismadetoorder_false" }) @Html.Label("Made To Stock")
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Division</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.groupoid, null, new { @class = "form-control select2", @required = ""})
                                            @Html.ValidationMessageFor(model => model.groupoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @*@Html.DropDownListFor(model => model.cmpcode, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.cmpcode, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Draft No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.soitemmstoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">SO No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.soitemno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Date</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.soitemdate, new { htmlAttributes = new { @class = "form-control datemask2", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("custname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchcust" class="btn btn-flat" data-toggle="modal" data-target="#modal-cust">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.custoid)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">payment Type</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("sopaytypeoid", null, new { @class = "form-control", @disabled = "" })
                                        </div>
                                        @Html.HiddenFor(model => model.soitempaytypeoid)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Price Type</label>
                                        <div class="col-md-8">
                                            @Html.RadioButtonFor(model => model.isexcludetax, true, new { @class="rb", id = "isexcludetax_true"}) @Html.Label("Exclude Tax") 
                                            @Html.RadioButtonFor(model => model.isexcludetax, false, new { @class = "rb", id = "isexcludetax_false"}) @Html.Label("Include Tax")
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer PO Date <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.socustrefdate, new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.socustrefdate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">SO Type</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.soitemtype, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer PO.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.soitemcustref, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Currency <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.curroid, null, new { @class = "form-control select2" })
                                            @Html.ValidationMessageFor(model => model.curroid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Payment Method</label>
                                        <div class="col-md-4">
                                           @Html.DropDownListFor(model => model.soitempaymethod, new List<SelectListItem>
                            {
                                    new SelectListItem { Text="TT", Value="TT" },
                                    new SelectListItem { Text="LC", Value="LC" }
                            }, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Rate Pajak (IDR)</label>
                                        <div class="col-md-4">
                                            @Html.Editor("soitemratetoidr", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.rateoid)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Rate Pajak (USD)</label>
                                        <div class="col-md-4">
                                            @Html.Editor("soitemratetousd", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Rate Standard (IDR)</label>
                                        <div class="col-md-4">
                                            @Html.Editor("soitemrate2toidr", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.rate2oid)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Rate Standard (USD)</label>
                                        <div class="col-md-4">
                                            @Html.Editor("soitemrate2tousd", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Amt</label>
                                        <div class="col-md-4">
                                            @Html.Editor("soitemtotalamt", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Disc. Dtl Amt</label>
                                        <div class="col-md-4">
                                            @Html.Editor("soitemtotaldiscdtl", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Netto</label>
                                        <div class="col-md-4">
                                            @Html.Editor("soitemtotalnetto", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Sales</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.salesoid, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tax</label>
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.soitemtaxtype, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        <div class="col-md-5">
                                            @Html.Editor("soitemtaxamt", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            </div>
                                     </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tax Amount</label>
                                        <div class="col-md-4">
                                            @Html.Editor("soitemvat", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Grand Total Amt</label>
                                        <div class="col-md-4">
                                           @Html.Editor("soitemgrandtotalamt", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">ETD</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.soitemetd, new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.soitemetd, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Invoice Value</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.soiteminvoiceval, new List<SelectListItem>
                            {
                                    new SelectListItem { Text="FOB", Value="FOB" },
                                    new SelectListItem { Text="CIF", Value="CIF" },
                                    new SelectListItem { Text="CNF", Value="CNF" },
                                    new SelectListItem { Text="FCA", Value="FCA" }
                            }, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Account No. <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.accountoid, null, new { @class = "form-control select2"})
                                            @Html.ValidationMessageFor(model => model.accountoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none;">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Port Of Ship <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @*@Html.Editor("soitemportship", new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "50"} })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Port Of Discharge <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @*@Html.Editor("soitemportdischarge", new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "50" } })*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.soitemmstnote, new { @class = "form-control", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.soitemmstnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.soitemmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none;">
                                <div class="col-md-6">
                                    <div  class="form-group">
                                        <label class="col-md-4 control-label">Approval User</label>
                                        <div class="col-md-8">
                                            @*@Html.DropDownListFor(model => model.approvaluser, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.approvaluser, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                   

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>SO Finish Good Detail</b></h3>
                    </div>
                    <div class="box-body">
                          <div class="row">
                                      <div class="col-lg-6">
                                            <div class="col-lg-4" style="padding-top: 10px;">
                                                <label>Tipe Sheet</label>
                                            </div>
                                            <div class="col-lg-4">
                                                @Html.DropDownListFor(Model => Model.tpesheet, new List<SelectListItem>
                            {
                                    new SelectListItem { Text="BERSIH", Value="BERSIH" },
                                    new SelectListItem { Text="KOTOR", Value="KOTOR" }
                            }, new { @class = "form-control select2", @required = "", @onchange = "tpchange()" })
                                            </div>
                                        </div>
                              <div class="col-lg-6">
                                  <div class="col-lg-4">
                                      <label>Trim</label>
                                  </div>
                                  <div class="col-lg-4">
                                      @Html.Editor("trim", new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "3" } })
                                  </div>
                              </div>
                                       
                                    </div><br>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="col-lg-4" style="padding-top: 10px;">
                                                <label for="ppno">Tipe Wall</label>
                                            </div>
                                            <div class="col-lg-4">
                                                @Html.DropDownListFor(Model => Model.tipewall, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="SW", Value="SW" },
                                                new SelectListItem { Text="DW", Value="DW" }
                                              }, new { @class = "form-control select", @required = "", @onchange = "tipewallchange()" })
                                                
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="col-lg-4" style="padding-top: 10px;">
                                                <label for="ppno">Tipe Flute</label>
                                            </div>
                                            <div class="col-lg-4">
                                                @Html.DropDownListFor(model => model.fluteoid, null, new { @id = "fluteoid", @class = "form-control select2", @onchange = "fluteoidchange()" })                                             
                                            </div>
                                        </div>
                                    </div><br>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="col-lg-4" style="padding-top: 10px;">
                                                <label>Nama Sheet<b style="color: red">*</b></label>
                                            </div>
                                            <div class="col-lg-8">
                                                @Html.Editor( "itemdesc", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100", @style = "text-transform:uppercase" } })  
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="col-lg-4">
                                                <label>QTY</label>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="input-group date">
                                                    @Html.Editor("soitemdtlqty", new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100" } })
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div><br>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="col-lg-4" style="padding-top: 10px;">
                                                <label>UK LxP (mm)<b style="color: red">*</b></label>
                                            </div>
                                            <div class="col-lg-4">
                                                @Html.Editor("lsheet", new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100" } })
                                            </div>
                                            <div class="col-lg-4">
                                                @Html.Editor("psheet", new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100" } })
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="col-lg-4" style="padding-top: 10px;">
                                                <label>Pcs / Bundle<b style="color: red">*</b></label>
                                            </div>
                                            <div class="col-lg-4">
                                              @Html.Editor("pcsperbundle", new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100" } })
                                           
                                            </div>
                                        </div>
                                    </div><br>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="col-lg-2" style="padding-top: 10px;">
                                                <label>Creasing</label>
                                            </div>
                                            <div class="col-lg-6">
												<div style="position: relative; overflow-x: auto;">
													<table id="datatable" class="table table-striped">
														<thead>
															<tr>
                                                                <td id="cr1d">@Html.Editor("cr1", new { htmlAttributes = new { @class = "form-control", @type = "text" } })</td>
                                                                <td id="cr2d">@Html.Editor("cr2", new { htmlAttributes = new { @class = "form-control", @type = "text" } })</td>
                                                                <td id="cr3d">@Html.Editor("cr3", new { htmlAttributes = new { @class = "form-control", @type = "text"} })</td>
                                                                <td id="cr4d">@Html.Editor("cr4", new { htmlAttributes = new { @class = "form-control", @type = "text"} })</td>
                                                                <td id="cr5d">@Html.Editor("cr5", new { htmlAttributes = new { @class = "form-control", @type = "text"} })</td>
															</tr>
														</thead>
													</table>
												</div>
											</div>
										</div>
									</div>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="col-lg-2" style="padding-top: 10px;">
                                                <label>Substance<b style="color: red">*</b></label>
                                            </div>
                                            <div class="col-lg-6">
												<div style="position: relative; overflow-x: auto;">
													<table id="datatable" class="table table-striped">
														<thead >
															<tr>
																  <td>
																	@Html.DropDownListFor(Model => Model.sub1, null, new { @id = "sub1", @class = "form-control select2", @onchange = "sub1change()" })
                                                                      </td>
																  <td>
																	@Html.DropDownListFor(Model => Model.sub2, null, new { @id = "sub2", @class = "form-control select2", @onchange = "sub2change()" })</td>
																  <td>
																	@Html.DropDownListFor(Model => Model.sub3, null, new { @id = "sub3", @class = "form-control select2", @onchange = "sub3change()" })</td>
																<td id="sub4td">
																	@Html.DropDownListFor(Model => Model.sub4, null, new { @id = "sub4", @class = "form-control select2", @onchange = "sub4change()" })</td>
																<td  id="sub5td">
																	@Html.DropDownListFor(Model => Model.sub5, null, new { @id = "sub5", @class = "form-control select2", @onchange = "sub5change()" })</td>
															</tr>
														</thead>
														<tbody>
															<tr>
                                                                <td>@Html.Editor("sub1d", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })</td>
                                                                <td>@Html.Editor("sub2d", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })</td>
                                                                <td>@Html.Editor("sub3d", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })</td>
                                                                <td id="sub4dtd">@Html.Editor("sub4d", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })</td>
                                                                <td id="sub5dtd">@Html.Editor("sub5d", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>

                                    <div class="row">
                                        <div class="col-lg-6">   
                                            <div class="col-lg-4">
                                                <label>Toleransi</label>
                                            </div>
											<div class="col-lg-4">
                                                <div class="input-group">
                                                    @Html.Editor("soitemdtlqty", new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @value = "0" } })
                                                    <span class="input-group-addon">
                                                        %
                                                    </span>
                                                </div>
											</div>
										</div>
                                    </div><br>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="col-lg-4">
                                    <label>Harga Satuan<b style="color:red">*</b></label>
                                </div>
                                <div class="col-lg-4">
                                    @Html.Editor("soitemdtlprice", new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100" } })
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="col-lg-4">
                                    <label>Harga Include</label>
                                </div>
                                <div class="col-lg-4">
                                    @Html.Editor("soitemdtlpriceinc", new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100",@readonly="" } })
                                </div>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="col-lg-4">
                                    <label>Sub Total</label>
                                </div>
                                <div class="col-lg-4">
                                    @Html.Editor("soitemdtlamount", new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                </div>
                            </div>

                        </div><br>
                                    
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="col-lg-4">
                                                <label>Disc.</label>
                                            </div>
                                            <div class="col-lg-2">
                                                @Html.DropDownList("soitemdtldisctype", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="P", Value="P" }
                                              }, new { @class = "form-control select", @required = "", @onchange = "soitemdtldisctypechange()", @readonly = "" })
                                            </div>
                                            <div class="col-lg-2">
                                                @Html.Editor("soitemdtldiscvalue", new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "2" } })
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                                <div class="col-lg-4">
                                                    <label >Disc. Amount</label>
                                                </div>
                                                <div class="col-lg-4">
                                                    @Html.Editor( "soitemdtldiscamt", new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                                </div>
                                        </div>
                                    </div><br> 
                        <div class="row" style="margin-left: 1px;">
                            <div class="col-lg-6">
                                <button class="btn btn-info" id="proces1">Check</button>
                            </div>
                        </div><br><br>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="col-lg-4">
                                    <label>Disc. Margin</label>
                                </div>
                                <div class="col-lg-4">
                                    @Html.Editor("soitemdtldiscmarginamt", new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                </div>
                            </div>
                          
                        </div><br> 
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="col-lg-4">
                                                <label>Total</label>
                                            </div>
                                            <div class="col-lg-4">
                                                @Html.Editor("soitemdtlnetto", new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="col-lg-4">
                                                <label >Remark</label>
                                            </div>
                                            <div class="col-lg-8">
                                                @Html.Editor("soitemdtlnote", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "500" } })   
                                                 
                                            </div>
                                        </div>
                                    </div><br>  

                                  
                    </div>

                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                if (Model.soitemmststatus == "In Process" | Model.soitemmststatus == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                    <button type="submit" class="btn btn-primary btn-md" id="btnSaveClose"><b>Save & Close</b></button>
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                    if (ViewBag.action == "Update Data")
                                    {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                    }
                                    <button type="button" class="btn btn-warning btn-md" id="btnSendForApproval"><b>Send For Approval</b></button>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                }
                            }
                        </div>
                    </div>
                    
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    

    @* MODAL UNTUK CUSTOMER *@
    <div class="modal fade" id="modal-cust">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Customer</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCust" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK CUSTOMER *@
</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tableContainer = $('#DataDtlContainer').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
            CountHdrAmount();
            EnabledHeader();
        });
        table.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        tableContainer.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });
        tblModalDtl.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        tblModalDtl.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        $("#tblModalCust").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalMat = $("#tblModalMat").DataTable({
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalCust = $("#tblModalCust").DataTable();
        tblModalCust.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalCust.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#custname").val(alldata.custname);
            $("#custoid").val(alldata.custoid);
            $("#sopaytypeoid").val(alldata.custpaymentoid).trigger("change");
            $("#soitempaytypeoid").val(alldata.custpaymentoid).trigger("change");
            $("#soitemtype").val(alldata.custtype);
            $("#isexcludetax").prop("checked", true);
            if (alldata.custtaxable == "0") {
                $('input[name=isexcludetax]:not(:checked)').attr('disabled', true);
                $("#soitemtaxtype").val("NON TAX");
                $("#soitemtaxamt").val("0");
            } else {
                $('input[name=isexcludetax]:not(:checked)').attr('disabled', false);
                $("#soitemtaxtype").val("TAX");
                $("#soitemtaxamt").val("10");
            }
            $('#modal-cust').modal('hide');
        });

        InitDDLAppUser();
        FillDDLDivision();

        $("#cmpcode").change(function () {
            InitDDLAppUser();
            FillDDLDivision();
        });

        SetRateValue();
        $("#curroid").change(function () {
            SetRateValue();
        })
        var a = $('#tipewall').val();
        if (a == "SW") {
            //document.getElementById("sub4").disabled = true;
            //document.getElementById("sub5").disabled = true;
            document.getElementById("sub4td").style.display = "none";
            document.getElementById("sub5td").style.display = "none";
            document.getElementById("sub4dtd").style.display = "none";
            document.getElementById("sub5dtd").style.display = "none";
        }
        else {
            document.getElementById("sub4td").style.display = "";
            document.getElementById("sub5td").style.display = "";
            document.getElementById("sub4dtd").style.display = "";
            document.getElementById("sub5dtd").style.display = "";
            //document.getElementById("sub4").disabled = false;
            //document.getElementById("sub5").disabled = false;
        }
        //tipewallchange();
        sub1change();
        sub2change();
        sub3change();
        sub4change();
        sub5change();


        //FillDetailData();
        var tp = $("#tpesheet").val();
        if ($("#action").val() == "Update Data") {
            //FillDetailContainer();
        } else {
            if (tp == "BERSIH") {
                $("#trim").val(20);
            }
            else {
                $("#trim").val(0);
            }
        }
    })

    function tpchange() {
        var tp = $("#tpesheet").val();
        if (tp == "BERSIH") {
            $("#trim").val(20);
        }
        else {
            $("#trim").val(0);
        }
    }

    function tipewallchange() {
        var a = $('#tipewall').val();

        if (a == "SW") {
            //document.getElementById("sub4").disabled = true;
            //document.getElementById("sub5").disabled = true;
            document.getElementById("sub4td").style.display = "none";
            document.getElementById("sub5td").style.display = "none";
            document.getElementById("sub4dtd").style.display = "none";
            document.getElementById("sub5dtd").style.display = "none";
        }
        else {
            document.getElementById("sub4td").style.display = "";
            document.getElementById("sub5td").style.display = "";
            document.getElementById("sub4dtd").style.display = "";
            document.getElementById("sub5dtd").style.display = "";
            //document.getElementById("sub4").disabled = false;
            //document.getElementById("sub5").disabled = false;
        }
        getflute();
    }
    function getflute() {
        var fl = $('#tipewall').val();
        var ddl = $("#fluteoid");
        if (fl == "" || fl == 0) {
            ddl.html("<option value=''> Pilih Flute  dahulu </option>").show();
        } else {
            ddl.html("<option value=''> Please wait...</option>").show();
            $.ajax({
                url: "@(Url.Action("Getflute"))",
                data: { fl: fl },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = ""//"<option value=0>Pilih Province</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=\'" + data[x].Value + "\'>" + data[x].Text + "</option>";
                }
                ddl.html(markup).show();

            },
            error: function (reponse) {
                alert("error fillDDLFlute : " + reponse);
            }
        });
    }
    }
    function sub1change() {
        getsub1();
    }
    function sub2change() {
        getsub2();
    }
    function sub3change() {
        getsub3();
    }
    function sub4change() {
        getsub4();
    }
    function sub5change() {
        getsub5();
    }

    function getsub1() {
        var sub1 = $("#sub1").val();
        $.ajax({
            url: "@(Url.Action("Getsub1"))",
            data: { sub1: sub1 },
        cache: false,
        type: "POST",
        success: function (data) {
            $('#sub1d').val(data);
        },
        error: function (reponse) {
            alert("error getsub1 : " + reponse);
        }
    });
    }
    function getsub2() {
        var sub2 = $("#sub2").val();
        $.ajax({
            url: "@(Url.Action("Getsub2"))",
            data: { sub2: sub2 },
        cache: false,
        type: "POST",
        success: function (data) {
            $('#sub2d').val(data);
        },
        error: function (reponse) {
            alert("error getsub2 : " + reponse);
        }
    });
    }
    function getsub3() {
        var sub3 = $("#sub3").val();
        $.ajax({
            url: "@(Url.Action("Getsub3"))",
            data: { sub3: sub3 },
        cache: false,
        type: "POST",
        success: function (data) {
            $('#sub3d').val(data);
        },
        error: function (reponse) {
            alert("error getsub3 : " + reponse);
        }
    });
    }
    function getsub4() {
        var sub4 = $("#sub4").val();
        $.ajax({
            url: "@(Url.Action("Getsub4"))",
            data: { sub4: sub4 },
        cache: false,
        type: "POST",
        success: function (data) {
            $('#sub4d').val(data);
        },
        error: function (reponse) {
            alert("error getsub4 : " + reponse);
        }
    });
    }
    function getsub5() {
        var sub5 = $("#sub5").val();
        $.ajax({
            url: "@(Url.Action("Getsub5"))",
            data: { sub5: sub5 },
        cache: false,
        type: "POST",
        success: function (data) {
            $('#sub5d').val(data);
        },
        error: function (reponse) {
            alert("error getsub5 : " + reponse);
        }
    });
    }
    function SetRateValue() {
        var curroid = $("#curroid").val();
        var sDate = $("#soitemdate").val();
        $.ajax({
            url: "@(Url.Action("GetRateValue"))",
            data: { curroid: curroid, sDate: sDate },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data, function (key, val) {
                        $("#rateoid").val(val.rateoid);
                        $("#soitemratetoidr").val(val.rateidrvalue);
                        $("#soitemratetousd").val(val.soratetousd);
                        $("#rate2oid").val(val.rate2oid);
                        $("#soitemrate2toidr").val(val.rate2idrvalue);
                        $("#soitemrate2tousd").val(val.sorate2tousd);
                    });
                } else {
                    if (data.msg != "") {
                        Swal('Warning!', data.msg, 'warning')
                    }
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }


    function InitDDLAppUser() {
        var cmp = $("#cmpcode").val();
        var approvaluser = $("#approvaluser");
        var approvaluser_sel = $("#approvaluser option:selected").val();
        approvaluser.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLAppUser"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.approvaluser + "\'>" + val.approvaluser + "</option>";
                        if (val.approvaluser == approvaluser_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    approvaluser.html(markup).show();
                    if (isExist == true) {
                        approvaluser.val(approvaluser_sel);
                    }
                    approvaluser.trigger('change');
                } else {
                    approvaluser.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
        error: function (err) {
            console.log(err);
        }
    });
    }

    @*function FillDDLFlute() {
        var markup = "";
        var url = "@(Url.Action("InitDDLFlute"))";
        $.ajax({
            url: url,
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.gnoid + "\'>" + val.gndesc + "</option>";
                    });
                    $("#fluteoid").val(markup);
                }
            }
        });
    }

    function FillDDLSub1() {
        var markup = "";
        var url = "@(Url.Action("InitDDLSub"))";
        $.ajax({
            url: url,
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.gnoid + "\'>" + val.gndesc + "</option>";
                    });
                    $("#sub1").val(markup);
                }
            }
        });
    }*@

    function FillDDLSub2() {
        var markup = "";
        var url = "@(Url.Action("InitDDLSub"))";
        $.ajax({
            url: url,
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.gnoid + "\'>" + val.gndesc + "</option>";
                    });
                    $("#sub2").val(markup);
                }
            }
        });
    }

    function FillDDLSub3() {
        var markup = "";
        var url = "@(Url.Action("InitDDLSub"))";
        $.ajax({
            url: url,
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.gnoid + "\'>" + val.gndesc + "</option>";
                    });
                    $("#sub3").val(markup);
                }
            }
        });
    }
    function FillDDLSub4() {
        var markup = "";
        var url = "@(Url.Action("InitDDLSub"))";
        $.ajax({
            url: url,
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.gnoid + "\'>" + val.gndesc + "</option>";
                    });
                    $("#sub4").val(markup);
                }
            }
        });
    }
    function FillDDLSub5() {
        var markup = "";
        var url = "@(Url.Action("InitDDLSub"))";
        $.ajax({
            url: url,
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.gnoid + "\'>" + val.gndesc + "</option>";
                    });
                    $("#sub5").val(markup);
                }
            }
        });
    }




    function FillDDLDivision() {
        var cmp = $("#cmpcode").val();
        var groupoid = $("#groupoid");
        var groupoid_sel = $("#groupoid option:selected").val();
        groupoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLDivision"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.groupoid + "\'>" + val.groupdesc + "</option>";
                        if (val.groupoid == groupoid_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    groupoid.html(markup).show();
                    if (isExist == true) {
                        groupoid.val(groupoid_sel);
                    }
                    groupoid.trigger('change');
                } else {
                    groupoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }



    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var dDiv = 1;
        if ($("input[name=isexcludetax]:checked").val() == "false") {
            dDiv = 1.1;
        }
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var soitemqty_id = "#soitemqty-" + (i + 1);
            var soitemprice_id = "#soitemprice-" + (i + 1);
            var soitemdtldisctype_id = "#soitemdtldisctype-" + (i + 1);
            var soitemdtldiscvalue_id = "#soitemdtldiscvalue-" + (i + 1);
            var soitemdtlnote_id = "#soitemdtlnote-" + (i + 1);
            var soitemqty = table.$(soitemqty_id).val();
            var soitemprice = table.$(soitemprice_id).val() / dDiv;
            var soitemdtlamt = alldata.soitemdtlamt / dDiv;
            var soitemdtldisctype = table.$(soitemdtldisctype_id).val();
            var soitemdtldiscvalue = table.$(soitemdtldiscvalue_id).val() / dDiv;
            var soitemdtldiscamt = alldata.soitemdtldiscamt / dDiv;
            var soitemdtlnetto = alldata.soitemdtlnetto / dDiv;
            var soitemdtlnote = table.$(soitemdtlnote_id).val();

            var obj = {
                soitemdtlseq: i + 1,
                itemoid: alldata.itemoid,
                itemcode: alldata.itemcode,
                itemlongdesc: alldata.itemlongdesc,
                itemnote: alldata.itemnote,
                soitemqty: soitemqty,
                soitemunitoid: alldata.soitemunitoid,
                soitemunit: alldata.soitemunit,
                soitemlastprice: alldata.soitemlastprice,
                soitemprice: soitemprice,
                soitemdtlamt: soitemdtlamt,
                soitemdtldisctype: soitemdtldisctype,
                soitemdtldiscvalue: soitemdtldiscvalue,
                soitemdtldiscamt: soitemdtldiscamt,
                soitemdtlnetto: soitemdtlnetto,
                soitemdtlnote: soitemdtlnote,
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }


    function CountHdrAmount() {
        var table = $('#DataDtl').DataTable();
        var pricetype = $("input[name=isexcludetax]:checked").val();
        var data = table.rows().data();
        var dTotalAmt = 0;
        var dTotalDiscDtl = 0;
        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            dTotalAmt +=  alldata.soitemdtlamt;
            dTotalDiscDtl += alldata.soitemdtldiscamt;
        }
        var dDiv = 1;
        if (pricetype == "false") {
            dDiv = 1.1;
        }
        $("#soitemtotalamt").val(parseFloat(dTotalAmt / dDiv));
        $("#soitemtotaldiscdtl").val(parseFloat(dTotalDiscDtl / dDiv));
        $("#soitemtotalnetto").val(parseFloat($("#soitemtotalamt").val()) - parseFloat($("#soitemtotaldiscdtl").val()));
        $("#soitemvat").val(parseFloat($("#soitemtotalnetto").val()) * parseFloat($("#soitemtaxamt").val()) / 100);
        $("#soitemgrandtotalamt").val(parseFloat($("#soitemtotalnetto").val()) + parseFloat($("#soitemvat").val()));
    }

    $("#proces1").click(function () {
        var psheet = $("#psheet").val();
        var lsheet = $("#lsheet").val();
        var trim = $("#trim").val();
        var tw = $("#tipewall").val();
        var fluteoid = $("#fluteoid").val();
        var s1 = $("#sub1").val();
        var s2 = $("#sub2").val();
        var s3 = $("#sub3").val();
        var s4 = $("#sub4").val();
        var s5 = $("#sub5").val();

        var hargasat = $("#soitemdtlprice").val();
        var discp = $("#soitemdtldiscvalue").val();
        $.ajax({
            url: "@(Url.Action("getmargin"))",
            data: { psheet: psheet, lsheet: lsheet, trim: trim, fluteoid: fluteoid, s1: s1, s2: s2, s3: s3, s4: s4, s5: s5, discp: discp, hargasat: hargasat, tw: tw },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 1;
            $.each(data, function (key, val) {
                $('#soitemdtlpriceinc').val(val.soitemdtlpriceinc);
                $('#soitemdtldiscmarginamt').val(val.soitemdtldiscmarginamt);  
            });
        },
        error: function (reponse) {
            alert("error Getcomponen : " + reponse);
        }
    });

    });

    function CountDtlAmount(id) {
        var table = $('#DataDtl').DataTable();
        var pricetype = $("input[name=isexcludetax]:checked").val();
        var data = table.row(id - 1).data();
        var alldata = JSON.parse(data[0]);
        var soitemqty_id = "#soitemqty-" + id;
        var soitemprice_id = "#soitemprice-" + id;
        var soitemdtldisctype_id = "#soitemdtldisctype-" + id;
        var soitemdtldiscvalue_id = "#soitemdtldiscvalue-" + id;
        var soitemqty = table.$(soitemqty_id).val();
        var soitemprice = table.$(soitemprice_id).val();
        var soitemdtlamt = soitemqty * soitemprice;
        var soitemdtldisctype = table.$(soitemdtldisctype_id).val();
        var soitemdtldiscvalue = table.$(soitemdtldiscvalue_id).val();
        var dDisc = 0;
        if (soitemdtldisctype == "P") {
            dDisc = parseFloat((soitemdtlamt * soitemdtldiscvalue) / 100);
        } else {
            dDisc = parseFloat(soitemdtldiscvalue);
        }
        var soitemdtldiscamt = dDisc;
        var soitemdtlnetto = soitemdtlamt - dDisc;

        alldata.soitemqty = soitemqty;
        alldata.soitemprice = soitemprice;
        alldata.soitemdtlamt = soitemdtlamt;
        alldata.soitemdtldisctype = soitemdtldisctype;
        alldata.soitemdtldiscvalue = soitemdtldiscvalue;
        alldata.soitemdtldiscamt = soitemdtldiscamt;
        alldata.soitemdtlnetto = soitemdtlnetto;

        var soitemdisctype = "Percentage";
        if (alldata.soitemdtldisctype == "A") {
            soitemdisctype = "Amount";
        }

        data[0] = JSON.stringify(alldata);
        data[6] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soitemqty-' + id + '" name="soitemqty-' + id + '" value="' + soitemqty + '" onchange="CountDtlAmount(' + id + ')">';
        data[9] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soitemprice-' + id + '" name="soitemprice-' + id + '" value="' + soitemprice + '" onchange="CountDtlAmount(' + id + ')">';
        data[10] = soitemdtlamt;
        data[11] = '<select class = "form-control" id="soitemdtldisctype-' + id + '" onchange="CountDtlAmount(' + id + ')"> <option value="' + alldata.soitemdtldisctype + '" selected>' + soitemdisctype + '</option>  <option value="P">Percentage</option><option value="A">Amount</option> ';
        data[12] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soitemdtldiscvalue-' + id + '" name="soitemdtldiscvalue-' + id + '" value="' + alldata.soitemdtldiscvalue + '" onchange="CountDtlAmount(' + id + ')">';
        data[13] = soitemdtldiscamt;
        data[14] = soitemdtlnetto;

        table.row(id - 1).data(data).invalidate();
        CountHdrAmount();
    }

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var bVal = false;
        if (table != null) {
            if (data.length > 0) {
                bVal = true;
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        //if ($("#soitemtaxtype").val() == "TAX") {
        //    $(".rb").attr("disabled", bVal);
        //} else {
        //    $(".rb").attr("disabled", true);
        //}
        //$(".rb_madetoorder").attr("disabled", bVal);
        $("#cmpcode").attr("readonly", bVal);
        $("#curroid").attr("readonly", bVal);
        $("#btnsearchcust").attr("disabled", bVal);
        $(':radio:not(:checked)').attr('disabled', bVal);
    }

    function EnableSOField(bVal) {
        $("#btnsearchcust").attr("disabled", bVal);
        if ($("#soitemtaxtype").val() == "TAX") {
            //$(".rb").attr("disabled", bVal);
            $("#soitemtaxtype").val("TAX");
            $("#soitemtaxamt").val("10");
        } else {
            //$(".rb").attr("disabled", true);
            $("#soitemtaxtype").val("NON TAX");
            $("#soitemtaxamt").val("0");
        }
        $("#curroid").attr("readonly", bVal);
        $("#soitempaymethod").attr("readonly", bVal);
        $("#soitemetd").attr("readonly", bVal);
        $("#soiteminvoiceval").attr("readonly", bVal);
        $("#accountoid").attr("readonly", bVal);
        $("#curroid").val(1);
        $("#soitemportship").attr("readonly", bVal);
        $("#soitemportdischarge").attr("readonly", bVal);
        if (bVal){
            $("#DataDtlContainer").hide();
            $("#lblContainer").hide();
        }else{
            $("#DataDtlContainer").show();
            $("#lblContainer").show();
        }
        //$("#ismadetoorder").val(!bVal);
        $("#custoid").val(0);
        $("#custname").val("");
        $("#sopaytypeoid").val($("#sopaytypeoid option:first").val());
        $("#soitempaytypeoid").val($("#sopaytypeoid").val());
    }

    $("#ismadetoorder_true").click(function () {
        EnableSOField(false);
        $("#soitemtype").val("LOCAL")
        $("#ismadetoorder").prop("checked", true);
        $('input[name=isexcludetax]:not(:checked)').attr('disabled', false);
    });

    $("#ismadetoorder_false").click(function () {
        EnableSOField(true);
        $("#soitemtype").val("LOCAL")
        $("#ismadetoorder").prop("checked", false);
        $('input[name=isexcludetax]:not(:checked)').attr('disabled', true);
    });

    $("#btnsearchcust").click(function () {
        var table = $('#tblModalCust').DataTable();
        var cmp = $("#cmpcode").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetCustomerData"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.custcode,
                        val.custname,
                        val.custtype,
                        val.custaddr
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnSave").click(function () {
        //$(".rb_madetoorder").attr("disabled", false)
        //$(".rb").attr("disabled", false)
        SetDataDtl();
        SetDataDtlCont();
    });

    $("#btnSaveClose").click(function () {
        $("#closing").val("true");
        $("#btnSave").click();
    });

    $("#btnDelete").click(function () {
        var oid = $("#soitemmstoid").val();
        var cmp = $("#cmpcode").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnSendForApproval").click(function () {
        $("#soitemmststatus").val("In Approval");

        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for APPROVAL?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#closing").val("true");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>