﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<section class="content-header">
    <h1>Laporan @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    <div class="box-body in-header">
                        @Html.Hidden("month_name")
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tipe</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("ddltype", null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 div_hide">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tahun</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("periodyear1", null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 div_hide1">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Bulan</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("periodmonth", null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 div_hide1">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tahun</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("periodyear", null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary btn-md" onclick="showReport('')"><b>View Report</b></button>
                        <button type="button" class="btn btn-danger btn-md" onclick="showReport('PDF')"><b>Export To Pdf</b></button>
                        <button type="button" class="btn btn-success btn-md" onclick="showReport('XLS')"><b>Export To Excel</b></button>
                        <a href="@Url.Action("LabaRugiReport/")" type="button" class="btn btn-default btn-md"><b>Clear</b></a>
                    </div>
                    <br />
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe id="ReportFrame" src="" style="border: none; width: 100%; height: 1000px;"></iframe>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $("#btnViewReport").hide();
            $(".div_hide").hide(); $(".div_hide1").show();
        });

        $("#ddltype").change(function sType() {
            var ddltype = $("#ddltype option:selected").val();
            if (ddltype == "DtlTahunan" || ddltype == "SumTahunan") {
                $(".div_hide1").hide();
                $(".div_hide").show();
            }
            else {
                $(".div_hide1").show();
                $(".div_hide").hide();
            }
        });

        function setFilterData() {
            var mst = $('form').serializeArray();
            var data = {};
            jQuery.map(mst, function (n, i) {
                if ($('.in-header').find('#' + n.name).length == 1) {
                    if (n.name == "periodmonth") data[n.name] = $("#periodmonth option:selected").val();
                    else if (n.name == "periodyear") data[n.name] = $("#periodyear option:selected").val();
                    else if (n.name == "periodyear1") data[n.name] = $("#periodyear1 option:selected").val();
                    else if (n.name == "ddltype") data[n.name] = $("#ddltype option:selected").val();
                    else if (n.name == "month_name") data[n.name] = $("#periodmonth option:selected").text();
                    else data[n.name] = n.value;
                }
            });
            var ddltype = $("#ddltype option:selected").val(); var link_url = "ViewReportLRMonth";
            if (ddltype == "DtlTahunan" || ddltype == "SumTahunan") { link_url = "ViewReportLRYear"; }
            data.view_action = link_url;
            return data;
        }

        function showReport(rpttype) {
            var link_url = "@Url.Action("ViewReportLRMonth")";
            var ddltype = $("#ddltype option:selected").val();
            if (ddltype == "DtlTahunan" || ddltype == "SumTahunan") { link_url = "@Url.Action("ViewReportLRYear")"; }
            if (!isStringNullOrEmpty(setFilterData().view_action)) link_url = link_url.replace("viewReport", setFilterData().view_action);
            $.ajax({
                url: link_url,
                data: { param: setFilterData(), rpttype },
                cache: false,
                type: "POST",
                success: function (data) {
                    $('#ReportFrame').attr("src", "@Url.Content("~/Other/ReportViewerNew.aspx")" + "?report=" + data.rpt_id + "&rptname=" + data.rptname + "&rpttype=" + rpttype + "");
                    if (rpttype == '') pleaseWaitDialog.show();
                },
                error: function (err) {
                    swal('', err.responseText, 'error');
                }
            });
        }

        $('#ReportFrame').on('load', function () {
            pleaseWaitDialog.hide();
        });
</script>
