﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<section class="content-header">
    <h1>Laporan @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    <div class="box-body in-header">
                        @Html.Hidden("month_name")
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tipe</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("tipe", null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Summary / Detail</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("sum_dtl", null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Bulan</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("periodmonth", null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tahun</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("periodyear", null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary btn-md" onclick="showReport('')"><b>View Report</b></button>
                        <button type="button" class="btn btn-danger btn-md"  onclick="showReport('PDF')"><b>Export To Pdf</b></button>
                        <button type="button" class="btn btn-success btn-md"  onclick="showReport('XLS')"><b>Export To Excel</b></button>
                        <a href="@Url.Action("NeracaReport/")" type="button" class="btn btn-default btn-md"><b>Clear</b></a>
                    </div>
                    <br />
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe id="ReportFrame" src="" style="border: none; width: 100%; height: 1000px;"></iframe>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
        $('#tipe').on('change', function () {
            $('.bulan').show();
            if (this.value == "T") $('.bulan').hide();
        })

        $(document).ready(function () {
            $('#tipe').change();
        });

        function setFilterData() {
            var mst = $('form').serializeArray();
            var data = {};
            jQuery.map(mst, function (n, i) {
                if ($('.in-header').find('#' + n.name).length == 1) {
                    if (n.name == "periodmonth") data[n.name] = $("#periodmonth option:selected").val();
                    else if (n.name == "periodyear") data[n.name] = $("#periodyear option:selected").val();
                    else if (n.name == "month_name") data[n.name] = $("#periodmonth option:selected").text();
                    else data[n.name] = n.value;
                }
            });
            data.view_action = "viewNeracaReport";
            return data;
        }

        function showReport(rpttype) {
            var url = "@Url.Action("viewNeracaReport")";
            if (!isStringNullOrEmpty(setFilterData().view_action)) url = url.replace("viewReport", setFilterData().view_action);
            $.ajax({
                url: url,
                data: { param: setFilterData(), rpttype },
                cache: false,
                type: "POST",
                success: function (data) {
                    $('#ReportFrame').attr("src", "@Url.Content("~/Other/ReportViewerNew.aspx")" + "?report=" + data.rpt_id + "&rptname=" + data.rptname + "&rpttype=" + rpttype + "");
                    if (rpttype == '') pleaseWaitDialog.show();
                },
                error: function (err) {
                    swal('', err.responseText, 'error');
                }
            });
        }

        $('#ReportFrame').on('load', function () {
            pleaseWaitDialog.hide();
        });
</script>
