﻿@model IEnumerable<RSA.Controllers.Master.InterfaceController.listinterface>

@{
    ViewBag.Title = "Interface";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Interface
    </h1>
</section><!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                @*<div class="box-body">
                    <div class="container-fluid row">
                        <a class="btn btn-success" href="Form">
                            <i class="fa fa-plus"></i> Tambah
                        </a>
                    </div><br>
                </div>*@
                <div class="box-body">
                    @Html.Hidden("DisplayCol")
                    <div class="row">                        
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Variable</th>
                                        <th>Selected COA No.</th>
                                        <th>Type</th>
                                        <th>Status</th>
                                        <th>Note</th>                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int a = 0;
                                        foreach (var i in Model)
                                        {
                                            a++;
                                            <tr>
                                                <td>
                                                    <a href="Form?id=@Html.DisplayFor(m => i.interfaceoid)" class="text-primary">@Html.DisplayFor(m => i.interfacevar)</a>
                                                </td>
                                                <td>@Html.DisplayFor(m => i.interfacevalue)</td>
                                                <td>@Html.DisplayFor(m => i.interfaceres2)</td>
                                                <td>@Html.DisplayFor(m => i.activeflag)</td>
                                                <td>@Html.DisplayFor(m => i.interfacenote)</td>    
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var isvisible = false;
        var displaycol = $('#DisplayCol').val();
        if (displaycol == "normal")
            isvisible = true;
        $('#datatable').DataTable ({
            "columnDefs": [
                {
                    //"targets": [1],
                    "visible": isvisible,
                    "searchable": isvisible
                }
            ]
        });
    });

    function PrintReport(id) {
        window.location.assign("@Url.Action("PrintReport")?id=" + id + "");
    };
</script>
