﻿@model IEnumerable<RSA.Controllers.AsetReceivedController.trnmrassetmst>

@{
    ViewBag.Title = "Penerimaan Aset";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>List @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="container-fluid row">
                        <a class="btn btn-success" href="Form">
                            <i class="fa fa-plus"></i> Create New
                        </a>
                    </div><br>
                </div>
                <div class="box-body">
                   @Html.Hidden("isCollapse")
                @Html.Partial("~/Views/Shared/_FilterList.cshtml")
                    <div class="row">
                    
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th>Draft No.</th>
                                        <th>Divisi</th>
                                        <th>MR No.</th>
                                        <th>Date</th>
                                        <th>Supplier</th>
                                        <th>PO No.</th>
                                        <th>Status</th>
                                        <th>Note</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var i in Model)
                                        {
                                            <tr>
                                                <td class="text-center"><a href="Form/@Html.DisplayFor(m => i.mrassetmstoid)" class="text-primary">@Html.DisplayFor(m => i.mrassetmstoid)</a></td>
                                                <td>@Html.DisplayFor(m => i.divgroup)</td>
                                                <td>@Html.DisplayFor(m => i.mrassetno)</td>
                                                <td class="text-center">@i.mrassetdate.ToString("MM/dd/yyyy")</td>
                                                <td>@Html.DisplayFor(m => i.suppname)</td>
                                                <td>@Html.DisplayFor(m => i.poassetno)</td>
                                                <td class="text-center">@Html.DisplayFor(m => i.mrassetmststatus)</td>
                                                <td>@Html.DisplayFor(m => i.mrassetmstnote)</td>
                                                <td class="text-center"><button title="Print" type="button" class="btn btn-sm btn-primary" onclick="PrintReport(@Html.DisplayFor(m => i.mrassetmstoid), '@Html.DisplayFor(m => i.cmpcode)')"><i class="fa fa-print"></i></button></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var isvisible = false;
        var displaycol = $('#DisplayCol').val();
        if (displaycol == "normal")
            isvisible = true;
        $('#datatable').DataTable ({
            "columnDefs": [
                {
                    "targets": [1],
                    "visible": isvisible,
                    "searchable": isvisible
                }
            ]
        });
    });

  

    function PrintReport(id, cmp) {
        window.location.assign("@Url.Action("PrintReport")?id=" + id + "&cmp="+ cmp +"");
    };
</script>