﻿@model RSA.Models.DB.QL_trnpospmst

@{
    ViewBag.Title = "PO Sparepart";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form PO Sparepart</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>PO Sparepart Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.pospmstres1)
                        @Html.HiddenFor(model => model.pospmstres2)
                        @Html.HiddenFor(model => model.pospmstres3)
                        @Html.HiddenFor(model => model.approvaluser)
                        @Html.HiddenFor(model => model.approvaldatetime)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.closereason)
                        @Html.HiddenFor(model => model.closeuser)
                        @Html.HiddenFor(model => model.closetime)
                        @Html.HiddenFor(model => model.revisereason)
                        @Html.HiddenFor(model => model.reviseuser)
                        @Html.HiddenFor(model => model.revisetime)
                        @Html.HiddenFor(model => model.rejectreason)
                        @Html.HiddenFor(model => model.rejectuser)
                        @Html.HiddenFor(model => model.rejecttime)
                        @*@Html.HiddenFor(model => model.pospmststatus_onpib)*@
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Draft No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.pospmstoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">PO Type</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("posptype", new List<SelectListItem>
                                            {
                                           new SelectListItem { Text="LOCAL", Value="LOCAL" },
                                           new SelectListItem { Text="IMPORT", Value="IMPORT" }
                                            }, new { @class = "form-control", @readonly = "" })
                                        </div>
                                        @*@Html.HiddenFor(model => model.posptype)*@
                                    </div>
                                </div>
                            </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">PO No.</label>
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.pospno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Date</label>
                                            <div class="col-md-4">
                                                @Html.EditorFor(model => model.pospdate, new { htmlAttributes = new { @class = "form-control datemask2", @type = "text", @readonly = "" } })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Supplier</label>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    @Html.Editor("suppname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                    <span class="input-group-btn">
                                                        <button type="button" id="btnsearchsupp" class="btn btn-flat" data-toggle="modal" data-target="#modal-supp" onclick="FadeModalSupp()">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                                @Html.HiddenFor(model => model.suppoid)
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Supplier Reff</label>
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.pospsuppref, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", @type = "text" } })
                                                @Html.ValidationMessageFor(model => model.pospsuppref, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Currency</label>
                                        <div class="col-md-8">
                                           @*@Html.DropDownList("curr", null, new { @class = "form-control", @maxlength = "50", @readonly = "" })*@
                                            @Html.DropDownListFor(model => model.curroid, null, new { @class = "form-control select2" })
                                        </div>
                                        @*@Html.HiddenFor(model => model.curroid)*@
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Payment Type</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("posppaytype", null, new { @class = "form -control ", @disabled = "" })
                                        </div>
                                        @Html.HiddenFor(model => model.posppaytypeoid)
                                    </div>
                                </div>
                            </div>
                            @*<div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Daily Rate to IDR</label>
                                        <div class="col-md-8">
                                            @Html.Editor("", new { @class = "form-control", @maxlength = "50" , @readonly=""})
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Daily Rate to USD</label>
                                        <div class="col-md-8">
                                            @Html.Editor("", new { @class = "form-control", @maxlength = "50", @readonly = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Monthly Rate to IDR</label>
                                        <div class="col-md-8">
                                            @Html.Editor("", new { @class = "form-control", @maxlength = "50", @readonly = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Monthly Rate to USD</label>
                                        <div class="col-md-8">
                                            @Html.Editor("", new { @class = "form-control", @maxlength = "50", @readonly = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Amt</label>
                                        <div class="col-md-8">
                                            @Html.Editor("posptotalamt", new { htmlAttributes = new { @class = "form-control numberonly", @maxlength = "16", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Disc Dtl Amt</label>
                                        <div class="col-md-8">
                                            @Html.Editor("posptotaldiscdtl", new { htmlAttributes = new { @class = "form-control numberonly", @maxlength = "16", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Netto</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.posptotalnetto, new { htmlAttributes = new { @class = "form-control numberonly", @maxlength = "16", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tax</label>
                                            <div class="col-md-3">
                                                @Html.DropDownList("potaxtype", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="TAX", Value="TAX" },
                                                new SelectListItem { Text="NON TAX", Value="NON TAX" }
                                            }, new { @class = "form-control", @disabled = "" })
                                            </div>
                                            @Html.HiddenFor(model => model.posptaxtype)
                                            <div class="col-md-5">
                                                @Html.Editor("posptaxamt", new { htmlAttributes = new { @class = "form-control numberonly", @maxlength = "16", @readonly = "", @value = "1" } })
                                            </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tax Amt</label>
                                        <div class="col-md-8">
                                            @Html.Editor("pospvat", new { htmlAttributes = new { @class = "form-control numberonly", @maxlength = "16", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @*<div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Dtl Cost</label>
                                        <div class="col-md-8">
                                            @Html.Editor("pospothercost", new { htmlAttributes = new { @class = "form-control numberonly", @maxlength = "16", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>*@
                                @Html.HiddenFor(model => model.pospothercost)
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Grand Total Amt</label>
                                        <div class="col-md-8">
                                            @Html.Editor("pospgrandtotalamt", new { htmlAttributes = new { @class = "form-control numberonly", @maxlength = "16", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.pospmstnote, new { @class = "form-control", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.pospmstnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.pospmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.pospmststatus } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Approval User</label>
                                        <div class="col-md-8">
                                            @*@Html.DropDownListFor(model => model.approvalcode, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.approvalcode, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>PO Sparepart Detail</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.Hidden("seq")
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">PR No.</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            @Html.Editor("prno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            <span class="input-group-btn">
                                                <button type="button" id="btnsearchpr" class="btn btn-flat" data-toggle="modal" data-target="#modal-pr" onclick="FadeModalPR()">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                        @Html.Hidden("prmstoid")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="pull-left">
                                <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail" onclick="FadeModalDetail()"><b>Add Material</b></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No.</th>
                                        <th></th>
                                        <th>PR No.</th>
                                        <th></th>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th>ETA</th>
                                        <th>PR Qty</th>
                                        <th>PO Qty</th>
                                        <th>Unit</th>
                                        <th>Last Price</th>
                                        <th>Price</th>
                                        <th>Amount</th>
                                        <th>Disc Type</th>
                                        <th>Disc</th>
                                        <th>Disc Amount</th>
                                        <th>Netto</th>
                                        <th>Detail Note</th>
                                        @*<th>Detail Note Internal</th>*@
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                if (Model.pospmststatus == "In Process" | Model.pospmststatus == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                    <button type="button" class="btn btn-primary btn-md" id="btnSaveClose"><b>Save & Close</b></button>
                                    if (ViewBag.action == "Update Data")
                                    {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                    }
                                    <button type="button" class="btn btn-warning btn-md" id="btnSendForApproval"><b>Send For Approval</b></button>
                                }
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                            }
                        </div>
                    </div>
                   
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">PR Sparepart Detail Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>PR Qty</th>
                                    <th>Round Qty</th>
                                    <th>Unit</th>
                                    <th>PO Qty</th>
                                    <th>Price</th>
                                    @*<th>Disc Value</th>*@
                                    <th>Detail Note</th>
                                    <th>Detail Note Internal</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@

    @* MODAL UNTUK GANTI PR *@
    <div class="modal fade" id="modal-predit">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of PR Sparepart</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalPREdit" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>PR No</th>
                                    <th>PR Date</th>
                                    <th>Expired Date</th>
                                    <th>Department</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK GANTI MATERIAL *@

    @* MODAL UNTUK GANTI MATERIAL *@
    <div class="modal fade" id="modal-mat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Sparepart Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Unit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK GANTI MATERIAL *@


    @* MODAL UNTUK SUPPLIER *@
    <div class="modal fade" id="modal-supp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Supplier</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Supplier Code</th>
                                    <th>Supplier Name</th>
                                    <th>Supplier Address</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SUPPLIER *@

    @* MODAL UNTUK PR *@
    <div class="modal fade" id="modal-pr">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of PR Sparepart</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalPR" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>PR No</th>
                                    <th>PR Date</th>
                                    <th>Expired Date</th>
                                    <th>Department</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK PR *@
</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
            CountHdrAmt();
            EnabledHeader();
        });
        table.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
            //CountDtlAmt();
            //setDataDtl();
        });
        table.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });
        tblModalDtl.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        tblModalDtl.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        var tblModalMat = $("#tblModalMat").DataTable({
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalPREdit = $("#tblModalPREdit").DataTable({
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        $('#tblModalSupp').DataTable({
            "paging": true,
            "bFilter": true,
            "ordering": true,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalSupp = $("#tblModalSupp").DataTable();

        tblModalSupp.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSupp.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#suppname").val(alldata.suppname);
            $("#suppoid").val(alldata.suppoid);
            $("#posppaytype").val(alldata.supppaymentoid);
            $("#posppaytypeoid").val(alldata.supppaymentoid);
            //$("#potaxtype").val(alldata.supptaxable);
            //$("#posptaxtype").val(alldata.supptaxable);
            $("#posptaxamt").val(alldata.supptaxamt);
            //if (alldata.supptaxable == "TAX") {
            //    $("#posptaxamt").val("10");
            //} else {
            //    $("#posptaxamt").val("0");
            //}
            //$("#potype").val(alldata.supptype);
            //$("#posptype").val(alldata.supptype);
            //$("#curr").val(alldata.suppcurroid);
            //$("#curroid").val(alldata.suppcurroid);
            $('#modal-supp').modal('hide');
        });

        $("#tblModalPR").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        var tblModalPR = $("#tblModalPR").DataTable();
        tblModalPR.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalPR.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#prno").val(alldata.prspno);
            $("#prmstoid").val(alldata.prspmstoid);
            $("#prexpdate").val(alldata.prspexpdate);
            $("#deptname").val(alldata.deptname);
            $("#prmstnote").val(alldata.prspmstnote);
            $('#modal-pr').modal('hide');

        });

        $("#cmpcode").change(function () {
            InitDDLAppUser();
            $("#prno").val("");
            $("#prmstoid").val("");
            $("#prexpdate").val("");
            $("#deptname").val("");
            $("#prmstnote").val("");
        });

        InitDDLAppUser();
        FillDetailData();
        //SetDataDtl();
        //CountHdrAmt();

    })

     function InitDDLAppUser() {
        var cmp = $("#cmpcode").val();
        var approvalcode = $("#approvalcode");
        var approvalcode_sel = $("#approvalcode option:selected").val();
        approvalcode.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLAppUser"))",
            data: { cmp: cmp },
        cache: false,
        type: "POST",
        success: function (data) {
            var markup = "";
            if (data.result == "sukses") {
                var isExist = false;
                $.each(data.tbl, function (key, val) {
                    markup += "<option value=\'" + val.approvaluser + "\'>" + val.approvaluser + "</option>";
                    if (val.approvaluser == approvalcode_sel) {
                        isExist = true;
                    }
                });
                console.log(data.tbl);
                approvalcode.html(markup).show();
                if (isExist == true) {
                    approvalcode.val(approvalcode_sel);
                }
                approvalcode.trigger('change');
            } else {
                approvalcode.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
        error: function (err) {
            console.log(err);
        }
    });
    }

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                        val.pospdtlseq,
                        '<button id="editpr" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                        val.prspno,
                        '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                        val.sparepartcode,
                        val.sparepartlongdesc,
                        val.prsparrdatereqstr,
                        val.prspqty,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="pospqty-' + val.pospdtlseq + '" name="pospqty-' + val.pospdtlseq + '" onblur="CountDtlAmt(' + val.pospdtlseq + ')"  value="' + val.pospqty + '">',
                        val.pospunit,
                        val.lastpoprice,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="pospprice-' + val.pospdtlseq + '" name="pospprice-' + val.pospdtlseq + '" onblur="CountDtlAmt(' + val.pospdtlseq + ')" value="' + val.pospprice + '" >',
                        val.pospdtlamt,
                        '<select class = "form-control" id="pospdtldisctype-' + val.pospdtlseq + '" onchange="CountDtlAmt(' + val.pospdtlseq + ')"> <option value="' + val.pospdtldisctype + '" selected>' + val.pospdtldisctype + '</option>  <option value="P">P</option><option value="A">A</option> ',
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="pospdtldiscvalue-' + val.pospdtlseq + '" name="pospdtldiscvalue-' + val.pospdtlseq + '" onblur="CountDtlAmt(' + val.pospdtlseq + ')" value="' + val.pospdtldiscvalue + '">',
                        val.pospdtldiscamt,
                        val.pospdtlnetto,
                         //'<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="pospdtlnetto-' + val.pospdtlseq + '" name="pospdtlnetto-' + val.pospdtlseq + '" value="' + val.pospdtlnetto + '" readonly="">',
                        '<input type="text" class="form-control" style="max-width: 150px" id="pospdtlnote-' + val.pospdtlseq + '" name="pospdtlnote-' + val.pospdtlseq + '" value="' + val.pospdtlnote + '">',
                        //'<input type="text" class="form-control" style="max-width: 150px" id="pospdtlnote2-' + val.pospdtlseq + '" name="pospdtlnote2-' + val.pospdtlseq + '" value="' + val.pospdtlnote2 + '">',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                EnabledHeader();
            }, 100);
        });
    }

    function CountDtlAmt(id) {
      var table = $('#DataDtl').DataTable();
      var pospprice = $("#pospprice-" + id).val();
      var pospqty = $("#pospqty-" + id).val();
      var pospdtldisctype = $("#pospdtldisctype-" + id + " option:selected").val();
      var pospdtldiscvalue = $("#pospdtldiscvalue-" + id).val();
      var pospdtldiscamt = 0.0;
      var pospdtlamt = 0.0;
      var pospdtlnetto = 0.0;
      var temp = table.row(id-1).data();
      var alldata = JSON.parse(temp[0]);
      alldata.pospprice = pospprice;
      alldata.pospqty = pospqty;
      pospdtlamt = pospprice * pospqty;
      alldata.pospdtldisctype = pospdtldisctype;
      alldata.pospdtldiscvalue = pospdtldiscvalue;
      if (pospdtldisctype == "P")
          pospdtldiscamt = (pospdtlamt * pospdtldiscvalue / 100);
      else
          pospdtldiscamt = pospdtldiscvalue;
      alldata.pospdtldiscamt = pospdtldiscamt;
      alldata.pospdtlamt = pospdtlamt;
      pospdtlnetto = pospdtlamt - pospdtldiscamt;
      alldata.pospdtlnetto = pospdtlnetto;
      temp[9] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="pospqty-' + id + '" name="pospqty-' + id + '" onblur="CountDtlAmt(' + id + ')" value="' + pospqty + '" >';
      temp[12] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="pospprice-' + id + '" name="pospprice-' + id + '" onblur="CountDtlAmt(' + id + ')" value="' + pospprice + '" >';
      temp[13] = pospdtlamt;
      temp[14] = '<select class = "form-control" id="pospdtldisctype-' + id + '" onchange="CountDtlAmt(' + id + ')"> <option value="' + pospdtldisctype + '" selected>' + pospdtldisctype + '</option>  <option value="P">P</option><option value="A">A</option> ';
      temp[15] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="pospdtldiscvalue-' + id + '" name="pospdtldiscvalue-' + id + '" onblur="CountDtlAmt(' + id + ')" value="' + pospdtldiscvalue + '" >';
        temp[16] = pospdtldiscamt;
       temp[17] = pospdtlnetto;
       temp[0] = JSON.stringify(alldata);
       table.row(id-1).data(temp).invalidate();
       SetDataDtl();
       CountHdrAmt();
    }


    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    function FadeModalDetail() {
        if (($('#suppoid').val() == 0) || ($('#suppoid').val() == '') || ($('#suppoid').val() == null)) {
            Swal(
               'Please Select Supplier First!',
               '',
               'warning'
                );
            return false
        }
        if (($('#prmstoid').val() == 0) || ($('#prmstoid').val() == '') || ($('#prmstoid').val() == null)) {
            Swal(
               'Please Select PR No First!',
               '',
               'warning'
                );
            return false
        }
        else {
            var table = $('#tblModalDtl').DataTable();
            var prmstoid = $('#prmstoid').val();
            var suppoid = $('#suppoid').val();
            var pomstoid = $("#pospmstoid").val();
            var cmp = $("#cmpcode").val();
            table.column(1).checkboxes.deselect();
            table.clear().draw();
            $.ajax({
                url: "@(Url.Action("GetDataDetails"))",
                data: { cmp: 'RSA', prmstoid: prmstoid, suppoid: suppoid, pomstoid: pomstoid },
                cache: false,
                type: "POST",
                success: function (data) {
                    var rows = [];
                    var i = 0;
                    $.each(data, function (key, val) {
                        rows.push([
                            JSON.stringify(val),
                            ++i,
                            val.sparepartcode,
                            val.sparepartlongdesc,
                            val.prspqty,
                            val.sparepartlimitqty,
                            val.pospunit,
                            '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="pospqty-' + i + '" name="pospqty-' + i + '" value="' + val.pospqty + '">',
                            '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="pospprice-' + i + '" name="pospprice-' + i + '" value="' + val.pospprice + '">',
                            //'<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="pospdtldiscvalue-' + i + '" name="pospdtldiscvalue-' + i + '" value="' + val.pospdtldiscvalue + '">',
                            '<input type="text" class="form-control" style="max-width: 150px" id="pospdtlnote-' + i + '" name="pospdtlnote-' + i + '" value="' + val.pospdtlnote + '">',
                            '<input type="text" class="form-control" style="max-width: 150px" id="pospdtlnote2-' + i + '" name="pospdtlnote2-' + i + '" value="' + val.pospdtlnote2 + '">'
                        ]);
                    });
                    setTimeout(function () {
                        table.rows.add(rows).draw();
                    }, 100);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    }
    //$("#btnAddToList").click(function () {
        
    //});

    $('#DataDtl').on('click', '#editpr', function () {
        var tbldtl = $('#DataDtl').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = tbldtl.row($tr).data();
        var alldata = JSON.parse(data[0]);
        $("#seq").val(alldata.pospdtlseq - 1);
        $('#modal-predit').modal('show');

        var table = $('#tblModalPREdit').DataTable();

        var cmp = $("#cmpcode").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetPRData"))",
            data: { cmp: cmp},
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                     JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.prspno,
                    val.prspdate,
                     val.prspexpdate,
                     val.deptname,
                     val.prspmstnote,
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    $("#tblModalPREdit").on('click', '#select', function () {
        var table = $('#tblModalPREdit').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = table.row($tr).data();
        var alldata = JSON.parse(data[0]);

        var tbldtl = $('#DataDtl').DataTable();
        var datadtl = tbldtl.row($('#seq').val()).data();
        var alldatadtl = JSON.parse(datadtl[0]);


        //$('#prmstoid').val();

        $('#modal-predit').modal('hide');
        $('#modal-mat').modal('show');
        MatEdit(alldata.prspmstoid);
    });

    function MatEdit(proid) {
        var table = $('#tblModalMat').DataTable();
        var prmstoid = proid;
        //if (($('#prmstoid').val() == 0) || ($('#prmstoid').val() == '') || ($('#prmstoid').val() == null)) {
        //    prmstoid
        //}

        //$('#prmstoid').val();
        var suppoid = $('#suppoid').val();
        var pomstoid = $("#pospmstoid").val();
        var cmp = $("#cmpcode").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmp: cmp, prmstoid: prmstoid, suppoid: suppoid, pomstoid: pomstoid },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.sparepartcode,
                    val.sparepartlongdesc,
                    val.pospunit
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    }

    $('#DataDtl').on('click', '#edit', function () {
        var tbldtl = $('#DataDtl').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = tbldtl.row($tr).data();
        var alldata = JSON.parse(data[0]);
        $("#seq").val(alldata.pospdtlseq - 1);
        $('#modal-mat').modal('show');
        MatEdit(alldata.prspmstoid);
    });

    $("#tblModalMat").on('click', '#select', function () {
        var table = $('#tblModalMat').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = table.row($tr).data();
        var alldata = JSON.parse(data[0]);

        var tbldtl = $('#DataDtl').DataTable();
        var datadtl = tbldtl.row($('#seq').val()).data();
        var alldatadtl = JSON.parse(datadtl[0]);

        if (!IsOnDtl(alldata.prspdtloid)) {
            var obj = {
                pospdtlseq: parseInt($('#seq').val()) + 1,
                prspmstoid: alldata.prspmstoid,
                prspdtloid: alldata.prspdtloid,
                prspno: alldata.prspno,
                prspdatestr: alldata.prspdatestr,
                prspdate: alldata.prspdate,
                sparepartoid: alldata.sparepartoid,
                sparepartcode: alldata.sparepartcode,
                sparepartlongdesc: alldata.sparepartlongdesc,
                sparepartlimitqty: alldata.sparepartlimitqty,
                prspqty: alldata.prspqty,
                pospqty: alldata.pospqty,
                pospunitoid: alldata.pospunitoid,
                pospunit: alldata.pospunit,
                lastpoprice: alldata.lastpoprice,
                pospprice: alldata.pospprice,
                pospdtlamt: alldata.pospdtlamt,
                pospdtldisctype: alldata.pospdtldisctype,
                pospdtldiscvalue: alldata.pospdtldiscvalue,
                pospdtldiscamt: alldata.pospdtldiscamt,
                pospdtlnetto: alldata.pospdtlnetto,
                pospdtlnote: alldata.pospdtlnote,
                //pospdtlnote2: alldata.pospdtlnote2,
                prsparrdatereqstr: alldata.prsparrdatereqstr,
                prsparrdatereq: alldata.prsparrdatereq
            };

            datadtl[0] = JSON.stringify(obj);
            datadtl[3] = alldata.prspno;
            datadtl[5] = alldata.sparepartcode;
            datadtl[6] = alldata.sparepartlongdesc;
            datadtl[7] = alldata.prsparrdatereqstr;
            datadtl[8] = alldata.prspqty;
            datadtl[10] = alldata.pospunit;

            tbldtl.row($('#seq').val()).data(datadtl).invalidate();
            $('#modal-mat').modal('hide');
            ClearDetail();
        }
        else
            Swal(
              'This ' + alldata.sparepartlongdesc + ' Already in Table',
              '',
              'warning'
               );
        return false
    });

    function AddToDetail() {
        var isValid = true;
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid)
            {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                var pospqty_id = "#pospqty-" + val;
                var pospprice_id = "#pospprice-" + val;
                //var pospdtldisctype_id = "#pospdtldisctype-" + val;
                //var pospdtldiscvalue_id = "#pospdtldiscvalue-" + val;
                var pospdtlnote_id = "#pospdtlnote-" + val;
                var pospdtlnote2_id = "#pospdtlnote2-" + val;
                var pospqty = table.$(pospqty_id).val();
                var pospprice = table.$(pospprice_id).val();
                var pospdtlamt = pospprice * pospqty;
                //var pospdtldisctype = table.$(pospdtldisctype_id).val();
                //var pospdtldiscvalue = table.$(pospdtldiscvalue_id).val();
                //var pospdtldiscamt = 0.0;
                //if (pospdtldisctype == "P")
                //    pospdtldiscamt = (pospdtlamt * pospdtldiscvalue / 100);
                //else
                //    pospdtldiscamt = pospdtldiscvalue;
                var pospdtlnetto = pospdtlamt; //- pospdtldiscamt;
                var pospdtlnote = table.$(pospdtlnote_id).val();
                //var pospdtlnote2 = table.$(pospdtlnote2_id).val();
                if (!IsOnDtl(alldata.prspdtloid)) {
                    var id = tbldtl.rows().data().length + 1;
                    var obj = {
                        pospdtlseq: id,
                        prspmstoid: alldata.prspmstoid,
                        prspdtloid: alldata.prspdtloid,
                        prspno: alldata.prspno,
                        prspdatestr: alldata.prspdatestr,
                        prspdate: alldata.prspdate,
                        sparepartoid: alldata.sparepartoid,
                        sparepartcode: alldata.sparepartcode,
                        sparepartlongdesc: alldata.sparepartlongdesc,
                        sparepartlimitqty: alldata.sparepartlimitqty,
                        prspqty: alldata.prspqty,
                        pospqty: pospqty,
                        pospunitoid: alldata.pospunitoid,
                        pospunit: alldata.pospunit,
                        lastpoprice: alldata.lastpoprice,
                        pospprice: pospprice,
                        pospdtlamt: pospdtlamt,
                        pospdtldisctype: alldata.pospdtldisctype,
                        pospdtldiscvalue: alldata.pospdtldiscvalue,
                        pospdtldiscamt: alldata.pospdtldiscamt,
                        pospdtlnetto: pospdtlnetto,
                        pospdtlnote: pospdtlnote,
                        //pospdtlnote2: pospdtlnote2,
                        prsparrdatereqstr: alldata.prsparrdatereqstr,
                        prsparrdatereq: alldata.prsparrdatereq
                    };
                    tbldtl.row.add([
                        JSON.stringify(obj),
                        id,
                        '<button id="editpr" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                        alldata.prspno,
                        '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                        alldata.sparepartcode,
                        alldata.sparepartlongdesc,
                        alldata.prsparrdatereqstr,
                        alldata.prspqty,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="pospqty-' + id + '" name="pospqty-' + id + '" onblur="CountDtlAmt(' + id + ')" value="' + pospqty + '" >',
                        alldata.pospunit,
                        alldata.lastpoprice,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="pospprice-' + id + '" name="pospprice-' + id + '" onblur="CountDtlAmt(' + id + ')" value="' + pospprice + '">',
                        pospdtlamt,
                        //'<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="pospdtlamt-' + id + '" name="pospdtlamt-' + id + '" value="' + pospdtlamt + '" readonly="">',
                        //alldata.pospdtldisctype,
                        '<select class = "form-control" id="pospdtldisctype-' + id + '" onblur="CountDtlAmt(' + id + ')"> <option value="' + alldata.pospdtldisctype + '" selected>' + alldata.pospdtldisctype + '</option>  <option value="P">P</option><option value="A">A</option> ',
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="pospdtldiscvalue-' + id + '" name="pospdtldiscvalue-' + id + '" onblur="CountDtlAmt(' + id + ')" value="' + alldata.pospdtldiscvalue + '">',
                        alldata.pospdtldiscamt,
                        pospdtlnetto,
                         //'<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="pospdtlnetto-' + id + '" name="pospdtlnetto-' + id + '" value="' + pospdtlnetto + '" readonly="">',
                        '<input type="text" class="form-control" style="max-width: 150px" id="pospdtlnote-' + id + '" name="pospdtlnote-' + id + '" value="' + pospdtlnote + '">',
                        //'<input type="text" class="form-control" style="max-width: 150px" id="pospdtlnote2-' + id + '" name="pospdtlnote2-' + id + '" value="' + pospdtlnote2 + '">',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                }
            }
        })
        SetDataDtl();
        CountHdrAmt();
        ClearDetail();
        EnabledHeader();
        //CountDtlAmt();
    }


    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        $("#cmpcode").attr("readonly", bVal);
        $("#btnsearchsupp").attr("disabled", bVal);
    }

    function ClearDetail() {
        $("#prno").val("");
        $("#prmstoid").val(0);
        $("#prexpdate").val("");
        $("#deptname").val("");
        $("#prmstnote").val("");
    }

    function IsOnDtl(prspdtloid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (prspdtloid == alldata.prspdtloid) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var pospqty_id = "#pospqty-" + (i + 1);
            var pospprice_id = "#pospprice-" + (i + 1);
            var pospdtldisctype_id = "#pospdtldisctype-" + (i + 1);
            var pospdtldiscvalue_id = "#pospdtldiscvalue-" + (i + 1);
            var pospdtlnote_id = "#pospdtlnote-" + (i + 1);
            var pospdtlnote2_id = "#pospdtlnote2-" + (i + 1);
            var pospqty = table.$(pospqty_id).val();
            var pospprice = table.$(pospprice_id).val();
            var pospdtlamt = pospprice * pospqty;
            var pospdtldisctype = table.$(pospdtldisctype_id).val();
            var pospdtldiscvalue = table.$(pospdtldiscvalue_id).val();
            var pospdtldiscamt = 0.0;
            if (pospdtldisctype == "P")
                pospdtldiscamt = (pospdtlamt * pospdtldiscvalue / 100);
            else
                pospdtldiscamt = pospdtldiscvalue;
            var pospdtlnetto = (pospdtlamt - pospdtldiscamt);
            var pospdtlnote = table.$(pospdtlnote_id).val();
            //var pospdtlnote2 = table.$(pospdtlnote2_id).val();
            var obj = {
                pospdtlseq: i + 1,
                prspmstoid: alldata.prspmstoid,
                prspdtloid: alldata.prspdtloid,
                prspno: alldata.prspno,
                prspdatestr: alldata.prspdatestr,
                prspdate: alldata.prspdate,
                sparepartoid: alldata.sparepartoid,
                sparepartcode: alldata.sparepartcode,
                sparepartlongdesc: alldata.sparepartlongdesc,
                sparepartlimitqty: alldata.sparepartlimitqty,
                prspqty: alldata.prspqty,
                pospqty: pospqty,
                pospunitoid: alldata.pospunitoid,
                pospunit: alldata.pospunit,
                lastpoprice: alldata.lastpoprice,
                pospprice: pospprice,
                pospdtlamt: pospdtlamt,
                pospdtldisctype: pospdtldisctype,
                pospdtldiscvalue: pospdtldiscvalue,
                pospdtldiscamt: pospdtldiscamt,
                pospdtlnetto: pospdtlnetto,
                pospdtlnote: pospdtlnote,
                //pospdtlnote2: pospdtlnote2,
                prsparrdatereqstr: alldata.prsparrdatereqstr,
                prsparrdatereq: alldata.prsparrdatereq

            }
            rows.push(obj);
        }
        //countHdrAmt();
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    function CountHdrAmt() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var posptotalamt = 0.0;
        var posptotaldiscdtl = 0.0;
        var posptotalnetto = 0.0;
        var pospvat = 0.0;
        var pospgrantotalamt = 0.0;
        var posptaxamt = $("#posptaxamt").val();
        var posptaxtype = $("#posptaxtype").val();
        var pospothercost = $("#pospothercost").val();


        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0]);

            if (!isNaN(parseInt(alldata.pospdtlamt)))
                posptotalamt += parseFloat(alldata.pospdtlamt);
            if (!isNaN(parseInt(alldata.pospdtldiscamt)))
                posptotaldiscdtl += parseFloat(alldata.pospdtldiscamt);
            if (!isNaN(parseInt(alldata.pospdtlnetto)))
                posptotalnetto += parseFloat(alldata.pospdtlnetto);
        }
        posptotalnetto = posptotalamt - posptotaldiscdtl
        if (posptaxtype == "TAX") {
            pospvat = ((posptotalnetto) * posptaxamt) / 100

        }
        else
        {
            pospvat = 0
        }
        pospgrandtotalamt = posptotalnetto + pospvat + pospothercost
        $("#posptotalamt").val(posptotalamt);
        $("#posptotaldiscdtl").val(posptotaldiscdtl);
        $("#posptotalnetto").val(posptotalnetto);
        $("#pospvat").val(pospvat);
        $("#pospgrandtotalamt").val(pospgrandtotalamt);
    }

    function FadeModalSupp() {
        var table = $('#tblModalSupp').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSuppData"))",
            data: {  },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        //val,
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.suppcode,
                        val.suppname,
                        val.suppaddr
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    //$("#btnsearchsupp").click(function () {

    //});

    function FadeModalPR() {
        if (($('#suppoid').val() == 0) || ($('#suppoid').val() == '')) {
            Swal(
               'Please Select Supplier First!',
               '',
               'warning'
                );
            return false
        }
        var table = $('#tblModalPR').DataTable();
        var cmp = $("#cmpcode").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetPRData"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.prspno,
                        val.prspdate,
                         val.prspexpdate,
                         val.deptname,
                         val.prspmstnote,
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
    //$("#btnsearchpr").click(function () {

    //});

    $("#btnSave").click(function () {
        //SetDataDtl();
    });

    $("#btnSaveClose").click(function () {
        $("#closing").val("true");
        $("#btnSave").click();
    });

    $("#btnDelete").click(function () {
        var oid = $("#pospmstoid").val();
        var cmp = $("#cmpcode").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnSendForApproval").click(function () {
        $("#pospmststatus").val("In Approval");

        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for APPROVAL?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#closing").val("true");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

</script>