﻿@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>
        Notifikasi
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-6" id="divnotiflistapp" style="display:none">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Transaksi Yang Menunggu Persetujuan</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <ul class="nav nav-pills nav-stacked" id="notiflistapp"></ul>
                </div>
                <div class="box-footer text-center bg-"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" id="divnotiflistsoappspk" style="display:none">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Daftar SO yang Bisa di SPK Kan</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <table id="dtnotifsoappspk" class="table table-striped" style="width: 100%;">
                        <thead>
                            <tr>
                                <th></th>
                                <th>No. SO</th>
                                <th>Tgl SO</th>
                                <th>Customer</th>
                                <th>Pembuat SO</th>
                                <th>Note</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="box-footer text-center bg-"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" id="divnotiflistsoappspksheet" style="display:none">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Daftar SO Sheet yang Bisa di SPK Kan</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <table id="dtnotifsoappspksheet" class="table table-striped" style="width: 100%;">
                        <thead>
                            <tr>
                                <th></th>
                                <th>No. SO</th>
                                <th>Tgl SO</th>
                                <th>Customer</th>
                                <th>Pembuat SO</th>
                                <th>Note</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="box-footer text-center bg-"></div>
            </div>
        </div>
    </div>

</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        GetNotifSOAppSPK();
        GetNotifSOSheetSPKApp();

    });

    function GetNotifSOAppSPK() {
        $.ajax({
            url: "@(Url.Action("GetNotifSOAppSPK"))",
            data: { },
        cache: false,
        type: "POST",
        success: function (data) {
            if (data.result == "") {
                var total = SetDataToTableNotification('#dtnotifsoappspk', null, data);
                if (total > 0)
                    $("#divnotiflistsoappspk").show();
                else
                    $("#divnotiflistsoappspk").hide();
            } else {
                $("#divnotiflistsoappspk").hide();
            }
        },
        error: function (err) {
            swal('', err.responseText, 'error');
            $("#divnotiflistsoappspk").hide();
        }
    });
    }

    function GetNotifSOSheetSPKApp() {
        $.ajax({
            url: "@(Url.Action("GetNotifSOSheetSPKApp"))",
            data: { },
        cache: false,
        type: "POST",
        success: function (data) {
            if (data.result == "") {
                var total = SetDataToTableNotification('#dtnotifsoappspksheet', null, data);
                if (total > 0)
                    $("#divnotiflistsoappspksheet").show();
                else
                    $("#divnotiflistsoappspksheet").hide();
            } else {
                $("#divnotiflistsoappspksheet").hide();
            }
        },
        error: function (err) {
            swal('', err.responseText, 'error');
            $("#divnotiflistsoappspksheet").hide();
        }
    });
    }

    function SetDataToTableNotification(tablename, colgroup, data) {
        var table = $(tablename).DataTable();
        table.destroy();
        $(tablename).empty();

        var coldate = [];
        var colnum = [];
        var cols = [];
        var colidx = 0;
        $.each(data.tblcols, function (key, val) {
            if (val.indexOf("num_") != -1) {
                colnum.push(colidx);
                val = val.replace("num_", "");
            }
            var obj = { title: val };
            cols.push(obj);
            if (val.toUpperCase().indexOf("TGL") != -1)
                coldate.push(colidx);
            colidx++;
        });

        var rows = [];
        var total = 0;
        $.each(data.tblrows, function (key, val) {
            var row = Object.values(val);
            rows.push(row);
            total++;
        });

        if (total > 0) {
            if (colgroup != null) {
                table = $(tablename).DataTable({
                    "columns": cols,
                    "data": rows,
                    "deferRender": true,
                    "bInfo": false,
                    "lengthMenu": [5, 10, 25, 50, 75, 100],
                    "columnDefs": [
                    {
                        "visible": false,
                        "targets": colgroup
                    },
                    {
                        "type": "date",
                        "targets": coldate
                    },
                    {
                        "className": "text-right",
                        "targets": colnum
                    }],
                    "drawCallback": function (settings) {
                        var api = this.api();
                        var rows = api.rows({ page: 'current' }).nodes();
                        var last = null;
                        api.column(colgroup, { page: 'current' }).data().each(function (group, i) {
                            if (last !== group) {
                                $(rows).eq(i).before(
                                    '<tr class="group"><td colspan="' + (colidx + 1) + '">' + group + '</td></tr>'
                                );
                                last = group;
                            }
                        });
                    }
                });
                $(tablename + ' tbody').on('click', 'tr.group', function () {
                    var currentOrder = table.order()[0];
                    if (currentOrder[0] === colgroup && currentOrder[1] === 'asc') {
                        table.order([colgroup, 'desc']).draw();
                    }
                    else {
                        table.order([colgroup, 'asc']).draw();
                    }
                });
            }
            else {
                table = $(tablename).DataTable({
                    "columns": cols,
                    "data": rows,
                    "deferRender": true,
                    "bInfo": false,
                    "lengthMenu": [5, 10, 25, 50, 75, 100],
                    "columnDefs": [
                    {
                        "type": "date",
                        "targets": coldate
                    },
                    {
                        "className": "text-right",
                        "targets": colnum
                    }]
                });
            }
        }
        return total;
    }
    function SetNotification(data) {
        if (data != null) {
            var listnotifapp = "";
            var totalapp = 0;

            $.each(data, function (key, val) {
                if (val.notiftype == "Approval") {
                    listnotifapp += '<li><a href="' + val.notiflink + '">' + val.notiftitle + '<span class="pull-right badge bg-' + (val.notifqty <= 5 ? "green" : (val.notifqty <= 20 ? "orange" : "red")) + '">' + val.notifqty + '</span></a></li>';
                    totalapp += val.notifqty;
                }
            });

            if (totalapp <= 0) {
                $("#divnotiflistapp").hide();
            } else {
                $("#divnotiflistapp").show();
            }
            $("#notiflistapp").html(listnotifapp);
        }
    }
</script>