﻿@model RSA.Models.DB.QL_mstsupp

@{
    ViewBag.Title = "Supplier";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Supplier</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                <div class="box-header">
                    <h3 class="box-title">Form Supplier</h3>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.suppoid)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.Hidden("action")
                        @Html.Hidden("IsApp")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action == "New Data" ? "Data Baru" : "Update Data" )</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Divisi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.divgroupoid, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kode</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.suppcode, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "30", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.suppcode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kategori</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.suppcategory, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="DISTRIBUTOR", Value="DISTRIBUTOR" },
                                                new SelectListItem { Text="PABRIK", Value="PABRIK" }
                                            }, new { @class = "form-control", @required = "" })
                                            @Html.ValidationMessageFor(model => model.suppcategory, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Nama Supplier<b style="color: red"> *</b></label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.suppname, new { @class = "form-control", @type = "text", @required = "", @maxlength = "50" })
                                            @Html.ValidationMessageFor(model => model.suppname, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Pengakuan Hutang</label>
                                        <div class="col-md-2 radio">
                                            <label class="col-md-4 control-label">@Html.RadioButtonFor(model => model.supppengakuan, "TT")<b>Tukar Tagihan</b></label>
                                        </div>
                                        <div class="col-md-2 radio">
                                            <label class="col-md-4 control-label">@Html.RadioButtonFor(model => model.supppengakuan, "PB")<b>Penerimaan Barang/Jasa</b></label>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">TOP</label>
                                        <div class="col-md-3">
                                            @*@Html.DropDownListFor(model => model.supppaymentoid, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="30", Value="30" }
                                       }, new { @class = "form-control", @required = "" })*@
                                            @Html.DropDownList("supppaymentoid", null, new { @class = "form-control", @required = "" })
                                            @Html.ValidationMessageFor(model => model.supppaymentoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Alamat</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.suppaddr, new { @class = "form-control", @maxlength = "200" })
                                            @Html.ValidationMessageFor(model => model.suppaddr, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kode Pos</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.supppostcode, new { htmlAttributes = new { @class = "form-control"} })
                                            @Html.ValidationMessageFor(model => model.supppostcode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Negara</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("suppnationoid", null, new { @class = "form-control", @id = "suppnationoid", @onchange = "nationchange()" })
                                            @Html.ValidationMessageFor(model => model.suppnationoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Provinsi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("suppprovinceoid", null, new { @class = "form-control", @id = "suppprovinceoid", @onchange = "provincechange()" })
                                            @Html.ValidationMessageFor(model => model.suppprovinceoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kota</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("suppcityOid", null, new { @class = "form-control", @id = "suppcityOid" })
                                            @Html.ValidationMessageFor(model => model.suppcityOid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Telp 1</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.suppphone1, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "20" } })
                                            @Html.ValidationMessageFor(model => model.suppphone1, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Telp 2</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.suppphone2, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "20" } })
                                            @Html.ValidationMessageFor(model => model.suppphone2, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Fax</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.suppfax1, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "20" } })
                                            @Html.ValidationMessageFor(model => model.suppfax1, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Email</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.suppemail, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                            @Html.ValidationMessageFor(model => model.suppemail, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">surat Garansi</label>
                                        <div class="col-md-2 radio">
                                            <label class="col-md-4 control-label">@Html.RadioButtonFor(model => model.suppsurgan, "Y")<b>Ada</b></label>
                                        </div>
                                        <div class="col-md-2 radio">
                                            <label class="col-md-4 control-label">@Html.RadioButtonFor(model => model.suppsurgan, "N", new { @checked = true })<b>Tidak</b></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No Garansi</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.suppgaransi, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                            @Html.ValidationMessageFor(model => model.suppgaransi, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div><br>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Pajak</label>        
                                        <div class="col-md-2 radio">
                                            <label class="col-md-4 control-label">@Html.RadioButtonFor(model => model.supptaxable, "1")<b>Ada</b></label>
                                        </div>
                                        <div class="col-md-2 radio">
                                            <label class="col-md-4 control-label">@Html.RadioButtonFor(model => model.supptaxable, "0")<b>Tidak</b></label>
                                        </div>
                                    </div>
                                </div>
                            <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No NPWP</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.suppnpwpno, new { htmlAttributes = new { @class = "form-control npwpmask", @type = "text", @maxlength = "100" } })
                                            @Html.ValidationMessageFor(model => model.suppnpwpno, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Nama NPWP</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.suppnpwp, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                            @Html.ValidationMessageFor(model => model.suppnpwp, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Alamat NPWP</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.suppnpwpaddr, new { @class = "form-control", @type = "text", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.suppnpwpaddr, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Foto KTP </label>
                                        <div class="col-md-8">
                                            <input type="file" class="form-control" onchange="previewktpimage(this);" id="suppktpimg" accept=".jpg, .png, .jpeg, .gif, .bmp " style="padding-top:5px;padding-left:5px;">
                                            @Html.HiddenFor(model => model.suppktpimg)
                                            @Html.ValidationMessageFor(model => model.suppktpimg, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Foto NPWP </label>
                                        <div class="col-md-8">
                                            <input type="file" class="form-control" onchange="previewnpwpimage(this);" id="suppnpwpimg" accept=".jpg, .png, .jpeg, .gif, .bmp " style="padding-top:5px;padding-left:5px;">
                                            @Html.HiddenFor(model => model.suppnpwpimg)
                                            @Html.ValidationMessageFor(model => model.suppnpwpimg, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @{
                                            var src1 = Html.DisplayFor(m => m.suppktpimg).ToString();
                                            if (!File.Exists(Server.MapPath(src1)))
                                            {
                                                src1 = "~/Content/dist/img/preview.png";
                                            }
                                        }
                                        <img id="suppktpimg-preview" alt="your image" src="@Url.Content(src1)" style="max-width:200px; max-height:200px;">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @{
                                            var src2 = Html.DisplayFor(m => m.suppnpwpimg).ToString();
                                            if (!File.Exists(Server.MapPath(src2)))
                                            {
                                                src2 = "~/Content/dist/img/preview.png";
                                            }
                                        }
                                        <img id="suppnpwpimg-preview" alt="your image" src="@Url.Content(src2)" style="max-width:200px; max-height:200px;">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Catatan</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.suppnote, new { @class = "form-control", @type = "text", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.suppnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.activeflag, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="Active", Value="Active" },
                                                new SelectListItem { Text="Inactive", Value="Inactive" }
                                            }, new { @class = "form-control", @required = "" })
                                            @Html.ValidationMessageFor(model => model.activeflag, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div><br>                           
                            <div class="row" style="display:none">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div class="nav-tabs-custom">
                                            <ul class="nav nav-tabs pull-left">
                                                <li class="active"><a href="#detail-kantor" data-toggle="tab"><b>Detail Kantor</b></a></li>
                                                <li><a href="#detail-pic-management" data-toggle="tab"><b>Detail PIC Management</b></a></li>
                                                <li class=""><a href="#detail-pic-produk" data-toggle="tab"><b>Detail PIC Produk</b></a></li>
                                            </ul>                                                
                                            <div class="tab-content no-padding">
                                                <div class="chart tab-pane active " id="detail-kantor" style="overflow-x: auto">
                                                    <div class="col-sm-12" style="padding-top: 12px;">
                                                        <div class="pull-right">
                                                            <span class="input-group">
                                                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-dtlkantor">
                                                                    <i class="fa fa-plus"></i>
                                                                    Tambah
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <table id="QL_mstsuppdtl1" class="table table-striped">
                                                        <thead>
                                                            <tr role="row">
                                                                <th>seq</th>
                                                                <th>Alamat</th>
                                                                <th>Kota</th>
                                                                <th>No Telp</th>
                                                                <th>Status </th>
                                                                <th>Opsi</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table><br>
                                                </div>
                                                <div class="chart tab-pane" id="detail-pic-management" style="overflow-x: auto">
                                                    <div class="col-sm-12" style="padding-top: 12px;">
                                                        <div class="pull-right">
                                                            <span class="input-group">
                                                                <button class="btn btn-success" data-toggle="modal" data-target="#modal-suppadd">
                                                                    <i class="fa fa-plus"></i>
                                                                    Tambah
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <table id="datatable2" class="table table-striped">
                                                        <thead>
                                                            <tr role="row">
                                                                <th>Nama PIC</th>
                                                                <th>No Hp 1</th>
                                                                <th>No Hp 2 </th>
                                                                <th>Email</th>
                                                                <th>Jabatan</th>
                                                                <th>Opsi</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table><br>
                                                </div>
                                                <div class="chart tab-pane" id="detail-pic-produk" style="overflow-x: auto">
                                                    <div class="col-sm-12" style="padding-top: 12px;">
                                                        <div class="pull-right">
                                                            <span class="input-group">
                                                                <button class="btn btn-success" data-toggle="modal" data-target="#modal-suppadd">
                                                                    <i class="fa fa-plus"></i>
                                                                    Tambah
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <table id="datatable3" class="table table-striped">
                                                        <thead>
                                                            <tr role="row">
                                                                <th>Nama PIC</th>
                                                                <th>No Hp 1</th>
                                                                <th>No Hp 2</th>
                                                                <th>Email</th>
                                                                <th>Jabatan</th>
                                                                <th>Produk Yg Di Handle</th>
                                                                <th>Opsi</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table><br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer">
                        <div class="pull-left">
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    @:Terakhir Diupdate Oleh @(Html.DisplayFor(m => m.upduser)) Pada @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                <a href="@Url.Action("Index")" type="button" class="btn btn-primary btn-md"><b>Kembali</b></a>
                                <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                                if (ViewBag.action == "Update Data")
                                {
                                    <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Hapus</b></button>
                                }
                            }
                            
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-dtlkantor">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Detail Kantor</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">                            
                            <div class="form-group">
                                    <label classfor="message-text" class="col-form-label">Alamat</label>
                                @Html.TextArea("suppdtl1addr", new { @class = "form-control", @type = "text"})
                                        @Html.ValidationMessage("suppdtl1addr", "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label classfor="message-text" class="col-form-label">Kota</label>                                
                                    @Html.DropDownList("suppcityOiddtl1",new List <SelectListItem>
                                            {
                                        new SelectListItem { Text="-", Value="-" },
                                                new SelectListItem { Text="Surabaya", Value="1" }
                                            }, new { @class = "form-control", @required = "" })
                                    @Html.ValidationMessage("suppcityOiddtl1", "", new { @class = "text-danger" })                               
                            </div>
                            <div class="form-group">
                                <label classfor="message-text" class="col-form-label">No Telp</label>                                
                                    @Html.Editor("suppdtl1phone", new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                    @Html.ValidationMessage("suppdtl1phone", "", new { @class = "text-danger" })                                
                            </div>
                            <div class="form-group">
                                <label classfor="message-text" class="col-form-label">Status</label>                                
                                    @Html.DropDownList("suppdtl1status", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="Active", Value="Active" },
                                                new SelectListItem { Text="Inactive", Value="Inactive" }
                                            }, new { @class = "form-control", @required = "" })
                                    @Html.ValidationMessage("suppdtl1status", "", new { @class = "text-danger" })                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary" onclick="AddToDetail1()">Add To List</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal fade" id="modal-dtlkantor">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Detail Kantor</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="form-group">
                                <label classfor="message-text" class="col-form-label">Alamat</label>
                                @Html.TextArea("suppdtl1addr", new { @class = "form-control", @type = "text" })
                                @Html.ValidationMessage("suppdtl1addr", "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label classfor="message-text" class="col-form-label">Kota</label>
                                @Html.DropDownList("suppcityOiddtl1", new List<SelectListItem>
                                            {
                                        new SelectListItem { Text="-", Value="-" },
                                                new SelectListItem { Text="Surabaya", Value="1" }
                                            }, new { @class = "form-control", @required = "" })
                                @Html.ValidationMessage("suppcityOiddtl1", "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label classfor="message-text" class="col-form-label">No Telp</label>
                                @Html.Editor("suppdtl1phone", new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                @Html.ValidationMessage("suppdtl1phone", "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label classfor="message-text" class="col-form-label">Status</label>
                                @Html.DropDownList("suppdtl1status", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="Aktif", Value="Aktif", Selected = true },
                                                new SelectListItem { Text="Tidak Aktif", Value="Inaktif"}
                                            }, new { @class = "form-control", @required = "" })
                                @Html.ValidationMessage("suppdtl1status", "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary" onclick="AddToDetail1()">Add To List</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        //fillDDLCity();
        if ($("#IsApp").val() == true) {

        }

        var kolom = [0];

        $('#QL_mstsuppdtl1').DataTable({
            //"scrollX": false,
            "scrollY": "200px",
            "destroy": true,
            //"scrollCollapse": true,
            "paging": false,
            "bFilter": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [//menghiden kolom 1 (memberoid)
            {
                "targets": kolom,
                "visible": false,
                "searchable": false
            }]

        });

        var tblsuppkntrdtl = $('#QL_mstsuppdtl1').DataTable();
        //table.destroy();

        // Edit record
        tblsuppkntrdtl.on('click', '#Update Data', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }

            var data = tblsuppkntrdtl.row($tr).data();
            //alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
            $('#i_u2').html("Edit Detail");
            $("#seq").val(data[0]);
            $('#suppdtl1addr').val(data[1]);
            $('#suppcityOiddtl1').val(data[2]).trigger('change');
            $('#suppdtl1phone').val(data[3]);
            $('#suppdtl1status').val(data[4]);
            $('#modal-dtlkantor').modal("show");
        });

        // Delete a record
        tblsuppkntrdtl.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = tblsuppkntrdtl.row($tr).data()[0];
            tblsuppkntrdtl.row($tr).remove().draw();

            var data = tblsuppkntrdtl.rows().data();
            //console.dir(data);

            //Mengurutkan nomor
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][0] >= id) {
                    var temp = tblsuppkntrdtl.row(i).data();
                    temp[0] = i + 1;
                    tblsuppkntrdtl.row(i).data(temp).invalidate();
                }
            }

            setQL_mstsuppdtl1();
            e.preventDefault();
        });
        FillDetailData();        
    })
    
    $('#suppnationoid').on('change', function () {
        fillDDLProvince();
        fillDDLCity();
    });

    function nationchange() {
        fillDDLProvince();
        fillDDLCity();
    }

    function fillDDLProvince() {
        var ddl = $("#suppprovinceoid");
        var nationoid = $("#suppnationoid").val();
        if (nationoid == null || nationoid == "" || nationoid == 0) {
            ddl.html("<option value=''> Choose Province ! </option>").show();
            setTimeout(function () {
                pleaseWaitDialog.hide();
            }, 1000)
        } else {
            ddl.html("<option value=''> Please wait...</option>").show();
            $.ajax({
                url: "@(Url.Action("GetProvince"))",
                data: { nationoid: nationoid },
                cache: false,
                type: "POST",
                success: function (data) {
                    var markup = ""//"<option value=0>Pilih Province</option>";

                    if (data.length > 0) { //IF JSON DATA NOT EMPTY
                        for (var x = 0; x < data.length; x++) {
                            markup += "<option value=\'" + data[x].Value + "\'>" + data[x].Text + "</option>";
                        }
                    } else {
                        markup += "<option value=\'\'> Province Not Found .. </option>";
                    }                    
                    ddl.html(markup).show();
                    setTimeout(function () {
                        pleaseWaitDialog.hide();
                    }, 1000)
                    fillDDLCity();
                },
                error: function (reponse) {
                    alert("error fillfillDDLProvince : " + reponse);
                    setTimeout(function () {
                        pleaseWaitDialog.hide();
                    }, 1000)
                }
            });
        }
    }

    $('#suppprovinceoid').on('change', function () {
        //alert(this.value);
        fillDDLCity();
    });

    function provincechange() {
        fillDDLCity();
    }

    function fillDDLCity() {
        pleaseWaitDialog.show();
        var ddl = $("#suppcityOid");
        var provinceoid = $("#suppprovinceoid").val();
        if (provinceoid == null || provinceoid == "" || provinceoid == 0) {
            ddl.html("<option value=''> Choose City ! </option>").show();
            setTimeout(function () {
                pleaseWaitDialog.hide();
            }, 1000)
        } else {
            ddl.html("<option value=''> Please wait...</option>").show();
            $.ajax({
                url: "@(Url.Action("GetCity"))",
                data: { provinceoid: provinceoid },
                cache: false,
                type: "POST",
                success: function (data) {
                    var markup = ""//"<option value=0>Pilih Province</option>";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=\'" + data[x].Value + "\'>" + data[x].Text + "</option>";
                    }
                    ddl.html(markup).show();
                    setTimeout(function () {
                        pleaseWaitDialog.hide();
                    }, 1000)
                },
                error: function (reponse) {
                    alert("error fillDDLCity : " + reponse);
                    setTimeout(function () {
                        pleaseWaitDialog.hide();
                    }, 1000)
                }
            });
        }
    }

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#QL_mstsuppdtl1').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<input type="text" class="form-control" id="suppdtl1addr-' + val.suppdtl1seq + '" name="suppdtl1addr-' + val.suppdtl1seq + '" value="' + val.suppdtl1addr + '">',
                    '<select class = "form-control" id ="suppcityOiddtl1-' + val.suppdtl1seq + '" value = "'+ val.suppcityoid +'"> <option value="1">Surabaya</option> </select> ',
                    '<input type="text" class="form-control" id="suppdtl1phone-' + val.suppdtl1seq + '" name="suppdtl1phone-' + val.suppdtl1seq + '" value="' + val.suppdtl1phone + '">',
                    '<select class = "form-control" id="suppdtl1status-' + val.suppdtl1seq + '" value = "' + val.suppdtl1status + '"> <option value="Active">Active</option> <option value="Inactive">Inactive</option> </select> ',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        });        
    }  


    function AddToDetail1() {
        var isValid = true;
        var table = $('#QL_mstsuppdtl1').DataTable();
        var suppdtl1addr = $('#suppdtl1addr').val();
        var suppcityoid = $('#suppcityOiddtl1 option:selected').val();
        var e = document.getElementById("suppcityOiddtl1");
        var suppcity = e.options[e.selectedIndex].text;
        var suppdtl1phone = $('#suppdtl1phone').val();
        var suppdtl1status = $('#suppdtl1status').val();

        if (suppdtl1addr.length > 0) {
            $("[data-valmsg-for=suppdtl1addr]").html("");
        } else {
            isValid = false;
            $("[data-valmsg-for=suppdtl1addr]").html("Isi Alamat");
        }

        if (suppcityoid.length > 0) {
            $("[data-valmsg-for=suppcityOiddtl1]").html("");
        } else {
            isValid = false;
            $("[data-valmsg-for=suppcityOiddtl1]").html("Pilih Kota");
        }
        if (suppdtl1phone.length > 0) {
            $("[data-valmsg-for=suppdtl1phone]").html("");
        } else {
            isValid = false;
            $("[data-valmsg-for=suppdtl1phone]").html("Isi No Telp");
        }
        if (suppdtl1status.length > 0) {
            $("[data-valmsg-for=suppdtl1status]").html("");
        } else {
            isValid = false;
            $("[data-valmsg-for=suppdtl1status]").html("Pilih Status");
        }

        if (isValid) {
                var id = table.rows().data().length + 1;//menambahkan data ke tabel
                table.row.add([
                    id,
                    '<input type="text" class="form-control" id="suppdtl1addr-' + id + '" name="suppdtl1addr-' + id + '" value="' + suppdtl1addr + '">',
                    '<select class = "form-control" id ="suppcityOiddtl1-' + id + '"> <option value="1">Surabaya</option> </select> ',
                    '<input type="text" class="form-control" id="suppdtl1phone-' + id + '" name="suppdtl1phone-' + id + '" value="' + suppdtl1phone + '">',
                    '<select class = "form-control" id="suppdtl1status-' + id + '"> <option value="Active" selected>Active</option> <option value="Inactive">Inactive</option> </select> ',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]).draw();
                clearDetailKntr();
                setQL_mstsuppdtl1();
                $('#modal-dtlkantor').modal("hide");
        }
    }

    function setQL_mstsuppdtl1() //mengirim data table ke controler
    {
        var table = $('#QL_mstsuppdtl1').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var suppaddr_id = "#suppdtl1addr-" + (i + 1);
            var suppcityoid_id = "#suppcityOiddtl1-" + (i + 1);
            var suppphone_id = "#suppdtl1phone-" + (i + 1);
            var suppstatus_id = "#suppdtl1status-" + (i + 1);
            var suppaddr = table.$(suppaddr_id).val();
            var suppcityoid = table.$(suppcityoid_id).val();
            var suppphone = table.$(suppphone_id).val();
            var suppstatus = table.$(suppstatus_id).val();
            var obj = {
                suppdtl1addr: suppaddr,
                suppcityoid: suppcityoid,
                suppdtl1phone: suppphone,
                suppdtl1status: suppstatus,
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("setQL_mstsuppdtl1"))",
            data: JSON.stringify({ mdataDtl: rows }),
        dataType: "text",
        contentType: "application/json; charset=utf-8",
        processData: false
    });
    }

    function clearDetailKntr() {//clear field data detail
        $('#i_u2').html("New Detail");
        $('#seq').val(0);
        $("select#suppcityOiddtl1")[0].selectedIndex = 0;
        $('#suppcityOiddtl1').prop("disabled", false).trigger('change');
        $("#suppdtl1addr").val("");
        $("#suppdtl1phone").val("");
        $("#suppdtl1status").val("");
    }

    function previewktpimage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#suppktpimg-preview')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    $('#suppktpimg').on('change', function (e) {
        var url = "@(Url.Action("UploadFile"))";
        var files = e.target.files;

        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: url,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {
                        console.log(data);
                        if (data.result == "Sukses") {
                            $('#suppktpimg').val(data.idimgpath);
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });

    function previewnpwpimage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#suppnpwpimg-preview')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    $('#suppnpwpimg').on('change', function (e) {
        var url = "@(Url.Action("UploadFile"))";
        var files = e.target.files;

        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: url ,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {
                        console.log(data);
                        if (data.result == "Sukses") {
                            $('#suppnpwpimg').val(data.idimgpath);
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });

    $("#btnSave").click(function () {
        setQL_mstsuppdtl1();
    });

    $("#btnDelete").click(function () {
        var oid = $("#suppoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                success: function (data) {
                    if (data.result == 'success') {
                        Swal(
                            'Deleted!',
                            'Data has been deleted!',
                            'success'
                            )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                            'Delete data failed!',
                            data.msg,
                            'warning'
                            )
                    }
                },
                error: function (error) {
                    console.dir(error)
                }
            });
        }
        })
    });
    
</script>