﻿@model IEnumerable<RSA.Controllers.Master.SupplierController.suppmst>

@{
    ViewBag.Title = "Supplier";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Supplier</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="container-fluid row">
                        <a class="btn btn-success" href="Form">
                            <i class="fa fa-plus"></i> Tambah
                        </a>
                    </div><br />                        
                    </div>
                    @*<div class="box-footer clearfix no-border">                        
                        <a href="Index" class="btn bg-red btn-md btn-flat-margin"><b>Download Ke PDF</b></a>
                        <a href="Index" class="btn bg-green btn-md btn-flat-margin"><b>Download Ke Excel</b></a>
                    </div>*@
                

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th>Kode</th>
                                        <th>Divisi</th>
                                        <th>Nama</th>
                                        <th>Alamat</th>
                                        <th>No. Telp</th>
                                        <th>Email</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int a = 0;
                                        foreach (var i in Model)
                                        {
                                            a++;
                                            <tr>
                                                <td>
                                                    <a href="Form?id=@Html.DisplayFor(m => i.suppoid)" class="text-primary">@Html.DisplayFor(m => i.suppcode)</a>
                                                </td>
                                                <td>@Html.DisplayFor(m => i.divgroup)</td>
                                                <td>@Html.DisplayFor(m => i.suppname)</td>
                                                <td>@Html.DisplayFor(m => i.suppaddr)</td>
                                                <td>@Html.DisplayFor(m => i.suppphone)</td>
                                                <td>@Html.DisplayFor(m => i.suppemail)</td>
                                                <td>@Html.DisplayFor(m => i.activeflag)</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>