﻿@model RSA.Models.DB.QL_trnmatreqmst

@{
    ViewBag.Title = "Permintaan Barang";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Permintaan Barang</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Permintaan Barang</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.matreqmstres1)
                        @Html.HiddenFor(model => model.matreqmstres2)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.closereason)
                        @Html.HiddenFor(model => model.closeuser)
                        @Html.HiddenFor(model => model.closetime)
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @*@Html.DropDownListFor(model => model.cmpcode, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.cmpcode, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Draft No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.matreqmstoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Request No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.matreqno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Request Date</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.matreqdate, new { htmlAttributes = new { @class = "form-control datemask2", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Department <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.deptoid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.deptoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Type</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("mattype", new List<SelectListItem>
                                                {
                                                    new SelectListItem { Text= "Raw", Value= "Raw" },
                                                    new SelectListItem { Text= "General", Value= "General" },
                                                    new SelectListItem { Text= "Spare Part", Value= "Spare Part" },
                                                }, new { @class = "form-control select2", @onchange = "FillDDLChange()", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Expired Date <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.matreqexpdate, new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.matreqexpdate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Request By</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.personoid, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.personoid, "", new { @class = "text-danger" })
                                    </div>
                                </div>                                
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Warehouse <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.matreqwhoid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.matreqwhoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Approval User</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.matreqmstres3, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.matreqmstres3, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>        
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.matreqmstnote, new { @class = "form-control", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.matreqmstnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.matreqmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" id="div_revisenote" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Revise Reason</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.revisereason, new { @class = "form-control", @maxlength = "100", @readonly = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" id="div_rejectnote" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Reject Reason</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.rejectreason, new { @class = "form-control", @maxlength = "100", @readonly = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        // AKHIR BAGIAN HEADER

                        // BAGIAN DETAIL
                        <div class="box-header">
                            <h3 class="box-title"><b>Permintaan Barang Detail</b></h3>
                        </div>
                        <div class="box-body">
                            @Html.Hidden("seq")
                            <div class="container-fluid">                                
                                <div class="pull-left">
                                    <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Add To List</b></button>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-md-12" style="overflow-x: auto;">
                                <table id="DataDtl" class="table table-striped" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>alldata</th>
                                            <th>No.</th>
                                            <th></th>
                                            <th>Mat Type</th>
                                            <th>Code</th>
                                            <th>Description</th>
                                            <th>Qty</th>
                                            <th>Unit</th>
                                            <th>Detail Note</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        // AKHIR BAGIAN DETAIL

                        // USER & TOMBOL ACTION
                        <div class="box-footer">
                            <div class="pull-left">
                                created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                                @{
                                    if (ViewBag.action == "Update Data")
                                    {
                                        <br />
                                        @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                                }
                            </div>
                        </div>
                        <div class="pull-right">
                            @{
                                if (Model.matreqmststatus == "In Process" | Model.matreqmststatus == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                    <button type="submit" class="btn btn-primary btn-md" id="btnSaveClose"><b>Save & Close</b></button>
                                    if (ViewBag.action == "Update Data")
                                    {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                    }
                                    <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Send For Approval</b></button>
                                }
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                            }
                        </div>
                        // AKHIR USER & TOMBOL ACTION
                       }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Material Detail Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No.</th>
                                    <th>Mat Type</th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Qty</th>
                                    <th>Unit</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@

    @* MODAL UNTUK GANTI MATERIAL *@
    <div class="modal fade" id="modal-mat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Raw Material Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Mat Type</th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Unit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK GANTI MATERIAL *@

    @* MODAL UNTUK REQUEST BY *@
    <div class="modal fade" id="modal-req">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Request By Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalReq" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>NIP</th>
                                    <th>Person Name</th>
                                    <th>Departement</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK REQUEST BY *@
</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw(); SetDataDtl(); FillDetailData();            
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            
            e.preventDefault();
            EnabledHeader();
        });
        table.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });
        tblModalDtl.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        var tblModalMat = $("#tblModalMat").DataTable({
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        $("#tblModalReq").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        var tblModalReq = $("#tblModalReq").DataTable();
        tblModalReq.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalReq.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#personoid").val(alldata.personoid);
            $("#personname").val(alldata.personname);
            //$("#personcmpcode").val(alldata.cmpcode);
            $('#modal-req').modal('hide');
        });

        FillDDLChange();        

        if ($("#action").val() == "Update Data") {
            FillDetailData();
            if ($("#matreqmststatus").val() == "Revised")
                $('#div_revisenote').show();

            if ($("#matreqmststatus").val() == "Rejected")
                $('#div_rejectnote').show();
        }
    })

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.matreqdtlseq,
                    '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                    val.matreqreftype,
                    val.matreqrefcode,
                    val.matreqreflongdesc,
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="matreqqty-' + val.matreqdtlseq + '" name="matreqqty-' + val.matreqdtlseq + '" value="' + val.matreqqty + '">',
                    val.matrequnit,
                    '<input type="text" class="form-control" style="max-width: 150px" id="matreqdtlnote-' + val.matreqdtlseq + '" name="matreqdtlnote-' + val.matreqdtlseq + '" value="' + (val.matreqdtlnote == null ? "" : val.matreqdtlnote) + '">',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                EnabledHeader();
            }, 100);
        });   
    }

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        if (data.length > 0) {
            $("#cmpcode").attr("readonly", true);
        } else {
            $("#cmpcode").attr("readonly", false);
        }
    }

    function FillDDLChange() {
        FillDDLDept(); FillDDLWH();
    }

    function FillDDLDept() {
        var cmpcode = $("#cmpcode").val();
        var deptoid = $("#deptoid");
        var deptoid_sel = $("#deptoid option:selected").val();
        deptoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLDepartment"))",
            data: { cmpcode: cmpcode },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.deptoid + "\'>" + val.deptname + "</option>";
                        if (val.deptoid == deptoid_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    deptoid.html(markup).show();
                    if (isExist == true) {
                        deptoid.val(deptoid_sel);
                    }
                    deptoid.trigger('change');
                } else {
                    deptoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function FillDDLWH() {
        var cmpcode = $("#cmpcode").val();
        var matreqwhoid = $("#matreqwhoid");
        var mattype = $("#mattype option:selected").val();
        var matreqwhoid_sel = $("#matreqwhoid option:selected").val();
        matreqwhoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLWH"))",
            data: { cmpcode: cmpcode, mattype: mattype },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.genoid + "\'>" + val.gendesc + "</option>";
                        if (val.genoid == matreqwhoid_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    matreqwhoid.html(markup).show();
                    if (isExist == true) {
                        matreqwhoid.val(matreqwhoid_sel);
                    }
                    matreqwhoid.trigger('change');
                } else {
                    matreqwhoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    $("#btnAddToList").click(function () {
        var table = $('#tblModalDtl').DataTable();
        var mattype = $('#mattype option:selected').val();
        var cmpcode = $("#cmpcode").val();
        table.column(1).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmpcode: cmpcode, mattype: mattype },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                console.log(data.tbl);
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        ++i,
                        val.matreqdtlseq,
                        mattype,
                        val.matreqrefcode,
                        val.matreqreflongdesc,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="matreqqty-' + i + '" name="matreqqty-' + i + '" value="' + val.matreqqty + '">',
                        val.matrequnit,
                        '<input type="text" class="form-control" style="max-width: 150px" id="matreqdtlnote-' + i + '" name="matreqdtlnote-' + i + '" value="' + val.matreqdtlnote + '">'
                    ]);
                });
                table.rows.add(rows).draw();
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $('#DataDtl').on('click', '#edit', function () {
        var tbldtl = $('#DataDtl').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = tbldtl.row($tr).data();
        var alldata = JSON.parse(data[0]);
        $("#seq").val(alldata.matreqdtlseq - 1);
        $('#modal-mat').modal('show');

        var table = $('#tblModalMat').DataTable();
        var mattype = $('#mattype option:selected').val();
        var cmpcode = $("#cmpcode").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmpcode: cmpcode, mattype: mattype },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        mattype,
                        val.matreqrefcode,
                        val.matreqreflongdesc,
                        val.matrequnit
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#tblModalMat").on('click', '#select', function () {
        var table = $('#tblModalMat').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = table.row($tr).data();
        var alldata = JSON.parse(data[0]);

        var mattype = $('#mattype option:selected').val();
        var tbldtl = $('#DataDtl').DataTable();
        var datadtl = tbldtl.row($('#seq').val()).data();
        var iSeq = parseInt($('#seq').val()) + 1;
        var alldatadtl = JSON.parse(datadtl[0]);
        alldata.matreqqty = 0;
        alldata.matreqdtlnote = "";

        var obj = {
            matreqdtlseq: iSeq,
            matreqreftype: mattype,
            matreqrefoid: alldata.matreqrefoid,
            matreqrefcode: alldata.matreqrefcode,
            matreqreflongdesc: alldata.matreqreflongdesc,
            matreqqty: alldata.matreqqty,
            matrequnitoid: alldata.matrequnitoid,
            matrequnit: alldata.matrequnit,
            matreqdtlnote: alldata.matreqdtlnote
        };

        datadtl[0] = JSON.stringify(obj);
        datadtl[3] = mattype;
        datadtl[4] = alldata.matreqrefcode;
        datadtl[5] = alldata.matreqreflongdesc;
        datadtl[6] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="matreqqty-' + iSeq + '" name="matreqqty-' + iSeq + '" value="' + alldata.matreqqty + '">';
        datadtl[7] = alldata.matrequnit;
        datadtl[8] = '<input type="text" class="form-control" style="max-width: 150px" id="matreqdtlnote-' + iSeq + '" name="matreqdtlnote-' + iSeq + '" value="' + alldata.matreqdtlnote + '">';;

        tbldtl.row($('#seq').val()).data(datadtl).invalidate();
        $('#modal-mat').modal('hide');
    });

    function AddToDetail() {
        var isValid = true;
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var mattype = $('#mattype option:selected').val();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid) {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                var matreqqty_id = "#matreqqty-" + val;
                var matreqdtlnote_id = "#matreqdtlnote-" + val;
                var matreqqty = table.$(matreqqty_id).val();
                var matreqdtlnote = table.$(matreqdtlnote_id).val();
                if (!IsOnDtl(alldata.matreqrefoid)) {
                    var id = tbldtl.rows().data().length + 1;
                    var obj = {
                        matreqdtlseq: id,
                        matreqreftype: mattype,
                        matreqrefoid: alldata.matreqrefoid,
                        matreqrefcode: alldata.matreqrefcode,
                        matreqreflongdesc: alldata.matreqreflongdesc,
                        matreqqty: matreqqty,
                        matrequnitoid: alldata.matrequnitoid,
                        matrequnit: alldata.matrequnit,
                        matreqdtlnote: matreqdtlnote
                    };
                    tbldtl.row.add([
                        JSON.stringify(obj),
                        id,
                        '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                        mattype,
                        alldata.matreqrefcode,
                        alldata.matreqreflongdesc,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="matreqqty-' + id + '" name="matreqqty-' + id + '" value="' + matreqqty + '">',
                        alldata.matrequnit,
                        '<input type="text" class="form-control" style="max-width: 150px" id="matreqdtlnote-' + id + '" name="matreqdtlnote-' + id + '" value="' + matreqdtlnote + '">',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                    EnabledHeader();
                }
            }
        });
        SetDataDtl();  
    }

    function IsOnDtl(matreqrefoid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (matreqrefoid == alldata.matreqrefoid) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var matreqqty = table.$("#matreqqty-" + alldata.matreqdtlseq).val();
            var matreqdtlnote = table.$("#matreqdtlnote-" + alldata.matreqdtlseq).val();
            var obj = {
                matreqdtlseq: i + 1,
                matreqreftype: alldata.matreqreftype,
                matreqrefoid: alldata.matreqrefoid,
                matreqrefcode: alldata.matreqrefcode,
                matreqreflongdesc: alldata.matreqreflongdesc,
                matreqqty: matreqqty,
                matrequnitoid: alldata.matrequnitoid,
                matrequnit: alldata.matrequnit,
                matreqdtlnote: matreqdtlnote
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    $("#btnsearchreq").click(function () {
        var table = $('#tblModalReq').DataTable();
        var cmp = $("#cmpcode").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetRequestByData"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.nip,
                        val.personname,
                        val.deptname
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnSave").click(function () {
        SetDataDtl();
    });

    $("#btnSaveClose").click(function () {
        $("#closing").val("true");
        $("#btnSave").click();
    });

    $("#btnDelete").click(function () {
        var oid = $("#matreqmstoid").val();
        var cmp = $("#cmpcode").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnPost").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for Send?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#matreqmststatus").val("In Approval");
                    $("#closing").val("true");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>