﻿@model IEnumerable<RSA.Controllers.ShipmentFinishGoodMaterialController.shipmentitemmst>

@{
    ViewBag.Title = "SJ Barang Jadi";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //var servertime = SELFIE.Controllers.ClassFunction.GetServerTime();
}

<section class="content-header">
    <h1>List Of SJ Barang Jadi</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <a class="btn btn-success" href="Form">
                        <i class="fa fa-plus"></i> Create New
                    </a>
                    @Html.Hidden("isCollapse")
                    @Html.Partial("~/Views/Shared/_FilterList.cshtml")
                </div>
                <div class="box-body">
                 
                    <div class="row">
                       
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th>Draft No.</th>
                                        <th>Divisi</th>
                                        <th>Shipment No.</th>
                                        <th>Shipment Date</th>
                                        <th>Customer</th>
                                        <th>Status</th>
                                        <th>Note</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var i in Model)
                                        {
                                            <tr>
                                                <td class="text-center"><a href="Form/@Html.DisplayFor(m => i.shipmentitemmstoid)" class="text-primary">@Html.DisplayFor(m => i.shipmentitemmstoid)</a></td>
                                                <td>@Html.DisplayFor(m => i.divgroup)</td>
                                                <td>@Html.DisplayFor(m => i.shipmentitemno)</td>
                                                <td class="text-center">@i.shipmentitemdate.ToString("MM/dd/yyyy")</td>
                                                <td>@Html.DisplayFor(m => i.custname)</td>
                                                <td class="text-center">@Html.DisplayFor(m => i.shipmentitemmststatus)</td>
                                                <td>@Html.DisplayFor(m => i.shipmentitemmstnote)</td>
                                                <td class="text-center"><button title="Print" type="button" class="btn btn-sm btn-primary" onclick="PrintReport(@Html.DisplayFor(m => i.shipmentitemmstoid), '@Html.DisplayFor(m => i.cmpcode)')"><i class="fa fa-print"></i></button></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var isvisible = false;
        var displaycol = $('#DisplayCol').val();
        if (displaycol == "normal")
            isvisible = true;
        $('#datatable').DataTable ({
            "columnDefs": [
                {
                    "targets": [1],
                    "visible": isvisible,
                    "searchable": isvisible
                }
            ]
        });
    });


    function PrintReport(id, cmp) {
        var printouttype = document.getElementById("printtype").value;
        var printtype2 = document.getElementById("printtype2").value;
        window.location.assign("@Url.Action("PrintReport")?id=" + id + "&cmp=" + cmp + "&printtype=" + printouttype + "&printtype2=" + printtype2 + "");
    };
</script>