﻿@model RSA.Models.DB.QL_trndorawmst

@{
    ViewBag.Title = "DOSheet";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form DO SHeet</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>DO Raw Material Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.dorawmstres1)
                        @Html.HiddenFor(model => model.dorawmstres2)
                        @Html.HiddenFor(model => model.dorawmstres3)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.HiddenFor(model => model.divgroupoid)
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.cmpcode, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.cmpcode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Draft No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.dorawmstoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Divisi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("ddldivgroupoid", null, new { @class = "form-control", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">DO No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.dorawno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Date</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.dorawdate, new { htmlAttributes = new { @class = "form-control datemask2", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer<label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("custname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchcust" class="btn btn-flat" data-toggle="modal" data-target="#modal-cust">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.custoid)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Currency</label>
                                        <div class="col-md-3">
                                            @Html.Editor("currcode", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = ""} })
                                        </div>
                                        @Html.HiddenFor(model => model.curroid)
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Price Type</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.RadioButtonFor(model => model.isexcludetax, true, new { @class= "rb", @checked = "checked", @required = "" })
                                                Exclude Tax
                                                @Html.RadioButtonFor(model => model.isexcludetax, false, new { @class = "rb", @required = "" })
                                                Include Tax   
                                            </div>
                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tax Type</label>
                                        <div class="col-md-3">
                                            @Html.Editor("dorawtaxtype", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.dorawtaxtype)
                                        @Html.HiddenFor(model => model.dorawtype)
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Delivery Type</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.dorawdelivtypeoid, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                      
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Req Shipment Date</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.dorawreqdate, new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                          
                                        </div>    
                                    </div>
                                </div>
                            </div> 
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Direct Cust PO No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.dorawcustpono, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Destination</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.dorawdest, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength="100" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Before Tax</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.dorawtotalamt, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total After tax</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.dorawaftertax, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>                                   
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.dorawmstnote, new { @class = "form-control", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.dorawmstnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.dorawmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.dorawmststatus } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>DO Sheet Detail</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.Hidden("seq")
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">SO No. </label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("sorawno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchso" class="btn btn-flat" data-toggle="modal" data-target="#modal-so">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        @Html.Hidden("sorawmstoid")
                                    </div>
                                </div>
                            </div>
                            <div class="pull-left">
                                <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Add To List</b></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No.</th>
                                        <th></th>
                                        <th>SO No.</th>
                                        <th>Code</th>
                                        <th>Material</th>
                                        <th>Item Note</th>
                                        <th>SO Qty</th>
                                        <th>DO Qty</th>
                                        <th>Unit</th>
                                        <th>Price</th>
                                        <th>Amount</th>
                                        <th></th>
                                        <th>Disc</th>
                                        <th>Netto</th>
                                        <th>Detail Note</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                    </div>
                    <div class="pull-right">
                        @{
                            if (Model.dorawmststatus == "In Process" | Model.dorawmststatus == "Revised")
                            {
                                <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                <button type="button" class="btn btn-primary btn-md" id="btnSaveClose"><b>Save & Close</b></button>
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                if (ViewBag.action == "Update Data")
                                {
                                    <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                }
                                <button type="button" class="btn btn-warning btn-md" id="btnSendForApproval"><b>Post</b></button>
                            }
                            else
                            {
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                            }
                        }
                    </div>
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Raw Material</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>SO Qty</th>
                                    <th>DO Qty</th>
                                    <th>Unit</th>
                                    <th>Note</th>
                                    <th>SKU No.</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@

    @* MODAL UNTUK GANTI MATERIAL *@
    <div class="modal fade" id="modal-mat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Raw Material Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>SO Qty</th>
                                    <th>Unit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK GANTI MATERIAL *@

    @* MODAL UNTUK CUSTOMER *@
    <div class="modal fade" id="modal-cust">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Customer Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCust" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Customer</th>
                                    <th>SO Currency</th>
                                    <th>SO Type</th>
                                    <th>SO Tax</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK CUSTOMER *@

    @* MODAL UNTUK CUSTOMER SHIP TO *@
    <div class="modal fade" id="modal-custshipto">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Customer Ship To</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCustShipTo" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SHIP TO *@

    @* MODAL UNTUK SO *@
    <div class="modal fade" id="modal-so">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">SO Raw Material Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSO" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>SO No.</th>
                                    <th>SO Date</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SO *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0, 6, 10, 11, 12, 13, 14],
                "visible": false,
                "searchable": false
            }]
        });
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw(); SetDataDtl(); CountAmtHdr(); FillDetailData();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
            EnabledHeader();
        });
        table.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("keypress keyup blur", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        $("#tblModalCust").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        $("#tblModalCustShipTo").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalMat = $("#tblModalMat").DataTable({
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        $("#tblModalSO").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalCust = $("#tblModalCust").DataTable();
        tblModalCust.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalCust.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#custname").val(alldata.custname);
            $("#custoid").val(alldata.custoid);
            $("#currcode").val(alldata.currcode);
            $("#curroid").val(alldata.curroid);
            $("#dorawtype").val(alldata.sorawtype);
            $("#dorawtaxtype").val(alldata.sorawtaxtype);
            if (alldata.sorawtaxtype == "NON TAX") {
                //$(".rb").attr("disabled",true);
            }else{
                //$(".rb").attr("disabled",false);
            }
            $("#customershipto").val("");
            $("#custdtloid").val("");
            $("#divgroupoid").val($('#ddldivgroupoid option:Selected').val());
            EnableddivgroupHeader();
            $('#modal-cust').modal('hide');
        });

        var tblModalCustShipTo = $("#tblModalCustShipTo").DataTable();
        tblModalCustShipTo.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalCustShipTo.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#customershipto").val(alldata.custdtlname);
            $("#custdtloid").val(alldata.custdtloid);
            $('#modal-custshipto').modal('hide');
        });

        var tblModalSO = $("#tblModalSO").DataTable();
        tblModalSO.on('click', '#selectso', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSO.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#sorawmstoid").val(alldata.sorawmstoid);
            $("#sorawno").val(alldata.sorawno);
            $('#modal-so').modal('hide');
        });
        FillDetailData();
    })
    function EnableddivgroupHeader() {
        $("#ddldivgroupoid").prop("disabled", true);
    }
    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                var dorawdtldisctype = "Percentage";
                if (val.dorawdtldisctype == "A") {
                    dorawdtldisctype = "Amount";
                }
                rows.push([
                    JSON.stringify(val),
                    val.dorawdtlseq,
                    '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                    val.sorawno,
                    val.matrawcode,
                    val.matrawlongdesc,
                    val.matrawnote,
                    val.sorawqty,
                    '<input type="text" class="form-control numberonly" style="max-width: 80px" id="dorawqty-' + val.dorawdtlseq + '" name="dorawqty-' + val.dorawdtlseq + '" value="' + val.dorawqty + '" onchange="CountDtlAmount(' + val.dorawdtlseq + ')">',
                    val.dorawunit,
                    '<input type="text" class="form-control numberonly" style="max-width: 80px" id="dorawprice-' + val.dorawdtlseq + '" name="dorawprice-' + val.dorawdtlseq + '" value="' + val.dorawprice + '" onchange="CountDtlAmount(' + val.dorawdtlseq + ')">',
                    val.dorawdtlamt,
                    '<select class = "form-control" id="dorawdtldisctype-' + val.dorawdtlseq + '" onchange="CountDtlAmount(' + val.dorawdtlseq + ')"> <option value="' + val.dorawdtldisctype + '" selected>' + dorawdtldisctype + '</option>  <option value="P">Percentage</option><option value="A">Amount</option> ',
                    '<input type="text" class="form-control numberonly" style="max-width: 80px" id="dorawdtldiscvalue-' + val.dorawdtlseq + '" name="dorawdtldiscvalue-' + val.dorawdtlseq + '" value="' + val.dorawdtldiscvalue + '" onchange="CountDtlAmount(' + val.dorawdtlseq + ')">',
                     val.dorawdtlnetto,
                    '<input type="text" class="form-control" style="max-width: 150px" id="dorawdtlnote-' + val.dorawdtlseq + '" name="dorawdtlnote-' + val.dorawdtlseq + '" value="' + val.dorawdtlnote + '">',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                CountAmtHdr();
                EnabledHeader();
            }, 100);
        });
    }

    function FillDDLDept() {
        var cmpcode = $("#cmpcode option:selected").val();
        var deptoid = $("#deptoid");
        var deptoid_sel = $("#deptoid option:selected").val();
        deptoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLDepartment"))",
            data: { cmpcode: cmpcode },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.deptoid + "\'>" + val.deptname + "</option>";
                        if (val.deptoid == deptoid_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    deptoid.html(markup).show();
                    if (isExist == true) {
                        deptoid.val(deptoid_sel);
                    }
                    deptoid.trigger('change');
                } else {
                    deptoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    $("#btnsearchso").click(function () {
        if ($("#custname").val() == "") {
            Swal({
                title: 'WARNING!',
                text: 'Please select CUSTOMER field!',
                type: 'warning'
            })
            return false
        }
        var table = $('#tblModalSO').DataTable();
        var cmp = $("#cmpcode").val();
        var custoid = $("#custoid").val();
        var curroid = $("#curroid").val();
        var dorawtype = $("#dorawtype").val();
        var dorawtaxtype = $("#dorawtaxtype").val();
        var divgroupoid = $('#divgroupoid').val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSOData"))",
            data: { cmp: cmp, custoid: custoid, curroid: curroid, dorawtype: dorawtype, dorawtaxtype: dorawtaxtype, divgroupoid: divgroupoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="selectso" type="button" class="btn btn-link text-primary">Select</button>',
                        val.sorawno,
                        moment(jsDate(val.sorawdate)).format('MM/DD/YYYY'),
                        val.sorawmstnote
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $('#DataDtl').on('click', '#edit', function () {
        var tbldtl = $('#DataDtl').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = tbldtl.row($tr).data();
        var alldata = JSON.parse(data[0]);
        $("#seq").val(alldata.dorawdtlseq - 1);
        var cmp = $("#cmpcode option:selected").val();
        var oid = alldata.sorawmstoid;
        var doid = $("#dorawmstoid").val();
        var intax = $("input[name=isexcludetax]:checked").val();

        $('#modal-mat').modal('show');
        var table = $('#tblModalMat').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmp: cmp, oid: oid, intax: intax, doid: doid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.matrawcode,
                        val.matrawlongdesc,
                        val.sorawqty,
                        val.dorawunit,
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#tblModalMat").on('click', '#select', function () {
        if ($("#custname").val() == "") {
            Swal({
                title: 'WARNING!',
                text: 'Please select CUSTOMER field!',
                type: 'warning'
            })
            return false
        }
        var table = $('#tblModalMat').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = table.row($tr).data();
        var alldata = JSON.parse(data[0]);

        var tbldtl = $('#DataDtl').DataTable();
        var datadtl = tbldtl.row($('#seq').val()).data();
        var alldatadtl = JSON.parse(datadtl[0]);

        var iSeq = parseInt($('#seq').val()) + 1;
        var dorawdtldisctype = "Percentage";
        if (alldata.dorawdtldisctype == "A") {
            dorawdtldisctype = "Amount";
        }
        alldata.dorawdtlamt = (alldata.dorawqty * alldata.dorawprice);
        alldata.dorawdtldiscamt = 0.0;
        if (alldata.dorawdtldiscvalue > 0) {
            alldata.dorawdtldiscamt = alldata.dorawdtldiscvalue;
            if (alldata.dorawdtldisctype == "P") {
                alldata.dorawdtldiscamt = alldata.dorawdtlamt * (alldata.dorawdtldiscvalue / 100);
            }
        }
        alldata.dorawdtlnetto = (alldata.dorawdtlamt - alldata.dorawdtldiscamt);

        var obj = {
            dorawdtlseq: iSeq,
            sorawmstoid: alldata.sorawmstoid,
            sorawdtloid: alldata.sorawdtloid,
            matrawoid: alldata.matrawoid,
            matrawcode: alldata.matrawcode,
            matrawlongdesc: alldata.matrawlongdesc,
            matrawnote: alldata.matrawnote,
            sorawqty: alldata.sorawqty,
            dorawqty: alldata.dorawqty,
            dorawunitoid: alldata.dorawunitoid,
            dorawunit: alldata.dorawunit,
            dorawprice: alldata.dorawprice,
            dorawdtlamt: alldata.dorawdtlamt,
            dorawdtldisctype: alldata.dorawdtldisctype,
            dorawdtldiscvalue: alldata.dorawdtldiscvalue,
            dorawdtldiscamt: alldata.dorawdtldiscamt,
            dorawdtlnetto: alldata.dorawdtlnetto,
            dorawdtlnote: alldata.dorawdtlnote,
            precostcurr: alldata.precostcurr,
            precostprice: alldata.precostprice,
            precostupduser: alldata.precostupduser,
            precostupdtime: alldata.precostupdtime,
            dorawextcode: alldata.dorawextcode,
            dorawextname: alldata.dorawextname,
            dorawwoodvol: alldata.dorawwoodvol
        };

        datadtl[0] = JSON.stringify(obj);
        datadtl[4] = alldata.matrawcode;
        datadtl[5] = alldata.matrawlongdesc;
        datadtl[6] = alldata.matrawnote;
        datadtl[7] = alldata.sorawqty;
        datadtl[8] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="dorawqty-' + iSeq + '" name="dorawqty-' + iSeq + '" value="' + alldata.dorawqty + '" onchange="CountDtlAmount(' + iSeq + ')">';
        datadtl[9] = alldata.dorawunit;
        datadtl[10] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="dorawprice-' + iSeq + '" name="dorawprice-' + iSeq + '" value="' + alldata.dorawprice + '" onchange="CountDtlAmount(' + iSeq + ')">';
        datadtl[11] = alldata.dorawdtlamt;
        datadtl[12] = '<select class = "form-control" id="dorawdtldisctype-' + iSeq + '" onchange="CountDtlAmount(' + iSeq + ')"> <option value="' + alldata.dorawdtldisctype + '" selected>' + dorawdtldisctype + '</option>  <option value="P">Percentage</option><option value="A">Amount</option> ';
        datadtl[13] = '<input type="text" class="form-control numberonly" style="max-width: 80px" id="dorawdtldiscvalue-' + iSeq + '" name="dorawdtldiscvalue-' + iSeq + '" value="' + alldata.dorawdtldiscvalue + '" onchange="CountDtlAmount(' + iSeq + ')">';
        datadtl[14] = alldata.dorawdtlnetto;
        datadtl[15] = '<input type="text" class="form-control" style="max-width: 150px" id="dorawdtlnote-' + iSeq + '" name="dorawdtlnote-' + iSeq + '" value="' + alldata.dorawdtlnote + '">';

        tbldtl.row($('#seq').val()).data(datadtl).invalidate();
        CountAmtHdr();
        $('#modal-mat').modal('hide');
    });

    $("#btnAddToList").click(function () {
        var table = $('#tblModalDtl').DataTable();
        var cmp = $("#cmpcode option:selected").val();
        var oid = $("#sorawmstoid").val();
        var doid = $("#dorawmstoid").val();
        var intax = $("input[name=isexcludetax]:checked").val();
        table.column(1).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmp: cmp, oid: oid, intax: intax, doid: doid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        ++i,
                        val.matrawcode,
                        val.matrawlongdesc,
                        val.sorawqty,
                        '<input type="text" class="form-control numberonly" style="max-width: 80px" id="dorawqty-' + i + '" name="dorawqty-' + i + '" value="' + val.dorawqty + '">',
                        val.dorawunit,
                        '<input type="text" class="form-control" style="max-width: 150px" id="dorawdtlnote-' + i + '" name="dorawdtlnote-' + i + '" value="' + val.dorawdtlnote + '">',
                        val.matrawnote
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    })

    function AddToDetail() {
        var isValid = true;
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        var sorawno = $('#sorawno').val();
        var intax = $("input[name=isexcludetax]:checked").val();
        $.each(rowsel, function (key, val) {
            if (isValid)
            {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                var dorawqty_id = "#dorawqty-" + val;
                var dorawprice_id = "#dorawprice-" + val;
                var dorawdtlnote_id = "#dorawdtlnote-" + val;
                var dorawqty = table.$(dorawqty_id).val();
                var dorawprice = parseFloat(table.$(dorawprice_id).val());
                var dorawdtlamt = (dorawqty * dorawprice);
                var dorawdtldiscamt = 0.0;
                var dorawdtldisctype = "Percentage";
                if (alldata.dorawdtldisctype == "A") {
                    dorawdtldisctype = "Amount";
                }
                if (alldata.dorawdtldiscvalue > 0) {
                    dorawdtldiscamt = alldata.dorawdtldiscvalue;
                    if (alldata.dorawdtldisctype == "P") {
                        dorawdtldiscamt = dorawdtlamt * (alldata.dorawdtldiscvalue / 100);
                    }
                }
                var dorawdtlnetto = (dorawdtlamt - dorawdtldiscamt);
                var dorawdtlnote = table.$(dorawdtlnote_id).val();

                if (!IsOnDtl(alldata.sorawdtloid)) {
                    var id = tbldtl.rows().data().length + 1;
                    var obj = {
                        dorawdtlseq: id,
                        sorawmstoid: alldata.sorawmstoid,
                        sorawdtloid: alldata.sorawdtloid,
                        matrawoid: alldata.matrawoid,
                        matrawcode: alldata.matrawcode,
                        matrawlongdesc: alldata.matrawlongdesc,
                        matrawnote: alldata.matrawnote,
                        sorawqty: alldata.sorawqty,
                        dorawqty: dorawqty,
                        dorawunitoid: alldata.dorawunitoid,
                        dorawunit: alldata.dorawunit,
                        dorawprice: dorawprice,
                        dorawdtlamt: dorawdtlamt,
                        dorawdtldisctype: alldata.dorawdtldisctype,
                        dorawdtldiscvalue: alldata.dorawdtldiscvalue,
                        dorawdtldiscamt: dorawdtldiscamt,
                        dorawdtlnetto: dorawdtlnetto,
                        dorawdtlnote: dorawdtlnote,
                        precostcurr: alldata.precostcurr,
                        precostprice: alldata.precostprice,
                        precostupduser: alldata.precostupduser,
                        precostupdtime: alldata.precostupdtime,
                        dorawextcode: alldata.dorawextcode,
                        dorawextname: alldata.dorawextname,
                        dorawwoodvol: alldata.dorawwoodvol
                    };
                    tbldtl.row.add([
                        JSON.stringify(obj),
                        id,
                        '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                        alldata.sorawno,
                        alldata.matrawcode,
                        alldata.matrawlongdesc,
                        alldata.matrawnote,
                        alldata.sorawqty,
                        '<input type="text" class="form-control numberonly" style="max-width: 80px" id="dorawqty-' + id + '" name="dorawqty-' + id + '" value="' + dorawqty + '" onchange="CountDtlAmount(' + id + ')">',
                        alldata.dorawunit,
                         '<input type="text" class="form-control numberonly" style="max-width: 80px" id="dorawprice-' + id + '" name="dorawprice-' + id + '" value="' + dorawprice + '" onchange="CountDtlAmount(' + id + ')">',
                        dorawdtlamt,
                        '<select class = "form-control" id="dorawdtldisctype-' + id + '" onchange="CountDtlAmount(' + id + ')"> <option value="' + alldata.dorawdtldisctype + '" selected>' + dorawdtldisctype + '</option>  <option value="P">Percentage</option><option value="A">Amount</option> ',
                         '<input type="text" class="form-control numberonly" style="max-width: 80px" id="dorawdtldiscvalue-' + id + '" name="dorawdtldiscvalue-' + id + '" value="' + alldata.dorawdtldiscvalue + '" onchange="CountDtlAmount(' + id + ')">',
                         dorawdtlnetto,
                        '<input type="text" class="form-control" style="max-width: 150px" id="dorawdtlnote-' + id + '" name="dorawdtlnote-' + id + '" value="' + dorawdtlnote + '">',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                    $("#sorawno").val("");
                    $("#sorawmstoid").val("");
                }
            }
        })
        SetDataDtl();
        CountAmtHdr();
        EnabledHeader();
    }

    function CountAmtHdr() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var taxtype = $('#dorawtaxtype').val();
        var intax = $("input[name=isexcludetax]:checked").val();
        var amtBeforeTax = 0.0;
        var amtAfterTax = 0.0;
        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            amtBeforeTax += alldata.dorawdtlnetto;
        }
        if (taxtype == "TAX") {
            if (intax == "False") {
                amtAfterTax = amtBeforeTax;
                amtBeforeTax = (amtBeforeTax / 1.1);
            } else {
                amtAfterTax = amtBeforeTax + (amtBeforeTax * 0.1);
            }

        } else {
            amtAfterTax = amtBeforeTax;
        }
        $('#dorawtotalamt').val(amtBeforeTax);
        $('#dorawaftertax').val(amtAfterTax);
    }

    function CountDtlAmount(id) {
        var table = $('#DataDtl').DataTable();
        var pricetype = $("input[name=isexcludetax]:checked").val();
        var data = table.row(id - 1).data();
        var alldata = JSON.parse(data[0]);
        var dorawqty_id = "#dorawqty-" + id;
        var dorawprice_id = "#dorawprice-" + id;
        var dorawdtldisctype_id = "#dorawdtldisctype-" + id;
        var dorawdtldiscvalue_id = "#dorawdtldiscvalue-" + id;
        var dorawqty = table.$(dorawqty_id).val();
        var dorawprice = table.$(dorawprice_id).val();
        var dorawdtlamt = dorawqty * dorawprice;
        var dorawdtldisctype = table.$(dorawdtldisctype_id).val();
        var dorawdtldiscvalue = table.$(dorawdtldiscvalue_id).val();
        var dDisc = 0;
        if (dorawdtldisctype == "P") {
            dDisc = parseFloat((dorawdtlamt * dorawdtldiscvalue) / 100);
        } else {
            dDisc = parseFloat(dorawdtldiscvalue);
        }
        var dorawdtldiscamt = dDisc;
        var dorawdtlnetto = dorawdtlamt - dDisc;

        alldata.dorawqty = dorawqty;
        alldata.dorawprice = dorawprice;
        alldata.dorawdtlamt = dorawdtlamt;
        alldata.dorawdtldisctype = dorawdtldisctype;
        alldata.dorawdtldiscvalue = dorawdtldiscvalue;
        alldata.dorawdtldiscamt = dorawdtldiscamt;
        alldata.dorawdtlnetto = dorawdtlnetto;

        var dorawdisctype = "Percentage";
        if (alldata.dorawdtldisctype == "A") {
            dorawdisctype = "Amount";
        }

        data[0] = JSON.stringify(alldata);
        data[4] = alldata.matrawcode;
        data[5] = alldata.matrawlongdesc;
        data[6] = alldata.matrawnote;
        data[7] = alldata.sorawqty;
        data[8] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="dorawqty-' + id + '" name="dorawqty-' + id + '" value="' + alldata.dorawqty + '" onchange="CountDtlAmount(' + id + ')">';
        data[9] = alldata.dorawunit;
        data[10] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="dorawprice-' + id + '" name="dorawprice-' + id + '" value="' + alldata.dorawprice + '" onchange="CountDtlAmount(' + id + ')">';
        data[11] = alldata.dorawdtlamt;
        data[12] = '<select class = "form-control" id="dorawdtldisctype-' + id + '" onchange="CountDtlAmount(' + id + ')"> <option value="' + alldata.dorawdtldisctype + '" selected>' + dorawdisctype + '</option>  <option value="P">Percentage</option><option value="A">Amount</option> ';
        data[13] = '<input type="text" class="form-control numberonly" style="max-width: 80px" id="dorawdtldiscvalue-' + id + '" name="dorawdtldiscvalue-' + id + '" value="' + alldata.dorawdtldiscvalue + '" onchange="CountDtlAmount(' + id + ')">';
        data[14] = alldata.dorawdtlnetto;
        data[15] = '<input type="text" class="form-control" style="max-width: 150px" id="dorawdtlnote-' + id + '" name="dorawdtlnote-' + id + '" value="' + alldata.dorawdtlnote + '">';

        table.row(id - 1).data(data).invalidate();
        CountAmtHdr();
    }

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        $("#dorawdate").datepicker("option", "dateFormat", "dd-dd-yyyy");
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
                $('#dorawdate').replaceWith($('#dorawdate').clone());
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        $("#cmpcode").attr("readonly", bVal);
        $("#btnsearchcust").attr("disabled", bVal);
        $("#btnsearchcustshipto").attr("disabled", bVal);
        $(':radio:not(:checked)').attr('disabled', bVal);
    }

    function IsOnDtl(sorawdtloid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (sorawdtloid == alldata.sorawdtloid) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var intax = $("input[name=isexcludetax]:checked").val();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var dorawqty_id = "#dorawqty-" + alldata.dorawdtlseq;
            var dorawprice_id = "#dorawprice-" + alldata.dorawdtlseq;
            var dorawdtldisctype_id = "#dorawdtldisctype-" + alldata.dorawdtlseq;
            var dorawdtldiscvalue_id = "#dorawdtldiscvalue-" + alldata.dorawdtlseq;
            var dorawdtlnote_id = "#dorawdtlnote-" + alldata.dorawdtlseq;

            var dorawqty = table.$(dorawqty_id).val();
            var dorawprice = parseFloat(table.$(dorawprice_id).val());
            var dorawdtlamt = (dorawqty * dorawprice);
            var dorawdtldisctype = table.$(dorawdtldisctype_id).val();
            var dorawdtldiscvalue = table.$(dorawdtldiscvalue_id).val();
            var dorawdtldiscamt = 0.0;
            if (table.$(dorawdtldiscvalue_id).val() > 0) {
                dorawdtldiscamt = dorawdtldiscvalue;
                if (dorawdtldisctype == "P") {
                    dorawdtldiscamt = (dorawdtlamt / 100);
                }
            }
            var discdesc = "Amount";
            if (dorawdtldisctype == "P") {
                discdesc = "Persentage";
            }
            var dorawdtlnetto = (dorawdtlamt - dorawdtldiscamt);
            var dorawdtlnote = table.$(dorawdtlnote_id).val();

            var obj = {
                dorawdtlseq: i + 1,
                sorawmstoid: alldata.sorawmstoid,
                sorawdtloid: alldata.sorawdtloid,
                sorawno: alldata.sorawno,
                matrawoid: alldata.matrawoid,
                matrawcode: alldata.matrawcode,
                matrawlongdesc: alldata.matrawlongdesc,
                matrawnote: alldata.matrawnote,
                sorawqty: alldata.sorawqty,
                dorawqty: dorawqty,
                dorawunitoid: alldata.dorawunitoid,
                dorawunit: alldata.dorawunit,
                dorawprice: dorawprice,
                dorawdtlamt: dorawdtlamt,
                dorawdtldisctype: dorawdtldisctype,
                dorawdtldiscvalue: dorawdtldiscvalue,
                dorawdtldiscamt: dorawdtldiscamt,
                dorawdtlnetto: dorawdtlnetto,
                dorawdtlnote: dorawdtlnote,
                precostcurr: alldata.precostcurr,
                precostprice: alldata.precostprice,
                precostupduser: alldata.precostupduser,
                precostupdtime: alldata.precostupdtime,
                dorawextcode: alldata.dorawextcode,
                dorawextname: alldata.dorawextname,
                dorawwoodvol: alldata.dorawwoodvol
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    $("#btnsearchcust").click(function () {
        var table = $('#tblModalCust').DataTable();
        var cmp = $("#cmpcode option:selected").val();
        var divgroupoid = $('#ddldivgroupoid option:selected').val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetCustomerData"))",
            data: { cmp: cmp, divgroupoid: divgroupoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.custcode,
                        val.custname,
                        val.currcode,
                        val.sorawtype,
                        val.sorawtaxtype
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnsearchcustshipto").click(function () {
        if ($("#custname").val() == "") {
            Swal({
                title: 'WARNING!',
                text: 'Please select CUSTOMER field!',
                type: 'warning'
            })
            return false
        }
        var table = $('#tblModalCustShipTo').DataTable();
        var custoid = $("#custoid").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetShipTo"))",
            data: { custoid: custoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.custdtlcode,
                        val.custdtlname,
                        val.custdtladdr,
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnSave").click(function () {
        $(".rb").attr("disabled", false)
        SetDataDtl();
    });

    $("#btnSaveClose").click(function () {
        $("#closing").val("true");
        $("#btnSave").click();
    });

    $("#btnDelete").click(function () {
        var oid = $("#dorawmstoid").val();
        var cmp = $("#cmpcode option:selected").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnSendForApproval").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to POST this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, POST this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#dorawmststatus").val("Post");
                    $("#closing").val("true");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>