﻿@model RSA.Models.DB.QL_mstcust

@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Customer</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.custoid)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Divisi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.divgroupoid, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Code</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.custcode, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly=""} })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Exclude tax</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.isexcludetaxcust, new List<SelectListItem>
                                            {
                                           new SelectListItem { Text="YA", Value="YA" },
                                           new SelectListItem { Text="TIDAK", Value="TIDAK" }
                                            }, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">SO Type</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.custtype, new List<SelectListItem>
                                            {
                                           new SelectListItem { Text="LOCAL", Value="LOCAL" },
                                           new SelectListItem { Text="IMPORT", Value="IMPORT" }
                                            }, new { @class = "form-control" })
                                        </div>
                                        @Html.HiddenFor(model => model.custtype)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Sektor Industri</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.custres1, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Name<label class="text-red">*</label></label>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(model => model.custprefixoid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.custprefixoid, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.custname, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Default TOP<label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.custpaymentoid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.custpaymentoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Taxable</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.custtaxable, new List<SelectListItem>
                                            {
                                           new SelectListItem { Text="Yes", Value="1" },
                                           new SelectListItem { Text="No", Value="0" }
                                            }, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">NPWP</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.custnpwp, new { htmlAttributes = new { @class = "form-control npwpmask", @maxlength = "30" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Address<label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.custaddr, new { @class = "form-control", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.custaddr, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Country<label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("custcountry", null, new { @class = "form-control select2", @required = "", @onchange = "nationchange()" })
                                            @Html.ValidationMessage("custcountry", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Province<label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("custprovince", null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessage("custprovince", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">City<label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.custcityoid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.custcityoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Pemilik</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.pemilik, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Toleransi Kirm</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.toleransikirim, new { htmlAttributes = new { @class = "form-control numberonly", @maxlength = "10" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Pengakuan Piutang</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.pengakuanp, new List<SelectListItem>
                                            {
                                           new SelectListItem { Text="INVOICE", Value="INVOICE" },
                                           new SelectListItem { Text="SURAT JALAN", Value="SJ" }
                                            }, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Sales</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.salesoid, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Phone 1</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.custphone1, new { htmlAttributes = new { @class = "form-control", @maxlength = "20", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Fax 1</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.custfax1, new { htmlAttributes = new { @class = "form-control", @maxlength = "20", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Phone 2</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.custphone2, new { htmlAttributes = new { @class = "form-control", @maxlength = "20", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Fax 2</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.custfax2, new { htmlAttributes = new { @class = "form-control", @maxlength = "20", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Phone 3</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.custphone3, new { htmlAttributes = new { @class = "form-control", @maxlength = "20", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Credit Limit <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.custcreditlimit, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Email</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.custemail, new { htmlAttributes = new { @class = "form-control", @maxlength = "100", @type = "email" } }) 
                                            @Html.ValidationMessageFor(model => model.custemail, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Website</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.custwebsite, new { htmlAttributes = new { @class = "form-control", @maxlength = "100", @type = "text" } }) 
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Contact Person 1</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.custcp1name, new { htmlAttributes = new { @class = "form-control", @maxlength = "20", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Contact Person 2</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.custcp2name, new { htmlAttributes = new { @class = "form-control", @maxlength = "20", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">CP Phone 1</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.custcp1phone, new { htmlAttributes = new { @class = "form-control", @maxlength = "20", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">CP Phone 2</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.custcp2phone, new { htmlAttributes = new { @class = "form-control", @maxlength = "20", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">CP1 Email</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.custcp1email, new { htmlAttributes = new { @class = "form-control", @maxlength = "100", @type = "email" } }) 
                                            @Html.ValidationMessageFor(model => model.custcp1email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">CP2 Email</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.custcp2email, new { htmlAttributes = new { @class = "form-control", @maxlength = "100", @type = "email" } }) 
                                            @Html.ValidationMessageFor(model => model.custcp2email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Amort Die Cut</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.amortdiecut, new { htmlAttributes = new { @class = "form-control numberonly", @maxlength = "100" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Amort Dies</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.amortdies, new { htmlAttributes = new { @class = "form-control numberonly", @maxlength = "100" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Freight Cost</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("Freight", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchfg" class="btn btn-flat" data-toggle="modal" data-target="#modal-fg" onclick="FadeModalfg()">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.freightcostoid)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.custnote, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.activeflag, new List<SelectListItem>
                                            {
                                           new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                           new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                                            }, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" >
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Tag</label>
                                        <div class="col-md-10">
                                            @Html.DropDownList("res3", null, new { @class = "form-control select2", @multiple = "multiple" })
                                            @Html.HiddenFor(model => model.custres3)
                                            @Html.ValidationMessageFor(model => model.custres3, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                if (ViewBag.action == "Update Data")
                                {
                                    <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                }
                            }
                        </div>
                    </div>
                    
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK Freifht Cost *@
    <div class="modal fade" id="modal-fg">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Freight Cost</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalfg" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Freight Cost Code</th>
                                    <th>Freight Cost Desc</th>
                                    <th>Freight Cost</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK Freight Cost *@

</section>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("#res3").change(function () {
            var res3 = $("#res3").val().join(';');
            $("#custres3").val(res3)
        });

        $("#custcountry").change(function () {
            InitDDLProvince();
            InitDDLCity();
        });

        $("#custprovince").change(function () {
            InitDDLCity();
        });

        if ($("#action").val() == "Update Data")
        {
            var res3 = $("#custres3").val().split(';');
            $("#res3").val(res3).trigger("change");
        }
        $('#tblModalfg').DataTable({
            "paging": true,
            "bFilter": true,
            "ordering": true,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalfg = $("#tblModalfg").DataTable();

        tblModalfg.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalfg.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#Freight").val(alldata.gendesc);
            $("#freightcostoid").val(alldata.genoid);
           
            $('#modal-fg').modal('hide');
        });

    })

    function FadeModalfg() {
        var table = $('#tblModalfg').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetFgData"))",
            data: {  },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    //val,
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.gencode,
                    val.gendesc,
                    val.genother1
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    }

    function nationchange() {
        InitDDLProvince();
        InitDDLCity();
    }

    function InitDDLProvince() {
        var custcountry = $("#custcountry option:selected").val();
        var custprovince = $("#custprovince");
        var custprovince_sel = $("#custprovince option:selected").val();
        custprovince.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLProvince"))",
            data: { custcountry: custcountry },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.genoid + "\'>" + val.gencode + " - " + val.gendesc + "</option>";
                        if (val.custprovince == custprovince_sel) {
                            isExist = true;
                        }
                    });
                    //console.log(data.tbl);
                    custprovince.html(markup).show();
                    if (isExist == true) {
                        custprovince.val(custprovince_sel);
                    }
                    //custprovince.trigger('change');
                    InitDDLCity();
                } else {
                    custprovince.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    }

    function InitDDLCity() {
        var custcountry = $("#custcountry option:selected").val();
        var custprovince = $("#custprovince option:selected").val();
        var custcityoid = $("#custcityoid");
        var custcityoid_sel = $("#custcityoid option:selected").val();
        custcityoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLCity"))",
            data: { custcountry: custcountry, custprovince: custprovince },
        cache: false,
        type: "POST",
        success: function (data) {
            var markup = "";
            if (data.result == "sukses") {
                var isExist = false;
                $.each(data.tbl, function (key, val) {
                    markup += "<option value=\'" + val.genoid + "\'>" + val.gendesc + "</option>";
                    if (val.custcityoid == custcityoid_sel) {
                        isExist = true;
                    }
                });
                //console.log(data.tbl);
                custcityoid.html(markup).show();
                if (isExist == true) {
                    custcityoid.val(custcityoid_sel);
                }
                custcityoid.trigger('change');
                //InitDDLCat3(); InitDDLCat4;
            } else {
                custcityoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
        error: function (err) {
            swal('', err, 'error');
        }
    });
    }

    $("#btnDelete").click(function () {
        var oid = $("#custoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid},
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });
</script>