﻿@model IEnumerable<RSA.Controllers.Master.CustomerController.custmst>
    
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    string CompnyCode = System.Configuration.ConfigurationManager.AppSettings["CompnyCode"];
}

<section class="content-header">
    <h1>List Of Customer</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="col-md-4" style="overflow-x: auto;">
                        <a class="btn btn-success" href="Form">
                            <i class="fa fa-plus"></i> Create New
                        </a>
                    </div>
                </div>
                <div class="box-body" style="display:none;">
                    <div class="row navbar-right">
                        <div class="col-md-12">
                            <button title="Export to PDF" type="button" class="btn btn-danger btn-md" onclick="PrintReport('PDF')"><b>Export to PDF</b></button>
                            <button title="Export to Excel" type="button" class="btn btn-success btn-md" onclick="PrintReport('Excel')"><b>Export to Excel</b></button>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12" style="overflow-x: auto;">
                            @*<table id="dtlistapp" class="table table-striped" style="width: 100%;"></table>*@
                            <table id="datatable" class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th>No Draft</th>
                                        <th>Divisi</th>
                                        <th>Code</th>
                                        <th>Customer</th>
                                        <th>Address</th>
                                        <th>City</th>
                                        <th>Province</th>
                                        <th>Phone 1</th>
                                        <th>Phone 2</th>
                                        <th>Email</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int a = 0;
                                        foreach (var i in Model)
                                        {
                                            a++;
                                            <tr>
                                                <td>
                                                    <a href="Form/@Html.DisplayFor(m => i.custoid)" class="text-primary">@Html.DisplayFor(m => i.custoid)</a>
                                                </td>
                                                <td>@Html.DisplayFor(m => i.divgroup)</td>
                                                <td>@Html.DisplayFor(m => i.custcode)</td>
                                                <td>@Html.DisplayFor(m => i.custname)</td>
                                                <td>@Html.DisplayFor(m => i.custaddr)</td>
                                                <td>@Html.DisplayFor(m => i.custcity)</td>
                                                <td>@Html.DisplayFor(m => i.custprovince)</td>
                                                <td>@Html.DisplayFor(m => i.custphone1)</td>
                                                <td>@Html.DisplayFor(m => i.custphone2)</td>
                                                <td>@Html.DisplayFor(m => i.custemail)</td>
                                                <td>@Html.DisplayFor(m => i.custstatus)</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    @*$(document).ready(function () {
        $.ajax({
            url: "@(Url.Action("GetDataList"))",
            data: { },
            cache: false,
            type: "POST",
            success: function (data) {
                var cols = [];
                var rows = [];

                if (data.msg == "") {
                    var hidecols = [0];
                    $.each(data.colname, function (key, val) {
                        var obj = {
                            title: val
                        }
                        cols.push(obj);
                    });

                    $.each(data.rows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                    });

                    $('#dtlistapp').dataTable({
                        "columns": cols,
                        "data": rows,
                        "deferRender": true,
                        "columnDefs": [
                            { "targets": hidecols, "visible": false, "searchable": false }
                        ]
                    });
                }
                else
                {
                    swal('', data.msg, 'info');
                }
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    });*@

    function PrintReport(stype) {
        window.location.assign("@Url.Action("PrintReport")?stype=" + stype + "");
    };

</script>