﻿@model RSA.Models.DB.QL_trnsoitemmst

@{
    ViewBag.Title = "SO Box";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form SO Box</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>SO Box Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.periodacctg)
                       
                        @Html.HiddenFor(model => model.approvalcode)
                        @Html.HiddenFor(model => model.approvaldatetime)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.closereason)
                        @Html.HiddenFor(model => model.closeuser)
                        @Html.HiddenFor(model => model.closetime)
                        @Html.HiddenFor(model => model.revisereason)
                        @Html.HiddenFor(model => model.reviseuser)
                        @Html.HiddenFor(model => model.revisetime)
                        @Html.HiddenFor(model => model.rejectreason)
                        @Html.HiddenFor(model => model.rejectuser)
                        @Html.HiddenFor(model => model.rejecttime)
                        @Html.HiddenFor(model => model.lastrevtime)
                        @Html.HiddenFor(model => model.soitempaytypeoid)
                        @Html.HiddenFor(model => model.divgroupoid)
                       
                        @Html.HiddenFor(model => model.soitemtotalamt)
                        @Html.HiddenFor(model => model.soitemtotaldiscdtl)
                        @Html.HiddenFor(model => model.soitemtotalnetto)
                        @Html.HiddenFor(model => model.soitemvat)

                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Divisi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("ddldivgroupoid", null, new { @class = "form-control", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            @Html.RadioButtonFor(model => model.ismadetoorder, true, new { @class = "rb_madetoorder", id = "ismadetoorder_true" }) @Html.Label("Made To Order")
                                            @Html.RadioButtonFor(model => model.ismadetoorder, false, new { @class = "rb_madetoorder", id = "ismadetoorder_false" }) @Html.Label("Made To Stock")
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Division</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.groupoid, null, new { @class = "form-control select2", @required = ""})
                                            @Html.ValidationMessageFor(model => model.groupoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Currency <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.curroid, null, new { @class = "form-control select2" })
                                            @Html.ValidationMessageFor(model => model.curroid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Payment Method</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.soitempaymethod, new List<SelectListItem>
                            {
                                    new SelectListItem { Text="TT", Value="TT" },
                                    new SelectListItem { Text="LC", Value="LC" }
                            }, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @*@Html.DropDownListFor(model => model.cmpcode, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.cmpcode, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Draft No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.soitemmstoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">SO No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.soitemno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Date</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.soitemdate, new { htmlAttributes = new { @class = "form-control datemask2", @type = "text", @readonly = "" } })

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("custname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchcust" class="btn btn-flat" data-toggle="modal" data-target="#modal-cust">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.custoid)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Sales</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.salesoid, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer PO Date <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.socustrefdate, new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.socustrefdate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer PO.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.soitemcustref, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                               
                                
                            </div>
                            @Html.HiddenFor(model => model.soitemtype)
                            @Html.HiddenFor(model => model.isexcludetax)
                            <div class="row" style="display:none;">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Rate Pajak (IDR)</label>
                                        <div class="col-md-4">
                                            @Html.Editor("sorawratetoidr", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.rateoid)
                                    </div>
                                </div>
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Rate Pajak (USD)</label>
                                        <div class="col-md-4">
                                            @Html.Editor("sorawratetousd", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none;">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Rate Standard (IDR)</label>
                                        <div class="col-md-4">
                                            @Html.Editor("sorawrate2toidr", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.rate2oid)
                                    </div>
                                </div>
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Rate Standard (USD)</label>
                                        <div class="col-md-4">
                                            @Html.Editor("sorawrate2tousd", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*@Html.HiddenFor(model => model.soitemtotalamt, new { htmlAttributes = new { @id = "soitemtotalamt" } })
                            @Html.HiddenFor(model => model.soitemtotaldiscdtl)
                            @Html.HiddenFor(model => model.soitemtotalnetto)
                            @Html.HiddenFor(model => model.soitemtaxtype)
                            @Html.HiddenFor(model => model.soitemtaxamt)*@
                            @Html.HiddenFor(model => model.soitemetd)
                           
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Amt</label>
                                        <div class="col-md-4">
                                            @Html.Editor("soitemtotalamt", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Disc. Dtl Amt</label>
                                        <div class="col-md-4">
                                            @Html.Editor("soitemtotaldiscdtl", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Netto</label>
                                        <div class="col-md-4">
                                            @Html.Editor("soitemtotalnetto", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tax</label>
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.soitemtaxtype, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        <div class="col-md-5">
                                            @Html.Editor("soitemtaxamt", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tax Amount</label>
                                        <div class="col-md-4">
                                            @Html.Editor("soitemvat", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Toleransi</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(Model => Model.soitemmstres1, new { htmlAttributes = new { @class = "form-control", @type = "text"} })
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Grand Total Amt</label>
                                        <div class="col-md-4">
                                           @Html.Editor("soitemgrandtotalamt", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Ship to <label class="text-red">*</label></label>
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                @Html.Editor("alamat", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchalamat" class="btn btn-flat" data-toggle="modal" data-target="#modal-alamat">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                                @Html.HiddenFor(model => model.custdtloid)
                                            </div>
                                            @Html.ValidationMessageFor(model => model.custdtloid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Type Material</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.soitemmstres2, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="Material", Value="Material" },
                                                new SelectListItem { Text="BOM", Value="BOM" }
                                              }, new { @class = "form-control select2", @required = "", @onchange = "soitemmstres2change()" })
                                        </div>
                                    </div>
                                </div>
                                <div id="res3" class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">BOM<label class="text-red">*</label></label>
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                @Html.Editor("bomdesc", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchbom" class="btn btn-flat" data-toggle="modal" data-target="#modal-bom">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                                @Html.HiddenFor(model => model.soitemmstres3)
                                                @Html.Hidden("bomqty")
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                         
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Remark</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.soitemmstnote, new { @class = "form-control", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.soitemmstnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.soitemmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN CONTAINER
                    <div class="box-header" style="display:none;">
                        <h3 class="box-title" id="lblContainer"><b>Container Available</b></h3>
                    </div>
                    <div class="box-body" style="display:none;">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtlContainer" class="table table-striped" style="width: 50%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>Type</th>
                                        <th>Qty</th>
                                        <th>%</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN CONTAINER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>SO Box Detail</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.Hidden("seq")
                        <div class="container-fluid">
                            <div id="divaddtolist" class="pull-left">
                                <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Add To List</b></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No.</th>
                                        <th></th>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th>ETD</th>
                                        <th>Qty</th>
                                        <th>Unit</th>
                                        <th>Last Price</th>
                                        <th>Price</th>
                                        <th>Amount</th>
                                        <th>Disc Type</th>
                                        <th>Disc Val.</th>
                                        <th>Disc Amt.</th>
                                        <th>Netto</th>
                                        <th>Detail Note</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                if (Model.soitemmststatus == "In Process" | Model.soitemmststatus == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                    <button type="submit" class="btn btn-primary btn-md" id="btnSaveClose"><b>Save & Close</b></button>
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                    if (ViewBag.action == "Update Data")
                                    {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                    }
                                    <button type="button" class="btn btn-warning btn-md" id="btnSendForApproval"><b>Send For Approval</b></button>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                }
                            }
                        </div>
                    </div>
                    
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">SO Finish Good Detail Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No.</th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Item Note</th>
                                    <th>Stock Qty</th>
                                    <th>Qty</th>
                                    <th>Unit</th>
                                    <th>Price</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@

    @* MODAL UNTUK ALAMAT *@
    <div class="modal fade" id="modal-alamat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Customer</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalAlamat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Lokasi</th>
                                    <th>Alamat Pengiriman</th>
                                    <th>Kota</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK ALAMAT *@

    @* MODAL UNTUK BOM *@
    <div class="modal fade" id="modal-bom">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data BOM</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalBom" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Bom Code</th>
                                    <th>Bom Desc</th>
                                    <th>Qty</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK BOM *@

    @* MODAL UNTUK GANTI MATERIAL *@
    <div class="modal fade" id="modal-mat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Finish Good Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Unit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK GANTI MATERIAL *@

    @* MODAL UNTUK CUSTOMER *@
    <div class="modal fade" id="modal-cust">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Customer</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCust" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK CUSTOMER *@
</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0,2],
                "visible": false,
                "searchable": false
            }]
        });

        var tableContainer = $('#DataDtlContainer').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();
            SetDataDtl(); FillDetailData();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            CountHdrAmount();
            EnabledHeader();
        });
        table.on("draw", function () {
            $('#DataDtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#DataDtl .datepicker').datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#DataDtl .select2').select2({ theme: 'bootstrap' });
        });
        table.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        tableContainer.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });



        var tblModalDtl = $("#tblModalDtl").DataTable({
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                    "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });
        tblModalDtl.on("draw", function () {
            $('#tblModalDtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tblModalDtl .datepicker').datepicker({
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tblModalDtl .select2').select2({ theme: 'bootstrap' });
        });
        tblModalDtl.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        tblModalDtl.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        var tblModalBom = $("#tblModalBom").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalBom.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalBom.row($tr).data();
            var alldata = JSON.parse(data[0])
            var bomqty_id = "#bomqty-" + alldata.bomoid;
            var bomqty = $(bomqty_id).val();
            $("#soitemmstres3").val(alldata.bomoid);
            $("#bomdesc").val(alldata.bomwipdesc);
            $("#bomqty").val(bomqty);
            GetDetailData();
            $('#modal-bom').modal('hide');
        });

        var tblModalAlamat = $("#tblModalAlamat").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalAlamat.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalAlamat.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#alamat").val(alldata.custdtlname);
            $("#custdtloid").val(alldata.custdtloid);
            $('#modal-alamat').modal('hide');
        });

        $("#tblModalCust").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalMat = $("#tblModalMat").DataTable({
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalCust = $("#tblModalCust").DataTable();
        tblModalCust.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalCust.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#custname").val(alldata.custname);
            $("#custoid").val(alldata.custoid);
            $("#sopaytypeoid").val(alldata.custpaymentoid).trigger("change");
            $("#soitempaytypeoid").val(alldata.custpaymentoid).trigger("change");
            $("#soitemtype").val(alldata.custtype);
            $("#soitemmstres1").val(alldata.toleransikirim);
            $("#isexcludetax").prop("checked", true);
            if (alldata.custtaxable == "0") {
                $('input[name=isexcludetax]:not(:checked)').attr('disabled', true);
                $("#soitemtaxtype").val("NON TAX");
                $("#soitemtaxamt").val("0");
            } else {
                $('input[name=isexcludetax]:not(:checked)').attr('disabled', false);
                $("#soitemtaxtype").val("TAX");
                $("#soitemtaxamt").val("11");
            }
            $("#divgroupoid").val($('#ddldivgroupoid option:Selected').val());
            EnableddivgroupHeader();
            $('#modal-cust').modal('hide');
        });

        InitDDLAppUser();
        FillDDLAccount();
        FillDDLDivision();
        soitemmstres2change();

        $("#cmpcode").change(function () {
            InitDDLAppUser();
            FillDDLAccount();
            FillDDLDivision();
        });

        SetRateValue();
        $("#curroid").change(function () {
            SetRateValue();
        })

        FillDetailData();

        if ($("#action").val() == "Update Data") {
            //FillDetailContainer();
        } else {
            //BindDataContainer();
        }
    })
    function EnableddivgroupHeader() {
        $("#ddldivgroupoid").prop("disabled", true);
    }
    function SetRateValue() {
        var curroid = $("#curroid").val();
        var sDate = $("#soitemdate").val();
        $.ajax({
            url: "@(Url.Action("GetRateValue"))",
            data: { curroid: curroid, sDate: sDate },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data, function (key, val) {
                        $("#rateoid").val(val.rateoid);
                        //$("#soitemratetoidr").val(val.rateidrvalue);
                        //$("#soitemratetousd").val(val.soratetousd);
                        $("#rate2oid").val(val.rate2oid);
                        //$("#soitemrate2toidr").val(val.rate2idrvalue);
                        //$("#soitemrate2tousd").val(val.sorate2tousd);
                    });
                } else {
                    if (data.msg != "") {
                        Swal('Warning!', data.msg, 'warning')
                    }
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    $("#btnsearchbom").click(function () {
        var soitemmstres2 = $("#soitemmstres2").val();
        if (soitemmstres2 == 'Material') {
            alert('Pilihan tipe Material anda salah!');
            return false;
        }
        var table = $('#tblModalBom').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetBomData"))",
            data: { },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.bomcode,
                    val.bomwipdesc,
                   '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="bomqty-' + val.bomoid + '" name="bomqty-' + val.bomoid + '" value="">'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    $("#btnsearchalamat").click(function () {
        var custoid = $("#custoid").val();
        if (custoid == "" || custoid == null || custoid == "0") {
            Swal({
                title: "WARNING!",
                text: "Please Select CUSTOMER field!",
                type: "warning"
            })
            return false;
        }
        var table = $('#tblModalAlamat').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetAlamatData"))",
            data: { custoid: custoid },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.custdtlname,
                    val.custdtladdr,
                    val.custdtlcity

                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                var soitemdisctype = "Percentage";
                if (val.soitemdtldisctype == "A") {
                    soitemdisctype = "Amount";
                }
                rows.push([
                    JSON.stringify(val),
                    val.soitemdtlseq,
                    '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                    val.itemcode,
                    val.itemlongdesc,
                    '<input type="text" class="form-control datepicker" style="max-width: 80px" id="soitemdtletd-' + val.soitemdtlseq + '" name="soitemdtletd-' + val.soitemdtlseq + '" value="' + val.soitemdtletdstr + '">',
                    '<input type="text" class="form-control money" style="max-width: 80px" id="soitemqty-' + val.soitemdtlseq + '" name="soitemqty-' + val.soitemdtlseq + '" value="' + val.soitemqty + '" onchange="CountDtlAmount(' + val.soitemdtlseq + ')">',
                    val.soitemunit,
                    addCommas(val.soitemlastprice),
                    '<input type="text" class="form-control money" style="max-width: 80px" id="soitemprice-' + val.soitemdtlseq + '" name="soitemprice-' + val.soitemdtlseq + '" value="' + val.soitemprice + '" onchange="CountDtlAmount(' + val.soitemdtlseq + ')">',
                    addCommas(val.soitemdtlamt),
                    '<select class = "form-control" id="soitemdtldisctype-' + val.soitemdtlseq + '" onchange="CountDtlAmount(' + val.soitemdtlseq + ')"> <option value="' + val.soitemdtldisctype + '" selected>' + soitemdisctype + '</option>  <option value="P">Percentage</option><option value="A">Amount</option> ',
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soitemdtldiscvalue-' + val.soitemdtlseq + '" name="soitemdtldiscvalue-' + val.soitemdtlseq + '" value="' + val.soitemdtldiscvalue + '" onchange="CountDtlAmount(' + val.soitemdtlseq + ')">',
                    addCommas(val.soitemdtldiscamt),
                    addCommas(val.soitemdtlnetto),
                    '<input type="text" class="form-control" style="max-width: 150px" id="soitemdtlnote-' + val.soitemdtlseq + '" name="soitemdtlnote-' + val.soitemdtlseq + '" value="' + (val.soitemdtlnote == null ? "" : val.soitemdtlnote) + '">',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                a = $('.datepicker').datepicker({
                    format: 'mm/dd/yyyy',
                    autoclose: true
                });
                EnabledHeader();
            }, 100);
        });
    }

    function FillDetailContainer(){
        var url = "@(Url.Action("FillDetailContainer"))";
        var table = $('#DataDtlContainer').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.containertype,
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soitemcontqty-' + val.containerseq + '" name="soitemcontqty-' + val.containerseq + '" value="' + val.soitemcontqty + '">',
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soitemcontpct-' + val.containerseq + '" name="soitemcontpct-' + val.containerseq + '" value="' + val.soitemcontpct + '">'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        });
    }

    function InitDDLAppUser() {
        var cmp = $("#cmpcode").val();
        var approvaluser = $("#approvaluser");
        var approvaluser_sel = $("#approvaluser option:selected").val();
        approvaluser.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLAppUser"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.approvaluser + "\'>" + val.approvaluser + "</option>";
                        if (val.approvaluser == approvaluser_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    approvaluser.html(markup).show();
                    if (isExist == true) {
                        approvaluser.val(approvaluser_sel);
                    }
                    approvaluser.trigger('change');
                } else {
                    approvaluser.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
        error: function (err) {
            console.log(err);
        }
    });
    }
    // btn BOM change
    $('#soitemmstres2').on('change', function () {
        //alert("aaaaa");
        soitemmstres2change();
    });
    function soitemmstres2change() {
        var soitemmstres2 = $("#soitemmstres2").val();
        if (soitemmstres2 == "BOM") {
            document.getElementById("divaddtolist").style.display = "none";
            document.getElementById("res3").style.display = "";
        }
        else {
            document.getElementById("divaddtolist").style.display = "";
            document.getElementById("res3").style.display = "none";
        }
    }
    //end of div BOM change
    function FillDDLAccount() {
        var cmpcode = $("#cmpcode").val();
        var accountoid = $("#accountoid");
        var accountoid_sel = $("#accountoid option:selected").val();
        accountoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLAccount"))",
            data: { cmpcode: cmpcode },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.accountoid + "\'>" + val.accountdesc + "</option>";
                        if (val.accountoid == accountoid_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    accountoid.html(markup).show();
                    if (isExist == true) {
                        accountoid.val(accountoid_sel);
                    }
                    accountoid.trigger('change');
                } else {
                    accountoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function FillDDLDivision() {
        var cmp = $("#cmpcode").val();
        var groupoid = $("#groupoid");
        var groupoid_sel = $("#groupoid option:selected").val();
        groupoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLDivision"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.groupoid + "\'>" + val.groupdesc + "</option>";
                        if (val.groupoid == groupoid_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    groupoid.html(markup).show();
                    if (isExist == true) {
                        groupoid.val(groupoid_sel);
                    }
                    groupoid.trigger('change');
                } else {
                    groupoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    $("#btnAddToList").click(function () {
        var divgroupoid = $('#divgroupoid').val();
        var table = $('#tblModalDtl').DataTable();
        var custoid = $('#custoid').val();
        var curroid = $('#curroid').val();
        var cmp = $("#cmpcode").val();
        if (custoid == "" || custoid == null || custoid == "0") {
            Swal({
                title: "WARNING!",
                text: "Please Select CUSTOMER field!",
                type: "warning"
            })
            return false;
        }
        table.column(1).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmp: cmp, curroid: curroid, custoid: custoid, divgroupoid: divgroupoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        ++i,
                        val.soitemdtlseq,
                        val.itemcode,
                        val.itemlongdesc,
                        val.itemnote,
                        val.stockqty,
                        '<input type="text" class="form-control money" style="max-width: 80px" id="soitemqty-' + i + '" name="soitemqty-' + i + '" value="' + val.soitemqty + '">',
                        val.soitemunit,
                        '<input type="text" class="form-control money" style="max-width: 80px" id="soitemprice-' + i + '" name="soitemprice-' + i + '" value="' + val.soitemprice + '">',
                        '<input type="text" class="form-control" style="max-width: 150px" id="soitemdtlnote-' + i + '" name="soitemdtlnote-' + i + '" value="' + val.soitemdtlnote + '">'
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    function BindDataContainer() {
        var table = $('#DataDtlContainer').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetContainerData"))",
            data: {},
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        val.containertype,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soitemcontqty-' + val.containerseq + '" name="soitemcontqty-' + val.containerseq + '" value="' + val.soitemcontqty + '">',
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soitemcontpct-' + val.containerseq + '" name="soitemcontpct-' + val.containerseq + '" value="' + val.soitemcontpct + '">'
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function GetDetailData() {
        var url = "@(Url.Action("GetDetailData"))";
        var table = $('#DataDtl').DataTable();
        var bomoid = $("#soitemmstres3").val();
        var bomqty = $("#bomqty").val();
        var custoid = $('#custoid').val();
        var curroid = $('#curroid').val();
        var tgl = $("#createtime").val();
        var divgroupoid = $('#divgroupoid option:selected').val();
        var a = "";
        $.ajax({
            url: url,
            data: { bomoid: bomoid, curroid: curroid, custoid: custoid, bomqty: bomqty, divgroupoid: divgroupoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var id = 0;
                $.each(data, function (key, val) {
                    id++;
               
                    var soitemqty = val.soitemqty
                    var obj = {
                        soitemdtlseq: id,
                        itemoid: val.itemoid,
                        itemcode: val.itemcode,
                        itemlongdesc: val.itemlongdesc,
                        itemnote: val.itemnote,
                        soitemqty: soitemqty,
                        soitemunitoid: val.soitemunitoid,
                        soitemunit: val.soitemunit,
                        soitemlastprice: val.soitemlastprice,
                         soitemdtlamt: 0,
                         soitemdtletdstr: soitemdtletdstr,
                        soitemdtldiscamt: 0,
                        soitemdtlnetto: 0,
                        soitemdtlnote: "",
                    };
                    rows.push([
                         JSON.stringify(obj),
                        id,
                        '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                        val.itemcode,
                        val.itemlongdesc,
                        '<input type="text" class="form-control datepicker" style="max-width: 80px" id="soitemdtletd-' + id + '" name="soitemdtletd-' + id + '" value="' + soitemdtletdstr + '">',
                        '<input type="text" class="form-control money" style="max-width: 80px" id="soitemqty-' + id + '" name="soitemqty-' + id + '" value="' + soitemqty + '" onchange="CountDtlAmount(' + id + ')">',
                        val.soitemunit,
                        val.soitemlastprice,
                        '<input type="text" class="form-control money" style="max-width: 80px" id="soitemprice-' + id + '" name="soitemprice-' + id + '" value="' + 0 + '" onchange="CountDtlAmount(' + id + ')">',
                        0,
                        '<select class = "form-control" id="soitemdtldisctype-' + id + '" onchange="CountDtlAmount(' + id + ')"> <option value="P" selected>Percentage</option><option value="A">Amount</option> ',
                        '<input type="text" class="form-control money" style="max-width: 80px" id="soitemdtldiscvalue-' + id + '" name="soitemdtldiscvalue-' + id + '" value="' + 0 + '" onchange="CountDtlAmount(' + id + ')">',
                        0,
                        0,
                        '<input type="text" class="form-control" style="max-width: 150px" id="soitemdtlnote-' + id + '" name="soitemdtlnote-' + id + '" value="">',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                           
                        ]);
                    
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                    tglIndo(tgl, '.datepicker');

                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
        EnabledHeader();
       
        SetDataDtl();
        CountHdrAmount();
    }
    function AddToDetail() {
        var isValid = true;
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var tgl = $("#createtime").val();
        var pricetype = $("input[name=isexcludetax]:checked").val();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid)
            {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                var soitemqty_id = "#soitemqty-" + val;
                var soitemprice_id = "#soitemprice-" + val;
                //var soitemdtldisctype_id = alldata.soitemdtldisctype;
                //var soitemdtldiscvalue_id = alldata.soitemdtldiscvalue;
                var soitemdtlnote_id = "#soitemdtlnote-" + val;
                var soitemqty = table.$(soitemqty_id).val();
                var soitemprice = table.$(soitemprice_id).val();
                var soitemdtlamt = soitemqty * soitemprice;
                //var soitemdtldisctype = table.$(soitemdtldisctype_id).val();
                //var soitemdtldiscvalue = table.$(soitemdtldiscvalue_id).val();
                var dDisc = 0;
                //if (soitemdtldisctype == "P") {
                //    dDisc = parseFloat((soitemdtlamt * soitemdtldiscvalue) / 100);
                //} else {
                //    dDisc = parseFloat(soitemdtldiscvalue);
                //}
                var soitemdtldiscamt = dDisc;
                var soitemdtlnetto = soitemdtlamt - dDisc;
                var soitemdtlnote = table.$(soitemdtlnote_id).val();
                var soitemdtldisctype = "Percentage";
                if (alldata.soitemdtldisctype == "A") {
                    soitemdtldisctype = "Amount";
                }
                if (!IsOnDtl(alldata.itemoid)) {
                    var id = tbldtl.rows().data().length + 1;
                    var obj = {
                        soitemdtlseq: id,
                        itemoid: alldata.itemoid,
                        itemcode: alldata.itemcode,
                        itemlongdesc: alldata.itemlongdesc,
                        itemnote: alldata.itemnote,
                        soitemqty: soitemqty,
                        soitemunitoid: alldata.soitemunitoid,
                        soitemunit: alldata.soitemunit,
                        soitemlastprice: alldata.soitemlastprice,
                        soitemprice: soitemprice,
                        soitemdtlamt: soitemdtlamt,
                        soitemdtldisctype: alldata.soitemdtldisctype,
                        soitemdtldiscvalue: alldata.soitemdtldiscvalue,
                        soitemdtldiscamt: soitemdtldiscamt,
                        soitemdtlnetto: soitemdtlnetto,
                        soitemdtlnote: soitemdtlnote,
                    };
                    tbldtl.row.add([
                        JSON.stringify(obj),
                        id,
                        '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                        alldata.itemcode,
                        alldata.itemlongdesc,
                        '<input type="text" class="form-control datepicker" style="max-width: 80px" id="soitemdtletd-' + id + '" name="soitemdtletd-' + id + '" value="' + alldata.soitemdtletdstr + '">',
                        '<input type="text" class="form-control money" style="max-width: 80px" id="soitemqty-' + id + '" name="soitemqty-' + id + '" value="' + soitemqty + '" onblur="CountDtlAmount(' + id + ')">',
                        alldata.soitemunit,
                        addCommas(alldata.soitemlastprice),
                        '<input type="text" class="form-control money" style="max-width: 80px" id="soitemprice-' + id + '" name="soitemprice-' + id + '" value="' + soitemprice + '" onblur="CountDtlAmount(' + id + ')">',
                        addCommas(soitemdtlamt),
                        '<select class = "form-control" id="soitemdtldisctype-' + id + '" onchange="CountDtlAmount(' + id + ')"> <option value="' + alldata.soitemdtldisctype + '" selected>' + soitemdtldisctype + '</option>  <option value="P">Percentage</option><option value="A">Amount</option> ',
                        '<input type="text" class="form-control money" style="max-width: 80px" id="soitemdtldiscvalue-' + id + '" name="soitemdtldiscvalue-' + id + '" value="' + alldata.soitemdtldiscvalue + '" onblur="CountDtlAmount(' + id + ')">',
                        addCommas(soitemdtldiscamt),
                        addCommas(soitemdtlnetto),
                        '<input type="text" class="form-control" style="max-width: 150px" id="soitemdtlnote-' + id + '" name="soitemdtlnote-' + id + '" value="' + soitemdtlnote + '">',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                    EnabledHeader();
                   
                }
            }
        })
        SetDataDtl();
        CountHdrAmount();
    }

    $('#DataDtl').on('click', '#edit', function () {
        var tbldtl = $('#DataDtl').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = tbldtl.row($tr).data();
        var alldata = JSON.parse(data[0]);
        $("#seq").val(alldata.soitemdtlseq - 1);
        $('#modal-mat').modal('show');

        var table = $('#tblModalMat').DataTable();
        var custoid = $('#custoid').val();
        var curroid = $('#curroid option:selected').val();
        var cmp = $("#cmpcode").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmp: cmp, curroid: curroid, custoid: custoid },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.itemcode,
                    val.itemlongdesc,
                    val.soitemunit,
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
        });
    });

    $("#tblModalMat").on('click', '#select', function () {
        var table = $('#tblModalMat').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = table.row($tr).data();
        var alldata = JSON.parse(data[0]);

        var tbldtl = $('#DataDtl').DataTable();
        var datadtl = tbldtl.row($('#seq').val()).data();
        var alldatadtl = JSON.parse(datadtl[0]);
        var iSeq = parseInt($('#seq').val()) + 1;

        alldata.soitemqty = 0;
        alldata.soitemprice = 0;
        alldata.soitemdtlamt = 0;
        alldata.soitemdtldiscvalue = 0;
        alldata.soitemdtldiscamt = 0;
        alldata.soitemdtlnetto = 0;
        alldata.soitemdtlno = "";

        var soitemdtldisctype = "Percentage";
        if (alldata.soitemdtldisctype == "A") {
            soitemdtldisctype = "Amount";
        }

        var obj = {
            soitemdtlseq: iSeq,
            itemoid: alldata.itemoid,
            itemcode: alldata.itemcode,
            itemlongdesc: alldata.itemlongdesc,
            itemnote: alldata.itemnote,
            soitemqty: alldata.soitemqty,
            soitemunitoid: alldata.soitemunitoid,
            soitemunit: alldata.soitemunit,
            soitemlastprice: alldata.soitemlastprice,
            soitemprice: alldata.soitemprice,
            soitemdtlamt: alldata.soitemdtlamt,
            soitemdtldisctype: alldata.soitemdtldisctype,
            soitemdtldiscvalue: alldata.soitemdtldiscvalue,
            soitemdtldiscamt: alldata.soitemdtldiscamt,
            soitemdtlnetto: alldata.soitemdtlnetto,
            soitemdtlnote: alldata.soitemdtlnote,
        };

        datadtl[0] = JSON.stringify(obj);
        datadtl[3] = alldata.itemcode;
        datadtl[4] = alldata.itemlongdesc;
        datadtl[5] = alldata.itemnote;
        datadtl[6] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="arretitemqty-' + iSeq + '" name="arretitemqty-' + iSeq + '" value="' + alldata.soitemqty + '" onchange="CountDtlAmount(' + iSeq + ')">';
        datadtl[7] = alldata.soitemunit;
        datadtl[8] = addCommas(alldata.soitemlastprice);
        datadtl[9] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soitemprice-' + iSeq + '" name="soitemprice-' + iSeq + '" value="' + alldata.soitemprice + '" onchange="CountDtlAmount(' + iSeq + ')">';
        datadtl[10] = alldata.soitemdtlamt;
        datadtl[11] = '<select class = "form-control" id="soitemdtldisctype-' + iSeq + '" onchange="CountDtlAmount(' + iSeq + ')"> <option value="' + alldata.soitemdtldisctype + '" selected>' + soitemdtldisctype + '</option>  <option value="P">Percentage</option><option value="A">Amount</option> ';
        datadtl[12] = '<input type="text" class="form-control money" style="max-width: 80px" id="soitemdtldiscvalue-' + iSeq + '" name="soitemdtldiscvalue-' + iSeq + '" value="' + alldata.soitemdtldiscvalue + '" onchange="CountDtlAmount(' + iSeq + ')">';
        datadtl[13] = alldata.soitemdtldiscamt;
        datadtl[14] = alldata.soitemdtlnetto;
        datadtl[15] = '<input type="text" class="form-control" style="max-width: 150px" id="soitemdtlnote-' + iSeq + '" name="soitemdtlnote-' + iSeq + '" value="' + alldata.soitemdtlnote + '">';

        tbldtl.row($('#seq').val()).data(datadtl).invalidate();

        $('#modal-mat').modal('hide');
    });

    function IsOnDtl(itemoid) {

    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var dDiv = 1;
        //if ($("input[name=isexcludetax]:checked").val() == "false") {
        //    dDiv = 1.1;
        //}
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var soitemdtletd_id = "#soitemdtletd-" + (alldata.soitemdtlseq);
            var soitemqty_id = "#soitemqty-" + (alldata.soitemdtlseq);
            var soitemprice_id = "#soitemprice-" + (alldata.soitemdtlseq);
            var soitemdtldisctype_id = "#soitemdtldisctype-" + (alldata.soitemdtlseq);
            var soitemdtldiscvalue_id = "#soitemdtldiscvalue-" + (alldata.soitemdtlseq);
            var soitemdtlnote_id = "#soitemdtlnote-" + (alldata.soitemdtlseq);
           
            var soitemdtletd = table.$(soitemdtletd_id).val();
            var soitemqty = table.$(soitemqty_id).val();
            var soitemprice = table.$(soitemprice_id).val() / dDiv;
            var soitemdtlamt = alldata.soitemdtlamt / dDiv;
            var soitemdtldisctype = table.$(soitemdtldisctype_id).val();
            var soitemdtldiscvalue = table.$(soitemdtldiscvalue_id).val() / dDiv;
            var soitemdtldiscamt = alldata.soitemdtldiscamt / dDiv;
            var soitemdtlnetto = alldata.soitemdtlnetto / dDiv;
            var soitemdtlnote = table.$(soitemdtlnote_id).val();
            

            var obj = {
                soitemdtlseq: i + 1,
                itemoid: alldata.itemoid,
                itemcode: alldata.itemcode,
                itemlongdesc: alldata.itemlongdesc,
                itemnote: alldata.itemnote,
                soitemqty: soitemqty,
                soitemunitoid: alldata.soitemunitoid,
                soitemunit: alldata.soitemunit,
                soitemlastprice: alldata.soitemlastprice,
                soitemprice: soitemprice,
                soitemdtlamt: soitemdtlamt,
                soitemdtldisctype: soitemdtldisctype,
                soitemdtldiscvalue: soitemdtldiscvalue,
                soitemdtldiscamt: soitemdtldiscamt,
                soitemdtlnetto: soitemdtlnetto,
                soitemdtlnote: soitemdtlnote,
                soitemdtletd: soitemdtletd,
                soitemdtletdstr:soitemdtletd
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    function SetDataDtlCont() {
        var table = $('#DataDtlContainer').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var soitemcontqty_id = "#soitemcontqty-" + (i + 1);
            var soitemcontpct_id = "#soitemcontpct-" + (i + 1);
            var soitemdtletd_id = "#soitemdtletd-" + (i + 1);
            var soitemcontqty = table.$(soitemcontqty_id).val();
            var soitemcontpct = table.$(soitemcontpct_id).val();
            var soitemdtletd = table.$(soitemdtletd_id).val();

            var obj = {
                containeroid: alldata.containeroid,
                containertype: alldata.containertype,
                soitemcontqty: soitemcontqty,
                soitemcontpct: soitemcontpct,
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetailsCont"))",
            data: JSON.stringify({ dtDtlCont: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    function CountHdrAmount() {
        var table = $('#DataDtl').DataTable();
        var pricetype = $("input[name=isexcludetax]:checked").val();
        var data = table.rows().data();
        var dTotalAmt = 0;
        var dTotalDiscDtl = 0;

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            dTotalAmt +=  alldata.soitemdtlamt;
            dTotalDiscDtl += alldata.soitemdtldiscamt;
        }
        var dDiv = 1;
        if (pricetype == "false") {
            dDiv = 1.1;
        }
        $("#soitemtotalamt").val(parseFloat(dTotalAmt / dDiv));
        $("#soitemtotaldiscdtl").val(parseFloat(dTotalDiscDtl / dDiv));
        $("#soitemtotalnetto").val(parseFloat($("#soitemtotalamt").val()) - parseFloat($("#soitemtotaldiscdtl").val()));
        $("#soitemvat").val(parseFloat($("#soitemtotalnetto").val()) * parseFloat($("#soitemtaxamt").val()) / 100);
        $("#soitemgrandtotalamt").val(parseFloat($("#soitemtotalnetto").val()) + parseFloat($("#soitemvat").val()));
    }

    function CountDtlAmount(id) {
        var table = $('#DataDtl').DataTable();
        var pricetype = $("input[name=isexcludetax]:checked").val();
        var data = table.row(id - 1).data();
        var alldata = JSON.parse(data[0]);
        var soitemqty_id = "#soitemqty-" + id;
        var soitemprice_id = "#soitemprice-" + id;
        var soitemdtldisctype_id = "#soitemdtldisctype-" + id;
        var soitemdtldiscvalue_id = "#soitemdtldiscvalue-" + id;
        var soitemdtletd_id = "#soitemdtletd-" + (id);
        var soitemqty = table.$(soitemqty_id).val();
        var soitemprice = table.$(soitemprice_id).val();
        var soitemdtlamt = soitemqty * soitemprice;
        var soitemdtldisctype = table.$(soitemdtldisctype_id).val();
        var soitemdtldiscvalue = table.$(soitemdtldiscvalue_id).val();
        var soitemdtletd = table.$(soitemdtletd_id).val();
        var dDisc = 0;
        if (soitemdtldisctype == "P") {
            dDisc = parseFloat((soitemdtlamt * soitemdtldiscvalue) / 100);
        } else {
            dDisc = parseFloat(soitemdtldiscvalue);
        }
        var soitemdtldiscamt = dDisc;
        var soitemdtlnetto = soitemdtlamt - dDisc;

        alldata.soitemqty = soitemqty;
        alldata.soitemprice = soitemprice;
        alldata.soitemdtlamt = soitemdtlamt;
        alldata.soitemdtldisctype = soitemdtldisctype;
        alldata.soitemdtldiscvalue = soitemdtldiscvalue;
        alldata.soitemdtldiscamt = soitemdtldiscamt;
        alldata.soitemdtlnetto = soitemdtlnetto;
        alldata.soitemdtletd = soitemdtletd;

        var soitemdisctype = "Percentage";
        if (alldata.soitemdtldisctype == "A") {
            soitemdisctype = "Amount";
        }

        data[0] = JSON.stringify(alldata);
        data[5] = '<input type="text" class="form-control datepicker" style="max-width: 80px" id="soitemdtletd-' + id + '" name="soitemdtletd-' + id + '" value="' + soitemdtletd + '">';
        data[6] = '<input type="text" class="form-control money" style="max-width: 80px" id="soitemqty-' + id + '" name="soitemqty-' + id + '" value="' + soitemqty + '" onchange="CountDtlAmount(' + id + ')">';
        data[9] = '<input type="text" class="form-control money" style="max-width: 80px" id="soitemprice-' + id + '" name="soitemprice-' + id + '" value="' + soitemprice + '" onchange="CountDtlAmount(' + id + ')">';
        data[10] = addCommas(soitemdtlamt);
        data[11] = '<select class = "form-control" id="soitemdtldisctype-' + id + '" onchange="CountDtlAmount(' + id + ')"> <option value="' + alldata.soitemdtldisctype + '" selected>' + soitemdisctype + '</option>  <option value="P">Percentage</option><option value="A">Amount</option> ';
        data[12] = '<input type="text" class="form-control money" style="max-width: 80px" id="soitemdtldiscvalue-' + id + '" name="soitemdtldiscvalue-' + id + '" value="' + alldata.soitemdtldiscvalue + '" onchange="CountDtlAmount(' + id + ')">';
        data[13] = addCommas(soitemdtldiscamt);
        data[14] = addCommas(soitemdtlnetto);

        table.row(id - 1).data(data).invalidate();
         SetDataDtl();
        CountHdrAmount();
    }

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var bVal = false;
        if (table != null) {
            if (data.length > 0) {
                bVal = true;
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        //if ($("#soitemtaxtype").val() == "TAX") {
        //    $(".rb").attr("disabled", bVal);
        //} else {
        //    $(".rb").attr("disabled", true);
        //}
        //$(".rb_madetoorder").attr("disabled", bVal);
        $("#cmpcode").attr("readonly", bVal);
        $("#curroid").attr("readonly", bVal);
        $("#btnsearchcust").attr("disabled", bVal);
    }



    $("#btnsearchcust").click(function () {
        var table = $('#tblModalCust').DataTable();
        var cmp = $("#cmpcode").val();
        var divgroupoid = $('#ddldivgroupoid option:selected').val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetCustomerData"))",
            data: { cmp: cmp, divgroupoid: divgroupoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.custcode,
                        val.custname,
                        val.custtype,
                        val.custaddr
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnSave").click(function () {
        //$(".rb_madetoorder").attr("disabled", false)
        //$(".rb").attr("disabled", false)
        SetDataDtl();
        SetDataDtlCont();
    });

    $("#btnSaveClose").click(function () {
        $("#closing").val("true");
        $("#btnSave").click();
    });

    $("#btnDelete").click(function () {
        var oid = $("#soitemmstoid").val();
        var cmp = $("#cmpcode").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnSendForApproval").click(function () {
        $("#soitemmststatus").val("In Approval");

        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for APPROVAL?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#closing").val("true");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>