﻿@{
    ViewBag.Title = ViewBag.FormType + " Stock Report (Inc. Price)";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1> @ViewBag.FormType Stock Report (Inc. Price)</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm("PrintReportInPrice", "StockReport"))
                {
                <div class="box-body">
                    <div class="container-fluid">
                        @Html.Hidden("FormType")
                        @Html.Hidden("MatType")
                        @Html.Hidden("MatRefType")
                        @Html.Hidden("StartDate")
                        @Html.Hidden("EndDate")
                        @Html.Hidden("ReportType")

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Business Unit</label>
                                    <div class="col-md-8">
                                        @Html.DropDownList("DDLBusinessUnit", null, new { @class = "form-control select2", @onchange = "ChangeBusinessUnit()" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Type</label>
                                    <div class="col-md-4 ">
                                        @Html.DropDownList("DDLType", new List<SelectListItem>
                                            {
                                               new SelectListItem { Text = "Summary", Value = "Summary" },
                                               new SelectListItem { Text = "Detail", Value = "Detail" },
                                               new SelectListItem { Text = "Closing", Value = "Closing" }
                                            }, new { @class = "form-control select2", @onchange = "ChangeType()" })
                                    </div>
                                    <div class="col-md-4" id="divforsmr" style=" margin-top:-3.1px;">
                                        <label style="font-weight:500;">@Html.CheckBox("AllowNull")  Allow Null Stock</label>
                                    </div>
                                    <div class="col-md-4" id="divforsmr2" style=" margin-top:-8.7px;">
                                        <label style="font-weight:500;">@Html.CheckBox("ShowAnomali")  Only Show Anomali</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6" id="divforclosing">
                                <div class="form-group">
                                    <label class="col-md-4 control-label" style="margin-top:-1vh">Period</label>
                                    <div class="col-md-8">
                                        <div class="input-group" style="margin-top:-2dp;">
                                            @Html.Editor("TextPeriod", new { htmlAttributes = new { @class = "form-control daterangepicker", @type = "text" } })
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" id="divforclosing2" style="display:none;">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Period</label>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            @Html.DropDownList("DDLMonth", null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            @Html.DropDownList("DDLYear", null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Warehouse</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            @Html.DropDownList("DDLWarehouse", null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" id="assets" style="display:none">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Assets Flag</label>
                                    <div class="col-md-8">
                                        @Html.DropDownList("DDLAssets", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="All", Value="All" },
                                                new SelectListItem { Text="Assets", Value="Assets" },
                                                new SelectListItem { Text="Non Assets", Value="Non Assets" }
                                            }, new { @class = "form-control select2" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Material</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            @Html.TextArea("TextMaterial", new { @class = "form-control" })
                                            <span class="input-group-btn">
                                                <button type="button" id="btnsearchmat" class="btn btn-link" data-toggle="modal" data-target="#modal-mat">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" id="divforsmr3">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Grouping</label>
                                    <div class="col-md-4">
                                        @Html.DropDownList("DDLGrouping", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="WAREHOUSE", Value="WAREHOUSE" },
                                                new SelectListItem { Text="MATERIAL", Value="MATERIAL" }
                                            }, new { @class = "form-control select2" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" id="divforsmr4" style="display:none;">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Currency</label>
                                    <div class="col-md-4">
                                        @Html.DropDownList("DDLCurrency", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="IDR", Value="IDR" },
                                                new SelectListItem { Text="USD", Value="USD" }
                                            }, new { @class = "form-control select2" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="text-center">
                        <button type="submit" id="btnSubmit" style="display: none;">Submit</button>
                        <button type="button" id="btnViewReport" class="btn btn-primary btn-md"><b>View Report</b></button>
                        <button type="button" id="btnExportPDF" class="btn btn-danger btn-md"><b>Export to PDF</b></button>
                        <button type="button" id="btnExportExcel" class="btn btn-success btn-md"><b>Export to Excel</b></button>
                        <a href="@Url.Action("ReportInPrice/" + ViewBag.FormType.Replace(" ", ""))" type="button" class="btn btn-default btn-md"><b>Clear</b></a>
                    </div>
                </div>
                }
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe id="ReportFrame" src="" style="border: none; width: 100%; height: 1000px;"></iframe>
        </div>
    </div>

    @* MODAL UNTUK MATERIAL *@
    <div class="modal fade" id="modal-mat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="judul">@ViewBag.FormType Data</h4>
                    @Html.Hidden("total-mat")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterMat()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK MATERIAL *@
</section>

@* Ketiga script ini harus ada di semua view *@
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">

    function ChangeBusinessUnit() {
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var DDLWarehouse = $('#DDLWarehouse');
        var FormType = $('#FormType').val();
        $.ajax({
            url: "@(Url.Action("InitDDLWarehouse"))",
            data: { FormType: FormType, DDLBusinessUnit: DDLBusinessUnit},
        cache: false,
        type: "POST",
        success: function (data) {
            if (data.result == "") {
                var markup = "";
                $.each(data.tbl, function (key, val) {
                    markup += "<option value=\'" + val.genoid + "\'>" + val.gendesc + "</option>";
                });
                DDLWarehouse.html(markup).show();
            } else {
                swal('', data.result, 'error');
            }
        },
        error: function (err) {
            swal('', err.responseText, 'error');
        }
    });
    }

    function ChangeType() {
        var DDLType = $('#DDLType').val();
        if (DDLType == "Summary") {
            $('#divforsmr').show();
            $('#divforsmr2').show();
            $('#divforsmr3').show();
            $('#divforsmr4').hide();
            $('#divfordtl').show();
            $('#divforclosing').show();
            $('#divforclosing2').hide();
        } else if (DDLType == "Detail") {
            $('#divforsmr').hide();
            $('#divforsmr2').hide();
            $('#divforsmr3').hide();
            $('#divforsmr4').show();
            $('#divfordtl').hide();
            $('#divforclosing').show();
            $('#divforclosing2').hide();
        } else {
            $('#divforsmr').hide();
            $('#divforsmr2').hide();
            $('#divforsmr3').hide();
            $('#divforsmr4').show();
            $('#divfordtl').show();
            $('#divforclosing').hide();
            $('#divforclosing2').show();
        }
    }

    // Start Material
    $("#btnsearchmat").click(function () {
        var FormType = $('#FormType').val();
        $.ajax({
            url: "@(Url.Action("GetMaterialData"))",
            data: { FormType: FormType },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var table = $("#tblModalMat").DataTable();
                    table.destroy();
                    $("#tblModalMat").empty();

                    var cols = [];
                    $.each(data.tblcols, function (key, val) {
                        var obj = { title: val };
                        cols.push(obj);
                    });

                    var rows = [];
                    var total = 0;
                    $.each(data.tblrows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                        total++;
                    });

                    $('#total-mat').val(total);
                    if (total > 0) {
                        table = $("#tblModalMat").DataTable({
                            "columns": cols,
                            "data": rows,
                            "deferRender": true,
                            "columnDefs": [
                                {
                                    "targets": 0,
                                    "checkboxes": {
                                        "selectRow": false
                                    }
                                }
                            ],
                            "select": {
                                "style": 'multi'
                            },
                            "order": [[1, 'asc']]
                        });
                    }

                } else {
                    swal('', data.result, 'error');
                    $('#modal-mat').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-mat').modal('hide');
            }
        });
    });

    function AddToFilterMat() {
        var ind = 1;

        if (parseInt($('#total-mat').val()) > 0) {
            var result = $("#TextMaterial").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalMat').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result +=  data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextMaterial").val(result);
        }
    }
    // End Material

    $('#btnViewReport').click(function () {
        var FormType = $('#FormType').val();
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var TextMaterial = $('#TextMaterial').val();
        var DDLGrouping = $('#DDLGrouping').val();
        var ReportType = "";
        var DDLWarehouse = $('#DDLWarehouse').val();
        var DDLType = $('#DDLType').val();
        var DDLMonth = $('#DDLMonth').val();
        var DDLYear = $('#DDLYear').val();
        var DDLCurrency = $('#DDLCurrency').val();
        var DDLAssets = $('#DDLAssets').val();


        var AllowNull = false;
        if ($('#AllowNull').is(':checked')) {
            AllowNull = true;
        }

        var ShowAnomali = false;
        if ($('#ShowAnomali').is(':checked')) {
            ShowAnomali = true;
        }

        $.ajax({
            url: "@(Url.Action("PrintReportInPrice"))",
            data: { FormType: FormType, DDLBusinessUnit: DDLBusinessUnit, StartDate: StartDate, EndDate: EndDate, TextMaterial: TextMaterial, DDLGrouping: DDLGrouping, ReportType: ReportType, DDLWarehouse: DDLWarehouse, DDLType: DDLType, DDLAssets: DDLAssets, AllowNull: AllowNull, ShowAnomali: ShowAnomali, DDLMonth: DDLMonth, DDLYear: DDLYear, DDLCurrency: DDLCurrency },
            cache: false,
            type: "POST",
            success: function (data) {
                $('#ReportFrame').attr("src", "@Url.Content("~/Other/ReportViewer.aspx?rptfile=")" + data.rptfile + "");
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });

    $('#btnExportPDF').click(function () {
        $('#ReportType').val('PDF');
        $('#StartDate').val($('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $('#EndDate').val($('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $('#btnSubmit').click();
    });

    $('#btnExportExcel').click(function () {
        $('#ReportType').val('XLS');
        $('#StartDate').val($('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $('#EndDate').val($('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $('#btnSubmit').click();
    });
    $('#btnPrintLabel').click(function () {
        $('#label').show();
    });
    $('#close').click(function () {
        $('#label').hide();
    });

    
</script>