﻿@model RSA.Models.DB.QL_trnwomst
@{
    ViewBag.Title = "Work Order USage Closing";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form WO Usage Closing</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Work Order Usage Closing Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.Hidden("womstoid")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("cmpcode", null, new { @class = "form-control select2"})
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">WO No.</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("wono", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchwo" class="btn btn-flat" data-toggle="modal" data-target="#modal-wo">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">WO Date</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("wodate", new { htmlAttributes = new { @class = "form-control datemask2", @type = "text", @required = "", @readonly = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextArea("womstnote", new { @class = "form-control", @readonly = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                           @Html.Editor("womststatus", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  

                    // USER & TOMBOL ACTION
                    <div class="pull-right">
                        @{
                            <button type="button" class="btn btn-danger btn-md" id="btnProcess"><b>Process</b></button>
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Clear</b></a>
                        }
                    </div>
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK WO NO *@
    <div class="modal fade" id="modal-wo">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Work Order Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalWO" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>WO No</th>
                                    <th>WO Date</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK WO NO *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {


        $("#tblModalWO").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        var tblModalWO = $("#tblModalWO").DataTable();
        tblModalWO.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalWO.row($tr).data();
            var alldata = JSON.parse(data[0]);
            $("#wono").val(alldata.wono);
            $("#womstoid").val(alldata.womstoid);
            $("#wodate").val(moment(jsDate(alldata.wodate)).format('MM/DD/YYYY'));
            $("#womstnote").val(alldata.womstnote);
            $("#womststatus").val(alldata.womststatus);

            $('#modal-wo').modal('hide');
        });
    })

    function ChangeBusinessUnit() {
        $('#womstoid').val(0);
        $('#wono').val("");
        $("#wodate").val("");
        $("#womstnote").val("");
        $("#womststatus").val("");

    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

   
    $("#btnsearchwo").click(function () {
        var cmp = $("#cmpcode").val();
        if (cmp == "")
        {
            swal('Warning', 'Please Select Business Unit first!', 'warning');
            return false;
        }
        var table = $('#tblModalWO').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetWOData"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var rows = [];
                    $.each(data.tbl, function (key, val) {
                        rows.push([
                            JSON.stringify(val),
                            '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                            val.wono,
                            moment(jsDate(val.wodate)).format('MM/DD/YYYY'),
                            val.womstnote
                        ]);
                    });
                    table.rows.add(rows).draw();
                } else {
                    swal('', data.result, 'error');
                    $('#modal-wo').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-wo').modal('hide');
            }
        });
    });

    $("#btnProcess").click(function () {
        event.preventDefault();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var cmp = $('#cmpcode option:selected').val();
        var womstoid = $('#womstoid').val();
        Swal({
            title: 'Are you sure to PROCESS this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Process this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $.ajax({
                        type: "POST",
                        url: "@(Url.Action("SaveData"))",
                        data: { __RequestVerificationToken: token, cmp: cmp, womstoid: womstoid },
                        success: function (data) {
                            if (data.result == 'success') {
                                Swal('Data has been Saved!', data.msg, 'success').then((result) => {
                                    if (result.value) {
                                        location.replace("@(Url.Action("Index"))");
                                    }
                                });
                            } else {
                                Swal('Save data failed!', data.msg, 'error');
                                $("#closing").val('');
                            }
                        },
                        error: function (err) {
                            swal('', err.responseText, 'error');
                        }
                    });
                }, 100)
            }
        })
    });
</script>