﻿@model RSA.Models.DB.QL_approvalperson

@{
    ViewBag.Title = "Set. Approval";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>
        Set. Approval
    </h1>
    <!--<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol> -->
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                <div class="box-header">
                    <h3 class="box-title">Form User</h3>
                </div>
                <!-- /.box-header -->
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @{
                            if (ViewBag.action == "Edit")
                            {
                                @Html.HiddenFor(model => model.apppersonoid)
                                @Html.HiddenFor(model => model.createuser)
                                @Html.HiddenFor(model => model.createtime)
                            }
                        }
                        
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action == "Create" ? "New" : "Update") Data</label>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">User ID <label class="text-red">*</label></label>
                                <div class="col-md-3">
                                    @Html.DropDownList("approvaluser", null, htmlAttributes: new { @id = "approvaluser", @class = "form-control select2", @required = "", @onchange = "profchange()" })
                                    @Html.ValidationMessageFor(model => model.approvaluser, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Nama </label>
                                <div class="col-md-3">
                                    @*@Html.Editor("personname", new { htmlAttributes = new { @id = "personname", @class = "form-control", @type = "text", @value = ViewBag.personname, @required = "", @maxlength = "100" } })*@
                                    <input type="text" id="personname" class="form-control" value="@ViewBag.personname" readonly="readonly"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Form <label class="text-red">*</label></label>
                                <div class="col-md-3">
                                    @Html.DropDownListFor(model => model.tablename, new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="Permintaan Beli Raw Material", Value="QL_prrawmst" },
                                            new SelectListItem { Text="Permintaan Beli Gen Material", Value="QL_prgenmst" },
                                            new SelectListItem { Text="Permintaan Beli Finish Good", Value="QL_pritemmst" },
                                            new SelectListItem { Text="Permintaan Beli Aset", Value="QL_prassetmst" },
                                            new SelectListItem { Text="PO Raw Material", Value="QL_trnporawmst" },
                                            new SelectListItem { Text="PO Gen Material", Value="QL_trnpogenmst" },
                                            new SelectListItem { Text="PO Finish Good", Value="QL_trnpoitemmst" },
                                            new SelectListItem { Text="PO Aset", Value="QL_trnpoassetmst" },
                                            new SelectListItem { Text="Retur Pembelian Raw Material", Value="QL_trnpretrawmst" },
                                            new SelectListItem { Text="Retur Pembelian Gen Material", Value="QL_trnpretgenmst" },
                                            new SelectListItem { Text="Hutang Raw Mat.", Value="QL_trnaprawmst" },
                                            new SelectListItem { Text="Hutang Gen Mat.", Value="QL_trnapgenmst" },
                                            new SelectListItem { Text="Hutang Aset", Value="QL_trnapassetmst" },
                                            new SelectListItem { Text="Stock Opname", Value="QL_trnstockadj" },
                                            new SelectListItem { Text="SO Item", Value="QL_trnsoitemmst" },
                                            new SelectListItem { Text="SO Sheet", Value="QL_trnsorawmst" },
                                            new SelectListItem { Text="Piutang Box", Value="QL_trnaritemmst" },
                                            new SelectListItem { Text="Piutang Sheet", Value="QL_trnarrawmst" },
                                            new SelectListItem { Text="PO Service", Value="QL_trnposervicemst" },
                                            new SelectListItem { Text="AP Service", Value="QL_trnapservicemst" }
                                        }, new { @id = "tablename", @class = "form-control select2", @required = "", @onchange = "changenotevalue()" })
                                    @Html.ValidationMessageFor(model => model.tablename, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.apppersonnote, new { @id = "apppersonnote" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Super User </label>
                                <div class="col-md-3">
                                    @Html.CheckBox("issuperuser", new { htmlAttributes = new { @class = "form-control" } }) @*@Value = "Ya"*@
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Status</label>
                                <div class="col-md-3">
                                    @Html.DropDownListFor(model => model.activeflag, new List<SelectListItem>
                            {
                                    new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                    new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                            }, new { @class = "form-control select2", @required = "" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="pull-left">

                                @{
                                    if (ViewBag.action == "Edit")
                                    {
                                        @:Created by @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                                        @:<br /> Last Update by @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                    }
                                }

                            </div>
                        <div class="pull-right">
                            <a href="@Url.Action("Index")" type="button" class="btn btn-primary btn-md"><b>Back</b></a>
                            <button type="reset" class="btn btn-default btn-md" style="width: 80px;"><b>Cancel</b></button>
                            <button type="submit" name="action" value="@(ViewBag.action)" class="btn btn-success btn-md"><b>Save</b></button>
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    <button type="button" onclick="clickDelete()" class="btn btn-danger btn-md"><b>Delete</b></button>
                                }
                            }
                        </div>
                    </div>
                        <!-- /.box-footer -->
                                }
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script language="javascript" type="text/javascript">

    function clickDelete() {
        var oid = $("#apppersonoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Delete?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                    success: function (data) {
                        if (data.result == 'sukses') {
                            Swal(
                              'Deleted!',
                              'Data has been deleted.',
                              'success'
                            )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                              'Delete Failed!',
                              data.msg,
                              'warning'
                            )
                        }

                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });

            }
        })
    }

    $(document).ready(function () {
        if ("@(ViewBag.action)" == "Edit") {
            $("#profoid").prop("readonly", true)
        }
        changenotevalue();
    })

    function profchange() {
        var profoid = $("#approvaluser").val();
        $.ajax({
            url: "@(Url.Action("getNameProf"))",
            data: { profoid: profoid },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#personname").attr('value', data.personname);
            },
            error: function (reponse) {
                alert("error getNameProf : " + reponse);
            }
        });
    }

    function changenotevalue() {
        var textDDL = $("#tablename option:selected").text();
        $("#apppersonnote").attr('value', textDDL);
    }
</script>

