﻿@model RSA.Models.DB.QL_mstbpsheet

@{
    ViewBag.Title = "Sheet Support";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                <div class="box-header">
                    <h3 class="box-title">Form @ViewBag.Title</h3>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.bpsheetoid)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.Hidden("barang")
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-red">@(ViewBag.action)</label>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Flute</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.flute, new List<SelectListItem>
                                          {
                                              new SelectListItem { Text="BCF", Value="BCF" },
                                              new SelectListItem { Text="BF", Value="BF" },
                                              new SelectListItem { Text="CF", Value="CF" },
                                              new SelectListItem { Text="EF", Value="EF" }
                                            }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kode</label>
                                        <div class="col-md-8">
                                           @Html.EditorFor(model => model.bpsheetcode, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.activeflag, new List<SelectListItem>
                                          {
                                              new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                              new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                                            }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-12 control-label"><u>Borax</u></label>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Barang</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("borax_desc", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-flat" onclick="GetMatData('borax')">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(Model => Model.borax_matrawoid)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Standart /m3</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.borax_price, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Agregat</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.borax_persen, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-flat">
                                                        <i class="fa fa-percent"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">COA</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.borax_acctgoid, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-12 control-label"><u>SB-100 (SODA)</u></label>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Barang</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("soda_desc", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-flat" onclick="GetMatData('soda')">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(Model => Model.soda_matrawoid)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Standart /m3</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.soda_price, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Agregat</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.soda_persen, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-flat">
                                                        <i class="fa fa-percent"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">COA</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.soda_acctgoid, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-12 control-label"><u>Tepung Tapioka Rosebrand</u></label>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Barang</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("tapioka_rb_desc", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-flat" onclick="GetMatData('tapioka_rb')">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(Model => Model.tapioka_rb_matrawoid)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Standart /m3</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.tapioka_rb_price, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Agregat</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.tapioka_rb_persen, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-flat">
                                                        <i class="fa fa-percent"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">COA</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.tapioka_rb_acctgoid, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" style="display:none">
                                <label class="col-md-12 control-label"><u>Tepung Tapioka SG</u></label>
                            </div>

                            <div class="row" style="display:none">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Barang</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("tapioka_sg_desc", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-flat" onclick="GetMatData('tapioka_sg')">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(Model => Model.tapioka_sg_matrawoid)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Price/m3</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.tapioka_sg_price, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">%</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.tapioka_sg_persen, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">COA</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.tapioka_sg_acctgoid, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-12 control-label"><u>Caustic Sodaflakes</u></label>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Barang</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("soda_fl_desc", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-flat" onclick="GetMatData('soda_fl')">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(Model => Model.soda_fl_matrawoid)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Standart /m3</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.soda_fl_price, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Agregat</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.soda_fl_persen, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-flat">
                                                        <i class="fa fa-percent"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">COA</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.soda_fl_acctgoid, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-12 control-label"><u>CMS-431</u></label>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Barang</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("cms_desc", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-flat" onclick="GetMatData('cms')">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(Model => Model.cms_matrawoid)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Standart /m3</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.cms_price, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Agregat</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.cms_persen, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-flat">
                                                        <i class="fa fa-percent"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">COA</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.cms_acctgoid, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-12 control-label"><u>Optional Bahan</u></label>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Barang</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("tapioka_rb2_desc", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-flat" onclick="GetMatData('tapioka_rb2')">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(Model => Model.tapioka_rb2_matrawoid)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Standart /m3</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.tapioka_rb2_price, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Agregat</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.tapioka_rb2_persen, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-flat">
                                                        <i class="fa fa-percent"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">COA</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.tapioka_rb2_acctgoid, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="box-footer">
                        <div class="pull-left">
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:Terakhir Diupdate Oleh @(Html.DisplayFor(m => m.upduser)) Pada @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-success" id="btnSave"><b>Save</b></button>
                            <a href="@Url.Action("Index")" type="button" class="btn btn-primary btn-md"><b>Back</b></a>
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @*<button type="button" onclick="clickDelete()" class="btn btn-danger btn-md"><b>Hapus</b></button>*@
                                }
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-barang">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Material Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalBarang" class="table table-striped" style="width: 100%">
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@*<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        tblModalBarang = $("#tblModalBarang").DataTable({
            "deferRender": true,
            "columns": [
                { data: null, orderable: false, render: function () { return '<button type="button" class="btn btn-link text-primary select">Select</button>'; } },
                { data: 'matrawcode', name: 'matrawcode', title: 'Code' },
                { data: 'matrawlongdesc', name: 'matrawlongdesc', title: 'Description' },
                { data: 'matrawunit', name: 'matrawunit', title: 'Unit' },
            ],
            order: [],
        });
    });

    var url_GetMaterialData = "@(Url.Action("GetMaterialData"))"
    function GetMatData(type) {
        $('#modal-barang').modal('show');
        $("#barang").val(type);
        tblModalBarang.clear().draw();
        $.ajax({
            url: url_GetMaterialData,
            data: { },
            cache: false,
            type: "POST",
            success: function (data) {
                tblModalBarang.rows.add(data).draw();
            },
            error: function (err) {
                console.log(err);
            }
        });
    };
    $("#tblModalBarang").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        alldata = tblModalBarang.row($tr).data();

        var type = $("#barang").val();
        if (type == "borax"){
            $("#borax_desc").val(alldata.matrawlongdesc);
            $("#borax_matrawoid").val(alldata.matrawoid);
        }
        else if (type == "soda"){
            $("#soda_desc").val(alldata.matrawlongdesc);
            $("#soda_matrawoid").val(alldata.matrawoid);
        }
        else if (type == "tapioka_rb"){
            $("#tapioka_rb_desc").val(alldata.matrawlongdesc);
            $("#tapioka_rb_matrawoid").val(alldata.matrawoid);
        }
        else if (type == "tapioka_rb2") {
            $("#tapioka_rb2_desc").val(alldata.matrawlongdesc);
            $("#tapioka_rb2_matrawoid").val(alldata.matrawoid);
        }
        else if (type == "tapioka_sg") {
            $("#tapioka_sg_desc").val(alldata.matrawlongdesc);
            $("#tapioka_sg_matrawoid").val(alldata.matrawoid);
        }
        else if (type == "soda_fl") {
            $("#soda_fl_desc").val(alldata.matrawlongdesc);
            $("#soda_fl_matrawoid").val(alldata.matrawoid);
        }
        else if (type == "cms") {
            $("#cms_desc").val(alldata.matrawlongdesc);
            $("#cms_matrawoid").val(alldata.matrawoid);
        }
        $('#modal-barang').modal('hide');
    });

    $("#btnSave").click(function () {
        event.preventDefault();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var mst = $('form').serializeArray();
        var tbl = {};
        jQuery.map(mst, function (n, i) {
            tbl[n.name] = n.value;
        });
        var action = $('#action').val();

        $.ajax({
            type: "POST",
            url: "@(Url.Action("Form"))",
            data: { __RequestVerificationToken: token, tbl: tbl, action: action },
            success: function (data) {
                if (data.result == 'success') {
                    Swal('Data has been saved!', data.msg, 'success').then((result) => {
                        if (result.value) {
                            location.replace("@(Url.Action("Index"))");
                        }
                    });
                } else {
                    Swal('Save data failed!', data.msg, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });

    function clickDelete() {
        var oid = $("#bpsheetoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Apakah Anda yakin untuk menghapus data ini?',
            text: "Data yang sudah dihapus tidak akan bisa dikembalikan!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Ya, hapus data ini!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                success: function (data) {
                    if (data.result == 'sukses') {
                        Swal(
                          'Terhapus!',
                          'Data sudah dihapus.',
                          'success'
                        )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                          'Gagal menghapus data!',
                          data.msg,
                          'warning'
                        )
                    }

                },
                error: function (error) {
                    console.dir(error)
                }
            });

        }
        })
    }
</script>