﻿@model RSA.Models.DB.QL_trncashbankmst

@{
    ViewBag.Title = "Cash/Bank Overbooking";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Cash/Bank Overbooking</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Cash/Bank Overbooking Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.divgroupoid)
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Divisi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("ddldivgroupoid", null, new { @class = "form-control", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.cmpcode, null, new { @class = "form-control select2", @required = ""})
                                            @Html.ValidationMessageFor(model => model.cmpcode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Cash/Bank Out No.</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.cashbankno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.cashbankoid)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Overbooking Date</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.cashbankdate, new { htmlAttributes = new { @class = "form-control datemask2 datepicker", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.cashbankdate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Account Type</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.cashbanktype, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="CASH", Value="BKK" },
                                                new SelectListItem { Text="BANK", Value="BBK" }
                                            }, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Overbooking From</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.acctgoid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.acctgoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Currency From</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.DropDownListFor(model => model.curroid, null, new { @class = "form-control select2", @required = "" })
                                                @Html.ValidationMessageFor(model => model.curroid, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Currency To</label>
                                        <div class="col-md-4">
                                            @*@Html.DropDownListFor(model => model.curroid_to, null, new { @class = "form-control select2", @required = "" })*@
                                            @*@Html.ValidationMessageFor(model => model.curroid_to, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Rate</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.cashbankresamt, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                                <span class="input-group-addon">
                                                    <i class="control-label" id="lblRateFrom">IDR</i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="display:none">
                                            <div class="input-group">
                                                @*@Html.EditorFor(model => model.cashbankresamt2, new { htmlAttributes = new { @class = "form-control", @type = "text" } })*@
                                                <span class="input-group-addon">
                                                    <i class="control-label" id="lblRateTo">IDR</i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Amount</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="control-label" id="lblTotalAmt">IDR</i>
                                                </span>
                                                @Html.Editor("cashbankdpp", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" id="col_cashbankrefno">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Ref. No. <label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.cashbankrefno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" id="col_cashbankduedate">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Due Date</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.cashbankduedate, new { htmlAttributes = new { @class = "form-control datemask2 datepicker", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.cashbankduedate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">PIC <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.personoid, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.personoid, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Additional Cost On</label>
                                        <div class="col-md-8">
                                            @Html.RadioButton("addcost", true, new {id = "addcost_hdr"}) @Html.Label("Header")
                                            @Html.RadioButton("addcost", false, new {id = "addcost_dtl" }) @Html.Label("Detail")
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*Additional Cost On Header*@
                            <div class="container-fluid" id="col_cost_hdr">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Add Cost 1</label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.addacctgoid1, null, new { @class = "form-control select2" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Cost Amt 1</label>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="control-label" id="lblAddCost1">IDR</i>
                                                    </span>
                                                    @Html.EditorFor(model => model.addacctgamt1, new { htmlAttributes = new { @class = "form-control allownumericwithdecimal", @type = "text" } })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Add Cost 2</label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.addacctgoid2, null, new { @class = "form-control select2" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Cost Amt 2</label>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="control-label" id="lblAddCost2">IDR</i>
                                                    </span>
                                                    @Html.EditorFor(model => model.addacctgamt2, new { htmlAttributes = new { @class = "form-control allownumericwithdecimal", @type = "text" } })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Add Cost 3</label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(model => model.addacctgoid3, null, new { @class = "form-control select2" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Cost Amt 3</label>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="control-label" id="lblAddCost3">IDR</i>
                                                    </span>
                                                    @Html.EditorFor(model => model.addacctgamt3, new { htmlAttributes = new { @class = "form-control allownumericwithdecimal", @type = "text" } })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Amount + Cost</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.cashbankamt, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.cashbankamt, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.cashbanknote, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength="100" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.cashbankstatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.cashbankstatus } })
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>Cash/Bank Overbooking Detail</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.Hidden("seq")
                        <div class="container-fluid">
                            <div class="pull-left">
                                <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Add To List</b></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No</th>
                                        <th></th>
                                        <th>Cash/Bank In No.</th>
                                        <th>Account No.</th>
                                        <th>Account Desc.</th>
                                        <th>Amount</th>
                                        <th>Note</th>
                                        <th></th>
                                        <th>Cost 1</th>
                                        <th>Cost 2</th>
                                        <th>Cost 3</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                                <br/>
                                @:VAR_CASH | VAR_BANK | VAR_GIRO | VAR_ADD_COST | VAR_AYAT_SILANG | VAR_DIFF_CURR_IDR | VAR_GIRO_IN
                            }
                        </div>
                    </div>
                    <div class="pull-right">
                        @{
                            if (Model.cashbankstatus == "In Process")
                            {
                                <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                <button type="button" class="btn btn-primary btn-md" id="btnSaveClose"><b>Save & Close</b></button>
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                if (ViewBag.action == "Update Data")
                                {
                                    <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                }
                                <button type="button" class="btn btn-warning btn-md" id="btnSendForApproval"><b>Posting</b></button>
                            }
                            else
                            {
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                if (Model.cashbankstatus == "Post")
                                {
                                    <button type="button" class="btn btn-primary btn-md" onclick="ShowCOAPosting()" data-toggle="modal" data-target="#modal-showcoa"><b>Show COA</b></button>
                                }
                            }
                        }
                    </div>
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK ADD COST *@
    <div class="modal fade" id="modal-addcost">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Additional Cost On Detail</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalAddCost" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th>Add Cost 1</th>
                                    <th>Cost Amt 1</th>
                                    <th>Add Cost 2</th>
                                    <th>Cost Amt 2</th>
                                    <th>Add Cost 3</th>
                                    <th>Cost Amt 3</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>other</td>
                                    <td><button id="select" type="button" class="btn btn-link text-primary">Select</button></td>
                                    <td>@Html.DropDownList("addacctgoiddtl1", null, new { @class = "form-control select2" })</td>
                                    <td>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="control-label" id="lblAddCostDtl1">IDR</i>
                                            </span>
                                            @Html.Editor("addacctgamtdtl1", new { htmlAttributes = new { @class = "form-control allownumericwithdecimal", @type = "text" } })
                                        </div>
                                    </td>
                                    <td>@Html.DropDownList("addacctgoiddtl2", null, new { @class = "form-control select2" })</td>
                                    <td>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="control-label" id="lblAddCostDtl2">IDR</i>
                                            </span>
                                            @Html.Editor("addacctgamtdtl2", new { htmlAttributes = new { @class = "form-control allownumericwithdecimal", @type = "text" } })
                                        </div>
                                    </td>
                                    <td>@Html.DropDownList("addacctgoiddtl3", null, new { @class = "form-control select2" })</td>
                                    <td>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="control-label" id="lblAddCostDtl3">IDR</i>
                                            </span>
                                            @Html.Editor("addacctgamtdtl3", new { htmlAttributes = new { @class = "form-control allownumericwithdecimal", @type = "text" } })
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK ADD COST *@

    @* MODAL UNTUK FORM DETAIL COA *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Overbooking Acoount</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Account No.</th>
                                    <th>Account Desc</th>
                                    <th>Amount</th>
                                    <th>Detail Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL COA *@

    @* MODAL UNTUK GANTI COA *@
    <div class="modal fade" id="modal-coa">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Overbooking Account</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCOA" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Account No.</th>
                                    <th>Account Desc</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK GANTI COA *@

    @* MODAL UNTUK SHOW COA *@
    <div class="modal fade" id="modal-showcoa">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="col-md-6">
                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 20%;">COA Posting Rate : </td>
                                <td style="width: 40%;">
                                    @Html.DropDownList("ratetype", new List<SelectListItem> {
                                            new SelectListItem { Text="IDR", Value="IDR" },
                                            new SelectListItem { Text="USD", Value="USD" }
                                        }, new { @class = "form-control", @style = "width: 90%;" })
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalShowCOA" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th>Account No.</th>
                                    <th>Account Desc.</th>
                                    <th>Debet</th>
                                    <th>Credit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SHOW COA *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0, 7],
                "visible": false,
                "searchable": false
            }]
        });

        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw(); SetDataDtl(); CountHdrAmount(); FillDetailData();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
            EnabledHeader();
        });
        table.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });
        tblModalDtl.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        tblModalDtl.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        var tblModalCOA = $("#tblModalCOA").DataTable({
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalAddCost = $("#tblModalAddCost").DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        tblModalAddCost.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        var tblModalShowCOA = $("#tblModalShowCOA").DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        $("#cmpcode").change(function () {
            CashBankType();
            InitDDLPerson();
            if ($("#action").val() == "New Data") {
                GenerateMutationNo();
            }
        });

        $("#cashbanktype").change(function () {
            CashBankType();
            if ($("#action").val() == "New Data") {
                GenerateMutationNo();
            }
        });

        $("#cashbankdate").change(function () {
            if ($("#action").val() == "New Data") {
                GenerateMutationNo();
            }
        });

        $("#acctgoid").change(function () {
            if ($("#action").val() == "New Data") {
                GenerateMutationNo();
            }
            if ($("#acctgoid").val() != 0) {
                SetCOACurrency();
            } else {
                $("#curroid").val($("#curroid option:first").val()).trigger("change");
            }
        });

        $("#curroid").change(function () {
            var currcode = $("#curroid").find('option:selected').text();
            //$("#curroid_to").val($("#curroid option:selected").val()).trigger("change");
            $("#lblTotalAmt").text(currcode);
            $("#lblRateFrom").text(currcode);
            $("#lblAddCost1").text(currcode);
            $("#lblAddCost2").text(currcode);
            $("#lblAddCost3").text(currcode);
            $("#lblAddCostDtl1").text(currcode);
            $("#lblAddCostDtl2").text(currcode);
            $("#lblAddCostDtl3").text(currcode);
        })

        //$("#curroid_to").change(function () {
        //    $("#lblRateTo").text($("#curroid_to").find('option:selected').text());
        //})

        $("#ratetype").change(function () {
            $("#modal-showcoa").modal('show');
            ShowCOAPosting();
        })

        InitDDLPerson();
        CashBankType();
        FillDetailData();

        $("#acctgoid option:first").val();
        InitDDLAddCost1("VAR_ADD_COST");
        InitDDLAddCost2("VAR_ADD_COST");
        InitDDLAddCost3("VAR_ADD_COST");

        $("#addacctgamt1").prop("readonly", true);
        $("#addacctgamt2").prop("readonly", true);
        $("#addacctgamt3").prop("readonly", true);
        $("#addacctgoid1").change(function () {
            if ($("#addacctgoid1 option:selected").val() != 0) {
                $("#addacctgamt1").prop("readonly", false);
            } else {
                $("#addacctgamt1").prop("readonly", true);
            }
        })
        $("#addacctgoid2").change(function () {
            if ($("#addacctgoid2 option:selected").val() != 0) {
                $("#addacctgamt2").prop("readonly", false);
            } else {
                $("#addacctgamt2").prop("readonly", true);
            }
        })
        $("#addacctgoid3").change(function () {
            if ($("#addacctgoid3 option:selected").val() != 0) {
                $("#addacctgamt3").prop("readonly", false);
            } else {
                $("#addacctgamt3").prop("readonly", true);
            }
        })

        $("#addacctgamtdtl1").prop("readonly", true);
        $("#addacctgamtdtl2").prop("readonly", true);
        $("#addacctgamtdtl3").prop("readonly", true);
        $("#addacctgoiddtl1").change(function () {
            if ($("#addacctgoiddtl1 option:selected").val() != 0) {
                $("#addacctgamtdtl1").prop("readonly", false);
            } else {
                $("#addacctgamtdtl1").prop("readonly", true);
            }
        })
        $("#addacctgoiddtl2").change(function () {
            if ($("#addacctgoiddtl2 option:selected").val() != 0) {
                $("#addacctgamtdtl2").prop("readonly", false);
            } else {
                $("#addacctgamtdtl2").prop("readonly", true);
            }
        })
        $("#addacctgoiddtl3").change(function () {
            if ($("#addacctgoiddtl3 option:selected").val() != 0) {
                $("#addacctgamtdtl3").prop("readonly", false);
            } else {
                $("#addacctgamtdtl3").prop("readonly", true);
            }
        })

        $("#col_cost_hdr").show();
        if ($("input[name=addcost_dtl]:checked").val()) {
            $("#col_cost_hdr").hide();
        }
    })

    function CashBankType() {
        var sVar = "VAR_CASH";
        $("#curroid").attr("readonly", true);
        $("#acctgoid").attr("readonly", false);
        $("#col_cashbankduedate").hide();
        if ($("#cashbanktype option:selected").val() == "BBK") {
            sVar = "VAR_BANK";
            $("#col_cashbankduedate").show();
            if ($("#action").val() == "New Data") {
                $("#cashbankduedate").val("");
            }
        }
        InitDDLAcctg(sVar);
    }

    function SetCOACurrency() {
        var acctgoid = $("#acctgoid option:selected").val();
        $.ajax({
            url: "@(Url.Action("SetCOACurrency"))",
            data: { acctgoid: acctgoid },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data != 0) {
                    $("#curroid").val(data).trigger("change");
                }
            },
            error: function (err) {
                console.log(err);
            }
        })
    }

    function GenerateMutationNo() {
        var cmpcode = $("#cmpcode option:selected").val();
        var cashbankdate = $("#cashbankdate").val();
        var cashbanktype = $("#cashbanktype").val();
        var acctgoid = $("#acctgoid option:selected").val();
        $.ajax({
            url: "@(Url.Action("GenerateMutationNo"))",
            data: { cmp: cmpcode, cashbankdate: cashbankdate, cashbanktype: cashbanktype, acctgoid: acctgoid },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#cashbankno").val(data);
            },
            error: function (err) {
                console.log(err);
            }
        })
    }

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.cashbankglseq,
                    '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                    val.cashbankno_in,
                    val.acctgcode,
                    val.acctgdesc,
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="cashbankglamt-' + val.cashbankglseq + '" name="cashbankglamt-' + val.cashbankglseq + '" value="' + val.cashbankglamt + '" onchange="CountDtlAmount(' + val.cashbankglseq + ')">',
                    '<input type="text" class="form-control" style="max-width: 150px" id="cashbankglnote-' + val.cashbankglseq + '" name="cashbankglnote-' + val.cashbankglseq + '" value="' + (val.cashbankglnote == null ? "" : val.cashbankglnote) + '">',
                    '<button id="editaddcost" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="addacctgamtdtl1-' + val.cashbankglseq + '" name="addacctgamtdtl1-' + val.cashbankglseq + '" value="' + val.addacctgamtdtl1 + '" title="' + val.addacctgdescdtl1 + '">',
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="addacctgamtdtl2-' + val.cashbankglseq + '" name="addacctgamtdtl2-' + val.cashbankglseq + '" value="' + val.addacctgamtdtl2 + '" title="' + val.addacctgdescdtl2 + '">',
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="addacctgamtdtl3-' + val.cashbankglseq + '" name="addacctgamtdtl3-' + val.cashbankglseq + '" value="' + val.addacctgamtdtl3 + '" title="' + val.addacctgdescdtl3 + '">',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                CountHdrAmount();
                EnabledHeader();
            }, 100);
        });
    }

    function InitDDLAcctg(sVar) {
        var cmp = $("#cmpcode option:selected").val();
        var acctgoid = $("#acctgoid");
        var acctgoid_sel = $("#acctgoid option:selected").val();
        var sVal = true;
        acctgoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { cmp: cmp, sVar: sVar},
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value=0>NONE</option>";
            if (sVal) {
                var isExist = false;
                $.each(data, function (key, val) {
                    markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                    if (val.acctgoid == acctgoid_sel) {
                        isExist = true;
                    }
                });
                console.log(data.tbl);
                acctgoid.html(markup).show();
                if (isExist == true) {
                    acctgoid.val(acctgoid_sel);
                }
                acctgoid.trigger('change');
                if ($("#action").val() == "New Data") {
                    GenerateMutationNo();
                }
            } else {
                acctgoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function InitDDLAddCost1(sVar) {
        var cmp = $("#cmpcode option:selected").val();
        var addacctgoid1 = $("#addacctgoid1");
        var addacctgoid1_sel = $("#addacctgoid1 option:selected").val();
        var addacctgoiddtl1 = $("#addacctgoiddtl1");
        var addacctgoiddtl1_sel = $("#addacctgoiddtl1 option:selected").val();
        var sVal = true;
        addacctgoid1.html("<option value=''>Please Wait!!!</option>").show();
        addacctgoiddtl1.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { cmp: cmp, sVar: sVar},
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>NONE</option>";
                if (sVal) {
                    var isExist = false;
                    var isExistDtl = false;
                    $.each(data, function (key, val) {
                        markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                        if (val.acctgoid == addacctgoid1_sel) {
                            isExist = true;
                        }
                        if (val.acctgoid == addacctgoiddtl1_sel) {
                            isExistDtl = true;
                        }
                    });
                    console.log(data.tbl);
                    addacctgoid1.html(markup).show();
                    addacctgoiddtl1.html(markup).show();
                    if (isExist == true) {
                        addacctgoid1.val(addacctgoid1_sel);
                    }
                    if (isExistDtl == true) {
                        addacctgoiddtl1.val(addacctgoiddtl1_sel);
                    }
                    addacctgoid1.trigger('change');
                    addacctgoiddtl1.trigger('change');
                } else {
                    addacctgoid1.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                    addacctgoiddtl1.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function InitDDLAddCost2(sVar) {
        var cmp = $("#cmpcode option:selected").val();
        var addacctgoid2 = $("#addacctgoid2");
        var addacctgoid2_sel = $("#addacctgoid2 option:selected").val();
        var addacctgoiddtl2 = $("#addacctgoiddtl2");
        var addacctgoiddtl2_sel = $("#addacctgoiddtl2 option:selected").val();
        var sVal = true;
        addacctgoid2.html("<option value=''>Please Wait!!!</option>").show();
        addacctgoiddtl2.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { cmp: cmp, sVar: sVar},
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>NONE</option>";
                if (sVal) {
                    var isExist = false;
                    var isExistDtl = false;
                    $.each(data, function (key, val) {
                        markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                        if (val.acctgoid == addacctgoid2_sel) {
                            isExist = true;
                        }
                        if (val.acctgoid == addacctgoiddtl2_sel) {
                            isExistDtl = true;
                        }
                    });
                    console.log(data.tbl);
                    addacctgoid2.html(markup).show();
                    addacctgoiddtl2.html(markup).show();
                    if (isExist == true) {
                        addacctgoid2.val(addacctgoid2_sel);
                    }
                    if (isExistDtl == true) {
                        addacctgoiddtl2.val(addacctgoiddtl2_sel);
                    }
                    addacctgoid2.trigger('change');
                    addacctgoiddtl2.trigger('change');
                } else {
                    addacctgoid2.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                    addacctgoiddtl2.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function InitDDLAddCost3(sVar) {
        var cmp = $("#cmpcode option:selected").val();
        var addacctgoid3 = $("#addacctgoid3");
        var addacctgoid3_sel = $("#addacctgoid3 option:selected").val();
        var addacctgoiddtl3 = $("#addacctgoiddtl3");
        var addacctgoiddtl3_sel = $("#addacctgoiddtl3 option:selected").val();
        var sVal = true;
        addacctgoid3.html("<option value=''>Please Wait!!!</option>").show();
        addacctgoiddtl3.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { cmp: cmp, sVar: sVar},
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>NONE</option>";
                if (sVal) {
                    var isExist = false;
                    var isExistDtl = false;
                    $.each(data, function (key, val) {
                        markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                        if (val.acctgoid == addacctgoid3_sel) {
                            isExist = true;
                        }
                        if (val.acctgoid == addacctgoiddtl3_sel) {
                            isExistDtl = true;
                        }
                    });
                    console.log(data.tbl);
                    addacctgoid3.html(markup).show();
                    addacctgoiddtl3.html(markup).show();
                    if (isExist == true) {
                        addacctgoid3.val(addacctgoid3_sel);
                    }
                    if (isExistDtl == true) {
                        addacctgoiddtl3.val(addacctgoiddtl3_sel);
                    }
                    addacctgoid3.trigger('change');
                    addacctgoiddtl3.trigger('change');
                } else {
                    addacctgoid3.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                    addacctgoiddtl3.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function InitDDLPerson() {
        var cmp = $("#cmpcode option:selected").val();
        var personoid = $("#personoid");
        var personoid_sel = $("#personoid option:selected").val();
        personoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLPerson"))",
            data: { cmp: cmp},
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.personoid + "\'>" + val.personname + "</option>";
                        if (val.personoid == personoid_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    personoid.html(markup).show();
                    if (isExist == true) {
                        personoid.val(personoid_sel);
                    }
                    personoid.trigger('change');
                } else {
                    personoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        $('input[name=addcost]:not(:checked)').attr('disabled', bVal);
        $("#cmpcode").attr("readonly", bVal);
        $("#acctgoid").attr("readonly", bVal);
        $("#cashbanktype").attr("readonly", bVal);
        $("#btnsearchsupp").attr("disabled", bVal);
        $("#btnsearchdp").attr("disabled", bVal);
        $("#divgroupoid").val($('#ddldivgroupoid option:Selected').val());
        $("#ddldivgroupoid").attr("disabled", bVal);
    }

    function CountHdrAmount() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var dVal = 0;
        if (data.length > 0) {
            for (var i = 0; i < data.length; i++) {
                var alldata = JSON.parse(data[i][0]);
                dVal += parseFloat(alldata.cashbankglamt);
            }
        }
        $("#cashbankdpp").val(dVal);
        var cashbankamt = 0;
        var cashbankgrandtotal = parseFloat($("#cashbankdpp").val()) + parseFloat($("#addacctgamt1").val()) + parseFloat($("#addacctgamt2").val()) + parseFloat($("#addacctgamt3").val());
        if (isNaN(cashbankgrandtotal)) {
            cashbankgrandtotal = 0;
        }
        $("#cashbankamt").val(cashbankgrandtotal);
    }

    function CountDtlAmount(id) {
        var table = $('#DataDtl').DataTable();
        var data = table.row(id - 1).data();
        var alldata = JSON.parse(data[0]);
        var cashbankglamt_id = "#cashbankglamt-" + id;
        var cashbankglamt = table.$(cashbankglamt_id).val();

        alldata.cashbankglamt = cashbankglamt;
        data[0] = JSON.stringify(alldata);
        data[6] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="cashbankglamt-' + id + '" name="cashbankglamt-' + id + '" value="' + alldata.cashbankglamt + '" onchange="CountDtlAmount(' + id + ')">';

        table.row(id - 1).data(data).invalidate();
        CountHdrAmount();
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    function ShowCOAPosting() {
        var table = $('#tblModalShowCOA').DataTable();
        var cmpcode = $("#cmpcode option:selected").val();
        var cashbankno = $("#cashbankno").val();
        var ratetype = $("#ratetype option:selected").val();
        var glother1 = "QL_trncashbankmst " + $("#cashbankoid").val();

        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("ShowCOAPosting"))",
            data: { cashbankno: cashbankno, cmpcode: cmpcode, ratetype: ratetype, glother1: glother1 },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        val.acctgcode,
                        val.acctgdesc,
                        val.acctgdebet,
                        val.acctgcredit,
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function AddToDetail() {
        var isValid = true;
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            var data = table.row(val - 1).data();
            var alldata = JSON.parse(data[0]);
            var cashbankglamt_id = "#cashbankglamt-" + val;
            var cashbankglnote_id = "#cashbankglnote-" + val;
            var cashbankglamt = table.$(cashbankglamt_id).val();
            var cashbankglnote = table.$(cashbankglnote_id).val();
            if (!IsOnDtl(alldata.acctgoid, alldata.cashbankglnote)) {
                var id = tbldtl.rows().data().length + 1;
                var obj = {
                    cashbankglseq: id,
                    acctgoid: alldata.acctgoid,
                    acctgcode: alldata.acctgcode,
                    acctgdesc: alldata.acctgdesc,
                    cashbankglamt: cashbankglamt,
                    cashbankglnote: cashbankglnote,
                    addacctgoiddtl1: alldata.addacctgoiddtl1,
                    addacctgoiddtl2: alldata.addacctgoiddtl2,
                    addacctgoiddtl3: alldata.addacctgoiddtl3,
                    addacctgamtdtl1: alldata.addacctgamtdtl1,
                    addacctgamtdtl2: alldata.addacctgamtdtl2,
                    addacctgamtdtl3: alldata.addacctgamtdtl3,
                    addacctgdescdtl1: alldata.addacctgdescdtl1,
                    addacctgdescdtl2: alldata.addacctgdescdtl2,
                    addacctgdescdtl3: alldata.addacctgdescdtl3,
                };
                tbldtl.row.add([
                    JSON.stringify(obj),
                    id,
                    '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                    alldata.cashbankno_in,
                    alldata.acctgcode,
                    alldata.acctgdesc,
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="cashbankglamt-' + id + '" name="cashbankglamt-' + id + '" value="' + cashbankglamt + '" onchange="CountDtlAmount(' + id + ')">',
                    '<input type="text" class="form-control" style="max-width: 150px" id="cashbankglnote-' + id + '" name="cashbankglnote-' + id + '" value="' + (cashbankglnote == null ? "" : cashbankglnote) + '">',
                    '<button id="editaddcost" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="addacctgamtdtl1-' + id + '" name="addacctgamtdtl1-' + id + '" value="' + alldata.addacctgamtdtl1 + '" title="' + alldata.addacctgdescdtl1 + '">',
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="addacctgamtdtl2-' + id + '" name="addacctgamtdtl2-' + id + '" value="' + alldata.addacctgamtdtl2 + '" title="' + alldata.addacctgdescdtl2 + '">',
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="addacctgamtdtl3-' + id + '" name="addacctgamtdtl3-' + id + '" value="' + alldata.addacctgamtdtl3 + '" title="' + alldata.addacctgdescdtl3 + '">',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]).draw();
                CountHdrAmount();
            }
        });
        SetDataDtl();
        EnabledHeader();
    }

    function IsOnDtl(acctgoid, cashbankglnote) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if ((acctgoid == alldata.acctgoid) && (cashbankglnote == alldata.cashbankglnote)) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var cashbankglamt_id = "#cashbankglamt-" + alldata.cashbankglseq;
            var cashbankglnote_id = "#cashbankglnote-" + alldata.cashbankglseq;;
            var addacctgamtdtl1_id = "#addacctgamtdtl1-" + alldata.cashbankglseq;
            var addacctgamtdtl2_id = "#addacctgamtdtl2-" + alldata.cashbankglseq;
            var addacctgamtdtl3_id = "#addacctgamtdtl3-" + alldata.cashbankglseq;
            var cashbankglamt = table.$(cashbankglamt_id).val();
            var cashbankglnote = table.$(cashbankglnote_id).val();
            var addacctgamtdtl1 = table.$(addacctgamtdtl1_id).val();
            var addacctgamtdtl2 = table.$(addacctgamtdtl2_id).val();
            var addacctgamtdtl3 = table.$(addacctgamtdtl3_id).val();
            var obj = {
                cashbankglseq: i + 1,
                acctgoid: alldata.acctgoid,
                acctgcode: alldata.acctgcode,
                acctgdesc: alldata.acctgdesc,
                cashbankglamt: cashbankglamt,
                cashbankglnote: cashbankglnote,
                addacctgoiddtl1: alldata.addacctgoiddtl1,
                addacctgoiddtl2: alldata.addacctgoiddtl2,
                addacctgoiddtl3: alldata.addacctgoiddtl3,
                addacctgamtdtl1: addacctgamtdtl1,
                addacctgamtdtl2: addacctgamtdtl2,
                addacctgamtdtl3: addacctgamtdtl3,
                addacctgdescdtl1: alldata.addacctgdescdtl1,
                addacctgdescdtl2: alldata.addacctgdescdtl2,
                addacctgdescdtl3: alldata.addacctgdescdtl3,
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    function ResetAddCost() {
        $("#addacctgoid1").val($("#addacctgoid1 option:first").val()).trigger("change");
        $("#addacctgoid2").val($("#addacctgoid2 option:first").val()).trigger("change");
        $("#addacctgoid3").val($("#addacctgoid3 option:first").val()).trigger("change");
        $("#addacctgoiddtl1").val($("#addacctgoiddtl1 option:first").val()).trigger("change");
        $("#addacctgoiddtl2").val($("#addacctgoiddtl2 option:first").val()).trigger("change");
        $("#addacctgoiddtl3").val($("#addacctgoiddtl3 option:first").val()).trigger("change");
        $("#addacctgamt1").val(0);
        $("#addacctgamt2").val(0);
        $("#addacctgamt3").val(0);
        $("#addacctgamtdtl1").val(0);
        $("#addacctgamtdtl2").val(0);
        $("#addacctgamtdtl3").val(0);
    }

    $("#addcost_hdr").click(function () {
        $("#col_cost_hdr").show();
        ResetAddCost();
        $("#addcost").prop("checked", true);
    });

    $("#addcost_dtl").click(function () {
        $("#col_cost_hdr").hide();
        ResetAddCost();
        $("#addcost").prop("checked", false);
    });

    $("#btnAddToList").click(function () {
        if ($("#acctgoid option:selected").val() == 0) {
            Swal('WARNING!', 'Please Select Overbooking From Account Field!', 'warning');
            return false;
        }
        var table = $('#tblModalDtl').DataTable();
        var cmp = $("#cmpcode option:selected").val();
        var sVar = ["VAR_CASH", "VAR_BANK"];
        var sFilter = "";
        table.column(1).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("BindListCOADtl"))",
            data: { cmp: cmp, sVar: sVar, sFilter: sFilter},
            cache: false,
            type: "POST",
            success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                //var obj = {
                //    acctgoid: val.acctgoid,
                //    acctgcode: val.acctgcode,
                //    acctgdesc: val.acctgdesc,
                //    cashbankglamt: val.cashbankglamt,
                //    cashbankglnote: val.cashbankglnote,
                //    addacctgoiddtl1: val.addacctgoiddtl1,
                //    addacctgoiddtl2: val.addacctgoiddtl2,
                //    addacctgoiddtl3: val.addacctgoiddtl3,
                //    addacctgamtdtl1: val.addacctgamtdtl1,
                //    addacctgamtdtl2: val.addacctgamtdtl2,
                //    addacctgamtdtl3: val.addacctgamtdtl3,
                //    addacctgdescdtl1: val.addacctgdescdtl1,
                //    addacctgdescdtl2: val.addacctgdescdtl2,
                //    addacctgdescdtl3: val.addacctgdescdtl3,
                //}
                rows.push([
                    JSON.stringify(val),
                    ++i,
                    val.acctgcode,
                    val.acctgdesc,
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="cashbankglamt-' + i + '" name="cashbankglamt-' + i + '" value="' + (val.cashbankglamt == 0 ? "" : val.cashbankglamt) + '" onchange="CountDtlAmount(' + i + ')">',
                    '<input type="text" class="form-control" style="max-width: 150px" id="cashbankglnote-' + i + '" name="cashbankglnote-' + i + '" value="' + (val.cashbankglnote == null ? "" : val.cashbankglnote) + '">'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
        });
    });

    $('#DataDtl').on('click', '#edit', function () {
        var tbldtl = $('#DataDtl').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = tbldtl.row($tr).data();
        var alldata = JSON.parse(data[0]);
        $("#seq").val(alldata.cashbankglseq - 1);
        $('#modal-coa').modal('show');

        var table = $('#tblModalCOA').DataTable();
        var cmp = $("#cmpcode option:selected").val();
        var sVar = ["VAR_CASH", "VAR_BANK"];
        var sFilter = "";
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("BindListCOADtl"))",
            data: { cmp: cmp, sVar: sVar, sFilter: sFilter },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.acctgcode,
                        val.acctgdesc
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#tblModalCOA").on('click', '#select', function () {
        var table = $('#tblModalCOA').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = table.row($tr).data();
        var alldata = JSON.parse(data[0]);

        var tbldtl = $('#DataDtl').DataTable();
        var datadtl = tbldtl.row($('#seq').val()).data();
        var alldatadtl = JSON.parse(datadtl[0]);
        if (alldata.cashbankglamt = 0) {
            Swal({
                text: 'Amount cannot be 0',
                type: 'warning'
            });
            return false
        }
        var iSeq = parseInt($('#seq').val()) + 1;
        alldata.cashbankglamt = 0;
        alldata.cashbankglnote = "";
        alldata.addacctgoiddtl1 = $("#addacctgoiddtl1 option:selected").val();
        alldata.addacctgoiddtl2 = $("#addacctgoiddtl2 option:selected").val();
        alldata.addacctgoiddtl3 = $("#addacctgoiddtl3 option:selected").val();
        alldata.addacctgamtdtl1 = $("#addacctgamtdtl1").val();
        alldata.addacctgamtdtl2 = $("#addacctgamtdtl2").val();
        alldata.addacctgamtdtl3 = $("#addacctgamtdtl3").val();
        alldata.cashbankno_in = "";
        var obj = {
            cashbankglseq: iSeq,
            cashbankno_in: alldata.cashbankno_in,
            acctgoid: alldata.acctgoid,
            acctgcode: alldata.acctgcode,
            acctgdesc: alldata.acctgdesc,
            cashbankglamt: alldata.cashbankglamt,
            cashbankglnote: alldata.cashbankglnote,
            addacctgoiddtl1: alldata.addacctgoiddtl1,
            addacctgoiddtl2: alldata.addacctgoiddtl2,
            addacctgoiddtl3: alldata.addacctgoiddtl3,
            addacctgamtdtl1: alldata.addacctgamtdtl1,
            addacctgamtdtl2: alldata.addacctgamtdtl2,
            addacctgamtdtl3: alldata.addacctgamtdtl3,
        };

        datadtl[0] = JSON.stringify(obj);
        datadtl[3] = alldata.cashbankno_in;
        datadtl[4] = alldata.acctgcode;
        datadtl[5] = alldata.acctgdesc;
        datadtl[6] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="cashbankglamt-' + iSeq + '" name="cashbankglamt-' + iSeq + '" value="' + alldata.cashbankglamt + '" onchange="CountDtlAmount(' + iSeq + ')">';
        datadtl[7] = '<input type="text" class="form-control" style="max-width: 150px" id="cashbankglnote-' + iSeq + '" name="cashbankglnote-' + iSeq + '" value="' + (alldata.cashbankglnote == null ? "" : alldata.cashbankglnote) + '">';
        datadtl[9] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="addacctgamtdtl1-' + iSeq + '" name="addacctgamtdtl1-' + iSeq + '" value="' + alldata.addacctgamtdtl1 + '" onchange="CountDtlAmount(' + iSeq + ')">';
        datadtl[10] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="addacctgamtdtl2-' + iSeq + '" name="addacctgamtdtl2-' + iSeq + '" value="' + alldata.addacctgamtdtl2 + '" onchange="CountDtlAmount(' + iSeq + ')">';
        datadtl[11] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="addacctgamtdtl3-' + iSeq + '" name="addacctgamtdtl3-' + iSeq + '" value="' + alldata.addacctgamtdtl3 + '" onchange="CountDtlAmount(' + iSeq + ')">';

        tbldtl.row($('#seq').val()).data(datadtl).invalidate();
        CountHdrAmount();
        $('#modal-coa').modal('hide');
    });

    $('#DataDtl').on('click', '#editaddcost', function () {
        //if ($("#addcost_hdr").prop("checked", true)) {
        //    Swal('WARNING!', 'Please set Additional Cost On Detail first', 'warning');
        //    return false;
        //}
        var tbldtl = $('#DataDtl').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = tbldtl.row($tr).data();
        var alldata = JSON.parse(data[0]);
        $("#seq").val(alldata.cashbankglseq - 1);
        $('#modal-addcost').modal('show');

        var table = $('#tblModalAddCost').DataTable();
    });

    $("#tblModalAddCost").on('click', '#select', function () {
        var table = $('#tblModalAddCost').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = table.row($tr).data();

        var tbldtl = $('#DataDtl').DataTable();
        var datadtl = tbldtl.row($('#seq').val()).data();
        var alldatadtl = JSON.parse(datadtl[0]);
        var iSeq = parseInt($('#seq').val()) + 1;

        var addacctgoiddtl1 = $("#addacctgoiddtl1 option:selected").val();
        var addacctgoiddtl2 = $("#addacctgoiddtl2 option:selected").val();
        var addacctgoiddtl3 = $("#addacctgoiddtl3 option:selected").val();
        var addacctgamtdtl1 = $("#addacctgamtdtl1").val();
        var addacctgamtdtl2 = $("#addacctgamtdtl2").val();
        var addacctgamtdtl3 = $("#addacctgamtdtl3").val();

        alldatadtl.addacctgoiddtl1= addacctgoiddtl1;
        alldatadtl.addacctgoiddtl2= addacctgoiddtl2;
        alldatadtl.addacctgoiddtl3= addacctgoiddtl3;
        alldatadtl.addacctgamtdtl1= addacctgamtdtl1;
        alldatadtl.addacctgamtdtl2= addacctgamtdtl2;
        alldatadtl.addacctgamtdtl3 = addacctgamtdtl3;
        alldatadtl.addacctgdescdtl1 = $("#addacctgoiddtl1").find("option:selected").text();
        alldatadtl.addacctgdescdtl2 = $("#addacctgoiddtl2").find("option:selected").text();;
        alldatadtl.addacctgdescdtl3 = $("#addacctgoiddtl3").find("option:selected").text();;

        datadtl[0] = JSON.stringify(alldatadtl);
        datadtl[9] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="addacctgamtdtl1-' + iSeq + '" name="addacctgamtdtl1-' + iSeq + '" value="' + addacctgamtdtl1 + '" title="' + alldatadtl.addacctgdescdtl1 + '">';
        datadtl[10] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="addacctgamtdtl2-' + iSeq + '" name="addacctgamtdtl2-' + iSeq + '" value="' + addacctgamtdtl2 + '" title="' + alldatadtl.addacctgdescdtl2 + '">';
        datadtl[11] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="addacctgamtdtl3-' + iSeq + '" name="addacctgamtdtl3-' + iSeq + '" value="' + addacctgamtdtl3 + '" title="' + alldatadtl.addacctgdescdtl3 + '">';

        tbldtl.row($('#seq').val()).data(datadtl).invalidate();
        $('#modal-addcost').modal('hide');
    })

    $("#btnSave").click(function () {
        SetDataDtl();
    });

    $("#btnSaveClose").click(function () {
        $("#closing").val("true");
        $("#btnSave").click();
    });

    $("#btnDelete").click(function () {
        var oid = $("#cashbankoid").val();
        var cmp = $("#cmpcode option:selected").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnSendForApproval").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to POST this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Post this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#cashbankstatus").val("Post");
                    $("#closing").val("true");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>