﻿@model IEnumerable<RSA.Controllers.CashBankOverbookingController.cashbankmst>

@{
    ViewBag.Title = "Cash/Bank Overbooking";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //var servertime = MIS_MVC.Controllers.ClassFunction.GetServerTime();
}

<section class="content-header">
    <h1>List Of Cash/Bank Overbooking</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <p>
                        @Html.ActionLink("Create New", "Form")
                    </p>
                </div>
                <div class="box-body">
                    @Html.Hidden("isCollapse")
                    @Html.Partial("~/Views/Shared/_FilterList.cshtml")
                    <div class="row">
                       
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th>Cash/Bank Out No.</th>
                                        <th>Cash/Bank In No.</th>
                                        <th>Overbooking Date</th>
                                        <th>Divisi</th>
                                        <th>Type</th>
                                        <th>Overbooking From</th>
                                        <th>Overbooking To</th>
                                        <th>PIC</th>
                                        <th>Amount</th>
                                        <th>Status</th>
                                        <th>Note</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var i in Model)
                                        {
                                            <tr>
                                                <td class="text-center"><a href="Form/@Html.DisplayFor(m => i.cashbankoid)" class="text-primary">@Html.DisplayFor(m => i.cashbankno)</a></td>
                                                <td>@Html.DisplayFor(m => i.cashbankno_in)</td>
                                                <td class="text-center">@Html.DisplayFor(m => i.cashbankdate)</td>
                                                <td>@Html.DisplayFor(m => i.divgroup)</td>
                                                <td>@Html.DisplayFor(m => i.cashbanktype)</td>
                                                <td>@Html.DisplayFor(m => i.acctgdesc)</td>
                                                <td>@Html.DisplayFor(m => i.acctgdesc_in)</td>
                                                <td>@Html.DisplayFor(m => i.personname)</td>
                                                <td class="text-right">@Html.DisplayFor(m => i.cashbankamt)</td>
                                                <td class="text-center">@Html.DisplayFor(m => i.cashbankstatus)</td>
                                                <td>@Html.DisplayFor(m => i.cashbanknote)</td>
                                                <td class="text-center"><button title="Print" type="button" class="btn btn-sm btn-primary" onclick="PrintReport(@Html.DisplayFor(m => i.cashbankoid), '@Html.DisplayFor(m => i.cmpcode)')"><i class="fa fa-print"></i></button></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var isvisible = true;
        var displaycol = $('#DisplayCol').val();
        if (displaycol == "normal")
            //isvisible = true;
        $('#datatable').DataTable ({
            "columnDefs": [
                {
                    "targets": [1],
                    "visible": isvisible,
                    "searchable": isvisible
                }
            ]
        });
    });

  
    function PrintReport(id, cmp) {
        var printtype = document.getElementById("printtype").value;
        window.location.assign("@Url.Action("PrintReport")?id=" + id + "&cmp=" + cmp + "&printtype=" + printtype + "");
    };
</script>