﻿@model RSA.Models.DB.QL_msttol

@{
    ViewBag.Title = "TOL";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    string CompnyCode = System.Configuration.ConfigurationManager.AppSettings["CompnyCode"];
}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Toleransi Form 
        </h1>

    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary form-horizontal">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                                    <!-- /.box-header -->
                        <div class="box-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.cmpcode)
                            @Html.HiddenFor(model => model.toloid)
                            @Html.HiddenFor(model => model.createuser)
                            @Html.HiddenFor(model => model.createtime)
                            @Html.Hidden("action")
                            <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
                            @*<form action="#" method="post" role="form">                                
                            </form>*@

                            <div class="box-body">
                                <div class="row">
                                    <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Box</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.boxoid, null, new { @id = "boxoid", @class = "form-control select2" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-4">Flute</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.tfoid, null, new { @id = "tfoid", @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div><br>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4">Catatan </label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.note, htmlAttributes: new { @class = "form-control", @type = "text", @maxlength = "100" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-4">Status</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.status, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                                new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                                              }, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                                <br>

                                <div class="box-body">
                                    <div class="box-header">
                                        <h4 class="box-title"><b>Toleransi Panjang</b></h4>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4" style="padding-top: 10px;">
                                            <label>Lidah<b style="color: red">*</b></label>
                                        </div>
                                        <div class="col-lg-4">
                                            @Html.EditorFor(model => model.tollidah, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", onchange = "myFunction()" } })
                                            @Html.ValidationMessageFor(model => model.tollidah, "", new { @id = "bankname", @class = "text-danger" })
                                        </div>
                                    </div>
                                </div><br>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4" style="padding-top: 10px;">
                                            <label>Panjang1<b style="color: red">*</b></label>
                                        </div>
                                        <div class="col-lg-4">
                                            @Html.EditorFor(model => model.tolpp1, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100", onchange = "myFunction()" } })
                                            @Html.ValidationMessageFor(model => model.tolpp1, "", new { @id = "tolpp1", @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-4" style="padding-top: 10px;">
                                            <label>Lebar1<b style="color: red">*</b></label>
                                        </div>
                                        <div class="col-lg-4">
                                            @Html.EditorFor(model => model.tolpl1, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100", onchange = "myFunction()" } })
                                            @Html.ValidationMessageFor(model => model.tolpl1, "", new { @id = "tolpl1", @class = "text-danger" })
                                        </div>
                                    </div>
                                </div><br>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4" style="padding-top: 10px;">
                                            <label>Panjang2<b style="color: red">*</b></label>
                                        </div>
                                        <div class="col-lg-4">
                                           @Html.EditorFor(model => model.tolpp2, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100", onchange = "myFunction()" } })
                                        @Html.ValidationMessageFor(model => model.tolpp2, "", new { @id = "tolpp2", @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-4" style="padding-top: 10px;">
                                            <label>Lebar2<b style="color: red">*</b></label>
                                        </div>
                                        <div class="col-lg-4">
                                            @Html.EditorFor(model => model.tolpl2, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100", onchange = "myFunction()" } })
                                            @Html.ValidationMessageFor(model => model.tolpl2, "", new { @id = "tolpl2", @class = "text-danger" })
                                        </div>
                                    </div>
                                </div><br>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4" style="padding-top: 10px;">
                                            <label>Trim Fx<b style="color: red">*</b></label>
                                        </div>
                                        <div class="col-lg-4">
                                            @Html.EditorFor(model => model.tolptrim, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", onchange = "myFunction()" } })
                                            @Html.ValidationMessageFor(model => model.tolptrim, "", new { @id = "tolptrim", @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-4" style="padding-top: 10px;">
                                            <label>Total</label>
                                        </div>
                                        <div class="col-lg-4">
                                            <input class="form-control" type="text" id="totaltolp" readonly>
                                        </div>
                                    </div>
                                </div><br>

                                <div class="box-body">
                                    <div class="box-header">
                                        <h4 class="box-title"><b>Toleransi Lebar</b></h4>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4" style="padding-top: 10px;">
                                            <label>Flap1<b style="color: red">*</b></label>
                                        </div>
                                        <div class="col-lg-4">
                                            @Html.EditorFor(model => model.tolflap1, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", onchange = "myFunction1()" } })
                                            @Html.ValidationMessageFor(model => model.tolflap1, "", new { @id = "tolflap1", @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-4" style="padding-top: 10px;">
                                            <label>Tinggi<b style="color: red">*</b></label>
                                        </div>
                                        <div class="col-lg-4">
                                            @Html.EditorFor(model => model.tolltinggi, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", onchange = "myFunction1()" } })
                                            @Html.ValidationMessageFor(model => model.tolltinggi, "", new { @id = "tolltinggi", @class = "text-danger" })
                                        </div>
                                    </div>
                                </div><br>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="col-lg-4" style="padding-top: 10px;">
                                            <label>Flap2</label>
                                        </div>
                                        <div class="col-lg-4">
                                            @Html.EditorFor(model => model.tolflap2, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100", onchange = "myFunction1()" } })
                                            @Html.ValidationMessageFor(model => model.tolflap2, "", new { @id = "tolflap2", @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-4" style="padding-top: 10px;">
                                            <label>Total</label>
                                        </div>
                                        <div class="col-lg-4">
                                            <input class="form-control" type="text" id="totaltoll" readonly>
                                        </div>
                                    </div>
                                </div><br>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-sm-12">

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="box-footer">
                            <div class="pull-left">
                                @{
                                    if (ViewBag.action == "Update Data")
                                    {
                                        @:Created by @(Html.DisplayFor(model => model.createuser)) On @(Html.DisplayFor(model => model.createtime))
                                        @:<br /> Last Update by @(Html.DisplayFor(model => model.upduser)) On @(Html.DisplayFor(model => model.updtime))
                                    }
                                }
                            </div>
                            <div class="pull-right">
                                <button type="submit" class="btn btn-success"><b>Save</b></button>
                                @*<a href="#" class="btn btn-default">Batal</a>*@
                                @{
                                    if (ViewBag.action == "Update Data")
                                    {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete" onclick="clickDelete()"><b>Delete</b></button>
                                    }
                                }
                                <a href="@Url.Action("Index")" type="button" class="btn btn-primary btn-md"><b>Back</b></a>
                            </div>
                        </div>
                    }
                    <!-- /.box-body -->
                </div>
            </div>
        </div>

        
    </section>



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    $(document).ready(function () {        
        countp();
        countl();
    })

    function myFunction() {
        countp();
    }
    function myFunction1() {
        countl();
    }

    function countp() {
        var c1 = parseFloat($('#tollidah').val());
        var c2 = parseFloat($('#tolpp1').val());
        var c3 = parseFloat($('#tolpp2').val());
        var c4 = parseFloat($('#tolpl1').val());
        var c5 = parseFloat($('#tolpl2').val());
        var c6 = parseFloat($('#tolptrim').val());

        var totp = c1 + c2 + c3 + c4 + c5 + c6;
        $('#totaltolp').val(totp);
    }

    function countl() {
        var a1 = parseFloat($('#tolflap1').val());
        var a2 = parseFloat($('#tolltinggi').val());
        var a3 = parseFloat($('#tolflap2').val());

        var totl = a1 + a2 + a3;
        $('#totaltoll').val(totl);
    }
</script>

<script language="javascript" type="text/javascript">

    function clickDelete() {
        var oid = $("#bankoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Apakah Anda yakin untuk menghapus data ini?',
            text: "Data yang sudah dihapus tidak akan bisa dikembalikan!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Ya, hapus data ini!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                              'Terhapus!',
                              'Data sudah dihapus.',
                              'success'
                            )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                              'Gagal menghapus data!',
                              data.msg,
                              'warning'
                            )
                        }

                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });

            }
        })
    }
    

</script>