﻿@model RSA.Models.DB.QL_mstprof

@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>
        User
    </h1>
    <!--<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol> -->
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                <div class="box-header">
                    <h3 class="box-title">Form User</h3>
                </div>
                <!-- /.box-header -->
                @using (Html.BeginForm())
                {
                    
                    @Html.AntiForgeryToken()
                    @Html.Hidden("action")
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Divisi <label class="text-red">*</label></label>
                                <div class="col-md-3">
                                    @Html.DropDownListFor(model => model.divgroupoid, null, new { @class = "form-control select2", @onchange= "FillDDLPerson()" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">User ID <label class="text-red">*</label></label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.profoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "10" } })
                                    @Html.ValidationMessageFor(model => model.profoid, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">User Level <label class="text-red">*</label></label>
                                <div class="col-md-3">
                                    @Html.DropDownListFor(model => model.proflevel, new List<SelectListItem>
                            {
                                    new SelectListItem { Text="USER", Value="USER" },
                                    new SelectListItem { Text="SUPER USER", Value="SUPER USER" }
                            }, new { @class = "form-control select2", @required = "" })
                                    @Html.ValidationMessageFor(model => model.proftype, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">User Name <label class="text-red">*</label></label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.profname, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100" } })
                                    @Html.ValidationMessageFor(model => model.profname, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Password <label class="text-red">*</label></label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.profpass, new { htmlAttributes = new { @class = "form-control", @type = "password", @required = "", @maxlength = "20" } })
                                    @Html.ValidationMessageFor(model => model.profpass, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Employee<label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.personoid, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">User Type <label class="text-red">*</label></label>
                                <div class="col-md-3">
                                    @Html.DropDownListFor(model => model.proftype, new List<SelectListItem>
                            {
                                    new SelectListItem { Text="USER", Value="user" },
                                    new SelectListItem { Text="ADMIN", Value="admin" }
                            }, new { @class = "form-control select2", @required = "" })
                                    @Html.ValidationMessageFor(model => model.proftype, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">User Image </label>
                                <div class="col-md-3">
                                    <input type="file" class="form-control" onchange="previewuserimage(this);" id="userimage" accept=".jpg, .png, .jpeg, .gif, .bmp " style="padding-top:5px;padding-left:5px;">
                                    @Html.HiddenFor(model => model.profimgfile)
                                    @Html.ValidationMessageFor(model => model.profimgfile, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @{
                                    var src = Html.DisplayFor(m => m.profimgfile).ToString();
                                    if (!File.Exists(Server.MapPath(src)))
                                    {
                                        src = "~/Content/dist/img/preview.png";
                                    }
                                }
                                <img id="userimage-preview" alt="your image" src="@Url.Content(src)" style="max-width:200px; max-height:200px;">
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Status</label>
                                <div class="col-md-3">
                                    @Html.DropDownListFor(model => model.activeflag, new List<SelectListItem>
                            {
                                    new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                    new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                            }, new { @class = "form-control select2", @required = "" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        @*<div class="pull-left">

                                @{
                                    if (ViewBag.action == "Edit")
                                    {
                                        @:Created by @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                                        @:<br /> Last Update by @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                    }
                                }

                            </div>*@
                        <div class="pull-right">
                            <a href="@Url.Action("Index")" type="button" class="btn btn-primary btn-md"><b>Back</b></a>
                            <button type="reset" class="btn btn-default btn-md" style="width: 80px;"><b>Cancel</b></button>
                            <button type="submit" name="action" value="@(ViewBag.action)" class="btn btn-success btn-md"><b>Save</b></button>
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    <button type="button" onclick="clickDelete()" class="btn btn-danger btn-md"><b>Delete</b></button>
                                }
                            }
                        </div>
                    </div>
                        <!-- /.box-footer -->
                                }
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        if ($("#action").val() == "Update Data") {
            $("#profoid").prop("readonly", true)
        } else {
            FillDDLPerson();
        }

    })
    function clickDelete() {
        var oid = $("#profoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Delete?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                    success: function (data) {
                        if (data.result == 'sukses') {
                            Swal(
                              'Deleted!',
                              'Data has been deleted.',
                              'success'
                            )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                              'Delete Failed!',
                              data.msg,
                              'warning'
                            )
                        }

                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });

            }
        })
    }

    function FillDDLPerson() {
        var divgroupoid = $("#divgroupoid option:selected").val();
        var personoid = $("#personoid");
        var personoid_sel = $("#personoid").val();
        personoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLPerson"))",
            data: { cmp: divgroupoid },
        cache: false,
        type: "POST",
        success: function (data) {
            var markup = "";
            if (data.result == "sukses") {
                var isExist = false;
                $.each(data.tbl, function (key, val) {
                    markup += "<option value=\'" + val.personoid + "\'>" + val.personname + "</option>";
                    if (val.personoid == personoid_sel) {
                        isExist = true;
                    }
                });
                personoid.html(markup).show();
                if (isExist == true) {
                    personoid.val(personoid_sel);
                }
                personoid.trigger('change');
            } else {
                personoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
        error: function (err) {
            swal( err);
        }
    });
    }
    function previewuserimage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#userimage-preview')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    $('#userimage').on('change', function (e) {
        var url = "@(Url.Action("UploadFile"))";
        var files = e.target.files;

        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: url,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {
                        console.log(data);
                        if (data.result == "Sukses") {
                            $('#profimgfile').val(data.idimgpath);
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });

   
</script>

