﻿@model IEnumerable<RSA.Controllers.Master.UserController.item>

@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    RSA.Models.DB.QL_RSAEntities db = new RSA.Models.DB.QL_RSAEntities();
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        List User
    </h1>
    <!--                     <ol class="breadcrumb">
                            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                            <li class="active">Dashboard</li>
                        </ol> -->
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <!-- <div class="box-header">
                    <h3 class="box-title">To Do List</h3>
                </div> -->
                <!-- /.box-header -->
                <form action="User/Index" method="post" class="form-horizontal">
                    <div class="box-body">
                        <div class="container-fluid row">
                            <a class="btn btn-success" href="@Url.Action("Form")">
                                <i class="fa fa-plus"></i> Add
                            </a>
                        </div><br>
                        @*<div class="form-group">
                            <label for="txtfilter" class="col-md-2 control-label">Filter</label>
                            <div class="col-md-3">
                                <select id="ddlfilter" name="ddlfilter" class="form-control">
                                    <option value="profoid">User ID</option>
                                    <option value="profname">User Name</option>
                                    <option value="proftype">User Type</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="txtfilter" name="txtfilter" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ddlstatus" class="col-md-2 control-label">Status</label>
                            <div class="col-md-3">
                                <select id="ddlstatus" name="ddlstatus" class="form-control">
                                    <option value="ALL">ALL</option>
                                    <option value="ACTIVE">ACTIVE</option>
                                    <option value="INACTIVE">INACTIVE</option>
                                </select>
                            </div>
                        </div>*@
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix no-border" style="display:none">
                        <button type="submit" formaction="Index" class="btn btn-warning btn-md" style="width: 80px;"><b>Find</b></button>
                        <a href="@Url.Action("Index")" class="btn btn-default btn-md btn-flat-margin"><b>View All</b></a>
                        @*<button type="submit" name="action" value="Save" formaction=@Url.Action(ViewBag.action) class="btn btn-success btn-md"><b>Save</b></button>*@
                    </div>
                    <!-- /.box-footer -->
                </form>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th>User ID</th>
                                        <th>Divisi</th>
                                        <th>User Name</th>
                                        <th>User Type</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int a = 0;
                                        foreach (var i in Model)
                                        {
                                            a++;
                                            <tr>
                                                <td>
                                                    <a href="Form?id=@Html.DisplayFor(m => i.profoid)" class="text-primary">@Html.DisplayFor(m => i.profoid)</a>
                                                </td>
                                                <td>@Html.DisplayFor(m => i.divgroup)</td>
                                                <td>@Html.DisplayFor(m => i.profname)</td>
                                                <td>@Html.DisplayFor(m => i.proftype)</td>
                                                <td>@Html.DisplayFor(m => i.activeflag)</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
