﻿@model RSA.Models.DB.QL_trnapservicemst

@{
    ViewBag.Title = "Hutang Service";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Hutang Service</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Hutang Service Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.apservicemstres3)
                        @Html.HiddenFor(model => model.approvaluser)
                        @Html.HiddenFor(model => model.approvaldatetime)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.rateoid)
                        @Html.HiddenFor(model => model.apserviceratetoidr)
                        @Html.HiddenFor(model => model.apserviceratetousd)
                        @Html.HiddenFor(model => model.rate2oid)
                        @Html.HiddenFor(model => model.apservicerate2toidr)
                        @Html.HiddenFor(model => model.apservicerate2tousd)
                        @Html.HiddenFor(model => model.revisereason)
                        @Html.HiddenFor(model => model.reviseuser)
                        @Html.HiddenFor(model => model.revisetime)
                        @Html.HiddenFor(model => model.rejectreason)
                        @Html.HiddenFor(model => model.rejectuser)
                        @Html.HiddenFor(model => model.rejecttime)
                        @Html.HiddenFor(model => model.divgroupoid)

                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @*@Html.DropDownListFor(model => model.cmpcode, null, new { @class = "form-control select2", @required = ""})
                                            @Html.ValidationMessageFor(model => model.cmpcode, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Hutang No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.apserviceno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.apservicemstoid)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Hutang Date</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.apservicedate, new { htmlAttributes = new { @class = "form-control datemask2", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Supplier <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("suppname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchsupp" class="btn btn-flat" data-toggle="modal" data-target="#modal-supp">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.suppoid)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Payment Type</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.apservicepaytypeoid, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Currency</label>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(model => model.curroid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.curroid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Amt</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.apservicetotalamt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Tax</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.apservicetotaltax, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Grand Total</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.apservicegrandtotal, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.apservicemststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.apservicemststatus } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Grand Total Supplier</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.apservicesupptotal, new { htmlAttributes = new { @class = "form-control money", @type = "numberonly" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Date Take Giro</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.apservicedatetakegiro, new { htmlAttributes = new { @class = "form-control datemask2 datepicker", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.apservicedatetakegiro, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.apservicemstnote, new { @class = "form-control", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.apservicemstnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Approval User</label>
                                        <div class="col-md-8">
                                            @*@Html.DropDownListFor(model => model.approvalcode, null, new { @class = "form-control", @required = "" })
                                            @Html.ValidationMessageFor(model => model.approvalcode, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                            </div>                         
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>Hutang Service Detail</b></h3>
                    </div>
                    <div class="box-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">PO No. </label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("poserviceno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchreg" class="btn btn-flat" data-toggle="modal" data-target="#modal-reg">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        @Html.Hidden("poservicemstoid")
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Faktur No. <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.Editor("apservicedtlres1", new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Faktur Pajak No.</label>
                                        <div class="col-md-8">
                                            @Html.Editor("apservicedtlres2", new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-left">
                                    <button type="button" class="btn btn-primary" onclick="AddToDetail()" data-toggle="modal" data-target="#modal-detail"><b>Add To List</b></button>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <div class="box-body">
                        @Html.Hidden("lastseq")
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No</th>
                                        <th>PO No.</th>
                                        <th>Faktur No.</th>
                                        <th>Faktur Pajak No.</th>
                                        <th>MR No.</th>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th>Qty</th>
                                        <th>Unit</th>
                                        <th>Price</th>
                                        <th>Amount</th>
                                        <th>Disc.</th>
                                        <th>Netto</th>
                                        <th>Detail Note</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                if (Model.apservicemststatus == "In Process" | Model.apservicemststatus == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                    <button type="button" class="btn btn-primary btn-md" id="btnSaveClose"><b>Save & Close</b></button>
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                    if (ViewBag.action == "Update Data")
                                    {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                    }
                                    <button type="button" class="btn btn-warning btn-md" id="btnSendForApproval"><b>Send For Approval</b></button>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                }
                            }
                        </div>
                    </div>
                    
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM poservice *@
    <div class="modal fade" id="modal-reg">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of PO Service</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalReg" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>PO No.</th>
                                    <th>PO Date</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM poservice *@

    @* MODAL UNTUK SUPPLIER *@
    <div class="modal fade" id="modal-supp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Supplier</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Kode</th>
                                    <th>Nama</th>
                                    <th>Alamat</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SUPPLIER *@
</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }

            var id = table.row($tr).data()[1];
            var registerno = table.row($tr).data()[2];
            var data = table.rows().data();

            var j = 0;
            for (var i = 0 ; i < data.length; i++) {
                if (table.row(j).data()[2] == registerno) {
                    table.row(j).remove().draw();
                }
                else {
                    j++;
                }
            }

            SetDataDtl();
            FillDetailData();

            var data = table.rows().data();

            $('#lastseq').val(data.length);

            if (data.length == 0)
                $('#lastseq').val(0);

            e.preventDefault();
            ClearDetail();
            EnabledHeader();
            CountHdrAmount();
        });

        table.on("draw", function () {
            $('#DataDtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
        });
        table.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        tblModalDtl.on("draw", function () {
            $('#tblModalDtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
        });

        tblModalDtl.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        $("#tblModalSupp").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        $("#tblModalReg").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalSupp = $("#tblModalSupp").DataTable();
        tblModalSupp.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSupp.row($tr).data();
            var alldata = JSON.parse(data[0])
            var tbldtl = $('#DataDtl').DataTable();
            $("#suppname").val(alldata.suppname);
            $("#suppoid").val(alldata.suppoid);
            $("#apservicepaytypeoid").val(alldata.supppaymentoid).trigger("change");
            var datetakegiro = new Date($('#apservicedate').val());
            if (alldata.supppaymentoid != "") {
                var sNum = parseInt($("#apservicepaytypeoid").find('option:selected').text(), 10);
                if (isNaN(sNum)) {
                    sNum = 0;
                }
                datetakegiro.setDate(datetakegiro.getDate() + sNum);
                var date = ((datetakegiro.getMonth() + 1) < 10 ? '0' : '') + (datetakegiro.getMonth() + 1) + '/' + (datetakegiro.getDate() < 10 ? '0' : '') + datetakegiro.getDate() + '/' + datetakegiro.getFullYear();
                $("#apservicedatetakegiro").val(date);
            }
            $('#modal-supp').modal('hide');
        });

        var tblModalReg = $("#tblModalReg").DataTable();
        tblModalReg.on('click', '#select', function () {

            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalReg.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#poserviceno").val(alldata.poserviceno);
            $("#poservicemstoid").val(alldata.poservicemstoid);
            $('#modal-reg').modal('hide');
        });

        $("#cmpcode").change(function () {
            FillAPNo()
            InitDDLAppUser();
            ClearSupp();
        });

        SetRateValue();
        $("#curroid").change(function () {
            SetRateValue();
        })
        $("#apservicedate").change(function () {
            SetRateValue();
        })

        $("#apservicepaytypeoid").attr("readonly", true);

        var datetakegiro = new Date($('#apservicedate').val());
        var sNum = parseInt($("#apservicepaytypeoid").find('option:selected').text(), 10);
        if (isNaN(sNum)) {
            sNum = 0;
        }
        datetakegiro.setDate(datetakegiro.getDate() + sNum);
        var date = ((datetakegiro.getMonth() + 1) < 10 ? '0' : '') + (datetakegiro.getMonth() + 1) + '/' + (datetakegiro.getDate() < 10 ? '0' : '') + datetakegiro.getDate() + '/' + datetakegiro.getFullYear();
        $("#apservicedatetakegiro").val(date);

        FillAPNo()
        InitDDLAppUser();
        FillDetailData();
    })

    function SetRateValue() {
        var curroid = $("#curroid").val();
        var sDate = $("#apservicedate").val();
        $.ajax({
            url: "@(Url.Action("GetRateValue"))",
            data: { curroid: curroid, sDate: sDate },
        cache: false,
        type: "POST",
        success: function (data) {
            if (data.result == "sukses") {
                $.each(data, function (key, val) {
                    $("#rateoid").val(val.rateoid);
                    $("#apserviceratetoidr").val(val.rateidrvalue);
                    $("#apserviceratetousd").val(val.rateusdvalue);
                    $("#rate2oid").val(val.rate2oid);
                    $("#apservicerate2toidr").val(val.rate2idrvalue);
                    $("#apservicerate2tousd").val(val.rate2usdvalue);
                });
            } else {
                if (data.msg != "") {
                    Swal('Warning!', data.msg, 'warning')
                }
            }
        },
        error: function (err) {
            console.log(err);
        }
    });
    }

    function FillAPNo() {
        var cmpcode = $("#cmpcode").val();
        var apmstoid = $("#apservicemstoid").val();

        $.ajax({
            url: "@(Url.Action("generateNo"))",
            data: { cmp: cmpcode, apmstoid: apmstoid },
        cache: false,
        type: "POST",
        success: function (hasil) {
            $("#apserviceno").val(hasil);
        },
        error: function (err) {
            console.log(err);
        }
    });
    }

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        var lastseq = 0;
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                ++lastseq;
                rows.push([
                    JSON.stringify(val),
                    val.apservicedtlseq,
                    val.poserviceno,
                    '<input type="text" class="form-control" style="max-width: 150px" id="apservicedtlres1-' + val.mrservicedtloid + '" name="apservicedtlres1-' + val.mrservicedtloid + '" value="' + (val.apservicedtlres1 == null ? "" : val.apservicedtlres1) + '">', //faktur no
                    '<input type="text" class="form-control" style="max-width: 150px" id="apservicedtlres2-' + val.mrservicedtloid + '" name="apservicedtlres2-' + val.mrservicedtloid + '" value="' + (val.apservicedtlres2 == null ? "" : val.apservicedtlres2) + '">', //faktur pajak no
                    val.mrserviceno,
                    val.servicecode,
                    val.servicelongdesc,
                    '<label class="money" style="text-align: right;">' + val.apserviceqty + '</label>',
                    val.apserviceunit,
                    '<label class="money" style="text-align: right;">' + val.apserviceprice + '</label>',
                    '<label class="money" style="text-align: right;">' + val.apservicedtlamt + '</label>',
                    '<label class="money" style="text-align: right;">' + val.apservicedtldiscamt + '</label>',
                    '<label class="money" style="text-align: right;">' + val.apservicedtlnetto + '</label>',
                    '<input type="text" class="form-control" style="max-width: 150px" id="apservicedtlnote-' + val.mrservicedtloid + '" name="apservicedtlnote-' + val.mrservicedtloid + '" value="' + (val.apservicedtlnote == null ? "" : val.apservicedtlnote) + '">',
                '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                $('#lastseq').val(lastseq);
                EnabledHeader();
                CountHdrAmount();
            }, 100);
        });
    }

    function InitDDLAppUser() {
        var cmp = $("#cmpcode").val();
        var approvalcode = $("#approvalcode");
        var approvalcode_sel = $("#approvalcode option:selected").val();
        approvalcode.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLAppUser"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
            var markup = "";
            if (data.result == "sukses") {
                var isExist = false;
                $.each(data.tbl, function (key, val) {
                    markup += "<option value=\'" + val.approvaluser + "\'>" + val.approvaluser + "</option>";
                    if (val.approvaluser == approvalcode_sel) {
                        isExist = true;
                    }
                });
                console.log(data.tbl);
                approvalcode.html(markup).show();
                if (isExist == true) {
                    approvalcode.val(approvalcode_sel);
                }
                approvalcode.trigger('change');
            } else {
                approvalcode.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        $("#aritemdate").datepicker("option", "dateFormat", "dd-dd-yyyy");
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
                $('#aritemdate').replaceWith($('#aritemdate').clone());
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        $("#cmpcode").attr("readonly", bVal);
        $("#btnsearchsupp").attr("disabled", bVal);
        $("#curroid").attr("readonly", bVal);
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    function ClearSupp() {
        $("#suppname").val("");
        $("#suppoid").val("");
        $("#apservicepaytypeoid").val($("#apservicepaytypeoid option:first").val());
        //$("#apservicepaytypeoid").val("");
    }

    function ClearDetail() {
        $("#poserviceno").val("");
        $("#poservicemstoid").val("");
        $('#apservicedtlres1').val("");
        $('#apservicedtlres2').val("");

    }

    function CountHdrAmount() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var dTotalAmt = 0;
        var dTotalTaxAmt = 0;
        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            dTotalAmt += alldata.apservicedtlnetto;
            dTotalTaxAmt += alldata.apservicedtltaxamt;
        }

        dTotalAmt = +parseFloat(dTotalAmt).toFixed(4);
        dTotalTaxAmt = +parseFloat(dTotalTaxAmt).toFixed(4);

        $("#apservicetotalamt").val(dTotalAmt);
        $("#apservicetotaltax").val(dTotalTaxAmt);

        $("#apservicegrandtotal").val(+parseFloat(dTotalAmt + dTotalTaxAmt).toFixed(4));
    }

    $("#btnsearchreg").click(function () {
        if (($('#suppname').val() == '') || ($('#suppname').val() == null)) {
            Swal({
                title:'WARNING!',
                text: 'Please select SUPPLIER field!',
                type:'warning'
            });
            return false;
        }
        //if (($('#apservicedtlres1').val() == '') || ($('#apservicedtlres1').val() == null)) {
        //    Swal(
        //       'Please Input Faktur No. First!',
        //       '',
        //       'warning'
        //        );
        //    return false
        //}
        //else {
            var table = $('#tblModalReg').DataTable();
            var apservicemstoid = $('#apservicemstoid').val();
            var suppoid = $('#suppoid').val();
            var cmp = $("#cmpcode").val();
            var curroid = $("#curroid").val();

            table.clear().draw();
            $.ajax({
                url: "@(Url.Action("GetposerviceData"))",
                data: { cmp: cmp, suppoid: suppoid, apservicemstoid: apservicemstoid, curroid: curroid},
                cache: false,
                type: "POST",
                success: function (data) {
                    var rows = [];
                    var i = 0;
                    $.each(data, function (key, val) {
                        rows.push([
                            JSON.stringify(val),
                            '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                            val.poserviceno,
                            moment(jsDate(val.poservicedate)).format('MM/DD/YYYY'),
                            val.poservicemstnote,
                        ]);
                    });
                    setTimeout(function () {
                        table.rows.add(rows).draw();
                    }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
        //}
    });

    $("#btnsearchsupp").click(function () {
        var table = $('#tblModalSupp').DataTable();
        var cmp = $("#cmpcode").val();
        var divgroupoid = $("#divgroupoid").val();
        var apservicemstoid = $("#apservicemstoid").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSupplierData"))",
            data: { cmp: cmp, apservicemstoid: apservicemstoid, divgroupoid:divgroupoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.suppcode,
                        val.suppname,
                        val.suppaddr,
                    ]);
                });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
            },
                error: function (err) {
                    console.log(err);
                }
            });
    });

    function AddToDetail() {
        var table = $('#DataDtl').DataTable();
        var cmp = $("#cmpcode").val();
        var poserviceno = $("#poserviceno").val();
        var poservicemstoid = $("#poservicemstoid").val();
        var apservicedtlres1 = $('#apservicedtlres1').val();
        var apservicedtlres2 = $('#apservicedtlres2').val();
        if (apservicedtlres2 == null)
            apservicedtlres2 = ""
        var i = parseInt($('#lastseq').val());
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmp: cmp, poservicemstoid: poservicemstoid, apservicedtlres1: apservicedtlres1, apservicedtlres2: apservicedtlres2 },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    val.apservicedtlamt = parseFloat(val.apserviceqty * val.apserviceprice);
                    val.apservicedtlnetto = parseFloat(val.apservicedtlamt - val.apservicedtldiscamt);
                    val.apservicedtlseq = i + 1;
                    if (!IsOnDtl(val.mrservicedtloid)) {
                        rows.push([
                            JSON.stringify(val),
                            ++i,
                            val.poserviceno,
                            '<input type="text" class="form-control" style="max-width: 150px" id="apservicedtlres1-' + val.mrservicedtloid + '" name="apservicedtlres1-' + val.mrservicedtloid + '" value="' + (apservicedtlres1 == null ? "" : apservicedtlres1) + '">',
                            '<input type="text" class="form-control" style="max-width: 150px" id="apservicedtlres2-' + val.mrservicedtloid + '" name="apservicedtlres2-' + val.mrservicedtloid + '" value="' + (apservicedtlres2 == null ? "" : apservicedtlres2) + '">',
                            val.mrserviceno,
                            val.servicecode,
                            val.servicelongdesc,
                            '<label class="money" style="text-align: right;">' + val.apserviceqty + '</label>',
                            val.apserviceunit,
                            '<label class="money" style="text-align: right;">' + val.apserviceprice + '</label>',
                            '<label class="money" style="text-align: right;">' + val.apservicedtlamt + '</label>',
                            '<label class="money" style="text-align: right;">' + val.apservicedtldiscamt + '</label>',
                            '<label class="money" style="text-align: right;">' + val.apservicedtlnetto + '</label>',
                            '<input type="text" class="form-control" style="max-width: 150px" id="apservicedtlnote-' + i + '" name="apservicedtlnote-' + i + '" value="' + (val.apservicedtlnote == null ? "" : val.apservicedtlnote) + '">',
                            '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                        ]);
                    }
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                    $('#lastseq').val(i);
                    EnabledHeader();
                    ClearDetail();
                    CountHdrAmount();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
        SetDataDtl();
    }

    function IsOnDtl(mrservicedtloid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (mrservicedtloid == alldata.mrservicedtloid) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var apservicedtlres1 = $("#apservicedtlres1-" + alldata.mrservicedtloid).val();
            var apservicedtlres2 = $("#apservicedtlres2-" + alldata.mrservicedtloid).val();
            var apservicedtlnote = table.$("#apservicedtlnote-" + alldata.mrservicedtloid).val();
            var obj = {
                apservicedtlseq: i + 1,
                poserviceno: alldata.poserviceno,
                poservicedtloid: alldata.poservicedtloid,
                poservicemstoid: alldata.poservicemstoid,
                mrservicemstoid: alldata.mrservicemstoid,
                mrserviceno: alldata.mrserviceno,
                mrservicedtloid: alldata.mrservicedtloid,
                serviceoid: alldata.serviceoid,
                servicecode: alldata.servicecode,
                servicelongdesc: alldata.servicelongdesc,
                apserviceunit: alldata.apserviceunit,
                apserviceunitoid: alldata.apserviceunitoid,
                apserviceqty: alldata.apserviceqty,
                apserviceprice: alldata.apserviceprice,
                apservicedtlamt: alldata.apservicedtlamt,
                apservicedtldisctype: alldata.apservicedtldisctype,
                apservicedtldiscvalue: alldata.apservicedtldiscvalue,
                apservicedtldiscamt: alldata.apservicedtldiscamt,
                apservicedtlnetto: alldata.apservicedtlnetto,
                apservicedtltaxamt: alldata.apservicedtltaxamt,
                apservicedtlres1: apservicedtlres1,
                apservicedtlres2: apservicedtlres2,
                apservicedtlnote: apservicedtlnote
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    $("#btnSave").click(function () {
        SetDataDtl();
    });

    $("#btnSaveClose").click(function () {
        $("#closing").val("true");
        $("#btnSave").click();
    });

    $("#btnDelete").click(function () {
        var oid = $("#apservicemstoid").val();
        var cmp = $("#cmpcode").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnSendForApproval").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for APPROVAL?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#apservicemststatus").val("In Approval");
                    $("#closing").val("true");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>