﻿@model RSA.Models.DB.QL_msrpaperprice

@{
    ViewBag.Title = "Harga Kertas";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Harga Kertas</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                <div class="box-header">
                    <h3 class="box-title">Form Harga Kertas</h3>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.paperpoid)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.ctratetime)
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action == "Create" ? "Data Baru" : "Edit Data" )</label>
                            </div>
                        

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Kode Kertas</label>
                                    </div>
                                    <div class="col-lg-6">
                                        @Html.DropDownListFor(model => model.cat4oid, null, new { @class = "form-control select2", @onchange = "cat1change()" })
                                        @Html.ValidationMessageFor(model => model.cat4oid, "", new { @id= "cat4oid", @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Gramatur</label>
                                    </div>
                                    <div class="col-lg-6">
                                       @Html.EditorFor(model => model.gramaturoid, new { htmlAttributes = new { @id = "gramaturoid", @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100",@readonly="" } })
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                               
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Price</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.EditorFor(model => model.price, new { htmlAttributes = new { @id= "price", @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100" } })
                                        @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Date</label>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.pricedate, new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text", @required = "" } })
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.pricedate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                
                            </div>
                            <br>


                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Catatan</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.EditorFor(model => model.note, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100", @style = "text-transform:uppercase" } })
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Status</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.DropDownListFor(model => model.status, new List<SelectListItem>
                                          {
                                              new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                              new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                                            }, new { @class = "form-control select2", @required = "" })
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>

                    <div class="box-footer">
                        <div class="pull-left">
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:Terakhir Diupdate Oleh @(Html.DisplayFor(m => m.upduser)) Pada @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            @*<button type="reset" class="btn btn-default btn-md" style="width: 80px;"><b>Cancel</b></button>*@
                            <button type="submit" name="action" value="@(ViewBag.action)" class="btn btn-success btn-md"><b>Simpan</b></button>
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    <button type="button" onclick="clickDelete()" class="btn btn-danger btn-md"><b>Hapus</b></button>
                                }
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    $(document).ready(function () {
        cat1change();
    })
    $('#cat1oid').on('change', function () {
        //alert("aaaaa");
        getsub3();
    });

    function cat1change() {
        //alert("aaaaa");
        getsub3();
    }

    function getsub3() {
        var sub3 = $("#cat4oid").val();
        $.ajax({
            url: "@(Url.Action("Getsub3"))",
            data: { sub3: sub3 },
        cache: false,
        type: "POST",
        success: function (data) {
            $('#gramaturoid').val(data);
        },
        error: function (reponse) {
            alert("error getsub3 : " + reponse);
        }
    });
    }
</script>

<script language="javascript" type="text/javascript">
    function clickDelete() {
        var oid = $("#paperpoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Apakah Anda yakin untuk menghapus data ini?',
            text: "Data yang sudah dihapus tidak akan bisa dikembalikan!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Ya, hapus data ini!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                success: function (data) {
                    if (data.result == 'sukses') {
                        Swal(
                          'Terhapus!',
                          'Data sudah dihapus.',
                          'success'
                        )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                          'Gagal menghapus data!',
                          data.msg,
                          'warning'
                        )
                    }

                },
                error: function (error) {
                    console.dir(error)
                }
            });

        }
        })
    }
    $(function () {
        $('#cat3shortdesc').blur(function () {
            var a = $("#cat1oid option:selected").text();
            var b = $('#cat3shortdesc').val();
            var c = $("#cat2oid option:selected").text();
            $('#cat3longdesc').val(a + ' ' + c + ' ' + b);
        });
    })

</script>