﻿@model IEnumerable<RSA.Controllers.Master.PaperPriceController.ListCat3>

@{
    ViewBag.Title = "HArgaa Kertas";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>
       Harga Kertas
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <section class="col-lg-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="container-fluid row">
                        <a class="btn btn-success" href="Form" style="margin-left: -5px;">
                            <i class="fa fa-plus"></i> Tambah
                        </a>
                    </div><br>
                    </div>
                    <!-- table -->
                    <div class="box-body">
                        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="dataTables_length" id="example1_length">

                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="datatable" class="table table-striped datatable">
                                        <thead>
                                            <tr>
                                                <th>Draft</th>
                                                <th>Kertas</th>
                                                <th>Gramatur</th>
                                                <th>Harga</th>
                                                <th>Tanggal</th>
                                                <th>Catatan</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int a = 0;
                                                foreach (var i in Model)
                                                {
                                                    a++;
                                                    <tr>
                                                        <td>
                                                            <a href="Form?id=@Html.DisplayFor(m => i.paperpoid)" class="text-primary">@Html.DisplayFor(m => i.paperpoid)</a>
                                                        </td>
                                                        <td>@Html.DisplayFor(m => i.cat4oid)</td>
                                                        <td>@Html.DisplayFor(m => i.gramaturoid)</td>
                                                        <td>@Html.DisplayFor(m => i.price)</td>
                                                        <td>@Html.DisplayFor(m => i.pricedate)</td>
                                                        <td>@Html.DisplayFor(m => i.note)</td>
                                                        <td>@Html.DisplayFor(m => i.status)</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- akhir table -->
                </div>
        </section>
    </div>
</section>