﻿@{
    ViewBag.Title = "General Ledger Report";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>GL Report</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm("PrintReport", "GLReport"))
                {
                    <div class="box-body">
                        <div class="container-fluid">
                            @Html.Hidden("StartDate")
                            @Html.Hidden("EndDate")
                            @Html.Hidden("ReportType")

                            <div class="row"  id="divnya" style="display: none;">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLBusinessUnit", null, new { @class = "form-control select2", @onchange = "ChangeBusinessUnit()" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Division</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLDivision", null, "ALL", new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Period</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("TextPeriod", new { htmlAttributes = new { @class = "form-control daterangepicker", @type = "text" } })
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Report Type</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLType", new List<SelectListItem>
                                            {
                                               new SelectListItem { Text = "Summary", Value = "0" },
                                               new SelectListItem { Text = "Detail", Value = "1" },
                                               new SelectListItem { Text = "General Journal", Value = "2" }
                                            }, new { @class = "form-control select2", @onchange = "ChangeType()" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6"  id="divfor" style="display: none;">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Currency Value</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLCurrency", new List<SelectListItem>
                                            {
                                               new SelectListItem { Text = "INDONESIAN RUPIAH", Value = "IDR" },
                                               new SelectListItem { Text = "US DOLLAR", Value = "USD" },
                                               new SelectListItem { Text = "TRANSACTION RATE", Value = "" }
                                            }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Account</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextAccount", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchaccount" class="btn btn-link" data-toggle="modal" data-target="#modal-account">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="divfordtl" style="display: none;">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Ref.</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextNoRef", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" id="btnSubmit" style="display: none;">Submit</button>
                        <button type="button" id="btnViewReport" class="btn btn-primary btn-md"><b>View Report</b></button>
                        <button type="button" id="btnExportPDF" class="btn btn-danger btn-md"><b>Export to PDF</b></button>
                        <button type="button" id="btnExportExcel" class="btn btn-success btn-md"><b>Export to Excel</b></button>
                        <a href="@Url.Action("Report/" + ViewBag.FormType.Replace(" ", ""))" type="button" class="btn btn-default btn-md"><b>Clear</b></a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe id="ReportFrame" src="" style="border: none; width: 100%; height: 1000px;"></iframe>
        </div>
    </div>

    @* MODAL UNTUK ACCOUNT *@
    <div class="modal fade" id="modal-account">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">@ViewBag.FormType Account Data</h4>
                    @Html.Hidden("total-account")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalAccount" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterAccount()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK Account *@

</section>

@* Ketiga script ini harus ada di semua view *@
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $('#divnya').hide();
        $('#divfor').hide();
    });
    @* Digunakan untuk merubah isi DDLDivision berdasarkan DDLBusinessUnit yg dipilih *@
    function ChangeBusinessUnit() {
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var DDLDivision = $('#DDLDivision');
        $.ajax({
            url: "@(Url.Action("InitDDLDivision"))",
            data: { DDLBusinessUnit: DDLBusinessUnit },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var markup = "<option value=\'\'>ALL</option>";
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.groupoid + "\'>" + val.groupcode + "</option>";
                    });
                    DDLDivision.html(markup).show();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    }

    function ChangeType() {
        var DDLType = $('#DDLType').val();
        if (DDLType == "0") {
            $('#divfordtl').hide();
        }
        else if (DDLType == "1") {
            $('#divfordtl').hide();
        }
        else {
            $('#divfordtl').show();
        }
    }

    $('#btnsearchaccount').click(function () {
        $.ajax({
            url: "@(Url.Action("GetAccountData"))",
            data: {  },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var table = $('#tblModalAccount').DataTable();
                    table.destroy();
                    $('#tblModalAccount').empty();

                    var cols = [];
                    $.each(data.tblcols, function (key, val) {
                        var obj = { title: val };
                        cols.push(obj);
                    });

                    var rows = [];
                    var total = 0;
                    $.each(data.tblrows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                        total++;
                    });

                    $('#total-account').val(total);
                    if (total > 0) {
                        table = $('#tblModalAccount').DataTable({
                            "columns": cols,
                            "data": rows,
                            "deferRender": true,
                            "columnDefs": [
                                {
                                    "targets": 0,
                                    "checkboxes": {
                                        "selectRows": false
                                    }
                                }
                            ],
                            "select": {
                                "style": 'multi'
                            },
                            "order": [[1, 'asc']]
                        });
                    }

                } else {
                    swal('', data.result, 'error');
                    $('#modal-account').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-account').modal('hide');
            }
        });
    })

    function AddToFilterAccount() {
        var ind = 1;
        if (parseInt($('#total-account').val()) > 0) {
            var result = $("#TextAccount").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalAccount').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextAccount").val(result);
        }
    }

    $('#btnViewReport').click(function () {
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var DDLBusinessUnit_Text = $('#DDLBusinessUnit option:selected').text();
        var DDLDivision = $('#DDLDivision').val();
        var DDLCurrency = $('#DDLCurrency').val();
         DDLCurrency = "IDR";
        var TextAccount = $('#TextAccount').val();
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var ReportType = "";
        var DDLType = $('#DDLType').val();
        var TextNoRef = $('#TextNoRef').val();

        $.ajax({
            url: "@(Url.Action("PrintReport"))",
            data: { DDLBusinessUnit: DDLBusinessUnit, DDLBusinessUnit_Text: DDLBusinessUnit_Text, DDLDivision: DDLDivision, StartDate: StartDate, EndDate: EndDate, TextAccount: TextAccount, TextNoRef: TextNoRef, DDLCurrency: DDLCurrency, ReportType: ReportType, DDLType: DDLType },
            cache: false,
            type: "POST",
            success: function (data) {
                $('#ReportFrame').attr("src", "@Url.Content("~/Other/ReportViewer.aspx?rptfile=")" + data.rptfile + "");
                pleaseWaitDialog.show();
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });

    $('#btnExportPDF').click(function () {
        $('#ReportType').val('PDF');
        $('#StartDate').val($('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $('#EndDate').val($('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $('#btnSubmit').click();
    });

    $('#btnExportExcel').click(function () {
        $('#ReportType').val('XLS');
        $('#StartDate').val($('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $('#EndDate').val($('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $('#btnSubmit').click();
    });

    $('#ReportFrame').on('load', function () {
        pleaseWaitDialog.hide();
    });
</script>
