﻿@{
    ViewBag.Title = "DO Cancelation";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form DO Cancelation</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Type</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownList("dotype", new List<SelectListItem>
                                    {
                                        new SelectListItem { Text="Raw Material", Value="RAW" },
                                        new SelectListItem { Text="General Material", Value="GEN" },
                                        new SelectListItem { Text="Spare Part", Value="SP" },
                                        new SelectListItem { Text="Finish Good", Value="item" },
                                        new SelectListItem { Text="Log", Value="log" },
                                        new SelectListItem { Text="Sawn Timber", Value="sawn" },
                                        new SelectListItem { Text="Fixed Assets", Value="Asset" }
                                    }, new { @class = "form-control", @required = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Business Unit</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownList("cmpcode", null, new { @class = "form-control", @required = "" })
                                            @Html.ValidationMessage("cmpcode", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">DO No.</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                @Html.Editor("dono", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchdo" class="btn btn-flat" data-toggle="modal" data-target="#modal-do">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        @Html.Hidden("domstoid")
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">DO Date</label>
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                @Html.Editor("dodate", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                                            </div>
                                            @Html.ValidationMessage("dodate", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Customer</label>
                                        <div class="col-sm-8">
                                            @Html.Editor("custname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.Hidden("custoid")
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Status</label>
                                        <div class="col-sm-8">
                                            @Html.Editor("dostatus", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Note</label>
                                        <div class="col-sm-8">
                                            @Html.Editor("domstnote", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-body">
                        <div class="col-sm-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No</th>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th>Qty</th>
                                        <th>Unit</th>
                                        <th>Status</th>
                                        <th>Detail Note</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    <div class="pull-left">
                        @{
                            <button type="button" class="btn btn-danger btn-md" id="btnSave"><b>Process</b></button>
                            <button type="submit" class="btn btn-danger btn-md" id="btnProcess" style="display:none"><b></b></button>
                        }
                    </div>
                            }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM do *@
    <div class="modal fade" id="modal-do">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Posted Delivery Order</h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-12" style="overflow-x: auto;">
                        <table id="tblModalDO" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>DO No.</th>
                                    <th>DO Date</th>
                                    <th>Customer</th>
                                    <th>Status</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DO *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        $("#tblModalDO").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalDO = $("#tblModalDO").DataTable();
        tblModalDO.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalDO.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#dono").val(alldata.dono);
            $("#domstoid").val(alldata.domstoid);
            $("#dodate").val(alldata.dodate);
            $("#custoid").val(alldata.custoid);
            $("#custname").val(alldata.custname);
            $("#domststatus").val(alldata.domststatus);
            $("#domstnote").val(alldata.domstnote);
            AddToDetail();
            $('#modal-do').modal('hide');
        });

        $("#dotype").change(function () {
            ClearData();
        });

        $("#cmpcode").change(function () {
            ClearData();
        });
    })

    $("#btnsearchdo").click(function () {
        var table = $('#tblModalDO').DataTable();
        var dotype = $("#dotype option:selected").val();
        var cmp = $("#cmpcode option:selected").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDeliveryOrderData"))",
            data: { cmp: cmp, sType: dotype },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.dono,
                        val.dodate,
                        val.custname,
                        val.domststatus,
                        val.domstnote,
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                condole.log(err);
            }
        });
    });

    function ClearData() {
        $("#dono").val("");
        $("#domstoid").val("");
        $("#dodate").val("");
        $("#custoid").val("");
        $("#custname").val("");
        $("#domststatus").val("");
        $("#domstnote").val("");
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
    }

    function AddToDetail() {
        var table = $('#DataDtl').DataTable();
        var dotype = $("#dotype option:selected").val();
        var cmp = $("#cmpcode option:selected").val();
        var domstoid = $("#domstoid").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmp: cmp, sType: dotype, iOid: domstoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    var obj = {
                        cmpcode: cmp,
                        domstoid: domstoid,
                        dotype: dotype,
                        matoid: val.matoid,
                        dodtloid: val.dodtloid,
                        matcode: val.matcode,
                        matlongdesc: val.matlongdesc,
                        doqty: val.doqty,
                        dounit: val.dounit,
                        doprice: val.doprice,
                        dodtlnote: val.dodtlnote,
                        dodtlstatus: val.dodtlstatus,
                        assetmstoid: val.assetmstoid
                    }
                    rows.push([
                        JSON.stringify(obj),
                        ++i,
                        val.matcode,
                        val.matlongdesc,
                        val.doqty,
                        val.dounit,
                        val.dodtlstatus,
                        val.dodtlnote
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
        SetDataDtl();
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var dotype = $("#dotype option:selected").val();
        var cmp = $("#cmpcode option:selected").val();
        var domstoid = $("#domstoid").val();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var obj = {
                cmpcode: cmp,
                domstoid: domstoid,
                dotype: dotype,
                matoid: alldata.matoid,
                dodtloid: alldata.dodtloid,
                matcode: alldata.matcode,
                matlongdesc: alldata.matlongdesc,
                doqty: alldata.doqty,
                dounit: alldata.dounit,
                dodtlnote: alldata.dodtlnote,
                dodtlstatus: alldata.dodtlstatus,
                assetmstoid: alldata.assetmstoid
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    $("#btnProcess").click(function () {
        var bVal = true;
        if ($('#DataDtl').DataTable() == null) {
            Swal({
                title: 'WARNING!',
                text: 'Please Fill detail data!',
                type: 'warning'
            });
            bVal = false;
            return false
        } else {
            var table = $('#DataDtl').DataTable();
            var dataDtl = table.rows().data();
            if (dataDtl.length <= 0) {
                Swal({
                    title: 'WARNING!',
                    text: 'Please fill Detail Data!',
                    type: 'warning'
                });
                bVal = false;
                return false
            }
        }
        if (bVal) {
            SetDataDtl();
            ClearData();
            Swal({
                title: 'INFORMATION',
                text: 'data have been CANCEL succesfully!',
                type: 'success'
            });
        }
    })

    $("#btnSave").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to CANCEL this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, CANCEL this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#btnProcess").click();
                }, 100)
            }
        })
    });

</script>
