﻿@model RSA.Models.DB.QL_mstgen

@{
    ViewBag.Title = "General";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form General</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.genoid)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.Hidden("action")
                        @Html.Hidden("mobile")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Code<label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.gencode, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @required = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Description<label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div id="showhidedesc">
                                                @Html.EditorFor(model => model.gendesc, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "" } })
                                                @Html.ValidationMessageFor(model => model.gendesc, "", new { @class = "text-danger" })
                                            </div>
                                            <div id="showhideddldesc">
                                                @Html.DropDownList("ddlgendesc", new List<SelectListItem>
                                            {
                                           new SelectListItem { Text="Prep. Date", Value="woplandate" },
                                           new SelectListItem { Text="Proc. Date", Value="woprocdate" },
                                           new SelectListItem { Text="Sand. Date", Value="wosanddate" },
                                           new SelectListItem { Text="Rakit Date", Value="worakitdate" },
                                           new SelectListItem { Text="Fin. Sand. Date", Value="wofinsanddate" },
                                           new SelectListItem { Text="Fin. Date", Value="wofindate" },
                                           new SelectListItem { Text="Pack. Date", Value="wopackdate" }
                                            }, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Group<label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("gengroup", null, new { @class = "form -control select2", @required = "" , @onchange = "ChangeGenGroup()" })
                                            @Html.ValidationMessage("gengroup", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="showhideother1">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label id="other1" class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            <div id="showhidetxtother1">
                                                @Html.EditorFor(model => model.genother1, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                                @Html.ValidationMessageFor(model => model.genother1, "", new { @class = "text-danger" })
                                            </div>
                                            <div id="showhideddlother1">
                                                @Html.DropDownList("ddlgenother1", new List<SelectListItem>
                                            {
                                           new SelectListItem { Text="", Value="null" }
                                            }, new { @class = "form-control select2", @required = "" })
                                                @Html.ValidationMessage("ddlgenother1", "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row"  id="showhideother2">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label id="other2" class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            <div id="showhidetxtother2">
                                                @Html.EditorFor(model => model.genother2, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                                @Html.ValidationMessageFor(model => model.genother2, "", new { @class = "text-danger" })
                                            </div>
                                            <div id="showhideddlother2">
                                                @Html.DropDownList("ddlgenother2", new List<SelectListItem>
                                            {
                                           new SelectListItem { Text="", Value="null" }
                                            }, new { @class = "form-control select2", @required = "" })
                                                @Html.ValidationMessage("ddlgenother2", "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="showhideother3">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label id="other3" class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            <div id="showhidetxtother3">
                                                @Html.EditorFor(model => model.genother3, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                                @Html.ValidationMessageFor(model => model.genother3, "", new { @class = "text-danger" })
                                            </div>
                                            <div id="showhideddlother3">
                                                @Html.DropDownList("ddlgenother3", new List<SelectListItem>
                                            {
                                           new SelectListItem { Text="", Value="null" }
                                            }, new { @class = "form-control select2", @required = "" })
                                                @Html.ValidationMessage("ddlgenother3", "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="showhideother4">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label id="other4" class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.genother4, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                            @Html.ValidationMessageFor(model => model.genother4, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="showhideother5">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label id="other5" class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.genother5, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                            @Html.ValidationMessageFor(model => model.genother5, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="showhideother6">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label id="other6" class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.genother6, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                            @Html.ValidationMessageFor(model => model.genother6, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="showhideother8">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label id="other8" class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            <div id="showhidetxtother8">
                                                @Html.EditorFor(model => model.genother8, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                                @Html.ValidationMessageFor(model => model.genother8, "", new { @class = "text-danger" })
                                            </div>
                                            <div id="showhideddlother8">
                                                @Html.DropDownList("ddlgenother8", new List<SelectListItem>
                                            {
                                           new SelectListItem { Text="", Value="null" }
                                            }, new { @class = "form-control select2", @required = "" })
                                                @Html.ValidationMessage("ddlgenother8", "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.activeflag, new List<SelectListItem>
                                            {
                                           new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                           new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                                            }, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                if (ViewBag.action == "Update Data")
                                {
                                    //<button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                }
                            }
                        </div>
                    </div>
                    
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("#ddlgenother1").change(function () {
            if ($("#gengroup").val().toUpperCase() == "FIELD OID") {
                $("#gencode").val($("#ddlgenother1 option:selected").val());
            }
            else if ($("#gengroup").val().toUpperCase() == "MOBILE ROLE DETAIL") {
                var mobile = GetMobileRoleMaster();
                if (mobile.toUpperCase() == "TEXT") {
                    $("#mobile").val("TEXT")
                }
                else if (mobile.toUpperCase() == "DDL") {
                    $("#mobile").val("DDL")
                }

                if ($("#mobile").val() == "TEXT") {
                    $("#other2").text("Table/Print Name")
                    showhideother2 = true;
                    showhidetxtother2 = true;
                    showhideddlother2 = false;

                    //showhideother3 = true;
                    //showhideddlother3 = false;
                    //showhidetxtother3 = true;
                }
                else if ($("#mobile").val() == "DDL") {
                    $("#other2").text("Table/Print Name")
                    showhideother2 = true;
                    showhideddlother2 = true;
                    showhidetxtother2 = false;

                    //$("#other3").text("Field Name")
                    //showhideother3 = true;
                    //showhideddlother3 = false;
                    //showhidetxtother3 = true;
                    FillDDLField("2")
                }
                $("#showhideother2").toggle(showhideother2);
                $("#showhidetxtother2").toggle(showhidetxtother2);
                $("#showhideddlother2").toggle(showhideddlother2);

                $("#showhideother3").toggle(showhideother3);
                $("#showhidetxtother3").toggle(showhidetxtother3);
                $("#showhideddlother3").toggle(showhideddlother3);

                if ((showhideddlother2 == false) && (showhidetxtother2 == false)) {
                    $("#genother2").val("");
                    $("#ddlgenother2").empty();
                }
                else if ((showhideddlother2 == false) && (showhidetxtother2 == true)) {
                    $("#ddlgenother2").empty();
                }

                if ((showhideddlother3 == false) && (showhidetxtother3 == false)) {
                    $("#genother3").val("");
                    $("#ddlgenother3").empty();
                }
                else if ((showhideddlother3 == false) && (showhidetxtother3 == true)) {
                    $("#ddlgenother3").empty();
                }
            }
        });

        $("#ddlgenother2").change(function () {
            if ($("#gengroup").val().toUpperCase() == "CITY") {
                FillDDLPropinsi();
            }
        });

        if ($("#action").val() == "Update Data") {
            $("#gengroup").attr("readonly", "true");
        }

        ChangeGenGroup();
    })

    function ChangeGenGroup() {
        var showhideother1 = false;
        var showhidetxtother1 = false;
        var showhideddlother1 = false;
         

        var showhideother2 = false;
        var showhidetxtother2 = false;
        var showhideddlother2 = false;

        var showhideother3 = false;
        var showhidetxtother3 = false;
        var showhideddlother3 = false;

        var showhideother4 = false;
        var showhideother5 = false;
        var showhideother6 = false;

        var showhideother8 = false;
        var showhidetxtother8 = false;
        var showhideddlother8 = false;

        var showhideddldesc = false;
        var showhidedesc = false;
        if ($("#gengroup").val().toUpperCase() == "FORM NAME")
        {
            showhidedesc = true;
            showhideother1 = true;
            showhidetxtother1 = true;
            showhideother2 = true;
            showhideddlother2 = true;
            showhideother3 = true;
            showhideddlother3 = true;
            showhideother5 = true;
            showhideother6 = true;
            showhideother8 = true;
            showhidetxtother8 = true;

            $("#other1").text("Form URL")
            $("#other2").text("Form Type")
            $("#other3").text("Form Module")
            $("#other5").text("Menu Text")
            $("#other6").text("Menu Icon")
            $("#other8").text("BU Req")

            FillDDLFormType()
            FillDDLModule()
        }
        else if ($("#gengroup").val().toUpperCase() == "WAX") {
            showhidedesc = true;
            showhideother1 = true;
            showhidetxtother1 = true;


            $("#other1").text("Price")

        }
        else if ($("#gengroup").val().toUpperCase() == "FLEXO WASTE") {
            showhidedesc = true;
            showhideother1 = true;
            showhidetxtother1 = true;

            $("#other1").text("Waste")

        }
        else if ($("#gengroup").val().toUpperCase() == "FREIGHT COST") {
            showhidedesc = true;
            showhideother1 = true;
            showhidetxtother1 = true;

            $("#other1").text("FC")

        }
        else if ($("#gengroup").val().toUpperCase() == "VARIABLE BOTTOM PRICE") {
            showhidedesc = true;
            showhideother1 = true;
            showhidetxtother1 = true;

            $("#other1").text("Variable")

        }
        else if ($("#gengroup").val().toUpperCase() == "DIECUT MACHINE") {
            showhidedesc = true;
            showhideother1 = true;
            showhidetxtother1 = true;


            $("#other1").text("Cost(rp/unit)")

        }
        else if ($("#gengroup").val().toUpperCase() == "CITY") {
            $("#other1").text("Province")
            $("#other2").text("Country")

            showhidedesc = true;
            showhideother1 = true;
            showhideddlother1 = true;
            showhideother2 = true;
            showhideddlother2 = true;

            FillDDLNegara($("#gengroup").val().toUpperCase())
        }
        else if ($("#gengroup").val().toUpperCase() == "PROVINCE") {
            $("#other1").text("Country")

            showhidedesc = true;
            showhideother1 = true;
            showhideddlother1 = true;

            FillDDLNegara($("#gengroup").val().toUpperCase())
        }
        else if ($("#gengroup").val().toUpperCase() == "CATEGORY") {
            $("#other1").text("Category Code")

            showhidedesc = true;
            showhideother1 = true;
            showhideddlother1 = true;
        }

        else if ($("#gengroup").val().toUpperCase() == "ROOM") {
            $("#other1").text("Business Unit")
            $("#other2").text("Daily Cost")

            showhidedesc = true;
            showhideother1 = true;
            showhideddlother1 = true;
            showhideother2 = true;
            showhidetxtother2 = true;

            FillDDLBusUnit()
        }

        else if ($("#gengroup").val().toUpperCase() == "BANK") {
            $("#other1").text("Long Description")
            $("#other2").text("Swift Code")
            $("#other3").text("RPT Giro")
            $("#other5").text("RPT Cheque")
            $("#other6").text("Kliring Code")
            $("#other8").text("Asing/Lokal")

            showhidedesc = true;
            showhideother1 = true;
            showhidetxtother1 = true;
            showhideother2 = true;
            showhidetxtother2 = true;
            showhideother3 = true;
            showhidetxtother3 = true;
            showhideother5 = true;
            showhideother6 = true;
            showhideother8 = true;
            showhideddlother8 = true;

            FillDDLTypeBank()

        }
        else if ($("#gengroup").val().toUpperCase() == "ADJUSTMENT REASON") {
            $("#other1").text("Related COA")
            
            showhidedesc = true;
            showhideother1 = true;
            showhideddlother1 = true;

            FillDDLAcctg("VAR_STOCK_ADJUSTMENT");

        }
        else if (($("#gengroup").val().toUpperCase() == "MATERIAL LOCATION") || ($("#gengroup").val().toUpperCase() == "ITEM LOCATION")) {
            $("#other1").text("Business Unit")

            showhidedesc = true;
            showhideother1 = true;
            showhideddlother1 = true;
            FillDDLBusUnit()
            if ($("#gengroup").val().toUpperCase() == "MATERIAL LOCATION") {
                $("#other2").text("Calculate MRA")
                showhideother2 = true;
                showhideddlother2 = true;

                var ddlloc = "";
                ddlloc = "<option value='True'>True</option>";
                ddlloc += "<option value='False'>False</option>";

                $("#ddlgenother2").html(ddlloc).show()

                if ($("#action").val() == "Update Data") {
                    $("#ddlgenother2").val($("#genother2").val())
                    $("#genother2").val("");
                }
            }
        }

        else if ($("#gengroup").val().toUpperCase() == "FILTER DATE AUTO CALC. MRA") {
            showhideddldesc = true;

            if ($("#action").val() == "Update Data") {
                $("#ddlgendesc").val($("#gendesc").val())
                $("#gendesc").val("");
            }
        }

        else if ($("#gengroup").val().toUpperCase() == "FIELD OID") {
            $("#other1").text("Table Name")
            showhidedesc = true;
            showhideother1 = true;
            showhideddlother1 = true;
            FillDDLField("1")
        }
        else if ($("#gengroup").val().toUpperCase() == "DATABASE") {
            $("#other1").text("Business Unit")

            showhidedesc = true;
            showhideother1 = true;
            showhideddlother1 = true;
            FillDDLDatabase()
        }
        else if ($("#gengroup").val().toUpperCase() == "MOBILE ROLE MASTER") {
            $("#other1").text("Input Type")

            showhidedesc = true;
            showhideother1 = true;
            showhideddlother1 = true;

            var ddllist = "";
            ddllist = "<option value='TEXT'>TEXT</option>";
            ddllist += "<option value='DDL'>DDL</option>";

            $("#ddlgenother1").html(ddllist).show()

            if ($("#action").val() == "Update Data") {
                $("#ddlgenother1").val($("#genother1").val())
                $("#genother1").val("");
            }
            //if ($("#action").val() != "Update Data") {
            //    $("#genother1").val($("#ddlgenother1 option:selected").val())
            //}
            //else {
            //    $("#ddlgenother1").val($("#genother1").val())
            //}
        }
        else if ($("#gengroup").val().toUpperCase() == "MOBILE ROLE DETAIL") {
            showhidedesc = true;
            $("#other1").text("Role Master")
            showhideother1 = true;
            showhideddlother1 = true;

            $("#other3").text("Field Name")
            showhideother3 = true;
            showhidetxtother3 = true;

            $("#other5").text("Field Header")
            showhideother5 = true;


            $("#other6").text("Field ID")
            showhideother6 = true;

            FillDDLRole()

            if ($("#mobile").val() != "")
            {
                if ($("#mobile").val() == "TEXT") {
                    $("#other2").text("Table/Print Name")
                    showhideother2 = true;
                    showhidetxtother2 = true;
                    showhideddlother2 = false;
                }
                else if ($("#mobile").val() == "DDL") {
                    $("#other2").text("Table/Print Name")
                    showhideother2 = true;
                    showhideddlother2 = true;
                    showhidetxtother2 = false;

                    //$("#other3").text("Field Name")
                    //showhideother3 = true;
                    //showhideddlother3 = false;
                    //showhidetxtother3 = true;
                    FillDDLField("2")
                }
            }
            //else
            //{
            //    if ($("#ddlgenother1").val() == "" || $("#ddlgenother1").val() == null)
            //    {
            //        FillDDLRole()
            //    }

            //    var mobile = GetMobileRoleMaster();
            //    if (mobile.toUpperCase() == "TEXT") {
            //        $("#mobile").val("TEXT")
            //    }
            //    else if (mobile.toUpperCase() == "DDL") {
            //        $("#mobile").val("DDL")
            //    }

            //    if ($("#mobile").val() == "TEXT") {
            //        $("#other2").text("Table/Print Name")
            //        showhideother2 = true;
            //        showhidetxtother2 = true;

            //    }
            //    else {
            //        $("#other2").text("Table/Print Name")
            //        showhideother2 = true;
            //        showhideddlother2 = true;

            //        $("#other3").text("Field Name")
            //        showhideother3 = true;
            //        showhidetxtother3 = true;
            //        //FillDDLField2()
            //    }
            //    //$("#ddlgenother1").trigger('change');
            //}
        }
        else {
            showhidedesc = true;
        }


        $("#showhideother1").toggle(showhideother1);
        $("#showhidetxtother1").toggle(showhidetxtother1);
        $("#showhideddlother1").toggle(showhideddlother1);

        $("#showhideother2").toggle(showhideother2);
        $("#showhidetxtother2").toggle(showhidetxtother2);
        $("#showhideddlother2").toggle(showhideddlother2);

        $("#showhideother3").toggle(showhideother3);
        $("#showhidetxtother3").toggle(showhidetxtother3);
        $("#showhideddlother3").toggle(showhideddlother3);

        $("#showhideother4").toggle(showhideother4);
        $("#showhideother5").toggle(showhideother5);
        $("#showhideother6").toggle(showhideother6);

        $("#showhideother8").toggle(showhideother8);
        $("#showhidetxtother8").toggle(showhidetxtother8);
        $("#showhideddlother8").toggle(showhideddlother8);


        $("#showhideddldesc").toggle(showhideddldesc);
        $("#showhidedesc").toggle(showhidedesc);

        if ((showhideddlother1 == false) && (showhidetxtother1 == false)) {
            $("#genother1").val("");
            $("#ddlgenother1").empty();
        }
        else if ((showhideddlother1 == false) && (showhidetxtother1 == true)) {
            $("#ddlgenother1").empty();
        }

        if ((showhideddlother2 == false) && (showhidetxtother2 == false)) {
            $("#genother2").val("");
            $("#ddlgenother2").empty();
        }
        else if ((showhideddlother2 == false) && (showhidetxtother2 == true)) {
            $("#ddlgenother2").empty();
        }

        if ((showhideddlother3 == false) && (showhidetxtother3 == false)) {
            $("#genother3").val("");
            $("#ddlgenother3").empty();
        }
        else if ((showhideddlother3 == false) && (showhidetxtother3 == true)) {
            $("#ddlgenother3").empty();
        }

        if ((showhideother4 == false)) {
            $("#genother4").val("");
        }

        if ((showhideother5 == false)) {
            $("#genother5").val("");
        }

        if ((showhideother6 == false)) {
            $("#genother6").val("");
        }

        if ((showhideddlother8 == false) && (showhidetxtother8 == false)) {
            $("#genother8").val("");
            $("#ddlgenother8").empty();
        }
        else if ((showhideddlother8 == false) && (showhidetxtother8 == true)) {
            $("#ddlgenother8").empty();
        }
    }

    function FillDDLFormType() {
        var ddlFormType = "";
        ddlFormType = "<option value='MASTER'>MASTER</option>";
        ddlFormType += "<option value='TRANSACTION'>TRANSACTION</option>";
        ddlFormType += "<option value='REPORT'>REPORT</option>";
        ddlFormType += "<option value='INQUIRY'>INQUIRY</option>";
        ddlFormType += "<option value='MOBILE'>MOBILE</option>";

        $("#ddlgenother2").html(ddlFormType).show()
        

        if ($("#action").val() == "Update Data") {
            $("#ddlgenother2").val($("#genother2").val())
            $("#genother2").val("");
        }

        //if ($("#action").val() != "Update Data")
        //{
        //    $("#genother2").val($("#ddlgenother2 option:selected").val())
        //}
        //else
        //{
        //    $("#ddlgenother2").val($("#genother2").val())
        //}

    }

    function FillDDLModule() {
        var ddlgenother3 = $("#ddlgenother3");
        var ddlgenother3_sel =  $("#genother3").val();
        ddlgenother3.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLModule"))",
            data: {  },
        cache: false,
        type: "POST",
        success: function (data) {
            var markup = "";
            if (data.result == "sukses") {
                var isExist = false;
                $.each(data.tbl, function (key, val) {
                    markup += "<option value=\'" + val.tablename + "\'>" + val.tablename + "</option>";
                    if (val.tablename == ddlgenother3_sel) {
                        isExist = true;
                    }
                });
                ddlgenother3.html(markup).show();
                if (isExist == true) {
                    ddlgenother3.val(ddlgenother3_sel);
                }
                ddlgenother3.trigger('change');
            } else {
                ddlgenother3.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
        error: function (err) {
            swal('', err, 'error');
        }
        });
        $("#genother3").val("");
    }

    function FillDDLNegara(sType) {
        var ddlgenother = "";
        var ddlgenother_sel = "";
        if (sType == "PROVINCE")
        {
            ddlgenother = $("#ddlgenother1");
            ddlgenother_sel =  $("#genother1").val();
            ddlgenother.html("<option value=''>Please Wait!!!</option>").show();
        }
        else
        {
            ddlgenother = $("#ddlgenother2");
            ddlgenother_sel = $("#genother2").val();
            ddlgenother.html("<option value=''>Please Wait!!!</option>").show();
        }
        $.ajax({
            url: "@(Url.Action("InitDDLNegara"))",
            data: {  },
        cache: false,
        type: "POST",
        success: function (data) {
            var markup = "";
            if (data.result == "sukses") {
                var isExist = false;
                $.each(data.tbl, function (key, val) {
                    markup += "<option value=\'" + val.genoid + "\'>" + val.gendesc + "</option>";
                    if (val.genoid == ddlgenother_sel) {
                        isExist = true;
                    }
                });
                ddlgenother.html(markup).show();
                if (isExist == true) {
                    ddlgenother.val(ddlgenother_sel);
                }
                ddlgenother.trigger('change');
            } else {
                ddlgenother.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
        error: function (err) {
            swal('', err, 'error');
        }
        });

        if (sType == "PROVINCE") {
            $("#genother1").val("");
        }
        else {
            $("#genother2").val("");
        }
    }

    function FillDDLPropinsi() {
            var ddlgenother2 = $("#ddlgenother2 option:selected").val();
            var ddlgenother = $("#ddlgenother1");
            var ddlgenother_sel = $("#genother1").val();
            ddlgenother.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLPropinsi"))",
            data: { genother2: ddlgenother2 },
        cache: false,
        type: "POST",
        success: function (data) {
            var markup = "";
            if (data.result == "sukses") {
                var isExist = false;
                $.each(data.tbl, function (key, val) {
                    markup += "<option value=\'" + val.genoid + "\'>" + val.gendesc + "</option>";
                    if (val.genoid == ddlgenother_sel) {
                        isExist = true;
                    }
                });
                ddlgenother.html(markup).show();
                if (isExist == true) {
                    ddlgenother.val(ddlgenother_sel);
                }
                ddlgenother.trigger('change');
            } else {
                ddlgenother.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
        error: function (err) {
            swal('', err, 'error');
        }
        });
        $("#genother1").val("");
    }

    function FillDDLBusUnit() {
        var ddlgenother1 = $("#ddlgenother1");
        var ddlgenother1_sel =  $("#genother1").val();
        ddlgenother1.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLBusUnit"))",
            data: {  },
        cache: false,
        type: "POST",
        success: function (data) {
            var markup = "";
            if (data.result == "sukses") {
                var isExist = false;
                $.each(data.tbl, function (key, val) {
                    markup += "<option value=\'" + val.divcode + "\'>" + val.divname + "</option>";
                    if (val.divcode == ddlgenother1_sel) {
                        isExist = true;
                    }
                });
                ddlgenother1.html(markup).show();
                if (isExist == true) {
                    ddlgenother1.val(ddlgenother1_sel);
                }
                ddlgenother1.trigger('change');
            } else {
                ddlgenother1.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
        error: function (err) {
            swal('', err, 'error');
        }
        });
        $("#genother1").val("");
    }

    function FillDDLTypeBank() {
        var ddlTypeBank = "";
        ddlTypeBank = "<option value='BANK LOKAL'>BANK LOKAL</option>";
        ddlTypeBank += "<option value='BANK ASING'>BANK ASING</option>";
        

        $("#ddlgenother8").html(ddlTypeBank).show()

        if ($("#action").val() == "Update Data") {
            $("#ddlgenother8").val($("#genother8").val());
            $("#genother8").val("");
        }
    }
    
    function FillDDLField(sGenOther) {
        var ddlgenother = "";
        var ddlgenother_sel = "";
        if (sGenOther == "1")
        {
            ddlgenother = $("#ddlgenother1");
            ddlgenother_sel = $("#genother1").val();
        }
        else if (sGenOther == "2")
        {
            ddlgenother = $("#ddlgenother2");
            ddlgenother_sel = $("#genother2").val();
        }
       
        ddlgenother.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLField"))",
            data: {  },
        cache: false,
        type: "POST",
        success: function (data) {
            var markup = "";
            if (data.result == "sukses") {
                var isExist = false;
                $.each(data.tbl, function (key, val) {
                    markup += "<option value=\'" + val.tablename + "\'>" + val.tablename + "</option>";
                    if (val.tablename == ddlgenother_sel) {
                        isExist = true;
                    }
                });
                ddlgenother.html(markup).show();
                if (isExist == true) {
                    ddlgenother.val(ddlgenother_sel);
                }
                ddlgenother.trigger('change');
            } else {
                ddlgenother.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
        error: function (err) {
            swal('', err, 'error');
        }
        });

        if (sGenOther == 1)
            $("#genother1").val("");
        else if (sGenOther == 2)
            $("#genother2").val("");
    }

    function FillDDLDatabase() {
        var ddlgenother1 = $("#ddlgenother1");
        var ddlgenother1_sel =  $("#genother1").val();
        ddlgenother1.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLDatabase"))",
            data: {  },
        cache: false,
        type: "POST",
        success: function (data) {
            var markup = "";
            if (data.result == "sukses") {
                var isExist = false;
                $.each(data.tbl, function (key, val) {
                    markup += "<option value=\'" + val.cmpcode + "\'>" + val.divname + "</option>";
                    if (val.cmpcode == ddlgenother1_sel) {
                        isExist = true;
                    }
                });
                ddlgenother1.html(markup).show();
                if (isExist == true) {
                    ddlgenother1.val(ddlgenother1_sel);
                }
                ddlgenother1.trigger('change');
            } else {
                ddlgenother1.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
        error: function (err) {
            swal('', err, 'error');
        }
    });
    $("#genother1").val("");
    }

    function FillDDLAcctg(sVar) {
            var ddlgenother1 = $("#ddlgenother1");
            var ddlgenother1_sel = $("#genother1").val();
            ddlgenother1.html("<option value=''>Please Wait!!!</option>").show();
            var sVal = true;
            $.ajax({
                url: "@(Url.Action("BindListCOA"))",
                data: { sVar: sVar},
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (sVal) {
                    var isExist = false;
                    $.each(data, function (key, val) {
                        markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                        if (val.acctgoid == ddlgenother1_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    ddlgenother1.html(markup).show();
                    if (isExist == true) {
                        ddlgenother1.val(ddlgenother1_sel);
                    }
                    ddlgenother1.trigger('change');
                } else {
                    ddlgenother1.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function FillDDLRole() {
            var ddlgenother1 = $("#ddlgenother1");
            var ddlgenother1_sel =  $("#genother1").val();
            ddlgenother1.html("<option value=''>Please Wait!!!</option>").show();
            $.ajax({
                url: "@(Url.Action("InitDDLRole"))",
                data: {  },
                cache: false,
                type: "POST",
                async: false,
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.genoid + "\'>" + val.gendesc + "</option>";
                        if (val.genoid == ddlgenother1_sel) {
                            isExist = true;
                        }
                    });
                    ddlgenother1.html(markup).show();
                    if (isExist == true) {
                        ddlgenother1.val(ddlgenother1_sel);
                    }
                    //ddlgenother1.trigger('change');
                } else {
                    ddlgenother1.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
        $("#genother1").val("");
        var mobile = GetMobileRoleMaster();
        if (mobile.toUpperCase() == "TEXT") {
            $("#mobile").val("TEXT")
        }
        else if (mobile.toUpperCase() == "DDL") {
            $("#mobile").val("DDL")
        }
    }

    function GetMobileRoleMaster() {
            var ddlgenother1 = $("#ddlgenother1 option:selected").val();
            var DataMobile = "";
            $.ajax({
                    url: "@(Url.Action("GetMobileRoleMaster"))",
                    data: { ddlgenother1 : ddlgenother1 },
                cache: false,
                type: "POST",
                async: false,
                success: function (data) {
                            DataMobile = data.genother1;
                },
                error: function (err) {
                    swal('', err, 'error');
                }
            });
        return DataMobile;
    }


    $("#btnSave").click(function () {
        if ($("#gengroup").val().toUpperCase() == "FILTER DATE AUTO CALC. MRA")
        {
            $("#gendesc").val($("#ddlgendesc option:selected").val());
        }

        var genother1 = $("#ddlgenother1").val();
        if ( genother1 != null) {
            $("#genother1").val($("#ddlgenother1 option:selected").val());
        }

        var genother2 = $("#ddlgenother2").val();
        if (genother2 != null) {
            $("#genother2").val($("#ddlgenother2 option:selected").val());
        }

        var genother3 = $("#ddlgenother3").val();
        if ( genother3 != null) {
            $("#genother3").val($("#ddlgenother3 option:selected").val());
        }

        var genother8 = $("#ddlgenother8 option:selected").val();
        if (gendesc != null)
        {
            $("#genother8").val($("#ddlgenother8 option:selected").val());
        }
    });

    $("#btnDelete").click(function () {
        var oid = $("#genoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });
</script>