﻿@model RSA.Models.DB.QL_trnpoitemmst

@{
    ViewBag.Title = "PO Finish Good";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form PO Finish Good</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>PO Finish Good Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.poitemmstres1)
                        @Html.HiddenFor(model => model.poitemmstres2)
                        @Html.HiddenFor(model => model.poitemmstres3)
                        @Html.HiddenFor(model => model.approvaluser)
                        @Html.HiddenFor(model => model.approvaldatetime)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.closereason)
                        @Html.HiddenFor(model => model.closeuser)
                        @Html.HiddenFor(model => model.closetime)
                        @Html.HiddenFor(model => model.revisereason)
                        @Html.HiddenFor(model => model.reviseuser)
                        @Html.HiddenFor(model => model.revisetime)
                        @Html.HiddenFor(model => model.rejectreason)
                        @Html.HiddenFor(model => model.rejectuser)
                        @Html.HiddenFor(model => model.rejecttime)
                        @*@Html.HiddenFor(model => model.porawmststatus_onpib)*@
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Divisi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.divgroupoid, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Draft No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.poitemmstoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">PO Type</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("poitemtype", new List<SelectListItem>
                                            {
                                           new SelectListItem { Text="LOCAL", Value="LOCAL" },
                                           new SelectListItem { Text="IMPORT", Value="IMPORT" }
                                            }, new { @class = "form-control", @readonly = "" })
                                        </div>
                                        @*@Html.HiddenFor(model => model.porawtype)*@
                                    </div>
                                </div>
                            </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">PO No.</label>
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.poitemno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Date</label>
                                            <div class="col-md-4">
                                                @Html.EditorFor(model => model.poitemdate, new { htmlAttributes = new { @class = "form-control datemask2", @type = "text", @readonly = "" } })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Supplier</label>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    @Html.Editor("suppname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                    <span class="input-group-btn">
                                                        <button type="button" id="btnsearchsupp" class="btn btn-flat" data-toggle="modal" data-target="#modal-supp" onclick="FadeModalSupp()">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                                @Html.HiddenFor(model => model.suppoid)
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Supplier Reff</label>
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.poitemsuppref, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", @type = "text" } })
                                                @Html.ValidationMessageFor(model => model.poitemsuppref, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Currency</label>
                                        <div class="col-md-8">
                                           @*@Html.DropDownList("curr", null, new { @class = "form-control", @maxlength = "50", @readonly = "" })*@
                                            @Html.DropDownListFor(model => model.curroid, null, new { @class = "form-control select2" })
                                        </div>
                                        @*@Html.HiddenFor(model => model.curroid)*@
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Payment Type</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("poitempaytype", null, new { @class = "form -control ", @disabled = "" })
                                        </div>
                                        @Html.HiddenFor(model => model.poitempaytypeoid)
                                    </div>
                                </div>
                            </div>
                            @*<div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Daily Rate to IDR</label>
                                        <div class="col-md-8">
                                            @Html.Editor("", new { @class = "form-control", @maxlength = "50" , @readonly=""})
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Daily Rate to USD</label>
                                        <div class="col-md-8">
                                            @Html.Editor("", new { @class = "form-control", @maxlength = "50", @readonly = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Monthly Rate to IDR</label>
                                        <div class="col-md-8">
                                            @Html.Editor("", new { @class = "form-control", @maxlength = "50", @readonly = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Monthly Rate to USD</label>
                                        <div class="col-md-8">
                                            @Html.Editor("", new { @class = "form-control", @maxlength = "50", @readonly = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Amt</label>
                                        <div class="col-md-8">
                                            @Html.Editor("poitemtotalamt", new { htmlAttributes = new { @class = "form-control numberonly", @maxlength = "16", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Disc Dtl Amt</label>
                                        <div class="col-md-8">
                                            @Html.Editor("poitemtotaldiscdtl", new { htmlAttributes = new { @class = "form-control numberonly", @maxlength = "16", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Netto</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.poitemtotalnetto, new { htmlAttributes = new { @class = "form-control numberonly", @maxlength = "16", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tax</label>
                                            <div class="col-md-3">
                                                @Html.DropDownList("potaxtype", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="TAX", Value="TAX" },
                                                new SelectListItem { Text="NON TAX", Value="NON TAX" }
                                            }, new { @class = "form-control", @disabled = "" })
                                            </div>
                                            @Html.HiddenFor(model => model.poitemtaxtype)
                                            <div class="col-md-5">
                                                @Html.Editor("poitemtaxamt", new { htmlAttributes = new { @class = "form-control numberonly", @maxlength = "16", @readonly = "" } })
                                            </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tax Amt</label>
                                        <div class="col-md-8">
                                            @Html.Editor("poitemvat", new { htmlAttributes = new { @class = "form-control numberonly", @maxlength = "16", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @*<div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Dtl Cost</label>
                                        <div class="col-md-8">
                                            @Html.Editor("porawothercost", new { htmlAttributes = new { @class = "form-control numberonly", @maxlength = "16", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>*@
                                @Html.HiddenFor(model => model.poitemothercost)
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Grand Total Amt</label>
                                        <div class="col-md-8">
                                            @Html.Editor("poitemgrandtotalamt", new { htmlAttributes = new { @class = "form-control numberonly", @maxlength = "16", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.poitemmstnote, new { @class = "form-control", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.poitemmstnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.poitemmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.poitemmststatus } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Approval User</label>
                                        <div class="col-md-8">
                                            @*@Html.DropDownListFor(model => model.approvalcode, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.approvalcode, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>PO Raw Material Detail</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.Hidden("seq")
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">PR No.</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            @Html.Editor("prno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            <span class="input-group-btn">
                                                <button type="button" id="btnsearchpr" class="btn btn-flat" data-toggle="modal" data-target="#modal-pr" onclick="FadeModalPR()">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                        @Html.Hidden("prmstoid")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="pull-left">
                                <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail" onclick="FadeModalDetail()"><b>Add Material</b></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No.</th>
                                        <th></th>
                                        <th>PR No.</th>
                                        <th></th>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th>ETA</th>
                                        <th>PR Qty</th>
                                        <th>PO Qty</th>
                                        <th>Unit</th>
                                        <th>Last Price</th>
                                        <th>Price</th>
                                        <th>Amount</th>
                                        <th>Disc Type</th>
                                        <th>Disc</th>
                                        <th>Disc Amount</th>
                                        <th>Netto</th>
                                        <th>Detail Note</th>
                                        @*<th>Detail Note Internal</th>*@
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                if (Model.poitemmststatus == "In Process" | Model.poitemmststatus == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                    <button type="submit" class="btn btn-primary btn-md" id="btnSaveClose"><b>Save & Close</b></button>

                                    if (ViewBag.action == "Update Data")
                                    {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                    }
                                    <button type="button" class="btn btn-warning btn-md" id="btnSendForApproval"><b>Send For Approval</b></button>
                                }
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                            }
                        </div>

                    </div>
                    
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">PR Raw Material Detail Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>PR Qty</th>
                                    <th>Round Qty</th>
                                    <th>Unit</th>
                                    <th>PO Qty</th>
                                    <th>Price</th>
                                    @*<th>Disc Value</th>*@
                                    <th>Detail Note</th>
                                    @*<th>Detail Note Internal</th>*@
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@

    @* MODAL UNTUK GANTI PR *@
    <div class="modal fade" id="modal-predit">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of PR Finish Good</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalPREdit" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>PR No</th>
                                    <th>PR Date</th>
                                    <th>Expired Date</th>
                                    <th>Department</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK GANTI MATERIAL *@

    @* MODAL UNTUK GANTI MATERIAL *@
    <div class="modal fade" id="modal-mat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Finish Good Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Unit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK GANTI MATERIAL *@


    @* MODAL UNTUK SUPPLIER *@
    <div class="modal fade" id="modal-supp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Supplier</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Supplier Code</th>
                                    <th>Supplier Name</th>
                                    <th>Supplier Address</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SUPPLIER *@

    @* MODAL UNTUK PR *@
    <div class="modal fade" id="modal-pr">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of PR Finish Good</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalPR" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>PR No</th>
                                    <th>PR Date</th>
                                    <th>Expired Date</th>
                                    <th>Department</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK PR *@
</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
            CountHdrAmt();
            EnabledHeader();
        });
        table.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
            //CountDtlAmt();
            //setDataDtl();
        });
        table.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });
        tblModalDtl.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        tblModalDtl.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        var tblModalMat = $("#tblModalMat").DataTable({
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalPREdit = $("#tblModalPREdit").DataTable({
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        $('#tblModalSupp').DataTable({
            "paging": true,
            "bFilter": true,
            "ordering": true,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalSupp = $("#tblModalSupp").DataTable();

        tblModalSupp.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSupp.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#suppname").val(alldata.suppname);
            $("#suppoid").val(alldata.suppoid);
            $("#porawpaytype").val(alldata.supppaymentoid);
            $("#porawpaytypeoid").val(alldata.supppaymentoid);
            //$("#potaxtype").val(alldata.supptaxable);
            //$("#porawtaxtype").val(alldata.supptaxable);
            $("#porawtaxamt").val(alldata.supptaxamt);
            //if (alldata.supptaxable == "TAX") {
            //    $("#porawtaxamt").val("10");
            //} else {
            //    $("#porawtaxamt").val("0");
            //}
            //$("#potype").val(alldata.supptype);
            //$("#porawtype").val(alldata.supptype);
            //$("#curr").val(alldata.suppcurroid);
            //$("#curroid").val(alldata.suppcurroid);
            EnableddivgroupHeader();
            $('#modal-supp').modal('hide');
        });

        $("#tblModalPR").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        var tblModalPR = $("#tblModalPR").DataTable();
        tblModalPR.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalPR.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#prno").val(alldata.pritemno);
            $("#prmstoid").val(alldata.pritemmstoid);
            $("#prexpdate").val(alldata.pritemexpdate);
            $("#deptname").val(alldata.deptname);
            $("#prmstnote").val(alldata.pritemmstnote);
            $('#modal-pr').modal('hide');

        });

        $("#cmpcode").change(function () {
            InitDDLAppUser();
            $("#prno").val("");
            $("#prmstoid").val("");
            $("#prexpdate").val("");
            $("#deptname").val("");
            $("#prmstnote").val("");
        });

        InitDDLAppUser();
        FillDetailData();
        //SetDataDtl();
        //CountHdrAmt();

    })

     function InitDDLAppUser() {
        var cmp = $("#cmpcode option:selected").val();
        var approvalcode = $("#approvalcode");
        var approvalcode_sel = $("#approvalcode option:selected").val();
        approvalcode.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLAppUser"))",
            data: { cmp: cmp },
        cache: false,
        type: "POST",
        success: function (data) {
            var markup = "";
            if (data.result == "sukses") {
                var isExist = false;
                $.each(data.tbl, function (key, val) {
                    markup += "<option value=\'" + val.approvaluser + "\'>" + val.approvaluser + "</option>";
                    if (val.approvaluser == approvalcode_sel) {
                        isExist = true;
                    }
                });
                console.log(data.tbl);
                approvalcode.html(markup).show();
                if (isExist == true) {
                    approvalcode.val(approvalcode_sel);
                }
                approvalcode.trigger('change');
            } else {
                approvalcode.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
        error: function (err) {
            console.log(err);
        }
    });
    }

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                        val.poitemdtlseq,
                        '<button id="editpr" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                        val.pritemno,
                        '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                        val.itemcode,
                        val.itemlongdesc,
                        val.pritemarrdatereqstr,
                        val.pritemqty,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="poitemqty-' + val.poitemdtlseq + '" name="poitemqty-' + val.poitemdtlseq + '" onblur="CountDtlAmt(' + val.poitemdtlseq + ')"  value="' + val.poitemqty + '">',
                        val.poitemunit,
                        val.lastpoprice,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="poitemprice-' + val.poitemdtlseq + '" name="poitemprice-' + val.poitemdtlseq + '" onblur="CountDtlAmt(' + val.poitemdtlseq + ')" value="' + val.poitemprice + '" >',
                        val.poitemdtlamt,
                        '<select class = "form-control" id="poitemdtldisctype-' + val.poitemdtlseq + '" onchange="CountDtlAmt(' + val.poitemdtlseq + ')"> <option value="' + val.poitemdtldisctype + '" selected>' + val.poitemdtldisctype + '</option>  <option value="P">P</option><option value="A">A</option> ',
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="poitemdtldiscvalue-' + val.poitemdtlseq + '" name="poitemdtldiscvalue-' + val.poitemdtlseq + '" onblur="CountDtlAmt(' + val.poitemdtlseq + ')" value="' + val.poitemdtldiscvalue + '">',
                        val.poitemdtldiscamt,
                        val.poitemdtlnetto,
                         //'<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="poitemdtlnetto-' + val.poitemdtlseq + '" name="poitemdtlnetto-' + val.poitemdtlseq + '" value="' + val.poitemdtlnetto + '" readonly="">',
                        '<input type="text" class="form-control" style="max-width: 150px" id="poitemdtlnote-' + val.poitemdtlseq + '" name="poitemdtlnote-' + val.poitemdtlseq + '" value="' + val.poitemdtlnote + '">',
                        //'<input type="text" class="form-control" style="max-width: 150px" id="poitemdtlnote2-' + val.poitemdtlseq + '" name="poitemdtlnote2-' + val.poitemdtlseq + '" value="' + val.poitemdtlnote2 + '">',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                EnabledHeader();
            }, 100);
        });
    }

    function CountDtlAmt(id) {
      var table = $('#DataDtl').DataTable();
      var poitemprice = $("#poitemprice-" + id).val();
      var poitemqty = $("#poitemqty-" + id).val();
      var poitemdtldisctype = $("#poitemdtldisctype-" + id + " option:selected").val();
      var poitemdtldiscvalue = $("#poitemdtldiscvalue-" + id).val();
      var poitemdtldiscamt = 0.0;
      var poitemdtlamt = 0.0;
      var poitemdtlnetto = 0.0;
      var temp = table.row(id-1).data();
      var alldata = JSON.parse(temp[0]);
      alldata.poitemprice = poitemprice;
      alldata.poitemqty = poitemqty;
      poitemdtlamt = poitemprice * poitemqty;
      alldata.poitemdtldisctype = poitemdtldisctype;
      alldata.poitemdtldiscvalue = poitemdtldiscvalue;
      if (poitemdtldisctype == "P")
          poitemdtldiscamt = (poitemdtlamt * poitemdtldiscvalue / 100);
      else
          poitemdtldiscamt = poitemdtldiscvalue;
      alldata.poitemdtldiscamt = poitemdtldiscamt;
      alldata.poitemdtlamt = poitemdtlamt;
      poitemdtlnetto = poitemdtlamt - poitemdtldiscamt;
      alldata.poitemdtlnetto = poitemdtlnetto;
      temp[9] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="poitemqty-' + id + '" name="poitemqty-' + id + '" onblur="CountDtlAmt(' + id + ')" value="' + poitemqty + '" >';
      temp[12] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="poitemprice-' + id + '" name="poitemprice-' + id + '" onblur="CountDtlAmt(' + id + ')" value="' + poitemprice + '" >';
      temp[13] = poitemdtlamt;
      temp[14] = '<select class = "form-control" id="poitemdtldisctype-' + id + '" onchange="CountDtlAmt(' + id + ')"> <option value="' + poitemdtldisctype + '" selected>' + poitemdtldisctype + '</option>  <option value="P">P</option><option value="A">A</option> ';
      temp[15] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="poitemdtldiscvalue-' + id + '" name="poitemdtldiscvalue-' + id + '" onblur="CountDtlAmt(' + id + ')" value="' + poitemdtldiscvalue + '" >';
      temp[16] = poitemdtldiscamt;
      temp[17] = poitemdtlnetto;
       temp[0] = JSON.stringify(alldata);
       table.row(id-1).data(temp).invalidate();
       SetDataDtl();
       CountHdrAmt();
    }


    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    function FadeModalDetail() {
        if (($('#suppoid').val() == 0) || ($('#suppoid').val() == '') || ($('#suppoid').val() == null)) {
            Swal(
               'Please Select Supplier First!',
               '',
               'warning'
                );
            return false
        }
        if (($('#prmstoid').val() == 0) || ($('#prmstoid').val() == '') || ($('#prmstoid').val() == null)) {
            Swal(
               'Please Select PR No First!',
               '',
               'warning'
                );
            return false
        }
        else {
            var table = $('#tblModalDtl').DataTable();
            var prmstoid = $('#prmstoid').val();
            var suppoid = $('#suppoid').val();
            var pomstoid = $("#poitemmstoid").val();
            var cmp = $("#cmpcode").val();
            table.column(1).checkboxes.deselect();
            table.clear().draw();
            $.ajax({
                url: "@(Url.Action("GetDataDetails"))",
                data: { cmp: cmp, prmstoid: prmstoid, suppoid: suppoid, pomstoid: pomstoid },
                cache: false,
                type: "POST",
                success: function (data) {
                    var rows = [];
                    var i = 0;
                    $.each(data, function (key, val) {
                        rows.push([
                            JSON.stringify(val),
                            ++i,
                            val.itemcode,
                            val.itemlongdesc,
                            val.pritemqty,
                            val.itemlimitqty,
                            val.poitemunit,
                            '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="poitemqty-' + i + '" name="poitemqty-' + i + '" value="' + val.pritemqty + '">',
                            '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="poitemprice-' + i + '" name="poitemprice-' + i + '" value="' + val.poitemprice + '">',
                            //'<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="poitemdtldiscvalue-' + i + '" name="poitemdtldiscvalue-' + i + '" value="' + val.poitemdtldiscvalue + '">',
                            '<input type="text" class="form-control" style="max-width: 150px" id="poitemdtlnote-' + i + '" name="poitemdtlnote-' + i + '" value="' + val.poitemdtlnote + '">'//,
                            //'<input type="text" class="form-control" style="max-width: 150px" id="poitemdtlnote2-' + i + '" name="poitemdtlnote2-' + i + '" value="' + val.poitemdtlnote2 + '">'
                        ]);
                    });
                    setTimeout(function () {
                        table.rows.add(rows).draw();
                    }, 100);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    }
    //$("#btnAddToList").click(function () {
        
    //});

    $('#DataDtl').on('click', '#editpr', function () {
        var tbldtl = $('#DataDtl').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = tbldtl.row($tr).data();
        var alldata = JSON.parse(data[0]);
        $("#seq").val(alldata.poitemdtlseq - 1);
        $('#modal-predit').modal('show');

        var table = $('#tblModalPREdit').DataTable();

        var cmp = $("#cmpcode option:selected").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetPRData"))",
            data: { cmp: cmp},
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.pritemno,
                        val.pritemdate,
                        val.pritemexpdate,
                        val.deptname,
                        val.pritemmstnote,
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#tblModalPREdit").on('click', '#select', function () {
        var table = $('#tblModalPREdit').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = table.row($tr).data();
        var alldata = JSON.parse(data[0]);

        var tbldtl = $('#DataDtl').DataTable();
        var datadtl = tbldtl.row($('#seq').val()).data();
        var alldatadtl = JSON.parse(datadtl[0]);


        //$('#prmstoid').val();

        $('#modal-predit').modal('hide');
        $('#modal-mat').modal('show');
        MatEdit(alldata.pritemmstoid);
    });

    function MatEdit(proid) {
        var table = $('#tblModalMat').DataTable();
        var prmstoid = proid;
        //if (($('#prmstoid').val() == 0) || ($('#prmstoid').val() == '') || ($('#prmstoid').val() == null)) {
        //    prmstoid
        //}

        //$('#prmstoid').val();
        var suppoid = $('#suppoid').val();
        var pomstoid = $("#porawmstoid").val();
        var cmp = $("#cmpcode option:selected").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmp: cmp, prmstoid: prmstoid, suppoid: suppoid, pomstoid: pomstoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.itemcode,
                        val.itemlongdesc,
                        val.poitemunit
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    $('#DataDtl').on('click', '#edit', function () {
        var tbldtl = $('#DataDtl').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = tbldtl.row($tr).data();
        var alldata = JSON.parse(data[0]);
        $("#seq").val(alldata.poitemdtlseq - 1);
        $('#modal-mat').modal('show');
        MatEdit(alldata.pritemmstoid);
    });

    $("#tblModalMat").on('click', '#select', function () {
        var table = $('#tblModalMat').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = table.row($tr).data();
        var alldata = JSON.parse(data[0]);

        var tbldtl = $('#DataDtl').DataTable();
        var datadtl = tbldtl.row($('#seq').val()).data();
        var alldatadtl = JSON.parse(datadtl[0]);

        if (!IsOnDtl(alldata.prrawdtloid)) {
            var obj = {
                poitemdtlseq: parseInt($('#seq').val()) + 1,
                pritemmstoid: alldata.pritemmstoid,
                pritemdtloid: alldata.pritemdtloid,
                pritemno: alldata.pritemno,
                pritemdatestr: alldata.pritemdatestr,
                pritemdate: alldata.pritemdate,
                itemoid: alldata.itemoid,
                itemcode: alldata.itemcode,
                itemlongdesc: alldata.itemlongdesc,
                matitemlimitqty: alldata.matitemlimitqty,
                pritemqty: alldata.pritemqty,
                poitemqty: alldata.poitemqty,
                poitemunitoid: alldata.poitemunitoid,
                poitemunit: alldata.poitemunit,
                lastpoprice: alldata.lastpoprice,
                poitemprice: alldata.poitemprice,
                poitemdtlamt: alldata.poitemdtlamt,
                poitemdtldisctype: alldata.poitemdtldisctype,
                poitemdtldiscvalue: alldata.poitemdtldiscvalue,
                poitemdtldiscamt: alldata.poitemdtldiscamt,
                poitemdtlnetto: alldata.poitemdtlnetto,
                poitemdtlnote: alldata.poitemdtlnote,
                //poitemdtlnote2: alldata.poitemdtlnote2,
                pritemarrdatereqstr: alldata.pritemarrdatereqstr,
                pritemarrdatereq: alldata.pritemarrdatereq
            };

            datadtl[0] = JSON.stringify(obj);
            datadtl[3] = alldata.pritemno;
            datadtl[5] = alldata.itemcode;
            datadtl[6] = alldata.itemlongdesc;
            datadtl[7] = alldata.pritemarrdatereqstr;
            datadtl[8] = alldata.pritemqty;
            datadtl[10] = alldata.poitemunit;

            tbldtl.row($('#seq').val()).data(datadtl).invalidate();
            $('#modal-mat').modal('hide');
            ClearDetail();
        }
        else
            Swal(
              'This ' + alldata.itemlongdesc + ' Already in Table',
              '',
              'warning'
               );
        return false
    });

    function AddToDetail() {
        var isValid = true;
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid)
            {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                var poitemqty_id = "#poitemqty-" + val;
                var poitemprice_id = "#poitemprice-" + val;
                //var poitemdtldisctype_id = "#poitemdtldisctype-" + val;
                //var poitemdtldiscvalue_id = "#poitemdtldiscvalue-" + val;
                var poitemdtlnote_id = "#poitemdtlnote-" + val;
                //var poitemdtlnote2_id = "#poitemdtlnote2-" + val;
                var poitemqty = table.$(poitemqty_id).val();
                var poitemprice = table.$(poitemprice_id).val();
                var poitemdtlamt = poitemprice * poitemqty;
                //var poitemdtldisctype = table.$(poitemdtldisctype_id).val();
                //var poitemdtldiscvalue = table.$(poitemdtldiscvalue_id).val();
                //var poitemdtldiscamt = 0.0;
                //if (poitemdtldisctype == "P")
                //    poitemdtldiscamt = (poitemdtlamt * poitemdtldiscvalue / 100);
                //else
                //    poitemdtldiscamt = poitemdtldiscvalue;
                var poitemdtlnetto = poitemdtlamt; //- poitemdtldiscamt;
                var poitemdtlnote = table.$(poitemdtlnote_id).val();
                //var poitemdtlnote2 = table.$(poitemdtlnote2_id).val();
                if (!IsOnDtl(alldata.pritemdtloid)) {
                    var id = tbldtl.rows().data().length + 1;
                    var obj = {
                        poitemdtlseq: id,
                        pritemmstoid: alldata.pritemmstoid,
                        pritemdtloid: alldata.pritemdtloid,
                        pritemno: alldata.pritemno,
                        pritemdatestr: alldata.pritemdatestr,
                        pritemdate: alldata.pritemdate,
                        itemoid: alldata.itemoid,
                        itemcode: alldata.itemcode,
                        itemlongdesc: alldata.itemlongdesc,
                        itemlimitqty: alldata.itemlimitqty,
                        pritemqty: alldata.pritemqty,
                        poitemqty: poitemqty,
                        poitemunitoid: alldata.poitemunitoid,
                        poitemunit: alldata.poitemunit,
                        lastpoprice: alldata.lastpoprice,
                        poitemprice: poitemprice,
                        poitemdtlamt: poitemdtlamt,
                        poitemdtldisctype: alldata.poitemdtldisctype,
                        poitemdtldiscvalue: alldata.poitemdtldiscvalue,
                        poitemdtldiscamt: alldata.poitemdtldiscamt,
                        poitemdtlnetto: poitemdtlnetto,
                        poitemdtlnote: poitemdtlnote,
                        //poitemdtlnote2: poitemdtlnote2,
                        pritemarrdatereqstr: alldata.pritemarrdatereqstr,
                        pritemarrdatereq: alldata.pritemarrdatereq
                    };
                    tbldtl.row.add([
                        JSON.stringify(obj),
                        id,
                        '<button id="editpr" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                        alldata.pritemno,
                        '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                        alldata.itemcode,
                        alldata.itemlongdesc,
                        alldata.pritemarrdatereqstr,
                        alldata.pritemqty,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="poitemqty-' + id + '" name="poitemqty-' + id + '" onblur="CountDtlAmt(' + id + ')" value="' + poitemqty + '" >',
                        alldata.poitemunit,
                        alldata.lastpoprice,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="poitemprice-' + id + '" name="poitemprice-' + id + '" onblur="CountDtlAmt(' + id + ')" value="' + poitemprice + '">',
                        poitemdtlamt,
                        //'<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="poitemdtlamt-' + id + '" name="poitemdtlamt-' + id + '" value="' + poitemdtlamt + '" readonly="">',
                        //alldata.poitemdtldisctype,
                        '<select class = "form-control" id="poitemdtldisctype-' + id + '" onblur="CountDtlAmt(' + id + ')"> <option value="' + alldata.poitemdtldisctype + '" selected>' + alldata.poitemdtldisctype + '</option>  <option value="P">P</option><option value="A">A</option> ',
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="poitemdtldiscvalue-' + id + '" name="poitemdtldiscvalue-' + id + '" onblur="CountDtlAmt(' + id + ')" value="' + alldata.poitemdtldiscvalue + '">',
                        alldata.poitemdtldiscamt,
                        poitemdtlnetto,
                         //'<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="poitemdtlnetto-' + id + '" name="poitemdtlnetto-' + id + '" value="' + poitemdtlnetto + '" readonly="">',
                        '<input type="text" class="form-control" style="max-width: 150px" id="poitemdtlnote-' + id + '" name="poitemdtlnote-' + id + '" value="' + poitemdtlnote + '">',
                        //'<input type="text" class="form-control" style="max-width: 150px" id="poitemdtlnote2-' + id + '" name="poitemdtlnote2-' + id + '" value="' + poitemdtlnote2 + '">',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                }
            }
        })
        SetDataDtl();
        CountHdrAmt();
        ClearDetail();
        EnabledHeader();
        //CountDtlAmt();
    }

    function EnableddivgroupHeader() {
        $("#divgroupoid").attr("readonly", true);
    }

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        $("#cmpcode").attr("readonly", bVal);
        $("#btnsearchsupp").attr("disabled", bVal);
    }

    function ClearDetail() {
        $("#prno").val("");
        $("#prmstoid").val(0);
        $("#prexpdate").val("");
        $("#deptname").val("");
        $("#prmstnote").val("");
    }

    function IsOnDtl(pritemdtloid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (pritemdtloid == alldata.pritemdtloid) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var poitemqty_id = "#poitemqty-" + (i + 1);
            var poitemprice_id = "#poitemprice-" + (i + 1);
            var poitemdtldisctype_id = "#poitemdtldisctype-" + (i + 1);
            var poitemdtldiscvalue_id = "#poitemdtldiscvalue-" + (i + 1);
            var poitemdtlnote_id = "#poitemdtlnote-" + (i + 1);
            //var poitemdtlnote2_id = "#poitemdtlnote2-" + (i + 1);
            var poitemqty = table.$(poitemqty_id).val();
            var poitemprice = table.$(poitemprice_id).val();
            var poitemdtlamt = poitemprice * poitemqty;
            var poitemdtldisctype = table.$(poitemdtldisctype_id).val();
            var poitemdtldiscvalue = table.$(poitemdtldiscvalue_id).val();
            var poitemdtldiscamt = 0.0;
            if (poitemdtldisctype == "P")
                poitemdtldiscamt = (poitemdtlamt * poitemdtldiscvalue / 100);
            else
                poitemdtldiscamt = poitemdtldiscvalue;
            var poitemdtlnetto = (poitemdtlamt - poitemdtldiscamt);
            var poitemdtlnote = table.$(poitemdtlnote_id).val();
            //var porawdtlnote2 = table.$(porawdtlnote2_id).val();
            var obj = {
                poitemdtlseq: i + 1,
                pritemmstoid: alldata.pritemmstoid,
                pritemdtloid: alldata.pritemdtloid,
                pritemno: alldata.pritemno,
                pritemdatestr: alldata.pritemdatestr,
                pritemdate: alldata.pritemdate,
                itemoid: alldata.itemoid,
                itemcode: alldata.itemcode,
                itemlongdesc: alldata.itemlongdesc,
                matitemlimitqty: alldata.matitemlimitqty,
                pritemqty: alldata.pritemqty,
                poitemqty: poitemqty,
                poitemunitoid: alldata.poitemunitoid,
                poitemunit: alldata.poitemunit,
                lastpoprice: alldata.lastpoprice,
                poitemprice: poitemprice,
                poitemdtlamt: poitemdtlamt,
                poitemdtldisctype: poitemdtldisctype,
                poitemdtldiscvalue: poitemdtldiscvalue,
                poitemdtldiscamt: poitemdtldiscamt,
                poitemdtlnetto: poitemdtlnetto,
                poitemdtlnote: poitemdtlnote,
                //poitemdtlnote2: poitemdtlnote2,
                pritemarrdatereqstr: alldata.pritemarrdatereqstr,
                pritemarrdatereq: alldata.pritemarrdatereq

            }
            rows.push(obj);
        }
        //countHdrAmt();
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    function CountHdrAmt() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var poitemtotalamt = 0.0;
        var poitemtotaldiscdtl = 0.0;
        var poitemtotalnetto = 0.0;
        var poitemvat = 0.0;
        var poitemgrantotalamt = 0.0;
        var poitemtaxamt = $("#poitemtaxamt").val();
        var poitemtaxtype = $("#poitemtaxtype").val();
        var poitemothercost = $("#poitemothercost").val();


        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0]);

            if (!isNaN(parseInt(alldata.poitemdtlamt)))
                poitemtotalamt += parseFloat(alldata.poitemdtlamt);
            if (!isNaN(parseInt(alldata.poitemdtldiscamt)))
                poitemtotaldiscdtl += parseFloat(alldata.poitemdtldiscamt);
            if (!isNaN(parseInt(alldata.poitemdtlnetto)))
                poitemtotalnetto += parseFloat(alldata.poitemdtlnetto);
        }
        poitemtotalnetto = poitemtotalamt - poitemtotaldiscdtl
        if (poitemtaxtype == "TAX") {
            poitemvat = ((poitemtotalnetto) * poitemtaxamt) / 100

        }
        else {
            poitemvat = 0
        }
        poitemgrandtotalamt = poitemtotalnetto + poitemvat + poitemothercost
        $("#poitemtotalamt").val(poitemtotalamt);
        $("#poitemtotaldiscdtl").val(poitemtotaldiscdtl);
        $("#poitemtotalnetto").val(poitemtotalnetto);
        $("#poitemvat").val(poitemvat);
        $("#poitemgrandtotalamt").val(poitemgrandtotalamt);
    }

    function FadeModalSupp() {
        var table = $('#tblModalSupp').DataTable();
        var divgroupoid = $('#divgroupoid option:selected').val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSuppData"))",
            data: { divgroupoid: divgroupoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        //val,
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.suppcode,
                        val.suppname,
                        val.suppaddr
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    //$("#btnsearchsupp").click(function () {

    //});

    function FadeModalPR() {
        if (($('#suppoid').val() == 0) || ($('#suppoid').val() == '')) {
            Swal(
               'Please Select Supplier First!',
               '',
               'warning'
                );
            return false
        }
        var divgroupoid = $('#divgroupoid option:selected').val();
        var table = $('#tblModalPR').DataTable();
        var cmp = $("#cmpcode option:selected").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetPRData"))",
            data: { cmp: cmp, divgroupoid: divgroupoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.pritemno,
                        val.pritemdate,
                        val.pritemexpdate,
                        val.deptname,
                        val.pritemmstnote,
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
    //$("#btnsearchpr").click(function () {

    //});

    $("#btnSave").click(function () {
        SetDataDtl();
    });

    $("#btnSaveClose").click(function () {
        $("#closing").val("true");
        $("#btnSave").click();
    });

    $("#btnDelete").click(function () {
        var oid = $("#poitemmstoid").val();
        var cmp = $("#cmpcode option:selected").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnSendForApproval").click(function () {
        $("#poitemmststatus").val("In Approval");

        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for APPROVAL?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#closing").val("true");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

</script>