﻿@model RSA.Models.DB.QL_prrawmst

@{
    ViewBag.Title = "Permintaan Beli Raw Material";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    string CompnyCode = Session["CompnyCode"].ToString();
}

<section class="content-header">
    <h1>Form Permintaan Beli Raw Material</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Permintaan Beli Raw Material Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.divoid)
                        @Html.HiddenFor(model => model.prrawtype)
                        @Html.HiddenFor(model => model.prrawmstres1)
                        @Html.HiddenFor(model => model.prrawmstres2)
                        @Html.HiddenFor(model => model.prrawmstres3)
                        @Html.HiddenFor(model => model.approvalcode)
                        @Html.HiddenFor(model => model.approvaldatetime)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.revisetime)
                        @Html.HiddenFor(model => model.rejecttime)
                        @Html.HiddenFor(model => model.closereason)
                        @Html.HiddenFor(model => model.closeuser)
                        @Html.HiddenFor(model => model.closetime)
                        @Html.HiddenFor(model => model.specialflag)
                        @Html.HiddenFor(model => model.divgroupoid)
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Divisi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("ddldivgroupoid", null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Permintaan Khusus</label>
                                        <div class="col-md-4">
                                            @Html.CheckBox("specialflag", new { htmlAttributes = new { @class = "form-control", @Value = "Ya" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Draft No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.prrawmstoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">PR No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.prrawno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @value = "PRRAW-" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Departemen <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.deptoid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.deptoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group" style="display:none">
                                        <label class="col-md-4 control-label">Require No.</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @*@Html.Editor("requireno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @value = "1" } })*@
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchreq" class="btn btn-flat" data-toggle="modal" data-target="#modal-req">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @*@Html.HiddenFor(model => model.requiremstoid)*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Date</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.prrawdate, new { htmlAttributes = new { @class = "form-control datemask2", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Expired Date <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.prrawexpdate, new { htmlAttributes = new { @class = "form-control datepicker datemask2", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.prrawexpdate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.prrawmstnote, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.prrawmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>Permintaan Beli Raw Material Detail</b></h3>
                    </div>
                    <div class="box-body">
                        <div class="container-fluid">
                            <div class="form-group">
                                <label id="i_u2" class="col-md-2 control-label text-red">New Detail</label>
                            </div>
                            <div class="row">
                                @(Html.Hidden("seq"))
                                @(Html.Hidden("matrawcode"))
                                @(Html.Hidden("prrawunitoid"))
                                @(Html.Hidden("prrawunit"))
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl. Dibutuhkan </label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("prrawarrdatereq", new { htmlAttributes = new { @id = "prrawarrdatereq", @class = "form-control datepicker datemask2", @type = "text" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessage("prrawarrdatereq", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-4">Bahan Pokok <label class="text-red">*</label></label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <input type="text" id="matrawlongdesc" class="form-control" value="" readonly="readonly" />
                                            <span class="input-group-btn">
                                                <button type="button" id="btnsearchraw" class="btn btn-flat" data-toggle="modal" data-target="#modal-matraw" onclick="FadeModalMatRaw()">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                        @(Html.Hidden("matrawoid"))
                                        @Html.ValidationMessage("matrawoid", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Qty</label>
                                        <div class="col-md-4">
                                            @Html.Editor("prrawqty", new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessage("prrawqty", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Qty Pembulatan</label>
                                        <div class="col-md-4">
                                            @Html.Editor("matrawlimitqty", new { htmlAttributes = new { @id = "matrawlimitqty", @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Catatan Detail</label>
                                        <div class="col-md-8">
                                            @Html.TextArea("prrawdtlnote", new { @class = "form-control", @maxlength = "100" })
                                            @Html.ValidationMessage("prrawdtlnote", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="pull-left">
                                @*<button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Add To List</b></button>*@
                                <button type="button" class="btn btn-primary" id="btnAddToList" onclick="AddToList()"><b>Add To List</b></button>
                                <button type="button" class="btn btn-secondary" onclick="clearDetail()"><b>Clear</b></button>
                            </div>
                        </div>
                    </div>


                    //DETAIL DATA LIST
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No.</th>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th>Qty</th>
                                        <th>Unit</th>
                                        <th>Arr. Date Req.</th>
                                        <th>Detail Note</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                if (Model.prrawmststatus == "In Process" | Model.prrawmststatus == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                    if (ViewBag.action == "Update Data")
                                    {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                    }
                                    <button type="button" class="btn btn-warning btn-md" id="btnSendForApproval"><b>Send For Approval</b></button>
                                }
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                            }
                        </div>
                    </div>
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK REQUIRE NO *@
    @*<div class="modal fade" id="modal-req">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Material Requirement Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalReq" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Require No</th>
                                    <th>Require Date</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>*@
    @* AKHIR MODAL UNTUK REQUIRE NO *@

    @* MODAL UNTUK RAW MATERIAL *@
    <div class="modal fade" id="modal-matraw">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Bahan Pokok</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalRaw" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Kode</th>
                                    <th>Deskripsi</th>
                                    <th>Satuan</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR UNTUK RAW MATERIAL *@
</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        //SETTING LIST DETAIL
        $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0,8],
                "visible": false,
                "searchable": false
            }]
        });

        // Delete & Edit a record DETAIL
        var table = $('#DataDtl').DataTable();

        // Edit record
        table.on('click', '#edit', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }

            clearDetail();
            var data = table.row($tr).data();
            var alldata = JSON.parse(data[0])
            $('#i_u2').html("Edit Detail");
            $("#seq").val(data[1]);

            //$('#upmreftype').val(alldata.upmreftype).trigger('change');
            $('#matrawoid').val(alldata.matrawoid);
            $('#matrawcode').val(alldata.matrawcode);
            $('#matrawlongdesc').val(alldata.matrawlongdesc);
            $('#prrawarrdatereq').val(alldata.prrawarrdatereq);
            $('#prrawqty').val(alldata.prrawqty);
            $('#prrawunitoid').val(alldata.prrawunitoid);
            $('#prrawunit').val(alldata.prrawunit);
            $('#matrawlimitqty').val(alldata.matrawlimitqty);
            $('#prrawdtlnote').val(alldata.prrawdtlnote);

            //if ($('#upmrefno').val().length > 0) {
            //    $("#upmrefname").prop("readonly", true);
            //    $("#upmrefdesc").prop("readonly", true);
            //    $("#upmunit").prop("readonly", true);
            //}
        });

        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();

            var data = table.rows().data();
            //console.dir(data);

            //Mengurutkan nomor
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var row = table.row(i).data();
                    row[1] = i + 1;
                    table.row(i).data(row).invalidate();
                }
            }

            setDataDtl();
            EnabledHeader();
            e.preventDefault();
        });

        table.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        table.on("keypress keyup blur", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        //$("#tblModalReq").DataTable({
        //    "columnDefs": [
        //    {
        //        "targets": [0],
        //        "visible": false,
        //        "searchable": false
        //    }]
        //});

        //var tblModalReq = $("#tblModalReq").DataTable();
        //tblModalReq.on('click', '#select', function () {
        //    $tr = $(this).closest('tr');
        //    if ($($tr).hasClass('child')) {
        //        $tr = $tr.prev('.parent');
        //    }
        //    var data = tblModalReq.row($tr).data();
        //    var alldata = JSON.parse(data[0])
        //    $("#requireno").val(alldata.requireno);
        //    $("#requiremstoid").val(alldata.requiremstoid);
        //    $('#modal-req').modal('hide');
        //});

        //START MODAL LIST MATRAW
        //SETTING MODAL LIST MATRAW
        $('#tblModalRaw').DataTable({
            "paging": true,
            "bFilter": true,
            "ordering": true,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        //SELECTED FROM MODAL RAW MATERIAL
        var tblModalRaw = $('#tblModalRaw').DataTable();

        tblModalRaw.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }

            var data = tblModalRaw.row($tr).data();
            //alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
            var alldata = data[0];

            $("#matrawoid").val(alldata.matrawoid);
            $("#matrawlongdesc").val(alldata.matrawlongdesc);
            $("#matrawcode").val(alldata.matrawcode);
            $("#prrawunitoid").val(alldata.prrawunitoid);
            $("#prrawunit").val(alldata.prrawunit);
            $('#matrawlimitqty').val(alldata.matrawlimitqty);

            $('#modal-matraw').modal('hide');
            $("#matrawlimitqty").prop("readonly", true);
        });
        //END MODAL LIST MATRAW

        //FillDDLDept()
        FillDetailData();
    })

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                var edit = '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>';
                var remove = '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>';
                val.prrawarrdatereq = moment(jsDate(val.prrawarrdatereq)).format('MM/DD/YYYY');
                rows.push([
                    JSON.stringify(val),
                    val.prrawdtlseq,
                    val.matrawcode,
                    val.matrawlongdesc,
                    //'<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="prrawqty-' + val.prrawdtlseq + '" name="prrawqty-' + val.prrawdtlseq + '" value="' + val.prrawqty + '">',
                    val.prrawqty,
                    val.prrawunit,
                    //'<input type="text" class="form-control datepicker" style="max-width: 100px" id="prrawarrdatereq-' + val.prrawdtlseq + '" name="prrawarrdatereq-' + val.prrawdtlseq + '" value="' + moment(jsDate(val.prrawarrdatereq)).format('MM/DD/YYYY') + '">',
                    val.prrawarrdatereq,
                    //'<input type="text" class="form-control" style="max-width: 150px" id="prrawdtlnote-' + val.prrawdtlseq + '" name="prrawdtlnote-' + val.prrawdtlseq + '" value="' + val.prrawdtlnote + '">',
                    val.prrawdtlnote,
                    edit,
                    remove
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
            EnabledHeader();
        });
        //$("input[id*='prrawarrdatereq']").datepicker({
        //    format: 'mm/dd/yyyy',
        //    todayHighlight: true,
        //    autoclose: true
        //});
    }

    function FillDDLDept() {
        var cmpcode = CompnyCode;
        var deptoid = $("#deptoid");
        var deptoid_sel = $("#deptoid option:selected").val();
        deptoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLDepartment"))",
            data: { cmpcode: cmpcode },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.deptoid + "\'>" + val.deptname + "</option>";
                        if (val.deptoid == deptoid_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    deptoid.html(markup).show();
                    if (isExist == true) {
                        deptoid.val(deptoid_sel);
                    }
                    deptoid.trigger('change');
                } else {
                    deptoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    @*$("#btnAddToList").click(function () {
        var table = $('#tblModalDtl').DataTable();
        var reqoid = $('#requiremstoid').val();
        var cmp = $("#cmpcode option:selected").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmp: cmp, reqoid: reqoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        ++i,
                        val.prrawdtlseq,
                        val.matrawcode,
                        val.matrawlongdesc,
                        '<input type="text" class="form-control numberonly" style="max-width: 80px" id="prrawqty-' + i + '" name="prrawqty-' + i + '" value="' + val.prrawqty + '">',
                        val.prrawunit,
                        '<input type="text" class="form-control datepicker datemask2" style="max-width: 100px" id="prrawarrdatereq-' + i + '" name="prrawarrdatereq-' + i + '" value="' + moment(jsDate(val.prrawarrdatereq)).format('MM/DD/YYYY') + '">',
                        '<input type="text" class="form-control" style="max-width: 150px" id="prrawdtlnote-' + i + '" name="prrawdtlnote-' + i + '" value="' + val.prrawdtlnote + '">'
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });*@

    function IsOnDtl(matrawoid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (matrawoid == alldata.matrawoid) {
                return true;
            }
        }
        return false;
    }

    @*function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var prrawarrdatereq_id = "#prrawarrdatereq-" + (i + 1);
            var prrawqty_id = "#prrawqty-" + (i + 1);
            var prrawdtlnote_id = "#prrawdtlnote-" + (i + 1);
            var prrawarrdatereq = table.$(prrawarrdatereq_id).val();
            var prrawqty = table.$(prrawqty_id).val();
            var prrawdtlnote = table.$(prrawdtlnote_id).val();
            var obj = {
                prrawdtlseq: i + 1,
                matrawoid: alldata.matrawoid,
                matrawcode: alldata.matrawcode,
                matrawlongdesc: alldata.matrawlongdesc,
                matrawlimitqty: alldata.matrawlimitqty,
                prrawqty: prrawqty,
                prrawunitoid: alldata.prrawunitoid,
                prrawunit: alldata.prrawunit,
                prrawarrdatereq: prrawarrdatereq,
                prrawdtlnote: prrawdtlnote,
                requiredtloid: alldata.requiredtloid,
                requireqty: alldata.requireqty
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }*@

    @*$("#btnsearchreq").click(function () {
        var table = $('#tblModalReq').DataTable();
        var cmp = $("#cmpcode option:selected").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetRequireData"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.requireno,
                        moment(jsDate(val.requiredate)).format('MM/DD/YYYY'),
                        val.requiremstnote
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });*@

    $("#btnDelete").click(function () {
        var oid = $("#prrawmstoid").val();
        var cmp = $("#cmpcode").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnSendForApproval").click(function () {
        $("#prrawmststatus").val("In Approval");

        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for APPROVAL?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>

<script language="javascript" type="text/javascript">
    function FadeModalMatRaw() {
        var table = $('#tblModalRaw').DataTable();
        var divgroupoid = $('#divgroupoid').val();
        var ddldivgroupoid = $('#ddldivgroupoid option:selected').val();
        if (ddldivgroupoid == null) {
            divgroupoid = divgroupoid;
        } else {
            divgroupoid = ddldivgroupoid;
        }
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetMatRaw"))",
            data: { cmp: 'RSA', divgroupoid: divgroupoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        //JSON.stringify(val),
                        val,
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.matrawcode,
                        val.matrawlongdesc,
                        val.prrawunit,
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    //START ADD TO LIST TO DETAIL
    function AddToList() {
        var table = $('#DataDtl').DataTable();
        //var upmreftype = $('#upmreftype option:selected').val();
        var prrawarrdatereq = $('#prrawarrdatereq').val();
        var matrawoid = $('#matrawoid').val();
        var matrawlongdesc = $('#matrawlongdesc').val();
        var matrawcode = $('#matrawcode').val();
        var prrawqty = $('#prrawqty').val();
        var prrawunitoid = $('#prrawunitoid').val();
        var prrawunit = $('#prrawunit').val();
        var matrawlimitqty = $('#matrawlimitqty').val();
        var prrawdtlnote = $('#prrawdtlnote').val();

        var isValid = true;

        if (matrawoid.length > 0) {
            $("[data-valmsg-for=matrawoid]").html("");
        } else {
            isValid = false;
            $("[data-valmsg-for=matrawoid]").html("Pilih Barang !");
        }
        if (prrawqty.length > 0) {
            $("[data-valmsg-for=prrawqty]").html("");
        } else {
            isValid = false;
            $("[data-valmsg-for=prrawqty]").html("Isi Qty");
        }

        if (isValid) {
            var obj = {
                prrawarrdatereq : prrawarrdatereq,
                matrawoid : matrawoid,
                matrawlongdesc: matrawlongdesc,
                matrawcode: matrawcode,
                prrawqty: prrawqty,
                prrawunitoid: prrawunitoid,
                prrawunit: prrawunit,
                matrawlimitqty : matrawlimitqty,
                prrawdtlnote : prrawdtlnote
            }

            if ($('#i_u2').html() == "Edit Detail") { //EDIT DATA
                var id = parseInt($("#seq").val()) - 1;
                if (isOnDtl(matrawoid, id + 1)) {
                    $('[data-valmsg-for=matrawoid]').html("Barang sudah pernah di tambahkan").show();
                } else {
                    var row = table.row(id).data();
                    row[0] = JSON.stringify(obj);
                    row[2] = matrawcode;
                    row[3] = matrawlongdesc;
                    row[4] = prrawqty;
                    row[5] = prrawunit;
                    row[6] = prrawarrdatereq;
                    row[7] = prrawdtlnote;
                    table.row(id).data(row).invalidate();
                    clearDetail();
                    setDataDtl();
                }
            } else {
                var id = table.rows().data().length + 1;//menambahkan data ke tabel
                if (isOnDtl(matrawoid, -1)) {
                    $('[data-valmsg-for=matrawoid]').html("Barang sudah pernah di tambahkan").show();
                } else {
                    table.row.add([
                        JSON.stringify(obj),
                        id,
                        matrawcode,
                        matrawlongdesc,
                        prrawqty,
                        prrawunit,
                        prrawarrdatereq,
                        prrawdtlnote,
                        '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                    clearDetail();
                    EnabledHeader();
                    setDataDtl();
                }
            }
        }
    }

    function isOnDtl(matrawoid, seq) { //cek apa data sudah pernah ditambahkan
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        //console.dir(data);

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (matrawoid == alldata.matrawoid && data[i][1] != seq && matrawoid != 0) {
                return true;
            }
        }
        return false;
    }

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        if (table != null) {
            var data = table.rows().data();
            if (data.length > 0) { bVal = true; } else { bVal = false; }
        } else { bVal = false; }
        $("#divgroupoid").val($('#ddldivgroupoid option:Selected').val());
        $("#ddldivgroupoid").prop("disabled", bVal);
    }

    function clearDetail() {//clear field data detail
        $('#i_u2').html("New Detail");
        $('#seq').val(0);

        //$("select#upmreftype")[0].selectedIndex = 0;
        $('#matrawcode').val("");
        $("#matrawoid").val("");
        $("#matrawlongdesc").val("");
        $("#prrawqty").val(0);
        $('#prrawunitoid').val("");
        $("#prrawunit").val("");
        $("#matrawlimitqty").val(0);
        $("#prrawdtlnote").val("");

        //$("#upmrefname").prop("readonly", false);
        //$("#upmrefdesc").prop("readonly", false);
        //$("#upmunit").prop("readonly", false);
    }

    function setDataDtl() {//mengirim data table ke controler
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();

        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0])
            rows.push(alldata);
        }
        //console.dir(rows);
        //console.dir(JSON.stringify(rows));
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }
    //END ADD TO LIST TO DETAIL
</script>