﻿@model IEnumerable<RSA.Controllers.PRRawMaterialController.prrawmst>

@{
    ViewBag.Title = "Permintaan Beli Raw Material";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //var servertime = RSA.Controllers.ClassFunction.GetServerTime();
}

<section class="content-header">
    <h1>List Permintaan Beli Raw Material</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
          
            <div class="box box-primary">
                <div class="box-body">
                    <div class="container-fluid row">
                        <a class="btn btn-success" href="Form">
                            <i class="fa fa-plus"></i> Create New
                        </a>
                    </div><br>
                </div>
                @Html.Hidden("isCollapse")
                @Html.Partial("~/Views/Shared/_FilterList.cshtml")
                 
                <div class="box-body">
                    @Html.Hidden("DisplayCol")
                    <div class="row">
                        
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th>Draft No.</th>
                                        <th>Divisi</th>
                                        <th>PR No.</th>
                                        <th>Date</th>
                                        <th>Department</th>
                                        <th>Status</th>
                                        <th>Note</th>
                                        <th>Revise Reason</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var i in Model)
                                        {
                                            <tr>
                                                <td class="text-center"><a href="Form?id=@Html.DisplayFor(m => i.prrawmstoid)&cmp=@Html.DisplayFor(m => i.cmpcode)" class="text-primary">@Html.DisplayFor(m => i.prrawmstoid)</a></td>
                                                <td>@Html.DisplayFor(m => i.divgroup)</td>
                                                <td>@Html.DisplayFor(m => i.prrawno)</td>
                                                <td class="text-center">@i.prrawdate.ToString("MM/dd/yyyy")</td>
                                                <td>@Html.DisplayFor(m => i.deptname)</td>
                                                <td class="text-center">@Html.DisplayFor(m => i.prrawmststatus)</td>
                                                <td>@Html.DisplayFor(m => i.prrawmstnote)</td>
                                                <td>@Html.DisplayFor(m => i.revisereason)</td>
                                                <td class="text-center"><button title="Print" type="button" class="btn btn-sm btn-primary" onclick="PrintReport(@Html.DisplayFor(m => i.prrawmstoid))"><i class="fa fa-print"></i></button></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {

    });

    function PrintReport(id) {
        window.location.assign("@Url.Action("PrintReport")?id=" + id + "");
    };
</script>