﻿@{
    ViewBag.Title = "Usage Report";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Material Usage Report</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm("PrintReport", "UsageReport"))
                {
                    <div class="box-body">
                        <div class="container-fluid">
                            @Html.Hidden("reporttype")
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" style="display:none;">
                                        <label class="col-md-4 control-label">Type</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLType", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text = "Summary", Value = "Summary" },
                                            new SelectListItem { Text = "Detail", Value = "Detail" }
                                        }, new { @class = "form-control select2", @onchange = "ChangeType()" })
                                        </div>
                                    </div>

                                    <div class="form-group" style="display:none">
                                        <label class="col-md-4 control-label">Status SO to Spk</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLspk", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text = "ALL", Value = "ALL" },
                                            new SelectListItem { Text = "Belum Completed", Value = "Belum Completed" },
                                            new SelectListItem { Text = "Completed", Value = "Completed" }
                                        }, new { @class = "form-control select2" })
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-8">
                                        @Html.DropDownList("DDLStatus", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="In Process", Value="In Process", Selected=true },      
                                            new SelectListItem { Text="Post", Value="Post", Selected=true },
                                            new SelectListItem { Text="Closed", Value="Closed", Selected=true },
                                            new SelectListItem { Text="Cancel", Value="Cancel", Selected=true }
                                        }, new { @class = "form-control select2", @multiple= "multiple" })
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                            
                                            <label class="col-md-1 control-label text-sm">@Html.CheckBox("checktgl", new { @class = "checktgl", @value = "checktgl" }) </label>
                                       
                                            <div class="col-md-3">
                                                @Html.DropDownList("DDLPeriod", new List<SelectListItem>
                                                {
                                                new SelectListItem { Text = "Tgl Transaksi", Value = "u.createtime" },
                                                }, new { @class = "form-control select2" })
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    @Html.Editor("TextPeriod", new { htmlAttributes = new { @class = "form-control daterangepicker", @type = "text" } })
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </div>
                                                @Html.Hidden("StartPeriod")
                                                @Html.Hidden("EndPeriod")
                                            </div>
                                        </div>
                                </div>                               
                            </div>

                                @*===== Baris ke 2 =====*@
                                <div class="row">
                                    <div class="col-md-6" style="display:none">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">SO No.<label class="text-red">*</label></label>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    @Html.TextArea("soitemno", new { @class = "form-control" })
                                                    <span class="input-group-btn">
                                                        <button type="button" id="btnsearchso" class="btn btn-link" data-toggle="modal" data-target="#modal-so">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label class="col-md-4 control-label">Customer</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    @Html.TextArea("TextCust", new { @class = "form-control" })
                                                    <span class="input-group-btn">
                                                        <button type="button" id="btnsearchcust" class="btn btn-link" data-toggle="modal" data-target="#modal-cust">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            @*=========================*@

                            <div class="row" >
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Usage No.<label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.TextArea("usageno", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchusage" class="btn btn-link" data-toggle="modal" data-target="#modal-prodres">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">SPK No.<label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.TextArea("wono", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchwo" class="btn btn-link" data-toggle="modal" data-target="#modal-wo">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                                @*===== Baris ke 3 =====*@
                                <div class="row">
                                    <div class="col-md-6" style="display: none;">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @Html.DropDownList("DDLNomor", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text = "SO No.", Value = "SO No." },
                                                new SelectListItem { Text = "Draft No.", Value = "Draft No." }
                                                }, new { @class = "form-control select2" })
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    @Html.TextArea("TextNomor", new { @class = "form-control" })
                                                    <span class="input-group-btn">
                                                        <button type="button" id="btnsearchpr" class="btn btn-link" data-toggle="modal" data-target="#modal-pr">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Material</label>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    @Html.TextArea("TextMaterial", new { @class = "form-control" })
                                                    <span class="input-group-btn">
                                                        <button type="button" id="btnsearchmat" class="btn btn-link" data-toggle="modal" data-target="#modal-mat">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Sorting</label>
                                            <div class="col-md-4">
                                                @Html.DropDownList("DDLSorting", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="WO No.", Value="u.usageno" },
                                            new SelectListItem { Text="Tgl Transaksi", Value="u.usagedate" },
                                            new SelectListItem { Text="Tgl Dokumen", Value="u.createtime" }
                                        }, new { @class = "form-control select2" })
                                            </div>
                                            <div class="col-md-4">
                                                @Html.DropDownList("DDLSortDir", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="ASC", Value="ASC" },
                                            new SelectListItem { Text="DESC", Value="DESC" }
                                        }, new { @class = "form-control select2" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" id="btnSubmit" style="display: none;"><b>Submit</b></button>
                        <button type="button" class="btn btn-primary btn-md" id="btnViewReport"><b>View Report</b></button>
                        <button type="button" class="btn btn-danger btn-md" id="btnExportPDF"><b>Export To Pdf</b></button>
                        <button type="button" class="btn btn-success btn-md" id="btnExportExcel"><b>Export To Excel</b></button>
                        <a href="@Url.Action("Report/")" type="button" class="btn btn-default btn-md"><b>Clear</b></a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe id="ReportFrame" src="" style="border:none; width: 100%; height: 1000px;"></iframe>
        </div>
    </div>

    @* MODAL UNTUK CUSTOMER *@
    <div class="modal fade" id="modal-cust">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Customer Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCust" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Kode</th>
                                    <th>Nama</th>
                                    <th>Alamat</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterCust()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK CUSTOMER *@

    @* MODAL UNTUK PRAB *@
    <div class="modal fade" id="modal-pr">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data RAB</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalPR" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Draft No</th>
                                    <th>SO No</th>
                                    <th>Tgl Dokumen</th>
                                    <th>Keterangan</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterPR()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK PRAB *@

    @* MODAL UNTUK MATERIAL *@
    <div class="modal fade" id="modal-mat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Barang</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Kode</th>
                                    <th>Deskripsi</th>
                                    <th>Tipe</th>
                                    <th>Unit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterMat()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK MATERIAL *@

    @* MODAL UNTUK FORM SO *@
    <div class="modal fade" id="modal-so">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Sales Order</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSO" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>SO No.</th>
                                    <th>Tgl SO</th>
                                    <th>Customer</th> 
                                    <th>Note</th> 
                                    <th>PO No</th> 
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterSO()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM SO *@

    @* MODAL UNTUK FORM WO *@
    <div class="modal fade" id="modal-wo">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data SPK</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalWO" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>SPK No.</th>
                                    <th>Tgl SPK</th>
                                    <th>Customer</th>
                                    <th>Tipe SPK</th>
                                    <th>Item</th>
                                    <th>SPK Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterWO()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM WO *@

    @* MODAL UNTUK FORM Usage *@
    <div class="modal fade" id="modal-prodres">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Prodres</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalUsage" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Usage No.</th>
                                    <th>Tgl Usage</th>
                                    <th>Material</th>
                                    <th>QTY</th>
                                    <th>Usage Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterWO()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM Usage *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {

        $("#tblModalSO").DataTable({
            "destroy": true,
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            }
        });
        $("#tblModalWO").DataTable({
            "destroy": true,
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            }
        });
        $("#tblModalUsage").DataTable({
            "destroy": true,
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            }
        });

        $("#tblModalCust").DataTable({
            "destroy": true,
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            }
        });

        $("#tblModalPR").DataTable({
            "destroy": true,
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            }
        });

        $("#tblModalMat").DataTable({
            "destroy": true,
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            }
        });
    })

    /*END DOCUMENT READY*/
    function ChangeType() {
        var type = $("#DDLType option:selected").val();
        var markupsort = "<option value=\'som.soitemno\'>SO No</option><option value=\'som.updtime\'>Tgl Transaksi</option><option value=\'som.soitemdate\'>Tgl. Dokumen</option></option>";
        if (type == "Summary")
        {
            $('#divfordtl').hide();
        }
        else
        {
            $('#divfordtl').show();
            markupsort = "<option value=\'m.itemcode\'>Barang</option><option value=\'som.soitemno\'>SO No</option>";
        }
        $("#DDLSorting").html(markupsort).show();
    }

    $("#btnsearchso").click(function () {
        var status = $("#DDLStatus").val();
        var startdate = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var enddate = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var fdate = $("#DDLPeriod option:selected").val();
        var MCBtgl = "";
        $('.checktgl').each(function () {
            if (this.checked) {
                MCBtgl = $(this).val();
            }
        })
        var table = $('#tblModalSO').DataTable();
        var TextCust = $('#TextCust').val();
        var TextWO = $('#wono').val();
        var TextUsage = $('#usageno').val();
        table.column(0).checkboxes.deselect();
        table.clear().draw();

        $.ajax({
            url: "@(Url.Action("GetSOData"))",
            data: { status: status, startdate: startdate, enddate: enddate, fdate: fdate, MCBtgl: MCBtgl, TextCust: TextCust, TextWO: TextWO, TextUsage: TextUsage },
            cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                    ++i,
                    val.soitemno,
                    moment(val.soitemdate).format('DD/MM/YYYY'), 
                    val.custname,
                    val.soitemmstnote,
                    val.soitemcustpo,
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    $("#btnsearchwo").click(function () {
        var status = $("#DDLStatus").val();
        var custoid = $("#DDLStatus").val();
        var startdate = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var enddate = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var fdate = $("#DDLPeriod option:selected").val();
        var MCBtgl = "";
        $('.checktgl').each(function () {
            if (this.checked) {
                MCBtgl = $(this).val();
            }
        })
        var table = $('#tblModalWO').DataTable();
        var TextCust = $('#TextCust').val();
        var TextSO = $('#soitemno').val();
        var TextUsage = $('#usageno').val();
        table.column(0).checkboxes.deselect();
        table.clear().draw();

        $.ajax({
            url: "@(Url.Action("GetWOData"))",
            data: { status: status, startdate: startdate, enddate: enddate, fdate: fdate, MCBtgl: MCBtgl, TextCust: TextCust, TextSO: TextSO, TextUsage: TextUsage },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                    ++i,
                    val.wono,
                    moment(val.wodate).format('DD/MM/YYYY'), 
                    val.custname,
                    val.wotype,
                    val.itemdesc,
                    val.womstnote,
                    ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    $("#btnsearchusage").click(function () {
        var status = $("#DDLStatus").val();
        var custoid = $("#DDLStatus").val();
        var startdate = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var enddate = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var fdate = $("#DDLPeriod option:selected").val();
        var MCBtgl = "";
        $('.checktgl').each(function () {
            if (this.checked) {
                MCBtgl = $(this).val();
            }
        })
        var table = $('#tblModalUsage').DataTable();
        var TextCust = $('#TextCust').val();
        var TextSO = $('#soitemno').val();
        var TextWO = $('#wono').val();
        table.column(0).checkboxes.deselect();
        table.clear().draw();

        $.ajax({
            url: "@(Url.Action("GetUsageData"))",
            data: { status: status, startdate: startdate, enddate: enddate, fdate: fdate, MCBtgl: MCBtgl, TextCust: TextCust, TextSO: TextSO, TextWO: TextWO },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                    ++i,
                    val.usageno,
                    moment(val.usagedate).format('DD/MM/YYYY'), 
                    val.matdesc,
                    val.usagemstqty,
                    val.usagemstnote,
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    $("#btnsearchcust").click(function () {
        var status = $("#DDLStatus").val();
        var startdate = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var enddate = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var fdate = $("#DDLPeriod option:selected").val();
        var MCBtgl = "";
        $('.checktgl').each(function () {
            if (this.checked) {
                MCBtgl = $(this).val();
            }
        })
        var table = $('#tblModalCust').DataTable();
        var TextSO = $('#soitemno').val();
        var TextWO = $('#wono').val();
        var TextUsage = $('#usageno').val();
        table.column(0).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetCustData"))",
            data: { status: status, startdate: startdate, enddate: enddate, fdate: fdate, MCBtgl: MCBtgl, TextSO: TextSO, TextWO, TextUsage: TextUsage },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = []; var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                         ++i,
                        val.custcode,
                        val.custname,
                        val.custaddr
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnsearchpr").click(function () {
        var status = $("#DDLStatus").val();
        var custcode = $("#TextCust").val();
        var startdate = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var enddate = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var fdate = $("#DDLPeriod option:selected").val();

        var table = $('#tblModalPR').DataTable();
        table.column(0).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetPRABData"))",
            data: { status: status, custcode: custcode, startdate: startdate, enddate: enddate, fdate: fdate },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = []; var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        ++i,
                        val.rabmstoid,
                        val.rabno,
                        moment(val.rabdate).format('DD/MM/YYYY'),
                        val.projectname,
                        val.rabnote
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnsearchmat").click(function () {
        var status = $("#DDLStatus").val();
        var custcode = $("#TextCust").val();
        var ddlnomor = $("#DDLNomor option:selected").val();
        var prabno = $("#TextNomor").val();
        var startdate = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var enddate = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var fdate = $("#DDLPeriod option:selected").val();
        var MCBtgl = "";
        $('.checktgl').each(function () {
            if (this.checked) {
                MCBtgl = $(this).val();
            }
        })
        var table = $('#tblModalMat').DataTable();
        table.column(0).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetMaterialData"))",
            data: { status: status, custcode: custcode, ddlnomor: ddlnomor, prabno: prabno, startdate: startdate, enddate: enddate, fdate: fdate, MCBtgl: MCBtgl },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = []; var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        ++i,
                        val.itemcode,
                        val.itemlongdesc,
                        val.itemtype,
                        val.unit
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    function AddToFilterCust() {
        var ind = 1;
        var result = $("#TextCust").val();
        if (result != "")
            result += ";";
        var table = $('#tblModalCust').DataTable();
        var rowsel = table.column(0).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            var data = table.row(val - 1).data();
            result += data[ind] + ";";
        });
        result = result.substring(0, result.length - 1);
        $("#TextCust").val(result);
    }

    function AddToFilterSO() {
        var ind = 1;
        var result = $("#soitemno").val();
        if (result != "")
            result += ";";
        var table = $('#tblModalSO').DataTable();
        var rowsel = table.column(0).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            var data = table.row(val - 1).data();
            result += data[ind] + ";";
        });
        result = result.substring(0, result.length - 1);
        $("#soitemno").val(result);
    }

    function AddToFilterWO() {
        var ind = 1;
        var result = $("#wono").val();
        if (result != "")
            result += ";";
        var table = $('#tblModalWO').DataTable();
        var rowsel = table.column(0).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            var data = table.row(val - 1).data();
            result += data[ind] + ";";
        });
        result = result.substring(0, result.length - 1);
        $("#wono").val(result);
    }

    function AddToFilterProdres() {
        var ind = 1;
        var result = $("#usageno").val();
        if (result != "")
            result += ";";
        var table = $('#tblModalUsage').DataTable();
        var rowsel = table.column(0).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            var data = table.row(val - 1).data();
            result += data[ind] + ";";
        });
        result = result.substring(0, result.length - 1);
        $("#usageno").val(result);
    }


    function AddToFilterPR() {
        var ind = 2;
        if ($("#DDLNomor option:selected").val() == "Draft No.")
            ind = 1;
        var result = $("#TextNomor").val();
        if (result != "")
            result += ";";
        var table = $('#tblModalPR').DataTable();
        var rowsel = table.column(0).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            var data = table.row(val - 1).data();
            result += data[ind] + ";";
        });
        result = result.substring(0, result.length - 1);
        $("#TextNomor").val(result);
    }

    function AddToFilterMat() {
        var ind = 1;
        var result = $("#TextMaterial").val();
        if (result != "")
            result += ";";
        var table = $('#tblModalMat').DataTable();
        var rowsel = table.column(0).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            var data = table.row(val - 1).data();
            result += data[ind] + ";";
        });
        result = result.substring(0, result.length - 1);
        $("#TextMaterial").val(result);
    }

    $("#btnViewReport").click(function () {
        var type = $("#DDLType option:selected").val();
        var DDLspk = $("#DDLspk option:selected").val();
        var status = $("#DDLStatus").val();
        var startdate = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var enddate = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var fdate = $("#DDLPeriod option:selected").val();
        var custcode = $("#TextCust").val();
        var soitemno = $("#soitemno").val();
        var usageno = $("#usageno").val();
        var wono = $("#wono").val();
        var nomor = $("#TextNomor").val();
        var fnomor = $("#DDLNomor option:selected").val();
        var mat = $("#TextMaterial").val();
        var sort = $("#DDLSorting option:selected").val();
        var sortdir = $("#DDLSortDir option:selected").val();
        var reporttype = "";
        var MCBtgl = "";
        $('.checktgl').each(function () {
            if (this.checked) {
                MCBtgl = $(this).val();
            }
        })

        $.ajax({
            url: "@(Url.Action("PrintReport"))",
            data: { DDLType: type, DDLStatus: status, StartPeriod: startdate, EndPeriod: enddate, DDLPeriod: fdate, TextCust: custcode, TextNomor: nomor, DDLNomor: fnomor, TextMaterial: mat, DDLSorting: sort, DDLSortDir: sortdir, reporttype: reporttype, soitemno: soitemno, MCBtgl: MCBtgl, wono: wono, DDLspk: DDLspk,usageno:usageno },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#ReportFrame").attr("src", "@Url.Content("~/Other/ReportViewer.aspx?rptfile=")" + data.rptfile + "");
                pleaseWaitDialog.show();
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    });

    $("#btnExportPDF").click(function () {
        $("#reporttype").val("PDF");
        $("#StartPeriod").val($("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $("#EndPeriod").val($("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $("#btnSubmit").click();
    });

    $("#btnExportExcel").click(function () {
        $("#reporttype").val("XLS");
        $("#StartPeriod").val($("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $("#EndPeriod").val($("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $("#btnSubmit").click();
    });
    $('#ReportFrame').on('load', function () {
        pleaseWaitDialog.hide();
    });
</script>