﻿;@model RSA.Models.DB.QL_trnmatusagemst

@{
    ViewBag.Title = "Pemakaian Barang";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Pemakaian Barang</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Pemakaian Barang</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.matusagemstres1)
                        @Html.HiddenFor(model => model.matusagemstres2)
                        @Html.HiddenFor(model => model.matusagemstres3)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.divgroupoid)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Draft No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.matusagemstoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Usage No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.matusageno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Usage Date</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.matusagedate, new { htmlAttributes = new { @class = "form-control datemask2", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Warehouse <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.matusagewhoid, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>       
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.matusagemstnote, new { @class = "form-control", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.matusagemstnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.matusagemststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                            </div>
                        </div>
                        // AKHIR BAGIAN HEADER

                        // BAGIAN DETAIL
                        <div class="box-header">
                            <h3 class="box-title"><b>Pemakaian Barang Detail</b></h3>
                        </div>
                        <div class="box-body">
                            @Html.Hidden("seq")
                            <div class="container-fluid">
                                <div class="row" style="display:none">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Request No.</label>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    @Html.Editor("matreqno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                    <span class="input-group-btn">
                                                        <button type="button" id="btnsearchmatreq" class="btn btn-flat" data-toggle="modal" data-target="#modal-matreq">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                                @Html.Hidden("matreqmstoid")
                                                @Html.Hidden("matreqdate")
                                                @Html.Hidden("matreqwhoid")
                                            </div>
                                        </div>
                                    </div>
                                </div>   
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Type</label>
                                            <div class="col-md-8">
                                                @Html.DropDownList("mattype", new List<SelectListItem>
                                                {
                                                    new SelectListItem { Text= "Raw", Value= "Raw" },
                                                    new SelectListItem { Text= "General", Value= "General" },
                                                    //new SelectListItem { Text= "Spare Part", Value= "Spare Part" },
                                                }, new { @class = "form-control select2", @required = "" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-left">
                                    <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Add To List</b></button>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-md-12" style="overflow-x: auto;">
                                <table id="DataDtl" class="table table-striped" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>alldata</th>
                                            <th>No.</th>
                                            <th></th>
                                            <th>Mat Type</th>
                                            <th>Code</th>
                                            <th>Description</th>
                                            <th>No. Batch</th>
                                            <th>Stock Qty</th>
                                            <th>Usage Qty</th>
                                            <th>Unit</th>
                                            <th>Detail Note</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        // AKHIR BAGIAN DETAIL

                        // USER & TOMBOL ACTION
                        <div class="box-footer">
                            <div class="pull-left">
                                created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                                @{
                                    if (ViewBag.action == "Update Data")
                                    {
                                        <br />
                                        @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                                }
                            </div>
                            <div class="pull-right">
                                @{
                                    if (Model.matusagemststatus == "In Process" | Model.matusagemststatus == "Revised")
                                    {
                                        <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                        <button type="button" class="btn btn-primary btn-md" id="btnSaveClose"><b>Save & Close</b></button>                                        
                                        if (ViewBag.action == "Update Data")
                                        {
                                            <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                        }
                                        <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Posting</b></button>
                                    }
                                    
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                                }
                            </div>
                        </div>
                        
                        // AKHIR USER & TOMBOL ACTION
                       }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Material Detail Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Mat Type</th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>No. Batch</th>
                                    <th>Stock Qty</th>
                                    <th>Usage Qty</th>
                                    <th>Unit</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@

    @* MODAL UNTUK GANTI MATERIAL *@
    <div class="modal fade" id="modal-mat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Material Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Mat Type</th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Req Qty</th>
                                    <th>Code</th>
                                    <th>Unit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK GANTI MATERIAL *@

    @* MODAL UNTUK REQUEST BY *@
    <div class="modal fade" id="modal-req">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Request By Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalReq" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>NIP</th>
                                    <th>Person Name</th>
                                    <th>Departement</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK REQUEST BY *@

    @* MODAL UNTUK MIX *@
    <div class="modal fade" id="modal-mix">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Material Mixing Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMix" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Unit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK MIX *@

    @* MODAL UNTUK MAT REQUEST *@
    <div class="modal fade" id="modal-matreq">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Mat. Request Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMatReq" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Request No.</th>
                                    <th>Request Date</th>
                                    <th>Warehouse</th>
                                    <th>Note</th>
                                    <th>Ref. Item</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK MAT REQUEST *@

    @* MODAL UNTUK GANTI MAT REQUEST *@
    <div class="modal fade" id="modal-matreqedit">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Mat. Request Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMatReqEdit" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Request No.</th>
                                    <th>Request Date</th>
                                    <th>Warehouse</th>
                                    <th>Note</th>
                                    <th>Ref. Item</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK GANTI MAT REQUEST *@
</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            },
            {
                "targets": [2],
                "visible": false,
                "searchable": false
            }]
        });
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();
            UpdateDataDetail();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
            EnabledHeader();
        });
        table.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "columnDefs": [
                //{ orderable: false, targets: '_all' },
                {
                    "targets": 5,
                    "type": "date",
                    "format": "YYYY/MM/DD"
                },
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "order": [[7, 'asc'], [5, 'asc'], [4, 'asc']],
            "select": {
                "style": 'multi'
            }
        });
        tblModalDtl.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        var tblModalMat = $("#tblModalMat").DataTable({
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });


        if ($("#action").val() == "Update Data")
            FillDetailData();
    })

    function FillDetailData() {
        var id = $('#matusagemstoid').val();
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("FillDetailData"))",
            data: { id: id },
        cache: false,
        type: "POST",
        success: function (data) {
            if (data.result == "") {
                var rows = [];
                var markup = "";
                $.each(data.dtl, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                    val.matusagedtlseq,
                    '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                    val.matusagereftype,
                    val.matusagerefcode,
                    val.matusagereflongdesc,
                    val.refno,
                    val.stockqty,
                    '<input type="text" class="form-control money" style="max-width: 80px" id="matusageqty-' + val.matusagedtlseq + '" name="matusageqty-' + val.matusagedtlseq + '" value="' + val.matusageqty + '">',
                    val.matusageunit,
                    '<input type="text" class="form-control" style="max-width: 150px" id="matusagedtlnote-' + val.matusagedtlseq + '" name="matusagedtlnote-' + val.matusagedtlseq + '" value="' + (val.matusagedtlnote == null ? "" : val.matusagedtlnote) + '">',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]);
                });
                table.rows.add(rows).draw();
                //$.each(data.dtl, function (key, val) {
                //    $("#reasonbk-" + val.t_by_kirim_d_seq).val(val.t_by_kirim_h_selisih_reason_id).trigger('change');

                //});
                EnabledHeader();
            } else {
                swal('', data.result, 'error');
                return false;
            }
        },
        error: function (err) {
            swal('', err.responseText, 'error');
            return false;
        }
    });
    }

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        if (data.length > 0) {
            $("#cmpcode").attr("readonly", true);
        } else {
            $("#cmpcode").attr("readonly", false);
        }
    }

    function ClearMatReq() {
        $("#matreqmstoid").val("");
        $("#matreqno").val("");
        $("#matreqwhoid").val("");
        $("#matreqdate").val("");
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    $("#btnAddToList").click(function () {
 
        var table = $('#tblModalDtl').DataTable();
        var cmpcode = $("#cmpcode").val();
        var mattype = $('#mattype option:selected').val();      
        var divgroupoid = $('#divgroupoid').val();
        var matusagemstoid = $('#matusagemstoid').val();
        var whoid = $('#matusagewhoid option:selected').val();
        table.column(1).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmpcode: cmpcode, mattype: mattype, whoid: whoid, divgroupoid:divgroupoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                console.log(data.tbl);
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        ++i,
                        mattype,
                        val.matusagerefcode,
                        val.matusagereflongdesc,
                        val.refno,
                        val.stockqty,               
                        '<input type="text" class="form-control money" style="max-width: 80px" id="matusageqty-' + i + '" name="matusageqty-' + i + '" value="' + val.matusageqty + '">',
                        val.matusageunit,
                        '<input type="text" class="form-control" style="max-width: 150px" id="matusagedtlnote-' + i + '" name="matusagedtlnote-' + i + '" value="' + (val.matusagedtlnote == null ? "" : val.matusagedtlnote) + '">'
                    ]);
                });
                table.rows.add(rows).draw();
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $('#DataDtl').on('click', '#edit', function () {
        var tbldtl = $('#DataDtl').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = tbldtl.row($tr).data();
        var alldata = JSON.parse(data[0]);
        $("#seq").val(alldata.matusagedtlseq - 1);
        $('#modal-matreqedit').modal('show');

        var table = $('#tblModalMat').DataTable();
        var mattype = $('#mattype option:selected').val();
        var cmpcode = $("#cmpcode").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmpcode: cmpcode, mattype: mattype },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        mattype,
                        val.matusagerefcode,
                        val.matusagereflongdesc,
                        val.matusageunit
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#tblModalMat").on('click', '#select', function () {
        var table = $('#tblModalMat').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = table.row($tr).data();
        var alldata = JSON.parse(data[0]);

        var mattype = $('#mattype option:selected').val();
        var tbldtl = $('#DataDtl').DataTable();
        var datadtl = tbldtl.row($('#seq').val()).data();
        var alldatadtl = JSON.parse(datadtl[0]);

        var obj = {
            matusagedtlseq: $('#seq').val(),
            matusagereftype: mattype,
            matusagerefoid: alldata.matusagerefoid,
            matusagerefcode: alldata.matusagerefcode,
            matusagereflongdesc: alldata.matusagereflongdesc,
            matusageqty: alldatadtl.matusageqty,
            matusageunitoid: alldata.matusageunitoid,
            matusageunit: alldata.matusageunit,
            matusagedtlnote: alldatadtl.matusagedtlnote
        };

        datadtl[0] = JSON.stringify(obj);
        datadtl[3] = mattype;
        datadtl[4] = alldata.matusagerefcode;
        datadtl[5] = alldata.matusagereflongdesc;
        datadtl[7] = alldata.matusageunit;

        tbldtl.row($('#seq').val()).data(datadtl).invalidate();
        $('#modal-mat').modal('hide');
    });

    function AddToDetail() {
        var isValid = true;
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid) {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                var matusageqty = table.$("#matusageqty-" + val).val();
                var matusagedtlnote = table.$("#matusagedtlnote-" + val).val();
                if (!IsOnDtl(alldata.matusagerefoid, alldata.refno)) {
                    var id = tbldtl.rows().data().length + 1;
                    alldata.matusagedtlseq = id;
                    alldata.matusageqty = matusageqty;
                    alldata.matusagedtlnote = matusagedtlnote;
                    tbldtl.row.add([
                        JSON.stringify(alldata),
                        id,
                        '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                        alldata.matusagereftype,
                        alldata.matusagerefcode,
                        alldata.matusagereflongdesc,
                        alldata.refno,
                        alldata.stockqty,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="matusageqty-' + id + '" name="matusageqty-' + id + '" value="' + matusageqty + '">',
                        alldata.matusageunit,
                        '<input type="text" class="form-control" style="max-width: 150px" id="matusagedtlnote-' + id + '" name="matusagedtlnote-' + id + '" value="' + (matusagedtlnote == null ? "" : matusagedtlnote) + '">',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();

                }
            }
        });

        EnabledHeader();
    }

    function IsOnDtl(matusagerefoid, refno) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (refno == alldata.refno && matusagerefoid == alldata.matusagerefoid) {
                return true;
            }
        }
        return false;
    }

    function UpdateDataDetail() {
        var tbldtl = $('#DataDtl').DataTable();
        var dataDtl = tbldtl.rows().data();
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            alldata.matusageqty = tbldtl.$("#matusageqty-" + alldata.matusagedtlseq).val();
            alldata.matusagedtlnote = tbldtl.$("#matusagedtlnote-" + alldata.matusagedtlseq).val();
            alldata.matusagedtlseq = i + 1;
            var row = tbldtl.row(i).data();
            row[0] = JSON.stringify(alldata);
            row[1] = alldata.matusagedtlseq;
            row[8] = '<input type="text" class="form-control money" style="max-width: 100px" id="matusageqty-' + alldata.matusagedtlseq + '" value="' + alldata.matusageqty + '" readonly="" >';
            row[10] = '<input type="text" class="form-control" style="max-width: 150px" id="matusagedtlnote-' + alldata.matusagedtlseq + '" value="' + alldata.matusagedtlnote + '">';
            tbldtl.row(i).data(row).invalidate().draw();
        }
    }

   

    $("#btnSave").click(function () {
        var cmp = $('#cmpcode').val();
        event.preventDefault();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var mst = $('form').serializeArray();
        var tbl = {};
        jQuery.map(mst, function (n, i) {
            if (n.name == "qctransdate") {
                tbl[n.name] = toDate($('#qctransdate').val());
            }
            else {
                tbl[n.name] = n.value;
            }
        });

        var action = $('#action').val();
        var closing = $('#closing').val();

        UpdateDataDetail();
        var tbldtl = $('#DataDtl').DataTable();
        var dataDtl = tbldtl.rows().data();
        var dtl = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            dtl.push(alldata);
        }
    
        $.ajax({
            type: "POST",
            url: "@(Url.Action("Form"))",
            data: { __RequestVerificationToken: token, tbl: tbl, dtDtl: dtl, action: action, closing: closing },
        success: function (data) {
            if (data.result == 'success') {
                Swal('Data has been saved!', data.msg, 'success').then((result) => {
                    if (result.value) {
                        if (closing != '')
                            location.replace("@(Url.Action("Index"))");
                        else
                        {
                            if (action == "New Data")
                                location.replace("@(Url.Action("Form"))" + "/" + data.hdrid );
                        else
                                location.replace("@(Url.Action("Form"))");
                        }
                    }
                });
            } else {
                Swal('Save data failed!', data.msg, 'error');
                $("#closing").val('');
                $("#matusagemststatus").val("In Process");
            }
        },
        error: function (err) {
            swal('', err.responseText, 'error');
            $("#closing").val('');
            $("#matusagemststatus").val("In Process");
        }
    });
    });

    $("#btnSaveClose").click(function () {
        $("#closing").val("true");
        $("#btnSave").click();
    });

    $("#btnDelete").click(function () {
        var oid = $("#matusagemstoid").val();
        var cmp = $("#cmpcode").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnPost").click(function () {
        $("#matusagemststatus").val("Post");

        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for Post?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#closing").val("true");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>