﻿@model IEnumerable<RSA.Controllers.MaterialUsageNonKIKController.matusagemst>

@{
    ViewBag.Title = "Pemakaian Barang";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //var servertime = MIS_MVC.Controllers.ClassFunction.GetServerTime();
}

<section class="content-header">
    <h1>List Pemakaian Barang</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                
              
                <div class="box-body">
                    <div class="box-body">
                        <p>
                            @Html.ActionLink("Create New", "Form", null, new { @class = "btn btn-primary" })
                        </p>
                    </div>
                    @Html.Hidden("isCollapse")
                    @Html.Partial("~/Views/Shared/_FilterList.cshtml")
                    <div class="row">
                        <div class="col-md-6">
                            <table style="width: 100%; display:none">
                                <tr>
                                    <td style="width: 20%;">Print Option</td>
                                    <td style="width: 40%;">
                                        @Html.DropDownList("printtype", new List<SelectListItem> {
                                            new SelectListItem { Text="A4", Value="A4" },
                                            new SelectListItem { Text="A5", Value="A5" }
                                        }, new { @class = "form-control", @style = "width: 90%;" })
                                    </td>
                                </tr>
                            </table>
                        </div>
                        
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th>Draft No.</th>
                                        <th>Usage No.</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <th>Note</th>
                                        <th>Create User</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var i in Model)
                                        {
                                            <tr>
                                                <td class="text-center"><a href="Form/@Html.DisplayFor(m => i.matusagemstoid)" class="text-primary">@Html.DisplayFor(m => i.matusagemstoid)</a></td>
                                                <td>@Html.DisplayFor(m => i.matusageno)</td>
                                                <td class="text-center">@i.matusagedate.ToString("MM/dd/yyyy")</td>
                                                <td class="text-center">@Html.DisplayFor(m => i.matusagemststatus)</td>
                                                <td>@Html.DisplayFor(m => i.matusagemstnote)</td>
                                                <td>@Html.DisplayFor(m => i.createuser)</td>
                                                <td class="text-center"><button title="Print" type="button" class="btn btn-sm btn-primary" onclick="PrintReport(@Html.DisplayFor(m => i.matusagemstoid), '@Html.DisplayFor(m => i.cmpcode)')"><i class="fa fa-print"></i></button></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        
    });
   
    function PrintReport(id, cmp) {
        var printouttype = document.getElementById("printtype").value;
        window.location.assign("@Url.Action("PrintReport")?id=" + id + "&cmp=" + cmp + "&printtype=" + printouttype + "");
    };
</script>