﻿@model IEnumerable<RSA.Controllers.Master.CoaController.listCoa>

@{
    ViewBag.Title = "MasterCoa";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Master COA
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <!-- <div class="box-header">
                    <h3 class="box-title">To Do List</h3>
                </div> -->
                <!-- /.box-header -->
                <form action="index" method="post" class="form-horizontal">
                    <div class="box-body">
                        <div class="container-fluid row">
                            <a class="btn btn-success" href="Form">
                                <i class="fa fa-plus"></i> Tambah Data Baru
                            </a>
                        </div><br>                       
                    </div>
                   
                </form>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th>Kode</th>
                                        <th>Nama Akun</th>
                                        <th>Kategori</th>
                                        <th>Debet/Credit</th>
                                        <th>Keterangan</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int a = 0;
                                        foreach (var i in Model)
                                        {
                                            a++;
                                            <tr>
                                                <td>
                                                    <a href="Form?id=@Html.DisplayFor(m => i.acctgoid)" class="text-primary">@Html.DisplayFor(m => i.acctgcode)</a>
                                                </td>
                                                <td>@Html.DisplayFor(m => i.acctgdesc)</td>
                                                <td>@Html.DisplayFor(m => i.acctggrp1)</td>
                                                <td>@Html.DisplayFor(m => i.dc)</td>
                                                <td>@Html.DisplayFor(m => i.acctgnote)</td>
                                                <td>@Html.DisplayFor(m => i.activeflag)</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
