﻿@model IEnumerable<RSA.Controllers.Transaction.FAController.viewindex>

@{
    ViewBag.Title = "Fixed Assets";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>List Of @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="container-fluid row">
                        <a class="btn btn-success" href="Form">
                            <i class="fa fa-plus"></i> Tambah
                        </a>
                    </div><br>
                </div>
                <div class="box-body">
                    @Html.Hidden("DisplayCol")
                    @Html.Partial("~/Views/Shared/_FilterList.cshtml")
                    <div class="row">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th>Draft No.</th>
                                        <th>Confirm No.</th>
                                        <th>Confirm Date</th>
                                        <th>Referensi No.</th>
                                        <th>Material</th>
                                        <th>Status</th>
                                        <th>Note</th>
                                        @*<th>Business Unit</th>*@
                                        <th></th>
                                        @*<th>SJ</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var i in Model)
                                        {
                                            <tr>
                                                <td class="text-center"><a href="Form?id=@Html.DisplayFor(m => i.assetrecmstoid)" class="text-primary">@Html.DisplayFor(m => i.assetrecmstoid)</a></td>
                                                <td>@Html.DisplayFor(m => i.assetrecno)</td>
                                                <td class="text-center">@i.assetrecdate.ToString("dd/MM/yyyy")</td>
                                                <td>@Html.DisplayFor(m => i.mrassetno)</td>
                                                <td>@Html.DisplayFor(m => i.assetreflongdesc)</td>
                                                <td class="text-center">@Html.DisplayFor(m => i.assetrecmststatus)</td>
                                                <td>@Html.DisplayFor(m => i.assetrecmstnote)</td>
                                                @*<td>@Html.DisplayFor(m => i.divname)</td>*@
                                                <td class="text-center"><button title="Print" type="button" class="btn btn-sm btn-primary" onclick="PrintReport(@Html.DisplayFor(m => i.assetrecmstoid))"><i class="fa fa-print"></i></button></td>
                                                @*<td class="text-center"><button title="Print" type="button" class="btn btn-sm btn-primary" onclick="PrintReport2(@Html.DisplayFor(m => i.assetrecmstoid))"><i class="fa fa-print"></i></button></td>*@
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var isvisible = false;
        var displaycol = $('#DisplayCol').val();
        if (displaycol == "normal")
            isvisible = true;
        //$('#datatable').DataTable({
        //    "columnDefs": [
        //        {
        //            "targets": [1],
        //            "visible": isvisible,
        //            "searchable": isvisible
        //        },
        //        {
        //            "targets": [2],
        //            "type": "date"
        //        }
        //    ]
        //});
    });

    function PrintReport(id, cmp, isbbk) {
        window.location.assign("@Url.Action("PrintReport")?id=" + id + "");
    };

    function PrintReport2(id, cmp, isbbk) {
        window.location.assign("@Url.Action("PrintReport2")?id=" + id + "");
    };
</script>