﻿@model RSA.Models.DB.QL_mstperson

@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<section class="content-header">
    <h1>Form Employee</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Form Employee</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.personoid)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.HiddenFor(model => model.upduser)
                        @*@Html.HiddenFor(model => model.suppoid)*@
                        @Html.Hidden("action")
                        @*@Html.Hidden("closing")*@
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">NIK<label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("nip", new { htmlAttributes = new { @class = "form-control", @type = "text",@required="",@maxlength="10" } })
                                            </div>
                                            @Html.HiddenFor(model => model.personoid)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Position<label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.leveloid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.leveloid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit<label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.divisioid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.divisioid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Department<label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.deptoid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.deptoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Gender</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(m => m.personsex, new List<SelectListItem>
                                            {
                                                 new SelectListItem { Text="LAKI-LAKI", Value="LAKI-LAKI" },
                                                 new SelectListItem { Text="PEREMPUAN", Value="PEREMPUAN" }
                                            }, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(m => m.activeflag, new List<SelectListItem>
                                            {
                                                 new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                                 new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                                            }, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Employee Name<label class="text-red">*</label></label>
                                    <div class="col-md-3">
                                        @Html.DropDownListFor(model => model.persontitleoid, null, new { @class = "form-control select2", @required = "" })
                                    </div>
                                    <div class="col-md-1 row">-</div>
                                    <div class="col-md-4">
                                        @Html.Editor("personname", new { htmlAttributes = new { @class = "form-control", @type = "text",@required="" } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">City and Date Birth</label>
                                    <div class="col-md-3">
                                        @Html.DropDownListFor(model => model.cityofbirth, null, new { @class = "form-control select2", @required = "" })
                                    </div>
                                    <div class="col-md-1 row">-</div>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.dateofbirth, new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @required = "" } })
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Current Address<label class="text-red">*</label></label>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.curraddr, new { htmlAttributes = new { @class = "form-control ", @type = "text", @required = "" } })
                                        @Html.ValidationMessageFor(model => model.curraddr, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label"></label>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.curraddrcityoid, null, new { @class = "form-control select2", @required = "" })
                                    </div>
                                </div>
                            </div>

                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Employee Picture</label>
                                                <input type="file" class="form-control" onchange="previewuserimage(this);" id="userimage" accept=".jpg, .png, .jpeg, .gif, .bmp " style="padding-top:5px;padding-left:5px;">
                                                @Html.HiddenFor(model => model.personpicture, new { @class = "form-control", @id = "idimgpath" })
                                                @Html.ValidationMessageFor(model => model.personpicture, "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>ID Card Picture</label>
                                                <input type="file" class="form-control" onchange="previewusersign(this);" id="usersign" accept=".jpg, .png, .jpeg, .gif, .bmp " style="padding-top:5px;padding-left:5px;">
                                                @Html.HiddenFor(model => model.cardpicture, new { @class = "form-control", @id = "ktppath" })
                                                @Html.ValidationMessageFor(model => model.cardpicture, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                               @{
                                                   var src = Html.DisplayFor(m => m.personpicture).ToString();
                                                   if (!File.Exists(Server.MapPath(src)))
                                                   {
                                                       src = "~/Content/dist/img/preview.png";
                                                   }
                                                }
                                                <img id="userimage-preview" alt="your image" src="@Url.Content(src)" style="max-width:200px; max-height:200px;">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @{
                                                    var src2 = Html.DisplayFor(m => m.cardpicture).ToString();
                                                    if (!File.Exists(Server.MapPath(src2)))
                                                    {
                                                        src2 = "~/Content/dist/img/preview.png";
                                                    }
                                                }
                                                <img id="usersign-preview" alt="your image" src="@Url.Content(src2)" style="max-width:200px; max-height:200px;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                           </div>
                           <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Religion<label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.religionoid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.religionoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Marital Status</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(m => m.maritalstatus, new List<SelectListItem>
                                            {
                                                 new SelectListItem { Text="KAWIN", Value="KAWIN" },
                                                 new SelectListItem { Text="TIDAK KAWIN", Value="TIDAK KAWIN" },
                                                 new SelectListItem { Text="CERAI", Value="CERAI" }
                                            }, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">ID Card No.<label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.cardno, new { htmlAttributes = new { @class = "form-control", @type = "text", @style = "width:300px", @maxlength = 100 } })
                                            @Html.ValidationMessageFor(model => model.cardno, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Original Address</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.origaddr, new { htmlAttributes = new { @class = "form-control", @type = "text", @style = "width:300px", @maxlength = 100 } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.origaddrcityoid, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Phone 1</label>
                                        <div class="col-md-8">
                                           @Html.EditorFor(model => model.personphone1, new { htmlAttributes = new { @class = "form-control", @type = "text", @style = "width:300px", @maxlength = 100 } })
                                            @Html.ValidationMessageFor(model => model.personphone1, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(m => m.activeflag, new List<SelectListItem>
                                            {
                                                 new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                                 new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                                            }, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Phone 2</label>
                                        <div class="col-md-8">
                                           @Html.EditorFor(model => model.personphone2, new { htmlAttributes = new { @class = "form-control", @type = "text", @style = "width:300px", @maxlength = 100 } })
                                            @Html.ValidationMessageFor(model => model.personphone2, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Emergency Phone</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.emergencyphone, new { htmlAttributes = new { @class = "form-control", @type = "text", @style = "width:300px", @maxlength = 100 } })
                                            @Html.ValidationMessageFor(model => model.emergencyphone, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"></div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Note</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.personnote, new { htmlAttributes = new { @class = "form-control", @type = "text", @style = "width:300px", @maxlength = 100 } })
                                            @Html.ValidationMessageFor(model => model.personnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                        <div class="pull-right">

                            <button type="submit" class="btn btn-success btn-md"><b>Save</b></button>
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                }
                            }
                        </div>

                    </div>

                                    // AKHIR USER & TOMBOL ACTION
                                }
            </div>
        </div>
    </div>
 
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script language="javascript" type="text/javascript">

    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
            CountHdrAmt();
            EnabledHeader();
        });
        table.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
            //CountDtlAmt();
            //setDataDtl();
        });
        table.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

       

    //$("#btnSaveClose").click(function () {
    //    $("#closing").val("true");
    //    $("#btnSave").click();
    //});

    $("#btnDelete").click(function () {
            var oid = $("#personoid").val();
            var cmp = $("#cmpcode").val();

            var token = $('input[name="__RequestVerificationToken"]').val()
            Swal({
                title: 'Are you sure to DELETE this data?',
                text: "Deleted data can't be returned!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                confirmButtonText: 'Yes, Delete this data!'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: "POST",
                        url: "@(Url.Action("Delete"))",
                        data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
            })
        });

    });

    function previewuserimage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#userimage-preview')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    $('#userimage').on('change', function (e) {
        var url = "@(Url.Action("UploadFile"))";
        var files = e.target.files;

        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: url,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {
                        console.log(data);
                        if (data.result == "Sukses") {
                            $('#usimgfile').val(data.idimgpath);
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });

    function previewusersign(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#usersign-preview')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#misgroupname").change(function () {
        if (this.checked) {
            $("#isgroupname").val("Y")
            $("#suppoid").attr("disabled", false)
            //$("#suppoid").html("",false)
        } else {
            $("#isgroupname").val("N")
            $("#suppoid").val(0);
            //$("#suppoid").html("",true)
            $("#suppoid").attr("disabled", true)
            
        }

    });
    $(document).ready(function () {
        if ($("#isgroupname").val() == "Y") {
            $("#misgroupname").prop("checked", true);
        }
    })
    $('#usersign').on('change', function (e) {
        var url = "@(Url.Action("UploadFile"))";
        var files = e.target.files;

        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: url ,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {
                        console.log(data);
                        if (data.result == "Sukses") {
                            $('#ussignfile').val(data.idimgpath);
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });

</script>




























