﻿@model RSA.Models.DB.QL_mstprof

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login | RSA</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="logo-icon" sizes="76x76" href="~/Content/dist/img/logo-sm.png">
    <link rel="icon" type="image/png" href="~/Content/dist/img/logo-sm.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    @*<link rel="icon" type="image/png" href="~/Content/login/images/header_logo.png" />*@
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    @*<link rel="stylesheet" type="text/css" href="~/Content/fonts/font-awesome-4.7.0/css/font-awesome.min.css">*@
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/login/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                @using (Html.BeginForm("LogIn", "Account", FormMethod.Post, new { @class = "login100-form validate-form" }))
                {
                    @Html.AntiForgeryToken()
                    <span class="login100-form-title p-b-30">
                        <!-- <h6>PT. SEJAHTERA LESTARI FARMA</h6> -->
                        <img src="~/Content/login/images/header_logo.png" width="300px" height="100">
                        <h5 style="color: #333333;margin-top: 20px">Rukun Semangat Abadi</h5>
                        <h6 style="font-style: italic;">Integrated System</h6>
                    </span>
                    @*<div class="alert alert-danger" style="font-size: 12px">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="font-size: 14px;">&times;</button>
                        <strong>Error!</strong>Username and password not match.
                    </div>*@
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="wrap-input100 validate-input" data-validate="Username is required">
                        <input class="input100" type="text" name="profoid" id="profoid" required="required">
                        <span class="focus-input100" data-placeholder="Username"></span>
                    </div>
                    @Html.ValidationMessageFor(model => model.profoid, "", new { @class = "text-danger" })

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <span class="btn-show-pass">
                            <i class="zmdi zmdi-eye"></i>
                        </span>
                        <input class="input100" type="password" name="profpass" id="profpass" required="">
                        <span class="focus-input100" data-placeholder="Password"></span>
                    </div>
                    @Html.ValidationMessageFor(model => model.profpass, "", new { @class = "text-danger" })

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Login
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/Content/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login/js/main.js"></script>

    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $("#profoid").focus();
        })
    </script>

</body>
</html>