﻿@model RSA.Models.DB.QL_trnprodresmst

@{
    ViewBag.Title = "Prodres Sheet";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Production Result Sheet</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Production Sheet Result Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.prodresmstoid)
                        @Html.HiddenFor(model => model.prodresmstres1)
                        @Html.HiddenFor(model => model.prodresmstres2)
                        @Html.HiddenFor(model => model.prodresmstres3)
                        @Html.HiddenFor(model => model.suppoid)
                        @Html.HiddenFor(model => model.deptoid)
                        @Html.HiddenFor(model => model.deptreplaceoid)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
						 @Html.HiddenFor(model => model.periodacctg)
						 @Html.HiddenFor(model => model.prodresdate)
                        @Html.HiddenFor(model => model.divgroupoid)
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.cmpcode, null, new { @class = "form-control select2", @required = "", @onchange = "FillDDLDept()" })
                                            @Html.ValidationMessageFor(model => model.cmpcode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Result No <label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.prodresno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })

                                        </div>

                                    </div>
                                </div>
                                </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Divisi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("ddldivgroupoid", null, new { @class = "form-control", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                           <div class="row">
                               <div class="col-md-6">
                                   <label class="col-md-4 control-label">SPK No <label class="text-red">*</label></label>
                                   <div class="col-md-4">
                                       <div class="input-group">
                                           @Html.Editor("spkno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                           <span class="input-group-btn">
                                               <button type="button" id="btnsearchspk" class="btn btn-flat" data-toggle="modal" data-target="#modal-spk">
                                                   <i class="fa fa-search"></i>
                                               </button>
                                           </span>
                                       </div>
                                       @Html.HiddenFor(model => model.womstoid)
                                       @Html.ValidationMessageFor(model => model.womstoid, "", new { @class = "text-danger" })
                                   </div>
                               </div>
                               </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label class="col-md-4 control-label">Finish Good <label class="text-red">*</label></label>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            @Html.Editor("itemlongdesc", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.itemoid)
                                        @Html.ValidationMessageFor(model => model.itemoid, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-4 control-label">SPK QTY</label>
                                    <div class="col-md-4">
                                        @Html.Editor("spkqty", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                                </div>

                            <div class="form-group">
                                <div class="col-md-6">
                                    <label class="col-md-4 control-label">Process <label class="text-red">*</label></label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            @Html.Editor("process", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            <span class="input-group-btn">
                                                <button type="button" id="btnsearchspkdtl" class="btn btn-flat" data-toggle="modal" data-target="#modal-spkdtl">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                        @Html.HiddenFor(model => model.processoid)
                                        @Html.HiddenFor(model => model.wodtlseq)
                                        @Html.ValidationMessageFor(model => model.processoid, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-4 control-label">Process Before</label>
                                    <div class="col-md-4">
                                        @Html.Editor("prosesbfr", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        
                                    </div>
                                </div>

                                </div>

                                   

                              <div class="form-group">
                                 <div class="col-md-6">
                                     <label class="col-md-4 control-label">Header Note</label>
                                      <div class="col-md-4">
                                           @Html.TextAreaFor(model => model.prodresmstnote, new { @class = "form-control", @maxlength = "100" })
                                           @Html.ValidationMessageFor(model => model.prodresmstnote, "", new { @class = "text-danger" })
                                            </div>
                                   </div>
                                  <div class="col-md-6">
                                      <label class="col-md-4 control-label">Result Qty Before</label>
                                      <div class="col-md-4">
                                          @Html.Editor("resultqtybfr", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                      </div>
                                  </div>

                             </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label class="col-md-4 control-label">Status</label>
                                    <div class="col-md-4">
                                       @Html.EditorFor(model => model.prodresmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        @Html.ValidationMessageFor(model => model.prodresmststatus, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-4 control-label">Reject Qty Before</label>
                                    <div class="col-md-4">
                                        @Html.Editor("rejectqtybfr", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    </div>
                                </div>
                            </div>


                           </div>
                                
                        </div>
                    
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>Result Item/WIP</b></h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="col-md-4 control-label">Result Process </label>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.result, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                 </div>
                            </div>
                            <div class="col-md-3">
                                <label class="col-md-4 control-label">Result QTY </label>
                                <div class="input-group">
                                    @Html.EditorFor(model => model.resultqty, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @maxlength = "10" } })
                                </div>
                               
                            </div>

                            <div class="col-md-3">
                                <label class="col-md-4 control-label">Reject QTY </label>
                                <div class="input-group">
                                    @Html.EditorFor(model => model.rejectqty, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @maxlength = "10" } })
                                </div>

                            </div>

                            </div>

                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="col-md-4 control-label">Reject Reason  </label>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.rejectreason, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label class="col-md-4 control-label">Reject Reason 2 </label>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.rejectreason2, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label class="col-md-4 control-label">Reject Reason 3 </label>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.rejectreason3, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                </div>
                            </div>

                        </div>
                        
                    </div>


                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            created By @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <br />
                                    @:Last Updated By @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                if (Model.prodresmststatus == "In Process" | Model.prodresmststatus == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Save</b></button>
                                    <button type="submit" class="btn btn-primary btn-md" id="btnSaveClose"><b>Save & Close</b></button>
                                    if (ViewBag.action == "Update Data")
                                    {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Delete</b></button>
                                    }
                                    <button type="button" class="btn btn-warning btn-md" id="btnSendForApproval"><b>Posting</b></button>
                                }
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                            }
                        </div>
                    </div>
               // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>


    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Bill Of Material Detail Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No.</th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Qty Per WIP</th>
                                    <th>Max Qty</th>
                                    <th>Unit</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@

    @* MODAL UNTUK FINISH GOOD *@
    <div class="modal fade" id="modal-spk">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">SPK Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalspk" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Spk no</th>
                                    <th>Item</th>
                                    <th>Spk note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FINISH GOOD *@

    @* MODAL UNTUK SPK detail*@
    <div class="modal fade" id="modal-spkdtl">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Process Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalspkdtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Process</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FINISH GOOD 2*@

</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw(); SetDataDtl(); FillDetailData();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
        });
        table.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });
        tblModalDtl.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        $("#tblModalspk").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        var tblModalspk = $("#tblModalspk").DataTable();
        tblModalspk.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalspk.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#itemlongdesc").val(alldata.itemlongdesc);
            $("#itemoid").val(alldata.itemoid);
            $("#spkno").val(alldata.wono);
            $("#spkqty").val(alldata.spkqty);
            $("#resultqty").val(alldata.spkqty);
            $("#womstoid").val(alldata.womstoid);
            $("#divgroupoid").val($('#ddldivgroupoid option:Selected').val());
            EnableddivgroupHeader();
            $('#modal-spk').modal('hide');
        });
        $("#tblModalspkdtl").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        var tblModalspkdtl = $("#tblModalspkdtl").DataTable();
        tblModalspkdtl.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            var nama = $("#itemlongdesc").val();
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalspkdtl.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#process").val(alldata.process);
            $("#processoid").val(alldata.processoid);
            $("#wodtlseq").val(alldata.wodtlseq);
            $("#prosesbfr").val(alldata.prosesbfr);
            $("#resultqtybfr").val(alldata.resultqtybfr);
            $("#rejectqtybfr").val(alldata.rejectqtybfr);
            $("#result").val(nama + " WIP " + alldata.process);
            $('#modal-spkdtl').modal('hide');
        });
       
    })

    function EnableddivgroupHeader() {
        $("#ddldivgroupoid").prop("disabled", true);
    }


    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    $("#btnsearchspk").click(function () {
        var cmp = $("#cmpcode option:selected").val();
        if (cmp == "")
        {
            Swal('Warning!', 'Please select Business Unit first!', 'warning');
            return false;
        }
        var divgroupoid = $('#ddldivgroupoid option:selected').val();
        var table = $('#tblModalspk').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetwoData"))",
            data: { cmp: cmp, divgroupoid: divgroupoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.wono,
                        val.itemlongdesc,
                        val.womstnote
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnsearchspkdtl").click(function () {
        var cmp = $("#cmpcode option:selected").val();
        if (cmp == "")
        {
            Swal('Warning!', 'Please select Business Unit first!', 'warning');
            return false;
        }
        var womstoid =$("#womstoid").val();
        var table = $('#tblModalspkdtl').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetspkdtlData"))",
            data: { cmp: cmp, womstoid: womstoid },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.process
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    $("#btnsearchi3").click(function () {
        var cmp = $("#cmpcode option:selected").val();
        if (cmp == "")
        {
            Swal('Warning!', 'Please select Business Unit first!', 'warning');
            return false;
        }
        var table = $('#tblModalItem3').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetItem3Data"))",
            data: { cmp: cmp },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.itemcode,
                    val.itemlongdesc
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    $("#btnsearchpt1").click(function () {
        var cmp = $("#cmpcode option:selected").val();
        if (cmp == "")
        {
            Swal('Warning!', 'Please select Business Unit first!', 'warning');
            return false;
        }
        var table = $('#tblModalpt1').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetptData"))",
            data: { cmp: cmp },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.itemcode,
                    val.itemlongdesc
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    $("#btnsearchpt2").click(function () {
        var cmp = $("#cmpcode option:selected").val();
        if (cmp == "")
        {
            Swal('Warning!', 'Please select Business Unit first!', 'warning');
            return false;
        }
        var table = $('#tblModalpt2').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetptData"))",
            data: { cmp: cmp },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.itemcode,
                    val.itemlongdesc
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    $("#btnsearchpt3").click(function () {
        var cmp = $("#cmpcode option:selected").val();
        if (cmp == "")
        {
            Swal('Warning!', 'Please select Business Unit first!', 'warning');
            return false;
        }
        var table = $('#tblModalpt3').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetptData"))",
            data: { cmp: cmp },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.itemcode,
                    val.itemlongdesc
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    $("#btnsearchly1").click(function () {
        var cmp = $("#cmpcode option:selected").val();
        if (cmp == "")
        {
            Swal('Warning!', 'Please select Business Unit first!', 'warning');
            return false;
        }
        var table = $('#tblModally1').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetlyData"))",
            data: { cmp: cmp },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.itemcode,
                    val.itemlongdesc
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    $("#btnsearchly2").click(function () {
        var cmp = $("#cmpcode option:selected").val();
        if (cmp == "")
        {
            Swal('Warning!', 'Please select Business Unit first!', 'warning');
            return false;
        }
        var table = $('#tblModally2').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetlyData"))",
            data: { cmp: cmp },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.itemcode,
                    val.itemlongdesc
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    //$("#btnSave").click(function () {
      
    //});

    $("#btnDelete").click(function () {
        var oid = $("#bomoid").val();
        var cmp = $("#cmpcode option:selected").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnSendForApproval").click(function () {
        $("#prodresmststatus").val("Post");

        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Post this data ?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#closing").val("true");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>