﻿@model IEnumerable<RSA.Controllers.ProdresSheetController.prodresmst>

@{
    ViewBag.Title = "Production Result Sheet";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //var servertime = RSA.Controllers.ClassFunction.GetServerTime();
}

<section class="content-header">
    <h1>List Of Production Result Sheet</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <p>
                        @Html.ActionLink("Create New", "Form", null, new { @class = "btn btn-primary" })
                    </p>
                </div>
                @Html.Hidden("isCollapse")
                @Html.Partial("~/Views/Shared/_FilterList.cshtml")
                <div class="box-body">
                    @Html.Hidden("DisplayCol")
                    <div class="row">
                        
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th>Draft No</th>
                                        <td>Divisi</td>
                                        <th>Prodresno</th>
                                        <th>SPK No</th>
                                        <th>Finish Good</th>
                                        <th>Proses</th>
                                        <th>Result</th>
                                        <th>Result Qty</th>
                                        <th>Reject Qty</th>
                                        <th>Status</th>
                                        <th>Note</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var i in Model)
                                        {
                                            <tr>
                                                <td class="text-center"><a href="Form/@Html.DisplayFor(m => i.prodresmstoid)" class="text-primary">@Html.DisplayFor(m => i.prodresmstoid)</a></td>
                                                <td>@Html.DisplayFor(m => i.divgroup)</td>
                                                <td>@Html.DisplayFor(m => i.prodresno)</td>
                                                <td>@Html.DisplayFor(m => i.wono)</td>
                                                <td>@Html.DisplayFor(m => i.itemlongdesc)</td>
                                                <td>@Html.DisplayFor(m => i.process)</td>
                                                <td>@Html.DisplayFor(m => i.result)</td>
                                                <td>@Html.DisplayFor(m => i.resultqty)</td>
                                                <td>@Html.DisplayFor(m => i.rejectqty)</td>
                                                <td>@Html.DisplayFor(m => i.prodresmststatus)</td>
                                                <td>@Html.DisplayFor(m => i.prodresmstnote)</td>
                                                @*<td class="text-center"><a href="PrintReport/@Html.DisplayFor(m => i.bomoid)/@Html.DisplayFor(m => i.cmpcode)" class="btn btn-sm btn-primary"><i class="fa fa-print"></i></a></td>*@
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
       
    });
</script>